﻿@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
    List<ModelField> fields = new List<ModelField>();
    List<ColumnBase> column = new List<ColumnBase>();
    column.Add(X.RowNumbererColumnFormat());
    for (int i = 0; i < 200; i++)
    {
        fields.Add(Html.X().ModelField().Name("Column" + i));
        column.Add(X.Column().DataIndex("Column" + i).Text("Cột " + i).Width(150));
    }
}
<script>
    var objectImportSetting = function () {
        var url = '@(Url.Action("SettingImport"))';
        var params = {
            direction: App.hdfDirection.value
        };
        onDirectMethod(url, params, 'get');
    };
    var viewFileImport = function (value) {
        var direction = value.result;
        if (direction) {
            App.hdfDirection.setValue(direction);
            App.StoreObjectImport.reload();
        };
    };
</script>
@(Html.X().Window()
        .ID("winObjectImport")
        .Layout(LayoutType.Fit)
        .Border(false)
        .Margin(0)
        .Frame(false)
        .StyleSpec("border: none;")
        .Height(1)
        .Maximized(true)
        .AutoScroll(true)
        .Title("Import dữ liệu")
        .Icon(Icon.PackageDown)
        .Items(
        Html.X().Hidden().ID("hdfDirection"),
        Html.X().GridPanel()
                .Header(false)
                .ID("grObjectImport")
                .ColumnLines(true)
                .TopBarItem(
                Html.X().FormPanel()
                    .Frame(true)
                    .Layout(LayoutType.Fit)
                    .Padding(0)
                    .Margin(0)
                    .StyleSpec("border: none;")
                    .ID("frmSelectImportFile")
                    .Items(
                    Html.X().FileUploadField()
                            .Icon(Icon.PageExcel)
                            .MarginSpec("4 0 0 0")
                            .Padding(0)
                            .ID("FileImportField")
                            .ButtonText("Chọn tệp chứa dữ liệu...")
                            .ButtonOnly(true)
                            .DirectEvents(de =>
                            {
                                de.Change.Before = @"if (!App.frmSelectImportFile.getForm().isValid()) { return false; }; ";
                                de.Change.Url = Url.Action("SelectImportFile");
                                de.Change.FormID = "frmSelectImportFile";
                                de.Change.Success = "viewFileImport(result);";
                            })
                        ),
                Html.X().Button()
                    .Icon(Icon.ArrowMerge)
                    .MarginSpec("0 0 0 5")
                    .Text("Tiến hành import dữ liệu")
                    .Handler("objectImportSetting();")
                )
                .Store(
                    Html.X().Store()
                        .ID("StoreObjectImport")
                        .PageSize(20)
                        .AutoLoad(false)
                        .RemotePaging(false)
                        .Proxy(
                        Html.X().AjaxProxy()
                        .Url(Url.Action("DataObjectImport"))
                        .Reader(Html.X().JsonReader().RootProperty("data"))
                        )
                        .Parameters(ps =>
                        {
                            ps.Add(new StoreParameter("direction", "App.hdfDirection.value", ParameterMode.Raw));
                        })
                        .Model(Html.X().Model().Fields(fields)
                        )
                    )
                .MultiSelect(true)
                .ColumnModel(column)
                .View(Html.X().GridView().TrackOver(false).LoadingText("Đang tải..."))
        )
)