﻿@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
    List<ModelField> fields = new List<ModelField>();
    List<ColumnBase> column = new List<ColumnBase>();
    column.Add(X.RowNumbererColumnFormat());

    fields.Add(Html.X().ModelField().Name("RecieveNumber"));
    column.Add(X.Column().DataIndex("RecieveNumber").Text("Nguồn nhận").Width(150));

    fields.Add(Html.X().ModelField().Name("SendNumber"));
    column.Add(X.Column().DataIndex("SendNumber").Text("Số phản ánh").Width(150));

    fields.Add(Html.X().ModelField().Name("MessageContent"));
    column.Add(X.Column().DataIndex("MessageContent").Text("Nội dung").Flex(1));

    fields.Add(Html.X().ModelField().Name("NetworkProvider"));
    column.Add(X.Column().DataIndex("NetworkProvider").Text("Nhà mạng ").Width(150));

    fields.Add(Html.X().ModelField().Name("SendDate"));
    column.Add(X.Column().DataIndex("SendDate").Text("Ngày gửi").Width(150));
}
<script>
    var viewFileImport = function (value) {
        var direction = value.result;
        if (direction) {
            App.hdfDirection.setValue(direction);
            App.StoreObjectImport.reload();
        };
    };
    var ReloadGridSmsManagers = function () {
        if (!App.stMnSmsManagers.loading) {
            App.stMnSmsManagers.loadPage(1);
        }
    };
</script>
@(Html.X().Window()
    .ID("winObjectImport")
    .Layout(LayoutType.Fit)
    .Border(false)
    .Margin(0)
    .Frame(false)
    .StyleSpec("border: none;")
    .Height(1)
    .Maximized(true)
    .AutoScroll(true)
    .Title("Import dữ liệu danh sách tin nhắn")
    .Icon(Icon.PackageDown)
    .Items(
    Html.X().Hidden().ID("hdfDirection"),
    Html.X().GridPanel()
            .Header(false)
            .ID("grObjectImport")
            .ColumnLines(true)
            .TopBarItem(
            Html.X().FormPanel()
                .Frame(true)
                .Layout(LayoutType.Fit)
                .Padding(0)
                .Margin(0)
                .StyleSpec("border: none;")
                .ID("frmSelectImportFile")
                .Items(
                Html.X().FileUploadField()
                        .Icon(Icon.PageExcel)
                        .MarginSpec("4 0 0 0")
                        .Padding(0)
                        .ID("FileImportField")
                        .ButtonText("Chọn tệp chứa dữ liệu...")
                        .ButtonOnly(true)
                        .DirectEvents(de =>
                        {
                            de.Change.Before = @"if (!App.frmSelectImportFile.getForm().isValid()) { return false; }; ";
                            de.Change.Url = Url.Action("SelectImportFile");
                            de.Change.FormID = "frmSelectImportFile";
                            de.Change.Success = "viewFileImport(result);";
                        })
                    ),
            Html.X().Button()
                .Icon(Icon.ArrowMerge)
                .MarginSpec("0 0 0 5")
                .Height(26)
                .Text("Tiến hành import dữ liệu")
                .DirectClickAction("SettingImport")
                .Parameter(Html.X().Parameter().Name("direction").Value("App.hdfDirection.value").Mode(ParameterMode.Raw))
                .Listeners(ls => ls.Click.Handler = "App.winObjectImport.mask('Đang thực hiện....');")
                .SuccessHandle("ReloadGridSmsManagers();App.winObjectImport.unmask();")
            )
            .Store(
                Html.X().Store()
                    .ID("StoreObjectImport")
                    .PageSize(100)
                    .AutoLoad(false)
                    .RemotePaging(false)
                    .Proxy(
                    Html.X().AjaxProxy()
                    .Url(Url.Action("DataObjectImport"))
                    .Reader(Html.X().JsonReader().RootProperty("data"))
                    )
                    .Parameters(ps =>
                    {
                        ps.Add(new StoreParameter("direction", "App.hdfDirection.value", ParameterMode.Raw));
                    })
                    .Model(Html.X().Model().Fields(fields)
                    )
                )
            .MultiSelect(true)
            .ColumnModel(column)
            .View(Html.X().GridView().TrackOver(false).LoadingText("Đang tải..."))
            .BottomBar(Html.X().PagingToolbarFormat("100"))
    )
)