﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@using iDAS.Service;
@model DispatchRecipientsExternalBO
@{
    var X = Html.X();
    // var status = (List<Ext.Net.ListItem>)ViewData["Status"];
    var formId = "formExternalDispatch";
    //   var FormalitySave = (List<Ext.Net.ListItem>)ViewData["FormalitySave"];
}
@(X.WindowSlide().WindowLayout(LayoutType.VBox)
   .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.4 })
    .Title("Gửi bên ngoài")
    .IconCls("x-fa fa-pencil-square-o")
    .Items(
        X.FormPanelVBoxFormat().ID(formId).BodyPadding(2).ActiveIndex(0)
        .Items(

       
               X.HiddenFor(m => m.Id),
               X.HiddenFor(m => m.DispatchId),
               X.TextFieldFor(m => m.Name).EmptyText("Tên tổ chức").AllowBlank(false).HideLabel(true).MarginSpec("5 0 0 0").Note("Tên tổ chức" + Html.Required())
                    .NoteAlign(NoteAlign.Top).Regex(Resource.RegexSpecialSymbolFilter).RegexText(Resource.RegexHtmlWhiteSpaceStartMessage)
                    .MaxLength(200).MaxLengthText("Chỉ nhập tối đa 200 ký tự"),
         X.ContainerHBoxTop().MarginSpec("5 0 0 0")
                .Items(
                                  X.TextFieldFor(m => m.Email).EmptyText("Email").AllowBlank(false).HideLabel(true).MarginSpec("0 0 0 0").Note("Email" + Html.Required()).NoteAlign(NoteAlign.Top).Flex(1),
                                       X.TextFieldFor(m => m.Phone).EmptyText("Phone").AllowBlank(false).HideLabel(true).MarginSpec("0 0 0 5").Note("Phone" + Html.Required()).NoteAlign(NoteAlign.Top).Flex(1)
                       ),
         X.ContainerHBoxTop().MarginSpec("5 0 0 0")
                .Items(
                                  X.TextFieldFor(m => m.Address).EmptyText("Địa chỉ").AllowBlank(false).HideLabel(true).MarginSpec("0 0 0 0").Note("Địa chỉ" + Html.Required()).NoteAlign(NoteAlign.Top).Flex(1),
                                           X.DateFieldFormatFor(m => m.date).EmptyText("Ngày gửi").AllowBlank(false).HideLabel(true).MarginSpec("0 0 0 5").Note("Ngày gửi" + Html.Required()).NoteAlign(NoteAlign.Top).Flex(1)
                    ),
          X.TextAreaFor(m => m.Note).Flex(1).HideLabel(true).EmptyText("Ghi chú").Note("Ghi chú")
                            .NoteAlign(NoteAlign.Top).MarginSpec("10 0 10 0")



       )

                

        
        .Buttons(
            X.Button().Text(Resource.Save).IconCls("x-fa fa-floppy-o")
            .DirectEvents(de =>
            {
                de.Click.FormID = formId;
                de.Click.Before = "if (!this.up('window').down('form').getForm().isValid()) {return false; };";
                de.Click.Url = Url.Action(Model.Id == Guid.Empty ? "Create" : "Update");
                de.Click.Success = "if(result.result == true){ this.setDisabled(true);this.up('window').doDestroy(); if(App.stDispatchSenExternal){App.stDispatchSenExternal.reload();}}";

            }),
            X.Button().Text(Resource.Exit).IconCls("x-fa fa-times-circle").OnClientClick("this.up('window').doDestroy();")
        )
    )
)


<script>
</script>


