﻿@using Ext.Net.MVC
@using Ext.Net
@using iDAS.Presentation.Common;
@model iDAS.Service.AssetBO
@{
    var X = Html.X();
}
@(X.Window()
.Title(Resource.AssetResourceRelative)
.IconCls("x-fa fa-line-chart")
.Height(550)
.Maximizable(true)
.Constrain(true)
.Width(870)
.BodyPadding(0)
.Layout(LayoutType.Fit)
.Modal(true)
.ID("wdResourceRelative")
.Items(
    X.FormPanel()
    .BodyPadding(0)
    .Border(true)
    .Frame(true)
    .ID("frResourceRelative")
    .Layout(LayoutType.VBox)
    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
    .TopBar(
        X.Toolbar()
        .StyleSpec("padding-bottom:0px;padding-top:0px")
        .Items(
        X.TabStrip()
        .WidthSpec("100%")
            .Items(t =>
            {
                t.Add(X.Tab().ActionItemID("tabResourceRelative1").IconCls("x-fa fa-info-circle").Text(Resource.AssetInfo));
                t.Add(X.Tab().ActionItemID("tabResourceRelative2").IconCls("x-fa fa-users").Text(Resource.AssetRoleRelative));
                t.Add(X.Tab().ActionItemID("tabResourceRelative3").IconCls("x-fa fa-history").Text(Resource.AsseHistorytUse));
                t.Add(X.Tab().ActionItemID("tabResourceRelative4").IconCls("x-fa fa-sticky-note").Text(Resource.AssetHistoryAddLable));
                t.Add(X.Tab().ActionItemID("tabResourceRelative5").IconCls("x-fa fa-check").Text(Resource.AssetHistoryReview));
            })
        )
    )
    .Items(
        X.Container()
        .Border(false)
        .ID("loadMaskResourceRelative")
        .Hidden(true)
        .Height(2)
        .Html("<div class='load-bar'><div class='bar'></div><div class='bar'></div></div>"),
    X.Container()
        .Border(false)
        .ID("loadMaskResourceRelativeEmpty")
        .Height(2)
        .Hidden(false), 
    X.Panel()
        .BodyPadding(6)
        .Border(false)
        .Frame(true)
        .Header(false)
        .Flex(1)
        .ID("tabResourceRelative1")
        .Layout(LayoutType.VBox)
        .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
        .StyleSpec("border: none;")
        .Title(Resource.AssetInfo)
        .Items(
             Html.X().Container()
                .Layout(LayoutType.HBox)
                .Padding(0)
                .MarginSpec("0 0 5 0")
                .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
                .Items(
                    X.TextFieldFor(m => m.Code)
                        .HideLabel(true)
                        .ReadOnly(true)
                        .Flex(1)
                        .MarginSpec("0 5 0 0")
                        .EmptyText("Mã tài sản"),
                    X.TextFieldFor(m => m.Name)
                        .HideLabel(true)
                        .ReadOnly(true)
                        .Flex(2)
                        .EmptyText("Tên tài sản")
                    ),
                  Html.X().Container()
                        .Layout(LayoutType.HBox)
                        .Padding(0)
                        .MarginSpec("0 0 5 0")
                        .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                        .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
                        .Items(
                         X.ComboBoxFor(m => m.AssetGroupID)
                            .Flex(2)
                            .HideLabel(true)
                            .ReadOnly(true)
                            .MarginSpec("0 5 0 0")
                            .EmptyText("Nhóm tài sản"),
                        X.NumberFieldFor(m=>m.Quantity)
                            .HideLabel(true)
                            .ReadOnly(true)
                            .MarginSpec("0 5 0 0")
                            .Flex(1)
                            .EmptyText("Số lượng"),
                        X.TextFieldFor(m => m.Unit)
                            .HideLabel(true)
                            .Flex(1)
                            .ReadOnly(true)
                            .EmptyText("Đơn vị tính")
                        ),
                     Html.X().Container()
                        .Layout(LayoutType.HBox)
                        .Padding(0)
                        .Flex(1)
                        .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                        .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
                        .Items(
                        Html.X().GridPanel()
                            .ID("grAssetType")
                            .ColumnLines(true)
                            .MarginSpec("0 5 0 0")
                            .UIName("idas_default")
                            .Title("Thông tin phân loại tài sản")
                            .Header(false)
                            .Flex(3)
                            .IconCls("x-fa fa-table")
                            .Store(Html.X().Store()
                            .AutoLoad(false)
                            .ID("stAssetType")
                                .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData", "Asset"))
                                .Reader(Html.X().JsonReader().RootProperty("data")))
                                .PageSize(10)
                                .Model(Html.X().Model()
                                .Fields(
                                        Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                                        Html.X().ModelField().Name("Name").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("Content").Type(ModelFieldType.String)
                                    )
                                )
                                )
                                .ColumnModel(
                                     Html.X().RowNumbererColumn()
                                        .Text("STT")
                                        .Width(40)
                                        .Align(ColumnAlign.Center),
                                        Html.X().ColumnEncodeFormat().DataIndex("Name").Text("Thuộc tính").Width(200).CellWrap(true),
                                        Html.X().ColumnEncodeFormat().DataIndex("Content").Text("Nội dung").Flex(1).CellWrap(true)
                                    )
                                    .SelectionModel(
                                        Html.X().RowSelectionModel()
                                            .Mode(SelectionMode.Single)
                                    )
                                    .BottomBar(Html.X().PagingToolbarFormat()),
                                    Html.X().Container()
                                            .Layout(LayoutType.VBox)
                                            .Padding(0)
                                            .Flex(1)
                                            .MarginSpec("0 0 5 0")
                                            .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                                            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                                            .Items(
                                        Html.X().Container()
                                            .Layout(LayoutType.HBox)
                                            .Padding(0)
                                            .MarginSpec("0 0 5 0")
                                            .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                                            .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
                                            .Items(
                                        Html.X().NumberField().ReadOnly(true).Flex(1).FieldLabel("Bảo mật(C)")
                                            ),
                                       Html.X().Container()
                                            .Layout(LayoutType.HBox)
                                            .Padding(0)
                                            .MarginSpec("0 0 5 0")
                                            .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                                            .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
                                            .Items(
                                                Html.X().NumberField().FieldLabel("Toàn vẹn(I)").ReadOnly(true).Flex(1)
                                            ),
                                            Html.X().Container()
                                            .Layout(LayoutType.HBox)
                                            .Padding(0)
                                            .MarginSpec("0 0 5 0")
                                            .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                                            .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
                                            .Items(
                                                Html.X().NumberField().FieldLabel("Sẵn sàng(I)").ReadOnly(true).Flex(1)
                                            ),
                                              Html.X().Container()
                                            .Layout(LayoutType.HBox)
                                            .Padding(0)
                                            .MarginSpec("0 0 5 0")
                                            .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                                            .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
                                            .Items(
                                                Html.X().NumberField().FieldLabel("Mức độ quan trọng").LabelAlign(LabelAlign.Top).ReadOnly(true).Flex(1)
                                            ),
                                            Html.X().Container()
                                                .Layout(LayoutType.HBox)
                                                .Padding(0)
                                                .MarginSpec("0 0 5 0")
                                                .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                                                .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
                                                .Items(
                                            Html.X().TextField().HideLabel(true).Value("Tiêu đề").ReadOnly(true).Flex(1)
                                        )
                            )
                    )
            ),
        X.Panel()
        .BodyPadding(5)
        .Border(false)
        .Frame(true)
        .Header(false)
        .ID("tabResourceRelative2")
        .Flex(1)
        .Layout(LayoutType.VBox)
        .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
        .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
        .StyleSpec("border: none;")
        .Title(Resource.AssetRoleRelative)
        .Items(
           Html.X().Container()
                    .Layout(LayoutType.HBox)
                    .Padding(0)
                    .MarginSpec("0 0 5 0")
                    .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                    .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
                    .Items(
                    Html.X().ComboBox().EmptyText("Chọn trách nhiệm").HideLabel(true).Flex(1),
                       X.ComboBox()
                        .MarginSpec("0 0 0 5")
                        .HideLabel(true)
                        .Flex(2)
                        .EmptyText("Chọn đối tượng")
                        .DisplayField("Name")
                        .ValueField("Id")
                        .Store(
                            X.Store()
                            .ID("storeAsset")
                            .RemoteSort(true)
                            .AutoLoad(false)
                            .RemotePaging(true)
                            .PageSize(20)
                            .Proxy(X.AjaxProxy().Url(Url.Action("GetData", new { area = "Asset" }))
                            .Reader(X.JsonReader().RootProperty("data")))
                            .Sorters(X.DataSorter().Property("ID").Direction(Ext.Net.SortDirection.DESC))
                            .Model(
                                X.Model()
                                .Fields(
                                new ModelField("Id", ModelFieldType.Auto),
                                new ModelField("Name", ModelFieldType.String)
                                )
                            )
                            .Parameters(
                                pr =>
                                {
                                    //pr.Add(new StoreParameter("AssetID", Model.Id));
                                })
                            )
                        ),
                     Html.X().GridPanel()
                        .ID("grResourceRelation")
                        .ColumnLines(true)
                        .Title("Danh sách đối tượng liên quan")
                        .UIName("idas_default")
                        .Flex(1)
                        .Icon(Icon.Table)
                        .Store(Html.X().Store()
                        .AutoLoad(false)
                        .ID("stAsset")
                            .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData", "Asset"))
                            .Reader(Html.X().JsonReader().RootProperty("data")))
                            .PageSize(10)
                            .Model(Html.X().Model()
                            .Fields(
                                    Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                                    Html.X().ModelField().Name("Name").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("StartTime").Type(ModelFieldType.Date),
                                    Html.X().ModelField().Name("EndTime").Type(ModelFieldType.Date)
                                )
                            )
                            )
                            .ColumnModel(
                                 Html.X().RowNumbererColumn()
                                    .Text("STT")
                                    .Width(40)
                                    .Align(ColumnAlign.Center),
                                    Html.X().TemplateColumn()
                                        .DataIndex("TypeUrl")
                                        .Width(50)
                                        .Text("Loại")
                                        .Filterable(false)
                                        .Tpl(
                                        Html.X().XTemplate()
                                        .Html(@<text>
                                            <img src="{TypeUrl}" style='height: 35px !important; width: 30px !important; border: 2px solid #E6E6E6 !important; display: inline-block !important; ' />
                                        </text>)
                                        ),
                                    Html.X().ColumnEncodeFormat().DataIndex("Name").Text("Tên đối tượng").Flex(1),
                                    Html.X().DateColumn().DataIndex("StartTime").Text("Bắt đầu").Width(100).Format("dd/MM/yyyy HH:mm"),
                                    Html.X().DateColumn().DataIndex("EndTime").Text("Kết thúc").Width(100).Format("dd/MM/yyyy HH:mm")
                                )
                                .SelectionModel(
                                    Html.X().RowSelectionModel()
                                        .Mode(SelectionMode.Single)
                                )
                                .BottomBar(Html.X().PagingToolbarFormat())


        ),
        X.Panel()
        .Title(Resource.AsseHistorytUse)
        .BodyPadding(0)
        .Border(false)
        .Frame(true)
        .Header(false)
        .ID("tabResourceRelative3")
        .Flex(1)
        .Layout(LayoutType.VBox)
        .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
        .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
        .StyleSpec("border: none;")
        .Items(
        Html.X().GridPanel()
                .ID("grHistorytUse")
                .ColumnLines(true)
                .Header(false)
                .Border(false)
                .Flex(1)
                .TopBarItem(
                 Html.X().Button().Text("Sự cố").IconCls("x-fa fa-bug"),
                 Html.X().Button().Text("Bảo trì").IconCls("x-fa fa-wrench")
                )
                .Icon(Icon.Table)
                .Store(Html.X().Store()
                .AutoLoad(false)
                .ID("stHistorytUse")
                    .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData", "Asset"))
                    .Reader(Html.X().JsonReader().RootProperty("data")))
                    .PageSize(10)
                    .Model(Html.X().Model()
                    .Fields(
                            Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                            Html.X().ModelField().Name("Name").Type(ModelFieldType.String),
                            Html.X().ModelField().Name("Type").Type(ModelFieldType.String),
                            Html.X().ModelField().Name("IsOwned").Type(ModelFieldType.Boolean),
                            Html.X().ModelField().Name("IsManage").Type(ModelFieldType.Boolean),
                            Html.X().ModelField().Name("IsUse").Type(ModelFieldType.Boolean)
                        )
                    )
                    )
                .ColumnModel(
                        Html.X().RowNumbererColumn()
                        .Text("STT")
                        .Width(40)
                        .Align(ColumnAlign.Center),
                        Html.X().DateColumn().DataIndex("StartTime").Text("Bắt đầu").Width(100).Format("dd/MM/yyyy HH:mm"),
                        Html.X().DateColumn().DataIndex("EndTime").Text("Kết thúc").Width(100).Format("dd/MM/yyyy HH:mm"),
                        Html.X().Column().DataIndex("UseEmployeeName").Text("Người sử dụng").Flex(1),
                        Html.X().Column().DataIndex("ConfirmEmployeeName").Text("Người xác nhận").Flex(1),
                        Html.X().CheckColumn().DataIndex("IsError").Text("Sự cố").Width(100),
                        Html.X().CheckColumn().DataIndex("IsUpdate").Text("Bảo trì").Width(100)
                    )
                    .SelectionModel(
                        Html.X().RowSelectionModel()
                            .Mode(SelectionMode.Single)
                    )
                    .BottomBar(Html.X().PagingToolbarFormat())


           ),
        X.Panel()
        .Title(Resource.AssetHistoryAddLable)
        .BodyPadding(0)
        .Border(false)
        .Frame(true)
        .Header(false)
        .ID("tabResourceRelative4")
        .Flex(1)
        .Layout(LayoutType.VBox)
        .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
        .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
        .StyleSpec("border: none;")
        .Items(
          Html.X().GridPanel()
        .ID("grAssetLabel")
        .ColumnLines(true)
        .Border(false)
        .Title("Danh sách nhãn tài sản")
        .UI(UI.Success)
        .Flex(1)
        .Header(false)
        .TopBarItem(
            Html.X().ComboBox().EmptyText("Quy tắc gán nhãn").HideLabel(true).Flex(1),
            Html.X().Button()
                .Text("Xem quy tắc")
                .ID("btnDetailAssetLabel")
                .Disabled(true)
                .IconCls("x-fa fa-search")
                .DirectEvents(de =>
                {
                    de.Click.ExtraParams.Add(new { assetId = new JRawValue("this.up('grid').selModel.getSelection()[0].data.Id") });
                    de.Click.Url = Url.Action("UpdateWindow");
                }))
        .Icon(Icon.Table)
        .Store(Html.X().Store()
        .AutoLoad(false)
        .ID("stAssetLabel")
            .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData", "Asset"))
            .Reader(Html.X().JsonReader().RootProperty("data")))
            .PageSize(10)
            .Model(Html.X().Model()
            .Fields(
                    Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                    Html.X().ModelField().Name("Name").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("DateAdd").Type(ModelFieldType.Date),
                    Html.X().ModelField().Name("AvartarUrl").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("IsUse").Type(ModelFieldType.Boolean)
                )
            )
            )
            .ColumnModel(
                    Html.X().RowNumbererColumn()
                    .Text("STT")
                    .Width(40)
                    .Align(ColumnAlign.Center),
                    Html.X().TemplateColumn()
                    .DataIndex("AvartarUrl")
                        .Width(50)
                        .Text("Nhân sự")
                        .Filterable(false)
                        .Tpl(
                        Html.X().XTemplate()
                        .Html(@<text>
                            <img src="{AvartarUrl}" style='height: 35px !important; width: 30px !important; border: 2px solid #E6E6E6 !important; display: inline-block !important; ' />
                        </text>)
                        ),
                    Html.X().Column().DataIndex("Name").Text("Tên quy tắc gán nhãn").Flex(1),
                    Html.X().DateColumn().DataIndex("CreateAt").Text("Ngày gán nhãn").Width(100).Format("dd/MM/yyyy HH:mm"),
                    Html.X().Column().DataIndex("CreateAt").Text("Tem mẫu").Width(60),
                    Html.X().Column().DataIndex("CreateAt").Text("Nhãn").Width(60),
                    Html.X().CheckColumn().DataIndex("IsUse").Text("Sử dụng").Width(100)
                )
                .SelectionModel(
                    Html.X().RowSelectionModel()
                        .Mode(SelectionMode.Single)
                )
                 .BottomBar(Html.X().PagingToolbarFormat())

            ),
        X.Panel()
        .Title(Resource.AssetHistoryReview)
        .BodyPadding(0)
        .Border(false)
        .Header(false)
        .ID("tabResourceRelative5")
        .Flex(1)
        .Frame(true)
        .Layout(LayoutType.VBox)
        .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
        .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
        .StyleSpec("border: none;")
        .ItemsFromAction("Index", "Review", new { area = "Asset", assetId= Model.Id})
        )
    )
    .Buttons(
         X.ButtonExit()
    )
)
<script>
    var TaskDateTime_Change = function () {
        if (!App.cbTaskDate.value) {
            App.dfStartDate.setReadOnly(true);
            App.dfEndDate.setReadOnly(true);
            App.dfStartDate.setValue(new Date());
            App.dfEndDate.setValue(new Date());
        }
        else {
            App.dfStartDate.setReadOnly(false);
            App.dfEndDate.setReadOnly(false);
        }
        if (!App.cbTaskTime.value) {
            App.tfStartDate.setReadOnly(true);
            App.tfEndDate.setReadOnly(true);
            App.tfStartDate.setValue('00:00');
            App.tfEndDate.setValue('23:59');
        }
        else {
            App.tfStartDate.setReadOnly(false);
            App.tfEndDate.setReadOnly(false);
        }
    };
    var btnUpdateTaskAssociate_ClientClick = function () {
        var records = App.grdTaskAssociate.selModel.getSelection();
        if (records.length > 0) {
            App.hiddenTaskAssociateID.setValue(records[0].data.Id);
            App.cbbTaskAssociate.setValue(records[0].data.TaskAssociateId);
            App.cbbAssociateType.setValue(records[0].data.Type);
            App.windowUpdateTaskAssociate.show();
        } else {
            MessageBox();
        }
    };
    var btnDeleteTaskAssociate_ClientClick = function (s, e) {
        var records = App.grdTaskAssociate.selModel.getSelection();
        if (records.length > 0) {
            Ext.MessageBox.confirm("Xóa", "Bạn có chắc chắn xóa?", function (result) {
                if (result == "yes") {
                    var id = records[0].data.Id;
                    var params = { taskAssociateID: id };
                    var url = '@Url.Action("DeleteTaskAssociate", "Manage", new { area = "Task" })';
                    onDirectMethod(url, params, 'post', function () {
                        Ext.getBody().unmask();
                        var store = App.grdTaskAssociate.getStore();
                        store.reload();
                    });
                }
            });
        } else {
            MessageBox();
        }
    };
    var grdTaskAssociate_SelectionChange = function () {
        App.btnUpdateTaskAssociate.setDisabled(false);
        App.btnDeleteTaskAssociate.setDisabled(false);
    };
    var btnSaveTaskAssociate_click = function (s, e) {
        var taskAssociate = {};
        taskAssociate.ID = App.hiddenTaskAssociateID.value;
        taskAssociate.TaskID = App.hiddenID.value;
        taskAssociate.TaskAssociateID = App.cbbTaskAssociate.value;
        taskAssociate.Type = App.cbbAssociateType.value;
        var url = '@Url.Action("CreateTaskAssociate", "Manage", new { area = "Task" })';
        Ext.Ajax.request({
            method: 'POST',
            url: url,
            jsonData: taskAssociate,
            success: function () {
                Ext.getBody().unmask();
                var store = App.grdTaskAssociate.getStore();
                App.windowUpdateTaskAssociate.hide();
                store.reload();
            }
        });
        Ext.getBody().mask();
    }

</script>