﻿<style>
    .search-item {
        font: normal 11px tahoma, arial, helvetica, sans-serif;
        padding: 3px 10px 3px 0px;
        white-space: normal;
        color: #555;
    }

        .search-item h3 {
            display: block;
            font: inherit;
            font-weight: bold;
            color: #222;
            margin: 0px;
        }

            .search-item h3 span {
                float: right;
                font-weight: normal;
                margin: 0 0 5px 5px;
                width: 130px;
                display: block;
                clear: none;
            }
</style>
@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.AssetTypePropertyBO
@{
    var X = Html.X();
    var dataType = (List<Ext.Net.ListItem>)ViewData["DataType"];
    Operation operation = (Operation)ViewData["Operation"];
    var formId = X.GetComponentID();

}
@(X.WindowFormat()
    .ID("WindowPropertySetting")
    .Title(Model.Id == Guid.Empty ? Resource.Create : Resource.Detail)
    .IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
    .Height(300)
    .Width(450)
    .Items(
        X.FormPanelFormat()
        .ID(formId)
        .Closable(true)
        .Items(
            X.HiddenFor(u => u.Id).ID("hdfTypePropertyID"),
            X.HiddenFor(u => u.AssetTypeId).ID("hdfAssetTypeId"),
        Html.X().ComboBoxFor(m => m.PropertyId).ID("cbbSelectProperty")
                .DisplayField("Name")
                .ValueField("Id")
                .ID("cbPropertyID")
                .DisplayFieldEncodeFormat("Name")
                .MaxLength(50)
                .EmptyText(Resource.AssetPropertyName).HideLabel(true).AllowBlank(false)
                .PageSize(10)
                .MinChars(0)
                .TriggerAction(TriggerAction.Query)
                .Store(Html.X().Store()
                    .AutoLoad(true)
                    .Proxy(Html.X().AjaxProxy()
                        .Url(Url.Action("GetQuery", "Property", new { area = "Asset" }))
                        .ActionMethods(am =>
                        {
                            am.Read = HttpMethod.POST;
                            am.Update = HttpMethod.POST;
                        }
                            )
                        .Reader(Html.X().JsonReader().RootProperty("data"))
                    )//.Listeners(ls => ls.Load.Handler = "")
                    .Model(Html.X().Model()
                        .Fields(
                            Html.X().ModelField().Name("Id"),
                            Html.X().ModelField().Name("Name")
                            
                        )
                    )
                )
                ,
                X.TextAreaFor(u => u.Description).EmptyText(Resource.Note).HideLabel(true).Flex(1).ID("txtDescriptionTypeProperty")
        )
    )
    .Buttons(
        Html.X().Button()
            .Text(Resource.Save)
            .IconCls("x-fa fa-floppy-o")
                 .DirectEvents(de =>
                 {
                     de.Click.Type = DirectEventType.Load;
                     de.Click.Before = "if (!this.up('window').down('form').getForm().isValid()) { return false; } else { saveToGrid();}";
                 }),
        X.ButtonExit()
    )
)
<script>
    var checkstt = function () {
        App.grAssetPropertySetting.getView().refresh();
    };


    var saveToGrid = function () {
        var id = App.hdfTypePropertyID.value;
        var propertyName = App.cbPropertyID.getDisplayValue();
        var PropertyId = App.cbPropertyID.getValue();
        var Description = App.txtDescriptionTypeProperty.getValue();
       
        var data = {};
        if (propertyName == null || propertyName == '' || propertyName == undefined) {
            data.Id = '@Guid.Empty';
            data.Name = PropertyId;
            Ext.Ajax.request({
                url: '@(Url.Action("Create", "Property", new { Area = "Asset" }, null))',
                params: data,
                success: function (result) {
                    var response = JSON.parse(result.responseText);
                    if (response.code == 201) {
                        Ext.Msg.notify('Lỗi', response.message);
                        return false;
                    }
                    if (response.code == 200) {
                        propertyName = App.cbPropertyID.getDisplayValue() == '' ? App.cbPropertyID.value : App.cbPropertyID.getDisplayValue();
                        UpdateRecord(id, response.data, propertyName, Description);
                    }
                },
                error: function (result) {

                }
            });
        }
        else {
            propertyName = App.cbPropertyID.getDisplayValue() == '' ? App.cbPropertyID.value : App.cbPropertyID.getDisplayValue();
            UpdateRecord(id, PropertyId,  propertyName, Description);
        }
    };

    function UpdateRecord(id, propertyId,  propertyName, description) {
        var isCreate = '@(operation == Operation.Create)';

        if (isCreate == 'True') {
            var record = App.storeAssetPropertySetting.findRecord('PropertyId', propertyId);
            if (record != null) {
                Ext.Msg.notify('Lỗi', 'Dữ liệu đã tồn tại');
                return false;
            }
            else {
                App.storeAssetPropertySetting.insert(0, {
                    Id: id == '' || id == '@Guid.Empty' ? '@Guid.NewGuid()' : id,
                    PropertyId: propertyId,
                    PropertyName: propertyName,
                    Description: description
                });
            }
        }
        else {
            var recordByID = App.storeAssetPropertySetting.findRecord('Id', id);
            var recordByProperty = App.storeAssetPropertySetting.findRecord('PropertyId', propertyId);
            if (recordByProperty != null) {
                if (recordByProperty.data.Id != id) {
                    Ext.Msg.notify('Lỗi', 'Dữ liệu đã tồn tại');
                    return false;
                }
                else {
                    recordByID.set('PropertyId', propertyId);
                    recordByID.set('PropertyName', propertyName);
                    recordByID.set('Description', description);
                }
            }
            else {
                recordByID.set('PropertyId', propertyId);
                recordByID.set('PropertyName', propertyName);
                recordByID.set('Description', description);
            }
        }
        App.WindowPropertySetting.close();
        App.grAssetPropertySetting.getView().refresh();
    }
</script>