﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
}
@(X.GridPanel()
        .ID("grAssetPropertySetting")
        .Title("<span style='font-size:13px; font-weight:bold;'>" + Resource.PropertyList + "</span>")
        .UIName("idas_default")
        .IconCls("x-fa fa-table")
        .Border(true)
        .ColumnLines(true)
        .Flex(1)
        .TopBarItem(
            X.Button()
            .Text(Resource.Create)
            .IconCls("x-fa fa-plus-circle")
            .DirectEvents(
            de =>
            {
                de.Click.Type = DirectEventType.Load;
                de.Click.ExtraParams.Add(new { id = string.Empty });
                de.Click.ExtraParams.Add(new { assetTypeId = Convert.ToString(ViewData["AssetTypeID"]) });
                de.Click.ExtraParams.Add(new { propertyId = string.Empty });
                de.Click.ExtraParams.Add(new { propertyName = string.Empty });               
                de.Click.ExtraParams.Add(new { description = string.Empty });
                de.Click.Url = Url.Action("Form", "TypeProperty");
            }),
            X.Button()
            .ID("btnDetailPropertySetting")
            .Disabled(true)
            .Text(Resource.Detail)
            .IconCls("x-fa fa-search")
            .DirectEvents(
            de =>
            {
                de.Click.ExtraParams.Add(new { id = new JRawValue("this.up('grid').selModel.getSelection()[0].data.Id") });
                de.Click.ExtraParams.Add(new { assetTypeId = Convert.ToString(ViewData["AssetTypeID"]) });
                de.Click.ExtraParams.Add(new { propertyId = new JRawValue("this.up('grid').selModel.getSelection()[0].data.PropertyId") });
                de.Click.ExtraParams.Add(new { propertyName = new JRawValue("Ext.util.Format.htmlDecode(this.up('grid').selModel.getSelection()[0].data.PropertyName)") });
                de.Click.ExtraParams.Add(new { type = new JRawValue("Ext.util.Format.htmlDecode(this.up('grid').selModel.getSelection()[0].data.Type)") });
                de.Click.ExtraParams.Add(new { description = new JRawValue("Ext.util.Format.htmlDecode(this.up('grid').selModel.getSelection()[0].data.Description)") });
                de.Click.Url = Url.Action("Form", "TypeProperty");
            }),
             X.Button()
            .ID("btnDeletePropertySetting")
            .Disabled(true)
            .Text(Resource.Delete)
            .IconCls("x-fa fa-trash-o")
            .Handler("this.up('grid').deleteSelected();")
        )
        .Store(
            X.Store()
            .ID("storeAssetPropertySetting")
            .PageSize(1000)
            .AutoLoad(true)
            .Model(
            X.Model()
            .IDProperty("PropertyId")
            .Fields(
                Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto), 
                Html.X().ModelField().Name("PropertyId").Type(ModelFieldType.Auto),
                Html.X().ModelField().Name("PropertyName").Type(ModelFieldType.String),
                Html.X().ModelField().Name("Description").Type(ModelFieldType.String)
                )
            )
            .Proxy(
                X.AjaxProxy()
                .Url(Url.Action("LoadData"))
                .Reader(Html.X().JsonReader().RootProperty("data"))
            )
            .Parameters(pr =>
            {
                pr.Add(new StoreParameter() { Name = "typeId", Value = ViewData["AssetTypeID"].ToString(), Mode = ParameterMode.Value });
            })
        )
        .ColumnModel(
            Html.X().RowNumbererColumn().Text("STT").Width(40).Align(ColumnAlign.Center),
            Html.X().ColumnEncodeFormat().Text(Resource.AssetPropertyName).DataIndex("PropertyName").Flex(1),
            Html.X().ColumnEncodeFormat().Text(Resource.Description).DataIndex("Description").Flex(2)
            )
        .SelectionModel(
        Html.X().RowSelectionModel()
            .Mode(SelectionMode.Single)
            .Listeners(ls => ls.SelectionChange.Handler = "checkMenuPropertySettingStatus()")
        )
     
        .BottomBar(Html.X().PagingToolbarFormat())
)
<style>
    .highlight {
        background-color: #00ffff;
    }
</style>
<script>
    var getRowClass = function (record, index, rowParams, ds) {
        if (record.data.IsHighlight) {
            return "highlight";
        };
    };
    var checkMenuPropertySettingStatus = function () {
        
        var records = App.grAssetPropertySetting.selModel.getSelection();
        App.btnDeletePropertySetting.setDisabled(records.length == 0);
        App.btnDetailPropertySetting.setDisabled(records.length == 0);
    };
</script>