﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.RiskAssetAuditBO
@{
    var X = Html.X();
    Operation operation = (Operation)ViewData["Operation"];
    var formId = X.GetComponentID();
}
<style>
    .search-item {
        font: normal 11px tahoma, arial, helvetica, sans-serif;
        padding: 3px 5px 3px 5px;
        white-space: normal;
        color: #555;
    }
    .search-item h3 {
        display: block;
        font: inherit;
        font-weight: bold;
        color: #222;
        margin: 0px;
    }
</style>

@(X.WindowFormat()
    .Title("Đánh giá rủi ro")
    .IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-check")
    .Height(474)
    .Width(750)
    .Items(
            X.FormPanelVBoxFormat()
            .ID(formId)
            .BodyPadding(6)
            .Items(
                X.HiddenFor(u => u.Id),
                X.TextFieldFor(u => u.AssetName).FieldLabel("Tài sản đánh giá rủi ro").MarginSpec("0 0 5 0").LabelWidth(300).ReadOnly(true),
                X.TextFieldFor(u => u.ProcessExpediency).FieldLabel("Tài sản lưu trữ thông tin và phương tiện xử lý").ReadOnly(true).MarginSpec("0 0 5 0").LabelWidth(300),
                X.NumberFieldFor(u => u.AssetValue).MarginSpec("0 0 5 0").FieldLabel("Giá trị tài sản" + Html.Required()).AllowBlank(false).Listeners(ls => ls.Change.Handler = "setValueRiskLevel();").ID("nbfAssetValue").EmptyText("Giá trị tài sản đánh giá").LabelWidth(300),
                X.ContainerHBoxTop()
                .MarginSpec("-4 0 0 0")
                .Items(
                    X.TextAreaFor(m => m.Weakness).FieldLabel("Điểm yếu" + Html.Required()).AllowBlank(false).MaxLength(500).LabelAlign(LabelAlign.Top).MarginSpec("0 5 0 0").Flex(1),
                    X.TextAreaFor(m => m.CurrentCountermove).FieldLabel("Các biện pháp quản lý hiện tại" + Html.Required()).AllowBlank(false).MaxLength(500).LabelAlign(LabelAlign.Top).Flex(1)
                ),
                X.ContainerHBoxTop()
                .MarginSpec("-4 0 0 0")
                .Items(
                    X.TextAreaFor(m => m.Hazard)
                        .FieldLabel("Mối nguy" + Html.Required())
                        .AllowBlank(false)
                        .MarginSpec("0 0 0 0")
                        .MaxLength(500)
                        .Height(135)
                        .LabelAlign(LabelAlign.Top)
                        .Flex(1),
                        X.ContainerVBox()
                        .MarginSpec("30 0 0 5")
                        .Flex(1)
                        .Items(
                                Html.X().ComboBoxFor(u => u.ImpactLevel)
                                .AllowBlank(false).FieldLabel("Mức độ ảnh hưởng" + Html.Required())
                                .ID("nbfImpactLevel").MarginSpec("0 0 5 0")
                                .LabelWidth(135)
                                .Listeners(ls => ls.Change.Handler = "setValueRiskLevel();")
                                .DisplayField("Value")
                                .ValueField("Value")
                                .TypeAhead(false)
                                .ListConfig(Html.X().BoundList()
                                    .ItemTpl(Html.X().XTemplate()
                                        .Html(@<text>
                                        <div class="search-item">
                                            <h3>Giá trị: {Value}</h3>
                                            {Description}
                                        </div>
                                        </text>)
                                    )
                                )
                                .Store(Html.X().Store()
                                    .Proxy(Html.X().AjaxProxy()
                                        .Url(Url.Action("GetData","LevelOfRisk"))
                                        .Reader(Html.X().JsonReader().RootProperty("data"))
                                    )
                                    .Model(Html.X().Model()
                                        .Fields(
                                            Html.X().ModelField().Name("Value"),
                                            Html.X().ModelField().Name("Description")
                                        )
                                    )
                                ),
                            Html.X().ComboBoxFor(u => u.Possible)
                                .AllowBlank(false)
                                .FieldLabel("Khả năng xảy ra" + Html.Required())
                                .ID("nbfPossible")
                                .MarginSpec("0 0 5 0")
                                .LabelWidth(135)
                                .Listeners(ls => ls.Change.Handler = "setValueRiskLevel();")
                                .DisplayField("Value")
                                .ValueField("Value")
                                .TypeAhead(false)
                                .ListConfig(Html.X().BoundList()
                                    .ItemTpl(Html.X().XTemplate()
                                        .Html(@<text>
                                        <div class="search-item">
                                            <h3>Giá trị: {Value}</h3>
                                            {Description}
                                        </div>
                                        </text>)
                                    )
                                )
                                .Store(Html.X().Store()
                                    .Proxy(Html.X().AjaxProxy()
                                        .Url(Url.Action("GetData","Likelihood"))
                                        .Reader(Html.X().JsonReader().RootProperty("data"))
                                    )
                                    .Model(Html.X().Model()
                                        .Fields(
                                            Html.X().ModelField().Name("Value"),
                                            Html.X().ModelField().Name("Description")
                                        )
                                    )
                                ),
                        X.NumberFieldFor(u => u.RiskLevel).AllowBlank(false).MarginSpec("0 0 5 0").ID("nbfRiskLevel").FieldLabel("Mức độ rủi ro").ReadOnly(true).LabelWidth(135)
                      )
                    ),
                    X.ComboBoxFor(m => m.AcceptCriteria)
                                .AllowBlank(false)
                                .LabelWidth(300)
                                .Editable(false)
                                .FieldLabel("Tiêu chí chấp nhận rủi ro (mức độ rủi ro ≤ 8)" + Html.Required())
                                .DisplayField("Text")
                                .ValueField("Value")
                                .Store(Html.X().Store()
                                .Model(Html.X().Model()
                                .IDProperty("Value")
                                .Fields(
                                        new ModelField("Value", ModelFieldType.Int),
                                        new ModelField("Text", ModelFieldType.String)
                                    )
                                )
                            .Proxy(Html.X().AjaxProxy()
                            .Url(Url.Action("GetCriteria"))
                            .Reader(Html.X().JsonReader().RootProperty("data"))
                            )
                        )
            )
         )
        .Buttons(
            X.ButtonDelete()
               .Hidden(operation == Operation.Create ? true : false)
               .DirectEvents(de => de.Click.ExtraParams.Add(new { id = Model.Id }))
                .SuccessHandle("App.stRiskPlan.reload();"),
                X.ButtonSave()
                .DirectEvents(de =>
                {
                    de.Click.FormID = formId;
                    de.Click.Url = Url.Action(operation == Operation.Create ? "Create" : "Update");
                })
            .SuccessHandle("App.stRiskPlan.reload();"),
        X.ButtonExit()
        )
)
<script>
    var setValueRiskLevel = function () {
        var a = App.nbfAssetValue.getValue();
        var b = App.nbfImpactLevel.getValue();
        var c = App.nbfPossible.getValue();
        var result = a * b * c;
        App.nbfRiskLevel.setValue(result);
    };
</script>