﻿@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
}
@(
         X.Container()
         .Layout(LayoutType.VBox)
         .Flex(1)
         .ID("ctDasboardMain")
         .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
         .StyleSpec("border: none;")
         .Border(false)
         .Items(
                 X.Panel()
                 .ID("pnStatisticalMain")
                 .Layout(LayoutType.Fit)
                 //.Flex(1)
                 .Height(250)
                 .Html(
                     "<img src='/Content/images/ISO_banner.png' width='100%' height='100%'/>"
                     )
                    ,
                 X.Container().Height(4),
                 X.Panel()
                 .ID("pnTaskOfWeekCurrentUserMain")
                 .ItemsFromAction("Week", "Schedule", new { area = "Task" })
                 .IconCls("x-fa fa-calendar black")
                 .UIName("idas_default")
                 .Header(false)
                 .Flex(1)
                 .Layout(LayoutType.Fit)
                 .Title("<b>Lịch làm việc</b>")
    )
)