﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model ProfileBO
@{
    var X = Html.X();
}
@(X.WindowFormat()
    .IconCls("x-fa fa-pencil-square-o")
    .Height(480).Width(800)
    .BodyPadding(0)
    .Title("Danh sách hồ sơ chờ hủy")
    .ID("windowContainerProfileWaitDestroy")
    .Items(
        X.GridPanel()
        .ColumnLines(true)
        .RowLines(true)
        .Header(false)
        .Flex(1)
        .Resizable(false)
        .ID("gridProfileWaitDestroy")
        .Border(false)
        .Store(
            X.StoreFormat()
            .ID("storeProfileWaitDestroy")
            .AutoLoad(true)
            .Url(Url.Action("GetProfileWaitDestroyForAddDestroySuggest", "DestroyDetail", new { Area = "Profile" }))
            )
        .ColumnModel(
            Html.X().RowNumbererColumn().Text("STT").Width(50).Align(ColumnAlign.Center),
            X.Column().DataIndex(Model, m => m.Id).Hidden(true),
            X.ColumnEncodeFormat().Text("Hộp/cặp số").DataIndex(Model, m => m.ProfileBox).Width(100).Locked(true),
            X.ColumnEncodeFormat().Text("Mã hồ sơ").DataIndex(Model, m => m.Code).Width(100).Locked(true),
            X.ColumnEncodeFormat().Text("Tên hồ sơ").DataIndex(Model, m => m.Name).Width(300).Locked(true),
            X.ColumnEncodeFormat().Text("Thời gian lưu trữ").Width(130).Align(ColumnAlign.Center).DataIndex(Model, m => m.TimeArchiveText),
            X.DateColumn().Text("Thời hạn lưu trữ").DataIndex(Model, m => m.ArchiveDeadline).Width(150).Format("dd/MM/yyyy"),
            X.DateColumn().Text("Ngày nộp lưu").DataIndex(Model, m => m.ArchiveDate).Width(150).Format("dd/MM/yyyy"),
            Html.X().Column().DataIndex("").Text("Người lưu trữ").Width(230).CellWrap(true).Renderer(new Renderer { Fn = "renderEmployee" }),
            X.Column().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Width(120)
        ).BottomBar(X.PagingToolbarFormat())
        .SelectionModel(Html.X().CheckboxSelectionModel().Mode(SelectionMode.Multi))
        )
        .Buttons(
            X.Button().Text("Chọn").IconCls("x-fa fa-pencil-square-o").Handler("addGridProfileDestroySuggest();this.up('window').close();"),
            X.ButtonExit()
        )
)
<script>
    var renderEmployee = function (value, meta, record) {
        var title = '';
        var result = '';
        var image = '';
        title = '<span style="margin-left: 40px;font-size:10px;">' + record.data.EmployeeArchive.RoleNames + '</span>';
        image = '<img src="' + record.data.EmployeeArchive.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 40px;">' + Ext.htmlEncode(record.data.EmployeeArchive.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };

    var addGridProfileDestroySuggest = function () {
        var records = App.gridProfileWaitDestroy.selModel.getSelection();
        if (records != null) {
            for (var i = 0; i < records.length; i++) {
                if (Ext.StoreMgr.lookup(App.storeProfileDestroyDetail).findExact('ProfileId', records[i].data.Id) < 0) {
                    App.storeProfileDestroyDetail.add({
                        ProfileId: records[i].data.Id,
                        ProfileBox: records[i].data.ProfileBox,
                        ProfileCode: records[i].data.Code,
                        ProfileName: records[i].data.Name,
                        ProfileTimeArchiveText: records[i].data.TimeArchiveText,
                        ProfileArchiveDeadline: records[i].data.ArchiveDeadline,
                        ProfileArchiveDate: records[i].data.ArchiveDate
                    });
                }
            }
        }
    };

</script>
