﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.QualityNCBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.WindowSlide().WindowLayout(LayoutType.VBox)
   .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.7 })
    .ID("WindowConfirmQualityNC")
    .Title("Xác nhận")
    .Items(
         X.ContainerHBox().Flex(1).Items(
                X.ContainerVBox().Flex(1).Items(
                    X.Panel().UIName("idas_default").Border(true).Title("<b>Chưa xác nhận</b>")
                    .Layout(LayoutType.Fit).IconCls("x-fa fa-question-circle").Flex(2).MarginSpec("5 0 5 5")
                    .Tools(X.Tool().IconCls("x-fa fa-refresh black").ToolTip("Tải lại")
                                    .Handler("var panel = App.GridQualityNCNotConfirm;if(panel && panel.xtype == 'grid'){ store = panel.store;if(store){store.reload();}}")
                            )
                    .Items(
                        X.GridPanel().Border(false)
                              .Flex(1)
                             .ID("GridQualityNCNotConfirm")
                             .Store(
                                X.StoreFormat()
                                .AutoLoad(true)
                                .ID("storeQualityNCNotConfirm")
                                .Url(Url.Action("GetDataWaitConfirmNC", "QualityNC", new { Area = "Quality" }))
                                .ModelType(typeof(iDAS.Service.QualityNCBO))
                                )
                            .ColumnModel(
                                            X.RowNumbererColumnFormat(),
                                            X.ColumnEncodeFormat().Text("Nội dung sự không phù hợp").DataIndex(Model, m => m.Name).Flex(1),
                                            X.Column().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Align(ColumnAlign.Center).Width(130)
                                        )
                                    .View(X.GridView().Plugins(X.GridDragDrop().DDGroup("gridDDGroup").DragText("Xác nhận")).AllowCopy(false)
                                        .Listeners(ls =>
                                        {
                                            ls.BeforeDrop.Fn = "DropToWaitConfirm";
                                        }
                                    )
                                )
                            .BottomBar(X.PagingToolbarFormat())
                           ),
                        X.Panel().Border(true)
                        .Title("<b>Không đạt</b>").UIName("idas_default")
                        .Layout(LayoutType.Fit)
                        .IconCls("x-fa fa-trash")
                            .MarginSpec("0 0 5 5")
                        .Tools(X.Tool().IconCls("x-fa fa-refresh black").ToolTip("Tải lại")
                                            .Handler("var panel = App.GridQualityNCNotPass;if(panel && panel.xtype == 'grid'){ store = panel.store;if(store){store.reload();}}")
                                )
                        .Flex(1)
                        .Items(
                                X.GridPanel().Border(false)
                                   .Flex(1)
                                   .ID("GridQualityNCNotPass")
                                   .Store(
                                         X.StoreFormat()
                                         .AutoLoad(true)
                                         .ID("storeQualityNCNotPass")
                                         .Url(Url.Action("GetDataNotConfirmNC", "QualityNC", new { Area = "Quality" }))
                                         .ModelType(typeof(iDAS.Service.QualityNCBO))
                                      )
                                .ColumnModel(
                                        X.RowNumbererColumnFormat(),
                                         X.ColumnEncodeFormat().Text("Nội dung sự không phù hợp").DataIndex(Model, m => m.Name).Flex(1),
                                         X.Column().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Align(ColumnAlign.Center).Width(130)
                                    )
                                    .View(X.GridView().Plugins(X.GridDragDrop().DDGroup("gridDDGroup").DragText("Hủy tình trạng không đạt"))
                                            .AllowCopy(false)
                                            .Listeners(ls =>
                                                {
                                                    ls.BeforeDrop.Fn = "DropToNCNotPass";
                                                })
                                     )
                                .BottomBar(X.PagingToolbarFormat())
                            )),
                X.Panel().Border(true).Flex(1).Title("<b>Xác nhận</b>").UIName("idas_default")
                        .IconCls("x-fa fa-check-square-o").MarginSpec("5 5 5 5")
                        .Layout(LayoutType.VBox).LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                        .Tools(X.Tool().IconCls("x-fa fa-refresh black").ToolTip("Tải lại")
                                        .Handler("var panel = App.GridQualityNCConfirm;if(panel && panel.xtype == 'grid'){ store = panel.store;if(store){store.reload();}}")
                                )
                        .Items(
                                X.FormPanel().Border(false)
                                        .ID("FormConfirmAdd").Height(90)
                                        .Region(Region.Center).Layout(LayoutType.Fit)
                                         .Items(
                                                Html.X().Container()
                                                .Html(@"<div style='text-align:center;display: flex;'><div class='emptyClass' style='float: left; width: 150px;'></div><div style='font-size: 2em; padding-top: 18px;'>Kéo bản ghi để xác nhận</div></div>")
                                             )
                                        ,
                                 X.GridPanel().MarginSpec("0 -1 -1 -1")
                                  .Flex(1)
                                 .ID("GridQualityNCConfirm")
                                 .Store(
                                            X.StoreFormat()
                                                .AutoLoad(true)
                                                .ID("storeQualityNCConfirm")
                                                .Url(Url.Action("GetDataConfirmNC", "QualityNC", new { Area = "Quality" }))
                                                .ModelType(typeof(iDAS.Service.QualityNCBO))
                                        )
                                .ColumnModel(
                                                X.RowNumbererColumnFormat(),
                                                 X.ColumnEncodeFormat().Text("Nội dung sự không phù hợp").DataIndex(Model, m => m.Name).Flex(1),
                                                 X.Column().Text("Mức độ").DataIndex(Model, m => m.TypeText).Align(ColumnAlign.Center).Width(100),
                                                 X.Column().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Align(ColumnAlign.Center).Width(120)
                                            )
                                .Plugins(
                                        X.RowExpander().ExpandOnDblClick(false).ID("ExpanderID")
                                        .Component(
                                                    X.GridPanel().ColumnLines(true).Border(true).MaxHeight(200)
                                                    .Store(X.Store().ID("storeRowExpander").AutoLoad(true)
                                                                    .Proxy(X.AjaxProxy().Url(Url.Action("GetDataRowExpander", "QualityNC")).Reader(X.JsonReader().RootProperty("data")))
                                                                    .Parameters(ps =>
                                                                        {
                                                                            ps.Add(new StoreParameter("Id", "App.GridQualityNCConfirm.selModel.getSelection()[0].data.Id", ParameterMode.Raw));
                                                                        })
                                                                    .Model(X.Model().Fields(
                                                                                            X.ModelField().Name("Id"),
                                                                                            X.ModelField().Name("Name"),
                                                                                            X.ModelField().Name("StatusText")
                                                                                      )
                                                                         )
                                                            ).HideHeaders(true)
                                                    .ColumnModel(
                                                                    X.RowNumbererColumn().Width(46).StyleSpec("border-left:none !important;").Align(ColumnAlign.Center).Align(ColumnAlign.Center),
                                                                    X.ColumnEncodeFormat().DataIndex(Model, m => m.Name).Flex(1),
                                                                    X.Column().DataIndex(Model, m => m.TypeText).Align(ColumnAlign.Center).Width(100),
                                                                    X.Column().DataIndex(Model, m => m.StatusText).Align(ColumnAlign.Center).Width(120)
                                                                )
                                                   .View(X.GridView().Plugins(X.GridDragDrop().DDGroup("gridDDGroup").EnableDrop(false).DragText("Bỏ xác nhận")))             
                                                )
                                    )
                                .BottomBar(X.PagingToolbarFormat())
                                    .View(X.GridView().Plugins(X.GridDragDrop().DDGroup("gridDDGroup").DragText("Bỏ xác nhận"))
                                            .Listeners(ls =>
                                            {
                                                ls.BeforeDrop.Fn = "DropToNCConfirm";
                                            })
                                        .GetRowClass(cls => cls.Fn = "getRowClass").EnableTextSelection(false)
                                    )
                              )
            )
      )
      .Buttons(
                X.ButtonExit()
              )
                  .Bin(
                X.DropTarget()
                       .Target("={#{FormConfirmAdd}.body}")
                       .Group("gridDDGroup")
                       .NotifyEnter(h => h.Fn = "notifyEnter")
                       .NotifyDrop(h => h.Fn = "notifyDropAdd")
                       )
)
<style>
    .blah .x-grid-row-expander {
        visibility: hidden;
    }
</style>
<script>
    var notifyEnter = function (ddSource, e, data) {
        App.FormConfirmAdd.body.stopAnimation();
        App.FormConfirmAdd.body.highlight();
    };
    var notifyDropAdd = function (ddSource, e, data) {
        var selectedRecord = ddSource.dragData.records[0];
        App.FormConfirmAdd.getForm().loadRecord(selectedRecord);
        ddSource.view.store.remove(selectedRecord);
        if (selectedRecord) {
            var id = selectedRecord.data.Id;
            var params = { id: id };
            var url = '@Url.Action("ToConfirm")';
            onDirectMethod(url, params, 'post', function () {
                App.storeQualityNCConfirm.loadPage(1);
            });
        }
        return true;
    };

    var DropToWaitConfirm = function (obj, source, target) {
        var selectedRecord = source.records[0];
        var statust = selectedRecord.data.Status;
        var statustText = selectedRecord.data.StatusText;
        if (statust == '@Convert.ToInt16(iDAS.Service.Common.Resource.QualityNCStatus.Confirm)' || statust == '@Convert.ToInt16(iDAS.Service.Common.Resource.QualityNCStatus.NotConfirm)') {
            if (selectedRecord) {
                var id = selectedRecord.data.Id;
                var params = { id: id };
                var url = '@Url.Action("ToWaitConfirm")';
                onDirectMethod(url, params, 'post', function () {
                    App.storeQualityNCNotConfirm.loadPage(1);
                });
            }
        } else { 
            alert("Xin lỗi bản ghi này đã được " + statustText);
            App.storeQualityNCNotConfirm.loadPage(1);
            App.storeQualityNCConfirm.loadPage(1);
        }
    };
    var DropToNCNotPass = function (obj, source, target) {
        var selectedRecord = source.records[0];
        if (selectedRecord) {
            var id = selectedRecord.data.Id;
            var params = { id: id };
            var url = '@Url.Action("ToNotPass")';
            onDirectMethod(url, params, 'post', function () {
                App.storeQualityNCNotPass.loadPage(1);
            });
        }
    };
    var DropToNCConfirm = function (obj, source, target) {
        var selectedRecord = source.records[0];
        if (target) {
            var targetId = target.id;
            if (selectedRecord && targetId) {
                var id = selectedRecord.data.Id;
                var params = { toId: id, formId: targetId };
                var url = '@Url.Action("ToFromQuality")';
                onDirectMethod(url, params, 'post', function () {
                    App.storeQualityNCConfirm.loadPage(1);
                });
            }
        }
        else {
            App.storeQualityNCConfirm.loadPage(1);
            App.storeQualityNCNotConfirm.loadPage(1);
        }

    };
    var getRowClass = function (record, index, rowParams, ds) {
        if (record.get("CountReferences") == 0) {
            return 'blah';
        };
    };
</script>
