﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.QualityNCConfirmPermissionBO
@{
    var X = Html.X();
    var targetStatus = ViewData["Status"];
    var departmentName = (string)ViewData["departmentName"];
    var departmentId = Guid.Empty;
    if (ViewData["departmentId"] != null)
    {
        departmentId = (Guid)ViewData["departmentId"];
    }
}

@(Html.X().Menu().ID("contextPermissionQualityNC")
    .Items(
                new MenuItem { Text = "Chi tiết", IconCls = "x-fa fa-pencil", Handler = "onDetailPermissionQualityNC()" },
                new MenuItem { Text = "Xóa", IconCls = "x-fa fa-trash-o", Handler = "onDeletePermissionQualityNC()" }
    )
)

@(X.Container()
    .Layout(LayoutType.Border)
    .Height(1)
    .Items(
        X.Panel().Region(Region.Center)
        .MarginSpec("-1 -1 -1 -1")
        .Layout(LayoutType.Fit)
        .Items(
            X.GridPanelFormat()
            .ID("grPermissionQualityNC")
            .TopBarItem(
            X.Button()
            .Text("Gán quyền")
            .ID("btnQualityNCPermission")
            .IconCls("x-fa fa-plus-circle")
            .DirectEvents(
            de =>
            {
                //de.Click.ExtraParams.Add(new { CategoryId = new JRawValue("App.hdfTargetCategory.getValue()") });
                //de.Click.ExtraParams.Add(new { departmentId = new JRawValue("App.cbtreeTargetDepartmentId.getValue()") });
                de.Click.ExtraParams.Add(new { departmentId = new JRawValue("App.cbtreeQualityNCPermissionDepartmentId.getValue()") });
                de.Click.Url = Url.Action("InsertSettingQualityNC", "QualityNC");
            }),
           
            X.ToolbarFill(),
            X.ComboboxTreeFormat()
                .Multiple(false)
                    .ID("cbtreeQualityNCPermissionDepartmentId")
                .Text(departmentName)
                .Value(departmentId)
                .Width(300)
                .Listeners(ls =>
                {
                    ls.Change.Handler = "App.storeQualityNC.reload()";
                }),
             X.ButtonRefreshPanel()

            )
            .Store(
                X.StoreFormat()
                 .AutoLoad(true).Listeners(ls => ls.Load.Handler = "App.grQualityNC.selModel.deselectAll();")
                 .ID("storePermissionQualityNC")
                 .Url(Url.Action("GetDataPermission", "QualityNC", new { Area = "Quality" }))
                 .ModelType(typeof(iDAS.Service.QualityNCConfirmPermissionBO))
                .Parameters(
                pr =>
                {
                    pr.Add(new StoreParameter("departmentId", "App.cbtreeQualityNCPermissionDepartmentId.getValue()", ParameterMode.Raw));
                }))
            .ColumnModel(
                    X.RowNumbererColumnFormat(),
                      Html.X().Column().DataIndex("Id").Renderer(new Renderer { Fn = "renderRoleComlumn" })
                        .Text("Danh sách chức danh, nhân sự được gán quyền").Flex(1)
                )
                .Listeners(ls =>
                {
                    ls.BeforeItemContextMenu.Fn = "oncontextMenuPermissionQualityNC";
                })
        )
    )
)

<script>
    var oncontextMenuPermissionQualityNC = function (s, r, d, o, e, eOpts) {
        e.stopEvent();
        App.contextPermissionQualityNC.showAt(e.getX(), e.getY() - 75);
    };

    var renderRoleComlumn = function (value, meta, record) {
        var image = '';
        var name = '';
        if (record.data.IsEmployee) {
            image = '<img src="' + record.data.Employee.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
            name = '<span style="margin-left: 42px;">' + Ext.htmlEncode(record.data.Employee.Name) + '</span><br/>';
            var titleNames = '<span style="margin-left: 42px;font-size:10px;"><b>Chức danh</b>: ' + record.data.Employee.RoleNames + '</span>';
            result = '<span>' + image + name + titleNames + '</span>';
        }
        else {
            image = '<span  style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid"><i style="margin-left: 1.5px; margin-top: 0.5px;" class="fa fa-star-o fa-2x"></i></span>';
            name = '<span style="margin-left: 42px;">' + Ext.htmlEncode(record.data.DepartmentTitle.Name) + '</span><br/>';
            var departmentName = '<span style="margin-left: 42px;font-size:10px;"><b>Đơn vị:</b>: ' + record.data.DepartmentTitle.DepartmentName + '</span>';
            result = '<span>' + image + name + departmentName + '</span>';
        }
        return result;
    };
    var onListRequestQualityNC = function () {
        var id = App.grQualityNC.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { id: id };
            var url = '@Url.Action("FormRequestCAPA", "QualityNC")';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };
    var onListQualityPerformNC = function () {
        var id = App.grQualityNC.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { id: id };
            var url = '@Url.Action("FormPerformCAPA", "QualityNC")';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };

    var onFormApproval = function () {
        var id = App.grQualityNC.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { QualityNCId: id };
            var url = '@Url.Action("FormApproval", "QualityNC")';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };


    var onDestroyQualityNC = function () {
        var id = App.grQualityNC.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { Id: id };
            var url = '@Url.Action("DestroyQualityNC", "QualityNC")';
            onDirectMethod(url, params);
            App.storeQualityNC.reload();
        } else {
            MessageBox();
        }
    };


    var onDetailPermissionQualityNC = function () {
        var id = App.grPermissionQualityNC.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { id: id };
            var url = '@Url.Action("FormUpdateSettingQualityNC", "QualityNC")';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };

    var onMemberRelation = function (id) {
        if (id != '') {
            var params = { QualityNCId : id };
            var url = '@Url.Action("FormQualityNCRelation", "QualityNC")';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };

    var MemberRelationRender = function (value, metadata, record, rowIndex, colIndex, store, view) {

        var html = record.data.MeetingMemmberJoinCount == 1 ?
            Ext.String.format('<a href="javascript:void(0)" onclick="onMemberRelation(\'{0}\')">{1}</a>', record.data.Id, record.data.MemberRelation) :
            Ext.String.format('<a href="javascript:void(0)" onclick="onMemberRelation(\'{0}\')"><strong>{1}</strong></a>', record.data.Id, record.data.MemberRelation);
        return html;
    };

    var onDeletePermissionQualityNC = function () {
        var records = App.grPermissionQualityNC.selModel.getSelection();
        if (records.length > 0) {
            var id = records[0].data.Id;
            Ext.MessageBox.show({
                title: '@iDAS.Presentation.Common.Resource.Confirm', msg: '@iDAS.Presentation.Common.Resource.ConfirmDelete',
                buttons: { yes: 'Đồng ý', no: 'Không' },
                iconCls: '#Information',
                fn: function (btn) {
                    if (btn == 'yes') {
                        Ext.net.DirectMethod.request({
                            url: '@Url.Action("DeletePermission", "QualityNC", new { Area = "Quality" })',
                            params: { id: id },
                            success: function (result) {
                                App.storePermissionQualityNC.reload();
                            }
                        });
                    }
                }
            });
        }
    };


</script>

