﻿@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
    var multi = (bool)ViewData["ModeMulti"] ? SelectionMode.Multi : SelectionMode.Single;
    var UrlLoadData = ViewData["UrlLoadData"];
}
@(X.Panel()
.Border(false)
.Layout(LayoutType.Border)
.Items(
X.Hidden().ID("hdfEmployeeViewDeparmentSelect"),
X.DepartmentPanel().Handler("onDepartmentSelectedForEmployeeView").ID("pnDepartment").Hidden(true),
 Html.X().GridPanel()
            .Title("Danh sách nhân viên")
            .ID("GridPanelEmployeeView")
            .ColumnLines(true)
            .Header(false)
            .Resizable(false)
            .Region(Region.Center)
            .IconCls("x-fa fa-users")
            .Flex(2)
            .TopBarItem(
            Html.X().Container()
                .Layout(LayoutType.HBox)
                .Flex(1)
                .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
                .Items(
                    Html.X().TextField()
                            .ID("txtSearchEmployee")
                            .Flex(1)
                            .RightButtons(
                            X.Button()
                            .IconCls("x- fa fa-search-plus")
                            )
                            .Listeners(ls => ls.Change.Handler = "this.up('gridpanel').getStore().reload();")
                            .EmptyText("Nhập tên nhân sự"),
                        Html.X().Checkbox().BoxLabel("Theo phòng ban").ID("chkFilterDepartment").MarginSpec("0 0 0 5").Listeners(ls => ls.Change.Handler = "if(this.value){App.pnDepartment.show();}else{App.pnDepartment.hide();} App.stCommonEmployees.reload();")
                    )

            )
            .Store(Html.X().Store()
            .AutoLoad(false)
            .ID("stCommonEmployees")
            .Proxy(Html.X().AjaxProxy()
            .Url(string.IsNullOrEmpty(UrlLoadData.ToString()) ? Url.Action("LoadCommonEmployees", "Organization") : UrlLoadData.ToString())
            .Reader(Html.X().JsonReader().RootProperty("data")))
            .Parameters(ps =>
                    {
                        ps.Add(new StoreParameter("departmentId", "App.hdfEmployeeViewDeparmentSelect.value", ParameterMode.Raw));
                        ps.Add(new StoreParameter("query", "App.txtSearchEmployee.value", ParameterMode.Raw));
                        ps.Add(new StoreParameter("isFilterDepartment", "App.chkFilterDepartment.value", ParameterMode.Raw));
                    })
            .PageSize(10)
            .Model(Html.X().Model()
            .Fields(
                    Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                    Html.X().ModelField().Name("Avatar").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("AvatarUrl").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("Name").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("BirthDay").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("Email").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("GenderName").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("PhoneNumber").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("RoleNames").Type(ModelFieldType.String)
                )
            )
            )
            .ColumnModel(
                Html.X().RowNumbererColumn()
                .Text("TT")
                .Width(40)
                .Align(ColumnAlign.Center),
                    Html.X().TemplateColumn()
                    .DataIndex("AvatarUrl")
                    .Width(50)
                    .Filterable(false)
                    .Tpl(
                    Html.X().XTemplate()
                    .Html(@<text>
                        <img src="{AvatarUrl}" style='height: 35px !important; width: 30px !important; border: 2px solid #E6E6E6 !important; display: inline-block !important; ' />
                    </text>)
                        ),
                        Html.X().Column().DataIndex("Name").Flex(1).Text("Họ tên"),
                        Html.X().Column().DataIndex("Email").Width(140).Text("Email"),
                        Html.X().Column().DataIndex("PhoneNumber").Width(120).Text("Điện thoại")
                )
                .SelectionModel(
                        Html.X().RowSelectionModel()
                            .Mode(SelectionMode.Single)
                    )
                .BottomBar(
                Html.X().PagingToolbar()
                )
        )
)
<script>
    function onDepartmentSelectedForEmployeeView(records) {
        if (records.length > 0) {
            App.hdfEmployeeViewDeparmentSelect.setValue(records[0].get('id'));
            App.GridPanelEmployeeView.getStore().reload();
        };
    };
</script>