﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
}
@(X.WindowSlide().WindowLayout(LayoutType.VBox)
    .ID("windowPermission")
    .Title("Phân quyền truy cập tài liệu")
    .IconCls("x-fa fa-lock")
    .Items(
        X.GridPanel()
        .TopBar(
        X.Toolbar().Items(
            X.ComboboxTreeFormat().Flex(1).ID("cbbPermissionObject").DisableSelectEmployee(false).ShowEmployee(true).DisableSelectTitle(false).ShowTitle(true).DisableSelectDepartment(true),
            X.Button().Text("Lưu").IconCls("x-fa fa-floppy-o").OnClientClick("saveToGrid")
        ))
        .ID("gridPermission")
        .Border(false)
        .Flex(1)
        .MarginSpec("-2 0 0 0")
        .Store(
        X.Store()
        .AutoLoad(true)
        .ID("storePermission")
            .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData"))
            .Reader(Html.X().JsonReader().RootProperty("data").IDProperty("ObjectId")))
            .Parameters(pr => pr.Add(new StoreParameter("documentId", Model)))
            .ModelType(typeof(DocumentPermissionBO))
        )
        .ColumnModel(
            X.RowNumbererColumnFormat().Width(60),
                    X.Column().Text("Đối tượng").Flex(1).Renderer(new Renderer { Fn = "renderObjectComlumn" }),
                    X.CheckColumn().Text("Xem").DataIndex("AllowView").HeaderCheckbox(true).Editable(true).Listeners(ls => ls.CheckChange.Fn = "CheckColumnChange"),
                    X.CheckColumn().Text("Download").DataIndex("AllowDownload").HeaderCheckbox(true).Editable(true).Listeners(ls => ls.CheckChange.Fn = "CheckColumnChange"),
                    X.CheckColumn().Text("Cho phép").DataIndex("Allow").HeaderCheckbox(true).Editable(true)
                    .Listeners(
                        ls => ls.CheckChange.Handler = "function(s,rowIndex,rowData){ if( rowData.data.Allow == true){ rowData.set('Disallow',false);rowData.set('AllowView',true);rowData.set('AllowDownload',true); }}"
                    ),
                    X.CheckColumn().Width(160).Text("Không cho phép").DataIndex("Disallow").HeaderCheckbox(true).Editable(true)
                    .Listeners(
                        ls => ls.CheckChange.Handler = "function(s,rowIndex,rowData){ if( rowData.data.Disallow == true){ rowData.set('Allow',false);rowData.set('AllowView',false);rowData.set('AllowDownload',false); }}"
                    )
            )
    )
    .Buttons(
            X.ButtonSave().OnClientClick("SavePermission"),
            X.ButtonExit())
)

<script type="text/javascript">
    var CheckColumnChange = function (s, rowIndex, rowData) {
        if (rowData.data.AllowView && rowData.data.AllowDownload) {
            rowData.set('Allow', true);
        }
        if (rowData.data.AllowView || rowData.data.AllowDownload) {
            rowData.set('Disallow', false);
        }
        if (!rowData.data.AllowView || !rowData.data.AllowDownload) {
            rowData.set('Allow', false);
        }
        if (!rowData.data.AllowView && !rowData.data.AllowDownload) {
            rowData.set('Disallow', true);
        }
    };
    var SavePermission = function (sender) {
        var data = [];
        for (var i = 0; i < App.storePermission.data.length; i++) {
            var item = {};
            item.Id = App.storePermission.data.items[i].data.Id;
            item.DocumentId = '@Model';
            item.ObjectId = App.storePermission.data.items[i].data.ObjectId;
            item.ObjectName = App.storePermission.data.items[i].data.ObjectName;
            item.ObjectType = App.storePermission.data.items[i].data.ObjectType;
            item.AllowView = App.storePermission.data.items[i].data.AllowView;
            item.AllowDownload = App.storePermission.data.items[i].data.AllowDownload;
            item.FromView = App.storePermission.data.items[i].data.FromView;
            data.push(item);
        }
        Ext.Ajax.request({
            url: '@Url.Action("Update")',
            params: { dataJson: JSON.stringify(data) },
            success: function (response) {
                var wd = sender.up('window');
                wd.el.slideOut('r', { duration: 500 });
                setTimeout(function () { wd.doDestroy(); }, 500);
            },
            failure: function (err) {
                ShowSystemErrorMessage();
            }
        });
    };
    var renderObjectComlumn = function (value, meta, record) {
        var title = '';
        var result = record.data.ObjectName;
        var image = '';
        var name = '';
        if (record.data.ObjectType == "Employee") {
            title = '<span style="margin-left: 44px;font-size:10px;">Tổng giám đốc</span></span>';
            image = '<img src="' + record.data.ObjectImage + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
            name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.ObjectName) + '</span><br/>';
        }
        else {
            title = '<span style="margin-left: 44px;font-size:10px;"></span></span>';
            if (record.data.ObjectType == "Title") {
                image = '<i class="fa fa-star-o fa-2x"></i>';
            }
            else {
                image = '<i class="fa fa-home fa-2x"></i>';
            }
            name = '<span style="margin-bottom:3px; margin-left: 15px;">' + Ext.htmlEncode(record.data.ObjectName) + '</span><br/>';
        }
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
    var saveToGrid = function () {
        
        var id = App.cbbPermissionObject.getValue();
        var name = App.cbbPermissionObject.getText();
        var ids = {};
        var names = {};
        ids = id.split(',');
        names = name.split(',');
        if (id != null && id != undefined && name != '') {
            for (var i = 0; i < ids.length; i++) {
                if (Ext.StoreMgr.lookup(App.storePermission).findExact('ObjectId', ids[i]) < 0) {
                    App.storePermission.insert(0, { ObjectId: ids[i], ObjectName: names[i] , FromView : true});
                }
            }
        }
        App.gridPermission.getView().refresh();
    };

</script>
