﻿.x-window-chat {
    border-color: #66717B;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

.x-window-chat {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 0 0 0;
    border-width: 1px;
    /*border-bottom: 2px solid;*/
    border-style: solid;
    background-color: #fff;
}

.x-window-chat-mc {
    background-color: #fff;
}

.x-nbr .x-window-chat {
    padding: 0 !important;
    border-width: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent !important;
    box-shadow: none !important;
}

.x-window-chat-frameInfo {
    font-family: dh-2-2-2-2-2-2-2-2-0px-0px-0px-0px;
}

.x-window-chat-tl {
    background-position: 0 -4px;
}

.x-window-chat-tr {
    background-position: right -6px;
}

.x-window-chat-bl {
    background-position: 0 -8px;
}

.x-window-chat-br {
    background-position: right -10px;
}

.x-window-chat-ml {
    background-position: 0 top;
}

.x-window-chat-mr {
    background-position: right top;
}

.x-window-chat-tc {
    background-position: 0 0;
}

.x-window-chat-bc {
    background-position: 0 -2px;
}

.x-window-chat-tr, .x-window-chat-br, .x-window-chat-mr {
    padding-right: 2px;
}

.x-window-chat-tl, .x-window-chat-bl, .x-window-chat-ml {
    padding-left: 2px;
}

.x-window-chat-tc {
    height: 2px;
}

.x-window-chat-bc {
    height: 2px;
}

.x-window-chat-tl, .x-window-chat-bl, .x-window-chat-tr, .x-window-chat-br, .x-window-chat-tc, .x-window-chat-bc, .x-window-chat-ml, .x-window-chat-mr {
    background-image: url(images/window/window-default-corners.gif);
}

.x-window-chat-ml, .x-window-chat-mr {
    background-image: url(images/window/window-default-sides.gif);
    background-repeat: repeat-y;
}

.x-window-chat-mc {
    padding: 0px 0px 0px 0px;
}

.x-cmd-slicer.x-window-chat:before {
    display: none;
    content: "x-slicer:, frame:2px 2px 2px 2px, corners:url(images/window/window-default-corners.gif), sides:url(images/window/window-default-sides.gif)" !important;
}

.x-window-body-chat {
    /*border-color: #8C8C8C;
    border-width: 1px;
    border-style: solid;*/
    border:none;
    background: #fff;
    color: #000;
    font-size: 13px;
    font-weight: 100;
    font-family: 'sans-serif', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
}

.x-window-header-chat {
    font-size: 16px;
    border-color: #34495E;
    background-color: #34495E;
}

    .x-window-header-chat .x-tool-img {
        background-color: #34495E;
    }

.x-window-header-chat-horizontal .x-window-header-chat-tab-bar {
    margin-top: -10px;
    margin-bottom: -10px;
}

.x-window-header-chat-vertical .x-window-header-chat-tab-bar {
    margin-right: -10px;
    margin-left: -10px;
}

.x-window-header-title-chat {
    color: #f0f0f0;
    font-size: 13px;
    font-weight: 500;
    font-family: 'sans-serif', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    line-height: 20px;
}

    .x-window-header-title-chat > .x-title-text-chat {
        padding: 0;
        text-transform: none;
    }

    .x-window-header-title-chat > .x-title-icon-wrap-chat.x-title-icon-top {
        height: 24px;
        padding-bottom: 8px;
    }

    .x-window-header-title-chat > .x-title-icon-wrap-chat.x-title-icon-right {
        width: 24px;
        padding-left: 8px;
    }

    .x-window-header-title-chat > .x-title-icon-wrap-chat.x-title-icon-bottom {
        height: 24px;
        padding-top: 8px;
    }

    .x-window-header-title-chat > .x-title-icon-wrap-chat.x-title-icon-left {
        width: 24px;
        padding-right: 8px;
    }

    .x-window-header-title-chat > .x-title-icon-wrap-chat > .x-title-icon-chat {
        width: 16px;
        height: 16px;
        font-size: 16px;
        color: #f0f0f0;
        background-position: center center;
    }

.x-ie8 .x-window-header-title-chat > .x-title-icon-wrap-chat > .x-title-icon-chat.x-title-glyph {
    color: #f0f0f0;
}

.x-window-header-chat-top {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 4px 10px 4px 10px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    background-color: #34495E;
}

.x-window-header-chat-top-mc {
    background-color: #34495E;
}

.x-nbr .x-window-header-chat-top {
    padding: 0 !important;
    border-width: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent !important;
    box-shadow: none !important;
}

.x-window-header-chat-top-frameInfo {
    font-family: dh-2-2-2-2-2-2-2-2-10-14-10-14;
}

.x-window-header-chat-top-tl {
    background-position: 0 -4px;
}

.x-window-header-chat-top-tr {
    background-position: right -6px;
}

.x-window-header-chat-top-bl {
    background-position: 0 -8px;
}

.x-window-header-chat-top-br {
    background-position: right -10px;
}

.x-window-header-chat-top-ml {
    background-position: 0 top;
}

.x-window-header-chat-top-mr {
    background-position: right top;
}

.x-window-header-chat-top-tc {
    background-position: 0 0;
}

.x-window-header-chat-top-bc {
    background-position: 0 -2px;
}

.x-window-header-chat-top-tr, .x-window-header-chat-top-br, .x-window-header-chat-top-mr {
    padding-right: 2px;
}

.x-window-header-chat-top-tl, .x-window-header-chat-top-bl, .x-window-header-chat-top-ml {
    padding-left: 2px;
}

.x-window-header-chat-top-tc {
    height: 2px;
}

.x-window-header-chat-top-bc {
    height: 2px;
}

.x-window-header-chat-top-tl, .x-window-header-chat-top-bl, .x-window-header-chat-top-tr, .x-window-header-chat-top-br, .x-window-header-chat-top-tc, .x-window-header-chat-top-bc, .x-window-header-chat-top-ml, .x-window-header-chat-top-mr {
    background-image: url(images/window-header/window-header-default-top-corners.gif);
}

.x-window-header-chat-top-ml, .x-window-header-chat-top-mr {
    background-image: url(images/window-header/window-header-default-top-sides.gif);
    background-repeat: repeat-y;
}

.x-window-header-chat-top-mc {
    padding: 10px 14px 10px 14px;
}

.x-cmd-slicer.x-window-header-chat-top:before {
    display: none;
    content: "x-slicer:, frame:2px 2px 2px 2px, corners:url(images/window-header/window-header-default-top-corners.gif), sides:url(images/window-header/window-header-default-top-sides.gif)" !important;
}

.x-window-header-chat-right {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px 10px 14px 10px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    background-color: #34495E;
}

.x-window-header-chat-right-mc {
    background-color: #34495E;
}

.x-nbr .x-window-header-chat-right {
    padding: 0 !important;
    border-width: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent !important;
    box-shadow: none !important;
}

.x-window-header-chat-right-frameInfo {
    font-family: dh-2-2-2-2-2-2-2-2-14-10-14-10;
}

.x-window-header-chat-right-tl {
    background-position: 0 -4px;
}

.x-window-header-chat-right-tr {
    background-position: right -6px;
}

.x-window-header-chat-right-bl {
    background-position: 0 -8px;
}

.x-window-header-chat-right-br {
    background-position: right -10px;
}

.x-window-header-chat-right-ml {
    background-position: 0 top;
}

.x-window-header-chat-right-mr {
    background-position: right top;
}

.x-window-header-chat-right-tc {
    background-position: 0 0;
}

.x-window-header-chat-right-bc {
    background-position: 0 -2px;
}

.x-window-header-chat-right-tr, .x-window-header-chat-right-br, .x-window-header-chat-right-mr {
    padding-right: 2px;
}

.x-window-header-chat-right-tl, .x-window-header-chat-right-bl, .x-window-header-chat-right-ml {
    padding-left: 2px;
}

.x-window-header-chat-right-tc {
    height: 2px;
}

.x-window-header-chat-right-bc {
    height: 2px;
}

.x-window-header-chat-right-tl, .x-window-header-chat-right-bl, .x-window-header-chat-right-tr, .x-window-header-chat-right-br, .x-window-header-chat-right-tc, .x-window-header-chat-right-bc, .x-window-header-chat-right-ml, .x-window-header-chat-right-mr {
    background-image: url(images/window-header/window-header-default-right-corners.gif);
}

.x-window-header-chat-right-ml, .x-window-header-chat-right-mr {
    background-image: url(images/window-header/window-header-default-right-sides.gif);
    background-repeat: repeat-y;
}

.x-window-header-chat-right-mc {
    padding: 14px 10px 14px 10px;
}

.x-cmd-slicer.x-window-header-chat-right:before {
    display: none;
    content: "x-slicer:, frame:2px 2px 2px 2px, corners:url(images/window-header/window-header-default-right-corners.gif), sides:url(images/window-header/window-header-default-right-sides.gif)" !important;
}

.x-window-header-chat-bottom {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 14px 10px 14px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    background-color: #34495E;
}

.x-window-header-chat-bottom-mc {
    background-color: #34495E;
}

.x-nbr .x-window-header-chat-bottom {
    padding: 0 !important;
    border-width: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent !important;
    box-shadow: none !important;
}

.x-window-header-chat-bottom-frameInfo {
    font-family: dh-2-2-2-2-2-2-2-2-10-14-10-14;
}

.x-window-header-chat-bottom-tl {
    background-position: 0 -4px;
}

.x-window-header-chat-bottom-tr {
    background-position: right -6px;
}

.x-window-header-chat-bottom-bl {
    background-position: 0 -8px;
}

.x-window-header-chat-bottom-br {
    background-position: right -10px;
}

.x-window-header-chat-bottom-ml {
    background-position: 0 top;
}

.x-window-header-chat-bottom-mr {
    background-position: right top;
}

.x-window-header-chat-bottom-tc {
    background-position: 0 0;
}

.x-window-header-chat-bottom-bc {
    background-position: 0 -2px;
}

.x-window-header-chat-bottom-tr, .x-window-header-chat-bottom-br, .x-window-header-chat-bottom-mr {
    padding-right: 2px;
}

.x-window-header-chat-bottom-tl, .x-window-header-chat-bottom-bl, .x-window-header-chat-bottom-ml {
    padding-left: 2px;
}

.x-window-header-chat-bottom-tc {
    height: 2px;
}

.x-window-header-chat-bottom-bc {
    height: 2px;
}

.x-window-header-chat-bottom-tl, .x-window-header-chat-bottom-bl, .x-window-header-chat-bottom-tr, .x-window-header-chat-bottom-br, .x-window-header-chat-bottom-tc, .x-window-header-chat-bottom-bc, .x-window-header-chat-bottom-ml, .x-window-header-chat-bottom-mr {
    background-image: url(images/window-header/window-header-default-bottom-corners.gif);
}

.x-window-header-chat-bottom-ml, .x-window-header-chat-bottom-mr {
    background-image: url(images/window-header/window-header-default-bottom-sides.gif);
    background-repeat: repeat-y;
}

.x-window-header-chat-bottom-mc {
    padding: 10px 14px 10px 14px;
}

.x-cmd-slicer.x-window-header-chat-bottom:before {
    display: none;
    content: "x-slicer:, frame:2px 2px 2px 2px, corners:url(images/window-header/window-header-default-bottom-corners.gif), sides:url(images/window-header/window-header-default-bottom-sides.gif)" !important;
}

.x-window-header-chat-left {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px 10px 14px 10px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    background-color: #34495E;
}

.x-window-header-chat-left-mc {
    background-color: #34495E;
}

.x-nbr .x-window-header-chat-left {
    padding: 0 !important;
    border-width: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent !important;
    box-shadow: none !important;
}

.x-window-header-chat-left-frameInfo {
    font-family: dh-2-2-2-2-2-2-2-2-14-10-14-10;
}

.x-window-header-chat-left-tl {
    background-position: 0 -4px;
}

.x-window-header-chat-left-tr {
    background-position: right -6px;
}

.x-window-header-chat-left-bl {
    background-position: 0 -8px;
}

.x-window-header-chat-left-br {
    background-position: right -10px;
}

.x-window-header-chat-left-ml {
    background-position: 0 top;
}

.x-window-header-chat-left-mr {
    background-position: right top;
}

.x-window-header-chat-left-tc {
    background-position: 0 0;
}

.x-window-header-chat-left-bc {
    background-position: 0 -2px;
}

.x-window-header-chat-left-tr, .x-window-header-chat-left-br, .x-window-header-chat-left-mr {
    padding-right: 2px;
}

.x-window-header-chat-left-tl, .x-window-header-chat-left-bl, .x-window-header-chat-left-ml {
    padding-left: 2px;
}

.x-window-header-chat-left-tc {
    height: 2px;
}

.x-window-header-chat-left-bc {
    height: 2px;
}

.x-window-header-chat-left-tl, .x-window-header-chat-left-bl, .x-window-header-chat-left-tr, .x-window-header-chat-left-br, .x-window-header-chat-left-tc, .x-window-header-chat-left-bc, .x-window-header-chat-left-ml, .x-window-header-chat-left-mr {
    background-image: url(images/window-header/window-header-default-left-corners.gif);
}

.x-window-header-chat-left-ml, .x-window-header-chat-left-mr {
    background-image: url(images/window-header/window-header-default-left-sides.gif);
    background-repeat: repeat-y;
}

.x-window-header-chat-left-mc {
    padding: 14px 10px 14px 10px;
}

.x-cmd-slicer.x-window-header-chat-left:before {
    display: none;
    content: "x-slicer:, frame:2px 2px 2px 2px, corners:url(images/window-header/window-header-default-left-corners.gif), sides:url(images/window-header/window-header-default-left-sides.gif)" !important;
}

.x-window-header-chat-collapsed-top {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    /*padding: 10px 14px 10px 14px;*/
    border-width: 2px;
    border-style: solid;
    background-color: #34495E;
}

.x-window-header-chat-collapsed-top-mc {
    background-color: #34495E;
}

.x-nbr .x-window-header-chat-collapsed-top {
    padding: 0 !important;
    border-width: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent !important;
    box-shadow: none !important;
}

.x-window-header-chat-collapsed-top-frameInfo {
    font-family: dh-2-2-2-2-2-2-2-2-10-14-10-14;
}

.x-window-header-chat-collapsed-top-tl {
    background-position: 0 -4px;
}

.x-window-header-chat-collapsed-top-tr {
    background-position: right -6px;
}

.x-window-header-chat-collapsed-top-bl {
    background-position: 0 -8px;
}

.x-window-header-chat-collapsed-top-br {
    background-position: right -10px;
}

.x-window-header-chat-collapsed-top-ml {
    background-position: 0 top;
}

.x-window-header-chat-collapsed-top-mr {
    background-position: right top;
}

.x-window-header-chat-collapsed-top-tc {
    background-position: 0 0;
}

.x-window-header-chat-collapsed-top-bc {
    background-position: 0 -2px;
}

.x-window-header-chat-collapsed-top-tr, .x-window-header-chat-collapsed-top-br, .x-window-header-chat-collapsed-top-mr {
    padding-right: 2px;
}

.x-window-header-chat-collapsed-top-tl, .x-window-header-chat-collapsed-top-bl, .x-window-header-chat-collapsed-top-ml {
    padding-left: 2px;
}

.x-window-header-chat-collapsed-top-tc {
    height: 2px;
}

.x-window-header-chat-collapsed-top-bc {
    height: 2px;
}

.x-window-header-chat-collapsed-top-tl, .x-window-header-chat-collapsed-top-bl, .x-window-header-chat-collapsed-top-tr, .x-window-header-chat-collapsed-top-br, .x-window-header-chat-collapsed-top-tc, .x-window-header-chat-collapsed-top-bc, .x-window-header-chat-collapsed-top-ml, .x-window-header-chat-collapsed-top-mr {
    background-image: url(images/window-header/window-header-default-collapsed-top-corners.gif);
}

.x-window-header-chat-collapsed-top-ml, .x-window-header-chat-collapsed-top-mr {
    background-image: url(images/window-header/window-header-default-collapsed-top-sides.gif);
    background-repeat: repeat-y;
}

.x-window-header-chat-collapsed-top-mc {
    padding: 10px 14px 10px 14px;
}

.x-cmd-slicer.x-window-header-chat-collapsed-top:before {
    display: none;
    content: "x-slicer:, frame:2px 2px 2px 2px, corners:url(images/window-header/window-header-default-collapsed-top-corners.gif), sides:url(images/window-header/window-header-default-collapsed-top-sides.gif)" !important;
}

.x-window-header-chat-collapsed-right {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px 10px 14px 10px;
    border-width: 2px;
    border-style: solid;
    background-color: #34495E;
}

.x-window-header-chat-collapsed-right-mc {
    background-color: #34495E;
}

.x-nbr .x-window-header-chat-collapsed-right {
    padding: 0 !important;
    border-width: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent !important;
    box-shadow: none !important;
}

.x-window-header-chat-collapsed-right-frameInfo {
    font-family: dh-2-2-2-2-2-2-2-2-14-10-14-10;
}

.x-window-header-chat-collapsed-right-tl {
    background-position: 0 -4px;
}

.x-window-header-chat-collapsed-right-tr {
    background-position: right -6px;
}

.x-window-header-chat-collapsed-right-bl {
    background-position: 0 -8px;
}

.x-window-header-chat-collapsed-right-br {
    background-position: right -10px;
}

.x-window-header-chat-collapsed-right-ml {
    background-position: 0 top;
}

.x-window-header-chat-collapsed-right-mr {
    background-position: right top;
}

.x-window-header-chat-collapsed-right-tc {
    background-position: 0 0;
}

.x-window-header-chat-collapsed-right-bc {
    background-position: 0 -2px;
}

.x-window-header-chat-collapsed-right-tr, .x-window-header-chat-collapsed-right-br, .x-window-header-chat-collapsed-right-mr {
    padding-right: 2px;
}

.x-window-header-chat-collapsed-right-tl, .x-window-header-chat-collapsed-right-bl, .x-window-header-chat-collapsed-right-ml {
    padding-left: 2px;
}

.x-window-header-chat-collapsed-right-tc {
    height: 2px;
}

.x-window-header-chat-collapsed-right-bc {
    height: 2px;
}

.x-window-header-chat-collapsed-right-tl, .x-window-header-chat-collapsed-right-bl, .x-window-header-chat-collapsed-right-tr, .x-window-header-chat-collapsed-right-br, .x-window-header-chat-collapsed-right-tc, .x-window-header-chat-collapsed-right-bc, .x-window-header-chat-collapsed-right-ml, .x-window-header-chat-collapsed-right-mr {
    background-image: url(images/window-header/window-header-default-collapsed-right-corners.gif);
}

.x-window-header-chat-collapsed-right-ml, .x-window-header-chat-collapsed-right-mr {
    background-image: url(images/window-header/window-header-default-collapsed-right-sides.gif);
    background-repeat: repeat-y;
}

.x-window-header-chat-collapsed-right-mc {
    padding: 14px 10px 14px 10px;
}

.x-cmd-slicer.x-window-header-chat-collapsed-right:before {
    display: none;
    content: "x-slicer:, frame:2px 2px 2px 2px, corners:url(images/window-header/window-header-default-collapsed-right-corners.gif), sides:url(images/window-header/window-header-default-collapsed-right-sides.gif)" !important;
}

.x-window-header-chat-collapsed-bottom {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 14px 10px 14px;
    border-width: 2px;
    border-style: solid;
    background-color: #34495E;
}

.x-window-header-chat-collapsed-bottom-mc {
    background-color: #34495E;
}

.x-nbr .x-window-header-chat-collapsed-bottom {
    padding: 0 !important;
    border-width: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent !important;
    box-shadow: none !important;
}

.x-window-header-chat-collapsed-bottom-frameInfo {
    font-family: dh-2-2-2-2-2-2-2-2-10-14-10-14;
}

.x-window-header-chat-collapsed-bottom-tl {
    background-position: 0 -4px;
}

.x-window-header-chat-collapsed-bottom-tr {
    background-position: right -6px;
}

.x-window-header-chat-collapsed-bottom-bl {
    background-position: 0 -8px;
}

.x-window-header-chat-collapsed-bottom-br {
    background-position: right -10px;
}

.x-window-header-chat-collapsed-bottom-ml {
    background-position: 0 top;
}

.x-window-header-chat-collapsed-bottom-mr {
    background-position: right top;
}

.x-window-header-chat-collapsed-bottom-tc {
    background-position: 0 0;
}

.x-window-header-chat-collapsed-bottom-bc {
    background-position: 0 -2px;
}

.x-window-header-chat-collapsed-bottom-tr, .x-window-header-chat-collapsed-bottom-br, .x-window-header-chat-collapsed-bottom-mr {
    padding-right: 2px;
}

.x-window-header-chat-collapsed-bottom-tl, .x-window-header-chat-collapsed-bottom-bl, .x-window-header-chat-collapsed-bottom-ml {
    padding-left: 2px;
}

.x-window-header-chat-collapsed-bottom-tc {
    height: 2px;
}

.x-window-header-chat-collapsed-bottom-bc {
    height: 2px;
}

.x-window-header-chat-collapsed-bottom-tl, .x-window-header-chat-collapsed-bottom-bl, .x-window-header-chat-collapsed-bottom-tr, .x-window-header-chat-collapsed-bottom-br, .x-window-header-chat-collapsed-bottom-tc, .x-window-header-chat-collapsed-bottom-bc, .x-window-header-chat-collapsed-bottom-ml, .x-window-header-chat-collapsed-bottom-mr {
    background-image: url(images/window-header/window-header-default-collapsed-bottom-corners.gif);
}

.x-window-header-chat-collapsed-bottom-ml, .x-window-header-chat-collapsed-bottom-mr {
    background-image: url(images/window-header/window-header-default-collapsed-bottom-sides.gif);
    background-repeat: repeat-y;
}

.x-window-header-chat-collapsed-bottom-mc {
    padding: 10px 14px 10px 14px;
}

.x-cmd-slicer.x-window-header-chat-collapsed-bottom:before {
    display: none;
    content: "x-slicer:, frame:2px 2px 2px 2px, corners:url(images/window-header/window-header-default-collapsed-bottom-corners.gif), sides:url(images/window-header/window-header-chat-collapsed-bottom-sides.gif)" !important;
}

.x-window-header-chat-collapsed-left {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px 10px 14px 10px;
    border-width: 2px;
    border-style: solid;
    background-color: #34495E;
}

.x-window-header-chat-collapsed-left-mc {
    background-color: #34495E;
}

.x-nbr .x-window-header-chat-collapsed-left {
    padding: 0 !important;
    border-width: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent !important;
    box-shadow: none !important;
}

.x-window-header-chat-collapsed-left-frameInfo {
    font-family: dh-2-2-2-2-2-2-2-2-14-10-14-10;
}

.x-window-header-chat-collapsed-left-tl {
    background-position: 0 -4px;
}

.x-window-header-chat-collapsed-left-tr {
    background-position: right -6px;
}

.x-window-header-chat-collapsed-left-bl {
    background-position: 0 -8px;
}

.x-window-header-chat-collapsed-left-br {
    background-position: right -10px;
}

.x-window-header-chat-collapsed-left-ml {
    background-position: 0 top;
}

.x-window-header-chat-collapsed-left-mr {
    background-position: right top;
}

.x-window-header-chat-collapsed-left-tc {
    background-position: 0 0;
}

.x-window-header-chat-collapsed-left-bc {
    background-position: 0 -2px;
}

.x-window-header-chat-collapsed-left-tr, .x-window-header-chat-collapsed-left-br, .x-window-header-chat-collapsed-left-mr {
    padding-right: 2px;
}

.x-window-header-chat-collapsed-left-tl, .x-window-header-chat-collapsed-left-bl, .x-window-header-chat-collapsed-left-ml {
    padding-left: 2px;
}

.x-window-header-chat-collapsed-left-tc {
    height: 2px;
}

.x-window-header-chat-collapsed-left-bc {
    height: 2px;
}

.x-window-header-chat-collapsed-left-tl, .x-window-header-chat-collapsed-left-bl, .x-window-header-chat-collapsed-left-tr, .x-window-header-chat-collapsed-left-br, .x-window-header-chat-collapsed-left-tc, .x-window-header-chat-collapsed-left-bc, .x-window-header-chat-collapsed-left-ml, .x-window-header-chat-collapsed-left-mr {
    background-image: url(images/window-header/window-header-default-collapsed-left-corners.gif);
}

.x-window-header-chat-collapsed-left-ml, .x-window-header-chat-collapsed-left-mr {
    background-image: url(images/window-header/window-header-default-collapsed-left-sides.gif);
    background-repeat: repeat-y;
}

.x-window-header-chat-collapsed-left-mc {
    padding: 14px 10px 14px 10px;
}

.x-cmd-slicer.x-window-header-chat-collapsed-left:before {
    display: none;
    content: "x-slicer:, frame:2px 2px 2px 2px, corners:url(images/window-header/window-header-default-collapsed-left-corners.gif), sides:url(images/window-header/window-header-default-collapsed-left-sides.gif)" !important;
}

.x-window-header-chat .x-window-header-icon {
    width: 16px;
    height: 16px;
    color: #f0f0f0;
    font-size: 16px;
    line-height: 16px;
    background-position: center center;
}

.x-window-header-chat .x-window-header-glyph {
    color: #f0f0f0;
    font-size: 16px;
    line-height: 16px;
}

.x-ie8 .x-window-header-chat .x-window-header-glyph {
    color: #f0f0f0;
}

.x-window-header-chat-horizontal .x-tool-after-title {
    margin: 0 0 0 6px;
}

.x-window-header-chat-horizontal .x-tool-before-title {
    margin: 0 6px 0 0;
}

.x-window-header-chat-vertical .x-tool-after-title {
    margin: 6px 0 0 0;
}

.x-window-header-chat-vertical .x-tool-before-title {
    margin: 0 0 6px 0;
}

.x-window-header-chat .x-tool-focus {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

.x-ie .x-window-header-chat .x-tool-focus, .x-ie10p .x-window-header-chat .x-tool-focus, .x-edge .x-window-header-chat .x-tool-focus {
    outline: none;
}

    .x-ie .x-window-header-chat .x-tool-focus:after, .x-ie10p .x-window-header-chat .x-tool-focus:after, .x-edge .x-window-header-chat .x-tool-focus:after {
        position: absolute;
        content: ' ';
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        border: 1px solid #fff;
        pointer-events: none;
    }

.x-window-header-chat {
    border-width: 1px !important;
}

.x-nbr .x-window-chat-collapsed .x-window-header {
    border-width: 0 !important;
}

.x-window-chat-outer-border-l {
    border-left-color: #34495E !important;
    border-left-width: 1px !important;
}

.x-window-chat-outer-border-b {
    border-bottom-color: #34495E !important;
    border-bottom-width: 1px !important;
}

.x-window-chat-outer-border-bl {
    border-bottom-color: #34495E !important;
    border-bottom-width: 1px !important;
    border-left-color: #34495E !important;
    border-left-width: 1px !important;
}
