﻿@model IEnumerable<string> 
@{
    ViewBag.Title = "CreateAdmin";
}
<h2>Create Admin of System ...</h2>
@if (Model.Count() > 0)
{
    foreach (var item in Model) 
    { 
        <h5>@item</h5>
    }
}
else 
{ 
    <h5><b>Create Admin Success!</b></h5>
}

