﻿@model iDAS.Service.DatabaseBO
@{
    var X = Html.X();
}
<style>
    .login-form {
        flex-shrink: 0;
        background: #fff;
        -webkit-tap-highlight-color: transparent;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    }

        .login-form .x-fa {
            top: 9px;
            left: 5px;
        }

    a {
        font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #444;
    }

        a:hover {
            cursor: pointer;
            text-decoration: none;
            color: #000;
        }
</style>
@(
 X.Viewport()
    .Layout(LayoutType.Border)
    .Border(false)
    .Items(
        X.Panel()
        .BodyStyle("background: url(/Content/images/bg.png) #fff;")
        .Region(Region.Center)
        .Border(false)
        .Header(false)
        .TitleCollapse(true)
        .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle, Pack = BoxPack.Center })
        .Items(
            X.FormPanel()
            .ID("formUpdateDatabase")
            .Width(390)
            .Cls("login-form")
            .Border(false)
            .HeaderConfig(
                X.PanelHeader().StyleSpec("background-color:#022F5D").Items(
                    X.Container().WidthSpec("100%").Layout(LayoutType.Center).Items(
                        X.ImageButton().Width(125).Height(50).ImageUrl("/Content/images/logo-1.png").Href("http://idasonline.com")
                    )
                )
            )
            .Items(
                X.Container().Border(false).ID("ctLoading").Height(2).Hidden(true)
                .Html("<div class='load-bar'><div class='bar'></div><div class='bar'></div></div>"),
                X.Container().Border(false).ID("ctLoadingEmpty").Height(2).Hidden(false),
                X.Container().MarginSpec("10 20 20 20")
                .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch, Pack = BoxPack.Center })
                .Items(
                    X.Label().Text("Cập nhật hệ thống").StyleSpec("font-weight:600;font-size:16px;line-height:18px").MarginSpec("0 0 30 0"),
                    //X.AntiForgeryField(),
                    X.TextFieldFor(m => m.Server).HideLabel(true).EmptyText("Server").IconCls("x-fa fa-info"),
                    X.TextFieldFor(m => m.Database).HideLabel(true).EmptyText("Database").IconCls("x-fa fa-database"),
                    X.TextFieldFor(m => m.UserId).HideLabel(true).EmptyText("UserId").IconCls("x-fa fa-user"),
                    X.TextFieldFor(m => m.Password).HideLabel(true).EmptyText("Password").IconCls("x-fa fa-lock")
                )
            )
            .FooterBar(
                X.Toolbar()
                .PaddingSpec("0 20 40 20")
                .StyleSpec("background-color: #fff; border:none;")
                .Items(
                    X.ToolbarFill(),
                    X.Button().Text("Cập nhật").Margin(0).MarginSpec("0 0 0 0").UI(UI.Success).StyleSpec("background-color:#022F5D;border-color:#022F5D")
                    .DirectEvents(de =>
                    {
                        de.Click.Before = "if (!App.formUpdateDatabase.getForm().isValid()) { return false; }; this.setDisabled(true); App.ctLoading.show(); App.ctLoadingEmpty.hide();";
                        de.Click.FormID = "formUpdateDatabase";
                        de.Click.Method = HttpMethod.POST;
                        de.Click.Url = Url.Action("UpdateDatabase", "Config");
                        de.Click.Success = "App.ctLoading.hide(); App.ctLoadingEmpty.show(); App.formUpdateDatabase.hide();";
                        de.Click.Failure = "App.ctLoading.hide(); App.ctLoadingEmpty.show(); eval(result.script); this.setDisabled(false);";
                    })
                )
            )
        ),
        X.Panel().Region(Region.South).Border(false).Items(
            X.Toolbar().Height(32).Items(
                X.Label().Text(""),
                X.ToolbarFill(),
                X.Hyperlink().Text("Chính sách bảo mật"),
                X.ToolbarSpacer(),
                X.Hyperlink().Text("Điều khoản sử dụng"),
                X.ToolbarSpacer(),
                X.Hyperlink().Text("Ngôn ngữ")
            )
        )
    )
)