﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model DocumentBO
@{
    var X = Html.X();
    var departmentName = (string)ViewData["departmentName"];
    var departmentId = (Guid)ViewData["departmentId"];
}
@(X.Window().IconCls("x-fa fa-pencil-square-o").Height(480).Width(800)
    .BodyPadding(0).Modal(true).Constrain(true).AutoScroll(true)
    .Maximizable(true).Closable(false)
    .Shadow(true).Title("Danh sách tài liệu")
    .ID("winContainerDocumentSelect").Layout(LayoutType.Fit)
    .Items(
        X.GridPanel()
        .ColumnLines(true).RowLines(true).Header(false).Resizable(false)
        .ID("gridDocumentControlDocumentSelect").Border(false)
        .TopBarItem(
            X.ComboboxTreeFormat().Multiple(false).Flex(1)
            .ID("cbDepartmentSelectDocumentControl").Text(departmentName).Value(departmentId)
            .Listeners(ls =>
                {
                    ls.Change.Handler = "App.gridDocumentControlDocumentSelect.getStore().reload()";
                }
            ),
            X.ToolbarFill(),
            X.TextField().EmptyText("Nhập từ khóa tìm kiếm theo tên hoặc mã tài liệu").IconCls("x-fa fa-search").Width(320)
            .ID("txtSearchDocumentControlSelect")
                .Listeners(ls =>
                {
                    ls.Change.Handler = "App.gridDocumentControlDocumentSelect.getStore().reload()";
                    ls.Change.Buffer = 50;
                })
            )
            .Store(
                X.StoreFormat()
                .Url(Url.Action("GetAll", "Document", new { Area = "Document" })).ModelType(typeof(DocumentBO))
                .Parameters(pr =>
                    {
                        pr.Add(new StoreParameter("filterName", "App.txtSearchDocumentControlSelect.getValue()", ParameterMode.Raw));
                        pr.Add(new StoreParameter("departmentId", "App.cbDepartmentSelectDocumentControl.getValue()", ParameterMode.Raw));
                    })
                )
            .ColumnModel(
                X.ColumnEncodeFormat().Text("Mã tài liệu").DataIndex(Model, m => m.Code).Width(100).Locked(true),
                X.ColumnEncodeFormat().Text("Tên tài liệu").DataIndex(Model, m => m.Name).Width(300).Locked(true),
                X.Column().Text("Mức độ Mật").DataIndex(Model, m => m.SecurityName).Width(150)
                    .Renderer(new Renderer { Fn = "function(value, meta, record) {return '<span><i style=\"background-color: '+ record.data.SecurityColor +'; width: 0.8em; height: 0.8em; margin-top: 4px; border-radius: 0.4em; -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; border-radius: 50%; position: absolute;border: 0px solid\"></i><span style=\"margin-left: 20px;\">'+ Ext.htmlEncode(value) +'</span></span>'; }" }),
                X.Column().Text("Lần ban hành").DataIndex(Model, m => m.Revision).Width(150),
                X.DateColumn().Text("Ngày ban hành").DataIndex(Model, m => m.PublishAt).Width(150),
                X.Column().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Width(150)
            )
            .BottomBar(Html.X().PagingToolbarFormat())
            .SelectionModel(Html.X().CheckboxSelectionModel().HeaderText("Chọn").ShowHeaderCheckbox(false).HeaderWidth(80))
        )
        .Buttons(
            X.Button().Text("Chọn").IconCls("x-fa fa-pencil-square-o").Handler("onSelectDocumentInDocumentControl()"),
            X.ButtonExit()
        )
)
<script>
    var onSelectDocumentInDocumentControl = function () {
        var records = App.gridDocumentControlDocumentSelect.selModel.getSelection();
        return SelectDocumentInDocumentControl(records);
    };
    function SelectDocumentInDocumentControl(records) {
        var msg = "";
        Ext.each(records, function (record) {
            if (msg.length > 0) {
                msg += ", ";
            }
            msg += record.data.Name;
        });
        Ext.Msg.show({
            title: "Danh sách lựa chọn là",
            msg: msg.length > 0 ? msg : "None",
            icon: Ext.Msg.INFO,
            minWidth: 200,
            buttons: Ext.Msg.OK
        });
    };
</script>

