﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model DocumentBO
@{
    var X = Html.X();
    var departmentName = (string)ViewData["departmentName"];
    var departmentId = (Guid)ViewData["departmentId"];
    var isDestroy = (Boolean)ViewData["IsDestroy"];
    var actionName = (string)ViewData["ActionName"];
    var controllerName = (string)ViewData["ControllerName"];
    var areaName = (string)ViewData["AreaName"];
    var customHandler = Convert.ToString(ViewData["CustomHandler"]);
    var selectMulti = Convert.ToBoolean(ViewData["SelectMulti"]);
    List<string> lstParam = new List<string>();
    var param = (string)ViewData["Param"];
    if (!String.IsNullOrEmpty(param))
    {
        if (param.IndexOf(';') != -1)
        {
            lstParam = param.Split(';').ToList();
        }
    }
}
@(X.Window().IconCls("x-fa fa-list-alt").Height(480).Width(800)
    .BodyPadding(0).Modal(true).Constrain(true).AutoScroll(true)
    .Maximizable(true).Closable(false)
    .Shadow(true).Title("Danh sách tài liệu")
    .ID("winContainerDocumentSelect").Layout(LayoutType.Fit)
    .Items(
        X.GridPanel().ColumnLines(true).RowLines(true).Header(false).Resizable(false).ID("gridDocumentControlDocumentSelect").Border(false)
        .TopBarItem(
            X.ComboboxTreeFormat().Multiple(false).Width(270).ID("cbDepartmentSelectDocumentControl").Text(departmentName).Value(departmentId)
            .Listeners(ls =>
                {
                    ls.Change.Handler = "App.gridDocumentControlDocumentSelect.getStore().reload()";
                }
            ),
            X.ToolbarFill(),
            X.TextField().EmptyText("Tìm kiếm theo tên hoặc mã tài liệu").IconCls("x-fa fa-search").Width(260)
            .ID("txtSearchDocumentControlSelect")
                .Listeners(ls =>
                {
                    ls.Change.Handler = "App.gridDocumentControlDocumentSelect.getStore().reload()";
                    ls.Change.Buffer = 50;
                })
            )
            .Store(
                X.StoreFormat()
                .Url(Url.Action(String.IsNullOrEmpty(actionName) ? "GetDataPublish" : actionName, String.IsNullOrEmpty(controllerName) ? "Document" : controllerName,
                                new { Area = String.IsNullOrEmpty(areaName) ? "Document" : areaName, isDestroy = isDestroy })).ModelType(typeof(DocumentBO))
                .Parameters(pr =>
                    {
                        if (lstParam != null && lstParam.Count() > 0)
                        {
                            for (int i = 0; i < lstParam.Count(); i++)
                            {
                                if (lstParam[i].IndexOf(':') != -1)
                                {
                                    var item = lstParam[i].Split(':').ToList();
                                    if (item != null && item.Count() >= 2)
                                        pr.Add(new StoreParameter("" + item[0] + "", "" + item[1] + "", ParameterMode.Raw));
                                }
                            }
                        }
                        else
                        {
                            pr.Add(new StoreParameter("filterName", "App.txtSearchDocumentControlSelect.getValue()", ParameterMode.Raw));
                            pr.Add(new StoreParameter("departmentId", "App.cbDepartmentSelectDocumentControl.getValue()", ParameterMode.Raw));
                        }
                    })
            )
            .ColumnModel(
                
                X.ColumnEncodeFormat().Text("Mã tài liệu").DataIndex(Model, m => m.Code).Width(100).Locked(true),
                X.ColumnEncodeFormat().Text("Tên tài liệu").DataIndex(Model, m => m.Name).Width(300).Locked(true),
                X.Column().Text("Mức độ Mật").DataIndex(Model, m => m.SecurityName).Width(150)
                .Renderer(new Renderer { Fn = "function(value, meta, record) {return '<span><i style=\"background-color: '+ record.data.SecurityColor +'; width: 0.8em; height: 0.8em; margin-top: 4px; border-radius: 0.4em; -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; border-radius: 50%; position: absolute;border: 0px solid\"></i><span style=\"margin-left: 20px;\">'+ Ext.htmlEncode(value) +'</span></span>'; }" }),
                X.Column().Text("Lần ban hành").DataIndex(Model, m => m.PublishTime).Width(150),
                X.DateColumn().Text("Ngày ban hành").DataIndex(Model, m => m.PublishAt).Width(150),
                X.Column().Text("Trạng thái").DataIndex(Model, m => m.PublishStatus).Width(150)
            )
            .BottomBar(Html.X().PagingToolbarFormat())
            .SelectionModel(Html.X().CheckboxSelectionModel().Mode(selectMulti ? SelectionMode.Multi : SelectionMode.Single).HeaderText("Chọn").ShowHeaderCheckbox(false).HeaderWidth(55))
        )
        .Buttons(
            X.ButtonSelectDocument(customerHandler: customHandler).ID("btnSelectDocument"),
            X.ButtonExit()
    )
)