﻿@using Ext.Net.MVC
@using Ext.Net
@using iDAS.Presentation.Common;

@(Html.X().Window()
.Title("Bảng dữ liệu thống kê chi tiết")
.IconCls("x-fa fa-table")
.Height(500)
.Maximizable(true)
.Width(1000)
.Closable(false)
.BodyPadding(0)
.Layout(LayoutType.Fit)
.Modal(true)
.Items(
    Html.X().GridPanel()
        .Header(false)
        .Border(true)
        .MarginSpec("-1 -1 -1 -1")
        .ColumnLines(true)
        .ID("grTaskStatictical")
        .Icon(Icon.Table)
        .Store(Html.X().Store()
        .AutoLoad(true)
        .ID("stTaskStatictical")
        //.Proxy(Html.X().AjaxProxy().Url(Url.Action("GetSummaryNearly"))
        .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetTaskStatisticDetail", "TaskSearch", new { Area = "Task" }))
        .Reader(Html.X().JsonReader().RootProperty("data")))
        //.Parameters(ps =>
        //{
        //    ps.Add(new StoreParameter("role", "App.cbStatisticalFilter.getActiveItem().itemIndex", ParameterMode.Raw));
        //})
        .PageSize(10)
        .Model(
        Html.X().Model()
        .Fields(
                new ModelField("MonthString", ModelFieldType.String),
                new ModelField("UnPerForm", ModelFieldType.Int),
                new ModelField("UnPerFormPercent", ModelFieldType.String),
                new ModelField("PerForm1", ModelFieldType.Int),
                new ModelField("PerForm1Percent", ModelFieldType.String),
                new ModelField("PerForm2", ModelFieldType.Int),
                new ModelField("PerForm2Percent", ModelFieldType.String),
                new ModelField("Finish1", ModelFieldType.Int),
                new ModelField("Finish1Percent", ModelFieldType.String),
                new ModelField("Cancel", ModelFieldType.Int),
                new ModelField("CancelPercent", ModelFieldType.String)
                )
            )
        )
        .ColumnModel(
            Html.X().RowNumbererColumnFormat(),
            Html.X().Column().DataIndex("MonthSummaryText").Text("<b>Tháng</b>").Flex(1).Align(ColumnAlign.Center),

            Html.X().ComponentColumn().Text("<b>Chờ TH</b>").Align(ColumnAlign.Center).Columns(
            Html.X().Column().DataIndex("UnPerForm").Text("<b>Số lượng</b>").Width(80).Align(ColumnAlign.End),
            Html.X().Column().DataIndex("UnPerFormPercent").Text("<b>%</b>").Width(50).Align(ColumnAlign.End)),

            Html.X().ComponentColumn().Text("<b>Đang TH (trong hạn)</b>").Align(ColumnAlign.Center).Columns(
            Html.X().Column().DataIndex("PerForm1").Text("<b>Số lượng</b>").Width(100).Align(ColumnAlign.End),
            Html.X().Column().DataIndex("PerForm1Percent").Text("<b>%</b>").Width(50).Align(ColumnAlign.End)),

            Html.X().ComponentColumn().Text("<b>Đang TH (quá hạn)</b>").Align(ColumnAlign.Center).Columns(
            Html.X().Column().DataIndex("PerForm2").Text("<b>Số lượng</b>").Width(100).Align(ColumnAlign.End),
            Html.X().Column().DataIndex("PerForm2Percent").Text("<b>%</b>").Width(50).Align(ColumnAlign.End)),

            Html.X().ComponentColumn().Text("<b>Kết thúc (đúng hạn)</b>").Align(ColumnAlign.Center).Columns(
            Html.X().Column().DataIndex("Finish1").Text("<b>Số lượng</b>").Width(100).Align(ColumnAlign.End),
            Html.X().Column().DataIndex("Finish1Percent").Text("<b>%</b>").Width(50).Align(ColumnAlign.End)),

            Html.X().ComponentColumn().Text("<b>Kết thúc (quá hạn)</b>").Align(ColumnAlign.Center).Columns(
            Html.X().Column().DataIndex("Finish2").Text("<b>Số lượng</b>").Width(100).Align(ColumnAlign.End),
            Html.X().Column().DataIndex("Finish2Percent").Text("<b>%</b>").Width(50).Align(ColumnAlign.End)),

            Html.X().ComponentColumn().Text("<b>Hủy</b>").Align(ColumnAlign.Center).Columns(
            Html.X().Column().DataIndex("Cancel").Text("<b>Số lượng</b>").Width(80).Align(ColumnAlign.End),
            Html.X().Column().DataIndex("CancelPercent").Text("<b>%</b>").Width(50).Align(ColumnAlign.End))
        )
        .SelectionModel(
                Html.X().RowSelectionModel()
                    .Mode(SelectionMode.Single)
            )
            .BottomBar(Html.X().PagingToolbarFormat())
        )
    .Buttons(
    Html.X().ButtonExit()
    )
)
