﻿@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
}
@(X.Container()
    .Layout(LayoutType.VBox)
    .Flex(1)
    .ID("ctDasboardChartSMS")
    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
    .StyleSpec("border: none;")
    .Border(false)
    .Items(
        X.Panel()
            .ID("pnStatisticalSMS")
            .Layout(LayoutType.Fit)
            .ItemsFromAction("ChartSMS", "ChartSMS", new { area = "SMS" })
            .IconCls("x-fa fa-bar-chart black")
            .UIName("idas_default")
            .Title("<b>Thông kê tin nhắn rác</b>")
            .Flex(1)
            .TopBarItem(
                Html.X().Label("Từ ngày"),
                Html.X().DateTimeFieldFormat().ID("smsTableChartSearchDateFrom").Width(120).Format("dd/MM/yyyy").Value(DateTime.Now.AddDays(-7)).Listeners(ls =>
                {
                    ls.Change.Handler = "App.grTaskDauSo.getStore().reload();App.grTaskThueBao.getStore().reload();App.grTaskBrandname.getStore().reload();App.chartCol.getStore().reload();App.ChartTaskSMS.getStore().reload();";
                    ls.Change.Buffer = 100;
                }),
                Html.X().Label("Đến ngày"),
                Html.X().DateTimeFieldFormat().ID("smsTableChartSearchDateTo").Width(120).Format("dd/MM/yyyy").Value(DateTime.Now).Listeners(ls =>
                {
                    ls.Change.Handler = "App.grTaskDauSo.getStore().reload();App.grTaskThueBao.getStore().reload();App.grTaskBrandname.getStore().reload();App.chartCol.getStore().reload();App.ChartTaskSMS.getStore().reload();";
                    ls.Change.Buffer = 100;
                })
            )
            .Tools(
                X.Tool().Type(ToolType.Maximize).Listeners(ls => ls.Click.Handler = "fullWindowFromPanel(App.pnStatisticalSMS,'Thông kê tin nhắn rác','x-fa fa-bar-chart')")
            ),
        X.Panel()
            .ID("pnTableChartSMS")
            .ItemsFromAction("TableViewSMS", "ChartSMS", new { area = "SMS" })
            .IconCls("x-fa fa-bar-chart black")
            .UIName("idas_default")
            .Flex(1)
            .Layout(LayoutType.Fit)
            .Title("<b>Thống kê theo nguốn phát hành</b>")
            .Tools(
                X.Tool().Type(ToolType.Maximize).Listeners(ls => ls.Click.Handler = "fullWindowFromPanel(App.pnTableChartSMS,'Thống kê theo nguốn phát hành','x-fa fa-bar-chart')")
            )   
    )
)