﻿@using Ext.Net;
@using Ext.Net.MVC;
@model object[]
@{
    var X = Html.X();
}
@(Html.X().Container()
        .ID("pnChartTable")
        .Border(false)
        .Layout(LayoutType.HBox)
        .Defaults(X.Parameter().Name("margin").Value("0 0 0 0").Mode(ParameterMode.Value))
        .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
        .Items(
    X.Panel()
        .Title("<b>Tốp 15 nhóm từ khóa</b>")
        .Border(false)
        .Flex(1)
        .Layout(LayoutType.Fit)
        .TopBar(X.Toolbar()
            .Items(
                X.Button()
                    .Text("Làm mới")
                    .Icon(Icon.ArrowRefresh)
                    .Handler("#{grTaskDauSo}.getStore().reload()")
            )
        )
        .Items(
            Html.X().GridPanel()
            .Header(false)
            .Border(true)
            .MarginSpec("-1 -1 -1 -1")
            .ColumnLines(true)
            .ID("grTaskDauSo")
            .Icon(Icon.Table)
            .Store(Html.X().Store()
            .AutoLoad(true)
            .ID("stTaskDauSo")
            .Parameters(pr =>
            {
                pr.Add(new StoreParameter("DateFrom", "App.smsTableChartSearchDateFrom.getValue()", ParameterMode.Raw));
                pr.Add(new StoreParameter("DateTo", "App.smsTableChartSearchDateTo.getValue()", ParameterMode.Raw));
            })
            .Proxy(Html.X().AjaxProxy().Url(Url.Action("Top15KeywordGroup"))
            .Reader(Html.X().JsonReader().RootProperty("data")))
            .Model(
            Html.X().Model()
            .Fields(
                    new ModelField("name", ModelFieldType.String),
                    new ModelField("value", ModelFieldType.Int),
                    new ModelField("percent", ModelFieldType.String)
                    )
                )
            )
            .ColumnModel(
                Html.X().RowNumbererColumnFormat(),
                Html.X().Column().DataIndex("name").Text("<b>Đầu số dịch vụ</b>").Flex(1).Align(ColumnAlign.Left),
                Html.X().Column().DataIndex("value").Text("<b>Số lượng</b>").Width(100).Align(ColumnAlign.Center),
                Html.X().Column().DataIndex("percent").Text("<b>%</b>").Width(70).Align(ColumnAlign.Center)
            )
            .SelectionModel(
                Html.X().RowSelectionModel()
                    .Mode(SelectionMode.Single)
            )
        ),
    Html.X().Panel()
        .Title("<b>Nhà mạng</b>")
        .Flex(1)
        .MarginSpec("-1 -1 -1 0")
        .Layout(LayoutType.Fit)
        .TopBar(X.Toolbar()
            .Items(
                X.Button()
                    .Text("Làm mới")
                    .Icon(Icon.ArrowRefresh)
                    .Handler("#{grTaskThueBao}.getStore().reload()")
            )
        )
        .Items(
            Html.X().GridPanel()
            .Header(false)
            .Border(true)
            .MarginSpec("-1 -1 -1 -1")
            .ColumnLines(true)
            .ID("grTaskThueBao")
            .Icon(Icon.Table)
            .Store(
                Html.X().Store()
                .AutoLoad(true)
                .Parameters(pr =>
                {
                    pr.Add(new StoreParameter("DateFrom", "App.smsTableChartSearchDateFrom.getValue()", ParameterMode.Raw));
                    pr.Add(new StoreParameter("DateTo", "App.smsTableChartSearchDateTo.getValue()", ParameterMode.Raw));
                })
                .ID("stTaskThueBao")
                .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetDataNetwordProvider"))
                .Reader(Html.X().JsonReader().RootProperty("data")))
                .PageSize(10)
                .Model(
                    Html.X()
                    .Model()
                    .Fields(
                        new ModelField("name", ModelFieldType.String),
                        new ModelField("value", ModelFieldType.Int),
                        new ModelField("percent", ModelFieldType.String)
                        )
                    )
                )
            .ColumnModel(
                Html.X().RowNumbererColumnFormat(),
                Html.X().Column().DataIndex("name").Text("<b>Nhà mạng</b>").Flex(1).Align(ColumnAlign.Left),
                Html.X().Column().DataIndex("value").Text("<b>Số lượng</b>").Width(100).Align(ColumnAlign.Center),
                Html.X().Column().DataIndex("percent").Text("<b>%</b>").Width(70).Align(ColumnAlign.Center)
            )
            .SelectionModel(
                    Html.X().RowSelectionModel()
                        .Mode(SelectionMode.Single)
                )
                .BottomBar(Html.X().PagingToolbarFormat())
        ),
    Html.X().Panel()
        .Title("<b>Tốp 10 nguồn phát tán</b>")
        .Flex(1)
        .MarginSpec("-1 -1 -1 0")
        .Layout(LayoutType.Fit)
        .TopBar(X.Toolbar()
            .Items(
                X.Button()
                    .Text("Làm mới")
                    .Icon(Icon.ArrowRefresh)
                    .Handler("#{grTaskBrandname}.getStore().reload()")
            )
        )
        .Items(
            Html.X().GridPanel()
            .Header(false)
            .Border(true)
            .MarginSpec("-1 -1 -1 -1")
            .ColumnLines(true)
            .ID("grTaskBrandname")
            .Icon(Icon.Table)
            .Store(Html.X().Store()
            .AutoLoad(true)
            .Parameters(pr =>
            {
                pr.Add(new StoreParameter("DateFrom", "App.smsTableChartSearchDateFrom.getValue()", ParameterMode.Raw));
                pr.Add(new StoreParameter("DateTo", "App.smsTableChartSearchDateTo.getValue()", ParameterMode.Raw));
            })
            .ID("stTaskBrandname")
            .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetDataBrandname"))
            .Reader(Html.X().JsonReader().RootProperty("data")))
            .PageSize(10)
            .Model(
            Html.X().Model()
            .Fields(
                    new ModelField("name", ModelFieldType.String),
                    new ModelField("value", ModelFieldType.Int),
                    new ModelField("percent", ModelFieldType.String)
                    )
                )
            )
            .ColumnModel(
                Html.X().RowNumbererColumnFormat(),
                Html.X().Column().DataIndex("name").Text("<b>Định danh</b>").Flex(1).Align(ColumnAlign.Left),
                Html.X().Column().DataIndex("value").Text("<b>Số lượng</b>").Width(100).Align(ColumnAlign.Center),
                Html.X().Column().DataIndex("percent").Text("<b>%</b>").Width(70).Align(ColumnAlign.Center)
            )
            .SelectionModel(
                    Html.X().RowSelectionModel()
                        .Mode(SelectionMode.Single)
                )
                .BottomBar(Html.X().PagingToolbarFormat())
        )
    )
)


