<div class="content" style="float: left; width: 794px; margin-top: 5px;margin-bottom: 50px;">
	<p style="margin-left:60%;width:100%"><b>Mẫu 2c-BNV/2008</b></p>
	<p>Cơ quan, đơn vị có thẩm quyền quản lý CBCC BỆNH VIỆN ĐA KHOA ĐỐNG ĐA</p>
	<p>Cơ quan, đơn vị sử dụng CBCC @DepartmentNameCBCC@</p>

	<p style="text-align: center;"><strong>SƠ YẾU LÝ LỊCH CÁN BỘ, CÔNG CHỨC</strong></p>

	<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
		<tbody>
			<tr>
				<td style="width: 30%;boder: 1px solid black;">
					<img src="@IMAGEAVATAR@" width="151.18110236" height="226.77165354" alt="Ảnh 4x6" />
				</td>
				<td style="width: 70%;">
					<p>1) Họ và tên khai sinh (viết chữ in hoa): @Name@.</p>

					<p>2) Tên gọi khác: @Aliases@</p>

					<p>3) Sinh ngày: @DAYOFBIRTH@ tháng @MONTHBIRTH@ năm @YEARBIRTH@, Giới tính (nam, nữ): @SEX@</p>

					<p>4) Nơi sinh: Xã @PlaceOfBirthCommune@, Huyện @PlaceOfBirthDistrict@, Tỉnh @PlaceOfBirthCity@</p>

					<p>5) Quê quán: Xã @HomeTownCommune@ , Huyện @HomeTownDistrict@, Tỉnh @HomeTownCity@</p>
				</td>
			</tr>
		</tbody>
	</table>

	<p>6) Dân tộc: @People@, 7) Tôn giáo: @Religion@.</p>

	<p>8) Nơi đăng ký bộ khẩu thường trú: @PermanentResidence@.</p>

	<p>(Số nhà, đường phố, thành phố, xóm, thôn, xã, huyện, tỉnh)</p>

	<p>9) Nơi ở hiện nay: @CurrentResidence@.</p>

	<p>(Số nhà, đường phố, thành phố, xóm, thôn, xã, huyện, tỉnh)</p>

	<p>10) Nghề nghiệp khi được tuyển dụng: @WorkExperiencesPosition@.</p>

	<p>11) Ngày tuyển dụng: @StartDate_day@/@StartDate_month@/@StartDate_year@, Cơ quan tuyển dụng: @WorkExperiencesDepartment@.</p>

	<p>12) Chức vụ (chức danh) hiện tại:<br>@EmployeeTitle_Now@.</p>

	<p>(Về chính quyền hoặc Đảng, đoàn thể, kể cả chức vụ kiêm nhiệm)</p>

	<p>13) Công việc chính được giao: ……………………………………………………….</p>

	<p>14) Ngạch công chức (viên chức): ………………………, Mã ngạch: ……………….</p>

	<p>Bậc lương: @SalariesWage@, Hệ số: @SalariesLevel@, Ngày hưởng: @DateOfApp_day@/@DateOfApp_month@/@DateOfApp_year@,</p>

	<p>Phụ cấp chức vụ: @Allowances@., Phụ cấp khác: ………………….</p>

	<p>15.1- Trình độ giáo dục phổ thông (đã tốt nghiệp lớp mấy/thuộc hệ nào):…………….</p>

	<p>15.2- Trình độ chuyên môn cao nhất:………………………………………………….</p>

	<p>(TSKH, TS, Ths, cử nhân, kỹ sư, cao đẳng, trung cấp, sơ cấp, chuyên ngành)</p>

	<p>15.3- Lý luận chính trị: ………………… 15.4-Quản lý nhà nước:……………………</p>

	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<p>(Cao cấp, trung cấp, sơ cấp và tương đương)</p>
				</td>
				<td>
					<p>(chuyên viên cao cấp, chuyên viên chính, chuyên viên, cán sự,..)</p>
				</td>
			</tr>
		</tbody>
	</table>

	<p>15.5- Ngoại ngữ:………………………, 15.6-Tin học: ……………………………….</p>

	<p>(Tên ngoại ngữ + Trình độ A, B, C, D......)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Trình độ A, B, C,.......)</p>

	<p>16) Ngày vào Đảng Cộng sản Việt Nam: @DateAtParty_day@/@DateAtParty_month@/@DateAtParty_year@, &nbsp;&nbsp;&nbsp;&nbsp;Ngày chính thức: @DateOfJoinParty_day@/@DateOfJoinParty_month@/@DateOfJoinParty_year@</p>

	<p>17) Ngày tham gia tổ chức chính trị - xã hội: @DateOnGroup@ - @YouthPosition@ - @PlaceOfLoadedGroup@</p>

	<p>(Ngày tham gia tổ chức: Đoàn, Hội,..... và làm việc gì trong tổ chức đó)</p>

	<p>18) Ngày nhập ngũ: @DateOnArmy_day@/@DateOnArmy_month@/@DateOnArmy_year@, &nbsp;&nbsp;&nbsp;&nbsp;Ngày xuất ngũ: ……/……/………… Quân hàm cao nhất: @PositionArmy@</p>

	<p>19) Danh hiệu được phong tặng cao nhất ……………………………………………..</p>

	<p>(Anh hùng lao động, anh hùng lực lượng vũ trang; nhà giáo, thày thuốc, nghệ sĩ nhân dân và ưu tú, …)</p>

	<p>20) Sở trường công tác: ………………………………………………………………..</p>

	<p>21) Khen thưởng: ……………………,&nbsp;&nbsp;&nbsp;&nbsp; 22) Kỷ luật: ………………………………….</p>

	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<p>(Hình thức cao nhất, năm nào)</p>
				</td>
				<td>
					<p>(về đảng, chính quyền, đoàn thể hình thức cao nhất, năm nào)</p>
				</td>
			</tr>
		</tbody>
	</table>

	<p>23) Tình trạng sức khoẻ: ……, Chiều cao:……………, Cân nặng:……….kg, Nhóm máu:………….</p>

	<p>24) Là thương binh hạng: ……/……, &nbsp;&nbsp;&nbsp;&nbsp;Là con gia đình chính sách: ……………………..</p>

	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<p>&nbsp;</p>
				</td>
				<td>
					<p>(Con thương binh, con liệt sĩ, người nhiễm chất độc da cam Dioxin)</p>
				</td>
			</tr>
		</tbody>
	</table>

	<p>25) Số chứng minh nhân dân: @NumberOfIdentityCard@.&nbsp;&nbsp;&nbsp;&nbsp;Ngày cấp: @DateIssueOfIdentityCard_day@/@DateIssueOfIdentityCard_month@/@DateIssueOfIdentityCard_year@</p>

	<p>26) Số sổ BHXH: …………………………………………………………………….</p>

	<p>&nbsp;</p>

	<p style="text-align: right;">…………….Ngày… tháng… năm 20……</p>

	<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
		<tbody>
			<tr>
				<td style="width: 50%;">
					<p style="text-align: center;"><strong>Người khai</strong></p>

					<p style="text-align: center;">Tôi xin cam đoan những lời khai trên đây là đúng sự thật</p>

					<p style="text-align: center;">(Ký tên, ghi rõ họ tên)</p>
				</td>
				<td style="width: 50%;">
					<p style="text-align: center;"><strong>Thủ trưởng cơ quan, đơn vị quản lý và sử dụng CBCC</strong></p>

					<p style="text-align: center;">(Ký tên, đóng dấu)</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>