﻿@using Ext.Net;
@using Ext.Net.MVC;
@(Html.X().Container()
    .ID("ctMnTaskConfig")
    .Layout(LayoutType.Fit)
    .Border(false)
    .Listeners(ls => ls.Resize.Handler = "this.updateLayout()")
    .Items(
    Html.X().Panel()
            .Flex(1)
            .ID("pnTaskConfig")
            .Layout(LayoutType.Fit)
            .Border(true)
            .TopBar(
               Html.X().Toolbar()
                .StyleSpec("padding-bottom:0px;padding-top:0px;")
                .Items(
                    Html.X().TabStrip()
                    .WidthSpec("90%")
                        .Items(t =>
                        {
                            t.Add(Html.X().Tab().ActionItemID("tabCalendar").IconCls("x-fa fa-calendar-check-o").Text("Lịch làm việc của tổ chức"));
                        }),
                        Html.X().ToolbarFill(),
                        Html.X().Button().IconCls("x-tool-tool-el x-tool-img x-tool-maximize").Border(false).Listeners(ls => ls.Click.Handler = "fullWindowFromTabPanel(App.pnTaskConfig,'Thiết lập','x-fa fa-cogs', this)")
                    )
            )
            .Items(
            Html.X().Panel()
                .BodyPadding(0)
                .Icon(Icon.ApplicationViewDetail)
                .Layout(LayoutType.Fit)
                .ID("tabCalendar")
                .Padding(0)
                .StyleSpec("border: none;")
                .Title("Lịch làm việc của tổ chức")
                .Frame(true)
                .Header(false)
                .Border(false)
                .ItemsFromAction("Index", "Calendar", new { area = "Task" })
            )
        )
    .Html(@<text><div class='navbar-right'><a title='Trở lại' onclick='loadConfigContent("TimeKeeping/DashBoard/Index", "ctDasboardTimeKeeping");' href='javascript:void(0);'><i style='color:red !important' class='fa fa-arrow-left'></i></a></div></text>)
)

