﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
    var panel1 = Html.X().Panel()
            .Flex(1)
            .MarginSpec("-1 -1 -1 -1")
            .Border(false)
            .Layout(LayoutType.Fit)
            .Bin(
            X.Store()
                .ID("HumanStore")
                .Model(Html.X().Model()
                    .Fields(
                        Html.X().ModelField().Name("Name").Type(ModelFieldType.String).Mapping("Đơn_vị"),
                        Html.X().ModelField().Name("Value").Type(ModelFieldType.Int).Mapping("Số_cán_bộ"),
                        Html.X().ModelField().Name("Rate").Type(ModelFieldType.Float).Mapping("Tỉ_lệ")
                         )
                    )
                    .Proxy(X.AjaxProxy()
                    .Url(Url.Action("GetHumanAnalytic", "Statistical", new { Area = "Organization" }))
                    .Reader(X.JsonReader().RootProperty("data"))
                    )
                 )
            .Items(
             X.CartesianChart()
                        .ID("humanChartCateColumn")
                        .TopBarItem(
                            X.ToolbarFill(),
                            X.Button()
                            .Text("Tải xuống")
                            .IconCls("x-fa fa-download")
                            .Handler("this.up('cartesian').download()"),
                            X.Button()
                            .Text("Phóng to")
                            .IconCls("x-fa fa-search")
                            .Handler("var chart = this.up('cartesian'); chart.previewTitleText='Biểu đồ thống kê cán bộ theo đơn vị'; chart.preview();")
                        )
                        .Border(false)
                        .StoreID("HumanStore")   
                        .Interactions(i => i.Add(X.ItemHighlightInteraction()))
                        .AnimationConfig(new AnimConfig { Duration = 300, Easing = Easing.EaseOut })
                         .Items(
                        X.TextSprite()
                            .Text("BIỂU ĐỒ THỐNG KÊ SỐ CÁN BỘ THEO PHÒNG BAN")
                            .FontSize("11")
                            .FontWeight("bold")
                            .Width(100)
                            .Height(30)
                            .X(550)
                            .Y(20)
                         )
                        .Axes(
                            X.NumericAxis().Position(Position.Left).Fields("Value").Minimum(0).Hidden(true),
                            X.CategoryAxis()
                                .Position(Position.Bottom)
                                .Fields("Name")
                                .Label(X.ChartLabel().Font("9px Arial").RotationDegrees(-45))
                                .Renderer(r => r.Handler = "return Ext.String.ellipsis(label, 15, false);")
                        )
                        .Series(X.BarSeries()
                            .Highlight(true)
                            .XField("Name")
                            .YField("Value")
                            .StyleSpec(X.Sprite().FillStyle("#22ff86"))
                            .HighlightConfig(X.Sprite().FillStyle("#a2b5ca"))
                            .Label(X.ChartLabel()
                                .Display(SeriesLabelDisplay.InsideEnd)
                                .Field("Value")
                                .Color("#000")
                                .Orientation(Orientation.Vertical)
                                .TextAlign(TextSpriteAlign.Center)
                            )
                        .Listeners(events => events.ItemMouseUp.Fn = "onMouseUp")
                        )
                        .Plugins(p => p.Add(X.ChartItemEvents()))
           );
    var panel2 = Html.X().ContainerHBox()
        .Flex(1)
        .Items(
    Html.X().PanelFitFormat()
            .Flex(1)
            .Border(true)
            .MarginSpec("0 5 -1 -1")
            .Items(
                X.GridPanel()
                .ID("HumanGrid")
                .Title("THỐNG KÊ CÁN BỘ")
                .Header(false)
                .Border(false)
                .TopBarItem(
                    X.DisplayField().Text("<b>THỐNG KÊ CÁN BỘ</b>"),
                    X.ToolbarFill(),
                    X.ButtonExport(name: "Số liệu thống kê cán bộ theo đơn vị")
                    )
                .MarginSpec("0 -1 -1 -1")
                .UIName("idas_default")
                .IconCls("x-fa fa-users black")
                 .StoreID("HumanStore")
                .ColumnModel(
                    X.Column()
                        .ID("Name")
                        .Text("<b>Đơn vị</b>")
                        .Flex(1)
                        .DataIndex("Name"),
                    X.Column()
                        .Text("<b>Số cán bộ</b>")
                        .Width(110)
                        .DataIndex("Value")
                        .Align(ColumnAlign.Right),
                    X.Column()
                        .Text("<b>Tỉ lệ</b>")
                        .Width(75)
                        .DataIndex("Rate")
                        .Align(ColumnAlign.Right)
                        .Renderer("return value + '%';")
                )
                .Listeners(ls => ls.SelectionChange.Fn = "selectItem")
                .View(Html.X().GridView().TrackOver(false).LoadingText("Đang tải..."))
                ),
    Html.X().Panel()
            .Flex(1)
            .Border(true)
            .MarginSpec("0 -1 -1 0")
            .Layout(LayoutType.Fit)
            .TopBarItem(
            X.ToolbarFill(),
             Html.X().CycleButton()
            .ShowText(true)
            .Height(25)
            .PrependText("Xem dưới dạng: ")
            .Menu(Html.X().Menu()
            .Items(
                Html.X().CheckMenuItem()
                    .Text("Biểu đồ Pie")
                    .Checked(true)
                    .ItemID("PieChart")
                    .Icon(Icon.ChartPie),
                Html.X().CheckMenuItem()
                    .Text("Biểu đồ hình cột")
                    .ItemID("BarChart")
                    .Icon(Icon.ChartBar)
                    )
                )
                .Listeners(ls => ls.Change.Handler = "this.findParentByType('panel').load({url:'/Statistical/DashBoard/ChangeChart', scripts:true, params: { containerId: this.findParentByType('panel').id, chartName:this.activeItem.itemId } });"),
            X.Button()
                .Text("Tải xuống")
                .IconCls("x-fa fa-download")
                .Handler("var chart = this.up('panel').down('polar'); if(chart){chart.download();}else{this.up('panel').down('cartesian').download();}"),
            X.Button()
                .Text("Phóng to")
                .IconCls("x-fa fa-search")
                .Handler(@"var chart = this.up('panel').down('polar');
                    if(chart){chart.previewTitleText='Biểu đồ thống kê cán bộ'; chart.preview();}else{this.up('panel').down('cartesian').previewTitleText='Biểu đồ thống kê cán bộ'; this.up('panel').down('cartesian').preview();}")
                )
                .Loader(
                    X.ComponentLoader()
                    .Url(Url.Action("ChangeChart"))
                    .Mode(LoadMode.Script)
                    .Params(ps =>
                    {
                        ps.Add(new { containerId = new JRawValue("this.id"), chartName = "PieChart" });
                    })
            )
    );
}
@(X.Container()
    .Layout(LayoutType.Border)
    .Height(1)
    .Items(
        X.Panel()
            .Region(Region.Center)
            .MarginSpec("-1 -1 -1 -1")
            .Layout(LayoutType.Fit)
             .Items(
            X.PanelFormat()
            .Items(
              panel1,
              panel2
            )
        )
    )
)
<script>
    var tipRendererChartSex = function (toolTip, storeItem, item) {
        var total = 0;
        App.humanChartPie.getStore().each(function (rec) {
            total += rec.get('Value');
        });
        toolTip.setTitle(storeItem.get('Name') + ': ' + Math.round(storeItem.get('Value') / total * 100) + '%');
    };
    var onMouseUp = function (series, item, event, evntOpts) {
        var index = item.index,
            selectionModel = App.HumanGrid.getSelectionModel();
        selectedStoreItem = item.storeItem;
        selectionModel.select(index);
    };
    var selectItem = function () {
        var records = App.HumanGrid.selModel.getSelection();
        var name = records[0].data.Name,
            series = App.humanChartCateColumn.series[0],
            store = series.getStore();
        App.humanChartCateColumn.setHighlightItem(series.getItemByIndex(store.indexOf(records[0])));
    };
</script>