﻿@using Ext.Net;
@using Ext.Net.MVC;
@(Html.X().GridPanel()
        .ID("gridHistory")
        .ColumnLines(true)
        .TopBarItem(
                    Html.X().Button()
                        .Text(iDAS.Presentation.Common.Resource.Detail)
                        .ID("btnDetailHistory")
                    .Disabled(true)
                    .IconCls("x-fa fa-info-circle")
                    .DirectEvents(de =>
                    {
                        de.Click.ExtraParams.Add(new { userId = new JRawValue("this.up('grid').selModel.getSelection()[0].data.Id") });
                        de.Click.Url = Url.Action("Permission");
                    }),
                    Html.X().Button()
                        .Text(iDAS.Presentation.Common.Resource.Delete)
                        .ID("btnDeleteHistory")
                    .Disabled(true)
                    .IconCls("x-fa fa-trash")
                    .DirectEvents(de =>
                    {
                        de.Click.ExtraParams.Add(new { userId = new JRawValue("this.up('grid').selModel.getSelection()[0].data.Id") });
                        de.Click.Url = Url.Action("Delete");
                    })
                    )
                    .Header(false)
                    .Border(false)
                    .Icon(Icon.Table)
                    .Store(Html.X().Store()
                    .AutoLoad(false)
                    .ID("stHistory")
                        .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetHistory", "Manage", new { area = "System" }))
                        .Reader(Html.X().JsonReader().RootProperty("data")))
                        .PageSize(10)
                        .Model(Html.X().Model()
                        .Fields(
                                Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                                Html.X().ModelField().Name("Function").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("UserName").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("PhoneNumber").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("Email").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("IsDefault").Type(ModelFieldType.Boolean)
                            )
                        )
                        )
                        .ColumnModel(
                            Html.X().RowNumbererColumn()
                            .Text("TT")
                            .Width(40)
                            .Align(ColumnAlign.Center),
                                Html.X().TemplateColumn()
                                .DataIndex("AvatarUrl")
                                .Width(50)
                                .Filterable(false)
                                .Tpl(
                                Html.X().XTemplate()
                                .Html(@<text>
                                    <img src="{AvatarUrl}" style='height: 35px !important; width: 30px !important; border: 2px solid #E6E6E6 !important; display: inline-block !important; ' />
                                </text>)
                                ),
                                Html.X().Column().Text("Tên người dùng").DataIndex("Name").Flex(1),
                                Html.X().Column().Text("Chức năng thao tác").DataIndex("UserName").Width(200),
                                Html.X().Column().Text("Thời gian").DataIndex("Phone").Width(150)
                        )
                        .SelectionModel(
                                Html.X().RowSelectionModel()
                                    .Mode(SelectionMode.Single)
                                    .Listeners(ls => ls.SelectionChange.Handler = "checkMenuStatus();")
                            )
                        .BottomBar(Html.X().PagingToolbarFormat())

                )
<script type="text/javascript">
    function checkMenuStatus() {
        var records = App.gridHistory.selModel.getSelection();
        switch (records.length) {
            case 0:
                App.btnDetailHistory.setDisabled(true);
                App.btnDeleteHistory.setDisabled(true);
                break;
            case 1:
                App.btnDetailHistory.setDisabled(false);
                App.btnDeleteHistory.setDisabled(false);
                break;
            default:
                App.btnDetailHistory.setDisabled(true);
                App.btnDeleteHistory.setDisabled(true);
                break;
        }
    };
</script>
