﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model iDAS.Service.ProfileBO
@{
    var X = Html.X();
    var RoleEdit =  (bool)ViewData["isroleedit"];
    var archiveProfilestatus = ViewData["Status"];
    var archiveType = ViewData["ArchiveType"];
    var BorrowersProfilestatus = ViewData["StatusBorrow"];
    var DestroyProfilestatus = ViewData["StatusDestroy"];
    var TransferProfilestatus = ViewData["StatusTransfer"];
    var WaitDestroyProfilestatus = ViewData["StatusWaitDestroy"];
    var typeWaitDestroy = ViewData["ArchiveTypeWaitDestroy"];
    var employeeName = (string)ViewData["EmployeeName"];
    var employeeId = (Guid)ViewData["EmployeeID"];
    var grid1 = X.GridPanel()
                .ID("gridArchiveProfiles")
                .TopBarItem(
                X.DisplayField().Text("Rà soát theo: <i class='x-fa fa-archive'></i> <b>HỒ SƠ LƯU TRỮ</b>"),
                X.Button().Hidden(!RoleEdit)
                .ID("btnAddDestroySuggestProfileArchive")
                .IconCls("x-fa fa-plus-circle")
                .Text("Đề nghị hủy")
                .Handler("onClickArchiveToProfileDestroySuggest();"),
                X.ToolbarFill(),
                  X.TextField()
                  .EmptyText("Nhập từ khóa tìm kiếm theo tên hoặc mã hồ sơ")
                  .IconCls("x-fa fa-search")
                  .Width(320)
                  .ID("txtSearchArchiveProfile")
                  .Listeners(ls =>
                  {
                      ls.Change.Handler = "App.stArchiveProfiles.reload()";
                      ls.Change.Buffer = 100;
                  }),
                X.CycleButton()
                .ShowText(true)
                .IconCls("x-fa fa-filter")
                .ID("cbtnArchiveType")
                .PrependText("Loại lưu trữ: ")
                .MenuSource(archiveType)
                .Listeners(ls => ls.Change.Handler = "App.stArchiveProfiles.reload();"),
                X.CycleButtonFormat()
                .ID("cbbArchiveProfilestatus")
                .ShowText(true)
                .PrependText("Lọc theo trạng thái: ")
                .MenuSource(archiveProfilestatus)
                .Listeners(ls => ls.Change.Handler = "App.stArchiveProfiles.reload();"),
                 X.ComboboxTreeFormat()
                .Multiple(false)
                .ShowTitle(true)
                .DisableSelectTitle(true)
                .ShowEmployee(true)
                .Width(300)
                .ID("cbtreeArchiveProfileDepartmentId")
                .Text(employeeName)
                .Value(employeeId)
                .Listeners(ls =>
                {
                    ls.Change.Handler = "App.stArchiveProfiles.reload()";
                }),
                X.ButtonRefreshPanel()
                )
                .Store(
                    X.StoreFormat()
                    .AutoLoad(false)
                    .ID("stArchiveProfiles")
                    .PageSize(10)
                    .Url(Url.Action("GetDataArchive", "Profile", new { Area = "Profile" }))
                    .ModelType(typeof(iDAS.Service.ProfileBO))
                    .Parameters(
                    pr =>
                    {
                        pr.Add(new StoreParameter("status", "App.cbbArchiveProfilestatus.activeItem.itemId", ParameterMode.Raw));
                        pr.Add(new StoreParameter("archiveType", "App.cbtnArchiveType.activeItem.itemId", ParameterMode.Raw));
                        pr.Add(new StoreParameter("objectId", "App.cbtreeArchiveProfileDepartmentId.getValue()", ParameterMode.Raw));
                        pr.Add(new StoreParameter("filterName", "App.txtSearchArchiveProfile.getValue()", ParameterMode.Raw));
                    }))
                .ColumnModel(
                        X.RowNumbererColumnFormat(),
                        X.ColumnEncodeFormat().Text("Hộp cặp số").DataIndex(Model, m => m.ProfileBox).Width(90),
                        X.ColumnEncodeFormat().Text("Mã hồ sơ").DataIndex(Model, m => m.Code).Renderer("renderProfileEmployee").Width(110),
                        X.ColumnEncodeFormat().Text("Tên hồ sơ").DataIndex(Model, m => m.Name).Flex(1),
                        X.Column().Text("Thời gian lưu trữ").DataIndex(Model, m => m.ProfileTimeArchive).Width(120).Align(ColumnAlign.Center),
                        X.Column().Text("Người lưu trữ").DataIndex(Model, m => m.ArchiveEmployee).Width(240).Renderer("renderEmployeeArchiveComlumn"),
                        X.Column().Text("Thời hạn lưu trữ").DataIndex(Model, m => m.DeadlineArchiveText).Width(120).Align(ColumnAlign.Center),
                        X.DateColumn().Text("Thời hạn nộp lưu").DataIndex(Model, m => m.ArchiveDeadline).Width(130).Align(ColumnAlign.Center).Format("dd/MM/yyyy"),
                        X.DateColumn().Text("Ngày lưu trữ").DataIndex(Model, m => m.ProfileArchiveDate).Width(110).Align(ColumnAlign.Center).Format("dd/MM/yyyy"),
                        X.Column().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Width(100).Align(ColumnAlign.Center)
                    )
                    .SelectionModel(Html.X().CheckboxSelectionModel().Mode(SelectionMode.Multi).HeaderWidth(35))
                    .Listeners(ls =>
                    {
                        ls.BeforeItemContextMenu.Fn = "oncontextMenuArchiveProfiles";
                    });

    var grid2 = X.GridPanelFormat()
                .ID("gridBorrowersProfiles")
                .Hidden(true)
                .TopBarItem(
                X.DisplayField().Text("Rà soát theo: <i class='x-fa fa-hand-rock-o'></i>  <b>HỒ SƠ MƯỢN TRẢ</b>"),
                X.ToolbarFill(),
                X.TextField()
                .EmptyText("Nhập từ khóa tìm kiếm theo tên hoặc mã hồ sơ")
                .IconCls("x-fa fa-search")
                .Width(320)
                .ID("txtSearchBorrowersProfile")
                .Listeners(ls =>
                {
                    ls.Change.Handler = "App.stBorrowersProfiles.reload()";
                    ls.Change.Buffer = 100;
                }),
                X.CycleButtonFormat()
                .ID("cbbBorrowersProfilestatus")
                .ShowText(true).PrependText("Lọc theo trạng thái: ")
                .MenuSource(BorrowersProfilestatus)
                .Listeners(ls => ls.Change.Handler = "App.stBorrowersProfiles.reload();"),
                 X.ComboboxTreeFormat()
                .Multiple(false)
                .ShowTitle(true)
                .ShowEmployee(true)
                .DisableSelectTitle(true)
                .Width(300)
                .ID("cbtreeBorrowersProfileDepartmentId")
                .Text(employeeName)
                .Value(employeeId)
                .Listeners(ls =>
                {
                    ls.Change.Handler = "App.stBorrowersProfiles.reload()";
                }),
                X.ButtonRefreshPanel()
                )
                .Store(
                    X.StoreFormat()
                    .PageSize(10)
                    .AutoLoad(false)
                    .ID("stBorrowersProfiles")
                    .Url(Url.Action("GetDataBorrows", "Profile", new { Area = "Profile" }))
                    .Model(Html.X().Model()
                    .Fields(
                        Html.X().ModelField().Name("BorrowId").Type(ModelFieldType.Auto).Mapping("ProfileBorrow.Id"),
                        Html.X().ModelField().Name("BorrowEmployee").Type(ModelFieldType.Auto).Mapping("ProfileBorrow.BorrowEmployee"),
                        Html.X().ModelField().Name("BorrowDate").Type(ModelFieldType.Date).Mapping("ProfileBorrow.BorrowDate"),
                        Html.X().ModelField().Name("ReturnEstimateDate").Type(ModelFieldType.Date).Mapping("ProfileBorrow.ReturnEstimateDate"),
                        Html.X().ModelField().Name("ReturnEstimateDateExtend").Type(ModelFieldType.Date).Mapping("ProfileBorrow.ReturnEstimateDateExtend"),
                        Html.X().ModelField().Name("StatusText").Type(ModelFieldType.String).Mapping("ProfileBorrow.StatusText"),
                        Html.X().ModelField().Name("Status").Type(ModelFieldType.String).Mapping("ProfileBorrow.Status")
                        )
                    )
                    .Parameters(
                    pr =>
                    {
                        pr.Add(new StoreParameter("status", "App.cbbBorrowersProfilestatus.activeItem.itemId", ParameterMode.Raw));
                        pr.Add(new StoreParameter("objectId", "App.cbtreeBorrowersProfileDepartmentId.getValue()", ParameterMode.Raw));
                        pr.Add(new StoreParameter("filterName", "App.txtSearchBorrowersProfile.getValue()", ParameterMode.Raw));
                    }))
                .ColumnModel(
                    X.RowNumbererColumnFormat(),
                    X.ColumnEncodeFormat().Text("Hộp cặp số").DataIndex(Model, m => m.ProfileBox).Width(90),
                    X.ColumnEncodeFormat().Text("Mã hồ sơ").DataIndex(Model, m => m.Code).Width(110),
                    X.ColumnEncodeFormat().Text("Tên hồ sơ").DataIndex(Model, m => m.Name).Flex(1),
                    X.Column().Text("Người mượn").DataIndex(Model, m => m.ProfileBorrow.BorrowEmployee).Width(270).Renderer("renderEmployeeComlumn"),
                    X.DateColumn().Text("Ngày mượn").DataIndex("BorrowDate").Width(120).Align(ColumnAlign.Center).Format("dd/MM/yyyy"),
                    X.DateColumn().Text("Ngày hẹn trả").DataIndex("ReturnEstimateDate").Width(120).Align(ColumnAlign.Center).Format("dd/MM/yyyy"),
                    X.DateColumn().Text("Gia hạn đến").DataIndex("ReturnEstimateDateExtend").Width(120).Align(ColumnAlign.Center).Format("dd/MM/yyyy"),
                    X.Column().Text("Trạng thái").DataIndex("StatusText").Width(150)
                    )
                    .Listeners(ls =>
                    {
                        ls.SelectionChange.Handler = "setDisabledMenuBorrow()";
                        ls.BeforeItemContextMenu.Fn = "oncontextMenuBorrowersProfiles";
                    });

    var grid3 = X.GridPanel()
               .ID("gridDestroyProfiles")
               .MarginSpec("-1 -1 -1 -1")
               .Hidden(true)
               .TopBarItem(
                X.DisplayField().Text("Rà soát theo:  <i class='x-fa fa-trash'></i>  <b>HỒ SƠ ĐÃ HỦY</b>"),
                X.Button().Hidden(!RoleEdit)
                .ID("btnDetailProfileDestroyReport")
                .IconCls("x-fa fa-file")
                .Text("Chi tiết biên bản hủy")
                .Handler("onClickDetailProfileDestroyReport();"),
               X.ToolbarFill(),
                 X.TextField()
                 .EmptyText("Nhập từ khóa tìm kiếm theo tên hoặc mã hồ sơ")
                 .IconCls("x-fa fa-search")
                 .Width(320)
                   .ID("txtSearchDestroyProfile")
                 .Listeners(ls =>
                 {
                     ls.Change.Handler = "App.stDestroyProfiles.reload()";
                     ls.Change.Buffer = 100;
                 }),
                X.ComboboxTreeFormat()
               .Multiple(false)
               .ShowTitle(true)
               .ShowEmployee(true)
               .DisableSelectTitle(true)
               .Width(300)
               .ID("cbtreeDestroyProfileDepartmentId")
               .Text(employeeName)
               .Value(employeeId)
               .Listeners(ls =>
               {
                   ls.Change.Handler = "App.stDestroyProfiles.reload()";
               }),
               X.ButtonRefreshPanel()
               )
               .Store(
                   X.StoreFormat()
                   .PageSize(10)
                   .AutoLoad(false)
                   .GroupField("DestroyName")
                   .Sorters(
                   Html.X().DataSorter().Property("DestroyName").Direction(Ext.Net.SortDirection.ASC)
                   )
                   .ID("stDestroyProfiles")
                   .Url(Url.Action("GetDataDestroys", "Profile", new { Area = "Profile" }))
                   .ModelType(typeof(iDAS.Service.ProfileBO))
                   .Parameters(
                   pr =>
                   {
                       pr.Add(new StoreParameter("objectId", "App.cbtreeDestroyProfileDepartmentId.getValue()", ParameterMode.Raw));
                       pr.Add(new StoreParameter("filterName", "App.txtSearchDestroyProfile.getValue()", ParameterMode.Raw));
                   }))
               .ColumnModel(
                   X.RowNumbererColumnFormat(),
                   X.ColumnEncodeFormat().Text("Hộp cặp số").DataIndex(Model, m => m.ProfileBox).Width(110),
                   X.ColumnEncodeFormat().Text("Mã hồ sơ").DataIndex(Model, m => m.Code).Width(110),
                   X.ColumnEncodeFormat().Text("Tên hồ sơ").DataIndex(Model, m => m.Name).Flex(1),
                   X.Column().Text("Đơn vị lưu trữ").DataIndex(Model, m => m.DepartmentArchiveName).Width(220),
                   X.Column().Text("Thời gian lưu trữ").DataIndex(Model, m => m.ArchiveTimeText).Width(120),
                   X.DateColumn().Text("Ngày lưu trữ").DataIndex(Model, m => m.ArchiveDate).Width(130).Align(ColumnAlign.Center).Format("dd/MM/yyyy"),
                   X.DateColumn().Text("Thời hạn lưu trữ").DataIndex(Model, m => m.ArchiveDeadline).Width(130).Align(ColumnAlign.Center).Format("dd/MM/yyyy"),
                   X.DateColumn().Text("Ngày hủy").DataIndex(Model, m => m.DestroyAt).Width(120).Align(ColumnAlign.Center).Format("dd/MM/yyyy")
                   )
                   .Listeners(ls =>
                   {
                       ls.BeforeItemContextMenu.Fn = "oncontextMenuDestroyProfiles";
                   })
                   .View(
                   Html.X().GridView().MarkDirty(false)
                   )
                   .Features(
                       Html.X().GroupingSummary()
                           .ID("GroupingSummaryDestroy")
                           .GroupHeaderTplString("{name}")
                           .HideGroupedHeader(true)
                           .EnableGroupingMenu(false)
                           .ShowSummaryRow(false)
                   )
                   .BottomBar(Html.X().PagingToolbarFormat());
    var grid4 = X.GridPanel()
                .MarginSpec("-1 -1 -1 -1")
                .Hidden(true)
                .ID("gridTransferProfiles")
                .TopBarItem(
                X.DisplayField().Text("Rà soát theo:  <i class='x-fa fa-refresh'></i>  <b>HỒ SƠ LƯU CHUYỂN</b>"),
                X.ToolbarFill(),
                X.TextField()
                .EmptyText("Nhập từ khóa tìm kiếm theo tên hoặc mã hồ sơ")
                .IconCls("x-fa fa-search")
                .Width(320)
                .ID("txtSearchTransferProfile")
                .Listeners(ls =>
                {
                    ls.Change.Handler = "App.stTransferProfiles.reload()";
                    ls.Change.Buffer = 100;
                }),
                X.CycleButtonFormat()
                .ID("cbbTransferProfilestatus")
                .ShowText(true).PrependText("Lọc theo trạng thái: ")
                .MenuSource(TransferProfilestatus)
                .Listeners(ls => ls.Change.Handler = "App.stTransferProfiles.reload();"),
                X.ComboboxTreeFormat()
                .Multiple(false)
                .ShowTitle(true)
                .DisableSelectTitle(true)
                .ShowEmployee(true)
                .Width(300)
                .ID("cbtreeTransferProfileDepartmentId")
                .Text(employeeName)
                .Value(employeeId)
                .Listeners(ls =>
                {
                    ls.Change.Handler = "App.stTransferProfiles.reload()";
                }),
                X.ButtonRefreshPanel()
                )
                .Store(
                X.StoreFormat()
                .AutoLoad(false)
                .PageSize(10)
                .ID("stTransferProfiles")
                .GroupField("DepartmentArchiveName")
                .Sorters(
                Html.X().DataSorter()
                .Property("DepartmentArchiveName")
                .Direction(Ext.Net.SortDirection.ASC)
                )
                .Url(Url.Action("GetDataTransfers", "Profile", new { Area = "Profile" }))
                .Model(Html.X().Model()
                 .Fields(
                     Html.X().ModelField().Name("SendDepartmentName").Type(ModelFieldType.String).Mapping("ProfileTransfer.Profile.ArchiveDepartment.Name"),
                     Html.X().ModelField().Name("SendEmployeeName").Type(ModelFieldType.String).Mapping("ProfileTransfer.SendEmployee.Name")
                     )
                 )
            .Parameters(
                pr =>
                {
                    pr.Add(new StoreParameter("status", "App.cbbTransferProfilestatus.activeItem.itemId", ParameterMode.Raw));
                    pr.Add(new StoreParameter("objectId", "App.cbtreeTransferProfileDepartmentId.getValue()", ParameterMode.Raw));
                    pr.Add(new StoreParameter("filterName", "App.txtSearchTransferProfile.getValue()", ParameterMode.Raw));
                }))
                .ColumnModel(
                X.RowNumbererColumnFormat(),
                X.ColumnEncodeFormat().Text("Hộp cặp số").DataIndex(Model, m => m.ProfileBox).Width(110),
                X.ColumnEncodeFormat().Text("Mã hồ sơ").DataIndex(Model, m => m.Code).Width(110),
                X.ColumnEncodeFormat().Text("Tên hồ sơ").DataIndex(Model, m => m.Name).Flex(1),
                X.ColumnEncodeFormat().Text("Đơn vị nộp lưu").DataIndex("SendDepartmentName").Width(220),
                X.ColumnEncodeFormat().Text("Người nộp lưu").DataIndex("SendEmployeeName").Width(140),
                X.DateColumn().Text("Thời hạn nộp lưu").DataIndex(Model, m => m.ArchiveDeadline).Width(130).Align(ColumnAlign.Center).Format("dd/MM/yyyy"),
                X.DateColumn().Text("Ngày nộp lưu").DataIndex(Model, m => m.ArchiveDate).Width(120).Align(ColumnAlign.Center).Format("dd/MM/yyyy"),
                X.ColumnEncodeFormat().Text("Trạng thái").DataIndex(Model, m => m.StatusTransferText).Width(130).Align(ColumnAlign.Center)
                )
                .Listeners(ls =>
                {
                    ls.SelectionChange.Handler = "setDisabledMenuTransfer()";
                    ls.BeforeItemContextMenu.Fn = "oncontextMenuTransferProfiles";
                })
                .View(
                Html.X().GridView().MarkDirty(false)
                )
                .Features(
                 Html.X().GroupingSummary()
                     .ID("GroupingSummaryTransfer")
                     .GroupHeaderTplString("Đơn vị lưu trữ: {name}")
                     .HideGroupedHeader(true)
                     .EnableGroupingMenu(false)
                     .ShowSummaryRow(false)
                )
                .BottomBar(Html.X().PagingToolbarFormat());
    var grid5 = X.GridPanel()
            .ID("gridWaitDestroyProfiles")
            .MarginSpec("-1 -1 -1 -1")
            .Hidden(true)
            .TopBarItem(
            X.DisplayField().Text("Rà soát theo:  <i class='x-fa fa-ban'></i>  <b>HỒ SƠ CHỜ HỦY</b>"),
            X.Button().Hidden(!RoleEdit)
            .ID("btnAddReportProfile")
            .IconCls("x-fa fa-file")
            .Text("Biên bản hủy")
            .Handler("onClickProfileDestroyReport()"),
            X.TextField()
            .EmptyText("Nhập từ khóa tìm kiếm hồ sơ...")
            .IconCls("x-fa fa-search")
            .Width(270)
            .ID("txtSearchWaitDestroyProfile")
            .Listeners(ls =>
            {
                ls.Change.Handler = "App.stWaitDestroyProfiles.reload()";
                ls.Change.Buffer = 100;
            }),
            X.CycleButtonFormat()
            .ShowText(true)
            .IconCls("x-fa fa-filter")
            .ID("cbtnArchiveTypeWaitDestroy")
            .PrependText("Loại lưu trữ: ")
            .MenuSource(typeWaitDestroy)
            .Listeners(ls => ls.Change.Handler = "App.stWaitDestroyProfiles.reload();"),
            X.CycleButtonFormat()
            .ID("cbbWaitDestroyProfilestatus")
            .ShowText(true).PrependText("Lọc theo trạng thái: ")
            .MenuSource(WaitDestroyProfilestatus)
            .Listeners(ls => ls.Change.Handler = "App.stWaitDestroyProfiles.reload();"),
            X.ComboboxTreeFormat()
            .Multiple(false)
            .ShowEmployee(true)
            .ShowTitle(true)
            .DisableSelectTitle(true)
            .Flex(1)
            .ID("cbtreeWaitDestroyProfileDepartmentId")
            .Text(employeeName)
            .Value(employeeId)
            .Listeners(ls =>
            {
                ls.Change.Handler = "App.stWaitDestroyProfiles.reload()";
            }),
            X.ButtonRefreshPanel()
            )
            .Store(
                X.StoreFormat()
                .PageSize(10)
                .AutoLoad(false)
                .GroupField("GroupSummaryName")
                .Sorters(
                Html.X().DataSorter().Property("GroupSummaryName").Direction(Ext.Net.SortDirection.ASC)
                )
                .ID("stWaitDestroyProfiles")
                .Url(Url.Action("GetDataWaitDestroy", "Profile", new { Area = "Profile" }))
                .ModelType(typeof(iDAS.Service.ProfileBO))
                .Parameters(
                pr =>
                {
                    pr.Add(new StoreParameter("status", "App.cbbWaitDestroyProfilestatus.activeItem.itemId", ParameterMode.Raw));
                    pr.Add(new StoreParameter("archiveType", "App.cbtnArchiveTypeWaitDestroy.activeItem.itemId", ParameterMode.Raw));
                    pr.Add(new StoreParameter("objectId", "App.cbtreeWaitDestroyProfileDepartmentId.getValue()", ParameterMode.Raw));
                    pr.Add(new StoreParameter("filterName", "App.txtSearchWaitDestroyProfile.getValue()", ParameterMode.Raw));
                }))
            .ColumnModel(
                X.RowNumbererColumnFormat(),
                X.ColumnEncodeFormat().Text("Hộp cặp số").DataIndex(Model, m => m.ProfileBox).Width(110),
                X.ColumnEncodeFormat().Text("Mã hồ sơ").DataIndex(Model, m => m.Code).Width(110),
                X.ColumnEncodeFormat().Text("Tên hồ sơ").DataIndex(Model, m => m.Name).Width(390),
                X.Column().Text("Đơn vị lưu trữ").DataIndex(Model, m => m.DepartmentArchiveName).Flex(1),
                X.Column().Text("Người lưu trữ").DataIndex(Model, m => m.ArchiveEmployee).Width(240).Renderer("renderEmployeeArchiveComlumn"),
                X.Column().Text("Thời gian lưu trữ").DataIndex(Model, m => m.DeadlineDate).Width(120).Align(ColumnAlign.Center),
                X.DateColumn().Text("Ngày lưu trữ").DataIndex(Model, m => m.ArchiveDate).Width(110).Format("dd/MM/yyyy").Align(ColumnAlign.Center),
                X.DateColumn().Text("Thời hạn lưu trữ").DataIndex(Model, m => m.ArchiveDeadline).Width(130).Align(ColumnAlign.Center).Format("dd/MM/yyyy"),
                X.Column().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Width(110).Align(ColumnAlign.Center)
                )
                .Listeners(ls =>
                {
                    ls.BeforeItemContextMenu.Fn = "oncontextMenuWaitDestroyProfiles";
                })
                .View(
                Html.X().GridView().MarkDirty(false)
                )
                .Features(
                    Html.X().GroupingSummary()
                        .GroupHeaderTplString("{name}")
                        .HideGroupedHeader(true)
                        .EnableGroupingMenu(false)
                        .ShowSummaryRow(false)
                )
                .BottomBar(Html.X().PagingToolbarFormat());

    var tab1 = X.Panel()
    .BodyPadding(0)
    .IconCls("x-fa fa-server")
    .Layout(LayoutType.Fit)
    .Padding(0)
    .ID("tabProfile1")
    .Border(false)
    .StyleSpec("border: none;")
    .Title("DANH MỤC HỒ SƠ")
    .Header(false)
    .ItemsFromAction("ProfileList", "DashBoard", new { Area = "Profile",isroleedit = RoleEdit });
    var tab2 = X.Panel()
            .BodyPadding(0)
            .IconCls("x-fa fa-book")
            .Layout(LayoutType.Fit)
            .Padding(0)
            .ID("tabArchiveProfile")
            .Border(false)
            .Listeners(ls => ls.Show.Handler = "if(reloadDefault){App.gridArchiveProfiles.getStore().reload(); reloadDefault=false;}")
            .StyleSpec("border: none;")
            .Title("HỒ SƠ LƯU TRỮ")
            .Header(false)
            .Items(
            grid1,
            grid2,
            grid3,
            grid4,
            grid5
            );
        var panelUpdate = X.PanelWidgetFormat()
.Title("Cập nhật")
.UIName("blueidas")
.IconCls("x-fa fa-pencil")
.Flex(1)
.Tools(t =>
{
  t.Add(new Tool() { Handler = "onShowByMe('Update')", IconCls = "x-fa fa-table", ToolTip = "Phân công hồ sơ cập nhật gửi đến tôi" });
  t.Add(new Tool() { Handler = "App.stPanelProfileAssignUpdate.reload();", IconCls = "x-fa fa-refresh", ToolTip = "Tải lại" });
})
.Items(
X.DataView()
.AutoScroll(true)
.DisableSelection(true)
.LoadingText("Đang tải...")
.StyleSpec("border:none")
.Border(false)
.ItemSelector("td.letter-row")
.Store(
  X.StoreFormat()
  .ID("stPanelProfileAssignUpdate")
  .Url(Url.Action("LoadProfileAssignUpdate", "DashBoard", new { Area = "Profile" }))
  .ModelType(typeof(iDAS.Service.DocumentDasboardApproveBO))
)
.SingleSelect(true)
.Cls("img-chooser-view")
.OverItemCls("x-view-over")
.ItemSelector("div.thumb-wrap")
.EmptyText(@"<div style='text-align:center'><div class='emptyClass' style='height:100px;'></div><div style='font-size: 0.9em'>Không có dữ liệu</div></div>")
.TrackOver(true)
.Tpl(
  X.XTemplate().Html(
        @<text>
            <tpl for=".">
                <div onclick="onProfileAssignUpdate('{Id}', '{Name}', '{RoleType}', '{IsAssign}', '{ProfileId}')" style="cursor:pointer;" class="chat-body no-padding profile-message documentReduce">
                    <a class="calendar message">
                        <div style="text-align:justify">
                            <i style="color:green;" class="x-fa fa-file-text-o"></i> [{Time}] {Name}
                            <span style="float: right; font-size: 11px;">
                            </span><br />
                        </div>
                        <div style="font-size:11px; margin-left:18px;">
                            <i style="color:{StatusColor};" class="x-fa fa-circle"></i> {StatusText}
                            <span style="float: right; font-size: 11px;">
                                <i class="x-fa fa-user"></i> Vai trò: {RoleText}
                            </span>
                        </div>
                    </a>
                </div>
                <span class="document-timeline-sperator text-center" style="margin:5px"></span>
            </tpl>
        </text>)
        )
    );
    var panelCheck = X.PanelWidgetFormat()
  .Title("Kiểm tra")
  .IconCls("x-fa fa-check")
  .Flex(1)
  .UIName("blueidas")
  .Tools(t =>
  {
      t.Add(new Tool() { Handler = "onShowByMe('Check')", IconCls = "x-fa fa-table", ToolTip = "Đề nghị kiểm tra gửi đến tôi" });
      t.Add(new Tool() { Handler = "App.stPanelDasboardCheck.reload();", IconCls = "x-fa fa-refresh", ToolTip = "Tải lại" });
  })
  .Items(
      X.DataView()
      .AutoScroll(true)
      .DisableSelection(true)
       .LoadingText("Đang tải...")
      .StyleSpec("border:none")
      .Border(false)
      .ItemSelector("td.letter-row")
      .Store(
          X.StoreFormat()
          .ID("stPanelDasboardCheck")
          .Url(Url.Action("LoadProfileSuggestCheck", "DashBoard", new { Area = "Profile" }))
          .ModelType(typeof(iDAS.Service.DocumentDasboardApproveBO))
      )
      .SingleSelect(true)
      .Cls("img-chooser-view")
      .OverItemCls("x-view-over")
      .ItemSelector("div.thumb-wrap")
      .EmptyText(@"<div style='text-align:center'><div class='emptyClass' style='height:100px;'></div><div style='font-size: 0.9em'>Không có dữ liệu</div></div>")
      .TrackOver(true)
      .Tpl(
          X.XTemplate().Html(
        @<text>
            <tpl for=".">
                <div onclick="onProfileReview('{Id}', '{Name}', '{RoleType}', '{ProfileId}')" style="cursor:pointer;" class="chat-body no-padding profile-message documentReduce">
                    <a class="calendar message">
                        <div style="text-align:justify">
                            <i style="color:green;" class="x-fa fa-file-text-o"></i> [{Time}] {Name}
                            <span style="float: right; font-size: 11px;">
                            </span><br />
                        </div>
                        <div style="font-size:11px; margin-left:18px;">
                            <i style="color:{StatusColor};" class="x-fa fa-circle"></i> {StatusText}
                            <span style="float: right; font-size: 11px;">
                                <i class="x-fa fa-user"></i> Vai trò: {RoleText}
                            </span>
                        </div>
                    </a>
                </div>
                <span class="document-timeline-sperator text-center" style="margin:5px"></span>
            </tpl>
        </text>)
        )
    );
    var panelApproval = X.PanelWidgetFormat()
  .Title("Phê duyệt")
  .IconCls("x-fa fa-check-square-o")
  .Flex(1)
  .UIName("blueidas")
  .Tools(t =>
  {
      t.Add(new Tool() { Handler = "onShowByMe('Success')", IconCls = "x-fa fa-table", ToolTip = "Đề nghị phê duyệt đến tôi" });
      t.Add(new Tool() { Handler = "App.stPanelDasboardAppoval.reload();", IconCls = "x-fa fa-refresh", ToolTip = "Tải lại" });
  })
  .Items(
      X.DataView()
      .AutoScroll(true)
      .DisableSelection(true)
       .LoadingText("Đang tải...")
      .StyleSpec("border:none")
      .Border(false)
      .ItemSelector("td.letter-row")
      .Store(
          X.StoreFormat()
          .ID("stPanelDasboardAppoval")
          .Url(Url.Action("LoadProfileApproval", "DashBoard", new { Area = "Profile" }))
          .ModelType(typeof(iDAS.Service.DocumentDasboardApproveBO))
      )
      .SingleSelect(true)
      .Cls("img-chooser-view")
      .OverItemCls("x-view-over")
      .ItemSelector("div.thumb-wrap")
      .EmptyText(@"<div style='text-align:center'><div class='emptyClass' style='height:100px;'></div><div style='font-size: 0.9em'>Không có dữ liệu</div></div>")
      .TrackOver(true)
      .Tpl(
          X.XTemplate().Html(
        @<text>
            <tpl for=".">
                <div onclick="onSuggestApproval('{Id}', '{Name}', '{RoleType}', '{IsDestroy}', '{ProfileId}', '{IsProfileApproval}')" style="cursor:pointer;" class="chat-body no-padding profile-message documentReduce">
                    <a class="calendar message">
                        <div style="text-align:justify">
                            <i style="color:green;" class="x-fa fa-file-text-o"></i> [{Time}] {Name}
                            <span style="float: right; font-size: 11px;">
                            </span><br />
                        </div>
                        <div style="font-size:11px; margin-left:18px;">
                            <i style="color:{StatusColor};" class="x-fa fa-circle"></i> {StatusText}
                            <span style="float: right; font-size: 11px;">
                                <i class="x-fa fa-user"></i> Vai trò: {RoleText}
                            </span>
                        </div>
                    </a>
                </div>
                <span class="document-timeline-sperator text-center" style="margin:5px"></span>
            </tpl>
        </text>)
        )
    );
    var panelArchive = X.PanelWidgetFormat()
      .Title("Lưu trữ")
      .IconCls("x-fa fa-archive")
      .Flex(1)
      .UIName("blueidas")
      .Tools(t =>
      {
          t.Add(new Tool() { Handler = "onShowByMe('Approval')", IconCls = "x-fa fa-table", ToolTip = "Đề nghị lưu trữ đến tôi" });
          t.Add(new Tool() { Handler = "App.stPanelDasboarArchire.reload();", IconCls = "x-fa fa-refresh", ToolTip = "Tải lại" });
      })
      .Items(
          X.DataView()
          .AutoScroll(true)
          .DisableSelection(true)
           .LoadingText("Đang tải...")
          .StyleSpec("border:none")
          .Border(false)
          .ItemSelector("td.letter-row")
          .Store(
              X.StoreFormat()
              .ID("stPanelDasboarArchire")
              .Url(Url.Action("LoadProfileArchire", "DashBoard", new { Area = "Profile" }))
              .ModelType(typeof(iDAS.Service.DocumentDasboardApproveBO))
          )
          .SingleSelect(true)
          .Cls("img-chooser-view")
          .OverItemCls("x-view-over")
          .ItemSelector("div.thumb-wrap")
          .EmptyText(@"<div style='text-align:center'><div class='emptyClass' style='height:100px;'></div><div style='font-size: 0.9em'>Không có dữ liệu</div></div>")
          .TrackOver(true)
          .Tpl(
              X.XTemplate().Html(
            @<text>
                <tpl for=".">
                    <div onclick="onProfileArchive('{Id}', '{Name}', '{RoleType}', '{ProfileId}')" style="cursor:pointer;" class="chat-body no-padding profile-message documentReduce">
                        <a class="calendar message">
                            <div style="text-align:justify">
                                <i style="color:green;" class="x-fa fa-file-text-o"></i> [{Time}] {Name}
                                <span style="float: right; font-size: 11px;">
                                </span><br />
                            </div>
                            <div style="font-size:11px; margin-left:18px;">
                                <i style="color:{StatusColor};" class="x-fa fa-circle"></i> {StatusText}
                                <span style="float: right; font-size: 11px;">
                                    <i class="x-fa fa-user"></i> Vai trò: {RoleText}
                                </span>
                            </div>
                        </a>
                    </div>
                    <span class="document-timeline-sperator text-center" style="margin:5px"></span>
                </tpl>
            </text>)
            )
        );
}
@(X.Container()
    .ID("ctDasboardProfile")
    .Layout(LayoutType.Border)
    .Border(false)
    .Listeners(ls => ls.Resize.Handler = "this.updateLayout()")
    .Items(
        X.TabPanel()
        .Flex(1)
        .Border(true)
        .Layout(LayoutType.Fit)
        .Region(Region.Center)
        .Items(
            tab1,
            tab2.TabMenu(m => m.Add(X.Menu()
                .Items(
                 X.MenuItem()
                    .Text("Hồ sơ lưu trữ")
                    .ItemID("gridArchiveProfiles")
                    .IconCls("x-fa fa-archive")
                    .Listeners(ls => ls.Click.Handler = "changeView(this)"),
                    X.MenuItem()
                    .Text("Hồ sơ lưu chuyển")
                    .ItemID("gridTransferProfiles")
                    .IconCls("x-fa fa-refresh").Listeners(ls => ls.Click.Handler = "changeView(this)"),
                    X.MenuItem()
                    .Text("Hồ sơ chờ hủy")
                    .ItemID("gridWaitDestroyProfiles")
                    .IconCls("x-fa fa-ban").Listeners(ls => ls.Click.Handler = "changeView(this)"),
                    X.MenuItem()
                    .Text("Hồ sơ đã hủy")
                    .ItemID("gridDestroyProfiles")
                    .IconCls("x-fa fa-trash").Listeners(ls => ls.Click.Handler = "changeView(this)"),
                    X.MenuItem()
                    .Text("Hồ sơ mượn trả")
                    .ItemID("gridBorrowersProfiles")
                    .IconCls("x-fa fa-hand-rock-o").Listeners(ls => ls.Click.Handler = "changeView(this)")
                    )
                  )
                )                
        ),
    X.Container()
    .Defaults(X.Parameter().Name("margin").Value("0 0 0 0").Mode(ParameterMode.Value))
    .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
    .Border(false)
    .Region(Region.South)
    .StyleSpec("background: transparent;")
    .Height(150)
    .MarginSpec("5 0 0 0")
    .Padding(0)
    .Items(
        panelUpdate,
        X.Container().Width(5),
        panelCheck,
        X.Container().Width(5),
        panelApproval,
        X.Container().Width(5),
        panelArchive
        )
    ).Html(@<text><div class='navbar-right'><a title='Thiết lập' onclick='loadConfigContent("Profile/Setting/Index", "ctMnProfileConfig");' href='javascript:void(0);'><i style=' color:red !important' class='fa fa-cogs fa-spin'></i></a></div></text>)
)
@(X.Menu().Hidden(!RoleEdit)
    .ID("contextMenuArchiveProfiles")
     .Items(
        X.MenuItem().Text("Chi tiết").IconCls("x-fa fa-info-circle").ID("ctmDetailProfileArchive").Handler("onDetailArchiveProfile"),
        X.MenuItem().Text("Danh sách hồ sơ").IconCls("x-fa fa-book").Handler("onProfileArchiveComponent"),
        X.MenuItem().Text("Xóa").IconCls("x-fa fa-trash-o").ID("ctmDeleteProfileArchive")
        .DirectEvents(de =>
        {
            de.Click.Method = HttpMethod.POST;
            de.Click.Confirmation.ConfirmRequest = true;
            de.Click.Confirmation.Message = Resource.ConfirmDelete;
            de.Click.Confirmation.Title = Resource.Confirm;
            de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
            de.Click.ExtraParams.Add(new { Id = new JRawValue("App.gridArchiveProfiles.selModel.getSelection()[0].data.Id") });
            de.Click.Url = Url.Action("DeleteProfile", "Profile");
            de.Click.Success = "App.stArchiveProfiles.reload();";
        })
    )
)
@(X.Menu().Hidden(!RoleEdit)
    .ID("contextMenuBorrowersProfiles")
     .Items(
        X.MenuItem().Text("Chi tiết").IconCls("x-fa fa-info-circle").Handler("onDetailBorrowersProfile"),
        X.MenuItem().Text("Danh sách hồ sơ").IconCls("x-fa fa-book").Handler("onBorrowersProfileComponent"),
        X.MenuItem().Text("Giao hồ sơ").IconCls("x-fa fa-hand-rock-o")
        .ID("cmAssign")
        .DirectEvents(de =>
        {
            de.Click.Method = HttpMethod.POST;
            de.Click.ExtraParams.Add(new { profileId = new JRawValue("App.gridBorrowersProfiles.selModel.getSelection()[0].data.Id") });
            de.Click.Url = Url.Action("Borrow", "ProfileBorrow", new { Area = "Profile" });
        }),
        X.MenuItem()
        .Text("Trả hồ sơ")
        .IconCls("x-fa fa-arrow-left")
        .ID("cmReturn")
        .DirectEvents(de =>
        {
            de.Click.Method = HttpMethod.POST;
            de.Click.ExtraParams.Add(new { profileId = new JRawValue("App.gridBorrowersProfiles.selModel.getSelection()[0].data.Id") });
            de.Click.Url = Url.Action("Return", "ProfileBorrow", new { Area = "Profile" });
        }),
        X.MenuItem().Text("Gia hạn").IconCls("x-fa fa-calendar-plus-o")
        .ID("cmExtend")
        .DirectEvents(de =>
        {
            de.Click.Method = HttpMethod.POST;
            de.Click.ExtraParams.Add(new { id = new JRawValue("App.gridBorrowersProfiles.selModel.getSelection()[0].data.BorrowId") });
            de.Click.Url = Url.Action("ExtendBorrow", "ProfileBorrow", new { Area = "Profile" });
        }),
        X.MenuItem().Text("Xóa").IconCls("x-fa fa-trash-o").Handler("deleteRecord")
    )
)
@(X.Menu().Hidden(!RoleEdit)
    .ID("contextMenuDestroyProfiles")
     .Items(
        X.MenuItem().Text("Chi tiết").IconCls("x-fa fa-info-circle").Handler("onDetailDestroyProfile"),
        X.MenuItem().Text("Danh sách hồ sơ").IconCls("x-fa fa-book").Handler("onDestroyProfileComponent"),
        X.MenuItem().Text("Xóa").IconCls("x-fa fa-trash-o")
        .DirectEvents(de =>
        {
            de.Click.Method = HttpMethod.POST;
            de.Click.Confirmation.ConfirmRequest = true;
            de.Click.Confirmation.Message = "Bạn có muốn xóa hồ sơ này không?";
            de.Click.Confirmation.Title = Resource.Confirm;
            de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
            de.Click.ExtraParams.Add(new { Id = new JRawValue("App.gridDestroyProfiles.selModel.getSelection()[0].data.Id") });
            de.Click.Url = Url.Action("DeleteProfile", "Profile");
            de.Click.Success = "App.stDestroyProfiles.reload();";
        })
    )
)
@(X.Menu().Hidden(!RoleEdit)
    .ID("contextMenuTransferProfiles")
     .Items(
        X.MenuItem().Text("Chi tiết").IconCls("x-fa fa-info-circle").Handler("onDetailTransferProfile"),
        X.MenuItem().Text("Danh sách hồ sơ").IconCls("x-fa fa-book").Handler("onTransferProfileComponent"),
        X.MenuItem().Text("Nộp lưu trữ").IconCls("x-fa fa-clipboard")
        .ID("cmAddTransfer")
        .DirectEvents(de =>
        {
            de.Click.Method = HttpMethod.POST;
            de.Click.ExtraParams.Add(new { profileId = new JRawValue("App.gridTransferProfiles.selModel.getSelection()[0].data.Id") });
            de.Click.Url = Url.Action("Form", "ProfileTransfer", new { Area = "Profile" });
        }),
        X.MenuItem().Text("Biên bản giao nhận").IconCls("x-fa fa-file-text-o")
        .ID("cmReceive")
        .DirectEvents(de =>
        {
            de.Click.Method = HttpMethod.POST;
            de.Click.ExtraParams.Add(new { profileId = new JRawValue("App.gridTransferProfiles.selModel.getSelection()[0].data.Id") });
            de.Click.Url = Url.Action("Receive", "ProfileTransfer", new { Area = "Profile" });
        }),
            X.MenuItem().Text("Xóa").IconCls("x-fa fa-trash-o")
            .DirectEvents(de =>
                    {
                        de.Click.Method = HttpMethod.POST;
                        de.Click.Confirmation.ConfirmRequest = true;
                        de.Click.Confirmation.Message = "Bạn có muốn xóa hồ sơ này không?";
                        de.Click.Confirmation.Title = Resource.Confirm;
                        de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
                        de.Click.ExtraParams.Add(new { Id = new JRawValue("App.gridTransferProfiles.selModel.getSelection()[0].data.Id") });
                        de.Click.Url = Url.Action("DeleteProfile", "Profile");
                        de.Click.Success = "App.stTransferProfiles.reload();";
                    })
    )
)

@(X.Menu().Hidden(!RoleEdit)
    .ID("contextMenuWaitDestroyProfiles")
     .Items(
        X.MenuItem().Text("Chi tiết").IconCls("x-fa fa-info-circle"),
        X.MenuItem().Text("Phân công").IconCls("x-fa fa-file-text-o"),
        X.MenuItem().Text("Danh sách hồ sơ").IconCls("x-fa fa-book"),
        X.MenuItem().Text("Nộp lưu trữ").IconCls("x-fa fa-clipboard"),
        X.MenuItem().Text("Xóa").IconCls("x-fa fa-trash-o")
    )
)
<script>
    var reloadDefault = true;
    var onSuggestApproval = function (id, name, roleType, IsDestroy, profileId, isProfileApproval) {
        var url = null;
        switch (roleType) {
            /* Phê duyệt đề nghị hủy */
            case '@(Convert.ToInt16(iDAS.Service.Common.Resource.ProfileRoleType.DestroyApproval))':
                if (IsDestroy == "true") {
                    url = '@(Url.Action("FormApproval", "DestroySuggest", new { Area = "Profile" }, null))';
                }
                break;
                /* Phê duyệt đề nghị mượn hồ sơ */
            case '@(Convert.ToInt16(iDAS.Service.Common.Resource.ProfileRoleType.BorrowApproval))':
                url = '@(Url.Action("Approval", "ProfileSuggestBorrow", new { Area = "Profile" }, null))';
                break;
                /*Xem thông tin hồ sơ mượn*/
            case '@(Convert.ToInt16(iDAS.Service.Common.Resource.ProfileRoleType.BorrowCreater))':
                url = '@(Url.Action("Form", "ProfileSuggestBorrow", new { Area = "Profile" }, null))';
                break;
                /*Phê duyệt hồ sơ*/
            case '@(Convert.ToInt16(iDAS.Service.Common.Resource.ProfileRoleType.ProfileApprover))':
                if (isProfileApproval == "true") {
                    url = '@(Url.Action("FormReview", "Profile", new { Area = "Profile" }, null))';
                }
                break;
            default:
                break;
        }
        onDirectMethod(url, { id: id, Id: profileId, profileId: profileId, ResponsibilityId: id }, 'get');
    };
    var onShowByMe = function (view) {
        var url = '@Url.Action("ProfileByMe", "Dashboard")';
        var params = null;
        switch (view) {
            case 'Update':
                params = { TypeList: "LoadProfileAssignUpdate" };
                break;
            case 'Check':
                params = { TypeList: "LoadProfileSuggestCheck" };
                break;
            case 'Approval':
                params = { TypeList: "LoadProfileArchire" };
                break;
            case 'Success':
                params = { TypeList: "LoadProfileApproval" };
                break;
            default:
                return;
                break;
        }
        onDirectMethod(url, params);
    };
    var onProfileAssignUpdate = function (id, name, roleType, isAssign, profileId) {
        var url = null;
        switch (roleType) {
            case '@(Convert.ToInt16(iDAS.Service.Common.Resource.ProfileRoleType.ProfileAssign))':
                if (isAssign == "true") {
                    url = '@(Url.Action("Index", "ProfileComponent", new { Area = "Profile" }, null))';
                }
                break;
            default:
                break;
        }
        onDirectMethod(url, { Id: profileId }, 'get');
    };

    var onProfileReview = function (id, name, roleType, profileId) {
        var url = null;
        switch (roleType) {
            case '@(Convert.ToInt16(iDAS.Service.Common.Resource.ProfileRoleType.ProfileChecker))':
                url = '@(Url.Action("FormReview", "Profile", new { Area = "Profile" }, null))';
                break;
            default:
        }
        onDirectMethod(url, { profileId: profileId, ResponsibilityId: id }, 'get');
    };

    var onProfileArchive = function (id, name, roleType, profileId) {
        var url = null;
        switch (roleType) {
            case '@(Convert.ToInt16(iDAS.Service.Common.Resource.ProfileRoleType.ProfileArchiver))':
                url = '@(Url.Action("Receive", "ProfileTransfer", new { Area = "Profile" }, null))';
                break;
            default:
        }
        onDirectMethod(url, { profileId: profileId }, 'get');
    };

    var changeView = function (activeItem) {
        var item = App.tabArchiveProfile.items.getByKey(activeItem.itemId);
        App.tabArchiveProfile.items.each(function (e, d) {
            e.hide();
        });
        item.show();
        item.getStore().reload();
    };
    /* script grid 1*/
    var onProfileArchiveComponent = function () {
        var id = App.gridArchiveProfiles.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { id: id };
            var url = '@Url.Action("Index", "ProfileComponent")';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };
    var onDetailArchiveProfile = function () {
        var id = App.gridArchiveProfiles.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { Id: id };
            var url = '@Url.Action("Form", "Profile", new {Area = "Profile"})';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };
    var renderEmployeeArchiveComlumn = function (value, meta, record) {
        if (record.data.ArchiveEmployee != null) {
            var image = '<img src="' + record.data.ArchiveEmployee.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
            var name = '<span style="margin-left: 42px;">' + Ext.htmlEncode(record.data.ArchiveEmployee.Name) + '</span><br/>';
            var titleNames = '<span style="margin-left: 42px;font-size:10px;"><b>Chức danh</b>: ' + record.data.ArchiveEmployee.RoleNames + '</span>';
            result = '<span>' + image + name + titleNames + '</span>';
            return result;
        } else
            return '';
    };

    var renderProfileEmployee = function (value, metadata, record, rowIndex, colIndex, store, view) {
        var html = record.data.ContentHtml != null ?
            Ext.String.format('<a href="javascript:void(0)" onclick="onViewProfileEmployee(\'{0}\')"><strong style="color:green;">{1}</strong></a>', record.data.Id, record.data.Code) :
            Ext.String.format('<strong>{0}</strong>', record.data.Code);
        return html;
    };

    var onViewProfileEmployee = function (id) {
        var params;
        var url = '@Url.Action("ViewProfileEmployee", "Profile", new { Area = "Profile" })';
        if (id != '') {
            params = { Id: id };
            onDirectMethod(url, params);
        }
    };

    var oncontextMenuArchiveProfiles = function (s, r, d, o, e, eOpts) {
        e.stopEvent();
        if (r.data.HideContextMenuDelete == true) {
            App.ctmDeleteProfileArchive.setDisabled(true);
        }
        else {
            App.ctmDeleteProfileArchive.setDisabled(false);
        }
        if (r.data.IsHiddenButton == true) {
            App.ctmDetailProfileArchive.setDisabled(true);
        }
        else {
            App.ctmDetailProfileArchive.setDisabled(false);
        }
        App.contextMenuArchiveProfiles.showAt(e.getX(), e.getY() - 50);
    };
    /* end script grid 1*/
    /* script grid 2*/
    var setDisabledMenuBorrow = function () {
        var records = App.gridBorrowersProfiles.selModel.getSelection();
        switch (records.length) {
            case 0:
                App.cmAssign.setDisabled(true);
                App.cmReturn.setDisabled(true);
                App.cmExtend.setDisabled(true);
                break;
            case 1:
                if (records[0].data.Status == '@Convert.ToInt16(iDAS.Service.Common.Resource.ProfileBorrowStatus.WaitAssign)') {
                    App.cmAssign.setDisabled(false);
                    App.cmReturn.setDisabled(true);
                    App.cmExtend.setDisabled(true);
                }
                else if (records[0].data.Status == '@Convert.ToInt16(iDAS.Service.Common.Resource.ProfileBorrowStatus.Borrowing)') {
                    App.cmAssign.setDisabled(true);
                    App.cmReturn.setDisabled(false);
                    App.cmExtend.setDisabled(false);
                }
                else if (records[0].data.Status == '@Convert.ToInt16(iDAS.Service.Common.Resource.ProfileBorrowStatus.Return)') {
                    App.cmAssign.setDisabled(true);
                    App.cmReturn.setDisabled(true);
                    App.cmExtend.setDisabled(true);
                }
                else if (records[0].data.Status == '@Convert.ToInt16(iDAS.Service.Common.Resource.ProfileBorrowStatus.OverTimeReturn)') {
                    App.cmAssign.setDisabled(true);
                    App.cmReturn.setDisabled(false);
                    App.cmExtend.setDisabled(false);
                }
                break;
            default:
                App.cmAssign.setDisabled(true);
                App.cmReturn.setDisabled(true);
                App.cmExtend.setDisabled(true);
                break;
        }
    };
    var onBorrowersProfileComponent = function () {
        var id = App.gridBorrowersProfiles.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { id: id };
            var url = '@Url.Action("Index", "ProfileComponent")';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };
    var onDetailBorrowersProfile = function () {
        var id = App.gridBorrowersProfiles.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { Id: id };
            var url = '@Url.Action("Form", "Profile", new {Area = "Profile"})';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };
    var deleteRecord = function () {
        var id = App.gridBorrowersProfiles.getSelection()[0].data.BorrowId;
        Ext.MessageBox.show({
            title: 'Xác nhận', msg: 'Bạn có chắc chắn muốn xóa bản ghi này không?',
            buttons: { yes: 'Đồng ý', no: 'Không' },
            iconCls: '#Information',
            fn: function (btn) {
                if (btn == 'yes') {
                    Ext.net.DirectMethod.request({
                        url: '@(Url.Action("Delete", "ProfileBorrow", new { Area = "Profile" }))',
                        params: { id: id },
                        success: function (result) {
                            App.gridBorrowersProfiles.deleteSelected();
                        }
                    });
                }
            }
        });
    };
    var renderEmployeeComlumn = function (value, meta, record) {
        if (record.data.BorrowEmployee != null) {
            var image = '<img src="' + record.data.BorrowEmployee.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
            var name = '<span style="margin-left: 42px;">' + Ext.htmlEncode(record.data.BorrowEmployee.Name) + '</span><br/>';
            var titleNames = '<span style="margin-left: 42px;font-size:10px;"><b>Chức danh</b>: ' + record.data.BorrowEmployee.RoleNames + '</span>';
            result = '<span>' + image + name + titleNames + '</span>';
            return result;
        } else {
            return '';
        }
    };
    var oncontextMenuBorrowersProfiles = function (s, r, d, o, e, eOpts) {
        e.stopEvent();
        App.contextMenuBorrowersProfiles.showAt(e.getX(), e.getY() - 75);
    };
    /* end script grid 2*/
    /* script grid 3*/
    var onDestroyProfileComponent = function () {
        var id = App.gridDestroyProfiles.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { id: id };
            var url = '@Url.Action("FormViewDetail", "ProfileComponent")';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };
    var onDetailDestroyProfile = function () {
        var id = App.gridDestroyProfiles.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { Id: id, hideButtonSave: true };
            var url = '@Url.Action("Form", "Profile", new {Area = "Profile"})';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };
    var oncontextMenuDestroyProfiles = function (s, r, d, o, e, eOpts) {
        e.stopEvent();
        App.contextMenuDestroyProfiles.showAt(e.getX(), e.getY() - 75);
    };
    /* end script grid 3*/
    /* script grid 4*/
    var setDisabledMenuTransfer = function () {
        var records = App.gridTransferProfiles.selModel.getSelection();
        switch (records.length) {
            case 0:
                App.cmAddTransfer.setDisabled(true);
                App.cmReceive.setDisabled(true);
                break;
            case 1:
                if ((records[0].data.StatusTransferText == '@iDAS.Service.Common.Resource.ProfileTransferStatusText.WaitTransfer')
                    || (records[0].data.StatusTransferText == '@iDAS.Service.Common.Resource.ProfileTransferStatusText.OverTimeTransfer')) {
                    App.cmAddTransfer.setDisabled(false);
                    App.cmReceive.setDisabled(true);
                } else {
                    App.cmAddTransfer.setDisabled(true);
                    App.cmReceive.setDisabled(false);
                }
                break;
            default:
                App.cmAddTransfer.setDisabled(true);
                App.cmReceive.setDisabled(true);
                break;
        }
    };
    var onDetailTransferProfile = function () {
        var id = App.gridTransferProfiles.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { Id: id };
            var url = '@Url.Action("Form", "Profile", new {Area = "Profile"})';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };
    var onTransferProfileComponent = function () {
        var id = App.gridTransferProfiles.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { id: id };
            var url = '@Url.Action("Index", "ProfileComponent")';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };
    var oncontextMenuTransferProfiles = function (s, r, d, o, e, eOpts) {
        e.stopEvent();
        App.contextMenuTransferProfiles.showAt(e.getX(), e.getY() - 75);
    };
    /* end script grid 4*/
    /* script grid 5*/
    var oncontextMenuWaitDestroyProfiles = function (s, r, d, o, e, eOpts) {
        e.stopEvent();
        App.contextMenuWaitDestroyProfiles.showAt(e.getX(), e.getY() - 75);
    };
    var oncheckShowSuggest = function () {
        console.log(App.gridWaitDestroyProfiles.selModel.getSelection()[0].data.profileDestroySuggeststatus);
        var disabled = !App.gridWaitDestroyProfiles.selModel.getSelection()[0].data.profileDestroySuggeststatus;
        App.btnAddReportProfile.setDisabled(disabled);
    };
    var onClickArchiveToProfileDestroySuggest = function () {
        var records = App.gridArchiveProfiles.selModel.getSelection();        
        if (records != null) {
            var profileIds = '';
            var departmentId = '';
            for (var i = 0; i < records.length; i++) {
                if (records[i].data.Status == '@Convert.ToInt16(iDAS.Service.Common.Resource.ProfileStatus.Archive)') {
                    profileIds += records[i].data.Id + ',';
                }
            }
            if (App.cbtreeProfileDepartmentId) {
                departmentId = App.cbtreeProfileDepartmentId.getValue();
            }
            var params = { profileIds: profileIds, departmentId: departmentId };
            var url = '@Url.Action("Form", "DestroySuggest", new { Area = "Profile" })';
            onDirectMethod(url, params);
        }
    };
    var onClickDetailProfileDestroyReport = function () {
        var records = App.gridDestroyProfiles.selModel.getSelection();
        console.log(records);
        if (records != null) {
            var profileIds = '';
            for (var i = 0; i < records.length; i++) {
                if (records[i].data.Status == '@Convert.ToInt16(iDAS.Service.Common.Resource.ProfileStatus.Archive)') {
                    profileIds += records[i].data.Id + ',';
                }
            }
            var params = { profileIds: profileIds};
            var url = '@Url.Action("FormDestroyResult", "DestroyReport", new { Area = "Profile" })';
            onDirectMethod(url, params);
        }
    };
    var showMessageWhenNotSelectProfileDestroySuggest = function (value) {
        var msg = "Chưa có hồ sơ, chỉ những hồ sơ có trạng thái Lưu trữ mới được đề nghị hủy!";
        if (value == "UpdateError") {
            msg = "Có lỗi trong quá trình cập nhật dữ liệu!";
        };
        Ext.MessageBox.show({
            title: 'Thông báo', msg: msg,
            buttons: { yes: 'Đồng ý' },
            iconCls: '#Exclamation'
        });
    };

    var onClickProfileDestroyReport = function () {
        var records = App.gridWaitDestroyProfiles.selModel.getSelection();
        console.log(records);
        if (records != null) {
            var departmentId = '', ProfileDestroySuggest='';
            if (App.cbtreeProfileDepartmentId) {
                departmentId = App.cbtreeProfileDepartmentId.getValue();
            }
            for (var i = 0; i < records.length; i++) {
                ProfileDestroySuggest += records[i].data.profileDestroySuggestId;
            }
            var params = { departmentId: departmentId, ProfileDestroySuggest: ProfileDestroySuggest };
            var url = '@Url.Action("Form", "DestroyReport", new { Area = "Profile" })';
            onDirectMethod(url, params);
        }
    };
    /* end script grid 5*/
</script>