﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.ProfileDasboardBO
@{
    var X = Html.X();
    var type = (string)ViewData["TypeProfile"];
    var titles = "Danh sách yêu cầu ";
    if (type == "LoadProfileAssignUpdate")
    {
        titles += "cập nhật thành phần hồ sơ";
    }
    else if(type == "LoadProfileSuggestCheck")
    {
        titles += "kiểm tra hồ sơ";
    }
    else if(type == "LoadProfileApproval")
    {
        titles += "phê duyệt hồ sơ";
    }
    else if(type == "LoadProfileArchire")
    {
        titles += "lưu trữ hồ sơ";
    }
}
@(X.WindowSlide()
    .WindowLayout(LayoutType.Fit)
    .ID("wdProfileByMe")
    .Width(600)
    .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.6 })
    .Modal(true)
    .Title(titles)
    .IconCls("x-fa fa-table")
    .Draggable(false).Closable(true).IconCls("x-fa fa-reply-all")
    .Items(
        X.GridPanelFormat()
        .ID("grProfileByByMe")
        .BodyBorder(0)
        .BodyPadding(0)
        .Padding(0)
        .Margin(0)
        .Flex(1)
        .MarginSpec("-1 -1 -1 -1")
        .Border(true)
        .Store(
        X.StoreFormat()
        .ID("storeProfileByyMe")
        .AutoLoad(true)
        .Url(Url.Action(type, "DashBoard", new { Area = "Profile" }))
        .Model(Html.X().Model()
        .IDProperty("Id")
        .Fields(
                new ModelField("Id", ModelFieldType.String),
                new ModelField("Name", ModelFieldType.String),
                new ModelField("RoleText", ModelFieldType.String),
                new ModelField("StatusText", ModelFieldType.String)
                )
            )
        )
        .ColumnModel(
            Html.X().RowNumbererColumnFormat(),
            Html.X().ColumnEncodeFormat().DataIndex("Name").Text("Tiêu đề").Flex(1).CellWrap(true),
            Html.X().ColumnEncodeFormat().DataIndex("RoleText").Text("Vai trò").Width(120).Align(ColumnAlign.Center).CellWrap(true),
            Html.X().ColumnEncodeFormat().DataIndex("StatusText").Text("Trạng thái").Width(120).CellWrap(true).Align(ColumnAlign.Center)
        )
    )
    .Buttons(
        Html.X().ButtonExit().Handler("App.wdProfileByMe.el.slideOut('r',{duration : 500});")
    )
)
<script>
    var xxx = null;
    var renderEmployee = function (value, meta, record) {
        xxx = record.data.Sender;
        var title = '';
        var result = '';
        var image = '';
        title = '<span style="margin-left: 40px;font-size:10px;">' + record.data.Sender.RoleNames + '</span>';
        image = '<img src="' + record.data.Sender.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 40px;">' + Ext.htmlEncode(record.data.Sender.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
    var renderName = function (value, meta, record) {
        return "[" + record.data.Time + "] " + value + "<br/>" + (record.data.Document.Name != null ? record.data.Document.Name : "");
    };
</script>