﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;

@{
    var X = Html.X();
}
@(X.Window().ID("windowTest")
    .Listeners(ls =>
        {
            ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth()/2);this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
        })
    .Layout(LayoutType.Fit)
    .Title("Test Image")
    .Maximizable(false).Closable(true)
    .Modal(true).Draggable(false)
    .Padding(5)
    .Html(
    @<text>
        <tpl for=".">
            <div style="width:80%; height:70%; margin:auto;">
                <div style="width: 90px; height: 90px; border-radius: 50%; border: 1px solid #d8d0d0; cursor:pointer">
                    <div style="width: 80px; height: 80px; border-radius: 50%; border: 1px solid #a59b9b; margin: auto; margin-top:4px">
                        <center>
                            <i class="x-fa fa-user-secret" style="font-size:35px; margin:auto; margin-top: 5px;"></i>
                            <p style="text-align:center;"><b>LÃNH ĐẠO</b></p>
                        </center>
                    </div>
                </div>
                <div>
                    <div onclick="onClickPlan()" style="width: 60px; height: 60px; border-radius: 50%; border: 1px solid #d8d0d0; cursor:pointer; margin-left:180px; margin-top:-80px;">
                        <div style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid #e83a3a; margin: auto; margin-top: 4px">
                            <center>
                                <i class="x-fa fa-list-alt" style="font-size: 25px; margin: auto; margin-top: 5px; color: #e83a3a"></i>
                            </center>
                        </div>
                    </div>
                    <div style="margin:-60px 0px 0px 245px;">
                        <p style="color: #e83a3a; text-align: justify;">
                            <b>HOẠCH ĐỊNH</b><br />
                            Thực hiện thiết lập mục tiêu, nguồn lực thực hiện, xác định rủi ro, cơ hội và biện pháp khắc phục…
                        </p>
                    </div>
                </div>
                <div style="margin-top:35px">
                    <div style="width: 60px; height: 60px; border-radius: 50%; border: 1px solid #d8d0d0; cursor:pointer; margin-left:150px; margin-top:15px;">
                        <div style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid orange; margin: auto; margin-top: 4px; ">
                            <center>
                                <i class="x-fa fa-cogs" style="font-size: 25px; margin: auto; margin-top: 5px; color: orange; "></i>
                            </center>
                        </div>
                    </div>
                    <div style="margin:-65px 0px 0px 215px;">
                        <p style="color: orange; text-align: justify">
                            <b>HỖ TRỢ & ĐIỀU HÀNH</b><br />
                            Thực hiện giám sát điều hành việc thực hiện quy trình chất lượng. Kiểm soát khắc phục sự không phù hợp trong quá trình thực hiện đảm bảo việc thực hiện đúng yêu cầu…
                        </p>
                    </div>
                </div>
                <div style="margin-top:-25px">
                    <div style="width: 60px; height: 60px; border-radius: 50%; border: 1px solid #d8d0d0; cursor:pointer; margin-left:100px;">
                        <div style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid #e2bd05; margin: auto; margin-top: 4px">
                            <center>
                                <i class="x-fa fa-file-text" style="font-size: 25px; margin: auto; margin-top: 5px; color: #e2bd05"></i>
                            </center>
                        </div>
                    </div>
                    <div style="margin:-30px 0px 0px 165px;">
                        <p style="color: #e2bd05; text-align:justify">
                            <b>ĐÁNH GIÁ</b><br />
                            Thực hiện đánh giá kết quả thực hiện công việc. Kiểm tra giám sát đưa ra hành động cải tiến
                        </p>
                    </div>
                </div>
                <div style="margin-top:20px">
                    <div style="width: 60px; height: 60px; border-radius: 50%; border: 1px solid #d8d0d0; cursor:pointer; margin-top:-65px; margin-left:18px">
                        <div style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid #056d05; margin: auto; margin-top: 4px">
                            <center>
                                <i class="x-fa fa-bullseye" style="font-size: 25px; margin: auto; margin-top: 5px; color: #056d05"></i>
                            </center>
                        </div>
                    </div>
                    <div style="margin:10px 0px 0px 20px;">
                        <p style="color: #056d05; text-align:justify">
                            <b>CẢI TIẾN</b><br />
                            Đưa ra các hành động cải tiến và biện pháp khắc phục sự không phù hợp nhằm cải tiến chất lượng của quy trình…
                        </p>
                    </div>
                </div>
            </div>
        </tpl>
    </text>
    ).Buttons(
        X.ButtonSlideOut()
    )
)
<script>
    var onClickPlan = function () {
        alert("Thực hiện thiết lập mục tiêu, nguồn lực thực hiện, xác định rủi ro, cơ hội và biện pháp khắc phục…");
    };
</script>