﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Graphics/rappid.min.css" rel="stylesheet" />
    <link href="~/Content/App/theme-picker.css" rel="stylesheet" />
    <link href="~/Content/App/style.css" rel="stylesheet" />
    <link href="~/Content/App/style.dark.css" rel="stylesheet" />
    <link href="~/Content/App/style.material.css" rel="stylesheet" />
    <link href="~/Content/App/style.modern.css" rel="stylesheet" />
    <link href="~/Content/fonts/font-awesome.min.css" rel="stylesheet" />

    <style>
        .btn-save {
        }

            .btn-save::after {
                font-family: 'FontAwesome';
                content: "\f0c7";
                position: relative;
            }

        .handle.remove1.n {
            background-image: url(/content/assets/1.png);
            background-size: 40px;
        }

            .handle.remove1.n ::after {
            }
    </style>
</head>
<body>

    <div id="app">
        <div class="app-header " style="height:50px">
            <div class="app-title">
                <h4 id="labelProcessName" style="margin:15px 0 0 15px">Quy trình</h4>
                <input id="txtProcessName" placeholder="Tên quy trình" class="form-control" hidden="hidden" style="margin:15px 0 0 15px">
            </div>
            <div class="toolbar-container"></div>
        </div>
        <div class="app-body">
            <div class="stencil-container"></div>
            <div class="paper-container"></div>
            <div class="inspector-container"></div>
            <div class="navigator-container"></div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>


    <script src="~/Scripts/App/index.js"></script>

    <script src="~/Scripts/App/backbone.js"></script>
    <script src="~/Scripts/App/graphlib.core.js"></script>
    <script src="~/Scripts/App/dagre.core.js"></script>
    <script src="~/Scripts/App/rappid.min.js"></script>

    <script src="~/Scripts/App/config/halo.js"></script>
    <script src="~/Scripts/App/config/selection.js"></script>
    <script src="~/Scripts/App/config/inspector.js"></script>
    <script src="~/Scripts/App/config/stencil.js"></script>
    <script src="~/Scripts/App/config/toolbar.js"></script>

    <script src="~/Scripts/App/config/sample-graphs.js"></script>
    <script src="~/Scripts/App/views/main.js"></script>
    <script src="~/Scripts/App/views/theme-picker.js"></script>
    <script src="~/Scripts/App/models/joint.shapes.app.js"></script>

    <script>
        joint.setTheme('modern');
        app = new App.MainView({ el: '#app' });
        themePicker = new App.ThemePicker({ mainView: app });
        themePicker.render().$el.appendTo(document.body);
        $(window).load(function () {
            app.graph.fromJSON(JSON.parse(App.config.sampleGraphs.emergencyProcedure));
        });
        $('#labelProcessName').click(function () {
            $('#txtProcessName').val($(this).text());
            $(this).attr('hidden', 'hidden');
            $('#txtProcessName').removeAttr('hidden');
        });
        $('#txtProcessName').focusout(function () {

            $(this).val() == '' ? $('#labelProcessName').text('Tên quy trình') : $('#labelProcessName').text($(this).val());
            $(this).attr('hidden', 'hidden');
            $('#labelProcessName').removeAttr('hidden');
        });
        $("#btn-save").click(function () {
            var data = {};
            data.Id = '@Guid.NewGuid()';
            data.Name = $('#labelProcessName').text();
            data.Graph = app.graph.getCells();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Save")',
                data: JSON.stringify({ data: data }),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {

                },
                error: function (result) {

                }

            });
        });
    </script>
</body>
</html>
