﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
}
<link href="~/Content/Graphics/rappid.css" rel="stylesheet" />
<link href="~/Content/App/theme-picker.css" rel="stylesheet" />
<link href="~/Content/App/style.css" rel="stylesheet" />
<link href="~/Content/App/style.dark.css" rel="stylesheet" />
<link href="~/Content/App/style.material.css" rel="stylesheet" />
<link href="~/Content/App/style.modern.css" rel="stylesheet" />
<link href="~/Content/fonts/font-awesome.min.css" rel="stylesheet" />

<style>
    .btn-save {
    }

        .btn-save::after {
            font-family: 'FontAwesome';
            content: "\f0c7";
            position: relative;
        }

    .handle.addRole.n {
        background-color: red;
    }

        .handle.addRole.n ::after {
            background-color: red;
        }
</style>
@(X.ContainerHBox()

.Border(false)
.Items(
        X.Container().Flex(4).Html(@"
        <div id='appDesign'>
            <div class='app-header' style='height:50px'>
                <div class='app-title'>
                    <h4 id='labelProcessName' style='margin:15px 0 0 15px'>THIẾT LẬP QUY TRÌNH</h4>
                </div>
            <div class='toolbar-container'></div>
        </div>
        <div class='app-body'>
            <div class='stencil-container'></div>
            <div class='paper-container'></div>
            <div class='inspector-container'></div>
            <div class='navigator-container'></div>
        </div>
        </div>"),
               X.FieldSetVBox().Flex(1).Border(true)

               .Items(
                X.GridPanelFormat().ID("gridResponsibility")
                     .TopBar(
                    X.Toolbar().Items(
                        X.ComboboxTreeFormat().Flex(1).ID("cbbResonsibility").DisableSelectEmployee(false).ShowEmployee(true).DisableSelectTitle(false).ShowTitle(true).DisableSelectDepartment(true),
                        X.Button().Text("Lưu").IconCls("x-fa fa-floppy-o").Handler("addResponsibility")
                    ))

                .Store(
                X.Store()
                .AutoLoad(false)
                .ID("storeResponsibility")
                    .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData"))
                    .Reader(Html.X().JsonReader().RootProperty("data").IDProperty("ObjectId")))

                )
                  .ColumnModel(
                    X.RowNumbererColumnFormat().Width(60),
                    X.Column().Text("Trách nhiệm").Flex(1).Renderer(new Renderer { Fn = "renderObjectComlumn" })
               )

)
))
<script>
    var clientStorage = [];
    var arrayObject = [];
    var urlSelectRole = '@Url.Action("SelectRole")';
    $(document).ready(function () { LoadWorkflowGraph('#appDesign'); });

    var renderObjectComlumn = function (value, meta, record) {
        var title = '';
        var result = record.data.ObjectName;
        var image = '';
        var name = '';
        if (record.data.ObjectType == "Employee") {
            title = '<span style="margin-left: 44px;font-size:10px;"> </span></span>';
            image = '<img src="' + record.data.ObjectImage + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
            name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.ObjectName) + '</span><br/>';
        }
        else {
            title = '<span style="margin-left: 44px;font-size:10px;"></span></span>';
            image = '<i class="fa fa-star-o fa-2x"></i>';
            name = '<span style="margin-bottom:3px; margin-left: 15px;">' + Ext.htmlEncode(record.data.ObjectName) + '</span><br/>';
        }
        result = '<span>' + image + name + title + '</span>';
        return result;
    };

    var addResponsibility = function () {
        var id = App.cbbResonsibility.getValue();
        var name = App.cbbResonsibility.getText();
        var ids = {};
        var names = {};
        ids = id.split(',');
        names = name.split(',');
        if (id != null && id != undefined && name != '') {
            for (var i = 0; i < ids.length; i++) {
                if (Ext.StoreMgr.lookup(App.storeResponsibility).findExact('ObjectId', ids[i]) < 0) {
                    App.storeResponsibility.insert(0, { ObjectId: ids[i], ObjectName: names[i], FromView: true });

                    var selectItem = mainView.selection.collection.models[0];
                    var checkItem = clientStorage.find( o => o.id === selectItem.id);
                    if(checkItem && checkItem.data)
                    {
                        var data = {};
                        data.ObjectId = ids[i];
                        data.ObjectName = names[i];
                        data.FromView  = true;
                        checkItem.data.push(data);
                    }
                }
            }
        }
        App.gridResponsibility.getView().refresh();
    };

    function AddToClientStore(data) {
        for (var i = 0; i < data.length; i++) {
            App.storeResponsibility.insert(0, { ObjectId: data[i].ObjectId, ObjectName: data[i].ObjectName, FromView: true });
        }
    };

    $(document).on('click', '[data-type="org.Member"]', function () {
        App.storeResponsibility.data.items = [];
        if (mainView.selection.collection.models.length != 1)
            return false;
        var selectItem = mainView.selection.collection.models[0];
        var checkItem = clientStorage.find( o => o.id === selectItem.id);
        if(!checkItem)
        {
            var record = {};
            record.id = selectItem.id;
            record.data = [];
            clientStorage.push(record);
        }
        else
        {
            AddToClientStore(checkItem.data);   
        }
        App.gridResponsibility.getView().refresh();
    });
</script>