﻿@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
}
@(X.Container()
 .ID("ctMnProfileSecurityConfig")
 .Layout(LayoutType.Fit)
 .Border(false)
 .Listeners(ls => ls.Resize.Handler = "this.updateLayout()")
 .Items(
    X.Panel()
    .Flex(1)
    .ID("pnProfileConfig")
    .Layout(LayoutType.Fit)
    .Border(true)
    .TopBar(
        X.Toolbar()
        .StyleSpec("padding-bottom:0px;padding-top:0px;")
        .Items(
            X.TabStrip().WidthSpec("90%")
            .Items(t =>{
                t.Add(X.Tab().ActionItemID("tabArchiveSetting").IconCls("x-fa fa-object-group").Text("Thiết lập người lưu trữ"));
                t.Add(X.Tab().ActionItemID("tabProfileSucurities").IconCls("x-fa fa-user-secret").Text("Thiết lập Mức độ bảo mật"));
                t.Add(X.Tab().ActionItemID("tabProfileTypeDestroy").IconCls("x-fa fa-paper-plane").Text("Thiết lập phương thức hủy hồ sơ"));
            }),
                X.ToolbarFill(),
                X.Button().IconCls("x-tool-tool-el x-tool-img x-tool-maximize").Border(false).Listeners(ls => ls.Click.Handler = "fullWindowFromTabPanel(App.ctMnProfileSecurityConfig,'Thiết lập','x-fa fa-cogs', this)")
                )
            )
    .Items(
        X.Panel().ID("tabArchiveSetting").BodyPadding(0).Icon(Icon.ApplicationViewDetail).Layout(LayoutType.Fit).Padding(0)
        .Border(false).Header(false).StyleSpec("border: none;").Frame(true)
            .ItemsFromAction("Index", "ArchiveSetting", new { area = "Profile" }),
        X.Panel().ID("tabProfileSucurities").BodyPadding(0).Icon(Icon.ApplicationViewDetail).Layout(LayoutType.Fit).Padding(0)
        .Border(false).Header(false).StyleSpec("border: none;").Frame(true)
            .ItemsFromAction("Index", "Security", new { area = "Profile" }),
        X.Panel().ID("tabProfileTypeDestroy").BodyPadding(0).Icon(Icon.ApplicationViewDetail).Layout(LayoutType.Fit).Padding(0)
        .Border(false).Header(false).StyleSpec("border: none;").Frame(true)
            .ItemsFromAction("Index", "ProfileTypeDestroy", new { area = "Profile" })
            )
        )
    .Html(@<text><div class='navbar-right'><a title='Trở lại' onclick='loadConfigContent("Profile/DashBoard/Index", "ctDasboardProfile");' href='javascript:void(0);'><i style=' color:red !important' class='fa fa-arrow-left'></i></a></div></text>)
)

