﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation;
@{
    var X = Html.X();
    var employeeId = ViewData["EmployeeId"];
    employeeId = employeeId == null ? Guid.Empty : employeeId;
    var ContentHTML = (string)ViewData["ContentHTML"];
}
@(X.Window()
    .ID("winPreviewProfileEmployee")
    .Title("Thông tin chi tiết nhân sự")
    .Layout(LayoutType.Fit)
    .AutoScroll(true)
    .Maximized(true)
    .IconCls("x-fa fa-info-circle")
    .Modal(true)
    .Constrain(true)
    .Maximizable(false)
    .Closable(true)
    .Shadow(true)
    .Items(
        X.Container()
        .PaddingSpec("20 0 0 20")
        .AutoScroll(true)
        .Border(false)
        .ID("pnAbout_ExportProfileEmployee")
        .Layout(LayoutType.Border)
        .Region(Region.Center)
        .Html(
            ContentHTML
        )
    )
    .Buttons(
        X.Button().Text("Xuất thông chức danh").Icon(Icon.World).Listeners(ls => ls.Click.Handler = "ExportProfileEmployee()"),
        X.ButtonExit()
    )
)
<script>
    function ExportProfileEmployee() {
        var header = "<html xmlns:o='urn:schemas-microsoft-com:office:office' " +
            "xmlns:w='urn:schemas-microsoft-com:office:word' " +
            "xmlns='http://www.w3.org/TR/REC-html40'>" +
            "<head><meta charset='utf-8'><title>Export HTML to Word Document with JavaScript</title></head><body>";
        var footer = "</body></html>";
        var sourceHTML = header + App.pnAbout_ExportProfileEmployee.initialConfig.html + footer;
        var source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(sourceHTML);
        var fileDownload = document.createElement("a");
        document.body.appendChild(fileDownload);
        fileDownload.href = source;
        fileDownload.download = 'Profile.doc';
        fileDownload.click();
        document.body.removeChild(fileDownload);
    }
</script>
