﻿
@{
    var quocTich = HttpUtility.HtmlEncode("Quốc tịch");
}
<h4>Thông tin cá nhân</h4>
<table style="width:100%; border:1px">
    <tr>
        <td>Bí danh</td>
        <td>@Model.Aliases</td>
        <td>@quocTich</td>
        <td>Việt Nam</td>
    </tr>
</table>
<h4>Hồ sơ quá trình công tác</h4>
<table style="width:100%; border:1px; align-content:center; align-items:center" border="1">
    <tr>
        <td align="center">
            Bắt đầu
        </td>
        <td align="center">
            Kết thúc
        </td>
        <td align="center">
            Nơi công tác
        </td>
    </tr>
    @foreach (var item in ViewBag.experience)
    {
         <tr>
        <td>
            @(item.StartDate != null ? String.Format("{0:dd/MM/yyyy}", item.StartDate) : string.Empty)
        </td>
        <td>
            @(item.EndDate != null ? String.Format("{0:dd/MM/yyyy}", item.EndDate) : string.Empty)
        </td>
        <td>
            @item.Position
        </td>
    </tr>
    }
</table>