﻿@using Ext.Net;
@using Ext.Net.MVC;
@model object[]
@{
    var X = Html.X();


    //var TypeCombobox = new List<ListItem>();
    //TypeCombobox.Add(new ListItem() { Text = "Nơi sinh", Value = "NS" });
    //TypeCombobox.Add(new ListItem() { Text = "Hộ khẩu", Value = "HK" });
    //TypeCombobox.Add(new ListItem() { Text = "Tôn giáo", Value = "TG" });
    //TypeCombobox.Add(new ListItem() { Text = "Dân tộc", Value = "DT" });
    //TypeCombobox.Add(new ListItem() { Text = "Quốc tịch", Value = "QT" });
    //TypeCombobox.Add(new ListItem() { Text = "Độ tuổi", Value = "KT" });

    //var TypeCombobox = (List<ListItem>)ViewData["cboStatisType_data"];
    var TypeCombobox = (List<ListItem>) Session["cboStatisType_data1"];
}
@(X.Container()
    //.ID("pnChart1")
    .Border(false)
    .Layout(LayoutType.HBox)
    //.Defaults(X.Parameter().Name("margin").Value("0 0 0 0").Mode(ParameterMode.Value))
    .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })

    .Items(
    X.Panel()
        .Layout(LayoutType.Fit).Dock(Dock.Left)
        .Border(false)
        .Flex(2)
        .TopBarItem(
            X.ComboBox().ID("cboStatisticType").Width(250).Editable(false)
                .EmptyText("Loại thống kê...")
                .Items(TypeCombobox).SelectedItems(TypeCombobox[0])
                .Listeners(ls => ls.Change.Handler = "App.storeChart1.reload();if(typeof(App.storePie1) != 'undefined') App.storePie1.reload();")
                )
        .MarginSpec("-1 0 0 -1")
        .Items(
        X.CartesianChart()
            .Store(X.Store()
                .ID("storeChart1")
                .Data(Model)
                .Model(X.Model().Fields("Name", "Value"))
                //.ServerProxy(X.AjaxProxy().Url(Url.Action("GetStatistic", "EmployeeSearch", new { area = "Organization" })))
                .Proxy(X.AjaxProxy()
                    .Url(Url.Action("GetStatistic", "EmployeeSearch", new { area = "Organization" }))
                    .Reader(X.JsonReader().RootProperty("data"))
                    )
                .Parameters(ps =>
                {
                    ps.Add(new StoreParameter("statisticType", "App.cboStatisticType.getValue()", ParameterMode.Raw));
                })
            )
            .Axes(
                X.NumericAxis()
                    .Position(Position.Left)
                    .Fields("Value")
                    .Grid(true)
                    //.Title("Số lượng")
                    .Minimum(0)
                    .Renderer(r => r.Handler="return Ext.util.Format.number(label, '0,0');"),

                X.CategoryAxis()
                    .Position(Position.Bottom)
                    .Fields("Name")
                    //.Title("Month of the Year")
                    .Label(X.ChartLabel().RotationDegrees(-45))
            )
            .Series(X.BarSeries()
                .Highlight(true)
                .XField("Name")
                .YField("Value")
                .Tooltip(X.ChartTip()
                    .TrackMouse(true)
                    .Renderer(r => r.Handler = "this.setTitle(storeItem.get('Name') + ': ' + storeItem.get('Value'));")
                )
                .Label(X.ChartLabel()
                    .Display(SeriesLabelDisplay.InsideEnd)
                    .Field("Value")
                    .Orientation(Orientation.Horizontal)
                    //.Color("#333")
                    .TextAlign(TextSpriteAlign.Center)
                    .Renderer(r => r.Handler = "return Ext.util.Format.number(text, '0');")
                )
            )

        ),
        X.Panel()
            .Flex(1).Dock(Dock.Right)
            .MarginSpec("-1 -1 -1 0")
            .Layout(LayoutType.Fit)
            .Items(
            X.PolarChart()
                .ID("ChartTaskPie1")
                .Shadow(true)
                .Border(false)
                .UIName("none-boder")
                .StyleSpec("border:none !important;")
                .StandardTheme(StandardChartTheme.Category5)
                .InsetPadding(4)
                .InnerPadding(4)
                .LegendConfig(X.ChartLegend().Dock(Dock.Right).Border(false).StyleSpec("border:none !important;"))
                .Store(
                    X.Store()
                    .ID("storePie1")
                //.Listeners(ls =>
                //{
                //    ls.BeforeLoad.Handler = "App.loadpnStatistical.show();";
                //    ls.Load.Handler = "App.loadpnStatistical.hide();";
                //})
                .AutoLoad(true)
                .Model(X.Model().Fields("Name", "Value"))
                .Proxy(X.AjaxProxy()
                    .Url(Url.Action("GetStatistic", "EmployeeSearch", new { area = "Organization" }))
                    .Reader(X.JsonReader().RootProperty("data"))
                    )
                .Parameters(ps =>
                {
                    ps.Add(new StoreParameter("statisticType", "App.cboStatisticType.getValue()", ParameterMode.Raw));
                })
                )
                .Interactions(
                    X.ItemHighlightInteraction(),
                    X.RotateInteraction()
                )
                .Series(
                X.PieSeries()
                    .AngleField("Value")
                    .ShowInLegend(true)
                    .Donut(0)
                    .HighlightMargin(20)
                    .Label(X.ChartLabel()
                        .Field("Name")
                        .Display(SeriesLabelDisplay.Inside)
                        .FontSize("10")
                        .FontFamily("Arial")
                    )
                    .Tooltip(X.ChartTip()
                        .TrackMouse(true)
                        .Width(150)
                        .Height(28)
                        .Renderer(r => r.Fn = "tipRenderer1")
                    )
                )
            )
            )
)
<script>
    var tipRenderer1 = function (toolTip, storeItem, item) {
        var total = 0;
        App.ChartTaskPie1.getStore().each(function (rec) {
            total += rec.get('Value');
        });
        toolTip.setTitle(storeItem.get('Name') + ': ' + Math.round(storeItem.get('Value') / total * 100) + '%');
    };
</script>

