﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.EmployeeOTBO
@{
    var X = Html.X();
    var isReadonly = !Model.AllowCreate && !Model.AllowUpdate;
    Operation operation = (Operation)ViewData["Operation"];
    var formId = X.GetComponentID();
    var SatrusCombobox = new List<ListItem>();
    SatrusCombobox.Add(new ListItem() { Text = Resource.Wait, Value = "0" });
    SatrusCombobox.Add(new ListItem() { Text = Resource.Approved, Value = "1" });
    SatrusCombobox.Add(new ListItem() { Text = Resource.Rejected, Value = "2" });
    var currentId = new iDAS.Service.EmployeeService().GetCurrentUser().Id;
    bool isFinal = Convert.ToBoolean(ViewData["isFinal"]?? false);
    var sentBy = (ViewData["sentBy"]?? Guid.Empty).ToString();
    var sentByBO = new iDAS.Service.EmployeeService().GetById(Guid.Parse(sentBy));
}
@(X.WindowFormat()
        .Title(Model.Id == Guid.Empty ? Resource.Create : Resource.Detail)
        .IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
        .Height(operation == Operation.Create ? 400 : 550)
        .Width(800)
        .Items(
            X.FormPanelVBoxFormat()
                .ID(formId)
                .BodyPadding(6)
                .Items(
                    X.HiddenFor(u => u.Id),
                    X.HiddenFor(u => u.UserId),
                    X.HiddenFor(u => u.EmployeeId),
                    X.DateTimeFieldFormatFor(u => u.StartTime).EmptyText(Resource.StartTime).HideLabel(true).AllowBlank(false),
                    X.DateTimeFieldFormatFor(u => u.EndTime).EmptyText(Resource.EndTime).HideLabel(true).AllowBlank(false),
                    //X.TextFieldFor(u => u.Level).EmptyText("Địa điểm làm việc").HideLabel(true).AllowBlank(false),
                    X.TextAreaFor(u => u.Reason).EmptyText("Lý do đăng ký OT").HideLabel(true).AllowBlank(false),
                    X.ComboBoxFormatFor(u => u.Status).EmptyText("Trạng thái").Items(SatrusCombobox).Hidden(operation == Operation.Create? true : false).Disabled(operation == Operation.Update && Model.ApprovedBy != currentId),
                    X.FieldSet().Title("Người duyệt (*)").MarginSpec("10 0 10 0").Padding(1).Items(
                        X.EmployeeFieldFor(u => u.EmployeePerform).UrlEmployeeStore(Url.Action("LoadData", "Employee", new { area = "Generic" }))
                    )
                ),
            X.Checkbox().ID("chbForward").FieldLabel("Chuyển tiếp").Hidden(operation == Operation.Create).Disabled(isFinal || operation != Operation.Update)
            .Listeners(ls => ls.Change.Handler = "enableForward()"),
            X.Label().Hidden(operation == Operation.Create || sentByBO.Name == "" || sentByBO.Name == null).Text("Chuyển tiếp từ: " + sentByBO.Name),
            X.FieldSet().ID("fieldForward").Title("Chuyển tiếp tới").Hidden(operation == Operation.Create).Disabled(true).MarginSpec("10 0 10 0").Padding(1).Items(
            X.EmployeeFieldOtherFor(u => u.EmployeePerformNext).UrlEmployeeStore(Url.Action("LoadData", "Employee", new { area = "Generic" }))
        )
            )
            .Buttons(
                X.ButtonDelete()
                    .Hidden(operation == Operation.Create || Model.Status == 1 || Model.Status == 2 ? true : false)
                    .DirectEvents(de => de.Click.ExtraParams.Add(new { id = Model.Id }))
                    .SuccessHandle("if(App.stEmpOT) App.stEmpOT.reload();this.up('window').doDestroy();"),
                X.ButtonSave()
                    .Hidden(Model.Status == 1 || Model.Status == 2)
                    .DirectEvents(de =>
                    {
                        de.Click.FormID = formId;
                        de.Click.Url = Url.Action(operation == Operation.Create ? "Create" : "Update");
                        de.Click.ExtraParams.Add(new {forwardId = new JRawValue("App.hdfemployeeIDOtherTOGetValue.getValue()") });
                    })
                    .SuccessHandle("if(App.stEmpOT) App.stEmpOT.loadPage(1);this.up('window').doDestroy();"),
            X.ButtonExit()
        )
)
<script>
    Ext.getBody().unmask();

    var enableForward = function () {
        var state = App.chbForward.getValue();
        App.fieldForward.setDisabled(!state);
    };
</script>