﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentRequestBO
@{
    var X = Html.X();
}

@(X.Menu().ID("grdContextListDistribute")
 .Items(
                X.MenuItem().Text("Thông tin nơi nhận").IconCls("x-fa fa-info-circle").ID("InfoDistribute").Handler("onDetailDistribute();").Disabled(true),
                X.MenuItem().Text("Thông tin phân phối").IconCls("x-fa fa-file-text-o").Handler("onFormDistribute();")
    )
)

@(X.Window()
.Draggable(false)
.Modal(false)
    .Listeners(
            ls =>
            {
                ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight()/1.1);this.setWidth(App.ctDesktop.getWidth()/3); this.alignTo(App.ctDesktop,'br-br'); this.el.slideIn('b',{duration : 500});";
                //  ls.BeforeClose.Handler = "App.WindowDistribute.el.slideOut('b',{duration : 500}); return false;";
                ls.MaskClick.Handler = "App.WindowDistribute.el.slideOut('r',{duration : 500});setTimeout(function(){App.WindowDistribute.doDestroy();},500);";
            })
    .ID("WindowDistribute")
    .Title("Danh sách nơi nhận")
    .Header(false)
    .IconCls("x-fa fa-download")
    .Items(
           X.GridPanel()
                .ID("grListDistribute")
                .BodyBorder(0)
                .BodyPadding(0)
                .Title("Danh sách nơi nhận")
                .Header(true)
                .UI(UI.Success)
                .Tools(
                X.Tool().ToolTip("Thêm").Type(ToolType.Plus)
                .DirectEvents(
                    de =>
                    {
                        de.Click.Url = Url.Action("FormChooseDestination", "External");
                    })
                )
                .Padding(0)
                .Margin(0)
                .Flex(1)
                .MarginSpec("-1 -1 -1 -1")
                .Border(false)
                .Store(
                    X.StoreFormat()
                    .ID("storeListDistribute")
                    .AutoLoad(true)
                    .Model(Html.X().Model()
                    .IDProperty("Id")
                    .Fields(
                    new ModelField("Id", ModelFieldType.String),
                    new ModelField("Type", ModelFieldType.String),
                            new ModelField("Name", ModelFieldType.String),
                    new ModelField("date", ModelFieldType.String)
                    )
                )
                        .Url(Url.Action("testDataDistributeRole", "Distribute", new { Area = "Document" })))
                .ColumnModel(
                        Html.X().RowNumbererColumn().Text("STT").Width(50).Align(ColumnAlign.Center),
                        X.Column().Text("Nơi nhận").DataIndex("Type").Flex(1).Renderer(new Renderer { Fn = "renderObjectComlumn" }),
                        Html.X().ColumnEncodeFormat().DataIndex("date").Text("Ngày phân phối").Width(120).CellWrap(true).Align(ColumnAlign.Center)

                    ).Listeners(ls =>
                        {
                            ls.Select.Handler = "checkInfoDistribute(record)";
                            ls.BeforeItemContextMenu.Fn = "itemgrdContextListDistribute";
                        })

               )
        .Buttons(
           X.ButtonExit().Handler("App.WindowDistribute.el.slideOut('r',{duration : 500});")
        )
)

<script>
    var checkInfoDistribute = function (record) {

        if (record.data.Type == "Employee") {
            App.InfoDistribute.setDisabled(false);
        } else {
            App.InfoDistribute.setDisabled(true);
        }
    };

    var itemgrdContextListDistribute = function (grid, record, item, index, e, eOpts) {
        e.stopEvent();
        App.grdContextListDistribute.showAt(e.getX(), e.getY());
    };
    var onDetailDistribute = function () {
        var url = '@Url.Action("DetailDistribute", "Distribute")';
        onDirectMethod(url, null);
    };

    var onFormDistribute = function () {
        var url = '@Url.Action("Form", "Distribute")';
        onDirectMethod(url, null);
    };

    var renderObjectComlumn = function (value, meta, record) {
        var title = '';
        var result = record.data.Type;
        var image = '';
        if (record.data.Type == "Employee") {
            title = '<span style="margin-left: 44px;font-size:10px;">Tổng giám đốc</span>';
            image = '<img src="' + record.data.Image + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
            var name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.Name) + '</span><br/>';
            result = '<span>' + image + name + title + '</span>';
        }
        else {
            title = '<span style="margin-left: 44px;font-size:10px;"></span></span>';
            if (record.data.Type == "Title") {
                 image = '<i style="margin-top: 10px"; class="fa fa-star-o fa-2x"></i>';
                 var name = '<span style="margin:0 0 0 15px;">' + Ext.htmlEncode(record.data.Name) + '</span><br/>';
                 title = '<span style="margin-left: 42px; font-size:10px;">Phòng phát triển</span>';
                 result = '<span>' + image + name + title + '</span>';
            }

            else if (record.data.Type == "Department") {
                image = '<i style="margin-top:10px;" class="fa fa-home fa-2x"></i>';
                var name = '<span style="margin-top:103px; margin-left: 15px;">' + Ext.htmlEncode(record.data.Name) + '</span><br/>';
                result = '<span>' + image + name + title + '</span>';
            }
            else {
                image = '<i style="margin-top:10px;" class="fa fa-external-link fa-2x"></i>';
                var name = '<span style="margin-bottom:3px; margin-left: 15px;">Gửi bên ngoài</span><br/>';
                result = '<span>' + image + name + title + '</span>';
            }
        }


        return result;
    };


</script>