﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.VPHumanTrainingPlanBO
@(Html.X().Window()
.ID("winRequirement")
.Title("Yêu cầu đào tạo")
.Layout(LayoutType.Fit)
    .Width(850)
    .Height(500)
    .Icon(Icon.User)
    .BodyPadding(0)
    .Margin(0)
    .Constrain(true)
    .Layout(LayoutType.Fit)
    .Modal(true)
    .Resizable(false)
    .Items(
    Html.X().GridPanel()
            .Header(false)
            .ID("GrRequirement")
            .ColumnLines(true)
            .ForceFit(true)
            .Border(false)
            .Icon(Icon.TextListBullets)
            .Store(
                Html.X().Store()
                    .ID("StoreRequirement")
                    .RemotePaging(true)
                    .PageSize(20)
                    .Proxy(Html.X().AjaxProxy()
                    .Url(Url.Action("LoadRequirementByPlan"))
                    .Reader(Html.X().JsonReader()
                    .RootProperty("data")).IDParam("Id"))
                    .Parameters(ps =>
                        {
                            ps.Add(new StoreParameter("id", Model.Id.ToString(), ParameterMode.Value));
                        })
                    .Model(
                    Html.X().Model()
                        .Fields(
                        Html.X().ModelField().Name("Id"),
                        Html.X().ModelField().Name("RequireBy"),
                        Html.X().ModelField().Name("Contents"),
                        Html.X().ModelField().Name("IsSelected")
                    )
                    )
            )
            .ColumnModel(
                Html.X().RowNumbererColumnFormat(),
                Html.X().Column().DataIndex("RequireBy").Text("Người yêu cầu").Width(240).Renderer("renderRequiremnetBy"),
                Html.X().Column().DataIndex("Contents").Text("Nội dung").Flex(1),
                Html.X().CheckColumn().DataIndex("IsSelected").Text("Chọn").Width(90).Align(ColumnAlign.Center).Editable(true)
                )
            .Plugins(Html.X().CellEditing().Listeners(ls => ls.Edit.Fn = "onEditRequirement"))
            .BottomBar(Html.X().PagingToolbarFormat())
    )
.Buttons(Html.X().ButtonExit())
)
<script>
    var onEditRequirement = function (editor, e) {
        if (!(e.value === e.originalValue || (Ext.isDate(e.value) && Ext.Date.isEqual(e.value, e.originalValue)))) {
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("UpdateRequirementPlan"))',
                params: {
                    id: e.record.data.Id,
                    planId: '@Model.Id',
                    isSeleted: e.record.data.IsSelected
                }
            });
        }
    };
    var renderRequiremnetBy = function (value, meta, record) {
        var title = '';
        var result = '';
        var image = '';
        title = '<span style="margin-left: 40px;font-size:10px;">' + record.data.RequireBy.RoleNames + '</span>';
        image = '<img src="' + record.data.RequireBy.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 40px;">' + Ext.htmlEncode(record.data.RequireBy.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
</script>