﻿@using Ext.Net;
@using Ext.Net.MVC;
@model iDAS.Service.VPHumanProfileWorkExperienceBO
@using iDAS.Service
@{
    var X = Html.X();
    Layout = "~/Views/Shared/_Layout.cshtml";

    var employeeId = ViewData["EmployeeId"];
    var employeeName = (string)ViewData["EmployeeName"];
}

@(X.Viewport().Layout(LayoutType.Fit).Border(false).Margin(0).Frame(false).StyleSpec("border: none;")
    .Items(
            X.GridPanel()
                .Header(false)
                .ID("GrProfileWorkExperience")
                .ColumnLines(true)
                .ForceFit(true)
                .Border(false)
                .Icon(Icon.TextListBullets)
                .TopBar(
                    X.Toolbar()
                    .Layout(LayoutType.VBox)
                    .Items(
                        X.ContainerHBox().Cls("topbarItems").Items(
                            X.Button().ID("btnCreate").Text("Thêm mới").IconCls("x-fa fa-plus-circle").Handler("AddNew();"),
                            X.Button().ID("btnUpdate").Text("Chi tiết").IconCls("x-fa fa-info-circle").Handler("UpdateItem();").Disabled(true),
                            X.Button().ID("btnDelete").Text("Xóa").IconCls("x-fa fa-times").Handler("onDelete(App.GrProfileWorkExperience.selModel.getSelection()[0].get('Id'));").Disabled(true)
                            ),
                        X.ToolbarSpacer().Height(20),
                        X.Label().Cls("topbarItems topbarName").Text("Nhân viên: " + employeeName)
                    )
                )
                .Store(
                    X.Store()
                        .ID("StoreProfileWorkExperience")
                        .RemotePaging(true)
                        .PageSize(20)
                        .Proxy(X.AjaxProxy().Url(Url.Action("LoadProfileWorkExperience")).Reader(X.JsonReader().RootProperty("data")).IDParam("Id"))
                                .Parameters(ps =>
                                {
                                    ps.Add(new StoreParameter("employeeId", employeeId));
                                })
                        .Model(
                            X.Model().Fields(
                                    X.ModelField().Name("Id"),
                                    X.ModelField().Name("StartDate"),
                                    X.ModelField().Name("EndDate"),
                                    X.ModelField().Name("Position"),
                                    X.ModelField().Name("JobDescription"),
                                    X.ModelField().Name("Department"),
                                    X.ModelField().Name("PlaceOfWork"),
                                    X.ModelField().Name("FileAttachs")
                            )
                            )
                )
                .ColumnModel(
                        X.RowNumbererColumnFormat(),
                        X.Column().Width(260).Text("Thời gian công tác").Columns(
                        X.DateColumnFormat().DataIndex("StartDate").Text("Bắt đầu").Flex(1),
                        X.DateColumnFormat().DataIndex("EndDate").Text("Kết thúc").Flex(1)).Locked(true),
                        X.Column().DataIndex("PlaceOfWork").Text("Nơi công tác").Flex(1).Lockable(true),
                        X.Column().DataIndex("Position").Text("Chức vụ đảm nhiệm").Flex(1).Lockable(true),
                        X.Column().DataIndex("Department").Text("Phòng ban").Flex(1),
                        X.Column().DataIndex("JobDescription").Text("Công việc").Flex(1),
                         X.ColumnFileFormat(m => m.FileAttachs.Files).Text("<b>Tệp đính kèm</b>").Width(100)
                    )
                .SelectionModel(X.CheckboxSelectionModel().ShowHeaderCheckbox(false).Mode(SelectionMode.Single)
                            .Listeners(ls => ls.SelectionChange.Fn = "CheckStatus"))
                .BottomBar(X.PagingToolbarFormat())
        )
)

<script>
    var deleteUrl = '@(Url.Action("DeleteProfileWorkExperience"))';
    function CheckStatus() {
        var records = App.GrProfileWorkExperience.selModel.getSelection();
        if (records.length > 0) {
            App.btnUpdate.setDisabled(false);
            App.btnDelete.setDisabled(false);
        }
        else {
            App.btnUpdate.setDisabled(true);
            App.btnDelete.setDisabled(true);
        };
    };
    var AddNew = function () {
        var url = '@(Url.Action("UpdateForm", "ProfileWorkExperience", new { Area = "Organization" }, null))';
        var params = {
            employeeId: '@employeeId'
        };
        onDirectMethod(url, params);
    };
    var UpdateItem = function () {
        var records = App.GrProfileWorkExperience.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("UpdateForm", "ProfileWorkExperience", new { Area = "Organization" }, null))';
            var params = {
                id: records[0].get('Id'),
                employeeId: '@employeeId'
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        }
    };
    var ViewDetail = function () {
        var records = App.GrProfileWorkExperience.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("DetailForm", "ProfileWorkExperience", new { Area = "Organization" }, null))';
            var params = {
                id: records[0].get('Id'),
                employeeId: '@employeeId'
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
</script>

<style>
    .topbarItems{
        left: 0px !important;
    }

    .topbarName{
        font-weight: bold;
        font-size: 16px;
    }
</style>