﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@model IEnumerable<DayBO>
@{
    var X = Html.X();
    var container = X.ContainerHBox().Flex(1);
    foreach (var i in (List<iDAS.Service.DayBO>)Model)
    {
        container.Add(
            X.MenuPanel()
            .Title(i.DayOfWeekText)
            .UI(i.IsCurrentDay ? UI.Warning : UI.Success)
            .TitleAlign(TitleAlign.Center)
            .Flex(1).MarginSpec("1 1 1 0")
            .Frame(false).Border(false).BodyPadding(0)
            .Menu(m =>
            {
                m.Border = false;
                m.BodyBorder = 0;
                m.BodyPaddingSummary = "3 2 3 2";
                m.ShowSeparator = false;
                m.Add(
                    X.DataView()
                    .AutoScroll(true)
                    .DisableSelection(true)
                    .LoadMask(false)
                    .StyleSpec("border:none")
                    .Border(false)
                    .ItemSelector("td.letter-row")
                    .Store(X.Store().DataSource(i.Items).ModelType(typeof(DayItemBO)))
                    .SingleSelect(true)
                    .Cls("img-chooser-view")
                    .OverItemCls("x-view-over")
                    .ItemSelector("div.thumb-wrap")
                    .EmptyText(@"<div style='text-align:center'><div class='emptyClass'></div><div style='font-size: 0.9em'>Không có công việc nào</div></div>")
                    .TrackOver(true)
                    .Tpl(
                        X.XTemplate().Html(
                            @<text>
                                <tpl for=".">
                                    <div class="chat-body no-padding profile-message">
                                        <a class="calendar message" href="javascript:showScheduleDetail('{Id}');" style="color:{color}">
                                            <i style="color:green" class="x-fa fa-clock-o"></i>
                                            <span style="margin-left: 5px;">{TimeText}</span><br /> 
                                            <span style="color:blue;font-size:12px;font-weight:bold;">{Name}</span><br /> 
                                            <div style="font-size:11px;">{Content}</div>
                                        </a>
                                    </div>
                                    <span class="timeline-seperator text-center" style="margin-bottom:5px"></span>
                                </tpl>
                            </text>
                        )
                    )
                );
            })
        );
    }
}
<style>
    .calendar {
        padding: 0;
        color: #404040;
        font-size: 90%;
        font-family: sans-serif;
        text-overflow: ellipsis;
        position: relative;
        text-align: left;
    }
</style>
@(container)
<script>
    var showScheduleDetail = function (scheduleId) {
        Ext.net.DirectMethod.request({
            url: '@Url.Action("Form", "Manage", new { area = "Task" })',
            params: { id: scheduleId, isView : true }
        });
    };
</script>