﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@model EmployeeBO
@{
    var X = Html.X();
    var scriptNextWeek = @"var day = App.hdfDayOfWeek.getValue();var nextWeek = new Date(day);nextWeek.setDate(nextWeek.getDate() + 7);App.hdfDayOfWeek.setValue(nextWeek);";
    var scriptPrevWeek = @"var day = App.hdfDayOfWeek.getValue();var prevWeek = new Date(day);prevWeek.setDate(prevWeek.getDate() - 7);App.hdfDayOfWeek.setValue(prevWeek);";
}
@(X.Hidden().ID("fieldEmployeeID").Value(Model.Id)),
@(X.DateField().ID("hdfDayOfWeek").Value(DateTime.Now.Date).Hidden(true).Listeners(ls => ls.Change.Handler = @"App.pnTaskOfWeek.load();"))
@(X.Panel()
    .ID("pnTaskOfWeek")
    .Layout(LayoutType.Fit)
    .BodyPadding(0)
    .Border(false)
    .UIName("idas_default")
    .Title("<b>Lịch làm việc tuần: <span style='color:blue'>" + Model.Name + "</span></b>")
    .IconCls("x-fa fa-calendar black")
    .BodyPaddingSummary("0 0 0 1")
    .Tools(
            X.Tool().IconCls("x-fa fa-step-backward black").Handler(scriptPrevWeek).ToolTip("Tuần trước"),
            X.Tool().IconCls("x-fa fa-step-forward black").Handler(scriptNextWeek).ToolTip("Tuần sau"),
            X.Tool().IconCls("x-fa fa-calendar black").DirectClickAction("Form", "Manage", new { area = "Task"}).ToolTip("Thêm lịch làm việc"),
            X.Tool().IconCls("x-fa fa-user black").ToolTip("Lựa chọn nhân sự cần xem lịch làm việc").DirectClickAction("Index", "Employee", new { Area = "Generic" })
    )
    .Loader(
        X.ComponentLoader()
        .Url(Url.Action("Day")).Mode(LoadMode.Script)
        .Params(ps =>
        {
            ps.Add(new { containerId = "pnTaskOfWeek", date = new JRawValue("App.hdfDayOfWeek.getValue()"), employeeId = new JRawValue("App.fieldEmployeeID.getValue()") });
        })
    )
)
<script>
    var selectEmployee = function (records) {
        var record = records[0];
        App.fieldEmployeeID.setValue(record.get('Id'));
        App.pnTaskOfWeek.setTitle("<b>Lịch công tác tuần: <span style='color:blue'>" + record.get('Name') + "</span></b>");
        ReloadSchedule();
    };
    var ReloadSchedule = function () {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Day"))',
            params: { containerId: "pnTaskOfWeek", date: App.hdfDayOfWeek.getValue(), employeeId: App.fieldEmployeeID.getValue() },
            success: function (result) {
            },
            faild: function (result) {
            }
        });
    };
</script>