﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Baseline</title>
    <link href="~/Content/gantt/sch-gantt-triton-all.css" rel="stylesheet" />
    <link href="~/Content/gantt/theme-triton-all.css" rel="stylesheet" />
    <link href="~/Content/gantt/examples.css" rel="stylesheet" />
    <link href="~/Content/gantt/advanced/resources/app.css" rel="stylesheet" />
    <script src="~/Scripts/ext-all.js"></script>
    <script src="~/Scripts/theme-triton.js"></script>
    <script src="~/Scripts/gnt-all-debug.js"></script>
    <script src="~/Scripts/shared.js"></script>
    <script>
        var taskID = '@ViewBag.TaskID';
         var taskStore = Ext.create('Gnt.data.TaskStore', {
                    proxy: {
                        type: 'ajax',
                        url: '@Url.Action("GetData", new { taskID = ViewBag.TaskID})'
                    }
                });
        Ext.application({
            name: 'Gnt.examples.baseline',
            appFolder: '/scripts/gantt',
            requires: [
                'Gnt.examples.baseline.view.Gantt',
                'Gnt.examples.baseline.view.Timeline',
                'Sch.util.Date'
            ],
            launch: function () {
                Ext.QuickTips.init();
                Ext.create('Ext.Viewport', {
                    layout: 'border',
                    items: [
                        Ext.create('Gnt.examples.baseline.view.Gantt', {
                            region: 'center',
                            id: 'divCenter',
                            header: false
                        }),
                    {
                        id: 'divTimeline',
                        xtype: 'advanced-timeline',
                        height: 110,
                        region: 'north',
                        taskStore: taskStore,
                        border: true,
                        header: false
                    }
                    ]
                });
            }
        });
    </script>
</head>
<body>
</body>
</html>
