﻿
@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
}

<style>
    .search-item {
        font: normal 11px tahoma, arial, helvetica, sans-serif;
        padding: 3px 10px 3px 10px;
        border: 1px solid #fff;
        border-bottom: 1px solid #eeeeee;
        white-space: normal;
        color: #555;
    }

        .search-item h3 {
            display: block;
            font: inherit;
            font-weight: bold;
            color: #222;
            margin: 0px;
        }

            .search-item h3 span {
                float: right;
                font-weight: normal;
                margin: 0 0 5px 5px;
                width: 100px;
                display: block;
                clear: none;
            }

    .ext-ie .x-form-text {
        position: static !important;
    }
</style>
@(X.Window()
   .Modal(false)
       .Listeners(
            ls =>
            {
                ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight()/2);this.setWidth(App.ctDesktop.getWidth()/3); this.alignTo(App.ctDesktop,'br-br'); this.el.slideIn('b',{duration : 500});";
                //ls.BeforeClose.Handler = "App.WindowRoleForm.el.slideOut('b',{duration : 500}); return false;";
                ls.MaskClick.Handler = "App.WindowRoleForm.el.slideOut('r',{duration : 500});setTimeout(function(){App.WindowRoleForm.doDestroy();},500);";
            })
    .ID("WindowRoleForm")
    .Draggable(false)
    .IconCls("x-fa fa-plus-circle")
    .Layout(LayoutType.VBox)
    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
    .Header(false)
    .Items(
        X.FormPanelVBoxFormat()
        .BodyPadding(6)
        .Items(
                  X.ComboBox()
                                .ID("cbDocumentRole")
                                .QueryMode(DataLoadMode.Local)
                                .ForceSelection(true)
                                .DisplayField("Name")
                                .Note("Chọn trách nhiệm")
                                .NoteAlign(NoteAlign.Top)
                                .TriggerAction(TriggerAction.All)
                                .EmptyText("Chọn.......")
                                .ListConfig(Html.X().BoundList()
                                .ItemTpl(Html.X().XTemplate()
                                .Html(@<text>
                                 <div class="search-item">
                                 <p style='font-size:larger; font-weight:bold'>{Name}</p>
							    {Description}
						           </div>
                                 </text>)
                                            )
                                        )
                                .Store(
                                    Html.X().Store()
                                        .AutoLoad(true)
                                        .ID("stcbDocumentRole")
                                        .Model(Html.X().Model()
                                            .Fields(
                                               new ModelField("Id", ModelFieldType.String),
                                               new ModelField("Name", ModelFieldType.String),
                                              new ModelField("Description", ModelFieldType.String)
                                                )
                                            )
                                     .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetListCombox", "DocumentRole", new { area = "Document" }))
                                     .Reader(Html.X().JsonReader().RootProperty("data"))
                              )
                          ),
                 X.ComboboxTreeFormat().Multiple(true).DisableSelectDepartment(true)
                    .ID("cbtreeDocumentRole").ShowEmployee(true).ShowTitle(true),
                    X.TextArea().ID("NoteRole").Flex(1).HideLabel(true).EmptyText("Ghi chú").Note("Ghi chú").NoteAlign(NoteAlign.Top).MarginSpec("5 0 10 0")          
        
               )
          )
        .Buttons(
        X.Button().Text("Lưu").IconCls("x-fa fa-floppy-o")
            .DirectEvents(de =>
                            {
                                de.Click.Before = "";
                                de.Click.Failure = "";
                            }). Handler("App.WindowRoleForm.el.slideOut('r',{duration : 500});"),
       X.ButtonExit().Handler("App.WindowRoleForm.el.slideOut('r',{duration : 500});")
        )
)
