﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@using iDAS.Service;
@model iDAS.Service.DocumentRoleObjectBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
    var lstTypeDocumentRole = ViewData["lstTypeDocumentRole"];
}   
@(X.Window()
    .Listeners(
                ls =>
                {
                    ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth()*2/5); this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
                    ls.BeforeClose.Handler = "App.windowRole.el.slideOut('r',{duration : 500}); return false;";
                })
    .Maximized(false)
    .ID("windowRole")
    .Border(false)
    .Padding(0)
    .BodyPadding(0)
    .Layout(LayoutType.Fit)
    .Title("Danh sách trách nhiệm")
    .IconCls("x-fa fa-pencil")
    .Items(
        X.GridPanel()
            .ID("gridRole")
            .BodyBorder(0)
            .BodyPadding(0)
            .Padding(0)
            .Margin(0)
            .Flex(1)
            .TopBarItem(
                )
                .Border(true)
                .Store(
                X.StoreFormat()
                .AutoLoad(true)
                .ID("storeRole")
                .Url(Url.Action("GetData", new { Area = "Document" })).ModelType(typeof(DocumentRelateBO))
                )
                .ColumnModel(
                    Html.X().RowNumbererColumn()
                    .Text("Stt")
                    .Width(50)
                    .Align(ColumnAlign.Center),
                        Html.X().Column().DataIndex("Role").Text("Nhân sự").Width(220).CellWrap(true).Renderer(new Renderer { Fn = "renderEmployeeComlumn" }),
                      X.Column().Text("Trách nhiệm").DataIndex("RoleName").Flex(1).Align(ColumnAlign.Center),
                      X.DateColumnFormat().Text("Ngày cập nhật").DataIndex("CreateAt").Width(120)
           )
           .Buttons(
              X.ButtonExit()
           )
))
<script>
    var renderEmployeeComlumn = function (value, meta, record) {
        var title = '<span style="margin-left: 44px;font-size:10px;">Tổng giám đốc</span></span>';
        var result = '';
        var image = '<img src="' + record.data.EmployeeRelate.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.EmployeeRelate.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
</script>