﻿
@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;

@{
    var X = Html.X();
    var formId = X.GetComponentID();
}

@(X.WindowFormat()
   .Items(
   
          X.GridPanelFormat()
            .ID("grRole")
            .BodyBorder(0)
            .BodyPadding(0)
            .Padding(0)
            .Margin(0)
            .Flex(1)
            .MarginSpec("5 0 0 0")
            .Border(true)
            .Store(
            X.StoreFormat()
           .ID("storeRole")
                .AutoLoad(false)
                .Model(Html.X().Model()
                .IDProperty("Id")
                .Fields(
                    new ModelField("Id", ModelFieldType.String),
                    new ModelField("Name", ModelFieldType.String),
                    new ModelField("role", ModelFieldType.String),
                    new ModelField("Num", ModelFieldType.Object),
                    new ModelField("Object", ModelFieldType.Object)
                    )
                )
                .Url(Url.Action("", "", new { Area = "Document" })))
                .ColumnModel(
                    Html.X().RowNumbererColumn()
                    .Text("Stt")
                    .Width(50)
                    .Align(ColumnAlign.Center),
                        Html.X().ColumnEncodeFormat().DataIndex("IDRole").Hidden(true),
                        Html.X().ColumnEncodeFormat().DataIndex("Num").Hidden(true),
                            Html.X().ColumnEncodeFormat().DataIndex("Name").Text("Trách nhiệm").ToolTips(
                                t => t.Add(new ToolTip()
                                {
                                    Html = "<p>XX: Mã quy trình. Ví dụ: QT<br/>YY: Mã phòng ban. Ví dụ: KD<br/>ZZ: Số thứ tự. Ví dụ: 01</p>",
                                    Width = 200,
                                    Height = 70
                                })
                            ).Flex(1).CellWrap(true),
                        Html.X().Column().DataIndex("Role").Text("Nhân sự/chức danh").Width(150).CellWrap(true).Flex(1).Align(ColumnAlign.Center)
                    ).Listeners(ls =>
                        {
                            ls.SelectionChange.Handler = "refreshMenuDocumentDistribute(selected);";
                        })
   )

)