﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.AssetReviewBO
@{
    var X = Html.X();
    var assetResourceId = ViewData["AssetResourceId"].ToString();
    var assetId = ViewData["AssetId"].ToString();
}
@(X.WindowFormat()
    .Title("Lịch sử đánh giá tài sản")
    .IconCls("x-fa fa-history")
    .Height(580)
    .Width(1000)
    .Items(Html.X().GridPanel()
    .ID("grAssetHistoryReview")
    .ColumnLines(true)
    .Flex(1)
    .Border(false)
    .Header(false)
    .Icon(Icon.Table)
    .Store(Html.X().Store()
                .Parameters(i =>
                {
                    i.Add(string.IsNullOrEmpty(assetResourceId) ? new StoreParameter("assetId", assetId) : new StoreParameter("assetResourceId", assetResourceId));
                })
            .AutoLoad(true)
            .ID("stAssetHistoryReview")
                .Proxy(Html.X().AjaxProxy().Url(string.IsNullOrEmpty(assetResourceId) ? Url.Action("GetData", "Review") : Url.Action("GetByAssetResource", "Review"))
            .Reader(Html.X().JsonReader().RootProperty("data")))
            .PageSize(10)
            .Model(Html.X().Model()
            .Fields(
                    Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                    Html.X().ModelField().Name("EmployeeName").Type(ModelFieldType.String),
                            Html.X().ModelField().Name("ReviewerAvatarUrl").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("DateOfReview").Type(ModelFieldType.Date),
                    Html.X().ModelField().Name("AvartarUrl").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("ValueOfSecurity").Type(ModelFieldType.Int),
                    Html.X().ModelField().Name("ValueOfInviblate").Type(ModelFieldType.Int),
                    Html.X().ModelField().Name("ValueOfReady").Type(ModelFieldType.Int),
                    Html.X().ModelField().Name("ValueOfImportant").Type(ModelFieldType.Int),
                    Html.X().ModelField().Name("ImportantColor").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("ImportantName").Type(ModelFieldType.String)
                    )
                 )
            )
            .ColumnModel(
                    Html.X().RowNumbererColumn()
                    .Text("STT")
                    .Width(40)
                    .Align(ColumnAlign.Center),
                    Html.X().TemplateColumn()
                        .DataIndex("EmployeeAvartarUrl")
                        .Width(50)
                        .Text("")
                        .Filterable(false)
                        .Tpl(
                        Html.X().XTemplate()
                        .Html(@<text>
                            <img src="{ReviewerAvatarUrl}" title="{EmployeeName}" style='height: 35px !important; width: 30px !important; border: 2px solid #E6E6E6 !important; display: inline-block !important; ' />
                        </text>)
                        ),
                    Html.X().DateColumn().DataIndex("DateOfReview").Text("Ngày đánh giá").Width(110).Format("dd/MM/yyyy HH:mm"),
                    Html.X().Column().DataIndex("ValueOfSecurity").Text("Bảo mật(C)").Width(100),
                    Html.X().Column().DataIndex("ValueOfInviblate").Text("Toàn vẹn(I)").Width(100),
                    Html.X().Column().DataIndex("ValueOfReady").Text("Sẵn sàng(R)").Width(100),
                    Html.X().Column().DataIndex("ValueOfImportant").Text("Mức độ").Width(100),
                    Html.X().ColumnEncodeFormat().DataIndex("ImportantName").Text("Tiêu đề").Flex(1),
                    Html.X().Column().DataIndex("ImportantColor").Text("Màu sắc").Width(100).Renderer(new Renderer { Fn = "function(value, meta, record) { meta.style = 'background-color:' + record.get('ImportantColor') + ';'; return ''; }" })
                )
                .SelectionModel(
                    Html.X().RowSelectionModel()
                    .Mode(SelectionMode.Single)
                    .Listeners(ls => ls.SelectionChange.Handler = "App.btnRuleHistoryReview.setDisabled( App.grAssetHistoryReview.selModel.getSelection().length < 0);")
                )
                 .BottomBar(Html.X().PagingToolbarFormat())
            )
    .Buttons(
        X.ButtonExit()
    )
)
