﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.AssetResourceRelateBO
@{
    var X = Html.X();
    var assetId = ViewData["AssetID"];
}
@(Html.X().GridPanel()
        .ID("grRelateToView")
        .ColumnLines(true)
        .Flex(1)
        .Border(false)
        .Header(false)
        .TopBarItem(
            Html.X().TextField()
                .EmptyText("Nhập từ khóa tìm kiếm theo tên đối tượng liên quan")
                .IconCls("x-fa fa-search")
                .Width(300)
                .ID("txtSearchRelateToView")
                .Listeners(ls =>
                {
                    ls.Change.Handler = "App.grRelateToView.getStore().reload()";
                    ls.Change.Buffer = 100;
                })
            )
            .Icon(Icon.Table)
            .Store(
            Html.X().Store()
            .Parameters(i =>
            {
                i.Add(new StoreParameter("filterName", "App.txtSearchRelateToView.getValue()", ParameterMode.Raw));
            })
            .GroupField("AssetGroupSummaryName")
            .Sorters(
            Html.X().DataSorter().Property("AssetGroupSummaryName").Direction(Ext.Net.SortDirection.ASC)
            )
            .AutoLoad(true)
            .ID("stRelateToView")
            .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetRoleRelateTo", "ResourceRelative"))
            .Reader(Html.X().JsonReader().RootProperty("data")))
            .PageSize(10)
            .Model(Html.X().Model()
            .Fields(
                    Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                    Html.X().ModelField().Name("AssetName").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("AssetCode").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("AssetGroupSummaryName").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("IsUse").Type(ModelFieldType.Boolean),
                    Html.X().ModelField().Name("IsManage").Type(ModelFieldType.Boolean),
                    Html.X().ModelField().Name("IsOwner").Type(ModelFieldType.Boolean),
                    Html.X().ModelField().Name("ObjectRelate").Type(ModelFieldType.String)

                    )
                )
            )
            .ColumnModel(
                    Html.X().RowNumbererColumn().Text("STT").Width(39).Align(ColumnAlign.Center),
                    Html.X().SummaryColumn().TdCls("task").Text("Đối tượng sử dụng").DataIndex("User").Hideable(false).CellWrap(true).SummaryType(SummaryType.Count).Flex(1).SummaryRenderer("return ((value === 0 || value > 1) ? '' + value +' Đối tượng sử dụng' : '1 Đối tượng sử dụng');"),
                    Html.X().Column().DataIndex("ObjectRelate").Text("Loại đối tượng").Align(ColumnAlign.Center).Width(110).Renderer("typeobject"),
                    Html.X().CheckColumn().DataIndex("IsUse").Text("Sử dụng").Align(ColumnAlign.Center).Width(110),
                    Html.X().CheckColumn().DataIndex("IsManage").Text("Quản lý").Align(ColumnAlign.Center).Width(110),
                    Html.X().CheckColumn().DataIndex("IsOwner").Text("Sở hữu").Align(ColumnAlign.Center).Width(110)
                )
                .SelectionModel(
                    Html.X().RowSelectionModel()
                    .Mode(SelectionMode.Single)
                    .Listeners(ls => ls.SelectionChange.Handler = "refreshMenu();")
                )
                .View(
                Html.X().GridView().MarkDirty(false)
                )
                .Features(
                    Html.X().GroupingSummary()
                        .ID("GroupingSummary2")
                        .GroupHeaderTplString("{name}")
                        .HideGroupedHeader(true)
                        .EnableGroupingMenu(false)
                )
                .BottomBar(Html.X().PagingToolbarFormat("10"))

)
<script>
    var template = '<span>{0}</span>';
    var typeobject = function (value) {
        if (value == "Department") {
            value = "Phòng ban";
        }
        else if (value == "Employee") {
            value = "Nhân sự";
        }
        else if (value == "Role") {
            value = "Chức vụ";
        }
        else if (value == "Other") {
            value = "Khác";
        }
        return Ext.String.format(template, value);
    };
    var refreshMenu = function () {
        var records = App.grRelateToView.selModel.getSelection();
        switch (records.length) {
            case 0:
                App.btnRelateToView.setDisabled(true);
                break;
            case 1:
                App.btnRelateToView.setDisabled(false);
                break;
            default:
                App.btnRelateToView.setDisabled(true);
                break;
        }
    };
</script>