﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
	@RenderSection("headtag", false)
</head>
<body>
      @(Html.X().ResourceManager())
      @RenderSection("example", true)
</body>
</html>
