﻿
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/scrollbar-style.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <link href="~/Content/jsmaps/jsmaps.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.2.1.min.js" type="text/javascript"></script>

    <script src="~/Scripts/SystemScript/system-script.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/SignalR/jquery.signalR-2.2.1.min.js"></script>
    <script src="/signalr/hubs"></script>

    <script src="~/Content/jsmaps/jsmaps-libs.js" type="text/javascript"></script>
    <script src="~/Content/jsmaps/jsmaps-panzoom.js"></script>
    <script src="~/Content/jsmaps/jsmaps.min.js" type="text/javascript"></script>
    <script src="~/Content/maps/vietnam.js" type="text/javascript"></script>
    <script src="~/Scripts/orgchart.js"></script>

    @RenderSection("header", false)
    <title>STAR HOME</title>

</head>
<body>
    @(Html.X().ResourceManager())
    @RenderBody()
    @RenderSection("footer", false)

</body>
</html>