﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DispatchBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.WindowSlide().WindowLayout(LayoutType.VBox)
   .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.7 })
    .ID("WindowSendTo")
    .Title("Danh sách công văn gửi đến")
    .Items(
                 X.GridPanelFormat()
                .ID("gridDispatchSendTo")
                .Flex(1)
                .TopBarItem(
                 X.Hidden().ID("hdfCateDispatch"),
                X.Button()
                .Disabled(true)
                .ID("btnAddDispatchSendTo")
                .IconCls("x-fa fa-plus-circle")
                .DirectEvents(de =>
                {
                    de.Click.ExtraParams.Add(new { DispatchId = new JRawValue("App.gridDispatchSendTo.selModel.getSelection()[0].data.Id") });
                    de.Click.ExtraParams.Add(new { DepartmentId = Model.DepartmentId });
                    de.Click.Url = Url.Action("Form", "DispatchCategoriTo");
                })
                .Text("Tiếp nhận")

                )
                .Store(
                    X.StoreFormat()
                    .AutoLoad(true)
                    .ID("stDispatchSenTo")
                                .Url(Url.Action("GetDataDispatchInternal", "Dispatch", new { Area = "Dispatch" }))
                    .ModelType(typeof(iDAS.Service.DispatchBO))
                    .Parameters(pr =>
                    {
                        pr.Add(new StoreParameter("DepartmentId", Model.DepartmentId.ToString(), ParameterMode.Value));
                    }))
                .ColumnModel(
                        X.RowNumbererColumnFormat(),
                        X.ColumnEncodeFormat().Text("Số, Kí hiệu").Align(ColumnAlign.Center).CellWrap(true).DataIndex(Model, m => m.NumberDispatch).Width(120),
                        X.ColumnEncodeFormat().Text("Tên công văn").DataIndex(Model, m => m.Name).Flex(1),
                        X.Column().Text("Mức độ mật").DataIndex(Model, m => m.SecurityName).Width(120).Renderer(new Renderer { Fn = "function(value, meta, record) {return '<span><i style=\"background-color: '+ record.data.SecurityColor +'; width: 0.8em; height: 0.8em; margin-top: 4px; border-radius: 0.4em; -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; border-radius: 50%; position: absolute;border: 0px solid\"></i><span style=\"margin-left: 20px;\">'+ Ext.htmlEncode(value) +'</span></span>'; }" }),
                        X.Column().Text("Mức độ khẩn").DataIndex(Model, m => m.UrgencyName).Width(120).Renderer(new Renderer { Fn = "function(value, meta, record) {return '<span><i style=\"background-color: '+ record.data.UrgencyColor +'; width: 0.8em; height: 0.8em; margin-top: 4px; border-radius: 0.4em; -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; border-radius: 50%; position: absolute;border: 0px solid\"></i><span style=\"margin-left: 20px;\">'+ Ext.htmlEncode(value) +'</span></span>'; }" }),
                        X.DateColumnFormat().Text("Ngày CV").Width(150).Align(ColumnAlign.Center).DataIndex(Model, m => m.Sentdate),
                        X.Column().Text("Loại").DataIndex(Model, m => m.Type).Align(ColumnAlign.Center).Width(100),
                        X.Column().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Align(ColumnAlign.Center).Width(100)
                    )
                    .Listeners(ls =>
                    {
                        //ls.BeforeItemContextMenu.Fn = "oncontextMenuDispatch";
                        ls.SelectionChange.Fn = "CheckStatus";
                    })

                     ).Buttons(
                                     X.ButtonExit().Handler("App.WindowSendTo.el.slideOut('r',{duration : 500});")

                     ))
<script>
    function CheckStatus() {
        var records = App.gridDispatchSendTo.selModel.getSelection();
        if (records.length == 1) {
            App.btnAddDispatchSendTo.setDisabled(false);
        }
        else {
            App.btnAddDispatchSendTo.setDisabled(true);
        };
    };
</script>

