﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@using iDAS.Service;
@model DispatchBO
@{
    var X = Html.X();
    // var status = (List<Ext.Net.ListItem>)ViewData["Status"];
    var formId = "formDispatch";
    var DispatchResponsibility = (List<Ext.Net.ListItem>)ViewData["DispatchResponsibility"];
    //   var FormalitySave = (List<Ext.Net.ListItem>)ViewData["FormalitySave"];
    var hideButtonSave = (bool)ViewData["HideButtonSave"];
    var hideButtonSaveProfile = (bool)ViewData["HideButtonSaveProfile"];
}
@(X.WindowFormat().ID("windowAddDispatch").Modal(true).Draggable(false)
    .Listeners(ls =>
    {
        ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth()*1/2);this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
    })
    .Title(Model.Id == Guid.Empty ? "Thêm mới công văn đi" : "Cập nhật công văn đi")
    .IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
    .Items(
        X.FormPanelVBoxFormat().ID(formId).BodyPadding(2).ActiveIndex(0)
        .TopBar(
        X.Toolbar().StyleSpec("padding-bottom:0px;padding-top:0px")
        .Items(
            X.TabStrip().WidthSpec("100%")
            .Items(t =>
            {
                t.Add(X.Tab().ActionItemID("tbDispatchInfo").IconCls("x-fa fa-info-circle").TabID("tbDispatchInfoId").Text("Thông tin công văn"));
                t.Add(X.Tab().ActionItemID("tbArchiveInfo").IconCls("x-fa fa-ioxhost").TabID("tbArchiveInfoId").Text("Trách nhiệm liên quan"));

            }),
                X.ToolbarFill())
            )
        .Items(
            X.FieldSetVBox().Flex(1).Border(false).ID("tbDispatchInfo")
        .Items(
           X.ContainerHBoxTop()
            .Items(
                X.HiddenFor(m => m.Id).ID("hdfUpdateFormDispatchId"),
                X.HiddenFor(m => m.DepartmentId).ID("hdfUpdateDispatchFormDepartmentId"),
                X.HiddenFor(m => m.CategoryId).ID("hdfUpdateDispatchFormCategoryId"),
                X.TextFieldFor(m => m.DepartmentName).EmptyText("Phòng ban").AllowBlank(false).HideLabel(true).MarginSpec("0 0 0 0").Note("Phòng ban").NoteAlign(NoteAlign.Top).Flex(1).ReadOnly(true),
                X.TextFieldFor(m => m.CategoryName).EmptyText("Nhóm công văn").AllowBlank(!string.IsNullOrEmpty(Model.CategoryName) ? false : true).HideLabel(true).MarginSpec("0 0 0 5").Note("Nhóm công văn").NoteAlign(NoteAlign.Top).Flex(1).ReadOnly(true)
            ),
            X.ContainerHBox()
            .Items(
                X.TextFieldFor(m => m.Name).EmptyText("Tên công văn").AllowBlank(false).HideLabel(true).MarginSpec("5 0 0 0").Note("Tên công văn" + Html.Required())
                    .NoteAlign(NoteAlign.Top).Regex(Resource.RegexSpecialSymbolFilter).RegexText(Resource.RegexHtmlWhiteSpaceStartMessage)
                    .MaxLength(200).MaxLengthText("Chỉ nhập tối đa 200 ký tự").Flex(1),
                X.FileUploadFieldFor(m => m.FileSource).ID("fileDispatchSource").Note("Nguồn phát sinh").MarginSpec("5 0 0 5").Flex(1)
            ),
            X.ContainerHBoxTop().MarginSpec("5 0 0 0")
            .Items(
                    X.TextFieldFor(m => m.NumberDispatch).EmptyText("Số ký hiệu").AllowBlank(false).HideLabel(true).MarginSpec("0 0 0 0").Note("Số kí hiệu" + Html.Required()).NoteAlign(NoteAlign.Top).Flex(1),
                    X.DateFieldFormatFor(m => m.Sentdate).EmptyText("Ngày tháng CV").AllowBlank(false).HideLabel(true).MarginSpec("0 0 0 5").Note("Ngày tháng CV" + Html.Required()).NoteAlign(NoteAlign.Top).Flex(1).SelectedDate(DateTime.Now)
                ),
            X.ContainerHBoxTop().MarginSpec("5 0 0 0").Items(
            X.ComboBoxFor(m => m.SecurityId).AllowBlank(false).ID("cbbSecurity").Flex(1).EmptyText("Độ mật").HideLabel(true).Note("Độ mật" + Html.Required()).MarginSpec("0 0 0 0")
            .RightButtons(X.Button().IconCls("x-fa fa-plus-circle").Handler("SecurityForm(this)").Border(false))
            .LeftButtons(X.Button().ID("btnSelectSecurityColor").Width(30).Border(false))
            .NoteAlign(NoteAlign.Top).TypeAhead(true).QueryMode(DataLoadMode.Local).ForceSelection(true)
            .TriggerAction(TriggerAction.All).DisplayField("Name").ValueField("Id").ValueNotFoundText("Đang tải...")
            .ListConfig(X.BoundList()
                    .LoadingText("Tìm kiếm...")
                    .ItemTpl(X.XTemplate()
                    .Html(@"<text>
                    <span>
                    <span style='width: 20px; height: 20px; margin-top:5px; border-radius: 50%; position: absolute; border: 1px solid; background:{Color}'> </span>
                    <span style='margin-left: 44px;'>{Name}</span><br/>
                    </span>
                    </text>")
                        )
                    )
            .Listeners(ls => ls.Change.Handler = "selectColor(item, newValue, oldValue)")
            .Store(X.Store().ID("storeSecurity").AutoLoad(true)
            .Model(X.Model().IDProperty("Id")
            .Fields(
                new ModelField("Id"),
                new ModelField("Name"),
                new ModelField("Color")
                ))
        .Proxy(X.AjaxProxy().Url(Url.Action("GetAll", "Security")).Reader(X.JsonReader().RootProperty("data")))),
         X.ComboBoxFor(m => m.UrgencyId).AllowBlank(false).ID("cbbUrgencyId").Flex(1).EmptyText("Độ khẩn").HideLabel(true).Note("Độ khẩn" + Html.Required()).MarginSpec("0 0 0 5")
                .RightButtons(X.Button().IconCls("x-fa fa-plus-circle").Handler("UrgencyForm(this)").Border(false))
                .LeftButtons(X.Button().ID("btnSelectUrgencyColor").Width(30).Border(false))
                .NoteAlign(NoteAlign.Top).TypeAhead(true).QueryMode(DataLoadMode.Local).ForceSelection(true)
                .TriggerAction(TriggerAction.All).DisplayField("Name").ValueField("Id").ValueNotFoundText("Đang tải...")
                .ListConfig(X.BoundList()
                        .LoadingText("Tìm kiếm...")
                        .ItemTpl(X.XTemplate()
                        .Html(@"<text>
                        <span>
                        <span style='width: 20px; height: 20px; margin-top:5px; border-radius: 50%; position: absolute; border: 1px solid; background:{Color}'> </span>
                        <span style='margin-left: 44px;'>{Name}</span><br/>
                        </span>
                        </text>")
                            )
                        )
                .Listeners(ls => ls.Change.Handler = "selectColor1(item, newValue, oldValue)")
                    .Store(X.Store().ID("storeUrgency").AutoLoad(true)
                .Model(X.Model().IDProperty("Id")
                .Fields(
                    new ModelField("Id"),
                    new ModelField("Name"),
                    new ModelField("Color")
                    ))
                .Proxy(X.AjaxProxy().Url(Url.Action("GetAll", "DispatchUrgency")).Reader(X.JsonReader().RootProperty("data"))))),
              X.ContainerHBoxTop().MarginSpec("5 0 0 0").Items(
                X.ComboBoxFor(m => m.SendmethodId)
                    .RightButtons(X.Button().IconCls("x-fa fa-plus-circle").Handler("SendMethod(this)").Border(false))
                .ID("cbbDispatchSendmethodId")
                .TypeAhead(true)
                .Note("Phương thức chuyển")
                .NoteAlign(NoteAlign.Top)
                .EmptyText("Chọn phương thức chuyển....")
                .QueryMode(DataLoadMode.Local)
                .ForceSelection(true)
                .DisplayFieldEncodeFormat("Name")
                .Flex(1)
                .HideLabel(true)
                .TriggerAction(TriggerAction.All)
                .DisplayField("Name")
                .ValueField("Id")
                .ValueNotFoundText("Loading...")
                .Store(Html.X().Store()
                .AutoLoad(true)
                .Model(Html.X().Model()
                    .IDProperty("Id")
                    .Fields(
                        new ModelField("Id", ModelFieldType.String),
                        new ModelField("Name", ModelFieldType.String)
                    )
                )
                .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetAllData", "DispatchSendmethod", new { area = "Dispatch" }))
                .Reader(Html.X().JsonReader().RootProperty("data")))
                .Parameters(
                    pr =>
                    {
                        pr.Add(new StoreParameter("departmentId", "App.cbtreeDispatchDepartmentId.getValue()", ParameterMode.Raw));
                    })
                ),
                X.FileUploadFieldFor(m => m.FileAttachs).Note("Tệp đính kèm").MarginSpec("0 0 0 5").Flex(1)
              ),
               X.ContainerHBoxTop().MarginSpec("5 0 0 0").Items(
               X.TextAreaFor(m => m.Recipients).EmptyText("Nơi nhận").NoteAlign(NoteAlign.Top).Height(80).AllowBlank(false).HideLabel(true).Flex(1).MarginSpec("5 0 10 0").Note("Nơi nhận" + Html.Required()),
               X.TextAreaFor(m => m.Content).EmptyText("Nội dung trích yếu").NoteAlign(NoteAlign.Top).Height(80).AllowBlank(false).HideLabel(true).MarginSpec("5 0 10 5").Flex(1).Note("Nội dung trích yếu" + Html.Required())),
               X.TextAreaFor(m => m.Note).EmptyText("Ghi chú").Flex(1).NoteAlign(NoteAlign.Top).Height(80).HideLabel(true).MarginSpec("10 0 10 0").Note("Ghi chú")
       ),
        X.FieldSetVBox().Border(false).ID("tbArchiveInfo").Flex(1)
        .Items(
            X.ContainerHBoxTop()
            .Items(
                X.ComboboxTreeFormat().Multiple(true).Note("Nhân sự").NoteAlign(NoteAlign.Top).AllowBlank(true).Multiple(false)
                    .ID("cbtreeDispatchEmployee").ShowEmployee(true).ShowTitle(true).DisableSelectDepartment(true).Flex(1).DisableSelectTitle(true).MarginSpec("0 0 0 0"),
                X.ComboBox().ID("cbbSelectDispatchResponsibility").HideLabel(true).MarginSpec("0 0 0 5").Note("Trách nhiệm").EmptyText("Trách nhiệm")
                    .NoteAlign(NoteAlign.Top).QueryMode(DataLoadMode.Local).Items(DispatchResponsibility)
                    .TriggerAction(TriggerAction.All).Flex(1),
                X.Button().Text("Lưu").IconCls("x-fa fa-save").MarginSpec("19 0 0 5").Handler("addGridDispatchResponsibility();"),
                X.Button()
                .ID("btnDeletegrDispatchResponsibility")
                .Disabled(true)
                .MarginSpec("19 0 0 5")
                .Text(Resource.Delete)
                .IconCls("x-fa fa-trash-o")
                .DirectEvents(de =>
                    {
                        de.Click.Method = HttpMethod.POST;
                        de.Click.Confirmation.ConfirmRequest = true;
                        de.Click.Confirmation.Message = "Bạn có muốn xóa thông tin hay không?";
                        de.Click.Confirmation.Title = Resource.Confirm;
                        de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
                        de.Click.ExtraParams.Add(new { ResponsibilityId = new JRawValue("App.gridDispatchResponsibilitys.selModel.getSelection()[0].data.Id") });
                        de.Click.Url = Url.Action("DeleteResponsibility", "Dispatch");
                        de.Click.Success = "App.gridDispatchResponsibilitys.deleteSelected(); App.stDispatchResponsibility.reload();";
                    })
                ),
                X.GridPanel()
                .Flex(1)
                .ID("gridDispatchResponsibilitys")
                .MarginSpec("5 0 0 0")
                .Border(true)
                .Store(
                    X.StoreFormat()
                    .ID("stDispatchResponsibility")
                    .AutoLoad(true)
                    .Url(Url.Action("GetDataResponsibility", "Dispatch", new { Area = "Dispatch", DispatchId = Model.Id }))
                        .Fields(
                        Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto)
                    )
                )
                .ColumnModel(
                    Html.X().Column().DataIndex("EmployeeId").Hidden(true),
                    Html.X().Column().DataIndex("RoleType").Hidden(true),
                        Html.X().Column().DataIndex("Id").Hidden(true),
                    Html.X().RowNumbererColumn().Text("STT").Width(50).Align(ColumnAlign.Center),
                    Html.X().ColumnEncodeFormat().DataIndex("EmployeeName").Text("Nhân sự").Flex(1).CellWrap(true),
                    Html.X().ColumnEncodeFormat().DataIndex("RoleName").Text("Trách nhiệm").Width(120).CellWrap(true).Align(ColumnAlign.Center)
                    ).BottomBar(X.PagingToolbarFormat())
                    .SelectionModel(
                        Html.X().RowSelectionModel()
                        .Mode(SelectionMode.Single)
                        .Listeners(ls => ls.SelectionChange.Handler = "checkbtnDeleteDispatch()")
                )
            )
        )
        .Buttons(
            X.Button().Text(Resource.Save).IconCls("x-fa fa-floppy-o")
            .Hidden((Model.Status == (int)iDAS.Service.Common.Resource.DispatchStatus.WaitReview || Model.Status == null) ? false : true)
            .DirectEvents(de =>
            {
                de.Click.FormID = formId;
                de.Click.Before = "if (!this.up('window').down('form').getForm().isValid()) {return false; };";
                de.Click.ExtraParams.Add(new { jsonData = new JRawValue("getDataGridTargetResponsibility()") });
                de.Click.ExtraParams.Add(new { IsGo = new JRawValue(true) });
                de.Click.Url = Url.Action(Model.Id == Guid.Empty ? "Create" : "Update");
                de.Click.Success = "if(result.result == true){ this.setDisabled(true);this.up('window').doDestroy(); if(App.stDispatch){App.stDispatch.reload();}}";
            }),
            X.Button().Text(Resource.Exit).IconCls("x-fa fa-times-circle").OnClientClick("this.up('window').doDestroy();")
        )
    )
)

<script>
    var checkbtnDeleteDispatch = function () {
        var records = App.gridDispatchResponsibilitys.selModel.getSelection();
        switch (records.length) {
            case 0:
                App.btnDeletegrDispatchResponsibility.setDisabled(true);
                break;
            case 1:
                App.btnDeletegrDispatchResponsibility.setDisabled(false);
                break;
            default:
                App.btnDeletegrDispatchResponsibility.setDisabled(true);
                break;
        }
    };

    var getDataGridTargetResponsibility = function () {
        var data = [];
        App.stDispatchResponsibility.data.each(function (e, d) {
            var item = {};
            item.EmployeeId = e.data.EmployeeId;
            item.RoleType = e.data.RoleType;
            data.push(item);
        });
        return JSON.stringify(data);
    };



    var addGridDispatchResponsibility = function () {
        var responsibilityId = App.cbbSelectDispatchResponsibility.getValue();
        var responsibilityName = App.cbbSelectDispatchResponsibility.getDisplayValue();
        var id = App.cbtreeDispatchEmployee.getValue();
        var name = App.cbtreeDispatchEmployee.getText();
        var ids = {};
        var names = {};
        ids = id.split(',');
        names = name.split(',');
        if (id != null && id != undefined && name != '') {
            for (var i = 0; i < ids.length; i++) {
                var employeeId = ids[i].split('_');
                if (Ext.StoreMgr.lookup(App.stEmployeeDestroySuggest).findExact('EmployeeId', employeeId[1]) < 0) {
                    App.stDispatchResponsibility.add({
                        EmployeeId: employeeId[1],
                        EmployeeName: names[i],
                        RoleName: responsibilityName,
                        RoleType: responsibilityId
                    });
                }
            }
        }
        App.cbtreeDispatchEmployee.setValue(null);
        App.cbbSelectDispatchResponsibility.setValue(null);
    };

    var itemContextMenuTargetResponsibility = function (grid, record, item, index, e, eOpts) {
        e.stopEvent();
        App.contextMenuTargetResponsibility.showAt(e.getX(), e.getY());
    };



    var selectColor1 = function (item, newValue, oldValue) {
        var selectItem = App.storeUrgency.data.find('Id', newValue).data;
        if (App.btnSelectUrgencyColor) {

            App.btnSelectUrgencyColor.getEl().dom.style.background = selectItem.Color;
            App.btnSelectUrgencyColor.getEl().dom.style.borderRadius = "50%";
            App.btnSelectUrgencyColor.getEl().dom.style.margin = "6px 0 0 5px";
            App.btnSelectUrgencyColor.getEl().dom.style.width = "20px";
            App.btnSelectUrgencyColor.getEl().dom.style.height = "20px";
        }
    };



    var selectColor = function (item, newValue, oldValue) {
        var selectItem = App.storeSecurity.data.find('Id', newValue).data;
        if (App.btnSelectSecurityColor) {

            App.btnSelectSecurityColor.getEl().dom.style.background = selectItem.Color;
            App.btnSelectSecurityColor.getEl().dom.style.borderRadius = "50%";
            App.btnSelectSecurityColor.getEl().dom.style.margin = "6px 0 0 5px";
            App.btnSelectSecurityColor.getEl().dom.style.width = "20px";
            App.btnSelectSecurityColor.getEl().dom.style.height = "20px";
        }
    };

    var UrgencyForm = function (btn) {
        var securityId = btn.up("combobox").getId();
        var storeId = btn.up("combobox").getStore().storeId;
        var url = '@Url.Action("Form", "DispatchUrgency")';
        var params = { alignTo: securityId, renderTo: "windowAddDispatch", storeId: storeId };
        onDirectMethod(url, params);
    };

    var SecurityForm = function (btn) {
        var securityId = btn.up("combobox").getId();
        var storeId = btn.up("combobox").getStore().storeId;
        var url = '@Url.Action("Form","Security")';
        var params = { alignTo: securityId, renderTo: "windowAddDispatch", storeId: storeId };
        onDirectMethod(url, params);
    };

    var SendMethod = function (btn) {
        var alignToId = btn.up("combobox").getId();
        var storeId = btn.up("combobox").getStore().storeId;
        var url = '@Url.Action("Form", "DispatchSendmethod")';
        var params = { alignTo: alignToId, renderTo: "windowAddDispatch", storeId: storeId };
        onDirectMethod(url, params);
    };


    var getDepartmentId = function () {
        var d = App.cbbDepartmentProfile.getValue();
        if (d) {
            if (d.indexOf("Department_") >= 0) {
                var departmentId = d.replace('Department_', '');
                App.hdfDepartmentArchiveId.setValue(departmentId);
            } else {
                App.hdfDepartmentArchiveId.setValue(d);
            }
        } else {
            return null;
        }
    };

    var showOrHideArchiveTime = function () {
        if (App.cbbSelectTypeDate) {
            var type = App.cbbSelectTypeDate.getValue();
            if (type == '@Convert.ToInt16((int)iDAS.Service.Common.Resource.ProfileArchiveTime.Permanent)') {
                App.nmrProfileArchiveTime.setReadOnly(true);
                App.nmrProfileArchiveTime.allowBlank = true;
            }
            else {
                App.nmrProfileArchiveTime.setReadOnly(false);
                App.nmrProfileArchiveTime.allowBlank = false;
            }
        }
    };
</script>