﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@using iDAS.Service;
@model DispatchRecipientsExternalBO
@{
    var X = Html.X();
    // var status = (List<Ext.Net.ListItem>)ViewData["Status"];
    var formId = "formExternalDispatch";
    //   var FormalitySave = (List<Ext.Net.ListItem>)ViewData["FormalitySave"];
}
@(X.WindowSlide().WindowLayout(LayoutType.VBox)
   .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.5 })
    .Title("Danh sách gửi bên ngoài")
    .IconCls("x-fa fa-pencil-square-o")
    .Items(
       
                     X.GridPanel()
                    .ID("gridDispatchSenExternal")
                    .TopBarItem(
                    X.Button()
                    .Text("Gửi")
                    .IconCls("x-fa fa-plus-circle")
                    .DirectEvents(
                    de =>
                    {
                        //de.Click.ExtraParams.Add(new { CategoryId = new JRawValue("App.hdfTargetCategory.getValue()") });
                        de.Click.ExtraParams.Add(new { DispatchId = Model.DispatchId });
                        de.Click.Url = Url.Action("Form", "DispatchRecipientsExternal");
                    })
                  
                    )
                    .UIName("idas_default")
                    .Flex(1)
                    .Store(
                        X.StoreFormat()
                        .AutoLoad(true)
                        .ID("stDispatchSenExternal")
                                .Url(Url.Action("GetDataExternal", "DispatchRecipientsExternal", new { Area = "Dispatch" }))
                        .ModelType(typeof(iDAS.Service.DispatchRecipientsExternalBO))
                        .Parameters(pr =>
                        {
                            pr.Add(new StoreParameter("DispatchId", Model.DispatchId.ToString(), ParameterMode.Value));
                        }))
                    .ColumnModel(
                            X.RowNumbererColumnFormat(),
                            X.ColumnEncodeFormat().Text("Tên tổ chức").DataIndex(Model, m => m.Name).Flex(1),
                            X.ColumnEncodeFormat().Text("Số điện thoại").Width(130).Align(ColumnAlign.Center).DataIndex(Model, m => m.Phone),
                            X.ColumnEncodeFormat().Text("Địa chỉ").Width(150).Align(ColumnAlign.Center).DataIndex(Model, m => m.Address),
                                X.ColumnEncodeFormat().Text("Email").DataIndex(Model, m => m.Email).Align(ColumnAlign.Center).Width(100),
                            X.DateColumnFormat().Text("Ngày gửi").DataIndex(Model, m => m.date).Align(ColumnAlign.Center).Width(100)
                        )
                        .Listeners(ls =>
                        {
                            ls.BeforeItemContextMenu.Fn = "oncontextMenuDispatchExternal";
                        })
                           
                

        
        .Buttons(
            X.Button().Text(Resource.Save).IconCls("x-fa fa-floppy-o")
            .DirectEvents(de =>
            {
                de.Click.FormID = formId;
                de.Click.Before = "if (!this.up('window').down('form').getForm().isValid()) {return false; };";
                de.Click.Url = Url.Action("Create", "DispatchRecipientsExternal");
                de.Click.Success = "if(result.result == true){ if(App.stDispatchSenExternal){App.stDispatchSenExternal.reload();}}";

            }),
            X.Button().Text(Resource.Exit).IconCls("x-fa fa-times-circle").OnClientClick("this.up('window').doDestroy();")
        )
    )
)
@(X.Menu()
     .ID("contextMenuDispatchExternal")
     .Items(
                X.MenuItem().Text("Chi tiết").IconCls("x-fa fa-info-circle").Handler("onDetailDispatchExternal();"),
            X.MenuItem().Text("Xóa").IconCls("x-fa fa-trash-o").ID("ctmDeleteProfileList")
                .DirectEvents(de =>
                {
                    de.Click.Method = HttpMethod.POST;
                    de.Click.Confirmation.ConfirmRequest = true;
                    de.Click.Confirmation.Message = "Bạn có muốn xóa thông tin hay không?";
                    de.Click.Confirmation.Title = Resource.Confirm;
                    de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
                    de.Click.ExtraParams.Add(new { Id = new JRawValue("App.gridDispatchSenExternal.selModel.getSelection()[0].data.Id") });
                    de.Click.Url = Url.Action("Delete", "DispatchRecipientsExternal");
                    de.Click.Success = "App.stDispatchSenExternal.reload();";
                })
           
    )
)

<script>

    var oncontextMenuDispatchExternal = function (s, r, d, o, e, eOpts) {
        e.stopEvent();
        App.contextMenuDispatchExternal.showAt(e.getX(), e.getY() - 35);
    };

    var onDetailDispatchExternal = function () {
        var id = App.gridDispatchSenExternal.selModel.getSelection()[0].data.Id;
        if (id != '') {
            var params = { Id: id };
            var url = '@Url.Action("Form", "DispatchRecipientsExternal")';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };
</script>

