﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@using iDAS.Service;
@model DispatchBO
@{
    var X = Html.X();
    // var status = (List<Ext.Net.ListItem>)ViewData["Status"];
    var formId = "formTaskDispatch";
    var DispatchResponsibility = (List<Ext.Net.ListItem>)ViewData["DispatchResponsibility"];
    //   var FormalitySave = (List<Ext.Net.ListItem>)ViewData["FormalitySave"];
}

@(X.Menu()
     .ID("contextMenuDispatchTask")
     .Items(
                            X.MenuItem().Text("Chi tiết").IconCls("x-fa fa-info-circle").Handler("onDetailDispatchTask();"),
            X.MenuSeparator(),
                        X.MenuItem().Text("Xóa").IconCls("x-fa fa-trash-o").Handler("onDeleteDispatchTask();")

    )
)
@(X.WindowSlide().WindowLayout(LayoutType.VBox)
   .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.9 })
    .Title("Hành động thực hiện")
    .IconCls("x-fa fa-pencil-square-o")
    .Items(
        X.FormPanelVBoxFormat().ID(formId).BodyPadding(2).ActiveIndex(0)
        .Items(

            X.ContainerHBox().Flex(1)
        .Items(
                 X.FieldSetVBox().Flex(1).Border(true).ID("tbDispatchInfoTask").Title("Thông tin công văn")
        .Items(
           X.ContainerHBoxTop()
            .Items(
                        X.HiddenFor(m => m.Id),
                        X.HiddenFor(m => m.DepartmentId),
                        X.HiddenFor(m => m.CategoryId),
                     X.TextFieldFor(m => m.DepartmentName).EmptyText("Phòng ban").AllowBlank(false).HideLabel(true).MarginSpec("0 0 0 0").Note("Phòng ban").NoteAlign(NoteAlign.Top).Flex(1).ReadOnly(true),
                     X.TextFieldFor(m => m.CategoryName).EmptyText("Nhóm công văn").AllowBlank(!string.IsNullOrEmpty(Model.CategoryName) ? false : true).HideLabel(true).MarginSpec("0 0 0 5").Note("Nhóm công văn").NoteAlign(NoteAlign.Top).Flex(1).ReadOnly(true)
               ),

               X.TextFieldFor(m => m.Name).EmptyText("Tên công văn").AllowBlank(false).HideLabel(true).MarginSpec("5 0 0 0").Note("Tên công văn" + Html.Required())
                    .NoteAlign(NoteAlign.Top).Regex(Resource.RegexSpecialSymbolFilter).RegexText(Resource.RegexHtmlWhiteSpaceStartMessage)
                    .MaxLength(200).MaxLengthText("Chỉ nhập tối đa 200 ký tự"),
              X.ContainerHBoxTop().MarginSpec("5 0 0 0")
                .Items(
                             X.TextFieldFor(m => m.NumberDispatch).EmptyText("Số ký hiệu").AllowBlank(false).HideLabel(true).MarginSpec("0 0 0 0").Note("Số kí hiệu" + Html.Required()).NoteAlign(NoteAlign.Top).Flex(1),
                             X.DateFieldFormatFor(m => m.Sentdate).EmptyText("Ngày tháng CV").AllowBlank(false).HideLabel(true).MarginSpec("0 0 0 5").Note("Ngày tháng CV" + Html.Required()).NoteAlign(NoteAlign.Top).Flex(1).SelectedDate(DateTime.Now)
                    ),


            X.ContainerHBoxTop().MarginSpec("5 0 0 0").Items(

                    X.ComboBoxFor(m => m.SecurityId).ID("cbbSecurityTask").Flex(1).EmptyText("Độ mật").HideLabel(true).Note("Độ mật").MarginSpec("0 0 0 0")
            .RightButtons(X.Button().IconCls("x-fa fa-plus-circle").Handler("SecurityForm(this)").Border(false))
                .LeftButtons(X.Button().ID("btnSelectSecurityColor").Width(30).Border(false))
            .NoteAlign(NoteAlign.Top).TypeAhead(true).QueryMode(DataLoadMode.Local).ForceSelection(true)
            .TriggerAction(TriggerAction.All).DisplayField("Name").ValueField("Id").ValueNotFoundText("Đang tải...")
            .ListConfig(X.BoundList()
                    .LoadingText("Tìm kiếm...")
                    .ItemTpl(X.XTemplate()
                    .Html(@"<text>
                    <span>
                    <span style='width: 20px; height: 20px; margin-top:5px; border-radius: 50%; position: absolute; border: 1px solid; background:{Color}'> </span>
                    <span style='margin-left: 44px;'>{Name}</span><br/>
                    </span>
                    </text>")
                        )
                    )
            .Listeners(ls => ls.Change.Handler = "selectColor(item, newValue, oldValue)")
                    .Store(X.Store().ID("storeSecurityTask").AutoLoad(true)
            .Model(X.Model().IDProperty("Id")
            .Fields(
                new ModelField("Id"),
                new ModelField("Name"),
                new ModelField("Color")
                ))
        .Proxy(X.AjaxProxy().Url(Url.Action("GetAll", "Security")).Reader(X.JsonReader().RootProperty("data")))),

                 X.ComboBoxFor(m => m.UrgencyId).ID("cbbUrgencyIdTask").Flex(1).EmptyText("Độ khẩn").HideLabel(true).Note("Độ khẩn").MarginSpec("0 0 0 5")
                    .RightButtons(X.Button().IconCls("x-fa fa-plus-circle").Handler("UrgencyForm(this)").Border(false))
                        .LeftButtons(X.Button().ID("btnSelectUrgencyColor").Width(30).Border(false))
                .NoteAlign(NoteAlign.Top).TypeAhead(true).QueryMode(DataLoadMode.Local).ForceSelection(true)
                .TriggerAction(TriggerAction.All).DisplayField("Name").ValueField("Id").ValueNotFoundText("Đang tải...")
                .ListConfig(X.BoundList()
                        .LoadingText("Tìm kiếm...")
                        .ItemTpl(X.XTemplate()
                        .Html(@"<text>
                    <span>
                    <span style='width: 20px; height: 20px; margin-top:5px; border-radius: 50%; position: absolute; border: 1px solid; background:{Color}'> </span>
                    <span style='margin-left: 44px;'>{Name}</span><br/>
                    </span>
                    </text>")
                            )
                        )
                .Listeners(ls => ls.Change.Handler = "selectColor1(item, newValue, oldValue)")
                            .Store(X.Store().ID("storeUrgencyTask").AutoLoad(true)
                .Model(X.Model().IDProperty("Id")
                .Fields(
                    new ModelField("Id"),
                    new ModelField("Name"),
                    new ModelField("Color")
                    ))
                .Proxy(X.AjaxProxy().Url(Url.Action("GetAll", "DispatchUrgency")).Reader(X.JsonReader().RootProperty("data"))))),

              X.ContainerHBoxTop().MarginSpec("5 0 0 0").Items(
                X.ComboBoxFor(m => m.SendmethodId)
                        .ID("cbbDispatchSendmethodIdTask")
                .TypeAhead(true)
                .Note("Phương thức chuyển")
                .NoteAlign(NoteAlign.Top)
                .EmptyText("Chọn phương thức chuyển....")
                .QueryMode(DataLoadMode.Local)
                .ForceSelection(true)
                .DisplayFieldEncodeFormat("Name")
                .Flex(1)
                .HideLabel(true)
                .TriggerAction(TriggerAction.All)
                .DisplayField("Name")
                .ValueField("Id")
                .ValueNotFoundText("Loading...")
                .Store(Html.X().Store()
                .AutoLoad(true)
                .Model(Html.X().Model()
                    .IDProperty("Id")
                    .Fields(
                        new ModelField("Id", ModelFieldType.String),
                        new ModelField("Name", ModelFieldType.String)
                    )
                )
                        .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetAllData", "DispatchSendmethod", new { area = "Dispatch" }))
                .Reader(Html.X().JsonReader().RootProperty("data")))
                .Parameters(
                    pr =>
                    {
                        pr.Add(new StoreParameter("departmentId", "App.cbtreeDispatchDepartmentId.getValue()", ParameterMode.Raw));
                    })
                ),

                  X.FileUploadFieldFor(m => m.FileAttachs).Note("Tệp đính kèm").MarginSpec("0 0 0 5").Flex(1).ID("DispatchFiles")

              ),
               X.ContainerHBoxTop().MarginSpec("5 0 0 0").Items(
               X.TextAreaFor(m => m.Recipients).EmptyText("Nơi nhận").NoteAlign(NoteAlign.Top).Height(80).AllowBlank(false).HideLabel(true).Flex(1).MarginSpec("5 0 10 0").Note("Nơi nhận" + Html.Required()),
                   X.TextAreaFor(m => m.Content).EmptyText("Nội dung trích yếu").NoteAlign(NoteAlign.Top).Height(80).AllowBlank(false).HideLabel(true).MarginSpec("5 0 10 5").Flex(1).Note("Nội dung trích yếu").ID("DispatchContent")),
               X.TextAreaFor(m => m.Note).EmptyText("Ghi chú").Flex(1).NoteAlign(NoteAlign.Top).Height(80).AllowBlank(false).HideLabel(true).MarginSpec("10 0 10 0").Note("Ghi chú")



       ),

                   X.FieldSetVBox().Flex(1).Border(true)
                        .Title("Thông tin công việc")
                        .Items(
                                   X.Panel().Region(Region.Center)
                                    .Flex(1)
                                    .MarginSpec("16 -1 -1 -1")
                                    .Title("Giao việc")
                                    .Tools(t =>
                                        {
                                            t.Add(new Tool() { Handler = "onInsertTaskDispatchTo", IconCls = "x-fa fa-plus-circle", ToolTip = "Thêm mới", Hidden = Model.Id != Guid.Empty ? false : true });
                                        })
                                    .Border(true)
                                    .Padding(2)
                                    .Layout(LayoutType.Fit)
                                    .Items(
                                        X.GridPanelFormat()
                                        .Flex(1)
                                          .ID("grDispatchTaskform")
                                           .Store(
                                            X.StoreFormat()
                                            .AutoLoad(true)
                                                     .ID("storeDispatchTask")
                                                        .Url(Url.Action("GetDataDispatchTask", "Dispatch", new { Area = "Dispatch" }))
                                                .ModelType(typeof(iDAS.Service.TaskBO))
                                                .Parameters(
                                                pr =>
                                                {
                                                    pr.Add(new StoreParameter("DispatchId", Model.Id.ToString(), ParameterMode.Value));
                                                }))
                                            .ColumnModel(
                                                    X.RowNumbererColumnFormat(),
                                                        X.ColumnEncodeFormat().Text("Tên công việc").DataIndex("Name").Width(150).Locked(true),
                                                        X.DateColumn().Text("Ngày bắt đầu").DataIndex("StartAt").Width(110),
                                                        X.DateColumn().Text("Ngày kết thúc").DataIndex("EndAt").Width(110),
                                                        X.Column().DataIndex("").Text("Người thực hiện").Width(200).Renderer(new Renderer { Fn = "renderEmploy" }),
                                                        X.ColumnEncodeFormat().Text("Trạng thái").DataIndex("StatusText").Width(100)
                                                )
                                            .Listeners(ls =>
                                            {
                                                ls.BeforeItemContextMenu.Fn = "onContextMenuDispatchTask";
                                            })
                                    )
                )

        ))
        .Buttons(
            X.Button().Text(Resource.Exit).IconCls("x-fa fa-times-circle").OnClientClick("this.up('window').doDestroy();")
        )
    )
)


<script>
    var onContextMenuDispatchTask = function (s, r, d, o, e, eOpts) {
        e.stopEvent();
        App.contextMenuDispatchTask.showAt(e.getX(), e.getY());
    };
    var onDeleteDispatchTask = function () {
        var records = App.grDispatchTaskform.selModel.getSelection();
        if (records.length > 0) {
            var id = records[0].data.Id;
            Ext.MessageBox.show({
                title: '@iDAS.Presentation.Common.Resource.Confirm', msg: '@iDAS.Presentation.Common.Resource.ConfirmDelete',
                buttons: { yes: 'Đồng ý', no: 'Không' },
                iconCls: '#Information',
                fn: function (btn) {
                    if (btn == 'yes') {
                        Ext.net.DirectMethod.request({
                            url: '@Url.Action("DeleteDispatchTask", "DispatchTask", new { Area = "Dispatch" })',
                            params: { Id: id },
                            success: function (result) {
                                App.storeDispatchTask.reload();
                            }
                        });
                    }
                }
            });
        }
    };
    var onDetailDispatchTask = function () {
        var records = App.grDispatchTaskform.selModel.getSelection();
        if (records.length > 0) {
            var id = records[0].data.Id;
            var url = '@Url.Action("FormTask", "DispatchTask", new { Area = "Dispatch" })';
            var params = { id: id, DispatchId: '@Model.Id' };
            onDirectMethod(url, params);
        }
    };
    var renderEmploy = function (value, meta, record) {
        var title = '';
        var result = '';
        var image = '';
        title = '<span style="margin-left: 40px;font-size:10px;">' + record.data.EmployeePerformQuality.RoleNames + '</span>';
        image = '<img src="' + record.data.EmployeePerformQuality.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 40px;">' + Ext.htmlEncode(record.data.EmployeePerformQuality.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };

    var onInsertTaskDispatchTo = function () {
        var url = '@Url.Action("FormTask", "DispatchTask", new { Area = "Dispatch" })';
        var params = { DispatchId: '@Model.Id' };
        onDirectMethod(url, params);
    };
    var getDataGridTargetResponsibility = function () {
        var data = [];
        App.stDispatchResponsibility.data.each(function (e, d) {
            var item = {};
            item.EmployeeId = e.data.EmployeeId;
            item.RoleType = e.data.RoleType;
            data.push(item);
        });
        return JSON.stringify(data);
    };



    var addGridDispatchResponsibility = function () {
        var responsibilityId = App.cbbSelectDispatchResponsibility.getValue();
        var responsibilityName = App.cbbSelectDispatchResponsibility.getDisplayValue();
        var id = App.cbtreeDispatchEmployee.getValue();
        var name = App.cbtreeDispatchEmployee.getText();
        var ids = {};
        var names = {};
        ids = id.split(',');
        names = name.split(',');
        if (id != null && id != undefined && name != '') {
            for (var i = 0; i < ids.length; i++) {
                var employeeId = ids[i].split('_');
                if (Ext.StoreMgr.lookup(App.stEmployeeDestroySuggest).findExact('EmployeeId', employeeId[1]) < 0) {
                    App.stDispatchResponsibility.add({
                        EmployeeId: employeeId[1],
                        EmployeeName: names[i],
                        RoleName: responsibilityName,
                        RoleType: responsibilityId
                    });
                }
            }
        }
        App.cbtreeDispatchEmployee.setValue(null);
        App.cbbSelectDispatchResponsibility.setValue(null);
    };

    var itemContextMenuTargetResponsibility = function (grid, record, item, index, e, eOpts) {
        e.stopEvent();
        App.contextMenuTargetResponsibility.showAt(e.getX(), e.getY());
    };



    var selectColor1 = function (item, newValue, oldValue) {
        var selectItem = App.storeUrgencyTask.data.find('Id', newValue).data;
        if (App.btnSelectUrgencyColor) {

            App.btnSelectUrgencyColor.getEl().dom.style.background = selectItem.Color;
            App.btnSelectUrgencyColor.getEl().dom.style.borderRadius = "50%";
            App.btnSelectUrgencyColor.getEl().dom.style.margin = "6px 0 0 5px";
            App.btnSelectUrgencyColor.getEl().dom.style.width = "20px";
            App.btnSelectUrgencyColor.getEl().dom.style.height = "20px";
        }
    };



    var selectColor = function (item, newValue, oldValue) {
        var selectItem = App.storeSecurityTask.data.find('Id', newValue).data;
        if (App.btnSelectSecurityColor) {

            App.btnSelectSecurityColor.getEl().dom.style.background = selectItem.Color;
            App.btnSelectSecurityColor.getEl().dom.style.borderRadius = "50%";
            App.btnSelectSecurityColor.getEl().dom.style.margin = "6px 0 0 5px";
            App.btnSelectSecurityColor.getEl().dom.style.width = "20px";
            App.btnSelectSecurityColor.getEl().dom.style.height = "20px";
        }
    };

    var UrgencyForm = function (btn) {
        var securityId = btn.up("combobox").getId();
        var storeId = btn.up("combobox").getStore().storeId;
        var url = '@Url.Action("Form", "DispatchUrgency")';
        var params = { alignTo: securityId, renderTo: "windowAddDispatch", storeId: storeId };
        onDirectMethod(url, params);
    };

    var SecurityForm = function (btn) {
        var securityId = btn.up("combobox").getId();
        var storeId = btn.up("combobox").getStore().storeId;
        var url = '@Url.Action("Form","Security")';
        var params = { alignTo: securityId, renderTo: "windowAddDispatch", storeId: storeId };
        onDirectMethod(url, params);
    };
    var getDepartmentId = function () {
        var d = App.cbbDepartmentProfile.getValue();
        if (d) {
            if (d.indexOf("Department_") >= 0) {
                var departmentId = d.replace('Department_', '');
                App.hdfDepartmentArchiveId.setValue(departmentId);
            } else {
                App.hdfDepartmentArchiveId.setValue(d);
            }
        } else {
            return null;
        }
    };

    var showOrHideArchiveTime = function () {
        if (App.cbbSelectTypeDate) {
            var type = App.cbbSelectTypeDate.getValue();
            if (type == '@Convert.ToInt16((int)iDAS.Service.Common.Resource.ProfileArchiveTime.Permanent)') {
                App.nmrProfileArchiveTime.setReadOnly(true);
                App.nmrProfileArchiveTime.allowBlank = true;
            }
            else {
                App.nmrProfileArchiveTime.setReadOnly(false);
                App.nmrProfileArchiveTime.allowBlank = false;
            }
        }
    };
</script>