﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.TimekeepingBO
@{
    var X = Html.X();
    var allowForward = Convert.ToBoolean(ViewData["AllowForward"]);
    var SatrusCombobox = new List<ListItem>();
    var formId = X.GetComponentID();
    SatrusCombobox.Add(new ListItem() { Text = "", Value = "" });
    SatrusCombobox.Add(new ListItem() { Text = "Chưa yêu cầu giải trình", Value = "0" });
    SatrusCombobox.Add(new ListItem() { Text = "Chờ giải trình", Value = "1" });
    SatrusCombobox.Add(new ListItem() { Text = "Đã giả trình, Chờ xét duyệt", Value = "2" });
    SatrusCombobox.Add(new ListItem() { Text = "Đã duyệt", Value = "3" });
    SatrusCombobox.Add(new ListItem() { Text = "Từ chối", Value = "4" });
    bool isFinal = Convert.ToBoolean(ViewData["isFinal"]?? false);
    var sentBy = (ViewData["sentBy"]?? Guid.Empty).ToString();
    var sentByBO = new iDAS.Service.EmployeeService().GetById(Guid.Parse(sentBy));
}
@(X.WindowFormat().Title("Thông tin thời gian chấm công")
    .Width(800)
    .Height(allowForward? 700: 600)
    .Items(
        X.FormPanelFormat().ID(formId).Items(
            X.ContainerHBox()
            .Items(
                X.ContainerVBox().Flex(1).MarginSpec("5 0 0 0")
                .Items(
                    X.HiddenFor(u => u.Id),
                    X.ContainerHBox().Flex(1).MarginSpec("5 0 5 0").Items(
                        X.TextFieldFor(u => u.Code).MarginSpec("5 5 0 0").Flex(1).Note("Mã nhân viên").NoteAlign(NoteAlign.Top).EmptyText("Mã nhân viên").InputType(Ext.Net.InputType.Text).HideLabel(true).ReadOnly(true),
                        X.TextFieldFor(u => u.Name).MarginSpec("5 0 0 0").Flex(1).Note("Tên nhân viên").NoteAlign(NoteAlign.Top).EmptyText("Tên nhân viên").InputType(Ext.Net.InputType.Text).HideLabel(true).ReadOnly(true)
                    ),
                    X.ContainerHBox().Flex(1).MarginSpec("5 0 5 0").Items(
                        X.TextFieldFor(u => u.TimeIn).MarginSpec("5 5 0 0").Flex(1).Note("Giờ vào").NoteAlign(NoteAlign.Top).EmptyText("Giờ vào").InputType(Ext.Net.InputType.Text).HideLabel(true),
                        X.TextFieldFor(u => u.TimeOut).MarginSpec("5 0 0 0").Flex(1).Note("Giờ ra").NoteAlign(NoteAlign.Top).EmptyText("Giờ ra").InputType(Ext.Net.InputType.Text).HideLabel(true)
                    ),
                    X.ComboBoxFormatFor(m => m.Status)
                        .Note("Trạng thái").NoteAlign(NoteAlign.Top)
                        .ColumnWidth(1)
                        .EmptyText("Chọn trạng thái giải trình")
                        .MarginSpec("5 0 5 0")
                        .Items(SatrusCombobox)
                )
            ),
            X.TextAreaFor(u => u.ReasonExplanation).MarginSpec("10 0 10 0").Note("Lý do giải trình").NoteAlign(NoteAlign.Top).HideLabel(true).Flex(1),
            X.FieldSet().Title("Người duyệt (*)").MarginSpec("10 0 10 0").Padding(1).Disabled(Model.Status == 3 || Model.Status == 4).Items(
                X.EmployeeFieldFor(u => u.ApproveEmployee).MarginSpec("10 0 10 0").UrlEmployeeStore(Url.Action("LoadData", "Employee", new { area = "Generic" }))
            ),
            X.Checkbox().ID("chbForward").FieldLabel("Chuyển tiếp").Hidden(!allowForward).Disabled(isFinal)
            .Listeners(ls => ls.Change.Handler = "enableForward()"),
            X.Label().Hidden(sentByBO.Name == "" || sentByBO.Name == null).Text("Chuyển tiếp từ: " + sentByBO.Name),
            X.FieldSet().ID("fieldForward").Title("Chuyển tiếp").Hidden(!allowForward).Disabled(true).MarginSpec("10 0 10 0").Padding(1).Items(
                X.EmployeeFieldOtherFor(u => u.ApproveEmployee).MarginSpec("10 0 10 0").UrlEmployeeStore(Url.Action("LoadData", "Employee", new { area = "Generic" }))
            )
        )
        .Buttons(
            X.ButtonSave()
            .DirectEvents(de => {
                de.Click.ExtraParams.Add(new { forwardTo = new JRawValue("App.hdfemployeeIDOtherTOGetValue.getValue()") });
                de.Click.FormID = formId;
                de.Click.Url = Url.Action("Update");
            })
            .Url(Url.Action("Update"))
            .SuccessHandle("this.up('window').doDestroy();"),
            X.ButtonExit()
        )
    )
)
<script type="text/javascript">
    Ext.getBody().unmask();
    var enableForward = function () {
        var state = App.chbForward.getValue();
        App.fieldForward.setDisabled(!state);
    };
</script>