@import '/Content/gantt/prism.css';
@import '/Content/gantt/DetailsPanel.css';

body {
    font-family : helvetica, tahoma, verdana, sans-serif;
    padding     : 32px 20px 20px 20px;
    font-size   : 13px;
}

body.bry-examples-framed {
    padding : 0;
}

p {
    margin-bottom : 15px;
}

h1 {
    font-size     : large;
    margin-bottom : 20px;
}

h2 {
    font-size   : 14px;
    font-weight : bold;
}

pre.code {
    background  : #F8F8F8;
    border      : 1px solid #e8e8e8;
    padding     : 10px;
    margin      : 10px;
    margin-left : 0px;
    border-left : 5px solid #e8e8e8;
    font-size   : 12px !important;
    line-height : 14px !important;
}

a {
    text-decoration : none;
}

.sch-gantt-parent-cell {
    font-weight : bold !important;
}

ul,
li,
dl,
dt,
dd,
h3,
h4,
h5 {
    padding : 0;
    margin  : 0;
}

.taskTip li {
    white-space : nowrap;
}

.x-tree-icon {
    margin-right : 2px;
}

.x-grid-locking-body {
    border-top: none;
}

.x-toolbar {
    border-bottom: 1px solid #d0d0d0 !important;
}

.dependency-over, .dependency-over .sch-dependency-arrow {
    border-color : #3c678c;
}

.x-panel-header .x-btn {
    margin-right: 3px;
}