﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
}
@(X.Window()
.Modal(false)
.ID("windowUserOnlineChat")
.Resizable(false)
.Expand(true)
.Draggable(false)
.UIName("chat")
.Padding(0)
.BodyPadding(0)
.Title("Danh sách người dùng")
.CollapseMode(CollapseMode.Default)
.CollapseToolText("Thu nhỏ")
.ExpandToolText("Phóng to")
.HideCollapseTool(false)
.AnimCollapse(true)
.Collapsible(true)
.Layout(LayoutType.Fit)
.IconCls("x-fa fa-users")
.Closable(true)
.Height(500)
.CloseToolText("Đóng")
.Listeners(
    ls =>
    {
        ls.Collapse.Handler = "this.alignTo(Ext.getBody(),'br-br', [0,1]);";
        ls.Expand.Handler = "this.el.slideIn('b',{duration : 500}); this.show();";
        ls.BeforeShow.Handler = "this.setWidth(Ext.getBody().getWidth()*1/5); this.anchorTo(Ext.getBody(),'br-br'); this.alignTo(Ext.getBody(),'br-br', [0,1]); this.el.slideIn('b',{duration : 500}); ";
        ls.BeforeClose.Handler = "this.el.slideOut('b',{duration : 500}); setTimeout(function () { }, 500); this.destroy(); reRender(); ";
        ls.Show.Handler = "reRender();";
    })
.Items(
Html.X().GridPanel()
        .Margin(-1)
        .ID("grUserOnline")
        .BottomBarItem(
        Html.X().TextField()
            .ID("txtSeachName")
            .EmptyText("Nhập từ khóa tìm kiếm...")
            .IconCls("x-fa fa-search")
            .Flex(1)
            .HideLabel(true)
            .Listeners(ls =>
            {
                ls.Change.Buffer = 500;
                ls.Change.Handler = @"var store = App.grUserOnline.getStore();if (!store.loading) {store.load({ start: 0, limit: 50, name: this.value });}";
            })
        )
        .RowLines(false)
        .AutoScroll(true)
        .Store(Html.X().Store()
        .ID("storeMemberOnlineChat")
        .Buffered(true)
        .PageSize(20)
        .LeadingBufferZone(0)
        .RemoteFilter(true)
        .AutoLoad(true)
        .Parameters(ps => ps.Add(new StoreParameter("name", "App.txtSeachName.getValue()", ParameterMode.Raw)))
        .Model(Html.X().Model()
        .Fields(
            Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
            Html.X().ModelField().Name("Name").Type(ModelFieldType.String),
            Html.X().ModelField().Name("AvatarUrl").Type(ModelFieldType.String),
            Html.X().ModelField().Name("UserName").Type(ModelFieldType.String)
            )
        )
        .Proxy(Html.X().AjaxProxy()
        .Url(Url.Action("GetMember", "UserOnline", new { area = "Chat" }))
        .Reader(Html.X().JsonReader()
        .RootProperty("data"))
        .IDParam("Id"))
        )
        .Cls("img-chooser-view")
        .EmptyText(@"<div style='text-align:center'>
                <div class='emptyClass'></div>
                <div style='font-size: 0.9em'>Không có người dùng nào</div>
            </div>")
        .ColumnModel(
            Html.X().Column()
                .Text("Thông báo")
                .DataIndex("Name")
                .Flex(1)
                .Sortable(false)
                .Renderer("bindUserOnline")
        )
        .HideHeaders(true)
        .Listeners(ls => ls.RowClick.Fn = "itemUserClick")
        .View(Html.X().GridView().TrackOver(false).LoadingText("Đang tải..."))
    )
)
<script>
    var bindUserOnline = function (value, meta, record) {
        var isonline = listUserConnect.indexOf(record.data.UserName) >= 0;
        var image = '<img src="' + record.data.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;">';
        var name = '<span style="margin-left: 42px; font-size:11px;"><strong>' + Ext.htmlEncode(record.data.Name) + '</strong><em title="' + (isonline ? "Trực tuyến" : "Không trực tuyến") + '"  onlineid="' + record.data.UserName + '" style=\'width: 8px; height: 8px; border-radius: 50%; position: absolute; margin-top: 6px; right: 8px; background-color:' + (isonline ? "#29af17" : "#ccc") + ';\'></em></span><br/>';
        var titleNames = '<span style="margin-left: 42px;font-size:10px;">' + (record.data.Email != null ? record.data.Email : "") + '</span>';
        var result = '<span>' + image + name + titleNames + '</span>';
        return result;
    };
    var itemUserClick = function (view, record, item, index, e) {
        var windowId = Ext.String.format("windowSingleChat{0}", record.data.Id.replace(/-/g, ''));
        var wd = Ext.getCmp(windowId);
        if (wd) {
            wd.show();
            wd.focus();
        }
        else {
            var params = { userId: record.data.Id };
            var url = '@Url.Action("SingleChat", "Messenger", new { area = "Chat"})';
            onDirectMethod(url, params, null, null, true);
        }
    };
</script>