﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.SmsManagersSynchronizedBO
@{
    var X = Html.X();
    Operation operation = (Operation)ViewData["Operation"];
    var lstFroupKey = string.Empty;
    if (ViewData["lstFroupKey"] != null)
    {
        lstFroupKey = string.Join(", ", (List<string>)ViewData["lstFroupKey"]);
    }
}
@(
X.WindowFormat().Title("Thông tin tin nhắn")
.Width(500)
.Height(470)
.Items(
    X.FormPanelFormat()
        .Items(
            X.HiddenFor(u => u.Id),
            X.TextFieldFor(u => u.SendNumber).MarginSpec("5 0 5 0").Note("Số gửi" + Html.Required()).NoteAlign(NoteAlign.Top).EmptyText("Số gửi").InputType(Ext.Net.InputType.Text).HideLabel(true),
            X.TextFieldFor(u => u.RecieveNumber).MarginSpec("5 0 5 0").Note("Số nhận" + Html.Required()).NoteAlign(NoteAlign.Top).EmptyText("Số nhận").InputType(Ext.Net.InputType.Text).HideLabel(true),
            X.TextAreaFor(u => u.MessageContent).MarginSpec("5 0 5 0").Note("Nội dung" + Html.Required()).NoteAlign(NoteAlign.Top).EmptyText("Nội dung").InputType(Ext.Net.InputType.Text).HideLabel(true),
            X.TextFieldFor(u => u.NetworkProvider).MarginSpec("5 0 5 0").Note("Nhà mạng" + Html.Required()).NoteAlign(NoteAlign.Top).EmptyText("Nhà mạng").InputType(Ext.Net.InputType.Text).HideLabel(true),
            X.DateTimeSecondsFieldFormatFor(m => m.SendDate).EmptyText("Thời gian gửi: dd/MM/yyyy HH:mm:ss").AllowBlank(false).HideLabel(true).MarginSpec("5 0 5 0").Note("Thời gian gửi " + Html.Required())
            .NoteAlign(NoteAlign.Top)
            .SelectedDate(Model.SendDate.HasValue ? Model.SendDate.Value : DateTime.Now)
            .Value(Model.SendDate.HasValue ? Model.SendDate.Value.ToString("dd/MM/yyyy HH:mm:ss") : DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")),
            X.TextArea().ReadOnly(true).MarginSpec("5 0 5 0").Note("Phân loại nhóm dịch vụ" + Html.Required()).NoteAlign(NoteAlign.Top).EmptyText("Không thuộc nhóm dịch vụ nào.").HideLabel(true).Value(lstFroupKey).Hidden(operation == Operation.Create)
        )
        .Buttons(
            X.ButtonDelete()
            .Hidden(operation == Operation.Create)
            .Parameter(new Parameter("id", Model.Id))
            .SuccessHandle("App.grMnSmsManagersSynchronized.getStore().reload();"),
            X.ButtonSave()
            .Url(Url.Action(operation == Operation.Create ? "Create" : "Update"))
            .SuccessHandle("App.grMnSmsManagersSynchronized.getStore().reload();"),
            X.ButtonExit()
        )
    )
)
<script>
    Ext.getBody().unmask();
</script>