﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentCategoryBO

@{
    var X = Html.X();
    Operation operation = (Operation)ViewData["Operation"];
    var departmentId = (string)ViewData["departmentId"];
    var categoryType =( iDAS.Service.Common.Resource.DocumentCategoryType) ViewData["DocumentCategoryType"] ;
    if (operation == Operation.Update)
    {
        departmentId = Model.DepartmentId.ToString();
    }
    var formId = X.GetComponentID();
    <style>
        .blockTitle {
            width: 30px;
            height: 30px;
            border: 2px solid black;
            padding-top: 5px;
            background-color: green;
            border-radius: 50%;
            font-size: 12px;
            text-align: center;
            color: black;
            font-weight: 600;
            float: left;
            margin-right: 3px;
            margin-top: -5px;
        }
    </style>
}

@(X.WindowSlide().WindowLayout(LayoutType.VBox)
    .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.3 })
    .Modal(true)
    .ID("windowDocumentCategory")
    .Title("Thông tin danh mục")
    .IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
    .Items(
         X.FormPanelVBoxFormat()
        .Padding(5)
        .BodyPadding(1)
        .ID("frDocumentCategory")
        .Items(
            X.HiddenFor(u => u.Id),
            X.HiddenFor(u => u.IsInternal).ID("hiddenIsInternal"),
            X.HiddenFor(u => u.IsExternal).ID("hiddenIsExternal"),
            X.HiddenFor(u => u.IsDistribute).ID("hiddenIsDistribute"),
            X.HiddenFor(m => m.DepartmentId).Value(departmentId.ToString()),
            X.ComboBoxFor(m => m.ParentId)
                    .ID("cbbDocumentCategoryParent")
                    .TypeAhead(true)
                    .Note("Chọn danh mục cha")
                    .NoteAlign(NoteAlign.Top)
                    .EmptyText("Chọn danh mục cha....")
                    .QueryMode(DataLoadMode.Local)
                    .ForceSelection(true)
                    .DisplayFieldEncodeFormat("Name")
                    .HideLabel(true)
                    .TriggerAction(TriggerAction.All)
                    .DisplayField("Name")
                    .ValueField("Id")
                    .ValueNotFoundText("Loading...")
                    .Store(Html.X().Store()
                    .AutoLoad(true)
                    .Model(Html.X().Model()
                        .IDProperty("Id")
                        .Fields(
                            new ModelField("Id", ModelFieldType.String),
                            new ModelField("Name", ModelFieldType.String)
                        )
                    )
                    .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetDataDepartmentId", "Category", new { area = "Document" }))
                        .Reader(Html.X().JsonReader().RootProperty("data")))
                        .Parameters(
                            pr =>
                            {
                                pr.Add(new StoreParameter("DepartmentId", "'" + departmentId.ToString() + "'", ParameterMode.Raw));
                                pr.Add(new StoreParameter("type", categoryType));
                            })
                        ),
                            X.TextFieldFor(m => m.Name).BlankText("Bạn phải nhập tên danh mục!").HideLabel(true).MaxLength(200).Note("Nhập tên danh mục").EmptyText("Nhập tên danh mục").NoteAlign(NoteAlign.Top).MaxLengthText("Không nhập quá 200 ký tự.").AllowBlank(false).MarginSpec("-5 0 0 0"),
                            X.TextFieldFor(m => m.CodeRule).EmptyText("Thiết lập quy tắc đánh mã cho tài liệu").HideLabel(true).Note("Thiết lập quy tắc đánh mã cho tài liệu").NoteAlign(NoteAlign.Top).MarginSpec("5 0 0 0"),
                            X.TextAreaFor(m => m.DescriptionRule).EmptyText("Diễn giải quy tắc đánh mã cho tài liệu").HideLabel(true).MarginSpec("5 0 0 0").Note("Diễn giải quy tắc đánh mã cho tài liệu").NoteAlign(NoteAlign.Top),
                            X.TextAreaFor(m => m.Content).Note("Ghi chú").EmptyText("Ghi chú").HideLabel(true).NoteAlign(NoteAlign.Top).LabelAlign(LabelAlign.Top).Flex(1).MarginSpec("13 0 10 0")
            ))
    .Buttons(
       X.Button().Text(Resource.Save).IconCls("x-fa fa-floppy-o")
        .DirectEvents(de =>
        {
            de.Click.Before = "if (!App.frDocumentCategory.getForm().isValid()) { return false; }; this.setDisabled(true);";
            de.Click.FormID = "frDocumentCategory";
            de.Click.Url = Url.Action(operation == Operation.Create ? "Create" : "Update");
            de.Click.Success = "onSaveSuccess()";
            de.Click.Failure = "eval(result.script); this.setDisabled(false);";
        }),
        X.ButtonExit()
    )
)
<script>
    var onSaveSuccess = function () {
        if (App.hiddenIsInternal.value == 'True') {
            App.DocumentCategoryPanel.getRootNode().reload();
            setTitleInternalDocument();
        }
        if (App.hiddenIsExternal.value == 'True') {
            App.DocumentExternalPanel.getRootNode().reload();
            setTitleExternalDocument();
        }
        if (App.hiddenIsDistribute.value == 'True') {
            App.DocumentOtherdepartmentsPanel.getRootNode().reload();
            setTitleDistributeDocument();
        }
        WindowSlideOut(App.windowDocumentCategory);
    };
</script>