﻿@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
}
@(X.Container()
    .ID("ctMnNotifiesMore")
    .Layout(LayoutType.Fit)
    .Border(false)
    .Listeners(ls => ls.Resize.Handler = "this.updateLayout()")
    .Items(
        X.Panel()
        .ID("pnNotifyMore")
        .Flex(1)
        .Border(true)
        .Layout(LayoutType.Fit)
        .TopBar(
            X.Toolbar()
            .StyleSpec("padding-bottom:0px;padding-top:0px")
            .Items(
                X.TabStrip()
                .WidthSpec("80%")
                .Items(t =>
                {
                    t.Add(Html.X().Tab().ActionItemID("MoreNotifiesPanel").Text("Thông báo hệ thống").IconCls("x-fa fa-bell"));
                    t.Add(Html.X().Tab().ActionItemID("TaskMoreNotifiesPanel").Text("Thông báo công việc").IconCls("x-fa fa-tasks"));
                }),
                X.ToolbarFill()
            )
        )
    .Items(
    Html.X().GridPanel()
        .ID("MoreNotifiesPanel")
        .Margin(-1)
        .Flex(1)
        .RowLines(false)
        .AutoScroll(true)
        .Store(Html.X().Store()
        .ID("stMoreNotifyStores")
        .Buffered(true)
        .PageSize(10)
        .LeadingBufferZone(40)
        .AutoLoad(true)
        .Model(Html.X().Model()
        .Fields(
            Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
            Html.X().ModelField().Name("Contents").Type(ModelFieldType.String),
            Html.X().ModelField().Name("Url").Type(ModelFieldType.String),
            Html.X().ModelField().Name("Params").Type(ModelFieldType.String),
            Html.X().ModelField().Name("Title").Type(ModelFieldType.String),
            Html.X().ModelField().Name("DateSend").Type(ModelFieldType.String),
            Html.X().ModelField().Name("TimeSend").Type(ModelFieldType.String),
            Html.X().ModelField().Name("IsRead").Type(ModelFieldType.Boolean)
            )
        )
        .Proxy(Html.X().AjaxProxy()
        .Url(Url.Action("GetDataMore"))
        .Reader(Html.X().JsonReader()
        .RootProperty("data"))
        .IDParam("Id"))
        )
        .Cls("img-chooser-view")
        .EmptyText(@"<div style='text-align:center'>
                    <div class='emptyClass'></div>
                    <div style='font-size: 0.9em'>Không có thông báo nào</div>
                </div>")
        .ColumnModel(
            Html.X().Column()
                .Text("Thông báo")
                .DataIndex("Contents")
                .Flex(1)
                .Sortable(false)
                .Renderer("bindWidgets")
        )
        .HideHeaders(true)
        .Listeners(ls =>
        {
            ls.RowDblClick.Fn = "itemClick";
        })
        .View(Html.X().GridView().TrackOver(false).LoadingText("Đang tải...")),

    Html.X().DataView()
        .ID("TaskMoreNotifiesPanel")
        .Margin(-1)
        .LoadMask(false)
        .LoadingText("Đang tải...")
        .AutoScroll(true)
        .ItemSelector("li.letter-row")
        .Store(
    Html.X().StoreFormat()
        .ID("stMoreTaskNotifies")
        .Url(Url.Action("LoadTaskNotifies", "Notifies"))
        .ModelType(typeof(iDAS.Service.TaskResourceBO)))
        .SingleSelect(true)
        .Cls("img-chooser-view")
        .OverItemCls("x-view-over")
        .EmptyText(@"<div style='text-align:center'>
                        <div class='emptyClass'></div>
                        <div style='font-size: 0.9em'>Không có công việc nào</div>
                    </div>")
        .TrackOver(true)
        .Tpl(
        @<text>
            <div class='ajax-notifications custom-scroll' style='opacity: 1;'>
                <ul class='notification-body'>
                    <tpl for=".">
                        <li class="letter-row">
                            <tpl if='CompleteRate ==50'>
                                <span>
                                    <div class='bar-holder no-padding'>
                                        <p class='margin-bottom-5'><strong>CÔNG VIỆC:</strong> <i> {TaskName}</i> <span class='pull-right semi-bold text-muted'>{CompleteRateText}</span></p>
                                        <div class='progress progress-sm'>
                                            <div class='progress-bar progress-bar-warning' style='width:{CompleteRateText};'></div>
                                        </div>
                                        <em class='note no-margin'>Cập nhật cuối lúc {UpdateAtText}</em>
                                    </div>
                                </span>
                            </tpl>
                            <tpl if='CompleteRate ==30'>
                                <span>
                                    <div class='bar-holder no-padding'>
                                        <p class='margin-bottom-5'><strong>CÔNG VIỆC:</strong> <i> {TaskName}</i> <span class='pull-right semi-bold text-muted'>{CompleteRateText}</span></p>
                                        <div class='progress progress-sm'>
                                            <div class='progress-bar progress-bar-danger' style='width:{CompleteRateText};'></div>
                                        </div>
                                        <em class='note no-margin'>Cập nhật cuối lúc {UpdateAtText}</em>
                                    </div>
                                </span>
                            </tpl>
                            <tpl if='CompleteRate !=100'>
                                <span>
                                    <div class='bar-holder no-padding'>
                                        <p class='margin-bottom-5'><strong>CÔNG VIỆC:</strong> <i> {TaskName}</i> <span class='pull-right semi-bold text-muted'>{CompleteRateText}</span></p>
                                        <div class='progress progress-sm'>
                                            <div class='progress-bar bg-color-teal' style='width:{CompleteRateText};'></div>
                                        </div>
                                        <em class='note no-margin'>Cập nhật cuối lúc {UpdateAtText}</em>
                                    </div>
                                </span>
                            </tpl>
                            <tpl if='CompleteRate ==100'>
                                <span>
                                    <div class='bar-holder no-padding'>
                                        <p class='margin-bottom-5'><strong>CÔNG VIỆC:</strong> <i> {TaskName}</i> <span class='pull-right semi-bold text-muted'><i class='x-fa fa-check'></i> Hoàn thành</span></p>
                                        <div class='progress progress-sm' style='width:100%'>
                                            <div class='progress-bar progress-bar-success' style='width:{CompleteRateText};'></div>
                                        </div>
                                        <em class='note no-margin'>Cập nhật cuối lúc {UpdateAtText}</em>
                                    </div>
                                </span>
                            </tpl>
                        </li>
                    </tpl>
                </ul>
            </div>
        </text>
            )
            .Listeners(ls => ls.ItemClick.Fn = "itemTaskClick")
        )
    )
)
<script>
    var bindWidgets = function (column, cmp, record) {
        return Ext.String.format('<ul class=\'notify-body\' style=\'margin: -4px;\'><li><span id=\'el{4}\' {0} onmouseover=\"showItem(this)\" onmouseout=\"hideItem(this)\"  ><a href=\'javascript:void(0);\' class=\'msg\'><em class=\'imagecircle badge air air-top-left margin-top-0 air air-top-left\'><i class=\'fa fa-user fa-2x\'></i></em><span class=\'subject\' style=\'color: #2d2d2d;\'>{2}</span><span class=\'msg-body\' style=\'white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\'>{3}</span> <time style=\'right:13px\'>{1}</time>  <em class=\'air air-top-right  margin-top-0 air air-top-right \' hidden style=\'right:4px \'><a href=\"javascript:hiddenNotify(\'{4}\');\" title=\'Ẩn thông báo này\'><i class=\'fa fa-remove\'></i></a> <a id=\'clRead{4}\'  href=\"javascript:updateRead(\'{4}\',{5});\" title=\'{6}\'><i class=\'fa fa-asterisk\'></i></a> </em></a></span></li></ul>', record.data.IsRead ? '' : 'class=\'unread\'', record.data.TimeSend, record.data.IsRead ? record.data.Creater + " " + record.data.Title : "<b>" + record.data.Creater + "</b> " + record.data.Title, record.data.Contents, record.data.Id, record.data.IsRead, record.data.IsRead ? 'Đánh dấu chưa đọc' : 'Đánh dấu đã đọc');
    };
    var showItem = function (item) {
        item.children[1].hidden = false;
    };
    var hideItem = function (item) {
        item.children[1].hidden = true;
    };
    var itemClick = function (view, record, item, index, e) {
        if (!record.data.IsRead) {
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("Read", "Notifies", null, null))',
                params: { id: record.data.Id },
                success: function (result) {
                    result == 0 ? App.bagNotify.hide() : App.bagNotify.setText(result);
                    if (App.MoreNotifiesPanel) App.MoreNotifiesPanel.getStore().load({ start: 0, limit: 20 });
                }
            });
        }
        goToUrl(record.data.Url, record.data.Params);
    };
    var goToUrl = function (url, param) {
        var params = JSON.parse(param);
        onDirectMethod(url, params);
    };
    var itemTaskClick = function (view, record, item, index, e) {
        var params = {
            id: record.data.TaskId
        };
        var url = '@(Url.Action("Form", "Manage", new { Area = "Task" }))';
        onDirectMethod(url, params);
    };
    var updateRead = function (id, isRead) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("UpdateRead", "Notifies", null, null))',
            params: { id: id, isRead: !isRead },
            success: function (result) {
                var el = $('#el' + id); elRead = $('#clRead' + id);
                if (result && el.hasClass('unread')) {
                    el.removeClass('unread');
                    elRead.attr('title', 'Đánh dấu chưa đọc');
                } else {
                    el.addClass('unread');
                    elRead.attr('title', 'Đánh dấu đã đọc');
                }
            }
        });
    };
    var hiddenNotify = function (id) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("HiddenNotify", "Notifies", null, null))',
            params: { id: id },
            success: function (result) {
                var el = $('#el' + id);
                if (result) {
                    var displayRestore = Ext.String.format("<div style='text-align: right;'><a href='javascript:void(0);' onclick='undoHidden(this, \"{0}\");' style='text-align: right; font-size: 9px; padding-right: 11px;' >Phục hồi thông báo đã bị ẩn!</a></div>", id.trim());
                    el.hide(300);
                    el.parent().prepend(displayRestore);
                }
            }
        });
    };
    var undoHidden = function (i, id) {
        var parent = $(i).parent();
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Revert", "Notifies", null, null))',
            params: { id: id },
            success: function (result) {
                if (result) {
                    parent.parent().children().show(300);
                    parent.remove();
                }
            }
        });
    };
</script>