﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.WindowFormat()
    .Modal(true)
    .Width(340)
    .Height(230)
    .Resizable(false)
    .Draggable(false)
    .Maximizable(false)
    .Closable(true)
    .CloseToolText("Đóng")
    .Listeners(
    ls =>
    {
        ls.BeforeShow.Handler = "this.alignTo(App.btnCopy,'tr-br'); this.el.slideIn('t',{duration : 400});";
        ls.BeforeHide.Handler = "this.el.slideOut('r',{duration : 500}); ";
    })
    .ID("windowCopy")
    .Title("Áp dụng quy trình đã có thuộc phòng ban")
    .IconCls("x-fa fa-pencil-square-o")
    .Items(
        X.FormPanelVBoxFormat()
        .BodyPadding(5)
        .ID(formId)
        .Items(
            X.ComboboxTreeFormat()
            .ID("xTreeDepartmentCopy")
            .AllowBlank(false)
            .BlankText("Trường không được để trống!")
            .Multiple(false)
            .HideLabel(false),
            X.Container().Html(@"<b>Lưu ý <span style='color:red'>(*)</span></b><br/>
                <ul>
                <li><i>Nếu áp dụng quy trình thuộc phòng ban khác thì tất cả các trách nhiệm đã thiết lập sẽ bị xóa</i></li>
                <li><i>Bạn có thể sửa đổi quy trình sau khi đã áp dụng sao cho phù hợp</i></li>
                </ul>
            ")
        )
        .Buttons(
         X.Button()
         .Text("Áp dụng")
         .IconCls("x-fa fa-copy")
        .DirectEvents(de =>
        {
            de.Click.Before = "if (!this.up('window').down('form').getForm().isValid()) { return false; };";
            de.Click.ExtraParams.Add(new { departmentId = ViewData["DepartmentID"] });
            de.Click.ExtraParams.Add(new { process = ViewData["Process"] });
            de.Click.ExtraParams.Add(new { departmentCopyId = new JRawValue("getDepartmentId()") });
            de.Click.Url = Url.Action("Copy");
            de.Click.Success = "this.up('window').close(); App.stRoleRelation.reload();";
        }),
        X.ButtonExit().Handler("this.up('window').el.slideOut('t',{duration : 500}); return false; this.up('window').destroy();")
        )
    )
)
<script>
    var getDepartmentId = function () {
        var d = App.xTreeDepartmentCopy.getValue();
        if (d.indexOf("Department_") >= 0) {
            return d.replace('Department_', '');
        } else {
            return null;
        }
    };
</script>