﻿@using Ext.Net;
@using Ext.Net.MVC;
@(Html.X().Container()
        .Layout(LayoutType.HBox)
        .MarginSpec("5 5 6 5")
        .Border(false)
        .ID("ctDN")
        .Defaults(Html.X().Parameter().Name("margin").Value("0 5 0 0").Mode(ParameterMode.Value))
        .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle })
        .Items(
    Html.X().Button().Text("<b>ĐỀ NGHỊ</b><br />Trách nhiệm đề nghị viết mới, sửa đổi tài liệu")
        .ID("btnSuggesterWriteAndEdit")
        .StyleSpec("background-color:#d1d1d1")
        .ToolTip("Trách nhiệm này không cần phải thiết lập.<br/> Người đề nghị là tất cả các cá nhân sử dụng hệ thống!")
        .IconCls("x-fa fa-users")
        .Flex(1),
        //.DirectClickAction("ViewEmployee", "Setting")
        //.Parameter(Html.X().Parameter().Name("idBtn").Value("btnSuggesterWriteAndEdit"))
        //.Parameter(Html.X().Parameter().Name("align").Value("tl-bl"))
        //.Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentId.getValue()").Mode(ParameterMode.Raw))
        //.Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.WriteAndEditSuggest.ToString()).Mode(ParameterMode.Value))
        //.Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.SuggesterWriteAndEdit.ToString()).Mode(ParameterMode.Value)),
        Html.X().Container().Html(@"<span class='x-fa fa-arrow-right'><span>"),
        Html.X().Button().Text("<b>XEM XÉT</b><br />Trách nhiệm xem xét đề nghị viết mới sửa đổi").IconCls("x-fa fa-check").ID("btnReviewWriteAndEdit")
            .Flex(1)
            .DirectClickAction("ViewEmployee", "Setting")
            .Parameter(Html.X().Parameter().Name("idBtn").Value("btnReviewWriteAndEdit"))
            .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentId.getValue()").Mode(ParameterMode.Raw))
            .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.WriteAndEditSuggest.ToString()).Mode(ParameterMode.Value))
            .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.ReviewWriteAndEdit.ToString()).Mode(ParameterMode.Value)),
        Html.X().Container().Html(@"<span class='x-fa fa-arrow-right'><span>"),
        Html.X().Button().ID("btnApprovalWriteAndEdit").Text("<b>PHÊ DUYỆT</b><br />Trách nhiệm phê duyệt đề nghị viết mới sửa đổi")
            .DirectClickAction("ViewEmployee", "Setting")
            .Parameter(Html.X().Parameter().Name("idBtn").Value("btnApprovalWriteAndEdit"))
            .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentId.getValue()").Mode(ParameterMode.Raw))
            .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.WriteAndEditSuggest.ToString()).Mode(ParameterMode.Value))
            .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.ApprovalWriteAndEdit.ToString()).Mode(ParameterMode.Value))
            .IconCls("x-fa fa-check-circle-o")
            .Flex(1),
            Html.X().Container().Html(@"<span class='x-fa fa-arrow-right'>
                <span>
                    "),
                Html.X().Button().ID("btnAssignmentWriteAndEdit").Text("<b>PHÂN CÔNG</b><br />Trách nhiệm phân công thực hiện soạn thảo")
                    .DirectClickAction("ViewEmployee", "Setting")
                    .Parameter(Html.X().Parameter().Name("idBtn").Value("btnAssignmentWriteAndEdit"))
                    .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentId.getValue()").Mode(ParameterMode.Raw))
                    .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.WriteAndEditSuggest.ToString()).Mode(ParameterMode.Value))
                    .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.AssignmentWriteAndEdit.ToString()).Mode(ParameterMode.Value))
                    .Flex(1)
                    .IconCls("x-fa fa-file-text-o")
                    .Margin(0)
                    )
)
