﻿@using Ext.Net;
@using Ext.Net.MVC;
@( Html.X().Container()
            .Layout(LayoutType.HBox)
            .MarginSpec("5 5 6 5")
            .ID("ctPP")
            .Border(false)
            .Defaults(Html.X().Parameter().Name("margin").Value("0 5 0 0").Mode(ParameterMode.Value))
            .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle })
            .Items(
            Html.X().Button().Text("<b>ĐỀ NGHỊ</b><br/>Nhân sự, chức danh đề nghị phân phối").ID("btnDistributeSuggester").IconCls("x-fa fa-users")
            .ToolTip("Trách nhiệm này không cần phải thiết lập.<br/> Mọi cá nhân sử dụng hệ thống đều có quyền đề nghị phân phối tài liệu!").Flex(1)
                .DirectClickAction("ViewEmployee", "Setting")
                .Parameter(Html.X().Parameter().Name("idBtn").Value("btnDistributeSuggester"))
                .Parameter(Html.X().Parameter().Name("align").Value("tl-bl"))
                .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentId.getValue()").Mode(ParameterMode.Raw))
                .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.DistributeSuggest.ToString()).Mode(ParameterMode.Value))
                .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.DistributeSuggester.ToString()).Mode(ParameterMode.Value)),
            Html.X().Container().Html(@"<span class='x-fa fa-arrow-right'><span>"),
                Html.X().Button().Text("<b>XEM XÉT</b><br/>Nhân sự, chức danh xem xét đề nghị phân phối").IconCls("x-fa fa-check").ID("btnDistributeSuggestReviewer")
                .DirectClickAction("ViewEmployee", "Setting")
                .Parameter(Html.X().Parameter().Name("idBtn").Value("btnDistributeSuggestReviewer"))
                .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentId.getValue()").Mode(ParameterMode.Raw))
                .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.DistributeSuggest.ToString()).Mode(ParameterMode.Value))
                .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.DistributeSuggestReviewer.ToString()).Mode(ParameterMode.Value))
                .Flex(1),
            Html.X().Container().Html(@"<span class='x-fa fa-arrow-right'><span>"),
                    Html.X().Button().ID("btnDistributeSuggestApproval").Text("<b>PHÊ DUYỆT</b><br/>Nhân sự, chức danh phê duyệt đề nghị phân phối")
                .DirectClickAction("ViewEmployee", "Setting")
                    .Parameter(Html.X().Parameter().Name("idBtn").Value("btnDistributeSuggestApproval"))
                .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentId.getValue()").Mode(ParameterMode.Raw))
                .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.DistributeSuggest.ToString()).Mode(ParameterMode.Value))
                .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.DistributeSuggestApproval.ToString()).Mode(ParameterMode.Value))
            .IconCls("x-fa fa-check-circle-o").Flex(1),
            Html.X().Container().Html(@"<span class='x-fa fa-arrow-right'> <span>"),
                Html.X().Button().ID("btnDistributer").Text("<b>PHÂN PHỐI</b><br/>Nhân sự, chức danh phân phối tài liệu")
                .DirectClickAction("ViewEmployee", "Setting")
                        .Parameter(Html.X().Parameter().Name("idBtn").Value("btnDistributer"))
                .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentId.getValue()").Mode(ParameterMode.Raw))
                .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.DistributeSuggest.ToString()).Mode(ParameterMode.Value))
                .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.Distributer.ToString()).Mode(ParameterMode.Value))
                .Flex(1).IconCls("x-fa fa-share-alt")
                .Margin(0)
        )
)
