﻿@using Ext.Net;
@using Ext.Net.MVC;
@(Html.X().Container()
    .Layout(LayoutType.HBox)
    .MarginSpec("5 5 6 5")
    .ID("ctDNH")
    .Border(false)
    .Defaults(Html.X().Parameter().Name("margin").Value("0 5 0 0").Mode(ParameterMode.Value))
    .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle })
    .Items(
        Html.X().Button().Text("<b>ĐỀ NGHỊ</b><br/>Nhân sự, chức danh đề nghị hủy tài liệu")
                .ID("btnDestroyCreater")
                .IconCls("x-fa fa-users")
                .ToolTip("Trách nhiệm này không cần phải thiết lập.<br/> Trách nhiệm này chính là trách nhiệm lưu trữ trong quy trình soạn thảo tài liệu!")
                .DirectClickAction("ViewEmployee", "Setting")
                .Parameter(Html.X().Parameter().Name("idBtn").Value("btnDestroyCreater"))
                .Parameter(Html.X().Parameter().Name("align").Value("tl-bl"))
                .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentId.getValue()").Mode(ParameterMode.Raw))
                .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.CancelSuggest.ToString()).Mode(ParameterMode.Value))
                .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.DestroyCreater.ToString()).Mode(ParameterMode.Value))
            .Flex(1),
        Html.X().Container().Html(@"<span class='x-fa fa-arrow-right'><span>"),
                Html.X().Button().Text("<b>XEM XÉT</b><br/>Nhân sự, chức danh xem xét đề nghị hủy tài liệu").IconCls("x-fa fa-check").ID("btnDestroyReviewer")
            .DirectClickAction("ViewEmployee", "Setting")
                .Parameter(Html.X().Parameter().Name("idBtn").Value("btnDestroyReviewer"))
            .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentId.getValue()").Mode(ParameterMode.Raw))
            .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.CancelSuggest.ToString()).Mode(ParameterMode.Value))
            .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.DestroyReviewer.ToString()).Mode(ParameterMode.Value))
        .Flex(1),
        Html.X().Container().Html(@"<span class='x-fa fa-arrow-right'><span>"),
                Html.X().Button().ID("btnDestroyApproval").Text("<b>PHÊ DUYỆT</b><br/>Nhân sự, chức danh phê duyệt đề nghị hủy tài liệu")
            .DirectClickAction("ViewEmployee", "Setting")
                .Parameter(Html.X().Parameter().Name("idBtn").Value("btnDestroyApproval"))
            .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentId.getValue()").Mode(ParameterMode.Raw))
            .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.CancelSuggest.ToString()).Mode(ParameterMode.Value))
            .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.DestroyApproval.ToString()).Mode(ParameterMode.Value))
            .IconCls("x-fa fa-check-circle-o").Flex(1),
        Html.X().Container().Html(@"<span class='x-fa fa-arrow-right'> <span>"),
        Html.X().Button()
        //.StyleSpec("background-color:#ccc;")
            .ID("btnDestroyBillCreater")
            .ToolTip("Trách nhiệm này không cần phải thiết lập.<br/> Trách nhiệm lập biên bản hủy chính là trách nhiệm lưu trữ trong quy trình soạn thảo tài liệu!")
            .Text("<b>LẬP BIÊN BẢN HỦY</b><br/>Nhân sự, chức danh lập biên bản hủy tài liệu")
            .IconCls("x-fa fa-file-text-o")
            .Margin(0)
            .DirectClickAction("ViewEmployee", "Setting")
                .Parameter(Html.X().Parameter().Name("idBtn").Value("btnDestroyBillCreater"))
            .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentId.getValue()").Mode(ParameterMode.Raw))
            .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.CancelSuggest.ToString()).Mode(ParameterMode.Value))
            .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.DestroyBillCreater.ToString()).Mode(ParameterMode.Value))
    )
)
