﻿@using Ext.Net;
@using Ext.Net.MVC;
@(Html.X().Container()
        .Layout(LayoutType.HBox)
        .MarginSpec("5 5 6 5")
        .Border(false)
        .ID("ctSTView")
        .Defaults(Html.X().Parameter().Name("margin").Value("0 5 0 0").Mode(ParameterMode.Value))
        .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle })
        .Items(
        Html.X().Button().ID("btnWriteView").Text("<b>SOẠN THẢO</b><br/>Trách nhiệm soạn thảo tài liệu khi được yêu cầu").IconCls("x-fa fa-users")
                .DirectClickAction("ViewEmployee", "Setting")
                .Parameter(Html.X().Parameter().Name("idBtn").Value("btnWriteView"))
                .Parameter(Html.X().Parameter().Name("align").Value("tl-bl"))
                .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentIdView.getValue()").Mode(ParameterMode.Raw))
                .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.WriteAndRelation.ToString()).Mode(ParameterMode.Value))
                .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.Write.ToString()).Mode(ParameterMode.Value))
                .Flex(1),
        Html.X().Container().Html(@"<span class='x-fa fa-arrow-right'><span>"),
        Html.X().Button().Text("<b>KIỂM TRA</b><br/>Trách nhiệm kiểm tra xem xét tài liệu soạn thảo").IconCls("x-fa fa-check").ID("btnCheckView")
            .DirectClickAction("ViewEmployee", "Setting")
            .Parameter(Html.X().Parameter().Name("idBtn").Value("btnCheckView"))
            .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentIdView.getValue()").Mode(ParameterMode.Raw))
            .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.WriteAndRelation.ToString()).Mode(ParameterMode.Value))
            .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.Check.ToString()).Mode(ParameterMode.Value))
            .Flex(1),
        Html.X().Container().Html(@"<span class='x-fa fa-arrow-right'><span>"),
        Html.X().Button().ID("btnApproveDocumentView").Text("<b>PHÊ DUYỆT</b><br/>Trách nhiệm phê duyệt đề nghị ban hành tài liệu")
            .DirectClickAction("ViewEmployee", "Setting")
            .Parameter(Html.X().Parameter().Name("idBtn").Value("btnApproveDocumentView"))
            .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentIdView.getValue()").Mode(ParameterMode.Raw))
            .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.WriteAndRelation.ToString()).Mode(ParameterMode.Value))
            .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.ApproveDocument.ToString()).Mode(ParameterMode.Value))
            .IconCls("x-fa fa-check-circle-o").Flex(1),
        Html.X().Container().Html(@"<span class='x-fa fa-arrow-right'> <span>"),
                Html.X().Button().ID("btnPromulgateView").Text("<b>BAN HÀNH</b><br/>Trách nhiệm ban hành tài liệu khi được phê duyệt")
            .DirectClickAction("ViewEmployee", "Setting")
                .Parameter(Html.X().Parameter().Name("idBtn").Value("btnPromulgateView"))
            .Parameter(Html.X().Parameter().Name("departmentId").Value("App.hdDepartmentIdView.getValue()").Mode(ParameterMode.Raw))
            .Parameter(Html.X().Parameter().Name("typeProcess").Value(iDAS.Service.Common.Resource.DocumentTypeProcess.WriteAndRelation.ToString()).Mode(ParameterMode.Value))
            .Parameter(Html.X().Parameter().Name("typeRole").Value(iDAS.Service.Common.Resource.DocumentProcessRole.Promulgate.ToString()).Mode(ParameterMode.Value))
            .Flex(1).IconCls("x-fa fa-share-square-o")
            .Margin(0)
            )
)
