﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentProcessBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
    var align = ViewData["align"] == default(string) ? "tr-br" : ViewData["align"].ToString();
}
@(X.WindowFormat()
    .Modal(true)
    .Width(400)
    .Height(370)
    .Resizable(false)
    .Draggable(false)
    .Maximizable(false)
    .Closable(true)
    .CloseToolText("Đóng")
    .Listeners(
    ls =>
    {
        ls.BeforeShow.Handler = "this.alignTo(App." + ViewData["btn"].ToString() + ",'" + align + "'); this.el.slideIn('t',{duration : 400});";
        ls.BeforeHide.Handler = "this.el.slideOut('r',{duration : 500}); ";
    })
    .ID("windowCreateRole")
    .Title("Danh sách nhân sự có trách nhiệm")
    .IconCls("x-fa fa-pencil-square-o")
    .Items(
        X.FormPanelVBoxFormat()
        .BodyPadding(0)
        .ID(formId)
        .Items(
             Html.X().GridPanel()
                 .Flex(1)
                    .Header(false)
                    .MarginSpec("-1 -1 -1 -1 ")
                    .IconCls("x-fa fa-table")
                    .Title("Danh sách cán bộ, chức danh có trách nhiệm thuộc quy trình")
                    .RowLines(true)
                    .UI(UI.Success)
                    .ColumnLines(false)
                    .Store(Html.X().Store()
                    .AutoLoad(true)
                    .Proxy(Html.X().AjaxProxy()
                    .Url(Url.Action("GetEmployeeByRole", "Setting", new { Area = "Document" }))
                    .Reader(Html.X().JsonReader().RootProperty("data")))
                    .Parameters(ps =>
                    {
                        ps.Add(new StoreParameter("departmentId", Model.DepartmentId.ToString(), ParameterMode.Value));
                        ps.Add(new StoreParameter("process", Model.TypeProcess.ToString(), ParameterMode.Value));
                        ps.Add(new StoreParameter("role", Model.TypeRole.ToString(), ParameterMode.Value));
                    })
                    .PageSize(10)
                    .Model(Html.X().Model()
                    .Fields(
                        Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                        Html.X().ModelField().Name("Name").Type(ModelFieldType.String)
                        )
                    )
                )
                .ColumnModel(
                    Html.X().RowNumbererColumnFormat(),
                    Html.X().Column()
                        .DataIndex("Id").Renderer(new Renderer { Fn = "renderEmployeeColumn" })
                        .Text("Chức danh, cá nhân")
                        .Flex(1)
                          )
                    .HideHeaders(true)
                    .View(Html.X().GridView()
                    .StripeRows(true)
                    )
                    .EmptyText(@"<div style='text-align:center'><div class='emptyClass' style='height:100px;'></div><div style='font-size: 0.9em'>Không có nhân sự nào</div></div>")
                    .BottomBar(Html.X().PagingToolbarShortFormat())
        )
        .Buttons(
            X.ButtonExit().Handler("this.up('window').el.slideOut('t',{duration : 500}); return false;this.up('window').destroy();  ")
        )
    )
)
<script>
    var renderEmployeeColumn = function (value, meta, record) {
        var image = '';
        var name = '';
        image = '<img src="' + record.data.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        name = '<span style="margin-left: 42px;">' + Ext.htmlEncode(record.data.Name) + '</span><br/>';
        var titleNames = '<span style="margin-left: 42px;font-size:10px;">' + record.data.RoleNames + '</span>';
        result = '<span>' + image + name + titleNames + '</span>';
        return result;
    };
</script>