﻿@using Ext.Net;
@using Ext.Net.MVC;


@{
    var X = Html.X();
    int actionType = (int)ViewData["actionType"];
    string dataType = (string)ViewData["dataType"];
    var superId = (string)ViewData["SuperId"];
    string id = "";
    string name = "";
    var title = "";
    var temp = "";
    switch (dataType)
    {
        case "nationality": temp = "quốc tịch"; break;
        case "religion": temp = "tôn giáo"; break;
        case "ethnic": temp = "dân tộc"; break;
        case "bloodType": temp = "nhóm máu"; break;
        case "positionGroup": temp = "chức vụ Đoàn"; break;
        case "positionParty": temp = "chức vụ Đảng"; break;
        case "rankArmy": temp = "cấp bậc quân đội"; break;
        case "family": temp = "quan hệ gia đình"; break;
        case "contractType": temp = "loại hợp đồng"; break;
        case "contractStatus": temp = "tình trạng hợp đồng"; break;
        case "discipline": temp = "hình thức kỷ luật"; break;
        case "award": temp = "hình thức khen thưởng"; break;
        case "certificateType": temp = "loại chứng chỉ"; break;
        case "certificateLevel": temp = "xếp hạng chứng chỉ"; break;
        case "educationType": temp = "hình thức đào tạo"; break;
        case "educationResult": temp = "kết quả đào tạo"; break;
        case "educationOrg": temp = "nơi đào tạo"; break;
        case "educationField": temp = "chuyên ngành"; break;
        case "educationLevel": temp = "trình độ"; break;
        case "city": temp = "tỉnh/thành phố"; break;
        case "district": temp = "quận/huyện"; break;
        case "commune": temp = "phường/xã"; break;
        case "political": temp = "trình độ lý luận chính trị"; break;
        case "management": temp = "trình độ quản lý nhà nước"; break;
        default: break;
    }

    switch (actionType)
    {
        case 1: title = "Thêm " + temp; break;
        case 2: title = "Sửa " + temp; id = (string)ViewData["Id"]; name = (string)ViewData["Name"]; break;
        default: break;
    }
}
@(Html.X().Window()
    .ID("WinMasterDataDetail")
    .Layout(LayoutType.Fit)
    .Title(title)
    .Width(1200)
    .Height(500)
    .BodyPadding(0)
    .Margin(0)
    .Constrain(true)
    .Modal(true)
    .Resizable(false)
    .Items(
        X.FormPanelVBoxFormat()
            .Padding(20)
            .ID("frmUpdateMaster")
            .Frame(true)
            .Border(false)
            .StyleSpec("border: none;")
            .FieldDefaults(df => df.LabelWidth = 100)
            .DefaultAnchor("80%")
            .Items(
                X.TextField().ID("txtId").Hidden(true).Value(id),
                X.Label().Text("Tên " + temp).StyleSpec("font-weight:bold;"),
                X.TextField().ID("txtName").AllowBlank(false).Text(name).MarginSpec("0 0 0 0")
            )
            .BottomBarItem(
                X.ButtonGroup().ID("btngrp1").Items(
                    X.Button().IconCls("x-fa fa-floppy-o").Text("Lưu thay đổi").Handler("SaveChanges()"),
                    X.ButtonExit()
                )
            )
)
)
<script>
    var SaveChanges = function () {
        var id = App.txtId.value;
        var name = App.txtName.value;
        var url = '@Url.Action("MasterDataModify", "ProfileMasterData", new { area="Organization"})';
        var sid = '@superId';
        console.log(sid);
        Ext.net.DirectMethod.request({
            url: url,
            params: {
                actionType: @actionType,
                dataType: '@dataType',
                id: id,
                name: name,
                superId: sid
            },
            success: function () {
                var store = App.stMasterData;
                store.loadPage(1);
                App.btnEditMaster.setDisabled(true);
                App.btnDeleteMaster.setDisabled(true);
                App.WinMasterDataDetail.doDestroy();
            }
        });
    }
</script>
<style>
    #btngrp1 {
        left: auto !important;
        right: 0px !important;
    }
</style>

