﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentReviewSuggestBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.Window().Layout(LayoutType.Fit)
    .Modal(false)
    .Listeners(
        ls =>
        {
            ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight()/4 *3);this.setWidth(App.ctDesktop.getWidth()/3); this.alignTo(App.ctDesktop,'br-br'); this.el.slideIn('b',{duration : 500});";
            //ls.BeforeClose.Handler = "App.windowResultReviewSuggest.el.slideOut('b',{duration : 500}); return false;";
            ls.MaskClick.Handler = "App.windowResultReviewSuggest.el.slideOut('r',{duration : 500});setTimeout(function(){App.windowResultReviewSuggest.doDestroy();},500);";
        })
    .ID("windowResultReviewSuggest")
    .RenderTo("windowDocumentReviewSuggest")
    .Header(false)
    .IconCls("x-fa fa-check-square")
    .Items(
        X.FormPanelVBoxFormat()
        .BodyPadding(3)
        .ID(formId)
        .Items(
            X.HiddenFor(m => m.Id),
            X.HiddenFor(m => m.RequestId),
            X.FieldSet().Title("Trách nhiệm liên quan").PaddingSpec("5 0 0 0").Flex(1).Layout(LayoutType.Fit)
                .Items(
                    X.GridPanel().ColumnLines(true)
                    .ID("gridRoleEmployee").MinHeight(50)
                    .Border(true)
                    .MarginSpec("0 -1 -2 -1")
                    .Store(
                    X.StoreFormat()
                    .AutoLoad(true).ModelType(typeof(iDAS.Service.DocumentReviewSuggestBO))
                    .Url(Url.Action("GetData", "ReviewSuggest", new { Area = "Document" }))
                    )
                    .ColumnModel(
                        X.RowNumbererColumnFormat(),
                        Html.X().Column().Text("Nhân sự").DataIndex("ApproverAvatarUrl").ID("columnEmployee").Flex(1)
                            .Renderer(new Renderer { Fn = "function(value, meta, record) {return '<span><img src=\"'+value+'\" style=\"margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid\"></i> <span style=\"margin-left: 44px;\">'+ Ext.htmlEncode(record.data.Approver) +'</span></span><br/><span style=\"margin-left: 44px;font-size:10px;\">Tổng giám đốc</span></span>'; }" }),
                        X.ColumnEncodeFormat().Text("Trách nhiệm").DataIndex("TextRole").Width(110).Align(ColumnAlign.Center),
                        X.ColumnEncodeFormat().Text("Kết quả").ID("columnResult").DataIndex("ResultReview").Width(90).Align(ColumnAlign.Center)
                        ).Listeners(ls =>
                        {
                            ls.SelectionChange.Handler = "refreshMenuInfoReviewSuggest(selected);";
                            ls.BeforeItemContextMenu.Fn = "itemContextMenuReviewSuggestPosition";
                        })
                    ),
        X.FieldSet().Height(200)
            .Padding(3)
            .Layout(LayoutType.VBox)
            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
            .Title("Thông tin kết quả kiểm tra")
            .Items(
                X.RadioGroup()
                .ID("rdgResult")
                .MarginSpec("0 0 10 0")
                .ColumnsNumber(2)
                .AutomaticGrouping(false).Height(40)
                .Items(
                    X.Radio().Name("IsAccept").InputValue("true").BoxLabel("Đồng ý/Đạt").MarginSpec("-3 0 10 0").Checked(Model.IsAccept == null ? false : Model.IsAccept == true ? true : false),
                    X.Radio().Name("IsAccept").InputValue("false").BoxLabel("Không đồng ý/Không đạt").MarginSpec("-3 0 10 0").Checked(Model.IsAccept == null ? false : Model.IsAccept == false ? true : false)
                    ),
                X.TextAreaFor(p => p.Note).ID("Note11").Note("Nhận xét, đánh giá").NoteAlign(NoteAlign.Top).HideLabel(true).Flex(1)
            )
        ).Buttons(
            X.Button().Text("Gửi").IconCls("x-fa fa-share-square-o"),
            X.ButtonExit().Handler("App.windowResultReviewSuggest.el.slideOut('b',{duration : 500}); return false;")
        )
    )
)
<script>
    var onClickInfoReviewSuggest = function () {
    };
</script>
