﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentReviewSuggestBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.Window()
    .Title(String.Format("Chi tiết đề nghị kiểm duyệt tài liệu [Trạng thái {0}]", Model.StatusText))
    .IconCls("x-fa fa-plus-circle")
    .AutoScroll(true)
    .Width(900)
    //.Layout(LayoutType.VBox)
    //.LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
    .Height(650)
    .Items(
        X.FormPanelHBoxFormat()
        .ID(formId)
        .BodyPadding(3)
        .Flex(1)
        .Items(
            Html.X().FieldSet()
            .Layout(LayoutType.VBox)
            .Padding(3)
            .Flex(3)
            .MarginSpec("0 0 0 0")
            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
            .Title("Thông tin tài liệu yêu cầu kiểm duyệt")
            .Items(
                X.HiddenFor(m => m.Id),
                X.HiddenFor(m => m.Document.Id),
                X.TextFieldFor(m => m.Document.CategoryName).FieldLabel("Danh mục").LabelWidth(80)
                    .EmptyText("Danh mục tài liệu").ReadOnly(true),
                X.ContainerHBox()
                .MarginSpec("-5 0 0 0")
                .Items(
                    X.TextFieldFor(m => m.Document.Code).Flex(1).ID("txtDocumentCode").FieldLabel("Mã tài liệu")
                        .EmptyText("Mã tài liệu").ReadOnly(true).LabelWidth(80),
                        X.TextFieldFor(m => m.Document.Version).Flex(1).ID("txtVersion").FieldLabel("Phiên bản tài liệu")
                        .EmptyText("Phiên bản tài liệu").LabelWidth(110).ReadOnly(true).MarginSpec("0 0 0 5")
                    ),
            X.TextFieldFor(m => m.Document.Name).ID("txtDocumentName").FieldLabel("Tên tài liệu").LabelWidth(70)
                        .EmptyText("Tên tài liệu").ReadOnly(true).LabelWidth(80).MarginSpec("5 0 0 0"),
            X.ContainerHBoxTop()
            .Items(
                X.Container()
                .Layout(LayoutType.Anchor)
                .Flex(1)
                    .DefaultAnchor("100%")
                    .Defaults(X.Parameter().Name("HideEmptyLabel").Value("false").Mode(ParameterMode.Raw))
                    .Items(
                        X.CheckboxFor(m => m.Document.IsHard).FieldLabel("Hình thức lưu trữ").LabelWidth(110).BoxLabel("Bản cứng").MarginSpec("0 5 0 0").ReadOnly(true),
                        X.CheckboxFor(m => m.Document.IsSoft).LabelWidth(110).BoxLabel("Bản mềm").FieldLabel("").ReadOnly(true)
                    ),
                    X.ComboBoxFor(m => m.Document.SecurityId)
                    .FieldLabel("Mức độ bảo mật")
                    .ReadOnly(true)
                    .ID("cbColorReview")
                    .MarginSpec("5 0 0 0")
                    .QueryMode(DataLoadMode.Local)
                    .ForceSelection(true)
                    .AllowBlank(false)
                    .LabelWidth(110)
                    .TriggerAction(TriggerAction.All)
                    .DisplayField("Name")
                    .Listeners(l =>
                    {
                        l.Change.Handler = "setColor(App.cbColorReview, App.stColorReview);";
                    })
                    .Editable(false)
                    .ValueField("Id")
                    .Store(
                        Html.X().Store()
                            .ID("stColorReview")
                            .Listeners(ls => ls.Load.Handler = "setColor(App.cbColorReview, App.stColorReview);")
                            .AutoLoad(true)
                            .Model(
                                Html.X().Model()
                                    .IDProperty("Id")
                                    .Fields(
                                        new ModelField("Id", ModelFieldType.String) { Mapping = "Id" },
                                        new ModelField("Name", ModelFieldType.String) { Mapping = "Name" }
                                    )
                                )
                            .Proxy(
                                Html.X().AjaxProxy()
                                .Url(Url.Action("GetAll", "Security"))
                                .Reader(Html.X().JsonReader().RootProperty("data")
                                )
                            )
                        )
                        .Tpl(
                        @<text>
                            <tpl for=".">
                                <div class="x-boundlist-item" style="display: inline-block; width: 100%;">
                                    <div style="width: 20px; height: 20px; float: left; border-radius:50%; margin-top:5px; background-color: {Color}; border: #cecece 1px solid;">&nbsp;</div><div style="width: auto; float: left; font-size: 0.9em;">&nbsp;{Name}</div>
                                </div>
                            </tpl>
                        </text>)
                ),
                X.FileUploadFieldFor(m => m.Document.FileAttachs).MarginSpec("-5 0 0 0"),
                X.TextAreaFor(m => m.Document.Note).FieldLabel("Ghi chú nội dung tài liệu").ReadOnly(true).LabelWidth(155).MarginSpec("5 0 0 0")
                .ReadOnly(true),
                X.GridPanelFormat()
                .ID("gridDocumentReferenceReviewSuggest")
                .Title("Danh sách tài liệu tham chiếu")
                .Flex(1)
                .Header(true)
                .UI(UI.Success)
                .MarginSpec("5 0 0 0")
                .Border(true)
                .Store(
                    X.StoreFormat().ID("stDocumentReferenceReviewSuggest")
                    .Url(Url.Action("GetData", "Reference", new { Area = "Document", documentId = Model.Document.Id })))
                    .ColumnModel(
                        Html.X().RowNumbererColumn().Text("Stt").Width(50).Align(ColumnAlign.Center),
                        Html.X().ColumnFileFormat(m => m.FileAttachs.Files).Width(40),
                        Html.X().ColumnEncodeFormat().DataIndex("Code").Text("Mã Tài liệu").Width(150).CellWrap(true),
                        Html.X().ColumnEncodeFormat().DataIndex("Name").Text("Tên Tài Liệu").Flex(1).CellWrap(true)
                        )
                ),
            X.ContainerVBox()
            .Flex(2)
            .Padding(3)
            .Items(
                X.FieldSet()
                .Flex(1)
                .Padding(3)
                .Layout(LayoutType.VBox)
                .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                .Title("Thông tin người soạn thảo")
                .Items(
                    X.FieldSet()
                    .Padding(3)
                    .MarginSpec("0 0 0 0")
                        .Title("Người soạn thảo")
                        .Items(
                            X.EmployeeFieldFor(u => u.EmployeeWriteBy).UrlEmployeeStore(Url.Action("GetByPerformWrite", "Employee", new { area = "Generic", categoryId = Model.Document.CategoryId }))
                                    .AllowBlank(false).EmployeeReadOnly(true)
                            ),
                    X.DateFieldFor(m => m.SendAt).FieldLabel("Ngày gửi").LabelWidth(80).ReadOnly(true).MarginSpec("5 0 0 0"),
                    X.TextAreaFor(m => m.Note).FieldLabel("Nội dung gửi đề nghị").LabelAlign(LabelAlign.Top).MarginSpec("5 0 0 0").Flex(1).ReadOnly(true)
                ),
                X.FieldSet()
                .Hidden(Model.IsAccept != null ? false : true)
                .Flex(1)
                .Padding(3)
                .Layout(LayoutType.VBox)
                .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                .Title("Thông tin phê duyệt")
                .Items(
                    X.RadioGroup()
                    .ID("rdgResult")
                    .FieldLabel("Kết quả")
                    .ColumnsNumber(2)
                    .AutomaticGrouping(false)
                    .Items(
                        X.Radio().Name("IsAccept").InputValue("true").BoxLabel("Đồng ý/Đạt").ReadOnly(true).Checked(Model.IsAccept == null ? false  :Model.IsAccept.Value == true ? true : false),
                        X.Radio().Name("IsAccept").InputValue("false").BoxLabel("Không đồng ý/Không đạt").ReadOnly(true).Checked(Model.IsAccept == null ? false : Model.IsAccept.Value == false ? true : false)
                        ),
                    X.TextAreaFor(p => p.ReasonOfReject).ID("txtReasonOfReject").FieldLabel("Nhận xét").LabelAlign(LabelAlign.Top).MarginSpec("-15 0 0 0").ReadOnly(true),
                    X.FieldSet()
                    .Flex(1)
                    .Hidden(Model.IsAccept != null ? false : true)
                    .Disabled(true)
                    .MarginSpec("5 0 0 0")
                    .Padding(3)
                    .ID("plWriteReplace")
                    .Disabled(true)
                    .Layout(LayoutType.VBox)
                    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                    .Title("Thông tin người soạn thảo thay thế")
                    .Items(
                        X.CheckboxFor(m => m.WriterReplace).BoxLabel("Người soạn thảo thay thế").HideLabel(true),
                        X.FieldSet()
                        .Padding(3)
                            .Title("Người soạn thảo thay thể")
                            .Items(
                                X.EmployeeFieldFor(u => u.EmployeePerformBy).UrlEmployeeStore(Url.Action("GetByPerformWrite", "Employee", new { area = "Generic", categoryId = Model.Document.CategoryId }))
                                ),
                        X.ContainerHBox().Items(
                            X.DateFieldFor(m => m.Request.StartAt).FieldLabel("Từ").LabelWidth(25).Flex(1).MarginSpec("5 0 0 0"),
                            X.DateFieldFor(m => m.Request.EndAt).FieldLabel("đến").LabelWidth(25).Flex(1).MarginSpec("5 0 0 5")
                        ),
                        X.TextAreaFor(p => p.Request.Note).FieldLabel("Nội dung yêu cầu").LabelAlign(LabelAlign.Top)
                    )
                )
            )
        )
    )
    .Buttons(
        X.ButtonExit()
        )
)
<script>
    var setColor = function (obj, store) {
        var id = obj.getValue();
        var record = store.getById(id);
        var color = '';
        if (record != null) {
            color = record.get('Color');
        }
        obj.setFieldStyle('background-image: none; background-color: ' + color + ';');
    };
</script>

