﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model DocumentReviewSuggestBO
@{
    var X = Html.X();
}
@(X.Menu().ID("contextReviewSuggestMenu").Width(100).Height(50)
 .Items(
                 X.MenuItem().Text("Kiểm tra").IconCls("x-fa fa-search").Handler("onDetail();")
       )
)
@(X.WindowFormat()
    .Width(800)
    .Height(550)
    .Title("Danh sách đề nghị kiểm duyệt tài liệu")
    .IconCls("x-fa fa-list")
    .Items(
     X.GridPanel()
        .ID("grDocumentReview")
        .Padding(3)
        .Flex(1)
        .TopBarItem(
                      X.Label().Html("<span style='color:red;'>Kích đúp vào yêu cầu để xem chi tiết và thực hiện các nghiệp vụ liên quan</span>")
                   )
        .Store(
     X.StoreFormat()
        .AutoLoad(true)
        .ID("stDocumentReview")
        .Url(Url.Action("GetData", "ReviewSuggest", new { Area = "Document" })).ModelType(typeof(DocumentReviewBO))
            )
        .ColumnModel(
                X.RowNumbererColumnFormat(),
                X.Column().Text("Mã tài liệu").DataIndex(Model, m => m.DocumentCode).Width(100),
                X.ColumnEncodeFormat().Text("Tên tài liệu").DataIndex(Model, m => m.DocumentName).Flex(1),
                X.DateColumn().Text("Ngày đề nghị").DataIndex(Model, m => m.CreateAt).Width(130).Format("dd/MM/yyyy HH:mm"),
                X.ColumnEncodeFormat().Text("Người duyệt").DataIndex(Model, m => m.ApproverName).Width(120),
                X.ColumnEncodeFormat().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Width(130)
                ).Listeners(ls =>
                {
                    ls.SelectionChange.Handler = "gridDocumentReview_SelectionChange();";
                    ls.RowDblClick.Handler = "showDetail(record)";
                    ls.BeforeItemContextMenu.Fn = "itemReviewSuggest";
                })
    )
    .Buttons(
        X.ButtonExit()
    )
)
@*<style>
    .x-grid-item-over {
        font-weight: bolder;
    }
</style>*@
<script type="text/javascript">
    var gridDocumentReview_SelectionChange = function () {
        var disabled = App.grDocumentReview.selModel.getSelection() == 0;
        App.btnDetail.setDisabled(disabled);
       
        // get in gridview 

        // check select == get in gr
    };
    var showDetail = function (record) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Form", "ReviewSuggest", new { Area = "Document" }, null))',
            params: { id: record.data.Id }
        });
    };
    var itemReviewSuggest = function (grid, record, item, index, e, eOpts) {
        e.stopEvent();
        App.contextReviewSuggestMenu.showAt(e.getX(), e.getY() - 50);
    };

    var onDetail = function () {
        var records = App.grDocumentReview.selModel.getSelection();
        if (records.length > 0) {
            var id = records[0].data.Id;
            var params = { id: id };
            var url = '@Url.Action("Form", "ReviewSuggest")';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };
</script>
