﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model DocumentReviewSuggestBO
@{
    var X = Html.X();
}
@(X.Menu().ID("contextDocumentReviewSuggestMenu")
 .Items(
        X.MenuItem().Text("Kiểm tra").IconCls("x-fa fa-check-square").Handler("onReviewSuggest();")
    )
)
@(X.WindowFormat()
    .Modal(false)
        .Listeners(
            ls =>
            {
                ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth()/2); this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
                ls.BeforeClose.Handler = "App.windowReviewSuggest.el.slideOut('r',{duration : 500}); return false;";
            })
    .ID("windowReviewSuggest")
    .Title("Danh sách đề nghị kiểm tra tài liệu")
    .IconCls("x-fa fa-list")
    .Items(
        X.GridPanelPaggingShortFormat()
        .ID("grDocumentReview")
        .Border(false)
        .Flex(1)
        .MarginSpec("-2 0 0 0")
        .Store(
        X.StoreFormat()
        .AutoLoad(true)
        .ID("stDocumentReview")
        .Url(Url.Action("GetData", "ReviewSuggest", new { Area = "Document" })).ModelType(typeof(DocumentReviewBO))
        )
        .ColumnModel(
            X.RowNumbererColumnFormat(),
            X.ColumnEncodeFormat().Text("Tên tài liệu").DataIndex(Model, m => m.DocumentName).Flex(1),
            Html.X().Column().Text("Người yêu cầu").DataIndex(Model, m => m.ApproverAvatarUrl).Align(ColumnAlign.Center).Width(160)
                .Renderer(new Renderer { Fn = "function(value, meta, record) {return '<span><img src=\"'+value+'\" style=\"margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid\"></i> <span style=\"margin-left: 44px;\">'+ Ext.htmlEncode(record.data.Approver) +'</span></span><br/><span style=\"margin-left: 44px;font-size:10px;\">Tổng giám đốc</span></span>'; }" }),
            X.DateColumn().Text("Ngày đề nghị").DataIndex(Model, m => m.CreateAt).Width(110).Format("dd/MM/yyyy"),
            X.ColumnEncodeFormat().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Width(100)
            ).Listeners(ls =>
            {
                ls.SelectionChange.Handler = "refreshMenuReviewSuggest(selected);";
                ls.BeforeItemContextMenu.Fn = "itemContextMenuPosition";
                //ls.RowDblClick.Handler = "showDetail(record)";
            })
    )
    .Buttons(
        X.ButtonExit().Handler("App.windowReviewSuggest.el.slideOut('r',{duration : 500});")
    )
)
<script type="text/javascript">
    var gridDocumentReview_SelectionChange = function () {
        var disabled = App.grDocumentReview.selModel.getSelection() == 0;
        App.btnDetail.setDisabled(disabled);
    };
    var showDetail = function (record) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Form", "ReviewSuggest", new { Area = "Document" }, null))',
            params: { id: record.data.Id }
        });
    };

    var onReviewSuggest = function () {
        var url = '@Url.Action("FormReviewSuggest", "ReviewSuggest")';
        onDirectMethod(url, null);
    };
    var refreshMenuReviewSuggest = function (selected) {

    };

    var itemContextMenuPosition = function (grid, record, item, index, e, eOpts) {
        e.stopEvent();
        App.contextDocumentReviewSuggestMenu.showAt(e.getX(), e.getY() - 10);
    };
</script>
