﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentResponsibilityBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
    var Title = (string)ViewData["Tilte"];
}
@(X.WindowFormat()
.Modal(true)
.Draggable(false)
.Listeners(ls => ls.Close.Handler = "this.up('window').destroy();")
.Width(1000)
.IconCls("x-fa fa-file-text-o")
.ID("WindowCheckDocument")
.Title(!string.IsNullOrEmpty(Title)? Title:"Đề nghị phê duyệt")
.Listeners(
ls =>
{
    ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
    ls.BeforeClose.Handler = "App.WindowCheckDocument.el.slideOut('r',{duration : 500}); return false;";
})
.Padding(0)
.Items(
X.FormPanelHBoxFormat()
.ID(formId)
.Flex(1)
.Items(
        X.FieldSetVBox()
            .Flex(2)
            .Title("Thông tin tài liệu đề nghị phê duyệt")
            .MarginSpec("2 5 2 2")
            .Items(
            X.TextFieldFor(m => m.Document.Name)
            .EmptyText(Resource.DocumentName)
            .ReadOnly(true)
            .AllowBlank(false)
            .HideLabel(true)
            .MarginSpec("0 0 5 0")
            .Note("Tài liệu đề nghị phê duyệt")
            .NoteAlign(NoteAlign.Top),
            X.FileUploadFieldFor(m => m.Document.FileAttachs)
            .Note("Tệp đính kèm của tài liệu")
            .FileUploadReadOnly(true),
            X.TextAreaDecodeFor(m => m.Document.ShortContent)
            .HideLabel(true)
            .ReadOnly(true)
            .Note("Trích yếu nội dung tài liệu")
            .NoteAlign(NoteAlign.Top)
            .MarginSpec("5 0 9 0"),
            Html.X().Panel()
            .Flex(1)
            .Padding(0)
            .Margin(0)
            .Layout(LayoutType.Fit)
            .TopBar(
                Html.X().Toolbar()
                .StyleSpec("padding-bottom:0px;padding-top:0px")
                .Items(
                    Html.X().TabStrip()
                    .WidthSpec("80%")
                        .Items(t =>
                        {
                            t.Add(Html.X().Tab().ActionItemID("tabDocument1").IconCls("x-fa fa-file").Text("Danh sách tài liệu tham chiếu"));
                            t.Add(Html.X().Tab().ActionItemID("grRoleRelationship").IconCls("x-fa fa-users").Text("Danh sách trách nhiệm liên quan"));
                        })
                )
            )
            .Items(
               X.GridPanelFormat()
                    .ID("tabDocument1")
                    .IconCls("x-fa fa-file")
                    .Title("Danh sách tài liệu tham chiếu")
                    .Header(false)
                    .Border(true)
                    .Store(
                        X.StoreFormat()
                            .AutoLoad(true)
                            .Model(Html.X().Model()
                            .IDProperty("Id")
                            .Fields(
                                new ModelField("Id", ModelFieldType.Auto),
                                new ModelField("Name", ModelFieldType.String)
                                )
                            )
                    .Url(Url.Action("GetData", "Reference", new { Area = "Document" }))
                    .Parameters(ps => ps.Add(new StoreParameter("documentId", Model.DocumentId.ToString(), ParameterMode.Value)))
                    )
                .ColumnModel(
                    Html.X().RowNumbererColumnFormat()
                    .Align(ColumnAlign.Center),
                    Html.X().Column()
                        .DataIndex("Name")
                        .Text("Tên tài liệu")
                        .Flex(1)
                            )
                .EmptyText(@"<div style='text-align:center'>
                    <div class='emptyClass'>
                    </div>
                    <div style='font-size: 0.9em'>Không có tài liệu tham chiếu nào </div>
                    </div>"),
                X.GridPanelFormat()
                    .Title("Danh sách trách nhiệm liên quan")
                    .ID("grRoleRelationship")
                    .IconCls("x-fa fa-users")
                    .Header(false)
                    .Border(true)
                    .Store(
                        X.StoreFormat()
                            .AutoLoad(true)
                            .Model(Html.X().Model()
                            .IDProperty("Id")
                            .Fields(
                                new ModelField("Id", ModelFieldType.Auto),
                                new ModelField("EmployeeRecive", ModelFieldType.Auto),
                                new ModelField("RoleText", ModelFieldType.String),
                                new ModelField("ApproveNote", ModelFieldType.String)
                                )
                            )
                    .Url(Url.Action("GetRoleRelationship", "Responsibility", new { Area = "Document" }))
                    .Parameters(ps => ps.Add(new StoreParameter("documentId", Model.DocumentId.ToString(), ParameterMode.Value)))
                    )
                .ColumnModel(
                    Html.X().RowNumbererColumnFormat()
                            .Align(ColumnAlign.Center),
                            Html.X().Column().Text("Người liên quan").Flex(1).CellWrap(true).Renderer(new Renderer { Fn = "renderActorComlumn" }).Width(200),
                            Html.X().ColumnEncodeFormat().DataIndex("RoleText").Align(ColumnAlign.Center).Text("Trách nhiệm")
                            .Width(110)
                            .CellWrap(true),
                            Html.X().Column()
                            .DataIndex("ResultText")
                            .Align(ColumnAlign.Center)
                            .Text("Kết quả")
                            .Width(100)
                            .CellWrap(true)
                            )
                            .EmptyText(@"<div style='text-align:center'>
                                <div class='emptyClass'>
                                </div>
                                 <div style='font-size: 0.9em'>Không có trách nhiệm liên quan nào </div>
                                </div>")
                            .Plugins(
                        Html.X().RowExpander()
                        .TemplateHtml(@"
                    <p style='margin-left:10px; margin-right:10px; font-size:12px; text-align: justify;'><b><i>Nhận xét: </i></b>{ApproveNote}</p>
                    ")
                    )
               )
            ),
            X.ContainerVBox()
            .Flex(1)
            .MarginSpec("2 2 2 0")
            .Items(
                X.FieldSetVBox()
                .Flex(1)
                .Title("Thông tin đề nghị")
                .Items(
                 X.HiddenFor(m => m.Id),
                 X.HiddenFor(m => m.RoleType),
                 X.HiddenFor(m => m.DocumentId),
                 X.DateFieldFor(m => m.CreateAt)
                        .MarginSpec("0 0 5 0")
                        .ReadOnly(true)
                        .HideLabel(true)
                        .EmptyText("Ngày đề nghị")
                        .Format("dd/MM/yyyy HH:mm")
                        .Note("Ngày đề nghị")
                        .NoteAlign(NoteAlign.Top),
                        X.FieldSet()
                        .Padding(3)
                        .MarginSpec("-2 0 5 0")
                        .Title("Người đề nghị phê duyệt")
                        .Items(
                            X.EmployeeFieldFor(m => m.EmployeeSend)
                            .EmployeeReadOnly(true)
                            ),
                        X.TextAreaDecodeFor(m => m.ContentSuggest)
                        .HideLabel(true)
                        .ReadOnly(true)
                        .Flex(1)
                        .ID("txtContentSuggest")
                        .EmptyText("Nội dung đề nghị")
                        .Note("Nội dung đề nghị")
                        .NoteAlign(NoteAlign.Top)
                        .MarginSpec("5 0 10 0")
                        ),
                        X.FieldSetHBoxTop()
                            .Title("Thông tin ban hành")
                            .MarginSpec("3 0 0 0")
                            .Items(
                                     X.DateFieldFor(m => m.PublishDate).Flex(1).MarginSpec("0 5 0 0").HideLabel(true)
                                                .EmptyText("Ngày ban hành").Note("Ngày ban hành").NoteAlign(NoteAlign.Top),
                                   X.DateFieldFormatFor(m => m.ApplyDate)
                                                .MarginSpec("0 0 0 0")
                                                .Flex(1)
                                                .HideLabel(true)
                                                .EmptyText("Ngày áp dụng")
                                                .Note("Ngày áp dụng")
                                                .NoteAlign(NoteAlign.Top)
                                 ),
                        X.FieldSetVBox()
                        .Title("Nội dung phê duyệt tài liệu")
                        .MarginSpec("3 0 0 0")
                        .Height(190)
                        .Items(
                          X.RadioGroup()
                            .FieldLabel("Kết quả phê duyệt")
                            .MarginSpec("0 0 0 0")
                            .LabelWidth(120)
                            .ID("rdResult")
                            .ColumnsNumber(2)
                            .AllowBlank(false)
                            .AutomaticGrouping(false)
                            .Items(
                                X.Radio()
                                .Name("IsAccept")
                                .InputValue("true")
                                .ReadOnly((Model.IsApprove.HasValue && Model.IsApprove.Value))
                                .BoxLabel("Đồng ý/Đạt")
                                .Checked((Model.IsApprove.HasValue && Model.IsApprove.Value) && (Model.IsAccept.HasValue && Model.IsAccept.Value)),
                                X.Radio().Name("IsAccept")
                                .InputValue("false")
                                .ReadOnly((Model.IsApprove.HasValue && Model.IsApprove.Value))
                                .BoxLabel("Không đồng ý/Không đạt")
                                .Checked((Model.IsApprove.HasValue && Model.IsApprove.Value) && (Model.IsAccept.HasValue && !Model.IsAccept.Value))
                                ),
                                X.TextAreaDecodeFor(m => m.ApproveNote)
                                .Flex(1)
                                .HideLabel(true)
                                .EmptyText("Nhận xét")
                                .ReadOnly((Model.IsApprove.HasValue && Model.IsApprove.Value))
                                .ID("txtAprovalNote")
                                .AllowBlank(false)
                                .MarginSpec("0 0 9 0")
                                .Note("Nhận xét")
                                .NoteAlign(NoteAlign.Top)
                        )
                    )
                )
        )
.Buttons(
    X.Button()
    .Text("Thu hồi")
    .ID("btnThuHoi")
    .IconCls("x-fa fa-rotate-left")
    .Hidden(Model.IsApprove == true || !Model.IsCreater || Model.IsLock == true)
    .DirectEvents(de =>
        {
            de.Click.Method = HttpMethod.POST;
            de.Click.Confirmation.ConfirmRequest = true;
            de.Click.Confirmation.Message = "Bạn chắc chắn muốn thu hồi lại trách nhiệm không?";
            de.Click.Confirmation.Title = Resource.Confirm;
            de.Click.FormID = formId;
            de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
            de.Click.Before = "this.up('window').down('#loadMask').show(); this.up('window').down('#loadMaskEmpty').hide(); this.setDisabled(true);";
            de.Click.Url = Url.Action("RevertRole", "Responsibility");
            de.Click.ExtraParams.Add(X.Parameter().Name("id").Value(Model.Id.ToString()).Mode(ParameterMode.Value));
            de.Click.Success = "this.up('window').down('#loadMask').hide(); this.up('window').down('#loadMaskEmpty').show(); this.up('window').close();this.up('window').destroy(); App.stPanelApproval.reload();";
            de.Click.Failure = "this.up('window').down('#loadMask').hide(); this.up('window').down('#loadMaskEmpty').show(); eval(result.script); this.setDisabled(false);";
        }),
    X.Button()
        .Text("Chuyển")
        .IconCls("x-fa fa-refresh")
        .Hidden(Model.IsCancel == true || Model.IsApprove == true || !Model.IsPerform || Model.IsLock == true)
        .ID("btnNextReview")
        .ToolTip("Chuyển đến người có đúng trách nhiệm")
        .DirectClickAction("FormChangeRole", "Responsibility", new { Area = "Document" })
        .Parameter(Html.X().Parameter().Name("id")
        .Value(Model.Id.ToString()).Mode(ParameterMode.Value)),

     X.Button().Text("Hủy")
        .ID("btnCancel")
        .IconCls("x-fa fa-ban")
        .Hidden(Model.IsCancel == true || Model.IsApprove == true || !Model.IsPerform || Model.IsLock == true)
        .DirectEvents(de =>
        {
            de.Click.Method = HttpMethod.POST;
            de.Click.Confirmation.ConfirmRequest = true;
            de.Click.Confirmation.Message = "Bạn chắc chắn muốn hủy đề nghị không?";
            de.Click.Confirmation.Title = Resource.Confirm;
            de.Click.FormID = formId;
            de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
            de.Click.Before = "this.up('window').down('#loadMask').show(); this.up('window').down('#loadMaskEmpty').hide(); this.setDisabled(true);";
            de.Click.Url = Url.Action("Cancel", "Responsibility");
            de.Click.ExtraParams.Add(X.Parameter().Name("id").Value(Model.Id.ToString()).Mode(ParameterMode.Value));
            de.Click.Success = "this.up('window').down('#loadMask').hide(); this.up('window').down('#loadMaskEmpty').show(); this.up('window').close();this.up('window').destroy(); App.stPanelApproval.reload();";
            de.Click.Failure = "this.up('window').down('#loadMask').hide(); this.up('window').down('#loadMaskEmpty').show(); eval(result.script); this.setDisabled(false);";
        }),
        X.Button()
        .Text("Gửi")
        .IconCls("x-fa fa-send")
        .Hidden(Model.IsCancel == true || Model.IsApprove == false || Model.IsAccept == false || !Model.IsAccept.HasValue || !Model.IsPerform || Model.IsLock == true)
        .ID("btnNextRole")
        .DirectClickAction("FormNextRole", "Responsibility", new { Area = "Document" })
        .Parameter(Html.X().Parameter().Name("extendId")
        .Value(Model.ExtendId.ToString()).Mode(ParameterMode.Value))
        .Parameter(Html.X().Parameter().Name("documentId")
        .Value(Model.DocumentId.ToString()).Mode(ParameterMode.Value))
        .Parameter(Html.X().Parameter().Name("departmentId")
        .Value(Model.DepartmentId.ToString()).Mode(ParameterMode.Value))
        .Parameter(Html.X().Parameter().Name("order")
        .Value(Model.Order.ToString()).Mode(ParameterMode.Value)),
        X.Button()
        .Text("Thu hồi kết quả phê duyệt")
        .IconCls("x-fa fa-rotate-left")
        .ID("btnRevert")
        .Hidden(Model.IsApprove == false|| !Model.IsApprove.HasValue || Model.IsCancel == true || !Model.IsPerform || Model.IsLock == true)
        .DirectEvents(de =>
            {
                de.Click.Method = HttpMethod.POST;
                de.Click.Confirmation.ConfirmRequest = true;
                de.Click.Confirmation.Message = "Bạn chắc chắn muốn thu hồi lại kết quả phê duyệt không?";
                de.Click.Confirmation.Title = Resource.Confirm;
                de.Click.FormID = formId;
                de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
                de.Click.Before = "this.up('window').down('#loadMask').show(); this.up('window').down('#loadMaskEmpty').hide(); this.setDisabled(true);";
                de.Click.Url = Url.Action("RevertApproval", "Responsibility");
                de.Click.ExtraParams.Add(X.Parameter().Name("id").Value(Model.Id.ToString()).Mode(ParameterMode.Value));
                de.Click.Success = "this.up('window').down('#loadMask').hide(); this.up('window').down('#loadMaskEmpty').show(); this.up('window').close();this.up('window').destroy(); App.stPanelApproval.reload();";
                de.Click.Failure = "this.up('window').down('#loadMask').hide(); this.up('window').down('#loadMaskEmpty').show(); eval(result.script); this.setDisabled(false);";
            }),
        X.Button()
        .Text("Phê duyệt")
        .IconCls("x-fa fa-check")
        .Hidden(Model.IsCancel == true || Model.IsApprove == true || !Model.IsPerform || Model.IsLock == true)
        .DirectEvents(de =>
        {
            de.Click.Before = "if (!this.up('window').down('form').getForm().isValid()) { return false; }; this.setDisabled(true);";
            de.Click.FormID = formId;
            de.Click.Url = Url.Action("Approval");
        })
        .SuccessHandle(@"App.rdResult.setReadOnly(true);
            App.txtAprovalNote.setReadOnly(true);
            this.hide();
            App.btnThuHoi.hide();
            App.btnNextRole.hide();
            App.btnCancel.hide();
            App.btnNextReview.hide();
            App.btnRevert.show();
            if(App.rdResult.getValue().IsAccept=='true'){App.btnNextRole.show();}
            App.stPanelApproval.reload();"),
        X.ButtonExit().Handler("this.up('window').el.slideOut('r',{duration : 500});")
        )
)
<script>
    var renderActorComlumn = function (value, meta, record) {
        var title = '<span style="margin-left: 44px;font-size:10px;">' + record.data.EmployeeRecive.RoleNames + '</span></span>';
        var result = '';
        var image = '<img src="' + record.data.EmployeeRecive.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.EmployeeRecive.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
    var onReviewSuggestAction = function (documentRequestId) {
        Ext.net.DirectMethod.request({
            method: 'get',
            url: '@(Url.Action("ReviewSuggestAction", "Suggest", new { Area = "Document" }))',
            params: { documentRequestId: documentRequestId }
        });
    };
</script>

