﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.AssetReviewSettingBO
@{
    var X = Html.X();
    var limitValue = ViewData["LimitValue"] as iDAS.Service.Common.Resource.ReviewLimitValue;
    var minValue = Model.QualityReview == (int)iDAS.Service.Common.Resource.QualityReview.IsImportant ? limitValue.ImportantMinValue : 0;
    var maxValue = Model.QualityReview == (int)iDAS.Service.Common.Resource.QualityReview.IsImportant ? limitValue.ImportantMaxValue : Int16.MaxValue;
    Operation operation = (Operation)ViewData["Operation"];
    var formId = X.GetComponentID();
}
<style>
    .search-item {
        font: normal 11px tahoma, arial, helvetica, sans-serif;
        padding: 3px 10px 3px 0px;
        white-space: normal;
        color: #555;
    }
    .search-item h3 {
        display: block;
        font: inherit;
        font-weight: bold;
        color: #222;
        margin: 0px;
    }
    .search-item h3 span {
        float: right;
        font-weight: normal;
        margin: 0 0 5px 5px;
        width: 130px;
        display: block;
        clear: none;
    }
</style>
@(X.WindowFormat()
    .Title(Model.Id == Guid.Empty ? Resource.Create : Resource.Detail)
    .IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
    .Height(400)
    .Width(550)
    .Items(
        X.FormPanelFormat()
        .ID(formId)
        .Items(
            X.HiddenFor(u => u.Id),
            X.HiddenFor(u => u.QualityReview),
            X.TextFieldFor(u => u.Name)
            .EmptyText(Resource.AssetReviewSettingName)
            .HideLabel(true)
            .AllowBlank(false)
            .AllowOnlyWhitespace(false)
            .MaxLength(50),
            X.Container()
            .Layout(LayoutType.HBox)
            .MarginSpec("0 0 6 0")
            .Items(
            X.NumberFieldFor(u => u.From)
                .ID("numFrom")
                .Flex(1)
                .MarginSpec("0 5 0 0")
                .MinValue(minValue).MaxValue(maxValue)
                .EmptyText(Resource.AssetReviewSettingFrom + " (*)")
                .HideLabel(true)
                .AllowBlank(false)
                .Listeners(ls => ls.Change.Handler = "checkMinValuenumTo()"),
            X.NumberFieldFor(u => u.To)
                .ID("numTo")
                .MinValue(minValue)
                .MaxValue(maxValue)
                .Flex(1)
                .EmptyText(Resource.AssetReviewSettingTo + " (*)")
                .HideLabel(true)
                .AllowBlank(false))
                .ModelValidation(true),
            X.ComboBoxFor(m => m.Color)
                .EmptyText("Màu sắc (*)")
                .HideLabel(true)
                .ID("cbColorReview")
                .QueryMode(DataLoadMode.Local)
                .ForceSelection(true)
                .AllowBlank(false)
                .TriggerAction(TriggerAction.All)
                .DisplayField("Name")
                .Listeners(l =>
                {
                    l.Change.Handler = "getColor(App.cbColorReview, App.stColorReview);";
                })
                .Editable(false)
                .ValueField("Id")
                .Store(
                    Html.X().Store()
                        .ID("stColorReview")
                        .Listeners(ls => ls.Load.Handler = "getColor(App.cbColorReview, App.stColorReview);")
                        .AutoLoad(true)
                        .Model(
                            Html.X().Model()
                                .IDProperty("Id")
                                .Fields(
                                    new ModelField("Id", ModelFieldType.String) { Mapping = "Id" },
                                    new ModelField("Name", ModelFieldType.String) { Mapping = "Name" }
                                )
                            )
                        .Proxy(
                            Html.X().AjaxProxy()
                                .Url(Url.Action("FillColor"))
                                .Reader(Html.X().JsonReader().RootProperty("data")
                                )
                        )
                    )
                    .Tpl(
                    @<text>
                        <tpl for=".">
                            <div class="x-boundlist-item" style="display: inline-block; width: 100%;">
                                <div style="width: 20px; height: 20px; float: left; background-color: {Id}; border: #cecece 1px solid;">&nbsp;</div><div style="width: auto; float: left; font-size: 0.9em;">&nbsp;{Name}</div>
                            </div>
                        </tpl>
                    </text>),
               X.ComboBoxFor(m => m.AssetTempSettingId)
                .EmptyText("Chọn nhãn quy định (*)")
                .AllowBlank(false)
                .Editable(false)
                .Hidden(Model.QualityReview != (int)iDAS.Service.Common.Resource.QualityReview.IsImportant)
                .AllowBlank(Model.QualityReview != (int)iDAS.Service.Common.Resource.QualityReview.IsImportant)
                .HideLabel(true)
                    .DisplayFieldEncodeFormat("Name")
                .DisplayField("Name")
                .ValueField("Id")
                .TypeAhead(false)
                .MinChars(0)
                .Store(X.Store()
                .ID("storeTemp")
                .AutoLoad(true)
                .Proxy(Html.X().AjaxProxy()
                .Url(Url.Action("GetData", "TempSetting"))
                .Reader(Html.X().JsonReader().RootProperty("data"))
                )
                ),
                X.TextAreaFor(u => u.Description)
                .EmptyText(Resource.Description)
                .HideLabel(true)
                .Flex(1)
            )
        )
        .Buttons(
             X.ButtonDelete()
                .Hidden(operation == Operation.Create ? true : false)
                    .DirectEvents(de => {
                        de.Click.ExtraParams.Add(new { id = Model.Id });
                        //de.Click.Success = "App.stGetdataselectReview.reload();";
                    })
                .SuccessHandle("App.stReviewSetting.reload();"),
             X.ButtonSave()
                 .Text(Resource.Save)
                 .IconCls("x-fa fa-floppy-o")
                .DirectEvents(de =>
                {
                    de.Click.FormID = formId;
                    de.Click.Url = Url.Action(operation == Operation.Create ? "Create" : "Update");
                    de.Click.Success = "if(result.result) {this.up('window').close(); App.stGetdataselectReview.reload();}";
                })
                .SuccessHandle("App.stReviewSetting.reload();")
                .FailureHandle("Ext.net.Notification.show({'title':'Thông báo','html':'Tồn tại giá trị trong khoảng giá trị thiết lập thuộc một thiết lập khác!','showMode':'Stack','hideDelay':3000,'iconCls':'x - fa fa - exclamation - circle'});"),
            X.ButtonExit()
        )
)
<script>
    Ext.getBody().unmask();
    var checkMinValuenumTo = function () {
        var fromTo = App.numFrom.value;
        App.numTo.setMinValue(fromTo);
    };
    var getColor = function (obj, store) {
        var id = obj.getValue();
        var record = store.getById(id);
        var color = '';
        if (record != null) {
            color = record.get('Id');
        }
        obj.setFieldStyle('background-image: none; background-color: ' + color + ';');
    };
</script>