﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@{
    var reviewData = (List<Ext.Net.ListItem>)ViewData["SelectReview"];
}
@(Html.X().GridPanel()
        .TopBarItem(
            Html.X().Button()
                .Text(Resource.Create)
                .IconCls("x-fa fa-plus-circle")
                     //  .DirectClickAction("Form")
                     .DirectEvents(de =>
                     {
                         de.Click.ExtraParams.Add(new { selectReview = new JRawValue("App.filterSelectReview.getValue()") });
                         de.Click.Url = Url.Action("Form");
                     })
                ,
            Html.X().Button()
                .Text(Resource.Detail)
                .ID("btnUpdateReviewSetting")
                .Disabled(true)
                .IconCls("x-fa fa-search")
                .DirectEvents(de =>
                {
                    de.Click.ExtraParams.Add(new { selectReview = new JRawValue("App.filterSelectReview.getValue()") });
                    de.Click.ExtraParams.Add(new { id = new JRawValue("this.up('grid').selModel.getSelection()[0].data.Id") });
                    de.Click.Url = Url.Action("Form");
                })
                ,
            Html.X().ToolbarFill(),
            Html.X().ComboBox()
               .ID("filterSelectReview")
               .DisplayField("Text")
               .HideLabel(true)
                    //.Items(reviewData)
                    .Editable(false)
                    .Value(0)
                    .ValueField("Value")
                    .Store(Html.X().Store()
                       .ID("stGetdataselectReview")
                        .Model(Html.X().Model()
                            .IDProperty("Value")
                            .Fields(
                                   new ModelField("Value", ModelFieldType.Int),
                                   new ModelField("Text", ModelFieldType.String)
                            )
                        )
                        .Proxy(Html.X().AjaxProxy()
                        .Url(Url.Action("GetdataselectReview", "ReviewSetting"))
                        .Reader(Html.X().JsonReader().RootProperty("data"))
                        )
                    )
                //.EmptyText("Tiêu chí đánh giá")
                .Width(250)

                .Listeners(ls => ls.Select.Handler = "App.stReviewSetting.reload();")
                )
                .Header(false)
                .Border(false)
                .ColumnLines(true)
                .ID("grReviewSetting")
                .Icon(Icon.Table)
                .Store(Html.X().Store()
                .ID("stReviewSetting")
                .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData", "ReviewSetting"))
                .Reader(Html.X().JsonReader().RootProperty("data")))
                .Parameters(ps => ps.Add(new StoreParameter("selectReview", "App.filterSelectReview.getValue()", ParameterMode.Raw)))
                .PageSize(10)
                .Model(Html.X().Model()
                .Fields(
                    Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                    Html.X().ModelField().Name("LogicValue").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("Color").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("Description").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("IsOutOfValue").Type(ModelFieldType.Boolean)
                )
                )
                )
                .ColumnModel(
                        Html.X().RowNumbererColumn().Text("STT").Width(40).Align(ColumnAlign.Center),
                        Html.X().ColumnEncodeFormat().Text(Resource.AssetReviewSettingName).DataIndex("Name").Flex(1),
                        Html.X().Column().Text(Resource.AssetReviewSettingLogicValue).DataIndex("LogicValue").Flex(1),
                        Html.X().Column().Text(Resource.AssetReviewSettingColor).DataIndex("Color").Renderer(new Renderer { Fn = "function(value, meta, record) { meta.style = 'background-color:' + record.get('Color') + ';'; return ''; }" }).Width(100),
                        Html.X().ColumnEncodeFormat().Text(Resource.Description).DataIndex("Description").Flex(2)
                )
                     .View(Html.X().GridView()
                        .GetRowClass(cls => cls.Fn = "getRowClass")
                        )
                .SelectionModel(
                        Html.X().RowSelectionModel()
                        .Mode(SelectionMode.Single)
                        .Listeners(ls => ls.SelectionChange.Handler = "App.btnUpdateReviewSetting.setDisabled(App.grReviewSetting.selModel.getSelection().length < 0); ")
                    )
                .BottomBar(Html.X().PagingToolbarFormat("10"))
)
<style>
    .lowLight {
        opacity: 0.4;
    }
</style>
<script>
    var getRowClass = function (record, index, rowParams, ds) {
        if (record.data.IsOutOfValue) {
            return "lowLight";
        };
    };
</script>