﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model ISOProcessBO
@{
    var X = Html.X();
}
<link href="~/Content/Graphics/rappid.css" rel="stylesheet" />
<link href="~/Content/App/theme-picker.css" rel="stylesheet" />
<link href="~/Content/App/style.css" rel="stylesheet" />
<link href="~/Content/App/style.dark.css" rel="stylesheet" />
<link href="~/Content/App/style.material.css" rel="stylesheet" />
<link href="~/Content/App/style.modern.css" rel="stylesheet" />
<link href="~/Content/fonts/font-awesome.min.css" rel="stylesheet" />

<style>
    .btn-save {
    }

        .btn-save::after {
            font-family: 'FontAwesome';
            content: "\f0c7";
            position: relative;
        }

    .handle.addRole.n {
        background-color: red;
    }

        .handle.addRole.n ::after {
            background-color: red;
        }
</style>

@(
 X.WindowFormat().ID("GraphicsWindow").Draggable(false).Closable(true).WidthSpec("100%").HeightSpec("100%")
 .CloseAction(CloseAction.Destroy)
.Items(
X.ContainerHBox().Flex(1)
.Border(false)
.Items(
        X.HiddenFor(m => m.Id).ID("hiddenProcessId"),
               X.Hidden().ID("hdfStepId"),
        X.Container().Flex(4).Html(@"
        <div id='appDesign'>
            <div class='app-header' style='height:50px'>
                <div class='app-title'>
                    <h4 id='labelProcessName' style='margin:15px 0 0 15px'>" + Model.Name + @"</h4>
                </div>
            <div class='toolbar-container'></div>
        </div>
        <div class='app-body'>
            <div class='stencil-container'></div>
            <div class='paper-container'></div>
            <div class='inspector-container'></div>
            <div class='navigator-container'></div>
        </div>
        </div>"),
               X.FieldSetVBox().Flex(1).Border(true)

               .Items(
                X.GridPanel().ID("gridResponsibility")
                     .TopBar(
                    X.Toolbar().Items(
                        X.ComboboxTreeFormat().Flex(1).ID("cbbResonsibility").DisableSelectEmployee(false).ShowEmployee(true).DisableSelectTitle(false).ShowTitle(true).DisableSelectDepartment(true),
                        X.Button().Text("Lưu").IconCls("x-fa fa-floppy-o").Handler("addResponsibility")
                    ))

                .Store(
                X.Store()
                .AutoLoad(false)
                .ID("storeResponsibility")
                .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetDataRelation", "Workflow"))
                .Reader(Html.X().JsonReader().RootProperty("data")))
                       .Model(
                        X.Model().Fields(
                            X.ModelField().Name("ObjectId"),
                        X.ModelField().Name("ObjectName")
                    )
                    )
                   .Parameters(pr =>
                    {
                        pr.Add(new StoreParameter("StepId", "App.hdfStepId.getValue()", ParameterMode.Raw));

                    })
                )
                .ColumnModel(
                    X.RowNumbererColumnFormat().Width(60),
                    X.Column().Text("Trách nhiệm").Flex(1).DataIndex("ObjectName")
               )
        )
))
.Buttons(
    X.Button().IconCls("x-fa fa-floppy-o").Handler("onSave()").Text(iDAS.Presentation.Common.Resource.Save),
    X.ButtonExit()
)
)
<script>
    var modelRelationship = '@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Relationship)';
    var relationship = Ext.htmlDecode(modelRelationship);
    var arrRelationship = JSON.parse(relationship);
    var modelStepIds = '@Newtonsoft.Json.JsonConvert.SerializeObject(Model.lstStepId)';
    var arrStepId = JSON.parse(Ext.htmlDecode(modelStepIds));
    var clientStorage = [];
    var arrayObject = [];
    var urlSelectRole = '@Url.Action("SelectRole")';
    $(document).ready(function () { LoadWorkflowGraph('#appDesign');
        var graphics = Ext.htmlDecode('@Model.GraphData');
        var jsData = JSON.parse(graphics);
        mainView.graph.fromJSON(jsData);
    });

    var renderObjectComlumn = function (value, meta, record) {
        var title = '';
        var result = record.data.ObjectName;
        var image = '';
        var name = '';
        if (record.data.ObjectType == "Employee") {
            title = '<span style="margin-left: 44px;font-size:10px;"> </span></span>';
            image = '<img src="' + record.data.ObjectImage + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
            name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.ObjectName) + '</span><br/>';
        }
        else {
            title = '<span style="margin-left: 44px;font-size:10px;"></span></span>';
            image = '<i class="fa fa-star-o fa-2x"></i>';
            name = '<span style="margin-bottom:3px; margin-left: 15px;">' + Ext.htmlEncode(record.data.ObjectName) + '</span><br/>';
        }
        result = '<span>' + image + name + title + '</span>';
        return result;
    };

    var addResponsibility = function () {
        var id = App.cbbResonsibility.getValue();
        var name = App.cbbResonsibility.getText();
        var ids = {};
        var names = {};
        ids = id.split(',');
        
        names = name.split(',');
        if (id != null && id != undefined && name != '') {
            for (var i = 0; i < ids.length; i++) {
                if (Ext.StoreMgr.lookup(App.storeResponsibility).findExact('ObjectId', ids[i]) < 0) {
                    App.storeResponsibility.insert(0, { ObjectId: ids[i], ObjectName: names[i], FromView: true });
                    var selectItem = mainView.selection.collection.models[0];
                    var checkItem = clientStorage.find(o => o.id === selectItem.id);
                    if(checkItem && checkItem.data)
                    {
                        var data = {};
                        data.ObjectId = ids[i];
                        data.ObjectName = names[i];
                        data.FromView  = true;
                        checkItem.data.push(data);
                    }
                }
            }
        }
        App.gridResponsibility.getView().refresh();
    };

    function AddToClientStore(data) {
        for (var i = 0; i < data.length; i++) {
            App.storeResponsibility.insert(0, { ObjectId: data[i].ObjectId, ObjectName: data[i].ObjectName, FromView: true });
        }
    };

    $(document).on('click', '[data-type="org.Member"]', function () {
        if(arrRelationship.length > 0){
            for (var i = 0; i < arrStepId.length; i++) {
                var result = arrRelationship.filter(p => p.StepId === arrStepId[i]);
                var relationship = {};
                relationship.id = arrStepId[i];
                relationship.data = result;
                clientStorage.push(relationship);
            }
        }
        App.storeResponsibility.data.items = [];
        if (mainView.selection.collection.models.length != 1)
            return false;
        var selectItem = mainView.selection.collection.models[0];

        var checkItem = clientStorage.find(o => o.id === selectItem.id);
        /*App.hdfStepId.setValue(selectItem.id);
        App.storeResponsibility.reload();*/


        if(!checkItem)
        {
            var record = {};
            record.id = selectItem.id;
            record.data = [];
            clientStorage.push(record);
        }
        else
        {
            AddToClientStore(checkItem.data);
        }

        App.gridResponsibility.getView().refresh();
    });

    var onSave = function()
    {
        var data = {};
        data.Id = App.hiddenProcessId.value;
        data.Cells =  GetCells(mainView.graph.getCells());

        data.GraphData = JSON.stringify(mainView.graph);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Save")',
            data: JSON.stringify({ data: data }),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                App.GraphicsWindow.doDestroy();
            },
            error: function (result) {

            }

        });
    };

    function GetCells(cells)
    {
        var data = [];
        for (var i = 0; i < cells.length; i++) {
            var item = {};
            item.Id = cells[i].id;
            item.Type = cells[i].attributes.type;
            var checkItem = clientStorage.find(o => o.id === cells[i].id);
            if(checkItem && checkItem.data )
                item.Responsibilities = checkItem.data;

            if(cells[i].attributes.type == '@iDAS.Service.Common.Resource.ShapeTypeString.Member')
            {
                item.Name = cells[i].attributes.attrs[".rank"].text;
            }
            if(cells[i].attributes.type == '@iDAS.Service.Common.Resource.ShapeTypeString.Link')
            {
                item.Source = cells[i].attributes.source.id;
                item.Target = cells[i].attributes.target.id;
            }
            data.push(item);

        }
        return data;
    }
</script>