﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentRequestBO
@{
    var X = Html.X();
    var lstTypeRequestDocument = ViewData["TypeRequestDocument"];
    var TypeGetAssignerStatus = ViewData["TypeGetAssignerStatus"];
}
@(X.WindowSlide()
    .WindowLayout(LayoutType.Fit)
    .ID("wdApprovalByMe")
    .Width(600)
    .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.6 })
    .Modal(true)
    .Title("Danh sách đề nghị phê duyệt")
    .IconCls("x-fa fa-table")
    .Draggable(false).Closable(true).IconCls("x-fa fa-reply-all")
    .Items(
        X.GridPanelFormat()
        .ID("grApprovalByMe")
        //.TopBarItem(
        //           X.ToolbarFill(),
        //              X.CycleButtonFormat()
        //               .ID("GetAssignerStatus")
        //               .ShowText(true)
        //               .PrependText("Lọc theo vai trò: ")
        //               .MenuSource(TypeGetAssignerStatus)
        //              .Listeners(ls => ls.Change.Handler = "App.grListRequestNew.getStore().reload();"),
        //               X.CycleButtonFormat()
        //               .ID("cbApprovalSatus")
        //               .ShowText(true)
        //               .PrependText("Lọc theo loại: ")
        //               .MenuSource(lstTypeRequestDocument)
        //              .Listeners(ls => ls.Change.Handler = "App.grListRequestNew.getStore().reload();")
        //            )
                    .BodyBorder(0)
                    .BodyPadding(0)
                    .Padding(0)
                    .Margin(0)
                    .Flex(1)
                    .MarginSpec("-1 -1 -1 -1")
                    .Border(true)
                    .Store(
                    X.StoreFormat()
                    .ID("stApprovalByMe")
                    .AutoLoad(true)
                    .Model(Html.X().Model()
                    .IDProperty("Id")
                    .Fields(
                            new ModelField("Id", ModelFieldType.String),
                            new ModelField("Name", ModelFieldType.String),
                            new ModelField("RoleView", ModelFieldType.Auto),
                            new ModelField("Document", ModelFieldType.Auto),
                            new ModelField("IsWrite", ModelFieldType.Boolean),
                            new ModelField("IsAdjust", ModelFieldType.Boolean),
                            new ModelField("IsSuggestApply", ModelFieldType.Boolean),
                            new ModelField("CheckDestroy", ModelFieldType.String),
                            new ModelField("DocumentDestroyId", ModelFieldType.Auto),
                            new ModelField("IsDistribute", ModelFieldType.Boolean),
                            new ModelField("Time", ModelFieldType.String),
                            new ModelField("Sender", ModelFieldType.Auto),
                            new ModelField("StatusText", ModelFieldType.String),
                            new ModelField("RoleText", ModelFieldType.String)
                         )
                        )
                        .Url(Url.Action("LoadDocumentApprovePagging", "List"))
                    )
                    .ColumnModel(
                        Html.X().RowNumbererColumnFormat(),
                        Html.X().ColumnEncodeFormat().DataIndex("Name").Text("Tiêu đề").Flex(1).CellWrap(true).Renderer(new Renderer { Fn = "renderName" }),
                        Html.X().Column().DataIndex("Sender").Text("Người đề nghị").Width(230).CellWrap(true).Renderer(new Renderer { Fn = "renderEmployee" }),
                        Html.X().ColumnEncodeFormat().DataIndex("RoleText").Text("Vai trò").Width(120).Align(ColumnAlign.Center).CellWrap(true),
                        Html.X().ColumnEncodeFormat().DataIndex("StatusText").Text("Trạng thái").Width(120).CellWrap(true).Align(ColumnAlign.Center)
                    )
                .Listeners(ls => ls.RowDblClick.Handler = "onReviewSuggest(record.data.Id, record.data.Name, record.data.RoleView, record.data.IsWrite, record.data.IsAdjust, record.data.CheckDestroy, record.data.DocumentDestroyId, record.data.IsDistribute, record.data.IsSuggestApply)")
            )
        .Buttons(
            X.ButtonExit().Handler("App.wdApprovalByMe.el.slideOut('r',{duration : 500});")
        )
)
<script>
    var renderEmployee = function (value, meta, record) {
        var title = '';
        var result = '';
        var image = '';
        title = '<span style="margin-left: 40px;font-size:10px;">' + record.data.Sender.RoleNames + '</span>';
        image = '<img src="' + record.data.Sender.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 40px;">' + Ext.htmlEncode(record.data.Sender.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
    var renderName = function (value, meta, record) {
        return "["+ record.data.Time + "] " + value + "<br/>" + (record.data.Document.Name != null ? record.data.Document.Name : "");
    };
</script>
