﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
    
}
<style>
    .documentReduce:hover {
        background-color: rgba(169, 221, 245, 0.67) !important;
    }

    .document-timeline-sperator {
        display: block;
        color: #999;
    }

        .document-timeline-sperator::after {
            display: block;
            content: " ";
            margin: 0 0px;
            border-bottom: 1px dashed rgba(0,0,0,.18);
            margin-top: -8px;
        }
</style>

@(Html.X().Panel()
    .Layout(LayoutType.Fit)
    .BodyBorder(0)
    .Border(false)
    .Flex(1)
    .TopBar(
        Html.X().Toolbar()
        .StyleSpec("padding-bottom:0px; padding-top:0px")
        .Items(
            Html.X().TabStrip()
            .WidthSpec("100%")
            .Items(ts =>
            {
                ts.Add(Html.X().Tab().ActionItemID("requestSuggestId").Text("Phân công").IconCls("x-fa fa-file-text-o"));
                ts.Add(Html.X().Tab().ActionItemID("writeActorId").Text("Soạn thảo").IconCls("x-fa fa-edit"));
                ts.Add(Html.X().Tab().ActionItemID("reviewActorId").Text("Phê duyệt").IconCls("x-fa fa-check-square-o"));
                ts.Add(Html.X().Tab().ActionItemID("publishId").Text("Ban hành").IconCls("x-fa fa-share-square-o"));
                ts.Add(Html.X().Tab().ActionItemID("SaveId").Text("Luu trữ").IconCls("x-fa fa-clipboard"));
            })
        )
    )
    .Items(
     X.PanelWidgetFormat()
      .Header(false)
      .Border(false)
      .ID("requestSuggestId")
      .Flex(1)
      .Margin(0)
      .Tools(t =>
          {
              t.Add(new Tool() { Handler = "onRequestWriteByAssigner()", IconCls = "x-fa fa-plus-circle", ToolTip = "Thêm mới" });
              t.Add(new Tool() { Handler = "onShowByMe('Assignment')", IconCls = "x-fa fa-table", ToolTip = "Yêu cầu phân công đến tôi" });
              t.Add(new Tool() { Handler = "App.storeAssignmentId.reload();", IconCls = "x-fa fa-refresh", ToolTip = "Tải lại" });
          })
        .Items(
            X.DataView()
            .AutoScroll(true)
            .DisableSelection(true)
            .LoadingText("Đang tải...")
            .StyleSpec("border:none")
            .Border(false)
            .ItemSelector("td.letter-row")
            .Store(
                X.StoreFormat()
                .ID("storeAssignmentId")
                .AutoLoad(true)
                .Url(Url.Action("GetData", "Assign", new { Area = "Document" }))
                .ModelType(typeof(DocumentRequestBO))
            )
            .SingleSelect(true)
            .Cls("img-chooser-view")
            .OverItemCls("x-view-over")
            .ItemSelector("div.thumb-wrap")
            .EmptyText(@"<div style='text-align:center'><div class='emptyClass' style='height:100px;'></div><div style='font-size: 0.9em'>Không có dữ liệu</div></div>")
            .TrackOver(true)
            .Tpl(
                X.XTemplate().Html(
                @<text>
                    <tpl for=".">
                        <div onclick="onAssignForm('{Id}', '{IsSuggest}', '{EmployeeRole}', '{RequestFrom}')" style="cursor:pointer;" class="chat-body no-padding profile-message documentReduce">
                            <a class="calendar message">
                                <div style="text-align:justify">
                                    <i style="color:green;" class="x-fa fa-file-text-o"></i> [{SendAtText}] {AssignTypeText}
                                    <span style="float: right; font-size: 11px;">
                                    </span><br />
                                </div>
                                <div style="font-size:11px; margin-left:18px;">
                                    <i style="color:{StatusColor}" class="x-fa fa-circle"></i> {StatusText}
                                    <span style="float: right; font-size: 11px;">
                                        <i class="x-fa fa-user"></i> Vai trò: {EmployeeRoleText}
                                    </span>
                                </div>
                            </a>
                        </div>
                        <span class="document-timeline-sperator text-center" style="margin:5px"></span>
                    </tpl>
                </text>))
        ),         
    
     X.PanelWidgetFormat()
          .Header(false)
          .Border(false)
          .ID("writeActorId")
          .IconCls("x-fa fa-edit")
          .Flex(1)
          .Margin(0)
          .Tools(t =>
          {
              t.Add(new Tool() { Handler = "onNewDocument()", IconCls = "x-fa fa-plus-circle", ToolTip = "Thêm mới" });
              t.Add(new Tool() { Handler = "onShowByMe('Write')", IconCls = "x-fa fa-table", ToolTip = "Yêu cầu soạn thảo đến tôi" });
              t.Add(new Tool() { Handler = "App.storePerformWrite.reload();", IconCls = "x-fa fa-refresh", ToolTip = "Tải lại" });
          })
          .Items(
            X.DataView()
            .AutoScroll(true)
            .DisableSelection(true)
            .LoadingText("Đang tải...")
            .StyleSpec("border:none")
            .Border(false)
            .ItemSelector("td.letter-row")
            .Store(
                X.StoreFormat()
                .ID("storePerformWriteId")
                .AutoLoad(true)
                .Url(Url.Action("GetData", "Perform", new { Area = "Document" }))
                .ModelType(typeof(DocumentRequestBO))
            )
            .SingleSelect(true)
            .Cls("img-chooser-view")
            .OverItemCls("x-view-over")
            .ItemSelector("div.thumb-wrap")
            .EmptyText(@"<div style='text-align:center'><div class='emptyClass' style='height:100px;'></div><div style='font-size: 0.9em'>Không có dữ liệu</div></div>")
            .TrackOver(true)
            .Tpl(
                X.XTemplate().Html(
               @<text>
                <tpl for=".">
                    <div onclick="onPerformWrite('{Id}', '{IsSuggest}', '{EmployeeRole}', '{ParentId}', '{RequestSource}')" style="cursor:pointer;" class="chat-body no-padding profile-message documentReduce">
                        <a class="calendar message">
                            <div style="text-align:justify">
                                <i style="color:green;" class="x-fa fa-file-text-o"></i> [{SendAtText}] {AssignTypeText}
                                <span style="float: right; font-size: 11px;">
                                </span><br />
                            </div>
                            <div style="font-size:11px; margin-left:18px;">
                                <i style="color:{StatusColor}" class="x-fa fa-circle"></i> {StatusText}
                                <span style="float: right; font-size: 11px;">
                                    <i class="x-fa fa-user"></i> Vai trò: {EmployeeRoleText}
                                </span>
                            </div>
                        </a>
                    </div>
                    <span class="document-timeline-sperator text-center" style="margin:5px"></span>
                </tpl>
            </text>))),

     X.PanelWidgetFormat()
         .Header(false)
              .Border(false)
             .ID("reviewActorId")
        .IconCls("x-fa fa-check-square-o")
        .Flex(1)
        .Tools(t =>
        {
            t.Add(new Tool() { Handler = "onShowByMe('Approval')", IconCls = "x-fa fa-table", ToolTip = "Đề nghị phê duyệt đến tôi" });
            t.Add(new Tool() { Handler = "App.stPanelApproval.reload();", IconCls = "x-fa fa-refresh", ToolTip = "Tải lại" });
        })
        .Items(
            X.DataView()
            .AutoScroll(true)
            .DisableSelection(true)
             .LoadingText("Đang tải...")
            .StyleSpec("border:none")
            .Border(false)
            .ItemSelector("td.letter-row")
            .Store(
                X.StoreFormat()
                .ID("stPanelApprovalId")
                .Url(Url.Action("LoadDocumentApprove", "List"))
                .ModelType(typeof(iDAS.Service.DocumentDasboardApproveBO))
            )
            .SingleSelect(true)
            .Cls("img-chooser-view")
            .OverItemCls("x-view-over")
            .ItemSelector("div.thumb-wrap")
            .EmptyText(@"<div style='text-align:center'><div class='emptyClass' style='height:100px;'></div><div style='font-size: 0.9em'>Không có dữ liệu</div></div>")
            .TrackOver(true)
            .Tpl(
                X.XTemplate().Html(
                @<text>
                    <tpl for=".">
                        <div onclick="onReviewSuggest('{Id}', '{Name}', '{RoleView}', '{IsWrite}', '{IsAdjust}', '{CheckDestroy}', '{DocumentDestroyId}', '{IsDistribute}', '{IsSuggestApply}', '{IsArchiver}')" style="cursor:pointer;" class="chat-body no-padding profile-message documentReduce">
                            <a class="calendar message">
                                <div style="text-align:justify">
                                    <i style="color:green;" class="x-fa fa-file-text-o"></i> [{Time}] {Name}
                                    <span style="float: right; font-size: 11px;">
                                    </span><br />
                                </div>
                                <div style="font-size:11px; margin-left:18px;">
                                    <i style="color:{StatusColor};" class="x-fa fa-circle"></i> {StatusText}
                                    <span style="float: right; font-size: 11px;">
                                        <i class="x-fa fa-user"></i> Vai trò: {RoleText}
                                    </span>
                                </div>
                            </a>
                        </div>
                        <span class="document-timeline-sperator text-center" style="margin:5px"></span>
                    </tpl>
                </text>)
                )
            ),
            
            
        X.PanelWidgetFormat()
        .Header(false)
        .Border(false)
        .ID("publishId")
        .IconCls("x-fa fa-share-square-o")
        .Flex(1)
        .Tools(t =>
        {
            t.Add(new Tool() { Handler = "onShowByMe('Publish')", IconCls = "x-fa fa-table", ToolTip = "Đề nghị ban hành đến tôi" });
            t.Add(new Tool() { Handler = "App.storeRequestPromulgate.reload();", IconCls = "x-fa fa-refresh", ToolTip = "Tải lại" });
        })
        .Items(
        X.DataView()
        .AutoScroll(true)
        .DisableSelection(true)
        .LoadingText("Đang tải...")
        .StyleSpec("border:none")
        .Border(false)
        .ItemSelector("td.letter-row")
        .Store(
            X.StoreFormat()
            .ID("storeRequestPromulgateId")
            .AutoLoad(true)
            .Url(Url.Action("LoadPromulgate", "List", new { Area = "Document" }))
            .ModelType(typeof(DocumentDasboardApproveBO))
            )
        .SingleSelect(true)
        .Cls("img-chooser-view")
        .OverItemCls("x-view-over")
        .ItemSelector("div.thumb-wrap")
        .EmptyText(@"<div style='text-align:center'><div class='emptyClass' style='height:100px;'></div><div style='font-size: 0.9em'>Không có dữ liệu</div></div>")
        .TrackOver(true)
        .Tpl(
            X.XTemplate().Html(
            @<text>
                <tpl for=".">
                    <div onclick="onInfoPublish('{Id}', '{Name}', '{RoleView}', '{IsDistribute}', '{CheckDestroy}', '{DocumentDestroyId}')" style="cursor:pointer;" class="chat-body no-padding profile-message documentReduce">
                        <a class="calendar message">
                            <div style="text-align:justify">
                                <i style="color:green;" class="x-fa fa-file-text-o"></i> [{Time}] {Name}
                                <span style="float: right; font-size: 11px;">
                                </span><br />
                            </div>
                            <div style="font-size:11px; margin-left:18px;">
                                <i style="color:{StatusColor}" class="x-fa fa-circle"></i> {StatusText}
                                <span style="float: right; font-size: 11px;">
                                    <i class="x-fa fa-user"></i> Vai trò: {RoleText}
                                </span>
                            </div>
                        </a>
                    </div>
                    <span class="document-timeline-sperator text-center" style="margin:5px"></span>
                </tpl>
            </text>)
        )
    ),
    X.PanelWidgetFormat()
        .Header(false)
        .Border(false)
        .ID("SaveId")
        .IconCls("x-fa fa-clipboard")
        .Flex(1)
        .Tools(t =>
        {
            t.Add(new Tool() { Handler = "onShowByMe('Archive')", IconCls = "x-fa fa-table", ToolTip = "Đề nghị phân phối đến tôi" });
            t.Add(new Tool() { Handler = "App.stPanelArchive.reload();", IconCls = "x-fa fa-refresh", ToolTip = "Tải lại" });
        })
        .Items(
        X.DataView()
             .AutoScroll(true)
             .DisableSelection(true)
             .LoadingText("Đang tải...")
             .StyleSpec("border:none")
             .Border(false)
             .ItemSelector("td.letter-row")
             .Store(
                    X.StoreFormat()
                    .ID("stPanelArchiveId")
                    .Url(Url.Action("LoadArchive", "List"))
                    .ModelType(typeof(iDAS.Service.DocumentDasboardApproveBO))
                )
             .SingleSelect(true)
             .Cls("img-chooser-view")
             .OverItemCls("x-view-over")
             .ItemSelector("div.thumb-wrap")
             .EmptyText(@"<div style='text-align:center'><div class='emptyClass' style='height:100px;'></div><div style='font-size: 0.9em'>Không có dữ liệu</div></div>")
             .TrackOver(true)
             .Tpl(
                 X.XTemplate().Html(
                @<text>
                    <tpl for=".">
                        <div onclick="onclickPanelArchive('{Id}', '{Name}', '{RoleView}')" style="cursor:pointer;" class="chat-body no-padding profile-message documentReduce">
                            <a class="calendar message">
                                <div style="text-align:justify">
                                    <i style="color:green;" class="x-fa fa-file-text-o"></i> [{Time}] {Name}
                                    <span style="float: right; font-size: 11px;">
                                    </span><br />
                                </div>
                                <div style="font-size:11px; margin-left:18px;">
                                    <i style="color:{StatusColor}" class="x-fa fa-circle"></i> {StatusText}
                                    <span style="float: right; font-size: 11px;">
                                        <i class="x-fa fa-user"></i> Vai trò: {RoleText}
                                    </span>
                                </div>
                            </a>
                        </div>
                        <span class="document-timeline-sperator text-center" style="margin:5px"></span>
                    </tpl>
                </text>
                    )
                )
            )
    
    )
)
<script>
    var reloadDocumentDefault = true;
    var onReviewSuggest = function (id, name, roleType, IsWrite, IsAdjust, CheckDestroy, DocumentDestroyId, IsDistribute, IsSuggestApply, IsArchiver) {
        var url = null;
        switch (roleType) {

            case '@(iDAS.Service.Common.Resource.DocumentProcessRole.Check)':
                if (CheckDestroy == "true") {
                    if (IsArchiver == "true") {
                        url = '@(Url.Action("FormReview", "DestroySuggest", new { Area = "Document" }, null))';
                    }
                    else {
                        url = '@(Url.Action("ReviewDetailDestroy", "DestroySuggest", new { Area = "Document" }, null))';
                    }
                }
                if (CheckDestroy != "true") {
                    url = '@(Url.Action("CheckDocument", "Responsibility", new { Area = "Document" }, null))';
                }
                if (IsDistribute == "true") {
                    url = '@(Url.Action("PerformApprove", "DistributeSuggest", new { Area = "Document" }, null))';
                }
                break;
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.ApproveDocument':
                if (CheckDestroy == "true") {
                    if (IsArchiver == "true") {
                        url = '@(Url.Action("FormApprove", "DestroySuggest", new { Area = "Document" }, null))';
                    }
                    else {
                        url = '@(Url.Action("FormApprovedestroySuggest", "DestroySuggest", new { Area = "Document" }, null))';
                    }
                }
                if (CheckDestroy != "true") {
                    url = '@(Url.Action("ApprovalDocument", "Responsibility", new { Area = "Document" }, null))';
                }
                if (IsDistribute == "true") {
                    url = '@(Url.Action("PerformApprove", "DistributeSuggest", new { Area = "Document" }, null))';
                }
                break;
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.SuggesterWriteAndEdit':

                if (IsWrite == "true") { url = '@(Url.Action("Update", "SuggestWriteNew", new { Area = "Document" }, null))'; }
                if (IsAdjust == "true") { url = '@(Url.Action("Update", "SuggestAdjust", new { Area = "Document" }, null))'; }
                if (IsSuggestApply == "true") { url = '@(Url.Action("FormApprove", "ExternalApplySuggest", new { Area = "Document" }, null))'; }
                break;
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.ReviewWriteAndEdit':
                if (IsWrite == "true") { url = '@(Url.Action("Update", "SuggestWriteNew", new { Area = "Document" }, null))'; }
                if (IsAdjust == "true") { url = '@(Url.Action("Update", "SuggestAdjust", new { Area = "Document" }, null))'; }
                if (IsSuggestApply == "true") { url = '@(Url.Action("FormApprove", "ExternalApplySuggest", new { Area = "Document" }, null))'; }
                break;
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.ApprovalWriteAndEdit':
                if (IsWrite == "true") { url = '@(Url.Action("Update", "SuggestWriteNew", new { Area = "Document" }, null))'; }
                if (IsAdjust == "true") { url = '@(Url.Action("Update", "SuggestAdjust", new { Area = "Document" }, null))'; }
                if (IsSuggestApply == "true") { url = '@(Url.Action("FormApprove", "ExternalApplySuggest", new { Area = "Document" }, null))'; }
                break;
            default:
                break;
        }
        onDirectMethod(url, { id: id, name: name, DocumentDestroyId: DocumentDestroyId }, 'get');
    };
    var onclickPanelArchive = function (id, name, roleView) {
        var url = null;
        switch (roleView) {
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.Archiver':
                url = '@(Url.Action("FormArchive", "Archive", new { Area = "Document" }, null))';
                break;
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.DistributeSuggester':
                url = '@(Url.Action("FormDistributeSuggest", "DistributeSuggest", new { Area = "Document" }, null))';
                break;
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.SuggesterWriteAndEdit':
                url = '@(Url.Action("FormInfoDistributeRequest", "Request", new { Area = "Document" }, null))';
                break;
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.Archiver':
                url = '@(Url.Action("DetailRequestArchive", "Request", new { Area = "Document" }, null))';
                break;
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.DistributeRequester':
                url = '@(Url.Action("DetailDistributeRequest", "Request", new { Area = "Document" }, null))';
                break;
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.DestroyRequester':
                url = '@(Url.Action("DetailInfoRequestDestroy", "Request", new { Area = "Document" }, null))';
                break;
            default:
                break;
        }
        onDirectMethod(url, { id: id, name: name });
    };
    var onInfoPublish = function (id, name, roleView, IsDistribute, CheckDestroy, DocumentDestroyId) {
        var url = null;
        switch (roleView) {
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.DestroyRequester':
                url = '@(Url.Action("DetailInfoRequestDestroy", "Request", new { Area = "Document" }, null))';
                break;
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.Promulgate':
                if (CheckDestroy != "true") { url = '@(Url.Action("InfoRequestPublish", "Publish", new { Area = "Document" }, null))'; }
                if (CheckDestroy == "true") { url = '@(Url.Action("FormPublishDestroySuggest", "DestroySuggest", new { Area = "Document" }, null))'; }
                if (IsDistribute == "true") { url = '@(Url.Action("Perform", "DistributeSuggest", new { Area = "Document" }, null))'; }
                break;
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.ReviewWriteAndEdit':
                url = '@(Url.Action("RecoverReleaseDocument", "Publish", new { Area = "Document" }, null))';
                break;
            case '@iDAS.Service.Common.Resource.DocumentProcessRole.DistributeSuggester':
                url = '@(Url.Action("Perform", "DistributeSuggest", new { Area = "Document" }, null))';
                break;
            default:
                break;
        }
        onDirectMethod(url, { id: id, name: name, DocumentDestroyId: DocumentDestroyId });
    };
    /* Khung phân công */
    var onAssignForm = function (Id, IsSuggest, Role, RequestFrom) {
        var params = null;
        var url = '';
        switch (Role) {
            case '@iDAS.Service.Common.Resource.DocumentEmployeeRole.Approver':
                {
                    params = { RequestId: Id };
                    url = '@(Url.Action("DetailRequestWrite", "Request", new { Area = "Document" }))';
                }
                break;
            case '@iDAS.Service.Common.Resource.DocumentEmployeeRole.Assigner':
                {
                    if (RequestFrom == '@((int)iDAS.Service.Common.Resource.RequestFrom.Requestor)'
                        || RequestFrom == '@((int)iDAS.Service.Common.Resource.RequestFrom.Reviewer)'
                        || RequestFrom == '@((int)iDAS.Service.Common.Resource.RequestFrom.Suggestor)'
                        ) {
                        params = { id: Id, isSuggest: IsSuggest };
                        url = '@(Url.Action("AssignForm", "Assign", new { Area = "Document" }))';
                    }
                    if (RequestFrom == '@((int)iDAS.Service.Common.Resource.RequestFrom.Assigner)') {
                        params = { id: Id };
                        url = '@Url.Action("RequestWriteByAssigner", "Assign")';
                    }
                }
                break;
            default:
                break;
        }
        onDirectMethod(url, params);
    };

    /*Khung soạn thảo*/
    var onPerformWrite = function (id, IsSuggest, typeRole, parentId, requestSource) {
        var params = null;
        var url = '';
        switch (typeRole) {
            case '@iDAS.Service.Common.Resource.DocumentEmployeeRole.Assigner':
                {
                    if (requestSource == '@Convert.ToInt16(iDAS.Service.Common.Resource.RequestSource.Assignation)') {
                        params = { id: id };
                        url = '@Url.Action("RequestWriteByAssigner", "Assign", new { Area = "Document" })';
                    }
                    if (requestSource == '@Convert.ToInt16(iDAS.Service.Common.Resource.RequestSource.RequestWrite)'
                     || requestSource == '@Convert.ToInt16(iDAS.Service.Common.Resource.RequestSource.RequestAdjust)') {
                        params = { id: parentId, isSuggest: IsSuggest };
                        url = '@Url.Action("AssignForm", "Assign", new { Area = "Document" })';
                    }
                    if (requestSource == '@Convert.ToInt16(iDAS.Service.Common.Resource.RequestSource.SuggestWrite)') {
                        params = { id: parentId, isSuggest: IsSuggest };
                        url = '@Url.Action("AssignForm", "Assign", new { Area = "Document" })';
                    }
                    if (requestSource == '@Convert.ToInt16(iDAS.Service.Common.Resource.RequestSource.SuggestAdjust) ') {
                        params = { id: parentId, isSuggest: IsSuggest };
                        url = '@Url.Action("AssignForm", "Assign", new { Area = "Document" })';
                    }
                }
                break;
            case '@iDAS.Service.Common.Resource.DocumentEmployeeRole.Compiler':
                {

                    if (requestSource == '@Convert.ToInt16(iDAS.Service.Common.Resource.RequestSource.Compilation)') {
                        url = '@Url.Action("NewDocument", "Perform", new { Area = "Document" })';
                        params = { id: id };
                    }
                    else {
                        url = '@Url.Action("Form", "Perform", new { Area = "Document" })';
                        params = { requestId: id, parentId: parentId };
                    }

                }
                break;
            case '@iDAS.Service.Common.Resource.DocumentEmployeeRole.Writer':
                {
                    url = '@Url.Action("Form", "Perform", new { Area = "Document" })';
                    params = { requestId: id, parentId: parentId };
                }
                break;
            case '@iDAS.Service.Common.Resource.DocumentEmployeeRole.Approver':
                {
                    url = '@Url.Action("DetailRequestWrite", "Request", new { Area = "Document" })';
                    params = { RequestId: id };
                }
                break;
            default:
                return;
                break;
        }
        onDirectMethod(url, params);
    };
    /* Xem danh sách liên quan của tôi */
    var onShowByMe = function (view) {
        switch (view) {
            case 'Assignment':
                var url = '@Url.Action("AssignmentByMe", "Dashboard")';
                break;
            case 'Write':
                var url = '@Url.Action("WriteByMe", "Dashboard")';
                break;
            case 'Approval':
                var url = '@Url.Action("ApprovalByMe", "Dashboard")';
                break;
            case 'Publish':
                var url = '@Url.Action("PublishByMe", "Dashboard")';
                break;
            case 'Archive':
                var url = '@Url.Action("ArchiveByMe", "Dashboard")';
                break;
            default:
                return;
                break;
        }
        onDirectMethod(url, null);
    };

    var onBackRelease = function (id, name) {
        var url = '@(Url.Action("RecoverReleaseDocument", "Publish", new { Area = "Document" }, null))';
        onDirectMethod(url, { id: id, name: name });
    };
    var onSuggestWriteNewInfo = function () {
        var url = '@Url.Action("SuggestWriteNewInfo", "Suggest")';
        onDirectMethod(url, null);
    };
    var onDasboardReviewSuggestDestroy = function () {
        var url = '@Url.Action("DasboardReviewSuggestDestroy", "Suggest")';
        onDirectMethod(url, null);
    };
    /* Yêu cầu tạo mới */
    var onRequestCreateNew = function () {
        var url = '@Url.Action("CreateWrite", "Request")';
        onDirectMethod(url, null);
    };
    /* Yêu cầu soạn thảo từ đề nghị đã duyệt */
    var onRequestWriteBySuggest = function () {
        var url = '@Url.Action("RequestWriteBySuggest", "Request")';
        onDirectMethod(url, null);
    };
    /* Yêu cầu từ yêu cầu soạn thảo */
    var onRequestWrite = function () {
        var url = '@Url.Action("RequestWrite", "Request")';
        onDirectMethod(url, null);
    };
    /* yêu cầu soạn thảo tạo bởi người phân công */
    var onRequestWriteByAssigner = function () {
        var url = '@Url.Action("RequestWriteByAssigner", "Assign")';
        onDirectMethod(url, null);
    };

    /* Tự tạo mới một tài liệu ở khung soạn thảo */
    var onNewDocument = function () {
        var url = '@Url.Action("NewDocument", "Perform")';
        onDirectMethod(url, null);
    };

    var onInfoArchive = function (value) {
        if (value == 1) {
            var url = '@Url.Action("InfoRequestArchive", "Archive")';
            onDirectMethod(url, null);
        }
        if (value == 2) {
            var url = '@Url.Action("FormInfoDistributeRequest", "Request")';
            onDirectMethod(url, null);
        }
        if (value == 3) {
            var url = '@Url.Action("FormDistributeSuggest", "DistributeSuggest")';
            onDirectMethod(url, null);
        }
    };
    var onUpdateCategory = function () {
        var url = '@Url.Action("UpdateCategory", "Category")';
        onDirectMethod(url, null);
    };
    /* Thực hiện biên soạn*/
    var onCompilation = function () {
        var url = '@Url.Action("CompilationForm", "Document")';
        onDirectMethod(url, null);
    };

    var onFormRequestReceive = function () {
        var url = '@Url.Action("FormRequestReceive", "Request")';
        onDirectMethod(url, null);
    };

    var itemcontextArchiveDistribute = function (e) {
        App.contextArchiveDistribute.showAt(e.clientX, e.clientY - 45);
    };
    var itemcontextRequestSugestDasboard = function (e) {
        App.contextRequestSugestDasboard.showAt(e.clientX, e.clientY - 45);
    };
    var itemcontextWriteDasboard = function (e) {
        App.contextWriteDasboard.showAt(e.clientX, e.clientY - 45);
    };
    var onClickReviewDasboard = function (value) {
        if (value == "1") {
            var url = '@Url.Action("FormReviewSuggest", "ReviewSuggest")';
            onDirectMethod(url, null);
        }
        if (value == "2") {
            onSuggestWriteNewInfo();
        }
        if (value == "3") {
            onDasboardReviewSuggestDestroy();
        }
    };
    var onClickApproveDasboard = function (value) {
        if (value == "1") {
            var url = '@Url.Action("FormPublishSuggest", "PublishSuggest")';
            onDirectMethod(url, null);
        }
        if (value == "2") {
            onApproveSuggest();
        }
    };
    var onPublishSuggest = function () {
        var url = '@Url.Action("ApproveIndex", "PublishSuggest")';
        onDirectMethod(url, null);
    };

    function onClickInfoRequest() {
        var url = '@Url.Action("FormInfoRequest", "Request")';
        onDirectMethod(url, null);
    };
    function onClickSugestApprove() {
        var url = '@Url.Action("Index", "ReviewSuggest")';
        onDirectMethod(url, null);
    };
    function onClickSuggestAdjust() {
        var url = '@Url.Action("Index", "AdjustSuggest")';
        onDirectMethod(url, null);
    };
    function onClickPerformWrite() {
        var url = '@Url.Action("ListReview", "ReviewSuggest")';
        onDirectMethod(url, null);
    };
    function onClickSuggestDistribute() {
        var url = '@Url.Action("Index", "DistributeSuggest")';
        onDirectMethod(url, null);
    };
    function onClickApproveSuggestReview() {
        var url = '@Url.Action("ListApproveReviewSuggest", "ReviewSuggest")';
        onDirectMethod(url, null);
    };
    function onClickApproveSugestDistribute() {
        var url = '@Url.Action("ListDocumentDistributeSuggest", "DistributeSuggest")';
        onDirectMethod(url, null);
    };
    function onClickRequestWrite() {
        var url = '@Url.Action("ListCompilation", "RequestCompilation")';
        onDirectMethod(url, null);
    };
    function onClickSuggestPublish() {

        var url = '@Url.Action("ApproveIndex", "PublishSuggest", new { isSuggest = true })';
        onDirectMethod(url, null);
    };
    function onClickApproveSuggestPublish() {
        var url = '@Url.Action("ApproveIndex", "PublishSuggest")';
        onDirectMethod(url, null);
    };
    function onClickApproveSuggestDestroy() {
        var url = '@Url.Action("Index", "DestroySuggest")';
        onDirectMethod(url, null);
    };
    function onClickRequestDestroy() {
        var url = '@Url.Action()';
        onDirectMethod(url, null);
    };
    function onClickReceiveArchive() {
        var url = '@Url.Action("RequestReceive", "Request")';
        onDirectMethod(url, null);
    };
    function onClickSugestDestroy() {
        var url = '@Url.Action()';
        onDirectMethod(url, null);
    };
    function onClickPerformDistribute() {
        var url = '@Url.Action()';
        onDirectMethod(url, null);
    };
    function onClickPerformDestroy() {
        var url = '@Url.Action()';
        onDirectMethod(url, null);
    };
</script>