﻿@using Ext.Net.MVC
@using Ext.Net
@{
    Layout = null;
    var loadMessengerMore = @"showLoadMask();
                            var item = App.pnMainSystem.items.getByKey('ctMnMessengerMore');
                            App.pnMainSystem.items.each(function (e, d) {
                                e.hide();
                            });
                            if (item != null) {
                                item.show();
                                hideLoadMask();
                            }
                            else {
                                App.pnMainSystem.getLoader().load({ url:'/Chat/Messenger/LoadMore', success: function (result) { hideLoadMask(); } });
                            }
                            return false;";
}
@(Html.X().Panel()
    .Layout(LayoutType.Fit)
    .BodyBorder(0)
    .Border(false)
    .Flex(1)
    .BottomBarItem(
    Html.X().Button()
            .Text("Danh sách người dùng")
            .Border(false)
            .StyleSpec("background-color:#fff;")
            .IconCls("x-fa fa-users")
            .DirectClickAction("Index", "UserOnline", new { area = "Chat" }),
        Html.X().ToolbarFill(),
        Html.X().Button()
            .IconCls("x-fa fa-refresh")
            .Border(false)
            .Listeners(ls => ls.Click.Handler = "App.MessengerStores.load({ start: 0, limit: 20 });"),
        Html.X().Button()
            .Text("Xem thêm...")
            .Border(false)
            .Handler(loadMessengerMore)
    )
    .Items(
            Html.X().GridPanel()
                .ID("MessengerPanel")
                .Margin(-1)
                .Flex(1)
                .RowLines(false)               
                .AutoScroll(true)
                .Store(Html.X().Store()
                .ID("MessengerStores")
                .Buffered(true)
                .PageSize(20)
                .LeadingBufferZone(0)
                .AutoLoad(false)
                .Model(Html.X().Model()
                .Fields(
                    Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                    Html.X().ModelField().Name("Content").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("TimeSend").Type(ModelFieldType.String),
                    Html.X().ModelField().Name("IsRead").Type(ModelFieldType.Boolean)
                    )
                )
                .Proxy(Html.X().AjaxProxy()
                .Url(Url.Action("GetDataMore"))
                .Reader(Html.X().JsonReader()
                .RootProperty("data"))
                .IDParam("Id"))
                )
                .Cls("img-chooser-view")
                .EmptyText(@"<div style='text-align:center'>
                    <div class='emptyClass'></div>
                    <div style='font-size: 0.9em'>Không có thông báo nào</div>
                </div>")
                .ColumnModel(
                    Html.X().Column()
                        .Text("Tin nhắn")
                        .DataIndex("Contents")
                        .Flex(1)
                        .Sortable(false)
                        .Renderer("bindMessengerWidgets")
                )
                .HideHeaders(true)
                .Listeners(ls => ls.ItemClick.Fn = "itemMessengerClick")
                .View(Html.X().GridView().TrackOver(false).LoadingText("Đang tải..."))
    )
)
<script>
    var bindMessengerWidgets = function (column, cmp, record) {
        return Ext.String.format('<ul class=\'notify-body\' style=\'margin: -4px;\'><li><span id=\'el{4}\' {0} onmouseover=\"showMessengerInfo(this)\" onmouseout=\"hideMessengerItem(this)\" ><a href=\'javascript:void(0);\' class=\'msg\'><em class=\'imagecircle badge air air-top-left margin-top-0 air air-top-left\'><img src="{7}" style="width: 30px; height: 30px; border-radius: 50%; top:0px; left:0px; position: absolute;"/></em><span class=\'subject\' style=\'color: #2d2d2d;\'>{2}</span><span class=\'msg-body\' style=\'margin-right:3px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\'>{3}</span> <time style=\'right:13px\'>{1}</time>   <em hidden class=\'air air-top-right  margin-top-0 air air-top-right \' style=\'right:4px\'><a href=\"javascript:hiddenMessengerItem(\'{4}\');\" title=\'Ẩn thông báo này\'><i class=\'fa fa-remove\'></i></a> <a id=\'clRead{4}\'  href=\"javascript:updateReadMessenger(\'{4}\',{5});\" title=\'{6}\'><i class=\'fa fa-asterisk\'></i></a> </em></a></span></li></ul>', record.data.IsRead ? '' : 'class=\'unread\'', record.data.TimeSend, "<b>" + record.data.Creater.Name + "</b> đã gửi một tin nhắn", record.data.Content, record.data.Id, record.data.IsRead, record.data.IsRead ? 'Đánh dấu chưa đọc' : 'Đánh dấu đã đọc', record.data.Creater.AvatarUrl);
    };
    var showMessengerInfo = function (item) {
        item.children[1].hidden = false;
    };
    var hideMessengerItem = function (item) {
        item.children[1].hidden = true;
    };
    var itemMessengerClick = function (view, record, item, index, e) {
        if (!record.data.IsRead) {
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("Read", "Messenger", null, null))',
                params: { id: record.data.Id },
                success: function (result) {
                    result == 0 ? App.bagMessenger.hide() : App.bagMessenger.setText(result);
                    if (App.MessengerPanel) App.MessengerPanel.getStore().load({ start: 0, limit: 20 });
                }
            });
        }
        var windowId = Ext.String.format("windowSingleChat{0}", record.data.CreateBy.replace(/-/g, ''));
        var wd = Ext.getCmp(windowId);
        if (wd) {
            wd.show();
            wd.focus();
        }
        else {
            var params = { userId: record.data.CreateBy };
            var url = '@Url.Action("SingleChat", "Messenger", new { area = "Chat"})';
            onDirectMethod(url, params, null, null, true);
        }
    };
    var updateReadMessenger = function (id, isRead) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("UpdateRead", "Messenger", null, null))',
            params: { id: id, isRead: !isRead },
            success: function (result) {
                var el = $('#el' + id); elRead = $('#clRead' + id);
                if (result && el.hasClass('unread')) {
                    el.removeClass('unread');
                    elRead.attr('title', 'Đánh dấu chưa đọc');
                } else {
                    el.addClass('unread');
                    elRead.attr('title', 'Đánh dấu đã đọc');
                }
            }
        });
    };
    var hiddenMessengerItem = function (id) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("HiddenMessenger", "Messenger", null, null))',
            params: { id: id },
            success: function (result) {
                var el = $('#el' + id);
                if (result) {
                    var displayRestore = Ext.String.format("<div style='text-align: right;'><a href='javascript:void(0);' onclick='undoMessengerHidden(this, \"{0}\");' style='text-align: right; font-size: 9px; padding-right: 11px;' >Phục hồi tin nhắn đã bị ẩn!</a></div>", id.trim());
                    el.hide(300);
                    el.parent().prepend(displayRestore);
                }
            }
        });
    };
    var undoMessengerHidden = function (i, id) {
        var parent = $(i).parent();
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Revert", "Messenger", null, null))',
            params: { id: id },
            success: function (result) {
                if (result) {
                    parent.parent().children().show(300);
                    parent.remove();
                }
            }
        });
    };
</script>
