﻿@using Ext.Net.MVC
@using Ext.Net
@using iDAS.Service;
@{
    var X = Html.X();
    var loadRightChat = @"showLoadMask();
    if (!record.data.IsRead) {
            Ext.net.DirectMethod.request({
                url: '/Chat/Messenger/Read',
                params: { id: record.data.Id },
                success: function (result) {
                    result == 0 ? App.bagMessenger.hide() : App.bagMessenger.setText(result);
                }
            });
        }
    var toUserId = record.data.CreateBy;
    var key ='windowSingleChat'+ toUserId.replace(/-/g, '');
    var item = App.pnRightChat.items.getByKey(key);
    App.pnRightChat.items.each(function (e, d) {
        e.destroy();
    });
    if (item != null) {
        item.show();
        hideLoadMask();
    }
    else {
        App.pnRightChat.getLoader().load({ url: '/Chat/Messenger/RightChat',params: { toUserId: toUserId }, success: function (result) { hideLoadMask(); } });
    }
    return false;";
}
<style>
        .cmsg {
            list-style: none;
            padding: 0px;
        }

        .cmsg li {
            margin: 1px 12px 1px 12px;
            padding-bottom: 0px;
        }

            .cmsg li.left .cmsg-body {
                margin-left: 35px;
                margin-right: 55px;
                max-width: 300px;
            }

            .cmsg li.right .cmsg-body {
                margin-left: 55px;
                margin-right: 5px;
                max-width: 300px;
            }

            .cmsg li.left .cmsg-body p.pshow {
                margin: 0;
                font-size: 11px;
                color: #fff;
                display: inline-block;
                background-color: rgba(33, 150, 243, 0.76);
                border-bottom-right-radius: 12px;
                border-top-right-radius: 12px;
                border-top-left-radius: 12px;
                padding: 3px 10px 3px 10px;
                word-break: break-all;
                min-height: 27px;
            }

            .cmsg li.left .cmsg-body p.phide {
                margin: 0;
                font-size: 11px;
                color: #fff;
                display: inline-block;
                background-color: rgba(33, 150, 243, 0.76);
                border-bottom-right-radius: 12px;
                border-top-right-radius: 12px;
                border-bottom-left-radius: 12px;
                padding: 3px 10px 3px 10px;
                word-break: break-all;
                min-height: 27px;
            }

            .cmsg li.right .cmsg-body p.pshow {
                margin: 0;
                font-size: 11px;
                color: #fff;
                display: inline-block;
                background-color: rgba(33, 150, 243, 0.76);
                border-bottom-left-radius: 12px;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                padding: 3px 10px 3px 10px;
                word-break: break-all;
                min-height: 27px;
            }

            .cmsg li.right .cmsg-body p.phide {
                margin: 0;
                margin-right:30px;
                font-size: 11px;
                color: #fff;
                display: inline-block;
                background-color: rgba(33, 150, 243, 0.76);
                border-bottom-left-radius: 12px;
                border-top-left-radius: 12px;
                border-bottom-right-radius: 12px;
                padding: 3px 10px 3px 10px;
                word-break: break-all;
                min-height: 27px;
            }
            .cmsg li.right .clsavatar {
                width: 30px;
                height: 30px;
            }

</style>
@(Html.X().Container()
    .ID("ctMnMessengerMore")
    .Layout(LayoutType.Fit)
    .Border(false)
    .Listeners(ls => ls.Resize.Handler = "this.updateLayout()")
    .Items(
    Html.X().Panel()
    .Layout(LayoutType.Border)
    .BodyBorder(0)
    .Border(true)
    .UIName("idas_default")
    .IconCls("x-fa fa-comments black")
    .Title("<b>Danh sách tin nhắn gần đây nhất</b>")
    .Flex(1)
    .Items(
        Html.X().GridPanel()
            .ID("MessengerMorePanel")
            .Margin(-1)
            .RowLines(false)       
            .Width(350)
            .Region(Region.West)
            .AutoScroll(true)
            .Store(Html.X().Store()
            .ID("MessengerMoreStores")
            .Buffered(true)
            .PageSize(7)
            .LeadingBufferZone(40)
            .AutoLoad(true)
            .Model(Html.X().Model()
            .Fields(
                Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                Html.X().ModelField().Name("Content").Type(ModelFieldType.String),
                Html.X().ModelField().Name("TimeSend").Type(ModelFieldType.String),
                Html.X().ModelField().Name("IsRead").Type(ModelFieldType.Boolean)
                )
            )
            .Proxy(Html.X().AjaxProxy()
            .Url(Url.Action("GetDataMore"))
            .Reader(Html.X().JsonReader()
            .RootProperty("data"))
            .IDParam("Id"))
            )
            .Cls("img-chooser-view")
            .EmptyText(@"<div style='text-align:center'>
                    <div class='emptyClass'></div>
                    <div style='font-size: 0.9em'>Không có thông báo nào</div>
                </div>")
            .ColumnModel(
                Html.X().Column()
                    .Text("Thông báo")
                    .DataIndex("Contents")
                    .Flex(1)
                    .Sortable(false)
                    .Renderer("bindMessengerMoreWidgets")
            )
            .HideHeaders(true)
            .Listeners(ls =>
            {
                ls.RowClick.Handler = loadRightChat;
            })
        .View(Html.X().GridView().TrackOver(false).LoadingText("Đang tải...")),
        Html.X().Container()
            .Region(Region.Center)
            .Layout(LayoutType.Fit)
            .ID("pnRightChat")
            .Loader(
                Html.X().ComponentLoader()
                .AutoLoad(false)
                .Params(new Parameter("containerId", "pnRightChat"))
                .Mode(LoadMode.Script)
                )
             )
        )
)
<script>
    var bindMessengerMoreWidgets = function (column, cmp, record) {
        return Ext.String.format('<ul class=\'notify-body\' style=\'margin: -4px;\'><li><span id=\'el{4}\' {0} onmouseover=\"showMessengerMoreInfo(this)\" onmouseout=\"hideMessengerMoreItem(this)\" ><a href=\'javascript:void(0);\' class=\'msg\'><em class=\'imagecircle badge air air-top-left margin-top-0 air air-top-left\'><img src="{7}" style="width: 30px; height: 30px; border-radius: 50%; top:0px; left:0px; position: absolute;"/></em><span class=\'subject\' style=\'color: #2d2d2d;\'>{2}</span><span class=\'msg-body\' style=\'margin-right:3px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\'>{3}</span> <time style=\'right:13px\'>{1}</time>   <em hidden class=\'air air-top-right  margin-top-0 air air-top-right \' style=\'right:4px\'><a href=\"javascript:hiddenMessengerMoreItem(\'{4}\');\" title=\'Ẩn thông báo này\'><i class=\'fa fa-remove\'></i></a> <a id=\'clRead{4}\'  href=\"javascript:updateReadMessengerMore(\'{4}\',{5});\" title=\'{6}\'><i class=\'fa fa-asterisk\'></i></a> </em></a></span></li></ul>', record.data.IsRead ? '' : 'class=\'unread\'', record.data.TimeSend, "<b>" + record.data.Creater.Name + "</b> đã gửi một tin nhắn", record.data.Content, record.data.Id, record.data.IsRead, record.data.IsRead ? 'Đánh dấu chưa đọc' : 'Đánh dấu đã đọc', record.data.Creater.AvatarUrl);
    };
    var showMessengerMoreInfo = function (item) {
        item.children[1].hidden = false;
    };
    var hideMessengerMoreItem = function (item) {
        item.children[1].hidden = true;
    };
    var updateReadMessengerMore = function (id, isRead) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("UpdateRead", "Messenger", null, null))',
            params: { id: id, isRead: !isRead },
            success: function (result) {
                var el = $('#el' + id); elRead = $('#clRead' + id);
                if (result && el.hasClass('unread')) {
                    el.removeClass('unread');
                    elRead.attr('title', 'Đánh dấu chưa đọc');
                } else {
                    el.addClass('unread');
                    elRead.attr('title', 'Đánh dấu đã đọc');
                }
            }
        });
    };
    var hiddenMessengerMoreItem = function (id) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("HiddenMessenger", "Messenger", null, null))',
            params: { id: id },
            success: function (result) {
                var el = $('#el' + id);
                if (result) {
                    var displayRestore = Ext.String.format("<div style='text-align: right;'><a href='javascript:void(0);' onclick='undoMessengerMoreHidden(this, \"{0}\");' style='text-align: right; font-size: 9px; padding-right: 11px;' >Phục hồi tin nhắn đã bị ẩn!</a></div>", id.trim());
                    el.hide(300);
                    el.parent().prepend(displayRestore);
                }
            }
        });
    };
    var undoMessengerMoreHidden = function (i, id) {
        var parent = $(i).parent();
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Revert", "Messenger", null, null))',
            params: { id: id },
            success: function (result) {
                if (result) {
                    parent.parent().children().show(300);
                    parent.remove();
                }
            }
        });
    };
</script>
