﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@{
    var X = Html.X();
    var currentUser = ViewData["CurrentUser"] as EmployeeBO;
    var toUser = ViewData["ToUser"] as EmployeeBO;
    var toUserId = toUser.Id.ToString().Replace("-", "");
    var windowId = string.Format("windowSingleChat{0}", toUserId);
    var panelChatId = string.Format("ulSingleChat{0}", toUserId);
}
@(Html.X().Container()
    .Region(Region.Center)
    .Layout(LayoutType.Border)
    .ID(windowId)
    .Items(
    X.DataView()
    .Region(Region.Center)
    .LoadingText("Đang tải...")
    .LoadMask(false)
    .ID(string.Format("dvSingleChat{0}", toUserId))
    .ItemSelector("li.clearfix")
    .Store(X.Store()
        .AutoLoad(true)
        .ID(string.Format("storeSingleChat{0}", toUserId))
        .Model(X.Model()
        .Fields(
            X.ModelField().Name("Id").Type(ModelFieldType.Auto),
            X.ModelField().Name("Content").Type(ModelFieldType.String)
        )
        )
        .Proxy(X.AjaxProxy().Url(Url.Action("GetData"))
        .Reader(X.JsonReader().RootProperty("data")).IDParam("Id"))
        .Parameters(pr => pr.Add(new StoreParameter() { Name = "userId", Value = "App.MessengerMorePanel.selection?App.MessengerMorePanel.selection.data.CreateBy:''", Mode = ParameterMode.Raw }))
        .Listeners(
                    ls => ls.Load.Handler = @"scrollToBottom('#" + panelChatId + "')"
            )
        )
        .Cls("img-chooser-view")
        .OverItemCls("x-view-over")
        .ItemSelector("div.thumb-wrap")
        .EmptyText(@"<div style='text-align:center'>
    <div class='emptyClass'></div>
    <div style='font-size: 0.9em'>Không có tin nhắn nào</div>
</div>")
        .TrackOver(true)
        .Tpl(
            X.XTemplate()
                .Html(
                @<text>
                    <div style='height:100%; overflow-y: scroll;' touser="@toUser.Id" area-type="chatSingle">
                        <ul class='cmsg' id="@panelChatId">
                            <tpl for=".">
                                <tpl if='IsCurrentUser == false'>
                                    <li class='left clearfix'>
                                        <span class='pull-left'>
                                            <tpl if='ShowAvartar == true'>
                                                <img width='30' height='30' src='@toUser.AvatarUrl' class='img-circle' title='@toUser.Name' />
                                            </tpl>
                                        </span>
                                        <div class='cmsg-body clearfix'>
                                            <tpl if='ShowAvartar == true'>
                                                <p class="pshow" title='{TimeSend}'>
                                                    {Content}
                                                </p>
                                            </tpl>
                                            <tpl if='ShowAvartar == false'>
                                                <p class="phide" title='{TimeSend}'>
                                                    {Content}
                                                </p>
                                            </tpl>
                                        </div>
                                    </li>
                                </tpl>
                                <tpl if='IsCurrentUser == true'>
                                    <li class='right clearfix'>
                                        <tpl if='ShowAvartar == true'>
                                            <span class='pull-right clsavatar'>
                                                <img width='30' height='30' src='@currentUser.AvatarUrl' class='img-circle' title='Tôi' />
                                            </span>
                                        </tpl>
                                        <div class='pull-right cmsg-body clearfix'>
                                            <tpl if='ShowAvartar == true'>
                                                <p class="pshow pull-right" title='{TimeSend}'>
                                                    {Content}
                                                </p>
                                            </tpl>
                                            <tpl if='ShowAvartar == false'>
                                                <p class="phide pull-right" title='{TimeSend}'>
                                                    {Content}
                                                </p>
                                            </tpl>
                                        </div>
                                    </li>
                                </tpl>
                            </tpl>
                        </ul>
                    </div>
                </text>
)
),
X.TextField()
.Region(Region.South)
.Height(50)
.MarginSpec("0 -1 -1 0")
.EnableKeyEvents(true)
.EmptyText("Nhập nội dung ở đây...")
.Listeners(ls =>
{
    ls.KeyPress.Buffer = 400;
    ls.KeyPress.Handler = "if(e.getKey() == e.ENTER){SendMessage(this); this.setValue('');}";
})
.RightButtons(Html.X().Button().IconCls("x-fa fa-send").Width(30).Handler("SendMessage(this.findParentByType('textfield'))")
.Border(false)),
X.Hidden().ID(string.Format("hiddenToId{0}", toUserId)).Value(toUser.Id),
X.Hidden().ID(string.Format("hiddenToUser{0}", toUserId)).Value(toUser.UserName),
X.Hidden().ID(string.Format("hiddenToAvatar{0}", toUserId)).Value(toUser.AvatarUrl)
)
)
