﻿@using Ext.Net.MVC
@using Ext.Net
@using iDAS.Service;
@{
    var X = Html.X();
    var currentUser = ViewData["CurrentUser"] as EmployeeBO;
    var toUser = ViewData["ToUser"] as EmployeeBO;
    var toUserId = toUser.Id.ToString().Replace("-", "");
    var windowId = string.Format("windowSingleChat{0}", toUserId);
    var panelChatId = string.Format("ulSingleChat{0}", toUserId);
}
<style>
    .cmsg {
        list-style: none;
        padding: 0px;
    }
    .cmsg li {
        margin: 1px 6px 1px 6px;
        padding-bottom: 0px;
    }

        .cmsg li.left .cmsg-body {
            margin-left: 35px;
            margin-right: 55px;
            max-width: 140px;
        }

        .cmsg li.right .cmsg-body {
            margin-left: 55px;
            margin-right: 5px;
            max-width: 140px;
        }
        .cmsg li.left .cmsg-body p.pshow {
            margin: 0;
            font-size: 11px;
            color: #fff;
            display: inline-block;
            background-color: rgba(33, 150, 243, 0.76);
            border-bottom-right-radius: 12px;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
            padding: 3px 10px 3px 10px;
            word-break: break-all;
            min-height: 27px;
        }

        .cmsg li.left .cmsg-body p.phide {
            margin: 0;
            font-size: 11px;
            color: #fff;
            display: inline-block;
            background-color: rgba(33, 150, 243, 0.76);
            border-bottom-right-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-left-radius: 12px;
            padding: 3px 10px 3px 10px;
            word-break: break-all;
            min-height: 27px;
        }

        .cmsg li.right .cmsg-body p.pshow {
            margin: 0;
            font-size: 11px;
            color: #fff;
            display: inline-block;
            background-color: rgba(33, 150, 243, 0.76);
            border-bottom-left-radius: 12px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            padding: 3px 10px 3px 10px;
            word-break: break-all;
            min-height: 27px;
        }

        .cmsg li.right .cmsg-body p.phide {
            margin: 0;
            font-size: 11px;
            color: #fff;
            display: inline-block;
            background-color: rgba(33, 150, 243, 0.76);
            border-bottom-left-radius: 12px;
            border-top-left-radius: 12px;
            border-bottom-right-radius: 12px;
            padding: 3px 10px 3px 10px;
            word-break: break-all;
            min-height: 27px;
        }
        .cmsg li.right .clsavatar {
            width: 30px;
            height: 30px;
        }
</style>
@(X.Window()
    .Title(toUser.Name)
    .ID(windowId)
    .Layout(LayoutType.Border)
    .CollapseToolText("Thu nhỏ")
    .ItemID("wdChart")
    .UIName("chat")
    .ExpandToolText("Phóng to")
    .HideCollapseTool(false)
    .CloseToolText("Đóng")
    .AnimCollapse(true)
    .Collapsible(true)
    .BodyPadding(0)
    .Margin(0)
    .IconCls("x-fa fa-comments")
    .Width(250)
    .MinWidth(200)
    .Height(250)
    .Listeners(ls =>
    {
        ls.Collapse.Handler = "showWindow(this);";
        ls.Expand.Handler = "this.el.slideIn('b', {duration : 500}); this.show();";
        ls.BeforeCollapse.Handler = "showWindow(this);";
        ls.Show.Handler = "showWindow(this);";
        ls.Close.Handler = "this.destroy(); reRender();";
    })
    .Items(
    X.DataView()
    .ID(string.Format("dvSingleChat{0}", toUserId))
    .Margin(-1)
    .LoadingText("Đang tải...")
    .Region(Region.Center)
    .LoadMask(false)
    .ItemSelector("li.clearfix")
    .Store(X.Store()
        .ID(string.Format("storeSingleChat{0}", toUserId))
        .AutoLoad(true)
        .Model(X.Model()
            .Fields(
                X.ModelField().Name("Id").Type(ModelFieldType.Auto),
                X.ModelField().Name("Content").Type(ModelFieldType.String)
            )
        )
        .Proxy(X.AjaxProxy().Url(Url.Action("GetData"))
        .Reader(X.JsonReader().RootProperty("data")).IDParam("Id"))
        .Parameters(pr => pr.Add(new StoreParameter() { Name = "userId", Value = toUser.Id.ToString() }))
            .Listeners(
                    ls => ls.Load.Handler = @"scrollToBottom('#" + panelChatId + "')"
            )
        )
        .Cls("img-chooser-view")
        .OverItemCls("x-view-over")
        .ItemSelector("div.thumb-wrap")
        .EmptyText(@"<div style='text-align:center'>
                    <div class='emptyClass'></div>
                    <div style='font-size: 0.9em'>Không có tin nhắn nào</div>
                </div>")
        .TrackOver(true)
        .Tpl(
            X.XTemplate()
                .Html(
                @<text>
                    <div style='height:100%; overflow-y: scroll;' touser="@toUser.Id" area-type="chatSingle">
                        <ul class='cmsg' id="@panelChatId">
                            <tpl for=".">
                                <tpl if='IsCurrentUser == false'>
                                    <li class='left clearfix'>
                                        <span class='pull-left'>
                                            <tpl if='ShowAvartar == true'>
                                                <img width='30' height='30' src='@toUser.AvatarUrl' class='img-circle' title='@toUser.Name' />
                                            </tpl>
                                        </span>
                                        <div class='cmsg-body clearfix'>
                                            <tpl if='ShowAvartar == true'>
                                                <p class="pshow" title='{TimeSend}'>
                                                    {Content}
                                                </p>
                                            </tpl>
                                            <tpl if='ShowAvartar == false'>
                                                <p class="phide" title='{TimeSend}'>
                                                    {Content}
                                                </p>
                                            </tpl>
                                        </div>
                                    </li>
                                </tpl>
                                <tpl if='IsCurrentUser == true'>
                                    <li class='right clearfix'>
                                        <span class='pull-right clsavatar'>
                                            <tpl if='ShowAvartar == true'>
                                                <img width='30' height='30' src='@currentUser.AvatarUrl' class='img-circle' title='Tôi' />
                                            </tpl>
                                        </span>
                                        <div class='pull-right cmsg-body clearfix'>
                                            <tpl if='ShowAvartar == true'>
                                                <p class="pshow pull-right" title='{TimeSend}'>
                                                    {Content}
                                                </p>
                                            </tpl>
                                            <tpl if='ShowAvartar == false'>
                                                <p class="phide pull-right" title='{TimeSend}'>
                                                    {Content}
                                                </p>
                                            </tpl>
                                        </div>
                                    </li>
                                </tpl>
                            </tpl>
                        </ul>
                    </div>
                </text>
            )
        ),
    X.TextField()
    .Region(Region.South)
    .Height(40)
    .MarginSpec("0 -1 -1 -1")
    .EnableKeyEvents(true)
    .EmptyText("Nhập nội dung ở đây...")
    .Listeners(ls =>
    {
        ls.KeyPress.Buffer = 400;
        ls.KeyPress.Handler = "if(e.getKey() == e.ENTER){SendMessage(this); this.setValue('');}";
    })
    .RightButtons(Html.X().Button().IconCls("x-fa fa-send").Width(30).Handler("SendMessage(this.findParentByType('textfield'))")
    .Border(false)),
    X.Hidden().ID(string.Format("hiddenToId{0}", toUserId)).Value(toUser.Id),
    X.Hidden().ID(string.Format("hiddenToUser{0}", toUserId)).Value(toUser.UserName),
    X.Hidden().ID(string.Format("hiddenToAvatar{0}", toUserId)).Value(toUser.AvatarUrl)
    )
)
