﻿<!DOCTYPE html>
@using Ext.Net
@using Ext.Net.MVC
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="~/Scripts/SystemScript/system-script.js"></script>
</head>
<body>
    @Html.X().ResourceManager()
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>