﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@using iDAS.Service;
@model DocumentRequestBO
@{
    var X = Html.X();
    var lstTypeRequestDocument = ViewData["TypeRequestDocument"];
}
@(X.GridPanelPaggingShortFormat()
    .ID("gridDocumentApproval")
    .TopBarItem(
      X.Button()
         .Text("Chức năng")
                .Menu(X.Menu()
                    .Items(
                            X.MenuItem()
                            .Text("Phê duyệt")
                            .OnClientClick("showRequestApproval")
                            .IconCls("x-fa fa-check"),
                            X.MenuItem()
                            .Text("Gửi ban hành")
                            .OnClientClick("SendRequestPublish")
                            .IconCls("x-fa fa-send"),
                            X.MenuItem()
                            .Text("Yêu cầu tạo mới")
                           .DirectClickAction("RequestCreate", "Request")
                            .IconCls("x-fa fa-external-link")
                    )
                ),
        X.ToolbarFill(),
                X.CycleButtonFormat()
                .ID("cbApprovalSatus")
                .ShowText(true)
                .PrependText("Lọc theo loại: ")
                .MenuSource(lstTypeRequestDocument)
                .Listeners(ls => ls.Change.Handler = "App.gridDocumentApproval.getStore().reload();")
    )
    .Store(X.StoreFormat()
    .ID("stApproval")
    .Listeners(ls =>
    {
        ls.BeforeLoad.Handler = "App.loadDocumentApproval.show();";
        ls.Load.Handler = "App.loadDocumentApproval.hide();";
                 })
        .Url(Url.Action("GetDataDocumentRequest", "Document", new { Area = "Document" })).ModelType(typeof(DocumentRequestBO))
            .Parameters(ps =>
                {
                    ps.Add(new StoreParameter("type", "App.cbApprovalSatus.activeItem.itemId", ParameterMode.Raw));
                })
        )
    .ColumnModel(
            X.RowNumbererColumnFormat().Width(35),
            X.ColumnFileFormat(m => m.FileAttachs.Files).Width(35),
            X.ColumnEncodeFormat().Text("Tên tài liệu").DataIndex(Model, m => m.DocumentName).Flex(1)
            .Renderer(new Renderer
                    {
                        Fn = "function(value, meta, record) {return '<span><span>Mã: <b>'+ Ext.htmlEncode(record.data.CodeDocument) +'</b></span> | <span>'+ Ext.htmlEncode(value) +'</span></span> <br/> <span>Loại: <span  style=\"color:#001df9\"> '+ Ext.htmlEncode(record.data.TypeText) +' </span></span> <br/><span>Trạng thái: <span style=\"color:#2e9a0c\">'+ Ext.htmlEncode(record.data.StatusText) +' </span/></span>'; }"
                    })
        ).HideHeaders(true)
)
<script>
    var showRequestApproval = function () {
        var record = App.gridDocumentApproval.selModel.getSelection();
        if (record != null) {
            var id = record[0].data.Id;
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("Form", "RequestApproval", new { Area = "Document" }))',
                params: { id: id }
                });
               }
    };

    var SendRequestPublish = function () {
        var record = App.gridDocumentApproval.selModel.getSelection();
        if (record != null) {
            var id = record[0].data.Id;
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("SendRequestPublish", "Publish", new { Area = "Document" }))',
                params: { id: id }
            });
        }
    };
  </script>