﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentReviewSuggestBO
@{
    var X = Html.X();
}
@(X.Window()
    .Modal(false)
    .Listeners(
        ls =>
        {
            ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight()/2 - 50);this.setWidth(App.ctDesktop.getWidth()/3); this.alignTo(App.ctDesktop,'br-br'); this.el.slideIn('b',{duration : 500});";
            ls.BeforeClose.Handler = "App.windowChooseReviewer.el.slideOut('b',{duration : 500}); return false;";
            ls.MaskClick.Handler = "App.windowChooseReviewer.el.slideOut('b',{duration : 500});setTimeout(function(){App.windowChooseReviewer.doDestroy();},500);";
        })
    .ID("windowChooseReviewer")
    .Header(false)
    .IconCls("x-fa fa-check-square").Layout(LayoutType.Fit)
    .Items(
        //X.Container().ItemID("loadMask1").Border(false).Height(2).Hidden(true)
        //    .Html("<div class='load-bar'><div class='bar'></div><div class='bar'></div></div>"),
        //X.Container().ItemID("loadMaskEmpty1").Border(false).Height(2).Hidden(false),
        X.FormPanelVBoxFormat()
        .BodyPadding(5)
        .Items(
            X.HiddenFor(m => m.Id),
            X.FieldSet()
            .Padding(3)
            .MarginSpec("0 0 5 0")
                .Title("Người kiểm tra")
                .Items(
                    X.EmployeeFieldFor(u => u.EmployeeApproveBy)
                        .UrlEmployeeStore(Url.Action("GetData", "Employee", new { area = "Generic" }))
                        .AllowBlank(false)
                ),
            X.TextAreaFor(m => m.Note).ID("txtReviewSuggestNote").MarginSpec("5 0 10 0").Flex(1).Note("Nội dung đề nghị kiểm tra").NoteAlign(NoteAlign.Top)
            .HideLabel(true).EmptyText("Nội dung đề nghị kiểm tra")
        ).Buttons(
            X.Button().Text("Thu hồi")
                .IconCls("x-fa fa-arrow-left"),
            X.Button().Text("Gửi").IconCls("x-fa fa-arrow-right"),
            X.ButtonExit().Handler("App.windowChooseReviewer.el.slideOut('b',{duration : 500}); return false;")
        )
    )
)
