﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@using iDAS.Service;
@model DocumentBO
@{
    var X = Html.X();
   var status = (List<Ext.Net.ListItem>)ViewData["Status"];
    var formId = "formUpdateDocument";

}
@(X.WindowFormat().ID("windowAddDocument").Draggable(false).Title(Model.Id == Guid.Empty ? "Thêm mới tài liệu" : "Cập nhật thông tin tài liệu").IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
    .Listeners(ls => ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth()*1/2);this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});")
    .Items(
        X.FormPanelVBoxFormat().ID(formId).BodyPadding(2).ActiveIndex(0)
        .TopBar(
        X.Toolbar().StyleSpec("padding-bottom:0px;padding-top:0px")
        .Items(
            X.TabStrip().WidthSpec("100%")
            .Items(t =>
            {
                t.Add(X.Tab().ActionItemID("fsDocumentInfo").IconCls("x-fa fa-info-circle").TabID("tbpnDocumentPemission").Text("Thông tin tài liệu"));
                t.Add(X.Tab().ActionItemID("fsDocumentPublishInfo").IconCls("x-fa fa-ioxhost").TabID("tbpnRight").Text("Thông tin ban hành"));
                t.Add(X.Tab().ActionItemID("fsDocumentArchiveInfo").IconCls("x-fa fa-database").TabID("tbpnArchive").Text("Thông tin lưu trữ"));

            }),
                X.ToolbarFill())
            )
        .Items(
        X.HiddenFor(m => m.Id),
        X.HiddenFor(m => m.IsExist).Value(Model.Id == Guid.Empty ? true : Model.IsExist),
        X.HiddenFor(m => m.CategoryId),
        X.HiddenFor(m => m.DistributeCategoryIds),
        X.HiddenFor(m => m.CategoryType).Value(iDAS.Service.Common.Resource.DocumentCategoryType.External),
        X.HiddenFor(m => m.IsExternal).ID("hiddenIsExternal"),
        X.FieldSetVBox().Flex(1).Border(false).ID("fsDocumentInfo")
        .Items(
            X.TextFieldFor(m => m.Name).EmptyText(Resource.DocumentName).AllowBlank(false).HideLabel(true).MarginSpec("0 0 0 0").Note(Resource.DocumentName + Html.Required()).NoteAlign(NoteAlign.Top),
            X.ContainerHBoxTop().MarginSpec("5 0 0 0").Items(
            X.TextFieldFor(m => m.Code).Flex(3).HideLabel(true).Note(Resource.DocumentCode).NoteAlign(NoteAlign.Top).MaxLength(50).MaxLengthText("Không được nhập quá 50 ký tự.").EmptyText(Resource.DocumentCode),
            X.TextFieldFor(m => m.Version).Flex(2).HideLabel(true).MarginSpec("0 0 0 5").EmptyText(Resource.DocumentVersion).Note(Resource.DocumentVersion).NoteAlign(NoteAlign.Top)
            ),
        X.ContainerHBoxTop().MarginSpec("5 0 0 0")
        .Items(         
                X.ComboBoxFor(m => m.SecurityId).ID("cbbSecurity").Flex(3).EmptyText(Resource.DocumentSecurity).HideLabel(true).Note(Resource.DocumentSecurity)
                .RightButtons(X.Button().IconCls("x-fa fa-plus-circle").Handler("SecurityForm(this)"))
                .LeftButtons(X.Button().ID("btnSelectSecurityColor").Width(30))
                .NoteAlign(NoteAlign.Top).TypeAhead(true).QueryMode(DataLoadMode.Local).ForceSelection(true)
                .TriggerAction(TriggerAction.All).DisplayField("Name").ValueField("Id").ValueNotFoundText("Đang tải...")
                .ListConfig(X.BoundList()
                        .LoadingText("Tìm kiếm...")
                        .ItemTpl(X.XTemplate()
                        .Html(@"<text>
                            <span>
                            <span style='width: 20px; height: 20px; margin-top:5px; border-radius: 50%; position: absolute; border: 1px solid; background:{Color}'> </span>
                            <span style='margin-left: 44px;'>{Name}</span><br/>
                            </span>
                            </text>")
                            )
                        )
                .Listeners(ls => ls.Change.Handler = "selectColor(item, newValue, oldValue)")
                .Store(X.Store().ID("storeSecurity").AutoLoad(true)
                .Model(X.Model().IDProperty("Id")
                .Fields(
                    new ModelField("Id"),
                    new ModelField("Name"),
                    new ModelField("Color")
                    ))
                .Proxy(X.AjaxProxy().Url(Url.Action("GetAll", "Security")).Reader(X.JsonReader().RootProperty("data"))))
                ,
                X.ComboBoxFor(m => m.SelectStatus).Items(status).Flex(2).MarginSpec("0 0 0 5").HideLabel(true).EmptyText(Resource.DocumentStatus).Note(Resource.DocumentStatus).NoteAlign(NoteAlign.Top)
                ),
                X.FileUploadFieldFor(m => m.FileAttachs).Note("Đính kèm tệp nội dung tài liệu (nếu có)").MarginSpec("5 0 0 0"),
                X.TextAreaDecodeFor(m => m.ShortContent).Flex(1).HideLabel(true).EmptyText(Resource.DocumentShortContent).Note(Resource.DocumentShortContent)
                    .NoteAlign(NoteAlign.Top).MarginSpec("8 0 10 0")
                ),
                X.FieldSetVBox().Border(false).Flex(1).ID("fsDocumentPublishInfo")
                .Items(
                    X.ContainerHBoxTop()
                    .Items(
                        X.ContainerHBoxTop().Flex(1)
                        .Items(
                                X.ComboBox().ID("cbbSelectType").MarginSpec("0 0 5 0").Note("Nơi ban hành").NoteAlign(NoteAlign.Top).SelectedItems(new ListItem("Tổ chức", "False")).QueryMode(DataLoadMode.Local).TriggerAction(TriggerAction.All)
                            .Listeners(ls =>
                            {
                                ls.Select.Handler = @"if(this.value =='True')
                                {App.txtExternal.show();App.treePublishFromDepartment.hide();}
                                else{App.txtExternal.hide();App.treePublishFromDepartment.show();}
                                App.hiddenIsExternal.setValue(this.value);";
                            })
                                .Items(
                                        new ListItem("Trong tổ chức", "False"),
                                        new ListItem("Từ bên ngoài", "True")
                                 ),
                    X.TextFieldFor(m => m.PublishFrom).MarginSpec("0 0 5 5").Flex(2).Hidden(Model.IsExternal != true).ID("txtExternal").HideLabel(true).EmptyText(Resource.DocumentExternalPublishName).Note(Resource.DocumentExternalPublishName).NoteAlign(NoteAlign.Top),
                   ///X.ComboboxTreeFormat().Multiple(false).AllowBlank(true).Note(Resource.DocumentExternalPublishName).NoteAlign(NoteAlign.Top).Hidden(Model.IsExternal == true).MarginSpec("0 0 5 5").Flex(2).ID("treePublishFromDepartment").Listeners(ls => ls.Change.Handler = " getDepartmentId();")
                    //.Value(Model.DepartmentId).Text(Model.DepartmentName)
                        X.ComboBoxFor(m => m.DepartmentId).Flex(2).EmptyText("Chọn phòng ban").HideLabel(true).Note("Chọn phòng ban ban hành").MarginSpec("0 0 5 5")
                        .NoteAlign(NoteAlign.Top).TypeAhead(true).QueryMode(DataLoadMode.Local).ForceSelection(true)
                        .TriggerAction(TriggerAction.All).DisplayField("Name").ValueField("Id").ValueNotFoundText("Đang tải...")
                        .Store(X.Store().ID("storeDepartment").AutoLoad(true)
                        .Model(X.Model().IDProperty("Id")
                        .Fields(
                            new ModelField("Id"),
                            new ModelField("Name")
                            
                            ))
                            .Proxy(X.AjaxProxy().Url(Url.Action("GetDepartmentCanUpdate")).Reader(X.JsonReader().RootProperty("data"))))
                    )
                ),
                X.ContainerHBoxTop()
                .Items(
                   X.DateFieldFormatFor(m => m.PublishAt).MarginSpec("0 0 0 0").Flex(1).HideLabel(true).EmptyText(Resource.DocumentPublishDate).Note(Resource.DocumentPublishDate).NoteAlign(NoteAlign.Top),
                   X.NumberFieldFor(m => m.Revision).MarginSpec("0 0 0 5").Width(140).Flex(1).HideLabel(true).EmptyText(Resource.DocumentPublishTime).Note(Resource.DocumentPublishTime).NoteAlign(NoteAlign.Top).MinValue(1)
                    ),
                X.ContainerHBoxTop()
                .Items(
                    X.DateFieldFormatFor(m => m.ApplyAt).MarginSpec("5 0 0 0").Flex(1).HideLabel(true).EmptyText(Resource.DocumentApplyDate)
                        .Note(Resource.DocumentApplyDate).NoteAlign(NoteAlign.Top),
                    X.DateFieldFormatFor(m => m.ExpireAt).MarginSpec("5 0 0 5").Flex(1).HideLabel(true).EmptyText(Resource.DocumentExpireDate)
                        .Note(Resource.DocumentExpireDate).NoteAlign(NoteAlign.Top).ValidateGrandOrEqual("ApplyAt")
                ),
                X.TextAreaFor(m => m.Note).MarginSpec("13 0 10 0").Note("Ghi chú").NoteAlign(NoteAlign.Top).HideLabel(true).Flex(1)),
         X.FieldSetVBox().Border(false).ID("fsDocumentArchiveInfo").Flex(1)
            .Items(
                X.HiddenFor(m => m.Archive.Id),
                X.HiddenFor(m => m.Archive.DocumentId).Value(Model.Id),
                X.TextAreaFor(m => m.Archive.Position).EmptyText("Vị trí lưu trữ").HideLabel(true).MarginSpec("0 0 5 0").Note("Vị trí lưu trữ").NoteAlign(NoteAlign.Top),
                X.ContainerHBoxTop().MarginSpec("0 0 0 0")
                .Items(
                    X.DateFieldFor(m => m.Archive.StartAt).MinDate(Model.CreateAt.HasValue ? Model.CreateAt.Value : DateTime.Now).SelectedDate(DateTime.Now).Note("Ngày lưu trữ").NoteAlign(NoteAlign.Top).HideLabel(true).Format("dd/MM/yyyy").MarginSpec("0 0 0 0").Flex(1),
                    X.NumberFieldFor(m => m.Archive.DurationMonth).MinValue(1).HideLabel(true).EmptyText("Thời hạn lưu trữ").MinValue(0).Note("Thời hạn lưu trữ (tháng)").NoteAlign(NoteAlign.Top).MarginSpec("0 0 0 5").Flex(1)
                ),
                X.NumberFieldFor(m => m.Archive.Quantity).MinValue(1).MinValue(1).HideLabel(true).EmptyText("Số trang lưu trữ").Note("Số trang lưu trữ").NoteAlign(NoteAlign.Top).MarginSpec("5 0 0 0"),
                X.TextAreaFor(m => m.Archive.Note).Flex(1).HideLabel(true).EmptyText("Ghi chú").Note("Ghi chú").NoteAlign(NoteAlign.Top).MarginSpec("15 0 10 0")
                )
        )
        .Buttons(
            X.ButtonSave().Hidden(Model.Id != Guid.Empty && Model.IsExist == true && Model.IsWaitPublish == true)
            .DirectEvents(de =>
            {
                de.Click.FormID = formId;
                de.Click.Url = Url.Action(Model.Id == Guid.Empty ? "CreateDocument" : "UpdateDocument");
                de.Click.Success = "if(result.result == true){this.up('window').doDestroy(); if(App.storeDocuments) App.storeDocuments.reload();}";

            }),
                X.ButtonExit()
        )
    )
)

<script>
    var selectColor = function (item, newValue, oldValue) {
        var selectItem = App.storeSecurity.data.find('Id', newValue).data;
        if (App.btnSelectSecurityColor) {
            
            App.btnSelectSecurityColor.getEl().dom.style.background = selectItem.Color;
            App.btnSelectSecurityColor.getEl().dom.style.borderRadius = "50%";
            App.btnSelectSecurityColor.getEl().dom.style.margin = "6px 0 0 5px";
            App.btnSelectSecurityColor.getEl().dom.style.width = "20px";
            App.btnSelectSecurityColor.getEl().dom.style.height = "20px";
        }
    };

    var SecurityForm = function (btn) {
        var securityId = btn.up("combobox").getId();
        var storeId = btn.up("combobox").getStore().storeId;
        var url = '@Url.Action("Form","Security")';
        var params = { alignTo: securityId, renderTo: "windowAddDocument" , storeId : storeId};
        onDirectMethod(url, params);
    };
    var getDepartmentId = function () {
        var d = App.treePublishFromDepartment.getValue();
        if (d) {
            if (d.indexOf("Department_") >= 0) {
                var departmentId = d.replace('Department_', '');
                App.hiddenDepartmentId.setValue(departmentId);
            } else {
                App.hiddenDepartmentId.setValue(d);
            }
        } else {
            return null;
        }
    };
</script>