﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
    var title = Model.AllowCreate ? "Thêm tài liệu nội bộ"
        : Model.AllowUpdate ? "Cập nhật tài liệu nội bộ"
        : "Thông tin tài liệu nội bộ";
}

@(X.WindowFormat().ID("windowDocument").Modal(true).Draggable(false).Title(title).IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
.Listeners(
ls =>
{
    ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth()/2); this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
    ls.BeforeClose.Handler = "App.windowDocument.el.slideOut('r',{duration : 500}); return false;";
})
    .Items(
        X.FormPanelVBoxFormat().ID(formId).BodyPadding(6)
        .Items(
                X.HiddenFor(m => m.Id),
                X.HiddenFor(m => m.CategoryId),
                X.HiddenFor(m => m.IsExist).Value(true),
                X.HiddenFor(m => m.DistributeCategoryIds),
                X.HiddenFor(m => m.DepartmentId),
                X.HiddenFor(m => m.IsPublish).Value(true),
                X.HiddenFor(m => m.CategoryType).Value(iDAS.Service.Common.Resource.DocumentCategoryType.Internal),
                X.FieldSetVBox().Title("Thông tin tài liệu").Flex(1).Items(
                X.TextFieldFor(m => m.CategoryName).ReadOnly(true).MarginSpec("0 0 0 0").HideLabel(true).EmptyText(Resource.DocumentCategory).Note(Resource.DocumentCategory).NoteAlign(NoteAlign.Top),
                X.ContainerHBoxTop().MarginSpec("5 0 0 0")
                .Items(
                    X.TextFieldFor(m => m.Code).ID("txtCode").AllowBlank(false).Flex(3).HideLabel(true).Note(Resource.DocumentCode).NoteAlign(NoteAlign.Top).MaxLength(50).MaxLengthText("Không được nhập quá 50 ký tự.").EmptyText(Resource.DocumentCode),
                    X.TextFieldFor(m => m.Version).ID("txtVersion").AllowBlank(false).Flex(2).HideLabel(true).MarginSpec("0 0 0 5").EmptyText(Resource.DocumentVersion).Note(Resource.DocumentVersion).NoteAlign(NoteAlign.Top)
                ),
                    X.TextFieldFor(m => m.Name).ID("txtName").EmptyText(Resource.DocumentName).AllowBlank(false).HideLabel(true).MarginSpec("5 0 5 0").Note(Resource.DocumentName).NoteAlign(NoteAlign.Top),
                    X.ContainerHBoxTop().ID("containerSecurity").MarginSpec("0 0 0 0")
                        .Items(
                         X.ComboBoxFor(m => m.SecurityId).ID("cbbSecurity").Flex(3).EmptyText(Resource.DocumentSecurity).HideLabel(true).Note(Resource.DocumentSecurity)
                        .RightButtons(X.Button().IconCls("x-fa fa-plus-circle").Handler("SecurityForm(this)"))
                        .LeftButtons(X.Button().ID("btnSelectSecurityColor").Width(30))
                        .NoteAlign(NoteAlign.Top).TypeAhead(true).QueryMode(DataLoadMode.Local).ForceSelection(true)
                        .TriggerAction(TriggerAction.All).DisplayField("Name").ValueField("Id").ValueNotFoundText("Đang tải...")
                        .ListConfig(X.BoundList()
                        .LoadingText("Tìm kiếm...")
                        .ItemTpl(X.XTemplate()
                        .Html(@"<text>
                            <span>
                            <span style='width: 20px; height: 20px; margin-top:5px; border-radius: 50%; position: absolute; border: 1px solid; background:{Color}'> </span>
                            <span style='margin-left: 44px;'>{Name}</span><br/>
                            </span>
                            </text>")
                            )
                        )
                .Listeners(ls => ls.Change.Handler = "selectColor(item, newValue, oldValue)")
                .Store(X.Store().ID("storeSecurity").AutoLoad(true)
                .Model(X.Model().IDProperty("Id")
                .Fields(
                    new ModelField("Id"),
                    new ModelField("Name"),
                    new ModelField("Color")
                    ))
                .Proxy(X.AjaxProxy().Url(Url.Action("GetAll", "Security")).Reader(X.JsonReader().RootProperty("data")))),
                    X.Container().MarginSpec("1 0 0 5").Flex(2).Items(
                    X.CheckboxGroup().Note("Dạng lưu trữ").Width(250).Flex(1).NoteAlign(NoteAlign.Top).Layout(LayoutType.HBox).Items(
                    X.CheckboxFor(m => m.IsHard).MarginSpec("0 0 0 5").BoxLabel("Dạng bản cứng").HideLabel(true).Flex(1),
                    X.CheckboxFor(m => m.IsSoft).BoxLabel("Dạng bản mềm").HideLabel(true).Flex(1).Checked(true)
                    ))),
                X.ContainerHBoxTop()
                .MarginSpec("-3 0 0 0")
                .Items(
                    X.FileUploadFieldFor(m => m.FileAttachs).Flex(1)),
                    X.TextAreaDecodeFor(m => m.ShortContent).ID("txtShortContent").Flex(1).HideLabel(true).EmptyText(Resource.DocumentShortContent).Note(Resource.DocumentShortContent).NoteAlign(NoteAlign.Top).MarginSpec("8 0 10 0")
                ),
                X.FieldSetVBox().Title("Thông tin ban hành").Items(
                X.ContainerHBox().Items(
                        X.DateFieldFormatFor(m => m.PublishAt).ID("dfPublishDate").MarginSpec("0 0 0 0").Flex(1).HideLabel(true).EmptyText(Resource.DocumentPublishDate).Note(Resource.DocumentPublishDate).NoteAlign(NoteAlign.Top),
                    X.TextFieldFor(m => m.Revision).ID("dfPublishTime").MarginSpec("0 0 0 5").Flex(1).HideLabel(true).EmptyText(Resource.DocumentPublishTime).Note(Resource.DocumentPublishTime).NoteAlign(NoteAlign.Top)
                    ),
                X.ContainerHBox().Items(
                            X.DateFieldFormatFor(m => m.ApplyAt).ID("dfApplyDate").ValidateTarget("dfExpireDate").MarginSpec("5 0 0 0").Flex(1).HideLabel(true).EmptyText(Resource.DocumentApplyDate).Note(Resource.DocumentApplyDate).NoteAlign(NoteAlign.Top),
                            X.DateFieldFormatFor(m => m.ExpireAt).ID("dfExpireDate").ValidateGrandThan("dfApplyDate").MarginSpec("5 0 0 5").Flex(1).HideLabel(true).EmptyText(Resource.DocumentExpireDate).Note(Resource.DocumentExpireDate).NoteAlign(NoteAlign.Top)
                    )
            )
        ))
        .Buttons(
            X.ButtonSave().FormID(formId)
            .Url(Url.Action(Model.AllowCreate ? "Create" : "Update"))
            .Hidden(!Model.AllowCreate && !(Model.AllowUpdate && Model.IsPublish == true))
            .SuccessHandle("if(result.result == true){  WindowSlideOut(App.windowDocument);} onSaveDocumentSuccess();", false),
            X.ButtonSlideOut()
        )
)

<script>
    var selectColor = function (item, newValue, oldValue) {
        var selectItem = App.storeSecurity.data.find('Id', newValue).data;
        if (App.btnSelectSecurityColor) {
            App.btnSelectSecurityColor.getEl().dom.style.background = selectItem.Color;
            App.btnSelectSecurityColor.getEl().dom.style.borderRadius = "50%";
            App.btnSelectSecurityColor.getEl().dom.style.margin = "6px 0 0 5px";
            App.btnSelectSecurityColor.getEl().dom.style.width = "20px";
            App.btnSelectSecurityColor.getEl().dom.style.height = "20px";
        }
    };

    var SecurityForm = function (btn) {
        var securityId = btn.up("combobox").getId();
        var storeId = btn.up("combobox").getStore().storeId;
        var url = '@Url.Action("Form","Security")';
        var params = { alignTo: securityId, renderTo: "windowAddDocument", storeId: storeId };
        onDirectMethod(url, params);
    };
</script>