﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@using iDAS.Service;
@model DocumentBO
@{
    var X = Html.X();
}
@(X.GridPanelPaggingShortFormat()
    .ID("gridDocumentPublish")
    .TopBarItem(
    
    X.Button()
            .Text("Chức năng")
            .Menu(X.Menu()
                    .Items(
                        X.MenuItem()
                        .Text("Ban hành")
                        .DirectClickAction("Form", "Publish", new { area = "Document" })
                        .IconCls("x-fa fa-bullhorn"),
                        X.MenuItem()
                        .Text("Phân phối")
                        .IconCls("x-fa fa-share-alt"),
                        X.MenuItem()
                        .Text("Yêu cầu thu hồi")
                        .IconCls("x-fa fa-pencil"),
                        X.MenuItem()
                        .Text("Thu hồi")
                        .IconCls("x-fa fa-ban")
                )
            ),
            X.ToolbarFill(),
            X.CycleButtonFormat()
            .ShowText(true)
            .PrependText("Trạng thái: ")
            
            .Menu(X.Menu()
                .Items(
                    X.CheckMenuItem()
                        .Text("Tất cả")
                        .IconCls("x-fa fa-filter")
                        .Checked(true),
                    X.CheckMenuItem()
                        .Text("Mới")
                        .IconCls("x-fa fa-filter"),
                    X.CheckMenuItem()
                        .Text("Đã ban hành")
                        .IconCls("x-fa fa-filter"),
                    X.CheckMenuItem()
                        .Text("Chờ thu hồi")
                        .IconCls("x-fa fa-filter"),
                    X.CheckMenuItem()
                        .Text("Đã thu hồi")
                        .IconCls("x-fa fa-filter")
                )
            )
    )
    .Store(X.StoreFormat()
    .Listeners(ls =>
                {
                    ls.BeforeLoad.Handler = "App.loadDocumentPublish.show();";
                    ls.Load.Handler = "App.loadDocumentPublish.hide();";
                })
    .Url(Url.Action("GetData", "Document", new { Area = "Document" })).ModelType(typeof(DocumentBO)))
    .ColumnModel(
        X.RowNumbererColumnFormat().Width(35),
        X.ColumnFileFormat(m => m.FileAttachs.Files).Width(35),
        X.Column().Text("Tên tài liệu").DataIndex(Model, m => m.Name).Flex(1)
        .Renderer(new Renderer
                {
                    Fn = "function(value, meta, record) {return '<span><span>Mã: <b>'+ Ext.htmlEncode(record.data.Code) +'</b></span> | <span>'+ Ext.htmlEncode(value) +'</span></span> <br/><span>Trạng thái: <span style=\"color:#2e9a0c\">Đã duyệt</span/></span>'; }"
                })
        ).HideHeaders(true)
        .Listeners(ls => ls.SelectionChange.Handler = "refreshMenuDocumentPublish(selected);")
)
<script>
    var refreshMenuDocumentPublish = function (selected) {
        switch (selected.length) {
        }
    }
</script>
