﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@using iDAS.Service;
@model DispatchArchiveBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
    var Type = (List<Ext.Net.ListItem>)ViewData["Type"];
    var FormalitySave = (List<Ext.Net.ListItem>)ViewData["FormalitySave"];
}
@(X.WindowSlide().WindowLayout(LayoutType.VBox)
    .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.65 })
    .Modal(true).ID("windowAddDispatchArchive")
    .Title(Model.Id == Guid.Empty ? "Lưu trữ công văn" : "Cập nhật lưu trữ")
    .IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
    .Items(
        X.ContainerHBox().Flex(1).Padding(5)
        .Items(
            X.FieldSetVBox().Flex(1).Title("Thông tin công văn")
            .Items(
                X.TextFieldFor(m => m.DispatchName).Note("Tên công văn").EmptyText("Tên công văn").ReadOnly(true)
                    .NoteAlign(NoteAlign.Top).HideLabel(true).MarginSpec("0 0 0 0").ID("txtDispatchName"),
                X.ContainerHBoxTop().MarginSpec("5 0 0 0")
                .Items(
                    X.TextFieldFor(m => m.DispatchCode).Note("Số, ký hiệu").ReadOnly(true).Flex(1)
                        .NoteAlign(NoteAlign.Top).HideLabel(true).MarginSpec("0 0 0 0").EmptyText("Số, ký hiệu"),
                    X.DateFieldFormatFor(m => m.Dispatch.Sentdate).EmptyText("Ngày tháng CV").ReadOnly(true).HideLabel(true).MarginSpec("0 0 0 5")
                        .Note("Ngày tháng CV").NoteAlign(NoteAlign.Top).Flex(1)
                ),
                X.ContainerHBoxTop().MarginSpec("5 0 0 0")
                .Items(
                    X.ComboBoxFor(m => m.Dispatch.SecurityId).ID("cbbSecurity").Flex(1).EmptyText("Độ mật").HideLabel(true).Note("Độ mật").MarginSpec("0 0 0 0")
                    .NoteAlign(NoteAlign.Top).TypeAhead(true).QueryMode(DataLoadMode.Local).ForceSelection(true).ReadOnly(true)
                    .TriggerAction(TriggerAction.All).DisplayField("Name").ValueField("Id").ValueNotFoundText("Đang tải...")
                    .ListConfig(X.BoundList()
                        .LoadingText("Tìm kiếm...")
                        .ItemTpl(X.XTemplate()
                        .Html(@"<text>
                            <span>
                            <span style='width: 20px; height: 20px; margin-top:5px; border-radius: 50%; position: absolute; border: 1px solid; background:{Color}'> </span>
                            <span style='margin-left: 44px;'>{Name}</span><br/>
                            </span>
                            </text>")
                            )
                        )
                    .Store(X.Store().ID("storeSecurity").AutoLoad(true)
                    .Model(X.Model().IDProperty("Id")
                    .Fields(
                        new ModelField("Id"),
                        new ModelField("Name"),
                        new ModelField("Color")
                        ))
                    .Proxy(X.AjaxProxy().Url(Url.Action("GetAll", "Security", new { Area = "Dispatch" })).Reader(X.JsonReader().RootProperty("data")))),
             X.ComboBoxFor(m => m.Dispatch.UrgencyId).ID("cbbUrgencyId").Flex(1).EmptyText("Độ khẩn").HideLabel(true).Note("Độ khẩn").MarginSpec("0 0 0 5")
                .NoteAlign(NoteAlign.Top).TypeAhead(true).QueryMode(DataLoadMode.Local).ForceSelection(true).ReadOnly(true)
                .TriggerAction(TriggerAction.All).DisplayField("Name").ValueField("Id").ValueNotFoundText("Đang tải...")
                .ListConfig(X.BoundList()
                    .LoadingText("Tìm kiếm...")
                    .ItemTpl(X.XTemplate()
                    .Html(@"<text>
                        <span>
                        <span style='width: 20px; height: 20px; margin-top:5px; border-radius: 50%; position: absolute; border: 1px solid; background:{Color}'> </span>
                        <span style='margin-left: 44px;'>{Name}</span><br/>
                        </span>
                        </text>")
                        )
                    )
                    .Store(X.Store().ID("storeUrgency").AutoLoad(true)
                    .Model(X.Model().IDProperty("Id")
                    .Fields(
                        new ModelField("Id"),
                        new ModelField("Name"),
                        new ModelField("Color")
                        ))
                    .Proxy(X.AjaxProxy().Url(Url.Action("GetAll", "DispatchUrgency", new { Area = "Dispatch" })).Reader(X.JsonReader().RootProperty("data"))))
                ),
                X.ContainerHBoxTop().MarginSpec("5 0 0 0")
                .Items(
                    X.ComboBoxFor(m => m.Dispatch.SendmethodId)
                    .ID("cbbDispatchSendmethodId")
                    .TypeAhead(true)
                    .Note("Phương thức chuyển")
                    .NoteAlign(NoteAlign.Top)
                    .EmptyText("Chọn phương thức chuyển....")
                    .QueryMode(DataLoadMode.Local)
                    .ForceSelection(true)
                    .DisplayFieldEncodeFormat("Name")
                    .Flex(1).ReadOnly(true)
                    .HideLabel(true)
                    .TriggerAction(TriggerAction.All)
                    .DisplayField("Name")
                    .ValueField("Id")
                    .ValueNotFoundText("Loading...")
                    .Store(Html.X().Store()
                    .AutoLoad(true)
                    .Model(Html.X().Model()
                        .IDProperty("Id")
                        .Fields(
                            new ModelField("Id", ModelFieldType.String),
                            new ModelField("Name", ModelFieldType.String)
                        )
                    )
                    .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetAllData", "DispatchSendmethod", new { area = "Dispatch" }))
                    .Reader(Html.X().JsonReader().RootProperty("data")))
                    .Parameters(
                        pr =>
                        {
                            pr.Add(new StoreParameter("departmentId", "App.cbtreeDispatchDepartmentId.getValue()", ParameterMode.Raw));
                        })
                    ),
                    X.FileUploadFieldFor(m => m.Dispatch.FileAttachs).Note("Tệp đính kèm").MarginSpec("0 0 0 5").Flex(1)
                ),
                X.ContainerHBoxTop().MarginSpec("5 0 0 0").Items(
                    X.TextAreaFor(m => m.Dispatch.Recipients).EmptyText("Nơi nhận").NoteAlign(NoteAlign.Top).Height(80).ReadOnly(true).HideLabel(true).Flex(1).MarginSpec("5 0 10 0").Note("Nơi nhận"),
                    X.TextAreaFor(m => m.Dispatch.Content).EmptyText("Nội dung trích yếu").NoteAlign(NoteAlign.Top).Height(80).ReadOnly(true).HideLabel(true).MarginSpec("5 0 10 5").Flex(1).Note("Nội dung trích yếu")
                ),
                X.TextAreaFor(m => m.Dispatch.Note).EmptyText("Ghi chú").Flex(1).NoteAlign(NoteAlign.Top).ReadOnly(true).AllowBlank(false).HideLabel(true).MarginSpec("10 0 10 0").Note("Ghi chú")
            ),
            X.FormPanelVBoxFormat().Flex(1).ID(formId)
            .Items(
                X.FieldSetVBox().Flex(1)
                .Title("Thông tin lưu trữ")
                .Items(
                    X.HiddenFor(m => m.Id).ID("hdfDispatchArchiveId"),
                    X.HiddenFor(m => m.DispatchId).ID("hdfDispatchArchiveDispatchId"),
                    X.HiddenFor(m => m.DepartmentArchiveId).ID("hdfDispatchArchiveDepartmentArchiveId"),
                        X.HiddenFor(m => m.EmployeeArchiveId).ID("hdfDispatchArchiveEmployeeArchiveId"),
                    X.TextFieldFor(m => m.DepartmentArchiveName).Note("Phòng ban lưu trữ").ReadOnly(true)
                        .NoteAlign(NoteAlign.Top).HideLabel(true).MarginSpec("0 0 0 0").EmptyText("Phòng ban lưu trữ"),
                    X.ContainerHBoxTop().MarginSpec("5 0 0 0")
                    .Items(
                        X.DateFieldFormatFor(m => m.ArchiveDate).AllowBlank(false).MinDate(Model.ArchiveDate.HasValue ? Model.ArchiveDate.Value : DateTime.Now).Note("Ngày nộp lưu trữ").ID("dateDispatchArchiveDate")
                            .NoteAlign(NoteAlign.Top).HideLabel(true).Format("dd/MM/yyyy").MarginSpec("0 0 0 0").Flex(1).EmptyText("Ngày nộp lưu trữ"),
                        X.DateFieldFormatFor(m => m.DeadlineForArchiving).MinDate(Model.DeadlineForArchiving.HasValue ? Model.DeadlineForArchiving.Value : DateTime.Now).Note("Thời hạn nộp lưu trữ").EmptyText("Thời hạn nộp lưu trữ")
                            .NoteAlign(NoteAlign.Top).HideLabel(true).Format("dd/MM/yyyy").MarginSpec("0 0 0 5").Flex(1).ID("dateDispatchArchiveDeadlineForArchiving")
                    ),
                    X.ContainerHBoxTop().MarginSpec("0 0 0 0")
                    .Items(
                        X.NumberFieldFor(m => m.ArchiveTime).Flex(2).HideLabel(true).EmptyText("Thời gian lưu trữ").Note("Thời gian lưu trữ").NoteAlign(NoteAlign.Top)
                            .MarginSpec("5 5 0 0").ID("nmrDispatchArchiveTime").MinValue(1).AllowBlank(false),
                        X.ComboBoxFor(m => m.Type).Flex(1).ID("cbbSelectTypeDate").HideLabel(true).MarginSpec("0 0 5 0").EmptyText("Đơn vị...")
                            .Flex(1).MarginSpec("22 0 0 0").Items(Type)
                            .Listeners(ls => ls.Change.Handler = "showOrHideArchiveTime()")
                        ),
                    X.ComboBoxFor(m => m.FormalitySave).ID("cbbDispatchArchiveFormalitySave").HideLabel(true).MarginSpec("5 0 0 0").Note("Hình thức lưu trữ").EmptyText("Hình thức lưu trữ...")
                        .NoteAlign(NoteAlign.Top).QueryMode(DataLoadMode.Local).TriggerAction(TriggerAction.All).Items(FormalitySave),
                    X.TextAreaFor(m => m.Note).Flex(1).HideLabel(true).EmptyText("Ghi chú").Note("Ghi chú").NoteAlign(NoteAlign.Top).MarginSpec("10 0 10 0")
                        .Regex(Resource.RegexSpecialSymbolFilter).RegexText(Resource.RegexSpecialSymbolMessage).ID("txtDispatchArchiveNote")
                 )
            )
        )
    ).Buttons(
        X.Button().Text(Resource.Save).IconCls("x-fa fa-floppy-o")
        .DirectEvents(de =>
            {
                de.Click.FormID = formId;
                de.Click.Before = "if (!this.up('window').down('form').getForm().isValid()) {return false; };";
                de.Click.Url = Url.Action("InsertOrUpdate", "DispatchArchive", new { Area = "Dispatch" });
                de.Click.Success = "if(result.result == true){ this.setDisabled(true);this.up('window').doDestroy(); if(App.stDispatchArchive){App.stDispatchArchive.reload();}}";
                de.Click.Failure = "eval(result.script); this.setDisabled(false);";
            }),
        X.ButtonSlideOut()
    )
)

<script>

    var showOrHideArchiveTime = function () {
        if (App.cbbSelectTypeDate) {
            var type = App.cbbSelectTypeDate.getValue();
            if (type == '@Convert.ToInt16((int)iDAS.Service.Common.Resource.ProfileArchiveTime.Permanent)') {
                App.nmrDispatchArchiveTime.setReadOnly(true);
                App.nmrDispatchArchiveTime.allowBlank = true;
            }
            else {
                App.nmrDispatchArchiveTime.setReadOnly(false);
                App.nmrDispatchArchiveTime.allowBlank = false;
            }
        }
    };
</script>
