﻿@using Ext.Net
@using Ext.Net.MVC
@using ResourceWeb = iDAS.Presentation.Common.Resource;
@using ResourceService = iDAS.Service.Common.Resource;
@model iDAS.Service.TaskBO

@{var X = Html.X();
    var isReadonly = !Model.AllowCreate && !Model.AllowUpdate;
    var isview = (bool)ViewData["IsView"];
    if (isview == true)
    {
        isReadonly = true;
    }
    var panel1 = X.PanelFormat()
        .Items(
            X.HiddenFor(m => m.Id),
            X.ComboBoxFor(m => m.TaskSourceId).ID("cbSource").EmptyText("Nguồn phát sinh việc").HideLabel(true).MarginSpec("0 0 5 0").Editable(false)
            .RightButtons(X.Button().IconCls("x-fa fa-plus-circle").Handler("ResourceForm(this)").Width(30))
            .Store(
                X.Store()
                    .ID("stSource")
                    .AutoLoad(true)
                    .Model(
                        X.Model()
                            .IDProperty("Id")
                            .Fields(
                                new ModelField("Id"),
                                new ModelField("Name")
                            )
                    )
                    .Proxy(
                        X.AjaxProxy()
                            .Url(Url.Action("GetAll", "TaskSource"))
                            .Reader(X.JsonReader().RootProperty("data")))
            )
            .DisplayField("Name")
            .ValueField("Id"),
            X.ComboBoxFor(m => m.TaskCategoryId).ID("cbbCategory").EmptyText("Nhóm công việc").Editable(false).HideLabel(true).MarginSpec("0 0 0 0")
            //.RightButtons(X.Button().IconCls("x-fa fa-plus-circle").Handler("CategoryForm(this)").Width(30))
            .TriggerAction(TriggerAction.All).DisplayField("Name").ValueField("Id").ValueNotFoundText("Đang tải...")
            .ListConfig(X.BoundList()
            .LoadingText("Tìm kiếm...")
            .ItemTpl(X.XTemplate()
            .Html(@"<text>
        <span>
        <span style='margin-left: 44px;'>{Name}</span><br/>
        </span>
        </text>")
                )
            )
            .Store(X.Store().ID("storeCategory").AutoLoad(true)
            .Model(X.Model().IDProperty("Id").Fields(new ModelField("Id"),
                    new ModelField("Name")
                )
            )
            .Proxy(X.AjaxProxy().Url(Url.Action("GetAll", "TaskCategory")).Reader(X.JsonReader().RootProperty("data")))),
            X.TextFieldFormatFor(m => m.Name).AllowBlank(false).ReadOnly(isReadonly).HideLabel(true).EmptyText("Tên công việc (*)").MarginSpec("5 0 0 0"),
            X.ContainerHBox().Hidden(true).Items(
                  Html.X().ComboboxTreeFormatKPI().Multiple(false).ID("cbtreeTargetKPI").showCheckBox(true).DisableSelectTitle(true).MarginSpec("5 0 0 0").Flex(1).EmptyText("Lựa chọn nhóm KPI").Value(Model.KPICatagoryId).Text(Model.KPICatagoryText),
                  X.TextFieldFor(m => m.MaxScore).Width(130).AllowBlank(true).ReadOnly(true).HideLabel(true).EmptyText("Điểm tối đa").MarginSpec("5 0 0 5").ID("txtMaxScore")
            ),
            X.ContainerHBox().Flex(1).Items(
                 X.ContainerVBox().MarginSpec("5 5 0 0").Flex(1).Items(
                    X.TextAreaFormatFor(m => m.Content)
                    .Expand(true)
                    .ReadOnly(isReadonly)
                    .EmptyText("Nội dung công việc (*)")
                    .MarginSpec("5 5 0 0")
                    .Flex(1)
                    .HideLabel(true),
                     X.FieldSet().Title("Người giao việc (*)").MarginSpec("0 0 0 0").Padding(1).Items(
                        X.EmployeeFieldFor(m => m.Employee).UrlEmployeeStore(Url.Action("LoadData", "Employee", new { area = "Generic" })).EmployeeReadOnly(isReadonly)
                    )
                ),
                X.ContainerVBox().MarginSpec("10 0 0 0").Flex(1).Items(
                    X.DateTimeSecondsFieldFormatFor(m => m.StartAt).ReadOnly(isReadonly).ValidateTarget("EndAt").EmptyText("Thời gian bắt đầu (*)").MarginSpec(" 0 0 0"),
                    X.DateTimeSecondsFieldFormatFor(m => m.EndAt).ReadOnly(isReadonly).ValidateGrandThan("StartAt").EmptyText("Thời gian kết thúc (*)").MarginSpec("5 0 0 0"),
                    X.ComboBoxFormatFor(m => m.CalendarId).MarginSpec("5 0 0 0")
                    .EmptyText("Áp dụng lịch làm việc").ReadOnly(isReadonly)
                    .Store(
                        X.StoreComboBox().Url(Url.Action("LoadActive", "Calendar", new { area = "Task" }))
                    ),
                    // Mức độ mật
                    X.ComboBoxFor(m => m.SecurityId).ID("cbbSecurity").EmptyText("Mức độ quan trọng/mật").HideLabel(true).MarginSpec("5 0 0 0")
                    .RightButtons(X.Button().IconCls("x-fa fa-plus-circle").Handler("SecurityForm(this)").Width(30))
                    .LeftButtons(X.Button().ID("btnSelectSecurityColor").Width(30))
                    .TriggerAction(TriggerAction.All).DisplayField("Name").ValueField("Id").ValueNotFoundText("Đang tải...")
                    .ListConfig(X.BoundList()
                    .LoadingText("Tìm kiếm...")
                    .ItemTpl(X.XTemplate()
                    .Html(
                            @"<text>
                    <span>
                    <span style='width: 20px; height: 20px; margin-top:5px; border-radius: 50%; position: absolute; border: 1px solid; background:{Color}'> </span>
                    <span style='margin-left: 44px;'>{Name}</span><br/>
                    </span>
                    </text>"
                            )
                        )
                    )
                    .Listeners(ls => ls.Change.Handler = "selectColor(item, newValue, oldValue)")
                    .Store(X.Store().ID("storeSecurity").AutoLoad(true)
                    .Model(X.Model().IDProperty("Id")
                    .Fields(
                        new ModelField("Id"),
                        new ModelField("Name"),
                        new ModelField("Color")
                        ))
                    .Proxy(X.AjaxProxy().Url(Url.Action("GetAll", "Security")).Reader(X.JsonReader().RootProperty("data")))),
                    X.ContainerHBox().MarginSpec("5 0 5 0").Items(
                        X.ButtonFormulaTime("StartAt", "EndAt", "ResultTaskTime", "CalendarId"),
                        X.TextField().ID("ResultTaskTime").EmptyText("Thời gian thực hiện").HideLabel(true).ReadOnly(true).Flex(1)
                    ),
                    X.FileUploadFieldFor(m => m.FileAttachs),
                    X.FieldSet().Title("Người thực hiện (*)").MarginSpec("0 0 0 0").Padding(1).Items(
                        X.EmployeeFieldOtherFor(m => m.EmployeePerform).UrlEmployeeStore(Url.Action("LoadData", "Employee", new { area = "Generic" })).EmployeeReadOnly(isReadonly)
                    )
                )
            )
        );
}
@(
    X.WindowFormat()
        .ID("windowTask")
        .Title(ResourceWeb.TaskInformation)
        .Width(1000)
        .Height(545)
        .Items(
            X.FormPanelFormat()
            .TopBar(
                X.Toolbar().StyleSpec("padding-bottom:0px;padding-top:0px")
                .Items(
                    X.TabStrip().WidthSpec("100%")
                    .Items(ts =>
                    {
                        ts.Add(X.Tab().ActionItemID("tab1").IconCls("x-fa fa-info-circle").Text(ResourceWeb.InformationBase));
                        if (Model.AllowCreate)
                        {
                            ts.Add(X.Tab().ActionItemID("tab2_NewTask").IconCls("x-fa fa-user").Text("Nhân sự liên quan"));
                        }
                        else
                        {
                            ts.Add(X.Tab().ActionItemID("tab3_NewTask").IconCls("x-fa fa-user").Text("Lịch sử công việc"));
                        }
                    })
                )
            )
            .Items(
                panel1.ID("tab1"),
                Html.X().Panel().Hidden(!Model.AllowCreate)
                .BodyPadding(0)
                .IconCls("x-fa fa-user")
                .Layout(LayoutType.Fit)
                .Padding(0)
                .ID("tab2_NewTask")
                .Border(false)
                .StyleSpec("border: none;")
                .Title("Nhân sự liên quan")
                .Header(false)
                .Items(
                    Html.X().GridPanel()
                        .ID("grTaskInsertEmployees")
                        .ColumnLines(true)
                        .UIName("idas_default")
                        .TopBarItem(
                            X.ComboboxTreeFormat().Multiple(false).ID("cbtreeTargetEmployee").ShowEmployee(true).ShowTitle(true).DisableSelectDepartment(true).Flex(2).DisableSelectTitle(true).MarginSpec("0 2 0 0").AllowBlank(true),
                            X.Button()
                            .ID("btnDeleteEmployee")
                            .Disabled(true)
                            .Height(31)
                            .Text("Xóa")
                            .IconCls("x-fa fa-trash-o")
                            .Handler("this.up('grid').deleteSelected();")
                            )

                            .Store(Html.X().Store()
                            .AutoLoad(true)
                            .ID("stTaskInsertEmployees")
                            .PageSize(10)
                            .Model(Html.X().Model()
                            .IDProperty("PropertyId")
                            .Fields(
                                    Html.X().ModelField().Name("EmployeeIdInsert").Type(ModelFieldType.Auto),
                                    Html.X().ModelField().Name("EmployeeNameInsert").Type(ModelFieldType.Auto),
                                    Html.X().ModelField().Name("IsRoleView").Type(ModelFieldType.Boolean),
                                    Html.X().ModelField().Name("IsRoleReview").Type(ModelFieldType.Boolean),
                                    Html.X().ModelField().Name("IsRoleMark").Type(ModelFieldType.Boolean)
                                    )
                                )
                            )
                            .ColumnModel(
                                Html.X().RowNumbererColumn().Text("STT").Width(60).Align(ColumnAlign.Center),
                                Html.X().ColumnEncodeFormat().Text("Nhân sự liên quan").DataIndex("EmployeeNameInsert").Flex(1).CellWrap(true),
                                Html.X().ComponentColumn().Editor(true).Text("Theo dõi công việc").DataIndex("IsRoleView").Align(ColumnAlign.Center).Width(150).Component(
                                    Html.X().Checkbox().MarginSpec("0 0 0 65%")
                                ),
                                Html.X().ComponentColumn().Editor(true).Text("Kiểm soát công việc").DataIndex("IsRoleReview").Align(ColumnAlign.Center).Width(150).Component(
                                    Html.X().Checkbox().MarginSpec("0 0 0 65%")
                                ),
                                Html.X().ComponentColumn().Editor(true).Text("Cho điểm").DataIndex("IsRoleMark").Align(ColumnAlign.Center).Width(150).Component(
                                    Html.X().Checkbox().MarginSpec("0 0 0 65%")
                                )
                            )
                            .SelectionModel(
                                Html.X().RowSelectionModel()
                                    .Mode(SelectionMode.Single).Listeners(ls => ls.SelectionChange.Handler = "checkMenuEmployeeStatus()")
                            )
                            .Plugins(
                                Html.X().CellEditing().ClicksToEdit(1)
                                .Listeners(ls => ls.Edit.Handler = "App.stTaskInsertEmployees.commitChanges()")
                            )
                            .BottomBar(Html.X().PagingToolbarFormat())
                ),
            Html.X().Panel().Hidden(Model.AllowCreate)
            .BodyPadding(0)
            .IconCls("x-fa fa-user")
            .Layout(LayoutType.Fit)
            .Padding(0)
            .ID("tab3_NewTask")
            .Border(false)
            .StyleSpec("border: none;")
            .Title("Lịch sử công việc")
            .Header(false)
            .Items(
                Html.X().GridPanel()
                    .ID("grTaskHistory")
                    .ColumnLines(true)
                    .Store(Html.X().Store()
                    .ID("stTaskHistory")
                    .Proxy(Html.X().AjaxProxy()
                    .Url(Url.Action("LoadDataHistoryTask"))
                    .Reader(Html.X().JsonReader().RootProperty("data")))
                    .Parameters(ps =>
                    {
                        ps.Add(new StoreParameter("taskId", Model.Id.ToString(), ParameterMode.Value));
                    })
                    .PageSize(10)
                    .Model(Html.X().Model()
                        .Fields(
                                Html.X().ModelField().Name("Name").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("Avatar").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("CreateDate").Type(ModelFieldType.Date),
                                Html.X().ModelField().Name("Content").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("Percent").Type(ModelFieldType.String)
                            )
                        )
                    )
                    .ColumnModel(
                        Html.X().RowNumbererColumn().Text("STT").Width(60).Align(ColumnAlign.Center),
                        Html.X().AvatarColumnFormat().DataIndex("AvatarUrl"),
                        Html.X().ColumnEncodeFormat().Text("Nhân viên").DataIndex("Name").Flex(1).CellWrap(true),
                        Html.X().DateColumnFormat().Text("Ngày báo cáo").DataIndex("CreateDate").Format("dd/MM/yyyy HH:mm:ss").Flex(1).CellWrap(true),
                        Html.X().ColumnEncodeFormat().Text("Nội dung").DataIndex("Content").Flex(1).CellWrap(true),
                        Html.X().ColumnEncodeFormat().Text("Tiến độ").DataIndex("Percent").Flex(1).CellWrap(true)
                        )
                    )
            )
            .Buttons(
                X.ButtonCancel().Hidden(!Model.ViewCancel || isview).GridIdForReload("gpTaskManage"),
                X.ButtonPause().Hidden(!Model.ViewPause || isview).GridIdForReload("gpTaskManage"),
                X.ButtonDelete().Hidden(!Model.AllowDelete || isview).GridIdForReload("gpTaskManage"),
                X.Button()
                .Text("Lưu")
                .IconCls("x-fa fa-floppy-o")
                .DirectEvents(de =>
                {
                    de.Click.Method = HttpMethod.POST;
                    de.Click.ExtraParams.Add(new { DataResourceEmployees = new JRawValue("getDataResourceEmployees()") });
                    de.Click.ExtraParams.Add(new { KPICatagoryId = new JRawValue("App.cbtreeTargetKPI.getValue()") });
                    de.Click.ExtraParams.Add(new { EmployeeIdOther = new JRawValue("App.hdfemployeeIDOtherTOGetValue.getValue()") });
                    de.Click.Url = X.XController().UrlHelper.Action("Create");
                    de.Click.Before = "if(!this.up('window').down('form').getForm().isValid()) { return false; };this.setDisabled(true); this.up('window').down('#loadMask').show(); this.up('window').down('#loadMaskEmpty').hide();";
                    de.Click.Success = "this.up('window').down('#loadMask').hide(); this.up('window').down('#loadMaskEmpty').show(); this.up('window').close();";
                    de.Click.Failure = "this.up('window').down('#loadMask').hide(); this.up('window').down('#loadMaskEmpty').show(); eval(result.script); this.setDisabled(false);";
                }).Hidden(!Model.AllowCreate || isview).GridIdForReload("gpTaskManage"),
                X.Button()
                .Text("Lưu")
                .IconCls("x-fa fa-floppy-o")
                .DirectEvents(de =>
                {
                    de.Click.Method = HttpMethod.POST;
                    de.Click.Url = X.XController().UrlHelper.Action("Update");
                    de.Click.ExtraParams.Add(new { KPICatagoryId = new JRawValue("App.cbtreeTargetKPI.getValue()") });
                    de.Click.ExtraParams.Add(new { EmployeeIdOther = new JRawValue("App.hdfemployeeIDOtherTOGetValue.getValue()") });
                    de.Click.Before = "this.setDisabled(true); this.up('window').down('#loadMask').show(); this.up('window').down('#loadMaskEmpty').hide();";
                    de.Click.Success = "this.up('window').down('#loadMask').hide(); this.up('window').down('#loadMaskEmpty').show(); this.up('window').close();";
                    de.Click.Failure = "this.up('window').down('#loadMask').hide(); this.up('window').down('#loadMaskEmpty').show(); eval(result.script); this.setDisabled(false);";
                }).Hidden(!Model.AllowUpdate || isview).GridIdForReload("gpTaskManage"),
                X.ButtonExit()
            )
        )
)

<script>
    var setTxTMaxScore = function (id) {
        Ext.net.DirectMethod.request({
	        url: '@(Url.Action("GetMaxScore"))',
            params: { id: id },
            success: function (result) {
                if (result != null && result != undefined && result != '')
                    App.txtMaxScore.setValue("Điểm tối đa: " + result);
                else
                    App.txtMaxScore.setValue("");
	        }
        });
    };
    var setMinValueOfEndAtInsert = function () {
        var startTime = App.StartAtInsert.value;
        App.EndAtInsert.setMinValue(new Date(startTime));
    };
    var checkMenuEmployeeStatus = function () {
        var records = App.grTaskInsertEmployees.selModel.getSelection();
        switch (records.length) {
            case 0:
                App.btnDeleteEmployee.setDisabled(true);
                break;
            case 1:
                App.btnDeleteEmployee.setDisabled(false);
                break;
            default:
                App.btnDeleteEmployee.setDisabled(true);
                break;
        }
    };
    var addResourceEmployees = function () {
        var employeeId = App.cbtreeTargetEmployee.getValue() != null && App.cbtreeTargetEmployee.getValue() != undefined ? App.cbtreeTargetEmployee.getValue().split('_')[1] : null;
        var employeeText = App.cbtreeTargetEmployee.getText() != null && App.cbtreeTargetEmployee.getText() != undefined ? App.cbtreeTargetEmployee.getText() : null;
        var check = true;
        for (var i = 0; i < App.stTaskInsertEmployees.data.length; i++) {
            if (App.stTaskInsertEmployees.data.items[i].data.EmployeeIdInsert == employeeId)
                check = false;
        };
        if (employeeId != null && employeeId != undefined && check == true) {
            App.stTaskInsertEmployees.add({ EmployeeIdInsert: employeeId, EmployeeNameInsert: employeeText });
        }
    };
    var getDataResourceEmployees = function () {
        var data = [];
        for (var i = 0; i < App.stTaskInsertEmployees.data.length; i++) {
            var item = {};
            item.EmployeeId = App.stTaskInsertEmployees.data.items[i].data.EmployeeIdInsert;
            item.EmployeeName = App.stTaskInsertEmployees.data.items[i].data.EmployeeNameInsert;
            item.IsRoleView = App.stTaskInsertEmployees.data.items[i].data.IsRoleView;
            item.IsRoleReview = App.stTaskInsertEmployees.data.items[i].data.IsRoleReview;
            item.IsRoleMark = App.stTaskInsertEmployees.data.items[i].data.IsRoleMark;
            data.push(item);
        }
        return JSON.stringify(data);
    };
    CategoryForm = function (btn) {
        var securityId = btn.up("combobox").getId();
        var storeId = btn.up("combobox").getStore().storeId;
        var url = '@Url.Action("Form", "TaskCategory")';
        var params = { alignTo: securityId, renderTo: "windowTask", storeId: storeId };
        onDirectMethod(url, params);
    };

    var SecurityForm = function (btn) {

        var securityId = btn.up("combobox").getId();
        var storeId = btn.up("combobox").getStore().storeId;
        var url = '@Url.Action("Form","Security")';
        var params = { alignTo: securityId, renderTo: "windowTask", storeId: storeId };
        onDirectMethod(url, params);
    };

    var ResourceForm = function (btn) {
        var securityId = btn.up("combobox").getId();
        var storeId = btn.up("combobox").getStore().storeId;
        var url = '@Url.Action("Form", "TaskSource")';
        var params = { alignTo: securityId, renderTo: "windowTask", storeId: storeId };
        onDirectMethod(url, params);
    };

    var selectColor = function (item, newValue, oldValue) {
        var selectItem = App.storeSecurity.data.find('Id', newValue).data;
        if (App.btnSelectSecurityColor) {
            App.btnSelectSecurityColor.getEl().dom.style.background = selectItem.Color;
            App.btnSelectSecurityColor.getEl().dom.style.borderRadius = "50%";
            App.btnSelectSecurityColor.getEl().dom.style.margin = "6px 0 0 5px";
            App.btnSelectSecurityColor.getEl().dom.style.width = "20px";
            App.btnSelectSecurityColor.getEl().dom.style.height = "20px";
        }
    };

</script>