﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@model TaskResourceBO
<script>
    var templateProcessBar = "<div class='row' style='margin-left: 10px;'><div class='progress' style='position:relative; width:100%'><div class='progress-bar progress-bar-success' role ='progressbar' aria-valuemin='0' aria-valuemax='100' style='width:{0}'><span class='show' style='position:absolute;display:block;width:100%;color:black'>Tiến độ thực hiện: {0}</span></div></div></div>";
    var prosetbar = function (value) {
        return Ext.String.format(templateProcessBar, value);
    };
    var getAdditionalData = function (data, idx, record, orig) {
        return {
            rowBodyColspan: 5,
            rowBody: Ext.String.format('<div style=\'margin: 10px !important;\'><img src="{0}" style="position: absolute;height:40px;width:40px;border-left-color: #00a300;" class="online" title="{1}"><div style="margin-left:45px;text-align:justify" class="message-text"><strong style="clear: left; display: block;"> <a class="taskname" href="javascript:showDetailTask(\'{2}\');"> {3} </a></strong><p class="content_comment comment more" style="font-size:12px">{4}</p></div></div>', data.EmployeeAvatarUrl, data.EmployeeName, data.TaskId, data.TaskName, data.TaskContent)
        };
    };
    var showDetailPerform = function (performId) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Form", "Perform", new { Area = "Task" }))',
            params: { id: performId }
        });
    };
    var showDetailTask = function (taskId) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Form", "Manage", new { Area = "Task" }))',
            params: { id: taskId }
        });
    };
    var showControlTask = function (taskId) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Control", "Manage", new { Area = "Task" }))',
            params: { taskId: taskId }
        });
    };
    var showPerformTask = function (taskId) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Index", "Perform", new { Area = "Task" }))',
            params: { taskId: taskId }
        });
    };
    var showNotPerformTask = function (taskId) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Index", "NotPerform", new { Area = "Task" }))',
            params: { taskId: taskId }
        });
    };
    var showReportTask = function (taskPerformId, taskId) {
        Ext.net.DirectMethod.request({
            method: 'get',
            url: '@(Url.Action("Report", "Perform", new { Area = "Task" }))',
            params: { id: taskPerformId, taskId:taskId}
        });
    };
    var showReportPoint = function (taskId) {
        Ext.net.DirectMethod.request({
            method: 'post',
            url: '@(Url.Action("Point", "KPIForTasks", new { Area = "KPI" }))',
            params: { taskId:taskId}
        });
    };
    var showAssignTask = function (taskId) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Form", "Perform", new { Area = "Task" }))',
            params: { taskId: taskId }
        });
    };
    var showTaskCommunication = function (taskResourceId, TaskId) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("TaskCommunication", "Communication", new { Area = "Task" }, null))',
            params: { taskResourceId: taskResourceId, taskId : TaskId }
        });
    };
</script>
@{
    var X = Html.X();
    var lstTaskRole = ViewData["TaskRole"];
    var lstTaskStatus = ViewData["TaskStatus"];
    var RoleEdit =  (bool)ViewData["isroleedit"];
}
@(
        X.PanelFitFormat().ID("tabTask")
        .TopBarItem(
            X.Hidden().ID("hddPageSize").Value("0"),
            X.Hidden().ID("hddPageIndex").Value("1"),
            X.ButtonAdd().Hidden(!RoleEdit),
            X.ToolbarFill(),
            X.Button().ID("btnSendPointAdmin").IconCls("").Text("Cho điểm nhân sự").Hidden(!RoleEdit)
                .IconCls("x-fa fa fa-pencil")
                .DirectEvents(de =>
                {
                    de.Click.Url = Url.Action("SendPointAdmin", "KPIForTasks", new { Area = "KPI" });
                }),
            X.CycleButtonFormat().ID("cbTaskRole").PrependText("Trách nhiệm: ").MenuSource(lstTaskRole)
                .Listeners(ls => ls.Change.Handler = "App.gpTaskManage.getStore().reload();App.TaskSummaryToolbar.load()"),
            X.CycleButtonFormat().ID("cbTaskStatus").PrependText("Trạng thái: ").MenuSource(lstTaskStatus)
                .Listeners(ls => ls.Change.Handler = "App.gpTaskManage.getStore().reload();")
        )
        .BottomBar(
            X.ToolbarHbox().ID("TaskSummaryToolbar")
            .Loader(
                X.ComponentLoader()
                .Url(Url.Action("Summary")).Mode(LoadMode.Script)
                .Params(ps =>
                {
                    ps.Add(new { containerId = "TaskSummaryToolbar" });
                    ps.Add(new StoreParameter("taskRole", "App.cbTaskRole.activeItem.itemId", ParameterMode.Raw));
                })
            )
        )
        .Items(
            X.DataView()
            .ID("gpTaskManage")
            .Margin(-1)
            .DisableSelection(true)
            .LoadMask(false)
            .AutoScroll(true)
            .ItemSelector("td.letter-row")
            .Store(
                X.StoreFormat().ID("stTaskManage")
                .Listeners(ls =>
                {
                    ls.BeforeLoad.Handler = "App.loadMaskTaskManage.show();";
                    ls.Load.Handler = "renderShowMore(273);App.loadMaskTaskManage.hide();";
                })
                .Url(Url.Action("LoadData"))
                .Parameters(ps =>
                {
                    ps.Add(new StoreParameter("taskStatus", "App.cbTaskStatus.activeItem.itemId", ParameterMode.Raw));
                    ps.Add(new StoreParameter("taskRole", "App.cbTaskRole.activeItem.itemId", ParameterMode.Raw));
                    ps.Add(new StoreParameter("pageSites", "App.hddPageSize.getValue()", ParameterMode.Raw));
                    ps.Add(new StoreParameter("pageIndex", "App.hddPageIndex.getValue()", ParameterMode.Raw));
                })
                .ModelType(typeof(iDAS.Service.TaskResourceBO))
            )
            .SingleSelect(true)
            .Cls("img-chooser-view")
            .OverItemCls("x-view-over")
            .ItemSelector("div.thumb-wrap")
            .EmptyText(@"<div style='text-align:center'><div class='emptyClass'></div><div style='font-size: 0.9em'>Không có công việc nào</div></div>")
            .TrackOver(true)
            .Tpl(
                X.XTemplate().Html(
                @<text>
                    <tpl for=".">
                        <span class="timeline-seperator text-center">
                            @*<tpl if='IsRoleView != true'>
                                <div class="btn-group pull-right" style="padding: 0px;background: none;border:0px">
                                    <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle" aria-expanded="false">
                                        <span class="caret single"></span>
                                    </a>
                                    <ul class="dropdown-menu text-left">
                                        <tpl if='IsRoleAssign == true || IsRoleReview == true'>
                                            <tpl if='AllowAssign == true'>
                                                <li>
                                                    <a style="font-size:13px;" href="javascript:showAssignTask('{TaskId}');"><i class="x-fa fa-share-square-o"></i>  Giao việc thực hiện</a>
                                                </li>
                                            </tpl>
                                            <tpl if='AllowAssign != true'>
                                                <li class="disabled">
                                                    <a style="font-size:13px;" href="javascript:void;"><i class="x-fa fa-share-square-o"></i>  Giao việc thực hiện</a>
                                                </li>
                                            </tpl>
                                            <li>
                                                <a style="font-size:13px;" href="javascript:showControlTask('{TaskId}');"><i class="x-fa fa-dot-circle-o"></i>  Kiểm soát công việc</a>
                                            </li>
                                        </tpl>
                                        <tpl if='IsRolePerform == true'>
                                            <li>
                                                <a style="font-size:13px;" href="javascript:showReportTask('{Id}','{TaskId}');" class="text-danger"><i class="x-fa fa-edit"></i> Báo cáo công việc</a>
                                            </li>
                                        </tpl>
                                        <tpl if='IsRoleMark == true'>
                                            <li>
                                                <a style="font-size:13px;" href="javascript:showReportPoint('{TaskId}');" class="text-danger"><i class="x-fa fa-edit"></i> Đánh giá/Cho điểm</a>
                                            </li>
                                        </tpl>
                                    </ul>
                                </div>
                            </tpl>*@
                        </span>
                        <div class="chat-body no-padding profile-message">
                            <ul>
                                <li class="message">
                                    <img src="{EmployeeAvatarUrl}" class="online" title="{EmployeeName}">
                                    <div style="text-align:justify; width: 95%;" class="message-text">
                                        <strong style="clear: left; display: block;"> <a class="taskname" href="javascript:showDetailTask('{TaskId}');" title="{TaskContent}"> {TaskName} <tpl if='TaskGroupCheck == true'><span style="color: black;font-weight: normal;">({TaskGroup})</span></tpl></a></strong>
                                        <div class="row" style="margin-top: 11px;">
                                            <div class="progress" style="height:17px !important;position: relative;width:25%;float:left;margin-right:30px;">
                                                <tpl if='IsOutOfDate == true'>
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" title="Đã quá hạn !" style="background-color:#ff00264a; width:{CompleteRateText}">
                                                        <span class="show" style="position:absolute;display:block;width:100%;color:black">Tiến độ thực hiện: {CompleteRateText}</span>
                                                    </div>
                                                </tpl>
                                                <tpl if='IsOutOfDate != true'>
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="background-color:#5cb85c85; width:{CompleteRateText}">
                                                        <span class="show" style="position:absolute;display:block;width:100%;color:black">Tiến độ thực hiện: {CompleteRateText}</span>
                                                    </div>
                                                </tpl>
                                            </div>
                                            <small class="text-muted pull-left" style="margin-left:5px;line-height:17px">Trạng thái: <span style="font-size: 15px;font-weight: 600; color:{TaskStatusColor};">{TaskStatusText}</span></small>
                                            <span class="pull-right" style="font-size: 15px;font-weight: 600">
                                                {StartAtText} - {EndAtText}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 53px; margin-bottom:7px;">
                                        <ul class="pull-right col-8" style="font-style:italic; list-style:none;width:100%">
                                            <li>
                                                <ul class="list-inline font-xs" style="font-size: 11px; font-weight:600;float: left;">
                                                    <li>
                                                        <a href="javascript:showTaskCommunication('{Id}', '{TaskId}');" class="text-info"><i class="x-fa fa-comments-o" title=" Thông tin trao đổi"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:showPerformTask('{TaskId}');" class="text-info"><i class="x-fa fa-user" title=" Nhân sự thực hiện"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:showNotPerformTask('{TaskId}');" class="text-info"><i class="x-fa fa-user-md" title=" Nhân sự liên quan"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:showDetailTask('{TaskId}');" class="text-info"><i class="x-fa fa-info-circle" title=" Chi tiết"></i></a>
                                                    </li>
                                                    <tpl if='IsRoleAssign == true || IsRoleReview == true'>
                                                        <tpl if='AllowAssign == true'>
                                                            <li>
                                                                <a style="font-size:13px;" href="javascript:showAssignTask('{TaskId}');"><i class="x-fa fa-share-square-o" title="Giao việc thực hiện"></i></a>
                                                            </li>
                                                        </tpl>
                                                        <tpl if='AllowAssign != true'>
                                                            <li class="disabled">
                                                                <a style="font-size:13px;" href="javascript:void;"><i class="x-fa fa-share-square-o" title="Giao việc thực hiện"></i></a>
                                                            </li>
                                                        </tpl>
                                                        <li>
                                                            <a style="font-size:13px;" href="javascript:showControlTask('{TaskId}');"><i class="x-fa fa-dot-circle-o" title="Kiểm soát công việc"></i></a>
                                                        </li>
                                                    </tpl>
                                                    <tpl if='IsRolePerform == true'>
                                                        <li>
                                                            <a style="font-size:13px;" href="javascript:showReportTask('{Id}','{TaskId}');" class="text-danger"><i class="x-fa fa-edit" title="Báo cáo công việc"></i></a>
                                                        </li>
                                                    </tpl>
                                                    <tpl if='IsRoleMark == true || IsRoleAssign == true'>
                                                        <li>
                                                            <a style="font-size:13px;" href="javascript:showReportPoint('{TaskId}');" class="text-danger"><i class="x-fa fa-star" title="Đánh giá/Cho điểm"></i></a>
                                                        </li>
                                                    </tpl>
                                                </ul>
                                                <small class="text-muted">
                                                    <span>
                                                        <ul class="col-4 list-inline font-xs pull-right" style="font-style:italic; list-style:none;">{ListTaskRoleText}</ul>
                                                    </span>
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </tpl>
                </text>
            )
        )
    )
)