﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.VPHumanProfileAttachmentBO
@{
    var X = Html.X();
}
<script>
    var ShowSex = function (value) {
        return value == true ? "Nam" : "Nữ";
    };
    var resetFilters = function () {
        App.txtSearchByName.setValue("");
        App.cbSearchByRelationship.setSelection(0);
    };
</script>
@(
    X.Container().Layout(LayoutType.Fit).Border(false).Margin(0).Frame(false)
    .Items(
        X.FormPanel()
            .Layout(LayoutType.Fit)
            .Frame(true)
            .Border(false)
            .StyleSpec("border: none;")
            .FieldDefaults(df => df.LabelWidth = 100).Padding(0)
            .DefaultAnchor("100%")
            .Title("Hồ sơ đính kèm")
            .Items(
                X.GridPanel()
                .Header(false)
                .ID("GrProfileAttachAll")
                .Layout(LayoutType.Fit)
                .ColumnLines(true)
                .Border(false)
                .ForceFit(true)
                .TopBar(
                    X.Toolbar()
                    .Layout(LayoutType.HBox)
                    .Items(
                        X.Label().Text("Tìm kiếm theo tên: ").Flex(1),
                        X.TextField().ID("txtSearchByName").Flex(2)
                        .Listeners(ls =>
                        {
                            ls.Change.Handler = "App.StoreProfileAttach.reload();";
                        }),
                        
                        X.Button().ID("btnResetFilters").Text("Xoá bộ lọc").Icon(Icon.TableRefresh).Handler("resetFilters()"),
                         X.Button().ID("btnExport").Text("Xuất file").Icon(Icon.PageExcel).Handler("Exportexcle()"),
                        X.Button().ID("btnDetails").Text("Chi tiết").Hidden(true)
                        .DirectEvents(de =>
                        {
                            de.Click.ExtraParams.Add(new { ID = new JRawValue("App.GrProfileAttachAll.selModel.getSelection()[0].data.Id"), EmployeeId = new JRawValue("App.GrProfileAttachAll.selModel.getSelection()[0].data.EmployeeId") });
                            de.Click.Url = Url.Action("UpdateForm", "ProfileAttach", new { area = "Organization" });
                        }),
                        X.ToolbarFill().Flex(5)
                    )
                )
                .Store(
                    X.Store()
                    .ID("StoreProfileAttach")
                    .RemotePaging(true)
                    .PageSize(20)
                    .Parameters(pr =>
                    {
                        pr.Add(new StoreParameter("name", "App.txtSearchByName.value", ParameterMode.Raw));
                        //pr.Add(new StoreParameter("relation", "App.cbSearchBySalary.getValue()", ParameterMode.Raw));
                    })
                    .Proxy(X.AjaxProxy().Url(Url.Action("LoadProfileAttachAll")).Reader(X.JsonReader().RootProperty("data")))
                    .Model(
                        X.Model().Fields(
                            X.ModelField().Name("Id"),
                            X.ModelField().Name("EmployeeId"),
                            X.ModelField().Name("EmployeeName"),
                            X.ModelField().Name("Name"),
                            X.ModelField().Name("Note"),
                            X.ModelField().Name("Code"),
                            X.ModelField().Name("RoleName"),
                            X.ModelField().Name("FileAttachs")
                        )
                    )
                )
                .ColumnModel(
                    X.RowNumbererColumnFormat().DataIndex("Id").Text("STT").Width(50).StyleSpec("font-weight: bold;text-align: center"),
                    X.Column().DataIndex("EmployeeId").Hidden(true),
                    X.Column().DataIndex("Code").Text("Mã nhân sự").Width(150).StyleSpec("font-weight: bold;text-align: center"),
                    X.Column().DataIndex("EmployeeName").Text("Tên nhân sự").Flex(1).StyleSpec("font-weight: bold;text-align: center"),
                    X.Column().DataIndex("RoleName").Text("Chức vụ").Flex(1).StyleSpec("font-weight: bold;text-align: center"),
                    X.Column().DataIndex("Name").Text("Tên tài liệu").Flex(1).StyleSpec("font-weight: bold;text-align: center"),
                    X.Column().DataIndex("Note").Text("Ghi chú").Flex(1).StyleSpec("font-weight: bold;text-align: center"),
                    X.ColumnFileFormat(m => m.FileAttachs.Files).Text("<b>Tệp đính kèm</b>").Flex(1)
                )
            )
    )
)
<script>
    Exportexcle = function () {
        window.open("/ProfileAttach/exportexcel?name="
            + App.txtSearchByName.value
        );
    }
</script>