﻿@using Ext.Net;
@using Ext.Net.MVC;
@model iDAS.Service.VPHumanProfileAttachmentBO
@{
    var X = Html.X();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var employeeName = (string)ViewData["EmployeeName"];
}
<script>
    var deleteUrl = '@(Url.Action("DeleteProfileAttach"))';
    function CheckStatus() {
        var records = App.GrProfileAttach.selModel.getSelection();
        if (records.length > 0) {
            App.btnUpdate.setDisabled(false);
            App.btnDelete.setDisabled(false);
        }
        else {
            App.btnUpdate.setDisabled(true);
            App.btnDelete.setDisabled(true);
        };
    };
    var AddNew = function () {
        var url ='@(Url.Action("UpdateForm", "ProfileAttach", new { Area = "Organization" }, null))';
        var params = {
            EmployeeID: App.hdfEmployeeID.value
        };
        onDirectMethod(url, params);
    };
    var UpdateItem = function () {
        var records = App.GrProfileAttach.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("UpdateForm", "ProfileAttach", new { Area = "Organization" }, null))';
            var params = {
                id: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
    var ViewDetail = function () {
        var records = App.GrProfileAttach.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("DetailForm", "ProfileAttach", new { Area = "Organization" }, null))';
            var params = {
                id: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        }
    };
</script>
<style>
    .topbarItems {
        left: 0px !important;
    }

    .topbarName {
        font-weight: bold;
        font-size: 16px;
    }
</style>
@(Html.X().Viewport().Layout(LayoutType.Fit).Border(false).Margin(0).Frame(false)
    .Items(
        Html.X().FormPanel()
        .Layout(LayoutType.Fit)
        .Frame(true)
        .Border(false)
        .StyleSpec("border: none;")
            .FieldDefaults(df => df.LabelWidth = 100).Padding(0)
        .DefaultAnchor("100%")
        .Items(

               Html.X().GridPanel()
                        .Header(false)
                        .ID("GrProfileAttach")
                                .ColumnLines(true)
                                 .Border(false)
                                .ForceFit(true)
                                .Icon(Icon.TextListBullets)
                        .TopBar(
                            Html.X().Toolbar()
                            .Layout(LayoutType.VBox)
                            .Items(
                                X.ContainerHBox().Cls("topbarItems").Items(
                                    X.Hidden().ID("hdfEmployeeID").Value(ViewData["EmployeeId"]),
                                    X.Button().ID("btnCreate").Text("Thêm mới").IconCls("x-fa fa-plus-circle").Handler("AddNew();"),
                                    X.Button().ID("btnUpdate").Text("Chi tiết").IconCls("x-fa fa-info-circle").Disabled(true).Handler("UpdateItem();"),
                                    X.Button().ID("btnDelete").Text("Xóa").IconCls("x-fa fa-times-circle").Disabled(true).Handler("onDelete(App.GrProfileAttach.selModel.getSelection()[0].get('Id'));")
                                ),
                                X.ToolbarSpacer().Height(20),
                                X.Label().Cls("topbarItems topbarName").Text("Nhân viên: " + employeeName)
                            )
                    )
                    .Store(
                        Html.X().Store()
                            .ID("StoreProfileAttach")
                            .RemotePaging(true)
                            .PageSize(20)
                            .Proxy(Html.X().AjaxProxy().Url(Url.Action("LoadProfileAttach")).Reader(Html.X().JsonReader().RootProperty("data")).IDParam("Id"))
                                .Parameters(ps =>
                                        {
                                            ps.Add(new StoreParameter("EmployeeID", "App.hdfEmployeeID.value", ParameterMode.Raw));
                                        })
                            .Model(
                                Html.X().Model().Fields(
                                        Html.X().ModelField().Name("Id"),
                                        Html.X().ModelField().Name("Name"),
                                        Html.X().ModelField().Name("Size"),
                                        Html.X().ModelField().Name("Note"),
                                         X.ModelField().Name("FileAttachs")
                                )
                              )
                    )
                    .ColumnModel(
                            Html.X().RowNumbererColumnFormat().DataIndex("Id").Text("STT").Width(50).StyleSpec("font-weight: bold;text-align: center"),
                            Html.X().Column().DataIndex("Name").Text("Tên tài liệu").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                            Html.X().Column().DataIndex("Note").Text("Ghi chú").Flex(1).StyleSpec("font-weight: bold;text-align: center"),
                            X.ColumnFileFormat(m => m.FileAttachs.Files).Text("<b>Tệp đính kèm</b>").Width(130)
                        )
                    .SelectionModel(Html.X().CheckboxSelectionModel().ShowHeaderCheckbox(false).Mode(SelectionMode.Single)
                                .Listeners(ls => ls.SelectionChange.Fn = "CheckStatus"))
                        .BottomBar(X.PagingToolbarFormat())
            )
        )
)
