﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.ResponsibilityTitlesBO
@{
    var X = Html.X();
    Operation operation = (Operation)ViewData["Operation"];
}
@(X.Window()
    .ID("WindowResponsibilityTitles")
    .Title(Model.Id == Guid.Empty ? Resource.Create : Resource.Detail)
    .IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
    .Height(400)
    .Width(800)
    .BodyPadding(0)
    .Layout(LayoutType.VBox)
    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
    .Modal(true)
    .Items(
    X.Container()
        .Border(false)
        .ID("loadMaskResponsibilityTitles")
        .Hidden(true)
        .Height(2)
        .Html("<div class='load-bar'><div class='bar'></div><div class='bar'></div></div>"),
    X.Container()
        .Border(false)
        .ID("loadMaskResponsibilityTitlesEmpty")
        .Height(2)
        .Hidden(false),
    X.FormPanel()
        .BodyPadding(5)
        .Border(false)
        //.Frame(true)
        .Flex(1)
        .Layout(LayoutType.VBox)
        .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
        .ID("frResponsibilityTitles")
        .Items(
            X.HiddenFor(u => u.ResponsibilityId),
            X.HiddenFor(u => u.TitleId),
            Html.X().TextFieldFor(m => m.NameResponsibility)
                .Note("Tên công việc")
                .NoteAlign(NoteAlign.Top)
                .HideLabel(true).MarginSpec("0 10 0 0"),
            Html.X().TextFieldFor(m => m.Loop)
                .Note("Tần xuất công việc")
                .NoteAlign(NoteAlign.Top)
                .HideLabel(true).MarginSpec("0 10 0 0"),
            Html.X().TextFieldFor(m => m.Mission)
                .Note("Nhiệm vụ")
                .NoteAlign(NoteAlign.Top)
                .HideLabel(true).MarginSpec("0 10 0 0"),
            Html.X().TextFieldFor(m => m.Request)
                .Note("Yêu cầu kết quả")
                .NoteAlign(NoteAlign.Top)
                .HideLabel(true).MarginSpec("0 10 0 0"),
            //Html.X().TextFieldFor(m => m.Result)
            //    .Note("Kết quả")
            //    .NoteAlign(NoteAlign.Top)
            //    .HideLabel(true).MarginSpec("0 10 0 0"),
            Html.X().TextFieldFor(m => m.Criteria)
                .Note("Tiêu chí đánh giá")
                .NoteAlign(NoteAlign.Top)
                .HideLabel(true).MarginSpec("0 10 0 0")
        )
        .Buttons(
            Html.X().Button()
            .Hidden(operation == Operation.Create ? true : false)
            .Text(Resource.Delete)
            .IconCls("x-fa fa-trash-o")
            .DirectEvents(de =>
            {
                de.Click.Confirmation.ConfirmRequest = true;
                de.Click.Confirmation.Message = Resource.ConfirmDelete;
                de.Click.Confirmation.Title = Resource.Confirm;
                de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
                de.Click.ExtraParams.Add(new { id = Model.ResponsibilityId, titleid = Model.TitleId });
                de.Click.Url = Url.Action("DeleteResponsibilityTitles");
                de.Click.Before = "App.loadMaskResponsibilityTitles.show(); App.loadMaskResponsibilityTitlesEmpty.hide(); this.setDisabled(true);";
                de.Click.Success = "App.loadMaskResponsibilityTitles.hide(); App.loadMaskResponsibilityTitlesEmpty.show(); this.up('window').close(); App.gridTrachNhiem.getStore().reload(); ";
                de.Click.Failure = "App.loadMaskResponsibilityTitles.hide(); App.loadMaskResponsibilityTitlesEmpty.show(); eval(result.script); this.setDisabled(false);";
            }),
            Html.X().Button()
            .Text(Resource.Save)
            .IconCls("x-fa fa-floppy-o")
            .DirectEvents(de =>
            {
                de.Click.Before = "if (!App.frResponsibilityTitles.getForm().isValid()) { return false; }; this.setDisabled(true); App.loadMaskResponsibilityTitles.show(); App.loadMaskResponsibilityTitlesEmpty.hide();";
                de.Click.FormID = "frResponsibilityTitles";
                de.Click.Method = HttpMethod.POST;
                de.Click.Url = Url.Action(operation == Operation.Create ? "CreateResponsibilityTitles" : "UpdateResponsibilityTitles");
                de.Click.Success = "App.loadMaskResponsibilityTitles.hide(); App.loadMaskResponsibilityTitlesEmpty.show(); this.up('window').close(); App.gridTrachNhiem.getStore().reload();";
                de.Click.Failure = "App.loadMaskResponsibilityTitles.hide(); App.loadMaskResponsibilityTitlesEmpty.show(); eval(result.script); this.setDisabled(false);";
                de.Click.ExtraParams.Add(new
                {
                    ReportToId = new JRawValue("App.cbtreeReportToId.getValue().split('_')[1]"),
                    ReportTo = new JRawValue("App.cbtreeReportToId.getText()"),
                    AbsenreplaceId = new JRawValue("App.cbtreeAbsenreplaceId.getValue().split('_')[1]"),
                    Absenreplace = new JRawValue("App.cbtreeAbsenreplaceId.getText()")
                });
            }),
            X.Button()
            .Text(Resource.Close)
            .IconCls("x-fa fa-times-circle")
            .Handler("this.up('window').close();")
        )
    )
)