﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.TitleBO
@{
    var X = Html.X();
    Operation operation = (Operation)ViewData["Operation"];
}
@(X.Window()
        .ID("WindowDepartmentTitle")
        .Title(Model.Id == Guid.Empty ? Resource.Create : Resource.Detail)
        .IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
        .Height(700)
        .Width(1000)
        .Maximized(true)
        .Maximizable(true)
        .BodyPadding(0)
        .Layout(LayoutType.VBox)
        .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
        .Modal(true)
        .Items(
        X.Container()
            .Border(false)
            .ID("loadMaskDepartmentTitle")
            .Hidden(true)
            .Height(2)
            .Html("<div class='load-bar'><div class='bar'></div><div class='bar'></div></div>"),
        X.Container()
            .Border(false)
            .ID("loadMaskDepartmentTitleEmpty")
            .Height(2)
            .Hidden(false),
        X.FormPanel()
            .BodyPadding(5)
            .Border(false)
            .Frame(true)
            .Flex(1)
            .Layout(LayoutType.VBox)
            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
            .StyleSpec("border: none;")
            .FieldDefaults(d => { d.LabelAlign = LabelAlign.Left; d.LabelWidth = 70; })
            .ID("frDepartmentTitle")
            .Items(
                X.HiddenFor(u => u.Id),
                Html.X().HiddenFor(m => m.DepartmentId),
                Html.X().ContainerHBox().Items(
                    Html.X().TextFieldFor(m => m.Name)
                        .Note("Tên chức danh" + Html.Required())
                        .NoteAlign(NoteAlign.Top)
                        .HideLabel(true)
                        .Flex(1)
                        .MarginSpec("0 10 0 0")
                        .BlankText("Bạn phải nhập tên chức danh của phòng ban hoặc đơn vị!")
                        .AllowBlank(false),
                    Html.X().NumberFieldFor(m => m.Weightscore).Flex(1).Note("Hệ số KPI").NoteAlign(NoteAlign.Top).MarginSpec("0 0 0 0").HideLabel(true)
                ),
                Html.X().ContainerHBox().Items(
                    X.ComboboxTreeFormat().AllowBlank(true).Multiple(false).Flex(1).ID("cbtreeReportToId").ShowEmployee(true).ShowTitle(true).DisableSelectDepartment(true).DisableSelectTitle(true).MarginSpec("0 10 0 0").Note("Quản lý trực tiếp").NoteAlign(NoteAlign.Top).Value("_"+Model.ReportToId).Text(Model.ReportTo).EmptyText("Chọn người..."),
                    X.ComboboxTreeFormat().AllowBlank(true).Multiple(false).Flex(1).ID("cbtreeAbsenreplaceId").ShowEmployee(true).ShowTitle(true).DisableSelectDepartment(true).DisableSelectTitle(true).MarginSpec("0 2 0 0").Note("Quản lý chuyên môn").NoteAlign(NoteAlign.Top).Value("_" + Model.AbsenreplaceId).Text(Model.Absenreplace).EmptyText("Chọn người...")
                ),
                Html.X().ContainerHBox().Items(
                    Html.X().HtmlEditorFor(m => m.WorkingConditions).Flex(1).Height(120).Note("Mục đích công việc").NoteAlign(NoteAlign.Top).MarginSpec("0 10 20 0").HideLabel(true),
                    Html.X().HtmlEditorFor(m => m.Capacityrequire).Flex(1).Height(120).Note("Yêu cầu năng lực").NoteAlign(NoteAlign.Top).MarginSpec("0 10 20 0").HideLabel(true),
                    Html.X().HtmlEditorFor(m => m.Power).Flex(1).Height(120).Note("Quyền hạn").NoteAlign(NoteAlign.Top).MarginSpec("0 10 20 0").HideLabel(true)
                ),
                Html.X().ContainerHBox().Items(
                    Html.X().HtmlEditorFor(m => m.Purpose).Flex(1).Height(120).Note("Điều kiện làm việc").NoteAlign(NoteAlign.Top).MarginSpec("0 10 20 0").HideLabel(true),
                    Html.X().HtmlEditorFor(m => m.RelationshipIn).Flex(1).Height(120).Note("Quan hệ trong nơi làm việc").NoteAlign(NoteAlign.Top).MarginSpec("0 10 20 0").HideLabel(true),
                    Html.X().HtmlEditorFor(m => m.RelationshipOut).Flex(1).Height(120).Note("Quan hệ ngoài nơi làm việc").NoteAlign(NoteAlign.Top).MarginSpec("0 10 20 0").HideLabel(true)
                ),
                X.Panel()
                    .ID("pnTrachNhiem")
                    .Title("Trách nhiệm")
                    .ItemsFromAction("ResponsibilityIndex", "DepartmentTitle", new { titleid = Model.Id })
                )
    )
    .Buttons(
        X.Button().Text("Xuất thông chức danh").Icon(Icon.World)
            .DirectEvents(de =>
            {
                de.Click.ExtraParams.Add(new { id = Model.Id });
                de.Click.Url = Url.Action("ExportInfoTitles","DepartmentTitle", new { area = "Organization" });
                de.Click.Success = "DownloadFileInfoTitles()";
            }),
        Html.X().Button()
        .Hidden((operation == Operation.Create) ? true : false)
        .Text(Resource.Delete)
        .IconCls("x-fa fa-trash-o")
        .DirectEvents(de =>
        {
            de.Click.Confirmation.ConfirmRequest = true;
            de.Click.Confirmation.Message = Resource.ConfirmDelete;
            de.Click.Confirmation.Title = Resource.Confirm;
            de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
            de.Click.ExtraParams.Add(new { id = Model.Id });
            de.Click.Url = Url.Action("Delete");
            de.Click.Before = "App.loadMaskDepartmentTitle.show(); App.loadMaskDepartmentTitleEmpty.hide(); this.setDisabled(true);";
            de.Click.Success = "App.loadMaskDepartmentTitle.hide(); App.loadMaskDepartmentTitleEmpty.show(); this.up('window').close(); if(App.grTitlePanel) App.grTitlePanel.getStore().reload(); if(App.grEmployeeTitles) App.grEmployeeTitles.getStore().reload();";
            de.Click.Failure = "App.loadMaskDepartmentTitle.hide(); App.loadMaskDepartmentTitleEmpty.show(); eval(result.script); this.setDisabled(false);";
        }),
        Html.X().Button()
        .Text(Resource.Save)
        .IconCls("x-fa fa-floppy-o")
        .DirectEvents(de =>
        {
            de.Click.Before = "if (!App.frDepartmentTitle.getForm().isValid()) { return false; }; this.setDisabled(true); App.loadMaskDepartmentTitle.show(); App.loadMaskDepartmentTitleEmpty.hide();";
            de.Click.FormID = "frDepartmentTitle";
            de.Click.Method = HttpMethod.POST;
            de.Click.Url = Url.Action(operation == Operation.Create ? "Create" : "Update");
            de.Click.Success = "App.loadMaskDepartmentTitle.hide(); App.loadMaskDepartmentTitleEmpty.show(); this.up('window').close(); if(App.grTitlePanel) App.grTitlePanel.getStore().reload(); if(App.grEmployeeTitles) App.grEmployeeTitles.getStore().reload();";
            de.Click.Failure = "App.loadMaskDepartmentTitle.hide(); App.loadMaskDepartmentTitleEmpty.show(); eval(result.script); this.setDisabled(false);";
            de.Click.ExtraParams.Add(new { ReportToId = new JRawValue("App.cbtreeReportToId.getValue().split('_')[1]"), ReportTo = new JRawValue("App.cbtreeReportToId.getText()"),
                AbsenreplaceId = new JRawValue("App.cbtreeAbsenreplaceId.getValue().split('_')[1]"),
                Absenreplace = new JRawValue("App.cbtreeAbsenreplaceId.getText()")
            });
        }),
        X.Button()
        .Text(Resource.Close)
        .IconCls("x-fa fa-times-circle")
        .Handler("this.up('window').close();")
    )
)

<script>
    var DownloadFileInfoTitles = function () {
        var url = "@Url.Action("DownloadFileInfoTitles","DepartmentTitle", new { area = "Organization" })";
        window.open(url);
    };
    var refreshMenu = function (selected) {
    switch (selected.length) {
        case 1: App.btnUpdate.setDisabled(false); App.btnPermission.setDisabled(false); App.btnResetPassword.setDisabled(false); break;
        default: App.btnUpdate.setDisabled(true); App.btnPermission.setDisabled(true); App.btnResetPassword.setDisabled(true); break;
    }
}</script>
