﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
    var communicationtypes = ViewData["CommunicationType"];
}
@(X.Container()
    .ID("plCommuication")
    .Layout(LayoutType.Fit)
    .Border(false)
    .Items(
        X.Panel()
        .Border(false)
        .Layout(LayoutType.Fit)
        .TopBarItem(
            X.ToolbarFill(),
            X.CycleButtonFormat().ID("cbFilterCommuication").PrependText("Lọc theo: ")
            .MenuSource(communicationtypes)
            .Listeners(ls => ls.Change.Handler = "App.gpMainCommunication.getStore().reload();")
            )
         .Items(
                X.DataView()
                    .ID("gpMainCommunication")
                    .AutoScroll(true)
                    .MarginSpec("-1 -1 -1 -1")
                    .DisableSelection(true)
                    .LoadMask(false)
                    .ItemSelector("td.letter-row")
                    .Store(
                    X.Store()
                    .ID("stMainCommunication")
                    .Url(Url.Action("LoadDataByType", "Communication", new { area = "Task" }))
                    .Listeners(ls =>
                    {
                        ls.BeforeLoad.Handler = "App.loadMainCommunication.show();";
                        ls.Load.Handler = "mainAllReply(); mainRenderComment(); App.loadMainCommunication.hide();";
                    })
                    .Parameters(ps =>
                    {
                        ps.Add(new StoreParameter("typeId", "App.cbFilterCommuication.activeItem.itemId", ParameterMode.Raw));
                    })
                    .ModelType(typeof(TaskCommunicationBO))
                    )
                    .EmptyText(@"<div style='text-align:center'><div class='emptyClass'></div><div style='font-size: 0.9em'>Không có báo cáo nào </div></div>")
                    .SingleSelect(true)
                    .Cls("img-chooser-view")
                    .OverItemCls("x-view-over")
                    .ItemSelector("div.thumb-wrap")
                    .EmptyText(@"<div style='text-align:center'>
                                    <div class='emptyClass'>
                                    </div>
                                    <div style='font-size: 0.9em'>Không có phản hồi nào </div>
                                    </div>")
                    .TrackOver(true)
                    .Tpl(
                        X.XTemplate()
                            .Html(
                            @<text>
                                <tpl for=".">
                                    <span class="timeline-seperator text-center">
                                        <span>{CreateAt:date('d/m/Y H:m')} - {CommunicationType}</span>
                                    </span>
                                    <div class="chat-body no-padding profile-message">
                                        <ul>
                                            <li class="message">
                                                <img src="{Employee_AvatarUrl}" class="online">
                                                <div class="message-text">
                                                    <span class="username">{Employee_Name}<time class="text-muted pull-right ultra-light"> {TimePost}</time></span>
                                                    <p class="content_comment">{Content}</p>
                                                    <tpl if='AttachFiles.ListFile.length &gt; 0'>
                                                        <a href="javascript:viewStrFiles('{AttachFiles.ListFile}');"><i class="x-fa fa-file" style="font-style:italic"> Tệp đính kèm...</i> </a>
                                                    </tpl>
                                                </div>
                                                <ul id="report_{Id}" class="list-inline font-xs" style="font-size: 11px; font-style: italic;">
                                                    <li>
                                                        <a href="javascript:void(0);" class="main-reply-report text-info">
                                                            <i class="x-fa fa-reply"></i> Trả lời
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="main-all-reply text-muted">Tất cả phản hồi ({TotalComments})</a>
                                                    </li>
                                                    <tpl if='IsAllowEdit'>
                                                        <li>
                                                            <a href="javascript:void(0);" class="main-edit-report text-primary">Sửa</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="main-delete-report text-danger">Xóa</a>
                                                        </li>
                                                    </tpl>
                                                </ul>
                                                <ul id="ul_reply{Id}" style="display:none">
                                                    <tpl for="CommunicationReplies">
                                                        <li class=" message message-reply">
                                                            <img src="{Employee_AvatarUrl}" class="online">
                                                            <div class="message-text">
                                                                <span class="username">{Employee_Name}</span>
                                                                <p class="content_comment">{Content}</p>
                                                            </div>
                                                            <ul id="reply_{Id}" class="list-inline font-xs" style="font-size: 11px; font-style: italic;">
                                                                <li>
                                                                    <time class="text-muted">{TimePost} </time>
                                                                </li>
                                                                <tpl if='IsAllowEdit'>
                                                                    <li>
                                                                        <a href="javascript:void(0);" class="main-edit-comment text-primary">Sửa</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0);" class="main-delete-comment text-danger">Xóa</a>
                                                                    </li>
                                                                </tpl>
                                                            </ul>
                                                        </li>
                                                    </tpl>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </tpl>
                            </text>
                            )
                        )
                    )
            )
)
<script>
    var mainUndoDelete = function (i, id) {
        var parent = $(i).parent();
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Revert", "Communication", new { Area = "Task" }, null))',
            params: { id: id },
            success: function (result) {
                if (result == true) {
                    parent.parent().children().show(300);
                    parent.empty();
                }
            }
        });
    };
    var mainSaveReplyReport = function (e, i) {
        var parent = $(i).parent();
        var code = (e.keyCode ? e.keyCode : e.which);
        switch (code) {
            case 13:
                if (i.value.replace(/\n/g, '').trim() != "") {
                    Ext.net.DirectMethod.request({
                        url: '@(Url.Action("Insert", "Communication", new { Area = "Task" }, null))',
                        params: { parentId: i.id, content: i.value.replace(/\n/g, '') },
                        success: function (result) {
                            var item = Ext.String.format('<li class=\' message message-reply\'><img src=\'{0}\' class=\'online\'><span class=\'message-text\'><span class=\'username\'>{1}</span><p class=\'content_comment\'>{2}</p></span><ul id=\'reply_{3}\' class=\'list-inline font-xs\' style=\'font-size: 11px;font-style: italic;  margin-top:5px;\'><li><a href=\'javascript:void(0);\' class=\'text-muted\'>{4} </a></li><li><a href=\'javascript:void(0);\' class=\'main-edit-comment text-primary\'>Sửa</a></li><li><a href=\'javascript:void(0);\' class=\'main-delete-comment text-danger\'>Xóa</a> </li></ul></li>', result.AvartarUrl, result.EmployeeName, i.value.replace(/\n/g, ''), result.CommentID, '1 phút trước');
                            i.value = '';
                            var nextItem = parent.next();
                            nextItem.prepend(item);
                            nextItem.show(300);
                            mainRenderComment();
                        }
                    });
                }
                break;
            case 27:
                parent.remove();
                break;
            case 108:
                parent.remove();
                break;
            default:
                break;
        }
    };
    var mainSaveEditComment = function (e, i) {
        var parent = $(i).parent();
        var code = (e.keyCode ? e.keyCode : e.which);
        switch (code) {
            case 13:
                if (i.value.replace(/\n/g, '').trim() != "") {
                    Ext.net.DirectMethod.request({
                        url: '@(Url.Action("Update", "Communication", new { Area = "Task" }, null))',
                        params: { id: i.id, content: i.value.replace(/\n/g, '') },
                        success: function (result) {
                            var divContent = $(i).parent().prev().prev().find('p');
                            divContent.text(i.value.replace(/\n/g, ''));
                            i.value = '';
                            parent.parent().children().show(300);
                            parent.remove();
                        }
                    });
                }
                break;
            case 27:
                parent.parent().children().show(300);
                parent.remove();
                break;
            case 108:
                parent.parent().children().show(300);
                parent.remove();
                break;
            default:
                break;
        }
    };
    var mainSaveEditReport = function (e, i) {
        var parent = $(i).parent();
        var code = (e.keyCode ? e.keyCode : e.which);
        switch (code) {
            case 13:
                if (i.value.replace(/\n/g, '').trim() != "") {
                    Ext.net.DirectMethod.request({
                        url: '@(Url.Action("Update", "Communication", new { Area = "Task" }, null))',
                        params: { id: i.id, content: i.value.replace(/\n/g, '') },
                        success: function (result) {
                            var divContent = parent.next().next().find('p');
                            divContent.text(i.value.replace(/\n/g, ''));
                            i.value = '';
                            parent.parent().children().show(300);
                            parent.remove();
                        }
                    });
                }
                break;
            case 27:
                parent.parent().children().show(300);
                parent.remove();
                break;
            case 108:
                parent.parent().children().show(300);
                parent.remove();
                break;
            default:
                break;
        }
    };
    var mainAllReply = function () {
        $('li a.main-all-reply').click(function (e) {
            e.preventDefault();
            $(this).parent().parent().closest("li").find("[id^='ul_reply']").slideToggle();
        });
    };
    var mainRenderComment = function () {
        $('li a.main-reply-report').click(function (e) {
            var parent = $(this).parent().parent();
            var idParent = parent.prop('id').split('_').pop();
            if (document.getElementById(idParent) == null) {
                var input = "<div><textarea rows='4'  onkeydown='mainSaveReplyReport(event, this)' class='form-control input-xs' style='margin-right: 0px !important; width: 100% !important; margin-top: 8px; font-size:13px; font-style:italic;' placeholder='Nhập nội dung phản hồi và nhấn Enter' id='" + idParent + "'></textarea><span style='font-size:9px;'> Nhấn Esc để </span><a href='javascript:void(0);'  onclick='$(this).parent().remove();' style='font-size:9px;'>Hủy</a></div>";
                e.preventDefault();
                parent.after(input);
            }
            $('#' + idParent).focus();
        });
        $('li a.main-edit-report').click(function (e) {
            var parent = $(this).parent().parent();
            var contentReport = parent.prev().find('p').text();
            var idReport = parent.prop('id').split('_').pop();
            var inputReport = "<div><textarea rows='4'  onkeydown='mainSaveEditReport(event, this)' class='form-control input-xs' style='margin-right: 0px !important; width: 100% !important; margin-top: 8px; font-size:13px; font-style:italic;' placeholder='Nhập nội dung sửa đổi và nhấn Enter' id='" + idReport + "'></textarea><span style='font-size:9px;'> Nhấn Esc để </span><a href='javascript:void(0);' onclick=' $(this).parent().parent().children().show(300);  $(this).parent().empty();' style='font-size:9px;'>Hủy</a></div>";
            e.preventDefault();
            parent.parent().children().not("[id^='ul_reply']").hide(300);
            parent.parent().prepend(inputReport);
            $('#' + idReport).val(contentReport);
            $('#' + idReport).focus();
        });

        $('li a.main-edit-comment').click(function (e) {
            var parent = $(this).parent().parent();
            var content = parent.prev().find('p').text();
            var idComment = parent.prop('id').split('_').pop();
            var input = "<div><textarea rows='4' onkeydown='mainSaveEditComment(event, this)' class='form-control input-xs' style='margin-right: 0px !important; width: 100% !important; margin-top: 8px; font-size:13px; font-style:italic;' placeholder='Nhập nội dung sửa đổi và nhấn Enter' id='" + idComment + "'></textarea><span style='font-size:9px;'> Nhấn Esc để </span><a href='javascript:void(0);'  onclick='$(this).parent().parent().children().show(300);  $(this).parent().empty();' style='font-size:9px;'>Hủy</a></div>";
            e.preventDefault();
            parent.parent().children().hide(300);
            parent.parent().append(input);
            $('#' + idComment).val(content);
            $('#' + idComment).focus();
        });
        $('li a.main-delete-comment').click(function (e) {
            var parent = $(this).parent().parent();
            var idCommentDelete = parent.prop('id').split('_').pop();
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("Delete", "Communication", new { Area = "Task" }, null))',
                params: { id: idCommentDelete },
                success: function (result) {
                    if (result == true) {
                        var displayRestore = Ext.String.format("<div style='text-align: right; background-color: rgb(235, 236, 236);font-size: 9px; padding-right: 11px;'>Nội dung phản hồi này đã bị xóa! <a href='javascript:void(0);' onclick='mainUndoDelete(this, \"{0}\");'>Phục hồi</a></div>", idCommentDelete.trim());
                        e.preventDefault();
                        parent.parent().children().hide(300);
                        parent.parent().append(displayRestore);
                    }
                }
            });
        });
        $('li a.main-delete-report').click(function (e) {
            var parent = $(this).parent().parent();
            var idReportDelete = parent.prop('id').split('_').pop();
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("Delete", "Communication", new { Area = "Task" }, null))',
                params: { id: idReportDelete },
                success: function (result) {
                    if (result == true) {
                        var displayRestore = Ext.String.format("<div style='text-align: right; background-color: rgb(235, 236, 236);font-size: 9px; padding-right: 11px;'>Nội dung báo cáo này đã bị xóa! <a href='javascript:void(0);' onclick='mainUndoDelete(this, \"{0}\");'>Phục hồi</a></div>", idReportDelete.trim());
                        e.preventDefault();
                        parent.parent().children().hide(300);
                        parent.parent().prepend(displayRestore);
                    }
                }
            });
        });
    };
</script>