﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentDestroyReportBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
    var destroySuggestId = ViewData["DestroySuggest"];
}
@(X.Menu().ID("contextMenuDestroyReport")
 .Items(
        X.MenuItem().Text("Xóa").IconCls("x-fa fa-trash-o").Handler("removeRecord();")
    )
)
@(X.WindowFormat()
    .Modal(false)
    .Listeners(
        ls =>
        {
            ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth() * 2 / 3 + 45); this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
            ls.BeforeClose.Handler = "App.windowReportDestroy.el.slideOut('r',{duration : 500}); return false;";
            //ls.MaskClick.Handler = "App.windowDestroySuggest.el.slideOut('r',{duration : 500});setTimeout(function(){App.windowDestroySuggest.doDestroy();},500);";
        })
    .ID("windowReportDestroy")
    .Title("Biên bản hủy")
    .IconCls("x-fa fa-file-o")
    .Items(
        X.FormPanelHBoxFormat()
        .BodyPadding(3)
        .ID(formId)
        .Items(
            X.HiddenFor(m => m.Id),
            X.HiddenFor(m => m.DestroySuggestId),
            X.ContainerVBox().Flex(2)
            .Items(
                X.FieldSetVBox().Height(300).MarginSpec("0 5 0 0").Title("Thông tin phê duyệt")
                .Padding(5).Items(
                    X.DateFieldFor(m => m.ApproveAt).Note("Ngày phê duyệt").NoteAlign(NoteAlign.Top).HideLabel(true).MarginSpec("-4 0 0 0").ReadOnly(true),
                    X.FieldSet()
                    .Padding(3)
                    .MarginSpec("5 0 0 0")
                    .Title("Người phê duyệt")
                    .Items(
                        X.EmployeeFieldFor(m => m.EmployeeApproveSuggest).AllowBlank(true)
                        .ID("txtEmployeeApproveBy").EmployeeReadOnly(true)
                        ),
                    X.TextAreaFor(m=>m.SuggestNote).EmptyText("Nhận xét").Note("Nhận xét").Flex(1).NoteAlign(NoteAlign.Top).HideLabel(true).MarginSpec("9 0 10 0").ReadOnly(true)
                    ),
                X.FieldSetVBox().Flex(1).MarginSpec("5 5 0 0").Title("Thông tin biên bản")
                .Padding(5).Items(
                    X.DateFieldFor(m => m.DestroyAt).SelectedDate(DateTime.Now).Note("Ngày thực hiện hủy").NoteAlign(NoteAlign.Top).HideLabel(true)
                    .MarginSpec("-4 0 0 0"),
                    X.TextAreaFor(m => m.Note).EmptyText("Ghi chú").Note("Ghi chú").Flex(1).NoteAlign(NoteAlign.Top).HideLabel(true).MarginSpec("9 0 10 0")
                )
        ),
        X.ContainerVBox().Flex(3)
        .Items(
            X.FieldSet()
            .MarginSpec("0 0 0 0")
            .Title("Danh sách tài liệu hủy")
            .Padding(5)
            .Layout(LayoutType.HBox)
            .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
            .Flex(1)
            .Items(
                X.GridPanel()
                .ColumnLines(true)
                .RowLines(true)
                .Header(false)
                .Flex(1)
                .Resizable(true)
                .Border(false)
                .ID("gridDocumentDestroyReport")
                .MarginSpec("5 0 0 0")
                .Border(true)
                .Store(
                    X.StoreFormat()
                    .ID("stDocumentDestroyReport")
                    .AutoLoad(true)
                    .Url(Url.Action("GetDocumentDestroySuggest", "DestroyReport", new { Area = "Document", destroySuggestId = destroySuggestId }))
                )
                .ColumnModel(
                    Html.X().Column().DataIndex("Id").Hidden(true),
                    Html.X().Column().DataIndex("DocumentId").Hidden(true),
                    Html.X().Column().DataIndex("DestroySuggestId").Hidden(true),
                    Html.X().RowNumbererColumn().Text("Stt").Width(40).Align(ColumnAlign.Center),
                    Html.X().ColumnEncodeFormat().DataIndex("DocumentCode").Text("Mã tài liệu").Width(90).Locked(true),
                    Html.X().ColumnEncodeFormat().DataIndex("DocumentName").Text("Tên tài liệu").Width(230).Locked(true),
                    Html.X().ColumnEncodeFormat().DataIndex("DestroyType").Text("Hình thức hủy").Width(110).Align(ColumnAlign.Center),
                    Html.X().CheckColumn().DataIndex("IsDestroy").Text("Đã hủy").Editable(true).Width(80).Align(ColumnAlign.Center),
                    Html.X().Column().DataIndex("Reason").Text("<p>Lý do <i class='x-fa fa-info-circle'></i></p>").Editor(Html.X().TextField().Border(true))
                        .ToolTips(
                            t => t.Add(new ToolTip()
                            {
                                Html = "<p>Kích đúp để nhập lý do chưa hủy tài liệu</p>",
                                Width = 220,
                                Height = 50
                            })
                        )
                        .Width(180)
                ).BottomBar(X.PagingToolbarFormat())
                .Plugins(
                    Html.X().CellEditing().Listeners(ls => ls.Edit.Fn = "edit")
                )
            ),
            X.FieldSet()
            .MarginSpec("5 0 5 0")
            .Title("Thành phần tham gia")
            .Padding(5)
            .Layout(LayoutType.VBox)
            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
            .Flex(1)
            .Items(
                X.ContainerHBoxTop().Items(
                    X.ComboboxTreeFormat().Multiple(true).Note("Lựa chọn nhân sự nội bộ tham gia hủy").NoteAlign(NoteAlign.Top).AllowBlank(true)
                        .ID("cbtreeEmployee").ShowEmployee(true).ShowTitle(true).DisableSelectDepartment(true).Flex(1).DisableSelectTitle(true).MarginSpec("-5 0 0 0"),
                    X.Button().Text("Lưu").IconCls("x-fa fa-save").MarginSpec("16 0 0 5").Handler("addGridEmployeeDestroySuggest();")
                ),
                X.GridPanel()
                .Flex(1)
                .ID("gridEmployeeDestroySuggest")
                .MarginSpec("-13 0 0 0")
                .Border(true)
                .Store(
                    X.StoreFormat()
                    .ID("stEmployeeDestroySuggest")
                    .AutoLoad(true)
                    .Url(Url.Action("GetDetail", "DestroyReportDetail", new { Area = "Document", reportId = Model.Id }))
                )
                .ColumnModel(
                    Html.X().Column().DataIndex("EmployeeId").Hidden(true),
                    Html.X().Column().DataIndex("Id").Hidden(true),
                    Html.X().RowNumbererColumn().Text("Stt").Width(40).Align(ColumnAlign.Center),
                    Html.X().ColumnEncodeFormat().DataIndex("EmployeeName").Text("Nhân viên").Flex(1).CellWrap(true),
                    Html.X().ColumnEncodeFormat().DataIndex("DepartmentName").Text("Phòng ban").Width(130).CellWrap(true).Align(ColumnAlign.Center),
                    Html.X().ColumnEncodeFormat().DataIndex("Title").Text("Chức vụ").Width(120).CellWrap(true).Align(ColumnAlign.Center),
                    Html.X().CheckColumn().DataIndex("IsConfirm").Text("Xác nhận").Width(90).Editable(true).Align(ColumnAlign.Center)
                    ).BottomBar(X.PagingToolbarFormat())
                    .Listeners(ls =>
                    {
                        ls.SelectionChange.Handler = "refreshMenuDocumentDestroyReport(selected);";
                        ls.BeforeItemContextMenu.Fn = "itemContextMenuDestroyReport";
                    })
                )
            )
        )
        ).Buttons(
            X.ButtonSave()
            .Hidden(Model.DestroySuggest.StatusType == (int)iDAS.Service.Common.Resource.DocumentSuggestStatusType.BillCreated)
            .DirectEvents(de =>
                {
                    de.Click.FormID = formId;
                    de.Click.ExtraParams.Add(new { jsonDocument = new JRawValue("getDatagridDocumentDestroyReport()") });
                    de.Click.ExtraParams.Add(new { jsonDetail = new JRawValue("getDataGridEmployeeDestroySuggest()") });
                    de.Click.ExtraParams.Add(new { destroySuggestId = destroySuggestId });
                    de.Click.Url = Url.Action("Create", "DestroyReport");
                    de.Click.Success = "this.up('window').close(); App.stDocumentDestroySuggest.reload();";
                }),
            X.ButtonExit()
        )
)
<script>
    var refreshMenuDocumentDestroyReport = function (selected) {

    };

    var itemContextMenuDestroyReport = function (grid, record, item, index, e, eOpts) {
        e.stopEvent();
        App.contextMenuDestroyReport.showAt(e.getX(), e.getY());
    };

    var edit = function (editor, e) {

    };

    var addGridEmployeeDestroySuggest = function () {
        var id = App.cbtreeEmployee.getValue();
        var name = App.cbtreeEmployee.getText();
        var ids = {};
        var names = {};
        ids = id.split(',');
        names = name.split(',');
        if (id != null && id != undefined && name != '') {
            for (var i = 0; i < ids.length; i++) {
                var employeeId = ids[i].split('_');
                if (Ext.StoreMgr.lookup(App.stEmployeeDestroySuggest).findExact('EmployeeId', employeeId[1]) < 0) {
                    App.stEmployeeDestroySuggest.add({ EmployeeId: employeeId[1], EmployeeName: names[i] });
                }
            }
        }
    };

    var getDataGridEmployeeDestroySuggest = function () {
        var data = [];
        App.stEmployeeDestroySuggest.data.each(function (e, d) {
            var item = {};
            item.EmployeeId = e.data.EmployeeId;
            item.IsConfirm = e.data.IsConfirm;
            data.push(item);
        });
        return JSON.stringify(data);
    };

    var getDatagridDocumentDestroyReport = function () {
        var data = [];
        App.stDocumentDestroyReport.data.each(function (e, d) {
            var item = {};
            item.Id = e.data.Id;
            item.DestroySuggestId = e.data.DestroySuggestId;
            item.DocumentId = e.data.DocumentId;
            item.Reason = e.data.Reason;
            item.IsDestroy = e.data.IsDestroy;
            data.push(item);
        });
        return JSON.stringify(data);
    };

    var onDeleteEmployeeJoin = function () {
        var records = App.gridEmployeeDestroySuggest.selModel.getSelection();
        if (records.length > 0) {
            var id = records[0].data.Id;
            Ext.Msg.confirm('@iDAS.Presentation.Common.Resource.Confirm', '@iDAS.Presentation.Common.Resource.ConfirmDelete', function (result) {
                if (result == 'yes') {
                    var params = { id: id };
                    var url = '@Url.Action("Delete", "DestroyReportDetail")';
                    onDirectMethod(url, params);
                    App.stEmployeeDestroySuggest.reload();
                }
            });
        }
    };

    var removeRecord = function () {
        var record = App.gridEmployeeDestroySuggest.selModel.getSelected();
        if (record != null) {
            Ext.Msg.confirm('@iDAS.Presentation.Common.Resource.Confirm', '@iDAS.Presentation.Common.Resource.ConfirmDelete', function (result) {
                if (result == 'yes') {
                    App.gridEmployeeDestroySuggest.deleteSelected();
                }
            });
        }
    };
</script>