﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentDestroySuggestResponsibitityBO
@{
    var X = Html.X();
    var destroySuggestId = (string)ViewData["DestroySuggestId"];
    var formId = X.GetComponentID();
}
@(X.WindowSlide().WindowLayout(LayoutType.VBox).SlideConfigFormat(new ExtCommon.SlideConfig() { ratioWidhParent = 0.3 })
    .ID("WindowDestroyPublishProcessReviewDetail")
    .Title("Đề nghị hủy tài liệu").Padding(0).IconCls("x-fa fa-close")
    .Items(
        X.ContainerHBox().Flex(1)
        .Items(
            X.FieldSetVBox().Flex(1).Title("Thông tin đề nghị").Padding(3).MarginSpec("5 0 5 3")
            .Items(
                X.GridPanel()
                .Flex(1).Border(true)
                .ID("gridDestroySuggestDetail")
                .MarginSpec("0 0 0 0")
                .ColumnLines(true)
                .RowLines(true)
                .Border(true)
                .Store(
                    X.StoreFormat().ID("stDestroySuggestDetail")
                    .AutoLoad(true)
                        .Url(Url.Action("LoadSuggestDetail", "DestroySuggest", new { Area = "Document", destroySuggestId = destroySuggestId }))
                )
                .ColumnModel(
                    Html.X().Column().DataIndex("Id").Hidden(true),
                    Html.X().RowNumbererColumn().Text("STT").Width(45).Align(ColumnAlign.Center),
                    Html.X().ColumnEncodeFormat().DataIndex("DocumentCode").Text("Mã tài liệu").Width(100).CellWrap(true),
                    Html.X().ColumnEncodeFormat().DataIndex("DocumentName").Text("Tên tài liệu").Flex(1).CellWrap(true)
                ),
            X.FormPanel().Border(false).Hidden(true).Layout(LayoutType.VBox).LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
            .BodyPadding(5).Flex(1).ID(formId)
            .Items(
                X.HiddenFor(m => m.Id),
                X.HiddenFor(m => m.DepartmentId),
                X.HiddenFor(m => m.RoleType),
                X.FieldSet().Title("Trách nhiệm liên quan").PaddingSpec("5 0 0 0").Layout(LayoutType.Fit).Height(250)
                .Items(
                    X.GridPanel().AutoScroll(false).ID("grListPerformSuggest").Border(true)
                    .ColumnLines(true).MinHeight(50).MarginSpec("0 -1 -2 -1")
                    .Flex(1)
                        .Store(
                        X.StoreFormat().ID("storeListPerformSuggest").AutoLoad(true)
                            .Url(Url.Action("GetEmployeeRoleByPublishProcess", "DestroySuggest", new { Area = "Document" }))
                            .Parameters(ps =>
                            {
                                ps.Add(new StoreParameter("destroySuggestId", Model.DocumentDestroyId.ToString(), ParameterMode.Value));
                            }
                        )
                        .Model(Html.X().Model()
                                .IDProperty("Id")
                                .Fields(
                                    new ModelField("Id", ModelFieldType.String),
                                    new ModelField("RoleText", ModelFieldType.String),
                                    new ModelField("ResultText", ModelFieldType.String),
                                    new ModelField("EmployeeSend", ModelFieldType.Auto),
                                    new ModelField("ApproveNote", ModelFieldType.Auto)
                                )
                            )
                        )
                        .ColumnModel(
                            Html.X().RowNumbererColumn().Text("STT").Width(50).Align(ColumnAlign.Center),
                            Html.X().Column().Text("Nhân sự").Width(180).Flex(1).Renderer("renderEmployeeColumn"),
                            Html.X().ColumnEncodeFormat().DataIndex("RoleText").Text("Trách nhiệm").Width(100).CellWrap(true).Align(ColumnAlign.Center),
                            Html.X().ColumnEncodeFormat().DataIndex("ResultText").Text("Kết quả").Width(100).CellWrap(true).Align(ColumnAlign.Center)//,
                        ).Plugins(
                                Html.X().RowExpander()
                                    .TemplateHtml(@"
                                <p><b>Nhận xét:</b> {ApproveNote}</p>")
                            )
                )
            ),
            X.TextAreaFor(m => m.DestroySuggest.ReasonOfSuggest).ID("txtReasonOfDestroySuggestDetail").Flex(1).MarginSpec("10 0 10 0").HideLabel(true).EmptyText("Nội dung đề nghị hủy")
                .Note("Nội dung đề nghị hủy").NoteAlign(NoteAlign.Top).ReadOnly(true),
            X.TextFieldFor(m => m.DepartmentName).ID("txtDepartmentDestroySuggest").MarginSpec("5 0 0 0").HideLabel(true)
                .Note("Phòng ban đề nghị").NoteAlign(NoteAlign.Top).ReadOnly(true).EmptyText("Phòng ban đề nghị"),
            X.DateFieldFor(m => m.DestroySuggest.CreateAt).Note("Thời gian đề nghị").NoteAlign(NoteAlign.Top).HideLabel(true).MarginSpec("5 0 0 0")
                .ID("dfDestroyCreateAtDetail").ReadOnly(true),
            X.FieldSet()
            .Padding(3)
            .MarginSpec("0 0 0 0")
                .Title("Người đề nghị")
                .Items(
                    X.EmployeeFieldFor(u => u.EmployeeDestroyCreate).ID("eplEmployeeCreateDestroy").EmployeeReadOnly(true)
                )
            )
        )
    )
    .Buttons(
        X.Button().Text("Hủy").ID("btnDestroySugeest").IconCls("x-fa fa-ban").Hidden((Model.IsComplete == true) ? true : false)
            .DirectEvents(de =>
                {
                    de.Click.Method = HttpMethod.POST;
                    de.Click.Confirmation.ConfirmRequest = true;
                    de.Click.Confirmation.Message = "Bạn chắc chắn muốn hủy tài liệu này không";
                    de.Click.Confirmation.Title = Resource.Confirm;
                    de.Click.FormID = formId;
                    de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
                    de.Click.ExtraParams.Add(X.Parameter().Name("id").Value(Model.Id.ToString()).Mode(ParameterMode.Value));
                    de.Click.Url = Url.Action("FormPublishDestroySuggestDocument", "DestroySuggest");
                    de.Click.Success = "this.up('window').close(); App.storeRequestPromulgate.reload();";
                }),
        X.Button().IconCls("x-fa fa-share-square-o").ID("btnSendNextStep").Text("Gửi").Handler("onDestroySuggestNextSendPublishDestroy('" + Model.Id + "');")
            .Hidden(Model.IsApprove == true ? true : false),
        X.ButtonExit()
    )
)
<script>
    var onDestroySuggestNextSendPublishDestroy = function (id) {
        var win = App.WindowDestroyPublishProcessReviewDetail;
        if (!win.down('form').getForm().isValid()) {
            alert('1');
            return false;
        };
        var params = { id: id };
        var url = '@Url.Action("SendPublishApproveDestroy", "DestroySuggest")';
        onDirectMethod(url, params, 'get');
    };

    var renderEmployeeColumn = function (value, meta, record) {
        var title = '<span style="margin-left: 44px;font-size:10px;">' + record.data.EmployeeSend.RoleNames + '</span></span>';
        var result = record.data.EmployeeSend.Name;
        var image = '<img src="' + record.data.EmployeeSend.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.EmployeeSend.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
</script>



