﻿@(Html.X().Panel()
            .Title("Trò chuyện nội bộ")
            .Width(250)
            .Height(395)
            .ID("pnMessaggerPanel")
            .UI(UI.Success)
            .IconCls("x-fa fa-comments-o")
            .Layout(LayoutType.Fit)
            .Floating(true)
            .Shadow(false)
            .Items(
            Html.X().DataView()
                .Margin(-1)
                .LoadMask(false)
                .AutoScroll(true)
                .ItemSelector("td.letter-row")
                .Store(Html.X().Store()
                .AutoLoad(true)
                .Model(Html.X().Model()
                    .Fields(
                        Html.X().ModelField().Name("ID").Type(ModelFieldType.Int),
                        Html.X().ModelField().Name("EmployeeAvatarUrl").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("EmployeeSend").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("Content").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("ModuleName").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("Title").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("DateSend").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("TimeSend").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("IsRead").Type(ModelFieldType.Boolean)
                    )
                )
                .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData", "Notifies"))
                .Reader(Html.X().JsonReader().RootProperty("data")).IDParam("ID"))
            )
            .SingleSelect(true)
                    .Cls("img-chooser-view")
                    .OverItemCls("x-view-over")
                    .ItemSelector("div.thumb-wrap")
                    .EmptyText(@"<div style='text-align:center'>
                                <div class='emptyClass'></div>
                                <div style='font-size: 0.9em'>Không có tin nhắn nào</div>
                            </div>")
                    .TrackOver(true)
                    .Tpl(
                        Html.X().XTemplate()
                            .Html(
                            @<text>
                                <div class="ajax-notifications custom-scroll" style="opacity:1;">
                                    <ul class='notification-body'>
                                        <tpl for=".">
                                            <li>
                                                <tpl if='IsRead == true'>
                                                    <span>
                                                        <a href="javascript:void(0);" class="msg">
                                                            <img src="{EmployeeAvatarUrl}" alt="" class="air air-top-left margin-top-5" width="35" height="35" style="border-radius:50%; border:3px solid #00d304" />
                                                            <span class='from'>{EmployeeSend}</span>
                                                            <time>{TimeSend}</time>
                                                            <span class='subject'>online</span>
                                                        </a>
                                                    </span>
                                                </tpl>
                                                <tpl if='IsRead == false'>
                                                    <span>
                                                        <a href="javascript:void(0);" class="msg">
                                                            <img src="{EmployeeAvatarUrl}" alt="" class="air air-top-left margin-top-5" width="35" height="35" style="border-radius:50%; border:3px solid #d1d1d1" />
                                                            <span class='from'>{EmployeeSend}</span>
                                                            <time>{TimeSend}</time>
                                                            <span class='subject'>offline</span>
                                                        </a>
                                                    </span>
                                                </tpl>
                                            </li>
                                        </tpl>
                                    </ul>
                                </div>
                            </text>
                            )
                    )
                )
                .MessageBusListeners(
                    new MessageBusListener
                    {
                        Name = "App.ctDesktop.beforeRender",
                        Fn = "initMessaggerPanel"
                    }
                )
                .Plugins(
                    Html.X().MouseDistanceSensor()
                    .Opacity(false)
                    .Threshold(25)
                    .Listeners(l =>
                    {
                        l.Near.Handler = "this.component.el.alignTo(App.ctDesktop.getBody(), 'tr-tr', [0, 200], true);";
                        l.Far.Handler = "this.component.el.alignTo(App.ctDesktop.getBody(), 'tl-tr', [0, 200], true);";
                    })
            )
)
<script>
    var initMessaggerPanel = function () {
        alert(1);
        this.setHeight(App.ctDesktop.getBody().getHeight());
        if (!this.windowListen) {
            this.windowListen = true;
            this.el.alignTo(App.ctDesktop.getBody(), 'tl-tr', [0, 200]);
            Ext.on("resize", initMessaggerPanel, this);
        }
    };
</script>