﻿@using Ext.Net;
@using Ext.Net.MVC;
@{
}
@(Html.X().Panel()
    .Border(false)
    .Layout(LayoutType.Fit)
    .Html(@"<div style='text-align:center'>
            <div class='emptyClass'>
            </div>
            <div style='font-size: 0.9em'>Chức năng đang được nâng cấp. Vui lòng quay lại sau! </div>
            </div>")
)
<style>
    .emptyClass {
        background-image: url('/Content/images/info.png') !important;
        background-repeat: no-repeat;
        background-position: center;
        height: 172px;
    }
</style>
