﻿@model iDAS.Service.UserBO
@{
    var X = Html.X();
}
<style>
    .login-form {
        flex-shrink: 0;
        background: #fff;
        -webkit-tap-highlight-color: transparent;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    }
    .login-form .x-fa {
        top: 9px;
        left: 5px;
    }
    a {
        font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #444;
    }
    a:hover {
        cursor: pointer;
        text-decoration: none;
        color: #000;
    }
</style>
@(
 X.Viewport()
    .Layout(LayoutType.Border)
    .Border(false)
    .Items(
        X.Panel()
        .BodyStyle("background: url(/Content/images/bg.png) #fff;")
        .Region(Region.Center)
        .Border(false)
        .Header(false)
        .TitleCollapse(true)
        .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle, Pack = BoxPack.Center })
        .Items(
            X.FormPanel()
            .ID("formLogin")
            .Width(390)
            .Cls("login-form")
            .Border(false)
            .HeaderConfig(
            X.PanelHeader().ID("IdHeader").Height(63).StyleSpec("background-color:#022F5D")
                .PaddingSpec("0px")
                .Items(
                X.Container().WidthSpec("100%").Layout(LayoutType.Center).Items(
                X.ImageButton().WidthSpec("100%").HeightSpec("63px").ImageUrl("/Content/images/ISO_banner.png")
                )
            )
            )
            .Items(
                X.Container().Border(false).ID("ctLoading").Height(2).Hidden(true)
                .Html("<div class='load-bar'><div class='bar'></div><div class='bar'></div></div>"),
                X.Container().Border(false).ID("ctLoadingEmpty").Height(2).Hidden(false),
                X.Container().MarginSpec("10 20 20 20")
                .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch, Pack = BoxPack.Center })
                .Items(
                    X.Label().Text("Đăng nhập hệ thống")
                    .StyleSpec("font-weight:600;font-size:16px;line-height:18px").MarginSpec("0 0 20 0"),
                    X.AntiForgeryField(),
                    X.TextFieldFor(m => m.UserName).HideLabel(true).EmptyText("Tài khoản").IconCls("x-fa fa-user"),
                    X.TextFieldFor(m => m.Password).HideLabel(true).EmptyText("Mật khẩu").IconCls("x-fa fa-lock"),
                    X.TextFieldFor(m => m.RememberMe).Hidden(true).Value(true)
                )
            )
            .FooterBar(
                X.Toolbar()
                .PaddingSpec("0 20 40 20")
                .StyleSpec("background-color: #fff; border:none;")
                .Items(
                    X.Hyperlink().Text("Quên mật khẩu ?"),
                    X.ToolbarFill(),
                    X.Button().Text("Đăng nhập").Margin(0).MarginSpec("0 0 0 0").UI(UI.Success).StyleSpec("background-color:#022F5D;border-color:#022F5D")
                    .DirectEvents(de => {
                        de.Click.Before = "if (!App.formLogin.getForm().isValid()) { return false; }; this.setDisabled(true); App.ctLoading.show(); App.ctLoadingEmpty.hide();";
                        de.Click.FormID = "formLogin";
                        de.Click.Url = Url.Action("Login", "Account");
                        de.Click.Success = "App.ctLoading.hide(); App.ctLoadingEmpty.show(); App.formLogin.hide();";
                        de.Click.Failure = "App.ctLoading.hide(); App.ctLoadingEmpty.show(); eval(result.script); this.setDisabled(false);";
                    })
                )
            )
        ),
        X.Panel().Region(Region.South).Border(false).Items(
            X.Toolbar().Height(32).Items(
                X.Label().Text("Công ty CP Xây dựng và CN Môi Trường Việt Nam").StyleSpec("color:#005fb1 !important; font-weight:500"),
                X.ToolbarFill(),
                X.Hyperlink().Text("Chính sách bảo mật"),
                X.ToolbarSpacer(),
                X.Hyperlink().Text("Điều khoản sử dụng"),
                X.ToolbarSpacer(),
                X.Hyperlink().Text("Ngôn ngữ")
            )
        )
    )
)