﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
    var departmentName = ViewData["departmentName"];
    var departmentId = ViewData["departmentId"];
}
@(X.WindowFormat()
   .Height(580)
   .Width(700)
   .Closable(true)
   .Title("Thiết lập mức độ bảo mật tài liệu thuộc phòng ban: " + departmentName)
   .Border(true)
   .Items(
        X.Label().Height(50).MarginSpec("5 0 0 5").Html("<p><span style='color:red'>Chú ý(*):</span> Trường hợp mức độ bảo mật chưa tồn tại trên hệ thống vui lòng click “Thêm” <br/>- Trường hợp mức độ bảo mật đã tồn tại vui lòng lựa chọn mức độ bảo mật sau đó click “Chi tiết” <br/> Và cập nhật trường hợp sử dụng, chức vụ phê duyệt đề nghị phân phối tài liệu và click vào nút “Lưu”  </p>"),
        X.GridPanel().Flex(1)
                .ID("grSecurityLevel")
                .UI(UI.Success)
                .TopBarItem(
                    Html.X().Button().Text(Resource.Create) .IconCls("x-fa fa-plus-circle")
                            .DirectEvents(de =>
                            {
                                de.Click.ExtraParams.Add(new { departmentId = departmentId });
                                de.Click.Url = Url.Action("Form");
                            }),
                    Html.X().Button().Text(Resource.Detail).ID("btnUpdateSecurityLevel")
                            .Disabled(true).IconCls("x-fa fa-search")
                            .DirectEvents(de =>
                            {
                                de.Click.ExtraParams.Add(new { id = new JRawValue("this.up('grid').selModel.getSelection()[0].data.Id") });
                                de.Click.ExtraParams.Add(new { departmentId = departmentId });
                                de.Click.Url = Url.Action("Form");
                            })
                    )
                .Title("Thiết lập mức độ bảo mật")
                .Header(false).Border(false).ColumnLines(true).Icon(Icon.Table)
                .Store(Html.X().Store().ID("stSecurityLevel").PageSize(10)
                            .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData", "Security", new{Area="Document",departmentId=departmentId}))
                            .Reader(Html.X().JsonReader().RootProperty("data")))
                           .Model(Html.X().Model()
                                .Fields(
                                    Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                                            Html.X().ModelField().Name("Name").Type(ModelFieldType.String),
                                            Html.X().ModelField().Name("Color").Type(ModelFieldType.String),
                                            Html.X().ModelField().Name("Description").Type(ModelFieldType.String),
                                            Html.X().ModelField().Name("IsUse").Type(ModelFieldType.Boolean),
                                        Html.X().ModelField().Name("ApproveTitleName").Type(ModelFieldType.String)

                                )
                            )
                        )
        .ColumnModel(
                    Html.X().RowNumbererColumn().Text("Stt").Width(40).Align(ColumnAlign.Center),
                        Html.X().Column().Text("Mức độ").DataIndex("Name").Flex(1)
                        .Renderer(new Renderer { Fn = "function(value, meta, record) {return '<span><i style=\"background-color: '+ record.data.Color +'; width: 15px; height: 15px; border-radius: 50%; position: absolute;border: 1px solid\"></i><span style=\"margin-left: 24px;\">'+ Ext.htmlEncode(value) +'</span></span>'; }" }),
                        Html.X().ColumnEncodeFormat().Text(Resource.Description).DataIndex("Description").Flex(2),
                        Html.X().CheckColumn().Text("Sử dụng").DataIndex("IsUse").Width(80),
                         Html.X().ColumnEncodeFormat().Text("Chức vụ duyệt phân phối").DataIndex("ApproveTitleName").Flex(2)
        )
        .SelectionModel(
                        Html.X().RowSelectionModel().Mode(SelectionMode.Single)
                            .Listeners(ls => ls.SelectionChange.Handler = "refreshMenuSecurityLevel();")
                        )
        .BottomBar(Html.X().PagingToolbarFormat())
     
    )
    .Buttons(
         X.ButtonExit()
         )

)
<script>
    var refreshMenuSecurityLevel = function () {
        var records = App.grSecurityLevel.selModel.getSelection();
        switch (records.length) {
            case 0:
                App.btnUpdateSecurityLevel.setDisabled(true);
                break;
            case 1:
                App.btnUpdateSecurityLevel.setDisabled(false);
                break;
            default:
                App.btnUpdateSecurityLevel.setDisabled(true);
                break;
        }
    };


</script>