﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.PermissionBO
@{
    var X = Html.X();
}
@(X.WindowFormat().Title("Thêm nhân viên chỉnh sửa dữ liệu")
        .Width(800)
        .Height(600)
        .Items(
            X.GridPanel().Flex(1)
            .Border(false)
            .Header(false)
            .Title("Danh sách nhân viên")
            .ID("grdAddPermission")
            .TopBarItem(
                Html.X().TextField().ID("txtFormSearchByName").EmptyText("Tìm nhân viên").HideLabel(true).Width(200).Listeners(ls =>
                {
                    ls.Change.Handler = "App.stAddEmployeePermission.reload();";
                    ls.Change.Buffer = 300;
                }),
                Html.X().Button()
                    .Text(Resource.Create)
                    .IconCls("x-fa fa-plus-circle")
                    .Listeners(ls => ls.Click.Handler = "addNewPermission();"),
                X.ButtonExit()
            )
            .IconCls("x-fa fa-archive")
            .Store(Html.X().Store()
                .PageSize(20)
                .Parameters(pr =>
                {
                    pr.Add(new StoreParameter("name", "App.txtFormSearchByName.value", ParameterMode.Raw));
                })
            .AutoLoad(true)
            .ID("stAddEmployeePermission")
                .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData") + "?type=0")
                    .Reader(Html.X().JsonReader().RootProperty("data")))
                .PageSize(10)
                .Model(Html.X().Model()
                    .Fields(
                        Html.X().ModelField().Name("EmployeeId").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("EmployeeCode").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("EmployeeName").Type(ModelFieldType.String)))
            )
            .EmptyText("Không có dữ liệu")
            .ColumnModel(
                Html.X().ColumnEncodeFormat().DataIndex("EmployeeId").Text("Id nhân viên").Hidden(true),
                Html.X().ColumnEncodeFormat().DataIndex("EmployeeCode").Text("Mã nhân viên").Width(150).Align(ColumnAlign.Center),
                Html.X().ColumnEncodeFormat().DataIndex("EmployeeName").Text("Tên nhân viên").Width(200))
            .SelectionModel(
                Html.X().CheckboxSelectionModel()
                    .Mode(SelectionMode.Multi)
            )
            .View(
                Html.X().GridView().MarkDirty(false)
            )
    )
    )
)
)
<script>

    var addNewPermission = function() {
        var rec = App.grdAddPermission.selModel.getSelection();
        var idList = [];
        for (var r in rec) {
            id = rec[r].data["EmployeeId"];
            idList.push(id);
        }
        i = JSON.stringify(idList);
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("AddEmployee", "Permission"))',
            params: {
                Id: i
            },
            success: function() {
                App.stEmployeePermission.reload();
                App.stAddEmployeePermission.reload();
            },
            failed: function() {}
        });
    };
</script>
<script type="text/javascript">
    Ext.getBody().unmask();
</script>