﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentRequestBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.WindowFormat()
    .Width(950)
    .Height(647)
    .Title(Model.Id == Guid.Empty ? "Yêu cầu biên soạn tài liệu" : (Model.IsSend == null ? "Chi tiết [Trạng thái Mới]" : "Chi tiết [Trạng thái Chờ thực hiện, Đang thực hiện, Hoàn thành, Kết thúc]"))
    .IconCls("x-fa fa-commenting")
    .Items(
        X.FormPanelHBoxFormat()
        .ID(formId)
        .BodyPadding(1)
        .Items(
            X.ContainerVBox()
            .Flex(1)
            .Items(
            X.FieldSet()
            .Title("Thông tin tài liệu")
            .Layout(LayoutType.VBox)
            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
            .Items(
                    X.HiddenFor(m => m.Id),
                    X.HiddenFor(m => m.Document.Id),
                    X.ComboBoxFor(m => m.Document.CategoryId).FieldLabel("Thuộc danh mục tài liệu").LabelAlign(LabelAlign.Top).MarginSpec("0 0 0 0")
                    .ReadOnly(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false)
                    .LabelWidth(200).ID("txtCaregoryDocument")
                    .TypeAhead(true).AllowBlank(false).QueryMode(DataLoadMode.Local).ForceSelection(true)
                    .EmptyText("Chọn danh mục tài liệu")
                    .DisplayFieldEncodeFormat("Name")
                    .TriggerAction(TriggerAction.All)
                    .DisplayField("Name").MultiSelect(false)
                    .Listeners(l =>
                            {
                                l.Change.Handler = "showEmployee(this);";
                            })
                    .ValueField("Id")
                    .ValueNotFoundText("Loading...")
                    .Store(Html.X().Store()
                        .AutoLoad(true)
                        .Model(Html.X().Model()
                            .IDProperty("Id")
                            .Fields(
                                new ModelField("Id", ModelFieldType.String),
                                new ModelField("Name", ModelFieldType.String)
                            )
                        )
                        .Proxy(Html.X().AjaxProxy()
                                .Url(Url.Action("GetAll", "Category", new { area = "Document" }))
                            .Reader(Html.X().JsonReader().RootProperty("data"))
                        )),
                    X.ContainerHBox()
                    .Padding(3)
                    .MarginSpec("0 0 0 0")
                        .Items(
                            X.TextFieldFor(m => m.Document.Code)
                            .Flex(1)
                            .ReadOnly(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false)
                            .FieldLabel("Mã tài liệu yêu cầu biên soạn <i class='x-fa fa-info-circle'></i> ")
                            .LabelAlign(LabelAlign.Top).EmptyText("XX-YY-ZZ")
                            .AllowBlank(false).ToolTips(
                                t => t.Add(new ToolTip()
                                {
                                    Html = "<p>XX: Mã quy trình. Ví dụ: QT<br/>YY: Mã phòng ban. Ví dụ: KD<br/>ZZ: Số thứ tự. Ví dụ: 01</p>",
                                    Width = 200,
                                    Height = 70
                                })
                            ),
                            X.TextFieldFor(m => m.Document.Version)
                            .MarginSpec("0 0 0 5").Flex(1)
                            .ReadOnly(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false)
                            .LabelAlign(LabelAlign.Top)
                            .FieldLabel("Phiên bản tài liệu")
                            .AllowBlank(false)
                        ),
                    X.TextFieldFor(m => m.Document.Name)
                    .ReadOnly(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false)
                    .FieldLabel("Tên tài liệu yêu cầu biên soạn")
                    .LabelAlign(LabelAlign.Top)
                    .AllowBlank(false)
                    .MarginSpec("0 0 0 0"),
                    X.ContainerHBox()
                    .MarginSpec("0 0 0 0")
                    .Items(
                        //X.RadioGroup()
                        //.ID("rdgLoaiTaiLieu")
                        //.Flex(1)
                        //.FieldLabel("Loại tài liệu")
                        //.ColumnsNumber(1)
                        //.AutomaticGrouping(false)
                        //.Items(
                        //    X.Radio().Name("IsInternal")
                        //        .InputValue("true").BoxLabel("Nội bộ")
                        //        .ReadOnly(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false)
                        //        .Checked(Model.Document.IsInternal == true ? true : false),
                        //    X.Radio().Name("IsInternal").InputValue("false").BoxLabel("Bên ngoài")
                        //        .ReadOnly(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false)
                        //        .Checked(Model.Document.IsInternal == false ? true : false)
                        //    ),
                    X.Container()
                        .Layout(LayoutType.Anchor)
                        .Flex(1)
                            .DefaultAnchor("100%")
                            .Defaults(X.Parameter().Name("HideEmptyLabel").Value("false").Mode(ParameterMode.Raw))
                            .Items(
                                X.CheckboxFor(m => m.Document.IsHard)
                                    .FieldLabel("Hình thức lưu trữ").LabelWidth(110).BoxLabel("Bản cứng").MarginSpec("0 5 0 0")
                                    .ReadOnly(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false),
                                X.CheckboxFor(m => m.Document.IsSoft).LabelWidth(110).BoxLabel("Bản mềm").FieldLabel("")
                                    .ReadOnly(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false)
                            )
                        ),
                     X.ComboBoxFor(m => m.Document.SecurityId)
                        .MarginSpec("0 0 0 0")
                        .FieldLabel("Mức độ bảo mật")
                        .EmptyText("Mức độ bảo mật")
                        .ReadOnly(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false)
                        .LabelWidth(120)
                        .ID("cbbDocumentSecurity")
                        .EmptyText("Chọn mức độ bảo mật")
                        .TypeAhead(true)
                        .AllowBlank(false)
                        .QueryMode(DataLoadMode.Local)
                        .ForceSelection(true)
                        .DisplayFieldEncodeFormat("Name")
                        .TriggerAction(TriggerAction.All)
                        .DisplayField("Name")
                        .ValueField("Id")
                        .Listeners(l =>
                        {
                            l.Change.Handler = "setColor(App.cbbDocumentSecurity, App.stDocumentSecurity);";
                        })
                        .ValueNotFoundText("Loading...")
                        .Store(Html.X().Store()
                            .ID("stDocumentSecurity")
                            .Listeners(ls => ls.Load.Handler = "setColor(App.cbbDocumentSecurity, App.stDocumentSecurity);")
                            .AutoLoad(true)
                            .Model(Html.X().Model()
                                .IDProperty("Id")
                                .Fields(
                                    new ModelField("Id", ModelFieldType.String),
                                    new ModelField("Name", ModelFieldType.String)
                                )
                            )
                            .Proxy(Html.X().AjaxProxy()
                                    .Url(Url.Action("GetAll", "Security", new { area = "Document" }))
                                    .Reader(Html.X().JsonReader().RootProperty("data"))
                                )
                        )
                        .Tpl(
    @<text>
        <tpl for=".">
            <div class="x-boundlist-item" style="display: inline-block; width: 100%;">
                <div style="width: 20px; height: 20px; float: left; border-radius:50%; margin-top:5px; background-color: {Color}; border: #cecece 1px solid;">&nbsp;</div><div style="width: auto; float: left; font-size: 0.9em;">&nbsp;{Name}</div>
            </div>
        </tpl>
    </text>)
                ),
                X.TextFieldFor(m => m.Note).ID("txtNote")
                .AllowBlank(false).FieldLabel("Nội dung yêu cầu").LabelAlign(LabelAlign.Top).MarginSpec("0 0 0 3")
                .ReadOnly(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false),
               X.FileUploadFieldFor(m => m.Document.FileAttachs).AllowBlank(false).MarginSpec("5 0 0 3"),
                X.FieldSet()
                .Padding(3)
                .MarginSpec("0 0 0 0")
                    .Title("Người phê duyệt")
                    .Items(
                        X.EmployeeFieldFor(u => u.EmployeePerformBy)
                        .ID("txtEmployeePerformBy")
                        .Disabled(true)
                        .UrlEmployeeStore(Url.Action("GetByReviewApprove", "Employee", new { area = "Generic" }))
                        .Parameter(new StoreParameter("categoryId", "App.txtCaregoryDocument.getValue()", ParameterMode.Raw))
                        .EmployeeReadOnly(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false)
                        .AllowBlank(false)
                    ),
                X.Label().Text("Thời gian thực hiện từ"),
               X.ContainerHBox()
                 .Items(
                    X.DateFieldFor(m => m.StartAt).HideLabel(true)
                    .SelectedDate(DateTime.Now).Flex(1).MarginSpec("2 0 0 5")
                    .ReadOnly(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false),
                    X.DateFieldFor(m => m.EndAt).FieldLabel("Đến").LabelWidth(30).SelectedDate(DateTime.Now).Flex(1).MarginSpec("2 0 0 5")
                    .ReadOnly(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false)
                   )
               ),

             X.ContainerVBox()
            .Flex(1)
            .MarginSpec("5 3 3 5")
            .Items(
                    X.FormPanel()
                     .Border(false)
                     .Flex(1)
                     .Title("Tài liệu Tham chiếu")
                    .Defaults(new Parameter().ToBuilder().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                    .Layout(LayoutType.VBox)
                    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                    .Items
                    (
                        X.ContainerHBox()
                        .Hidden(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false)
                        .Items(
                            X.ComboBox().HideLabel(true).MarginSpec("5 0 0 0").Width(350).EmptyText("Chọn loại tài liệu")
                            .ID("cbDocument")
                            .TypeAhead(true)
                            .QueryMode(DataLoadMode.Local)
                            .ForceSelection(true)
                            .EmptyText("Nhập danh mục tài liệu")
                            .DisplayFieldEncodeFormat("Name")
                            .TriggerAction(TriggerAction.All)
                            .DisplayField("Name")
                            .ValueField("Id")
                            .ValueNotFoundText("Loading...")
                            .Store(
                                Html.X().Store()
                                    .AutoLoad(true)
                                    .ID("stcbDocument")
                                    .Model(
                                        Html.X().Model()
                                            .IDProperty("Id")
                                            .Fields(
                                                new ModelField("Id", ModelFieldType.String),
                                                new ModelField("Name", ModelFieldType.String),
                                                new ModelField("Code", ModelFieldType.String),
                                                new ModelField("FileAttachs", ModelFieldType.Object)
                                                )
                                            )
                                    .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetAll", "Document", new { area = "Document" }))
                                                .Reader(Html.X().JsonReader().RootProperty("data"))
                                            )
                                ),
                            X.Button().Text("Lưu").IconCls("x-fa fa-floppy-o").MarginSpec("5 0 0 5").Flex(1).Handler("addgridDocument(App.cbDocument); App.cbDocument.clear();")
                           ),
                            X.GridPanelFormat()
                            .ID("gridDocument")
                            .MarginSpec("5 0 0 0")
                            .Flex(1)
                            .Border(true)
                            .Store(
                                X.StoreFormat()
                                .ID("storeDocument")
                                .AutoLoad(true)
                                        .Url(Url.Action("GetData", "Reference", new { Area = "Document", documentId = Model.DocumentId == null ? "" : Model.DocumentId.Value.ToString() })))
                                .ColumnModel(
                                    Html.X().RowNumbererColumn()
                                    .Text("Stt")
                                    .Width(50)
                                    .Align(ColumnAlign.Center),
                                    Html.X().ColumnFileFormat(m => m.FileAttachs.Files).Width(40).CellWrap(true).Align(ColumnAlign.Center),
                                    Html.X().ColumnEncodeFormat().DataIndex("Code").Text("Mã Tài liệu").Width(200).CellWrap(true).Align(ColumnAlign.Center),
                                    Html.X().ColumnEncodeFormat().DataIndex("Name").Text("Tên Tài Liệu").Flex(1).CellWrap(true).Align(ColumnAlign.Center)
                                    )
                                )
                    )
        ))
        .Buttons(
                X.Button().Text("Gửi Yêu Cầu").IconCls("x-fa fa-arrow-right")
                .Hidden(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false)
               .DirectEvents(de =>
               {
                   de.Click.FormID = formId;
                   de.Click.Before = "if(!this.up('window').down('form').getForm().isValid()) { return false; }; this.setDisabled(true);";
                   //de.Click.ExtraParams.Add(new { IsInternal = new JRawValue("App.rdgLoaiTaiLieu.getValue()['App.rdgLoaiTaiLieu_Group']") });
                   //de.Click.ExtraParams.Add(new { IsSend = new JRawValue("true") });
                   de.Click.ExtraParams.Add(new { jsonData = new JRawValue("getDatagridDocument()") });
                   de.Click.Url = Url.Action("CreatRequestCompile", "Request");
                   de.Click.Success = "this.up('window').close(); App.storeRequestCompilation.reload();";
               }),
                X.ButtonDelete()
                .Hidden(Model.Id != Guid.Empty && Model.IsSend == null ? false : true)
                .DirectEvents(de => de.Click.ExtraParams.Add(new { id = Model.Id }))
                .SuccessHandle("this.up('window').close(); App.storeRequestCompilation.reload();"),
              X.Button().Text("Lưu").IconCls("x-fa fa-save")
                  .Hidden(Model.IsFinish == true || Model.IsComplete == true || Model.IsPerform == true || Model.IsSend != null ? true : false)
                   .DirectEvents(de =>
                   {
                       de.Click.FormID = formId;
                       de.Click.Before = "if(!this.up('window').down('form').getForm().isValid()) { return false; }; this.setDisabled(true);";
                       de.Click.ExtraParams.Add(new { jsonData = new JRawValue("getDatagridDocument()") });
                       //de.Click.ExtraParams.Add(new { IsInternal = new JRawValue("App.rdgLoaiTaiLieu.getValue()['App.rdgLoaiTaiLieu_Group']") });
                       de.Click.Url = Url.Action("SaveRequestCompile", "Request");
                       de.Click.Success = "this.up('window').close(); App.storeRequestCompilation.reload();";
                   }),
            X.ButtonExit()
  )
)
<script>
    var addgridDocument = function (obj) {
        debugger;
        var id = obj.getValue();
        var name = obj.getDisplayValue();
        var code = App.stcbDocument.getById(id).data.Code;
        var files = App.stcbDocument.getById(id).data.FileAttachs.Files;
        if (id != null && id != undefined && name != '') {
            if (Ext.StoreMgr.lookup(App.storeDocument).findExact('Id', id) < 0) {
                var attachment = {};
                attachment.Files = files;
                App.storeDocument.add({ Id: id, Code: code, Name: name, FileAttachs: attachment });
            }
        }
    };

    var getDatagridDocument = function () {
        var data = [];
        for (var i = 0; i < App.storeDocument.data.length; i++) {
            var item = {};
            item.ReferenceId = App.storeDocument.data.items[i].data.Id;
            data.push(item);
        }
        return JSON.stringify(data);
    };

    var showEmployee = function (obj) {
        var obj = obj.getValue();
        if (obj != null) {
            App.txtEmployeePerformBy.setDisabled(false);
        }
        else {
            App.txtEmployeePerformBy.setDisabled(true);
        }
    };

    var setColor = function (obj, store) {
        var id = obj.getValue();
        var record = store.getById(id);
        var color = '';
        if (record != null) {
            color = record.get('Color');
        }
        obj.setFieldStyle('background-image: none; background-color: ' + color + ';');
    };
</script>