﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentRequestBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.WindowFormat()
//.ID("windowDetailRequest")
//    .Modal(false)
//        .Listeners(
//            ls =>
//            {
//                ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth()/2); this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
//                ls.BeforeClose.Handler = "App.windowCreateDocument.el.slideOut('r',{duration : 500}); return false;";
//            })
    .Width(1000)
    .Height(540)
    .Title("Chi tiết yêu cầu soạn thảo tài liệu")
    .IconCls("x-fa fa-search-plus")
    .Items(
        X.FormPanelHBoxFormat()
        .ID(formId)
        .BodyPadding(1)
        .Items(
            X.ContainerVBox()
            .Flex(1)
            .Items(
            X.FieldSet()
            .Title("Thông tin tài liệu")
            .Layout(LayoutType.VBox)
            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
            .Items(
                    X.HiddenFor(m => m.Id),
                    X.HiddenFor(m => m.Document.Id),
                    //X.ComboBoxFor(m => m.Document.CategoryId).FieldLabel("Danh mục").ReadOnly(true).MarginSpec("0 0 0 0")
                    //.LabelWidth(100).ID("txtCaregoryDocument")
                    //.TypeAhead(true).QueryMode(DataLoadMode.Local).ForceSelection(true)
                    //.EmptyText("Chọn danh mục tài liệu")
                    //.DisplayFieldEncodeFormat("Name")
                    //.TriggerAction(TriggerAction.All)
                    //.DisplayField("Name").MultiSelect(false)
                    //.Listeners(l =>
                    //        {
                    //            l.Change.Handler = "showEmployee(this);";
                    //        })
                    //.ValueField("Id")
                    //.ValueNotFoundText("Loading...")
                    //.Store(Html.X().Store()
                    //    .AutoLoad(true)
                    //    .Model(Html.X().Model()
                    //        .IDProperty("Id")
                    //        .Fields(
                    //            new ModelField("Id", ModelFieldType.String),
                    //            new ModelField("Name", ModelFieldType.String)
                    //        )
                    //    )
                    //    .Proxy(Html.X().AjaxProxy()
                    //            //.Url(Url.Action("GetAll", "Category", new { area = "Document" }))
                    //        .Reader(Html.X().JsonReader().RootProperty("data"))
                    //    )),
                    X.ContainerHBoxTop()
                    .MarginSpec("5 0 5 0")
                        .Items(
                            X.TextFieldFor(m => m.Document.Code)
                            .Flex(1)
                            .FieldLabel("Mã tài liệu")
                            .EmptyText("XX-YY-ZZ")
                            .ReadOnly(true)
                            .RightButtons(Html.X().Button().IconCls("x-fa fa-info-circle"))
                            .ToolTips(
                                t => t.Add(new ToolTip()
                                {
                                    Html = "<p>XX: Mã quy trình. Ví dụ: QT<br/>YY: Mã phòng ban. Ví dụ: KD<br/>ZZ: Số thứ tự. Ví dụ: 01</p>",
                                    Width = 200,
                                    Height = 70
                                })
                            ),
                            X.NumberFieldFor(m => m.Document.Version)
                            .FieldLabel("Phiên bản")
                            .EmptyText("1.0")
                            .LabelWidth(80)
                            .Flex(1)
                            .ReadOnly(true)
                            .MarginSpec("0 0 0 5")
                        ),
                    X.TextFieldFor(m => m.Document.Name)
                    .FieldLabel("Tên tài liệu")
                    .LabelWidth(100)
                    .ReadOnly(true)
                    .AllowBlank(false)
                    .MarginSpec("0 0 0 0"),

                 X.ContainerHBoxTop()
                    .MarginSpec("0 0 0 0")
                    .Items(
                  X.Container()
                        .Layout(LayoutType.Anchor)
                        .Flex(1)
                        .DefaultAnchor("100%")
                        .Defaults(X.Parameter().Name("HideEmptyLabel").Value("false").Mode(ParameterMode.Raw))
                        .Items(
                            X.CheckboxFor(m => m.Document.IsHard)
                                .FieldLabel("Hình thức lưu trữ").LabelWidth(110).ReadOnly(true).BoxLabel("Bản cứng").MarginSpec("0 5 0 0"),
                                X.CheckboxFor(m => m.Document.IsSoft).LabelWidth(110).ReadOnly(true).FieldLabel("").BoxLabel("Bản mềm")
                    ),
                   X.ComboBoxFor(m => m.Document.SecurityId)
                        .Flex(1)
                        .MarginSpec("5 0 0 5")
                        .FieldLabel("Mức độ mật")
                        .EmptyText("Mức độ bảo mật")
                        .LabelWidth(80)
                        .ReadOnly(true)
                        .ID("cbbDocumentSecurity")
                        .EmptyText("Chọn mức độ bảo mật")
                        .TypeAhead(true)
                        .AllowBlank(false)
                        .QueryMode(DataLoadMode.Local)
                        .ForceSelection(true)
                        .DisplayFieldEncodeFormat("Name")
                        .TriggerAction(TriggerAction.All)
                        .DisplayField("Name")
                        .ValueField("Id")
                        .Listeners(l =>
                        {
                            l.Change.Handler = "setColor(App.cbbDocumentSecurity, App.stDocumentSecurity);";
                        })
                        .ValueNotFoundText("Loading...")
                        .Store(Html.X().Store()
                            .ID("stDocumentSecurity")
                            .Listeners(ls => ls.Load.Handler = "setColor(App.cbbDocumentSecurity, App.stDocumentSecurity);")
                            .AutoLoad(true)
                            .Model(Html.X().Model()
                                .IDProperty("Id")
                                .Fields(
                                    new ModelField("Id", ModelFieldType.String),
                                    new ModelField("Name", ModelFieldType.String)
                                )
                            )
                            .Proxy(Html.X().AjaxProxy()
                                    .Url(Url.Action("GetAll", "Security", new { area = "Document" }))
                                    .Reader(Html.X().JsonReader().RootProperty("data"))
                                )
                        )
                        .Tpl(
                        @<text>
                            <tpl for=".">
                                <div class="x-boundlist-item" style="display: inline-block; width: 100%;">
                                    <div style="width: 20px; height: 20px; float: left; border-radius:50%; margin-top:5px; background-color: {Color}; border: #cecece 1px solid;">&nbsp;</div><div style="width: auto; float: left; font-size: 0.9em;">&nbsp;{Name}</div>
                                </div>
                            </tpl>
                        </text>)
                   )
                ),
              X.TextAreaFor(m => m.Note).ID("txtNote")
                    .AllowBlank(false).FieldLabel("Nội dung yêu cầu:").Flex(1).MarginSpec("5 0 0 5").LabelWidth(110).ReadOnly(true),
               X.FileUploadFieldFor(m => m.Document.FileAttachs).AllowBlank(false).MarginSpec("5 0 0 5"),
               X.ContainerHBoxTop()
                .Items(
                X.DateFieldFor(m => m.StartAt).FieldLabel("Thời gian từ:").Flex(3)
                    .SelectedDate(DateTime.Now).MarginSpec("5 0 0 0").ReadOnly(true),
                X.DateFieldFor(m => m.EndAt).FieldLabel("Đến").ReadOnly(true).LabelWidth(30).SelectedDate(DateTime.Now).MarginSpec("5 0 0 5").Flex(2)
                ),
              X.FieldSet()
                .Padding(3)
                .MarginSpec("0 0 0 0")
                    .Title("Người gửi yêu cầu")
                    .Items(
                        X.EmployeeFieldFor(u => u.EmployeePerformBy)
                        .ID("txtEmployeePerformBy")
                        .Disabled(true)
                            .EmployeeReadOnly(true)
                        .UrlEmployeeStore(Url.Action("GetByPerformWrite", "Employee", new { area = "Generic" }))
                        .Parameter(new StoreParameter("categoryId", "App.txtCaregoryDocument.getValue()", ParameterMode.Raw))
                        .AllowBlank(false)
                    )
               ),

             X.ContainerVBox()
            .Flex(1)
            .MarginSpec("5 3 3 5")
            .Items(
                    X.FormPanel()
                     .Border(false)
                     .Flex(1)
                     .Title("Tài liệu Tham chiếu")
                    .Defaults(new Parameter().ToBuilder().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                    .Layout(LayoutType.VBox)
                    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                    .Items(
                        X.GridPanelFormat()
                        .ID("gridDocument")
                        .MarginSpec("5 0 0 0")
                        .Flex(1)
                        .Border(true)
                        .Store(
                            X.StoreFormat()
                            .ID("storeDocument")
                            .AutoLoad(true)
                            .Url(Url.Action("GetData", "Reference", new { Area = "Document", documentId = Model.DocumentId == null ? "" : Model.DocumentId.Value.ToString() })))
                            .ColumnModel(
                                Html.X().RowNumbererColumn().Text("Stt").Width(45).Align(ColumnAlign.Center),
                                Html.X().ColumnFileFormat(m => m.FileAttachs.Files).Width(40).CellWrap(true).Align(ColumnAlign.Center),
                                Html.X().ColumnEncodeFormat().DataIndex("Code").Text("Mã Tài liệu").Width(130).CellWrap(true).Align(ColumnAlign.Center),
                                Html.X().ColumnEncodeFormat().DataIndex("Name").Text("Tên Tài Liệu").Flex(1).CellWrap(true)
                                )
                            )
                    )
        ))
        .Buttons(
       X.ButtonExit()
  )
)
<script>
    var showEmployee = function (obj) {
        var obj = obj.getValue();
        if (obj != null) {
            App.txtEmployeePerformBy.setDisabled(false);
        }
        else {
            App.txtEmployeePerformBy.setDisabled(true);
        }
    };

    var setColor = function (obj, store) {
        var id = obj.getValue();
        var record = store.getById(id);
        var color = '';
        if (record != null) {
            color = record.get('Color');
        }
        obj.setFieldStyle('background-image: none; background-color: ' + color + ';');
    };
</script>
