﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentReviewSuggestBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.WindowFormat()
    .Width(1000)
    .Height(650)
    .Title("Soạn thảo tài liệu")
    .IconCls("x-fa fa-pencil")
    .Items(
        X.FormPanelHBoxFormat()
        .ID(formId)
        .BodyPadding(1)
        .Items(
            Html.X().FieldSetVBox()
            .Flex(3)
            .Title("Thông tin tài liệu")
            .Items(
                X.HiddenFor(m => m.Id),
                X.HiddenFor(m => m.Document.Id),
                X.TextFieldFor(m => m.Document.CategoryName).FieldLabel("Danh mục").LabelWidth(70)
                    .EmptyText("Danh mục tài liệu").ReadOnly(true).MarginSpec("5 0 5 0"),
            X.ContainerHBox()
            .Items(
                X.TextFieldFor(m => m.Document.Code).ID("txtDocumentCode").FieldLabel("Mã tài liệu").LabelWidth(70)
                .EmptyText("Mã tài liệu").ReadOnly(true).Flex(1).MarginSpec("0 5 0 0"),
                X.TextFieldFor(m => m.Document.Version).ID("txtVersion").FieldLabel("Phiên bản").LabelWidth(70)
                .EmptyText("Phiên bản tài liệu").ReadOnly(true).Flex(1).MarginSpec("0 0 0 0")
                ),
                X.TextFieldFor(m => m.Document.Name).ID("txtDocumentName").FieldLabel("Tên tài liệu").LabelWidth(70)
                    .EmptyText("Tên tài liệu").ReadOnly(true).MarginSpec("5 0 0 0"),
            X.ContainerHBoxTop()
            .Items(
                X.Container()
                .Layout(LayoutType.Anchor)
                .Flex(1)
                    .DefaultAnchor("100%")
                    .Defaults(X.Parameter().Name("HideEmptyLabel").Value("false").Mode(ParameterMode.Raw))
                    .Items(
                        X.CheckboxFor(m => m.Document.IsHard).FieldLabel("Hình thức lưu trữ").LabelWidth(110).BoxLabel("Bản cứng").ReadOnly(true).MarginSpec("5 5 0 0"),
                        X.CheckboxFor(m => m.Document.IsSoft).LabelWidth(110).BoxLabel("Bản mềm").ReadOnly(true).MarginSpec("5 5 0 0").FieldLabel("")
                        ),
                    X.ComboBoxFor(m => m.Document.SecurityColor).Flex(1)
                    .FieldLabel("Mức độ bảo mật")
                    .ID("cbColorReview")
                    .QueryMode(DataLoadMode.Local)
                    .ForceSelection(true)
                    .MarginSpec("5 0 0 5")
                    .EmptyText("Mức độ bảo mật")
                    .AllowBlank(false)
                    .ReadOnly(true).LabelWidth(105)
                    .TriggerAction(TriggerAction.All)
                    .DisplayField("Name")
                    .Listeners(l =>
                    {
                        l.Change.Handler = "getColor(App.cbColorReview, App.stColorReview);";
                    })
                    .Editable(false)
                    .ValueField("Id")
                    .Store(
                        Html.X().Store()
                            .ID("stColorReview")
                            .Listeners(ls => ls.Load.Handler = "getColor(App.cbColorReview, App.stColorReview);")
                            .AutoLoad(true)
                            .Model(
                                Html.X().Model().IDProperty("Id")
                                .Fields(
                                    new ModelField("Id", ModelFieldType.String) { Mapping = "Id" },
                                    new ModelField("Name", ModelFieldType.String) { Mapping = "Name" }
                                )
                            )
                            .Proxy(Html.X().AjaxProxy().Url(Url.Action("FillColor")).Reader(Html.X().JsonReader().RootProperty("data"))
                            )
                        )
                        .Tpl(
                        @<text>
                            <tpl for=".">
                                <div class="x-boundlist-item" style="display: inline-block; width: 100%;">
                                    <div style="width: 20px; height: 20px; float: left; background-color:{Id}; border: #cecece 1px solid;">&nbsp;</div><div style="width: auto; float: left; font-size: 0.9em;">&nbsp;{Name}</div>
                                </div>
                            </tpl>
                        </text>)
                    ),
                X.FileUploadFieldFor(m => m.Document.FileAttachs).MarginSpec("5 0 0 0"),
                X.TextAreaFor(m=>m.Document.Note).MarginSpec("5 0 0 0").FieldLabel("Ghi chú nội dung").LabelWidth(110),
                X.ContainerVBox()
                .Flex(1)
                .MarginSpec("5 3 3 5")
                .Items(
                    X.FormPanel()
                    .Border(false)
                    .Flex(1)
                    .Title("Danh sách tài liệu tham chiếu")
                    .UI(UI.Success)
                    .Defaults(new Parameter().ToBuilder().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                    .Layout(LayoutType.VBox)
                    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                    .Items
                    (
                        X.ContainerHBox()
                        .Items(
                            X.ComboBox().HideLabel(true).MarginSpec("5 0 0 0").Width(350).EmptyText("Chọn loại tài liệu")
                            .ID("cbDocument")
                            .TypeAhead(true)
                            .QueryMode(DataLoadMode.Local)
                            .ForceSelection(true)
                            .EmptyText("Nhập danh mục tài liệu")
                            .DisplayFieldEncodeFormat("Name")
                            .TriggerAction(TriggerAction.All)
                            .Flex(1)
                            .DisplayField("Name")
                            .ValueField("Id")
                            .ValueNotFoundText("Loading...")
                            .Store(
                                Html.X().Store()
                                    .AutoLoad(true)
                                    .ID("stcbDocument")
                                    .Model(Html.X().Model()
                                        .IDProperty("Id")
                                        .Fields(
                                            new ModelField("Id", ModelFieldType.String),
                                            new ModelField("Name", ModelFieldType.String),
                                            new ModelField("Code", ModelFieldType.String),
                                            new ModelField("FileAttachs", ModelFieldType.Object)
                                            )
                                        )
                                    .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetAll", "Document", new { area = "Document" }))
                                            .Reader(Html.X().JsonReader().RootProperty("data"))
                                        )
                                ),
                            X.Button().Text("Lưu").IconCls("x-fa fa-floppy-o").MarginSpec("5 0 0 5").Handler("addgridDocument(App.cbDocument); App.cbDocument.clear();")
                            ),
                            X.GridPanelFormat()
                            .ID("gridDocument")
                            .MarginSpec("5 0 0 0")
                            .Flex(1)
                            .Border(true)
                            .Store(
                                X.StoreFormat()
                                .ID("storeDocument")
                                .AutoLoad(true)
                                .Url(Url.Action("GetData", "Reference", new { Area = "Document", documentId = Model.Document.Id == null ? "" : Model.Document.Id.ToString() })))
                                .ColumnModel(
                                    Html.X().RowNumbererColumn().Text("Stt").Width(40).Align(ColumnAlign.Center),
                                    Html.X().ColumnFileFormat(m => m.FileAttachs.Files).Width(40).CellWrap(true).Align(ColumnAlign.Center),
                                    Html.X().ColumnEncodeFormat().DataIndex("Code").Text("Mã Tài liệu").Width(150).CellWrap(true).Align(ColumnAlign.Center),
                                    Html.X().ColumnEncodeFormat().DataIndex("Name").Text("Tên Tài Liệu").Flex(1).CellWrap(true)
                                )
                            )
                    )

            ),
            X.FieldSet()
            .Flex(2)
            .Padding(3)
            .Layout(LayoutType.VBox)
            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
            .Title("Thông tin kiểm duyệt")
            .Items(
                X.FieldSet()
                .Padding(3)
                .MarginSpec("0 0 0 0")
                    .Title("Người phê duyệt")
                    .Items(
                        X.EmployeeFieldFor(m => m.EmployeeApproveBy).AllowBlank(false)
                        .UrlEmployeeStore(Url.Action("GetByReviewApprove", "Employee", new { area = "Generic", categoryId = Model.Document.CategoryId.Value }))
                        ),
                X.TextAreaFor(p => p.Note).AllowBlank(false).FieldLabel("Nội dung gửi kiểm duyệt").LabelAlign(LabelAlign.Top).Flex(1).MarginSpec("5 0 0 0")
            )
        )

        )
        .Buttons(
                X.Button().Text("Gửi kiểm duyệt").IconCls("x-fa fa-arrow-right")
               .DirectEvents(de =>
               {
                   de.Click.FormID = formId;
                   de.Click.Before = "if(!this.up('window').down('form').getForm().isValid()) { return false; }; this.setDisabled(true);";
                   de.Click.ExtraParams.Add(new { references = new JRawValue("getDatagridDocument()") });
                   de.Click.ExtraParams.Add(new { isSend = new JRawValue("true") });
                   de.Click.Url = Url.Action("Send", "Request");
                   de.Click.Success = "this.up('window').close(); App.storeRequestWrite.reload();";
               }),
            X.Button().Text("Lưu").IconCls("x-fa fa-floppy-o")
            .Hidden(true)
                .DirectEvents(de =>
                {
                    de.Click.FormID = formId;
                    de.Click.Before = "if(!this.up('window').down('form').getForm().isValid()) { return false; }; this.setDisabled(true);";
                    de.Click.ExtraParams.Add(new { references = new JRawValue("getDatagridDocument()") });
                    de.Click.Url = Url.Action("Save", "Request");
                    de.Click.Success = "this.up('window').close(); App.storeRequestWrite.reload();";
                }),
            X.ButtonExit()
        )
)

<script>
    var addgridDocument = function (obj) {
        var id = obj.getValue();
        var name = obj.getDisplayValue();
        var code = App.stcbDocument.getById(id).data.Code;
        var files = App.stcbDocument.getById(id).data.FileAttachs.Files;
        if (id != null && id != undefined && name != '') {
            if (Ext.StoreMgr.lookup(App.storeDocument).findExact('Id', id) < 0) {
                var attachment = {};
                attachment.Files = files;
                App.storeDocument.add({ Id: id, Code: code, Name: name, FileAttachs: attachment });
            }
        }
    };

    var getDatagridDocument = function () {
        var data = [];
        for (var i = 0; i < App.storeDocument.data.length; i++) {
            data.push(App.storeDocument.data.items[i].data.Id);
        }
        return JSON.stringify(data);
    };

    var getColor = function (obj, store) {
        var id = obj.getValue();
        var record = store.getById(id);
        var color = '';
        if (record != null) {
            color = record.get('Id');
        }
        obj.setFieldStyle('background-image: none; background-color: ' + color + ';');
    };

</script>