﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
}

<style>
    .search-item {
        font: normal 11px tahoma, arial, helvetica, sans-serif;
        padding: 3px 10px 3px 10px;
        border: 1px solid #fff;
        border-bottom: 1px solid #eeeeee;
        white-space: normal;
        color: #555;
    }

        .search-item h3 {
            display: block;
            font: inherit;
            font-weight: bold;
            color: #222;
            margin: 0px;
        }

            .search-item h3 span {
                float: right;
                font-weight: normal;
                margin: 0 0 5px 5px;
                width: 100px;
                display: block;
                clear: none;
            }

    .ext-ie .x-form-text {
        position: static !important;
    }
</style>
@(X.Window()
   .Modal(false)
       .Listeners(
            ls =>
            {
                ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight()/1.2 + 40);this.setWidth(App.ctDesktop.getWidth()/3); this.alignTo(App.ctDesktop,'br-br'); this.el.slideIn('b',{duration : 500});";
               // ls.BeforeClose.Handler = "App.WindowRoleForm.el.slideOut('b',{duration : 500}); return false;";
                ls.MaskClick.Handler = "App.WindowRoleForm.el.slideOut('r',{duration : 500});setTimeout(function(){App.WindowRoleForm.doDestroy();},500);";
            })
    .ID("WindowRoleForm")
    .RenderTo("WindowInfoRequestWrite")
    .Draggable(false)
    .MarginSpec("0 0 -2 0")
    .IconCls("x-fa fa-plus-circle")
    .Layout(LayoutType.VBox)
    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
    .Header(false)
    .Items(
        X.FormPanelVBoxFormat()
        .BodyPadding(5)
        .Items(
                  X.ComboBox()
                                .ID("cbDocumentRole")
                                .QueryMode(DataLoadMode.Local)
                                .ForceSelection(true)
                                .DisplayField("Name")
                                .Note("Chọn trách nhiệm")
                                .NoteAlign(NoteAlign.Top)
                                .TriggerAction(TriggerAction.All)
                                .EmptyText("Chọn.......")
                                .ListConfig(Html.X().BoundList()
                                .ItemTpl(Html.X().XTemplate()
                                .Html(@<text>
                                    <div class="search-item">
                                        <p style='font-size:larger; font-weight:bold'>{Name}</p>
                                        {Description}
                                    </div>
                                </text>)
                                            )
                                        )
                                .Store(
                                    Html.X().Store()
                                        .AutoLoad(true)
                                        .ID("stcbDocumentRole")
                                        .Model(Html.X().Model()
                                            .Fields(
                                               new ModelField("Id", ModelFieldType.String),
                                               new ModelField("Name", ModelFieldType.String),
                                              new ModelField("Description", ModelFieldType.String)
                                                )
                                            )
                                     .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetListCombox", "DocumentRole", new { area = "Document" }))
                                     .Reader(Html.X().JsonReader().RootProperty("data"))
                              )
                          ),
                    X.ComboboxTreeFormat().Multiple(true).DisableSelectDepartment(true)
                    .ID("cbtreeDocumentRole").ShowEmployee(true).ShowTitle(true),
                    X.TextArea().ID("NoteRole").HideLabel(true).EmptyText("Ghi chú").Note("Ghi chú").Flex(1).NoteAlign(NoteAlign.Top).MarginSpec("0 0 10 0")
                  )  
               .Buttons(
                      X.Button().Text("Lưu").IconCls("x-fa fa-floppy-o")
                     .DirectEvents(de =>
                            {
                                de.Click.Before = "";
                                de.Click.Failure = "";
                            })
                        ),
                X.GridPanel()
                    .ID("grWindowListRoleEmployee")
                    .BodyBorder(0)
                    .BodyPadding(5)
                    .MarginSpec("0 0 -3 0")
                    .Flex(1)
                    .Border(true)
                .Padding(0)
                .Margin(0)
                .Flex(1)
                    .Store(
                    X.StoreFormat()
                    .ID("storeRole")
                    .AutoLoad(true)
                    .Model(Html.X().Model()
                    .IDProperty("Id")
                    .Fields(
                        new ModelField("Id", ModelFieldType.String),
                        new ModelField("DocumentName", ModelFieldType.String),
                        new ModelField("RequesterAvatarUrl", ModelFieldType.String),
                        new ModelField("StatusText", ModelFieldType.String)
                        )
                    )
                        .Url(Url.Action("GetListCompilation", "Request", new { Area = "Document" })))
                    .ColumnModel(
                        Html.X().RowNumbererColumn()
                        .Text("Stt")
                        .Width(50)
                        .Align(ColumnAlign.Center),
                            Html.X().ColumnEncodeFormat().DataIndex("IDRole").Hidden(true),
                            Html.X().ColumnEncodeFormat().DataIndex("Num").Hidden(true),
                            Html.X().Column().Text("Nhân sự").DataIndex("RequesterAvatarUrl").Align(ColumnAlign.Center).Width(160)
                            .Renderer(new Renderer { Fn = "function(value, meta, record) {return '<span><img src=\"'+value+'\" style=\"margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid\"></i> <span style=\"margin-left: 44px;\">Nguyễn Văn A</span></span><br/><span style=\"margin-left: 44px;font-size:10px;\">Tổng giám đốc</span></span>'; }" }),
                                Html.X().ColumnEncodeFormat().DataIndex("StatusText").Text("Trách nhiệm").Flex(1).CellWrap(true),
                            Html.X().Column().DataIndex("StatusText").Text("Ghi chú").Width(100).CellWrap(true).Flex(1).Align(ColumnAlign.Center)
                        )
                       )
                       .Buttons(
                        X.Button().Text("Giao soạn thảo").IconCls("x-fa fa-arrow-right")
                        .DirectEvents(de =>
                                        {
                                            de.Click.Method = HttpMethod.POST;
                                            de.Click.Before = "";
                                            de.Click.Success = "this.up('window').close();";
                                            de.Click.Failure = "";
                                        })
                        .Handler("App.WindowRequest.el.slideOut('r',{duration : 500});"),
                        X.Button().Text("Lưu").IconCls("x-fa fa-floppy-o")
                        .DirectEvents(de =>
                            {
                                de.Click.Method = HttpMethod.POST;
                                de.Click.Before = "";
                                de.Click.Success = "this.up('window').close();";
                                de.Click.Failure = "";
                            })
                    .Handler("App.WindowRequest.el.slideOut('r',{duration : 500});"),
                        X.ButtonExit().Handler("App.WindowRequest.el.slideOut('r',{duration : 500});")
                        ) 
)