﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DepartmentBO
@{
    var X = Html.X();
}
@(X.Window()
    .ID("WindowDepartment")
    .Title(Model.Id == Guid.Empty ? Resource.Create : Resource.Detail)
    .IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
    .Height(650)
    .Width(750)
    .BodyPadding(0)
    .Layout(LayoutType.VBox)
    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
    .Modal(true)
    .Items(
    X.Container()
        .Border(false)
        .ID("loadMaskDepartment")
        .Hidden(true)
        .Height(2)
        .Html("<div class='load-bar'><div class='bar'></div><div class='bar'></div></div>"),
    X.Container()
        .Border(false)
        .ID("loadMaskDepartmentEmpty")
        .Height(2)
        .Hidden(false),
        X.FormPanel()
        .BodyPadding(5)
        .Border(false)
        .Frame(true)
        .Flex(1)
        .Layout(LayoutType.VBox)
        .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
        .StyleSpec("border: none;")
        .FieldDefaults(d => { d.LabelAlign = LabelAlign.Left; d.LabelWidth = 70; })
        .ID("frDepartment")
        .Items(
            X.HiddenFor(u => u.Id),
            X.HiddenFor(m => m.ParentId),
            X.TextFieldFor(m => m.Name)
                .BlankText("Bạn phải nhập tên phòng ban hoặc đơn vị!")
                .Note("Tên phòng ban")
                .NoteAlign(NoteAlign.Top)
                .HideLabel(true)
                .AllowBlank(false),
            X.HtmlEditorFor(m => m.Functions).Flex(1).Height(150).Note("Sứ mệnh - Tầm Nhìn - Cốt lõi").NoteAlign(NoteAlign.Top).MarginSpec("0 0 20 0").HideLabel(true),
            X.HtmlEditorFor(m => m.Task).Flex(1).Height(150).Note("Lịch sử hình thành").NoteAlign(NoteAlign.Top).MarginSpec("0 0 20 0").HideLabel(true),
            X.HtmlEditorFor(m => m.Note).Flex(1).Height(150).Note("Nội quy").NoteAlign(NoteAlign.Top).MarginSpec("0 0 20 0").HideLabel(true)
        )
    )
    .Buttons(
        X.Button()
        .Text(Resource.Delete)
        .IconCls("x-fa fa-trash-o")
        .DirectEvents(de =>
        {
            de.Click.Confirmation.ConfirmRequest = true;
            de.Click.Confirmation.Message = Resource.ConfirmDelete;
            de.Click.Confirmation.Title = Resource.Confirm;
            de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
            de.Click.ExtraParams.Add(new { id = Model.Id });
            de.Click.Url = Url.Action("Delete");
            de.Click.Before = "App.loadMaskDepartment.show(); App.loadMaskDepartmentEmpty.hide(); this.setDisabled(true);";
            de.Click.Success = "App.loadMaskDepartment.hide(); App.loadMaskDepartmentEmpty.show(); App.StoreDepartments.reload(); this.up('window').close();";
            de.Click.Failure = "App.loadMaskDepartment.hide(); App.loadMaskDepartmentEmpty.show(); eval(result.script); this.setDisabled(false);";
        }),
        X.Button()
        .Text(Resource.Save)
        .IconCls("x-fa fa-floppy-o")
        .DirectEvents(de =>
        {
            de.Click.Before = "if (!App.frDepartment.getForm().isValid()) { return false; }; this.setDisabled(true); App.loadMaskDepartment.show(); App.loadMaskDepartmentEmpty.hide();";
            de.Click.FormID = "frDepartment";
            de.Click.Url = Url.Action(Model.AllowCreate ? "Create" : "Update");
            de.Click.Success = "App.loadMaskDepartment.hide(); App.loadMaskDepartmentEmpty.show(); App.StoreDepartments.reload(); this.up('window').close();";
            de.Click.Failure = "App.loadMaskDepartment.hide(); App.loadMaskDepartmentEmpty.show(); eval(result.script); this.setDisabled(false);";
        }),
        X.Button()
        .Text(Resource.Close)
        .IconCls("x-fa fa-times-circle")
        .Handler("this.up('window').close();")
    )
)
