﻿@using Ext.Net;
@using Ext.Net.MVC;
@(
 Html.X().Container()
    .ID("ctMnQualitySettingConfig")
    .Layout(LayoutType.Fit)
    .Border(false)
    .Listeners(ls => ls.Resize.Handler = "this.updateLayout()")
    .Items(
        Html.X().Panel()
            .Flex(1)
            .ID("pnQualityAuditConfig")
            .Layout(LayoutType.Fit)
            .Border(true)
             .TopBar(
               Html.X().Toolbar()
                .StyleSpec("padding-bottom:0px;padding-top:0px;")
                .Items(
                    Html.X().TabStrip()
                    .WidthSpec("90%")
                        .Items(t =>
                        {
                            t.Add(Html.X().Tab().ActionItemID("tabQualityAuditGroup").IconCls("x-fa fa-object-group").Text("TIÊU CHUẨN ISO"));
                            t.Add(Html.X().Tab().ActionItemID("tabSettingQualityNC").IconCls("x-fa fa-cog").Text("THIẾT LẬP NGƯỜI XÁC NHẬN"));
                        }),
                        Html.X().ToolbarFill(),
                        Html.X().Button().IconCls("x-tool-tool-el x-tool-img x-tool-maximize").Border(false).Listeners(ls => ls.Click.Handler = "fullWindowFromTabPanel(App.pnQualityAuditConfig,'Thiết lập','x-fa fa-cogs', this)")
                    )
            )
            .Items(
        Html.X().Panel()
                .BodyPadding(0)
                .Icon(Icon.ApplicationViewDetail)
                .Layout(LayoutType.Fit)
                .Padding(0)
                .Border(false)
                .Header(false)
                .ID("tabQualityAuditGroup")
                .StyleSpec("border: none;")
                .ItemsFromAction("Index", "ISOStandard", new { area = "Quality" }),
                
           Html.X().Panel()
                .BodyPadding(0)
                .Icon(Icon.ApplicationViewDetail)
                .Layout(LayoutType.Fit)
                .Padding(0)
                .Border(false)
                .Header(false)
                .ID("tabSettingQualityNC")
                .StyleSpec("border: none;")
               .ItemsFromAction("SettingQualityNC", "QualityNC", new { area = "Quality" })
        )
    .Html(@<text><div class='navbar-right'><a title='Trở lại' onclick='loadConfigContent("Quality/DashBoard/Index", "ctDasboardQuality");' href='javascript:void(0);'><i style=' color:red !important' class='fa fa-arrow-left'></i></a></div></text>)
))

