﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
    var meetingId = ViewData["MeetingId"];
}
@(X.WindowFormat()
    .Listeners(
        ls =>
        {
            ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth()/2); this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
            ls.BeforeClose.Handler = "this.el.slideOut('r',{duration : 500}); return false;";
        })
    .Modal(true).Title("Thành phần tham gia").IconCls("x-fa fa-users").Draggable(false).Closable(false).IconCls("x-fa fa-reply-all")
    .Items(
            X.GridPanelFormat()
            .TopBar(
            X.Toolbar().Items(
            X.ComboboxTreeFormat().Flex(1).ID("cbbMembers").DisableSelectEmployee(false).ShowEmployee(true).DisableSelectTitle(true).ShowTitle(true).DisableSelectDepartment(true).EmptyText("Chọn nhân sự"),
            X.Button().Text("Lưu").IconCls("x-fa fa-floppy-o").OnClientClick("SaveMember(this)")
            ))
            .ID("gridMember").Border(false).Flex(1).MarginSpec("-2 0 0 0")
            .Store(
            X.Store().AutoLoad(true).ID("storeMember")
            .Proxy(
            X.AjaxProxy().Url(Url.Action("GetData")).Reader(X.JsonReader().RootProperty("data").IDProperty("EmployeeId")))
            .Parameters(pr => pr.Add(new StoreParameter("meetingId", meetingId))).ModelType(typeof(DocumentPermissionBO))
            )
            .ColumnModel(
                X.RowNumbererColumnFormat().Width(60),
                X.Column().Text("Thành phần tham gia").Flex(1).Renderer(new Renderer { Fn = "renderObjectComlumn" })
                )
        .Listeners(ls =>
            {
                ls.BeforeItemContextMenu.Fn = "itemContextMembers";
            })
    )
    .Buttons(
               X.Button().Text(Resource.Exit).IconCls("x-fa fa-times-circle").OnClientClick("WindowSlideOut(this.up('window'),'r');if(changeFlag == true && App.storeMeetingPlan){ App.storeMeetingPlan.reload();}")
        )
)

@(X.Menu()
     .ID("contextMember")
     .Items(
            X.MenuItem().Text("Xóa").IconCls("x-fa fa-times").Handler("onRemoveMember()")
      
    )
)
<script>
    var changeFlag = false;

    var onRemoveMember = function () {
        Ext.MessageBox.show({
            title: 'Xác nhận', msg: 'Bạn có chắc chắn muốn xóa bản ghi này không?',
            buttons: { yes: 'Đồng ý', no: 'Không' },
            iconCls: '#Information',
            fn: function (btn) {
                if (btn == 'yes') {
                    changeFlag = true;
                    var record = App.gridMember.selModel.getSelection();
                    if (record != null) {
                        var memberId = record[0].data.Id;
                        var param = { meetingId: '@meetingId', memberId: memberId };
                        var url = '@Url.Action("Delete", "Member")';
                        Ext.net.DirectMethod.request({
                            method: 'POST',
                            url: url,
                            params: param,
                            success: function (result) {
                                App.storeMember.reload();
                            }
                        });
                    }
                }
            }
        });
    };

    var itemContextMembers = function (grid, record, item, index, e, eOpts) {
        e.stopEvent();
        App.contextMember.showAt(e.getX(), e.getY());
    };

    var renderObjectComlumn = function (value, meta, record) {
        var reuslt = '';
        title = '<span style="margin-left: 44px;font-size:10px;">' + record.data.RoleNames + '</span></span>';
        image = '<img src="' + record.data.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };

    var SaveMember = function (btn) {
        changeFlag = true;
        btn.setDisabled(true);
        var memberIds = App.cbbMembers.getValue();
        Ext.Ajax.request({
            url: '@Url.Action("AddMember")',
            params: { memberIds: memberIds, meetingId: '@meetingId' },
            success: function (response) {
                App.storeMember.reload();
                btn.setDisabled(false);
            },
            failure: function (err) {
            }
        });
    };

</script>