﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model DocumentPublishSuggestBO
@{
    var X = Html.X();
}
@(X.Menu().ID("contextDocumentPublishSuggestMenu")
 .Items(
        X.MenuItem().Text("Ban hành").IconCls("x-fa fa-check-square").Handler("onDetailPublishSuggest();")
    )
)
@(X.WindowFormat()
    .Modal(false)
        .Listeners(
            ls =>
            {
                ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth()/2); this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
                ls.BeforeClose.Handler = "App.windowPublishSuggest.el.slideOut('r',{duration : 500}); return false;";
            })
    .ID("windowPublishSuggest")
    .Title("Danh sách đề nghị ban hành tài liệu")
    .IconCls("x-fa fa-list")
    .Draggable(false)
    .Items(
        X.GridPanelPaggingShortFormat()
        .ID("grDocumentPublishSuggest")
        .Border(false)
        .Flex(1)
        .MarginSpec("-1 0 0 0")
        .Store(
        X.StoreFormat()
        .AutoLoad(true)
        .ID("stDocumentPublishSuggest")
        .Url(Url.Action("GetData", "PublishSuggest", new { Area = "Document" })).ModelType(typeof(DocumentPublishSuggestBO))
        )
        .ColumnModel(
            X.RowNumbererColumnFormat().Width(45),
            X.ColumnEncodeFormat().Text("Tên tài liệu").DataIndex(Model, m => m.DocumentName).Flex(1),
            Html.X().Column().Text("Người đề nghị").DataIndex(Model, m => m.SuggestAvatarUrl).Width(160)
                .Renderer(new Renderer { Fn = "function(value, meta, record) {return '<span><img src=\"'+value+'\" style=\"margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid\"></i> <span style=\"margin-left: 44px;\">'+ Ext.htmlEncode(record.data.SuggestName) +'</span></span><br/><span style=\"margin-left: 44px;font-size:10px;\">Tổng giám đốc</span></span>'; }" }),
            X.DateColumn().Text("Ngày phê duyệt").DataIndex(Model, m => m.CreateAt).Width(110).Format("dd/MM/yyyy"),
            X.ColumnEncodeFormat().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Width(100)
            ).Listeners(ls =>
            {
                ls.SelectionChange.Handler = "refreshMenuPublishSuggest(selected);";
                ls.BeforeItemContextMenu.Fn = "itemContextMenuPosition";
            })
    )
    .Buttons(
        X.ButtonExit().Handler("App.windowPublishSuggest.el.slideOut('r',{duration : 500});")
    )
)
<script type="text/javascript">
    var gridDocumentReview_SelectionChange = function () {
        var disabled = App.grDocumentPublishSuggest.selModel.getSelection() == 0;
        App.btnDetail.setDisabled(disabled);
    };
    var onDetailPublishSuggest = function () {
        var url = '@Url.Action("FormPublishSuggest", "PublishSuggest")';
        onDirectMethod(url, null);
    };

    var refreshMenuPublishSuggest = function (selected) {

    };

    var itemContextMenuPosition = function (grid, record, item, index, e, eOpts) {
        e.stopEvent();
        App.contextDocumentPublishSuggestMenu.showAt(e.getX(), e.getY() - 10);
    };
</script>
