﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentPublishSuggestBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.WindowFormat()
    .Title(String.Format("Chi tiết đề nghị ban hành [Trạng thái {0}]", Model.StatusText))
    .IconCls("x-fa fa-plus-circle")
    .Width(900)
    .Height(650)
    .Items(
        X.FormPanelHBoxFormat()
        .ID(formId)
        .BodyPadding(3)
        .Items
        (
            Html.X().FieldSet()
            .Layout(LayoutType.VBox)
            .Padding(3)
            .Flex(3)
            .MarginSpec("0 0 0 0")
            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
            .Title("Thông tin tài liệu biên soạn")
            .Items(
                X.HiddenFor(m => m.Id),
                X.HiddenFor(m => m.Document.Id),
                X.TextFieldFor(m => m.Document.CategoryName).FieldLabel("Thuộc danh mục tài liệu").LabelWidth(160)
                    .EmptyText("Danh mục tài liệu").ReadOnly(true),
                X.ContainerHBox()
                .MarginSpec("-5 0 0 0")
                .Items(
                    X.TextFieldFor(m => m.Document.Code).Flex(1).ID("txtDocumentCode").FieldLabel("Mã tài liệu")
                        .EmptyText("Mã tài liệu").ReadOnly(true).LabelWidth(80),
                        X.TextFieldFor(m => m.Document.Version).Flex(1).ID("txtVersion").FieldLabel("Phiên bản tài liệu")
                        .EmptyText("Phiên bản tài liệu").LabelWidth(110).ReadOnly(true).MarginSpec("0 0 0 5")
                    ),
            X.TextFieldFor(m => m.Document.Name).ID("txtDocumentName").FieldLabel("Tên tài liệu").LabelWidth(70)
                        .EmptyText("Tên tài liệu").ReadOnly(true).LabelWidth(80).MarginSpec("5 0 0 0"),
            X.ContainerHBoxTop()
            .Items(
                X.Container()
                .Layout(LayoutType.Anchor)
                .Flex(1)
                    .DefaultAnchor("100%")
                    .Defaults(X.Parameter().Name("HideEmptyLabel").Value("false").Mode(ParameterMode.Raw))
                    .Items(
                        X.CheckboxFor(m => m.Document.IsHard).FieldLabel("Hình thức lưu trữ").LabelWidth(110).BoxLabel("Bản cứng").MarginSpec("0 5 0 0"),
                        X.CheckboxFor(m => m.Document.IsSoft).LabelWidth(110).BoxLabel("Bản mềm").FieldLabel("")
                    ),
                    X.ComboBoxFor(m => m.Document.SecurityId)
                    .FieldLabel("Mức độ bảo mật")
                    .ID("cbColorReview")
                    .MarginSpec("5 0 0 0")
                    .QueryMode(DataLoadMode.Local)
                    .ForceSelection(true)
                    .AllowBlank(false)
                    .LabelWidth(110)
                    .TriggerAction(TriggerAction.All)
                    .DisplayField("Name")
                    .Listeners(l =>
                    {
                        l.Change.Handler = "setColor(App.cbColorReview, App.stColorReview);";
                    })
                    .Editable(false)
                    .ValueField("Id")
                    .Store(
                        Html.X().Store()
                            .ID("stColorReview")
                            .Listeners(ls => ls.Load.Handler = "setColor(App.cbColorReview, App.stColorReview);")
                            .AutoLoad(true)
                            .Model(
                                Html.X().Model()
                                    .IDProperty("Id")
                                    .Fields(
                                        new ModelField("Id", ModelFieldType.String) { Mapping = "Id" },
                                        new ModelField("Name", ModelFieldType.String) { Mapping = "Name" }
                                    )
                                )
                            .Proxy(
                                Html.X().AjaxProxy()
                                .Url(Url.Action("GetAll", "Security"))
                                .Reader(Html.X().JsonReader().RootProperty("data")
                                )
                            )
                        )
                        .Tpl(
                        @<text>
                            <tpl for=".">
                                <div class="x-boundlist-item" style="display: inline-block; width: 100%;">
                                    <div style="width: 20px; height: 20px; float: left; border-radius:50%; margin-top:5px; background-color: {Color}; border: #cecece 1px solid;">&nbsp;</div><div style="width: auto; float: left; font-size: 0.9em;">&nbsp;{Name}</div>
                                </div>
                            </tpl>
                        </text>)
                ),
                X.FileUploadFieldFor(m => m.Document.FileAttachs).MarginSpec("-5 0 0 0"),
                X.TextAreaFor(m => m.Document.Note).FieldLabel("Ghi chú nội dung tài liệu").LabelWidth(155).MarginSpec("5 0 0 0")
                .ReadOnly(Model.IsSend == true || Model.IsAccept != null ? true : false),
                X.GridPanelFormat()
                .Flex(1)
                .ID("gridDocumentReferencePublishSuggest")
                .Title("Danh sách tài liệu tham chiếu")
                .Header(true)
                .UI(UI.Success)
                .MarginSpec("5 0 0 0")
                .TopBarItem(
                    X.ComboBox().HideLabel(true).MarginSpec("5 0 0 0").Flex(1).EmptyText("Chọn loại tài liệu")
                    .Hidden(Model.IsSend == true || Model.IsApprove != null ? true : false)
                    .ID("cbDocument")
                    .TypeAhead(true)
                    .QueryMode(DataLoadMode.Local)
                    .ForceSelection(true)
                    .EmptyText("Nhập danh mục tài liệu")
                    .DisplayFieldEncodeFormat("Name")
                    .TriggerAction(TriggerAction.All)
                    .DisplayField("Name")
                    .ValueField("Id")
                    .ValueNotFoundText("Loading...")
                    .Store(
                        Html.X().Store()
                            .AutoLoad(true)
                            .ID("stcbDocument")
                            .Model(
                            Html.X().Model()
                                .IDProperty("Id")
                                .Fields(
                                    new ModelField("Id", ModelFieldType.String),
                                    new ModelField("Name", ModelFieldType.String),
                                    new ModelField("Code", ModelFieldType.String),
                                    new ModelField("FileAttachs", ModelFieldType.Object)
                                    )
                                )
                            .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetAll", "Document", new { area = "Document" }))
                                .Reader(Html.X().JsonReader().RootProperty("data")))
                        ),
                    X.Button().Text("Lưu").IconCls("x-fa fa-floppy-o")
                    .Hidden(Model.IsSend == true || Model.IsApprove != null ? true : false)
                    .Handler("addgridDocument(App.cbDocument); App.cbDocument.clear();")
                    .MarginSpec("0 5 0 5")
                )
                .Border(true)
                .Store(
                X.StoreFormat().ID("stDocumentReferencePublishSuggest")
                .Url(Url.Action("GetData", "Reference", new { Area = "Document", documentId = Model.Document.Id })))
                .ColumnModel(
                    Html.X().RowNumbererColumn().Text("Stt").Width(50).Align(ColumnAlign.Center),
                    Html.X().ColumnFileFormat(m => m.FileAttachs.Files).Width(40),
                    Html.X().ColumnEncodeFormat().DataIndex("Code").Text("Mã Tài liệu").Width(200).CellWrap(true),
                    Html.X().ColumnEncodeFormat().DataIndex("Name").Text("Tên Tài Liệu").Flex(1).CellWrap(true)
                    )
                ),
            X.ContainerVBox()
            .Flex(2)
            .Padding(3)
            .Items(
                X.FieldSet()
                .Flex(1)
                .Padding(3)
                .Layout(LayoutType.VBox)
                .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                .Title("Thông tin đề nghị ban hành")
                .Items(
                    X.FieldSet()
                    .Padding(3)
                    .MarginSpec("0 0 0 0")
                        .Title("Người phê duyệt")
                        .Items(
                            X.EmployeeFieldFor(u => u.EmployeeApproveBy).UrlEmployeeStore(Url.Action("GetByPublishApprove", "Employee", new { area = "Generic", categoryId = Model.Document.CategoryId }))
                            .AllowBlank(false)
                            .EmployeeReadOnly(Model.IsSend == true || Model.IsAccept != null ? true : false)
                            ),
                    X.TextAreaFor(m => m.ReasonOfSuggest).Flex(1).FieldLabel("Nội dung đề nghị ban hành").LabelAlign(LabelAlign.Top).MarginSpec("5 0 0 0")
                    .ReadOnly(Model.IsSend == true || Model.IsAccept != null ? true : false)
                ),
                X.FieldSet()
                .Hidden(Model.IsAccept != null ? false : true)
                .Flex(1)
                .Padding(3)
                .Layout(LayoutType.VBox)
                .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                .Title("Kết quả duyệt đề nghị ban hành")
                .Items(
                    X.RadioGroup()
                    .ID("rdgResult")
                    .FieldLabel("Kết quả")
                    .MarginSpec("5 0 0 0")
                    .ColumnsNumber(2)
                    .AutomaticGrouping(false)
                    .Items(
                        X.Radio().Name("IsAccept").InputValue("true").BoxLabel("Đồng ý/Đạt").ReadOnly(true),
                        X.Radio().Name("IsAccept").InputValue("false").BoxLabel("Không đồng ý/Không đạt").ReadOnly(true)
                        ),
                    X.TextAreaFor(p => p.ReasonOfReject).Flex(1).FieldLabel("Nhận xét").LabelAlign(LabelAlign.Top).ReadOnly(true).MarginSpec("5 0 0 0")
                )
            )
        )

    )
    .Buttons(
        X.Button().Text("Gửi duyệt ban hành").IconCls("x-fa fa-paper-plane")
                   .Hidden(Model.IsSend == true || Model.IsAccept != null ? true : false)
                   .DirectEvents(de =>
                   {
                       de.Click.FormID = formId;
                       de.Click.ExtraParams.Add(new { jsonData = new JRawValue("getDatagridDocument()") });
                       de.Click.Url = Url.Action("Send", "PublishSuggest");
                       de.Click.Success = "this.up('window').close(); App.stDocumentPublishSuggest.reload();";
                   }),
        X.Button().Text("Thu hồi").IconCls("x-fa fa-arrow-left")
                .Hidden(Model.IsSend == true && Model.IsApprove != true ? false : true)
                       .DirectEvents(de =>
                       {
                           de.Click.FormID = formId;
                           de.Click.Url = Url.Action("Obsolate", "PublishSuggest");
                           de.Click.Success = "this.up('window').close(); App.stDocumentPublishSuggest.reload();";
                       }),
        X.ButtonSave().Hidden(Model.IsSend == true || Model.IsAccept != null ? true : false)
        .DirectEvents(de =>
                {
                    de.Click.FormID = formId;
                    de.Click.ExtraParams.Add(new { jsonData = new JRawValue("getDatagridDocument()") });
                    de.Click.Url = Url.Action("Save", "PublishSuggest");
                    de.Click.Success = "this.up('window').close(); App.stDocumentPublishSuggest.reload();";
                }),
        X.ButtonExit()
        )
)
<script>
    var addgridDocument = function (obj) {
        var id = obj.getValue();
        var name = obj.getDisplayValue();
        var code = App.stcbDocument.getById(id).data.Code;
        var files = App.stcbDocument.getById(id).data.FileAttachs.Files;
        if (id != null && id != undefined && name != '') {
            if (Ext.StoreMgr.lookup(App.stDocumentReferencePublishSuggest).findExact('Id', id) < 0) {
                var attachment = {};
                attachment.Files = files;
                App.stDocumentReferencePublishSuggest.add({ Id: id, Code: code, Name: name, FileAttachs: attachment });
            }
        }
    };

    var getDatagridDocument = function () {
        var data = [];
        for (var i = 0; i < App.stDocumentReferencePublishSuggest.data.length; i++) {
            var item = {};
            item.ReferenceId = App.stDocumentReferencePublishSuggest.data.items[i].data.Id;
            data.push(item);
        }
        return JSON.stringify(data);
    };
    var setColor = function (obj, store) {
        var id = obj.getValue();
        var record = store.getById(id);
        var color = '';
        if (record != null) {
            color = record.get('Color');
        }
        obj.setFieldStyle('background-image: none; background-color: ' + color + ';');
    };
</script>