﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentPublishSuggestBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.Window()
    .Title(String.Format("Chi tiết đề nghị ban hành [Trạng thái {0}]", Model.StatusText))
    .IconCls("x-fa fa-plus-circle")
    .Width(1000)
    .Height(660)
    .AutoScroll(true)
    .Items(
        X.FormPanelHBoxFormat()
        .ID(formId)
        .BodyPadding(3)
        .Items
        (
            Html.X().FieldSet()
            .Layout(LayoutType.VBox)
            .Padding(3)
            .Flex(1)
            .MarginSpec("0 0 0 0")
            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
            .Title("Thông tin tài liệu biên soạn")
            .Items(
                X.HiddenFor(m => m.Id),
                X.HiddenFor(m => m.Document.Id),
                X.HiddenFor(m => m.DocumentId),
                X.TextFieldFor(m => m.Document.CategoryName).FieldLabel("Danh mục").LabelWidth(80)
                    .EmptyText("Danh mục").ReadOnly(true),
                X.ContainerHBox()
                .MarginSpec("-5 0 0 0")
                .Items(
                    X.TextFieldFor(m => m.Document.Code).Flex(1).ID("txtDocumentCode").FieldLabel("Mã tài liệu")
                        .EmptyText("Mã tài liệu").ReadOnly(true).LabelWidth(80),
                        X.TextFieldFor(m => m.Document.Version).Flex(1).ID("txtVersion").FieldLabel("Phiên bản tài liệu")
                        .EmptyText("Phiên bản tài liệu").LabelWidth(110).ReadOnly(true).MarginSpec("0 0 0 5")
                    ),
            X.TextFieldFor(m => m.Document.Name).ID("txtDocumentName").FieldLabel("Tên tài liệu").LabelWidth(70)
                        .EmptyText("Tên tài liệu").ReadOnly(true).LabelWidth(80).MarginSpec("5 0 0 0"),
            X.ContainerHBoxTop()
            .Items(
                X.Container()
                .Layout(LayoutType.Anchor)
                .Flex(1)
                    .DefaultAnchor("100%")
                    .Defaults(X.Parameter().Name("HideEmptyLabel").Value("false").Mode(ParameterMode.Raw))
                    .Items(
                        X.CheckboxFor(m => m.Document.IsHard).FieldLabel("Hình thức lưu trữ").LabelWidth(110).BoxLabel("Bản cứng").MarginSpec("0 5 0 0").ReadOnly(true),
                        X.CheckboxFor(m => m.Document.IsSoft).LabelWidth(110).BoxLabel("Bản mềm").FieldLabel("").ReadOnly(true)
                    ),
                    X.ComboBoxFor(m => m.Document.SecurityId)
                    .FieldLabel("Mức độ bảo mật")
                    .ID("cbColorReview")
                    .ReadOnly(true)
                    .MarginSpec("5 0 0 0")
                    .QueryMode(DataLoadMode.Local)
                    .ForceSelection(true)
                    .AllowBlank(false)
                    .LabelWidth(110)
                    .TriggerAction(TriggerAction.All)
                    .DisplayField("Name")
                    .Listeners(l =>
                    {
                        l.Change.Handler = "setColor(App.cbColorReview, App.stColorReview);";
                    })
                    .Editable(false)
                    .ValueField("Id")
                    .Store(
                        Html.X().Store()
                            .ID("stColorReview")
                            .Listeners(ls => ls.Load.Handler = "setColor(App.cbColorReview, App.stColorReview);")
                            .AutoLoad(true)
                            .Model(
                                Html.X().Model()
                                    .IDProperty("Id")
                                    .Fields(
                                        new ModelField("Id", ModelFieldType.String) { Mapping = "Id" },
                                        new ModelField("Name", ModelFieldType.String) { Mapping = "Name" }
                                    )
                                )
                            .Proxy(
                                Html.X().AjaxProxy()
                                .Url(Url.Action("GetAll", "Security"))
                                .Reader(Html.X().JsonReader().RootProperty("data")
                                )
                            )
                        )
                        .Tpl(
                        @<text>
                            <tpl for=".">
                                <div class="x-boundlist-item" style="display: inline-block; width: 100%;">
                                    <div style="width: 20px; height: 20px; float: left; border-radius:50%; margin-top:5px; background-color: {Color}; border: #cecece 1px solid;">&nbsp;</div><div style="width: auto; float: left; font-size: 0.9em;">&nbsp;{Name}</div>
                                </div>
                            </tpl>
                        </text>)
                ),
                X.FileUploadFieldFor(m => m.Document.FileAttachs).MarginSpec("-5 0 0 0"),
                X.TextAreaFor(m => m.Document.Note).FieldLabel("Ghi chú nội dung").LabelWidth(110).MarginSpec("5 0 0 0").ReadOnly(true),
                X.GridPanelFormat()
                .Height(200)
                .Flex(1)
                .ID("gridDocumentReferencePublishSuggest")
                .Title("Danh sách tài liệu tham chiếu")
                .Header(true)
                .UI(UI.Success)
                .MarginSpec("5 0 0 0")
                .Border(true)
                .Store(
                X.StoreFormat().ID("stDocumentReferencePublishSuggest")
                .Url(Url.Action("GetData", "Reference", new { Area = "Document", documentId = Model.Document.Id })))
                .ColumnModel(
                    Html.X().RowNumbererColumn().Text("Stt").Width(50).Align(ColumnAlign.Center),
                    Html.X().ColumnFileFormat(m => m.FileAttachs.Files).Width(40),
                    Html.X().ColumnEncodeFormat().DataIndex("Code").Text("Mã Tài liệu").Width(200).CellWrap(true),
                    Html.X().ColumnEncodeFormat().DataIndex("Name").Text("Tên Tài Liệu").Flex(1).CellWrap(true)
                    ),
                X.FieldSet()
                .Flex(1)
                .Padding(3)
                .Layout(LayoutType.VBox)
                .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                .Title("Thông tin đề nghị ban hành")
                .Items(
                    X.FieldSet()
                    .Padding(3)
                    .MarginSpec("0 0 0 0")
                        .Title("Người đề nghị")
                        .Items(
                            X.EmployeeFieldFor(u => u.EmployeeApproveBy).UrlEmployeeStore(Url.Action("GetByPublishApprove", "Employee", new { area = "Generic", categoryId = Model.Document.CategoryId }))
                            .AllowBlank(false).EmployeeReadOnly(true)),
                    X.TextAreaFor(m => m.ReasonOfSuggest).Flex(1).FieldLabel("Nội dung đề nghị ban hành").LabelAlign(LabelAlign.Top).MarginSpec("5 0 0 0").ReadOnly(true),
                    X.DateFieldFor(m => m.SuggestAt).FieldLabel("Ngày đề nghị").LabelWidth(100).ReadOnly(true).MarginSpec("5 0 0 0")
                    )
                ),
            X.ContainerVBox()
            .Flex(1)
            .Padding(3)
            .Items(
                X.FieldSet()
                .Flex(1)
                .Padding(3)
                .Layout(LayoutType.VBox)
                .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                .Title("Thông tin duyệt ban hành")
                .Items(
                    X.RadioGroup()
                    .ID("rdgResult")
                    .FieldLabel("Kết quả")
                    .MarginSpec("5 0 0 0")
                    .ColumnsNumber(2)
                    .AutomaticGrouping(false)
                    .Items(
                        X.Radio().Name("IsAccept").InputValue("true").BoxLabel("Đồng ý/Đạt").Checked(Model.IsAccept == null ? false : Model.IsAccept == true ? true : false),
                        X.Radio().Name("IsAccept").InputValue("false").BoxLabel("Không đồng ý/Không đạt").Checked(Model.IsAccept == null ? false : Model.IsAccept == false ? true : false)
                        ),
                    X.ContainerHBox()
                    .Items(
                        X.DateFieldFor(m => m.ApplyAt).SelectedDate(DateTime.Now).FieldLabel("Thời gian hiệu lực từ" + Html.Required()).LabelWidth(150).AllowBlank(false).Flex(3).MarginSpec("5 0 0 0"),
                        X.DateFieldFor(m => m.ExpireAt).SelectedDate(DateTime.Now).FieldLabel("Đến" + Html.Required()).LabelWidth(50).AllowBlank(false).Flex(2).MarginSpec("5 0 0 5")
                    ),
                    X.GridPanelFormat()
                    .Flex(1)
                    .ID("gridDestination")
                    .Title("Nơi nhận")
                    .Header(true)
                    .UI(UI.Success)
                    .MarginSpec("5 0 0 0")
                    .TopBarItem(
                        X.ComboboxTreeFormat().Multiple(true)
                        .Flex(1).ID("cbtreeDestination").ShowEmployee(true).ShowTitle(true),
                        X.Button().Text("Thêm").IconCls("x-fa fa-floppy-o")
                            .Handler("addGridDestination(App.cbtreeDestination); App.cbtreeDestination.clear();")
                        .MarginSpec("0 5 0 5"),
                        X.Button().Text("Bên ngoài").IconCls("x-fa fa-plus")
                        .Handler("showFormExternal();")
                        .MarginSpec("0 5 0 5")
                    )
                    .Border(true)
                    .Store(
                    X.StoreFormat().ID("stDestination")
                    .Url(Url.Action("GetDataByDocument", "Destination", new { Area = "Document", documentId = Model.DocumentId }))
                    )
                    .ColumnModel(
                        Html.X().Column().DataIndex("DestinationId").Hidden(true),
                        //Html.X().Column().DataIndex("IsInternal").Hidden(true),
                        Html.X().RowNumbererColumn().Text("Stt").Width(50).Align(ColumnAlign.Center),
                        Html.X().ColumnEncodeFormat().DataIndex("DestinationName").Text("Nơi nhận").Flex(1).CellWrap(true),
                        Html.X().ColumnEncodeFormat().DataIndex("DestinationKind").Text("Loại").Width(100).CellWrap(true).Align(ColumnAlign.Center),
                        Html.X().CommandColumn().Align(ColumnAlign.Center).Width(25)
                        .Commands(
                            Html.X().GridCommand()
                                .CommandName("Delete")
                                .IconCls("x-fa fa-trash-o")
                                .ToolTip(tt => tt.Text = "Xóa")
                                    )
                            .Listeners(ls => ls.Command.Handler = "App.stDestination.remove(record);")
                        ),
                    X.TextAreaFor(p => p.Note).Flex(1).FieldLabel("Ghi chú").LabelAlign(LabelAlign.Top).MarginSpec("5 0 0 0")
                )
            )
        )

    )
    .Buttons(
        X.Button().Text("Duyệt").IconCls("x-fa fa-check")
        .DirectEvents(de =>
                {
                    de.Click.FormID = formId;
                    de.Click.ExtraParams.Add(new { jsonData = new JRawValue("getDataGridDestination()") });
                    de.Click.Url = Url.Action("Approve", "PublishSuggest");
                    de.Click.Success = "this.up('window').close(); App.stDocumentPublishSuggest.reload();";
                }),
        X.ButtonExit()
        )
)
<script>
    var addGridDestination = function (obj) {
        var id = obj.getValue();
        var name = obj.getText();
        var ids = {};
        var names = {};
        ids = id.split(',');
        names = name.split(',');
        if (id != null && id != undefined && name != '') {
            for (var i = 0; i < ids.length; i++) {
                if (Ext.StoreMgr.lookup(App.stDocumentReferencePublishSuggest).findExact('DestinationId', id) < 0) {
                    App.stDestination.add({ DestinationId: ids[i], DestinationName: names[i], DestinationKind: "Nội bộ", IsInternal: true });
                }
            }
        }
    };

    var getDataGridDestination = function () {
        var data = [];
        for (var i = 0; i < App.stDestination.data.length; i++) {
            var item = {};
            item.DestinationId = App.stDestination.data.items[i].data.DestinationId;
            data.push(item);
        }
        return JSON.stringify(data);
    };
    var setColor = function (obj, store) {
        var id = obj.getValue();
        var record = store.getById(id);
        var color = '';
        if (record != null) {
            color = record.get('Color');
        }
        obj.setFieldStyle('background-image: none; background-color: ' + color + ';');
    };

    var showFormExternal = function () {
        var url = '@Url.Action("Index", "External")';
        onDirectMethod(url, null);
    };
</script>
