﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentPublishSuggestBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.Window()
    .Modal(false)
    .Listeners(
        ls =>
        {
            ls.BeforeShow.Handler = "this.setHeight(App.windowDocumentPublishSuggest.getHeight()/4 * 3);this.setWidth(App.windowDocumentPublishSuggest.getWidth()); this.alignTo(App.ctDesktop,'br-br'); this.el.slideIn('b',{duration : 500});";
            //ls.BeforeClose.Handler = "App.windowResultPublishSuggest.el.slideOut('b',{duration : 500}); return false;";
            ls.MaskClick.Handler = "App.windowResultPublishSuggest.el.slideOut('b',{duration : 500});setTimeout(function(){App.windowResultPublishSuggest.doDestroy();},500);";
        })
    .ID("windowResultPublishSuggest")
    .RenderTo("windowDocumentPublishSuggest")
    .Header(false)
    .IconCls("x-fa fa-check-square")
    .Items(
        X.FormPanelVBoxFormat()
        .BodyPadding(3)
        .ID(formId)
        .Items(
        X.FieldSet().Title("Trách nhiệm liên quan").PaddingSpec("5 0 0 0").Flex(1).Layout(LayoutType.Fit)
            .Height(200).Items(
                X.GridPanel()
                .Border(true)
                .ColumnLines(true)
                .MinHeight(50)
                .MarginSpec("0 -1 -2 -1")
                .Store(
                X.StoreFormat()
                .AutoLoad(true)
                .Url(Url.Action("GetData", "PublishSuggest", new { Area = "Document" }))
                )
                .ColumnModel(
                    X.RowNumbererColumnFormat(),
                    Html.X().Column().Text("Nhân sự").DataIndex(Model, m => m.EmployeeApproveAvatarUrl).Flex(1)
                        .Renderer(new Renderer { Fn = "function(value, meta, record) {return '<span><img src=\"'+value+'\" style=\"margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid\"></i> <span style=\"margin-left: 44px;\">'+ Ext.htmlEncode(record.data.EmployeeApproveName) +'</span></span><br/><span style=\"margin-left: 44px;font-size:10px;\">Tổng giám đốc</span></span>'; }" }),
                    X.ColumnEncodeFormat().Text("Trách nhiệm").DataIndex(Model, m => m.TextRole).Width(110),
                    X.ColumnEncodeFormat().Text("Kết quả").DataIndex(Model, m => m.ResultPublish).Width(100).Align(ColumnAlign.Center)
                    )
            ),
        X.FieldSet()
        .Height(215)
            .Flex(1)
            .Padding(3)
            .Layout(LayoutType.VBox)
            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
            .Title("Thông tin kết quả phê duyệt")
            .Items(
                X.RadioGroup()
                .ID("rdgResult")
                .MarginSpec("0 0 10 0")
                .ColumnsNumber(2)
                .AutomaticGrouping(false)
                .Items(
                    X.Radio().Name("IsAccept").InputValue("true").BoxLabel("Đồng ý/Đạt").MarginSpec("-3 0 10 0").Checked(Model.IsAccept == null ? false : Model.IsAccept == true ? true : false),
                    X.Radio().Name("IsAccept").InputValue("false").BoxLabel("Không đồng ý/Không đạt").MarginSpec("-3 0 10 0").Checked(Model.IsAccept == null ? false : Model.IsAccept == false ? true : false)
                    ),
                X.TextAreaFor(p => p.Note).Flex(1).Note("Nhận xét, đánh giá").NoteAlign(NoteAlign.Top).HideLabel(true).MarginSpec("0 0 10 0")
            )
        ).Buttons(
            X.Button().Text("Gửi").IconCls("x-fa fa-share-square-o"),
            X.ButtonExit().Handler("isShow = false; App.windowResultPublishSuggest.el.slideOut('b',{duration : 500}); return false;")
        )
    )
)
