﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model DocumentPublishSuggestBO
@{
    var X = Html.X();
    bool isSuggest = Convert.ToBoolean(ViewData["IsSuggest"]);
    var lstStatusPublishSuggest = ViewData["StatusPublishSuggest"];
}
@(X.Menu().ID("contextDocumentMenu").Width(200).Height(66)
 .Items(
        X.MenuItem().Text("Duyệt").IconCls("x-fa fa-check").Handler("onApprovePublishSuggest();"),
        X.MenuItem().Text("Chi tiết").IconCls("x-fa fa-info-circle").Handler("onDetailPublishSuggest();")
    )
)
@(X.WindowFormat()
    .Width(850)
    .Height(500)
    .Title("Danh sách đề nghị ban hành tài liệu")
    .IconCls("x-fa fa-list")
    .Items(
        X.GridPanelPaggingShortFormat()
        .ID("grDocumentPublishSuggest")
        .Padding(3)
        .Border(true)
        .Flex(1)
        .TopBarItem(
            X.Button()
                .Text("Duyệt")
                .Hidden(isSuggest)
                .ID("btnApprove")
                .Disabled(true)
                .IconCls("x-fa fa-check")
                .DirectClickAction("FormApprove", "PublishSuggest")
                .DirectEvents(de =>
                {
                    de.Click.ExtraParams.Add(new { id = new JRawValue("this.up('grid').selModel.getSelection()[0].data.Id") });
                    de.Click.ExtraParams.Add(new { documentId = new JRawValue("this.up('grid').selModel.getSelection()[0].data.DocumentId") });
                }),
            X.ButtonDetail()
            .ID("btnDetail")
            .DirectClickAction("Form", "PublishSuggest")
            .DirectEvents(de =>
            {
                de.Click.ExtraParams.Add(new { id = new JRawValue("this.up('grid').selModel.getSelection()[0].data.Id") });
                de.Click.ExtraParams.Add(new { documentId = new JRawValue("this.up('grid').selModel.getSelection()[0].data.DocumentId") });
            }),
            X.ToolbarFill(),
            X.Label().Hidden(isSuggest == true ? false : true).Html("<span style='color:red;'>Kích đúp vào yêu cầu để xem chi tiết và thực hiện các nghiệp vụ liên quan</span>"),
            X.CycleButtonFormat().ID("cbStatusApprovePublishSuggest").PrependText("Lọc theo trạng thái: ").MenuSource(lstStatusPublishSuggest)
                .Hidden(isSuggest).Listeners(ls => ls.Change.Handler = "App.stDocumentPublishSuggest.reload();")
        )
        .Store(
        X.StoreFormat()
        .AutoLoad(true)
        .ID("stDocumentPublishSuggest")
        .Url(Url.Action("GetData", "PublishSuggest", new { Area = "Document", isSuggest = isSuggest }))
        .Parameters(ps =>
            {
                ps.Add(new StoreParameter("approveStatus", "App.cbStatusApprovePublishSuggest.activeItem.itemId", ParameterMode.Raw));
            })
        .ModelType(typeof(DocumentPublishSuggestBO))
        )
        .ColumnModel(
                X.RowNumbererColumnFormat().Width(45),
                X.ColumnEncodeFormat().Text("Tên tài liệu").DataIndex(Model, m => m.DocumentName).Flex(1),
                X.DateColumn().Text("Ngày đề nghị").DataIndex(Model, m => m.CreateAt).Width(130).Format("dd/MM/yyyy HH:mm"),
                X.ColumnEncodeFormat().Hidden(isSuggest == true ? false : true).Text("Người duyệt").DataIndex(Model, m => m.EmployeeApproveName).Width(130),
                X.ColumnEncodeFormat().Hidden(isSuggest).Text("Người đề nghị").DataIndex(Model, m => m.SuggestName).Width(150),
                X.ColumnEncodeFormat().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Width(140).Align(ColumnAlign.Center)
                ).Listeners(ls =>
                {
                    ls.SelectionChange.Handler = "gridDocumentPublishSuggest_SelectionChange(); refreshMenuDocumentDistribute(selected);";
                    ls.BeforeItemContextMenu.Fn = "itemContextMenuPosition";
                    ls.RowDblClick.Handler = "showDetail(record)";
                })
    )
    .Buttons(
        X.ButtonExit()
    )
)

<script type="text/javascript">
    var gridDocumentPublishSuggest_SelectionChange = function () {
        var disabled = App.grDocumentPublishSuggest.selModel.getSelection() == 0;
        App.btnDetail.setDisabled(disabled);
        App.btnApprove.setDisabled(disabled);
    };
    var showDetail = function (record) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Form", "PublishSuggest", new { Area = "Document" }, null))',
            params: { id: record.data.Id, documentId: record.data.DocumentId }
        });
    };

    var onDetailPublishSuggest = function () {
        var records = App.grApproveDocumentReviewSuggest.selModel.getSelection();
        if (records.length > 0) {
            var id = records[0].data.Id;
            var params = { id: id };
            var url = '@Url.Action("FormApproveDetail", "ReviewSuggest")';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };
    var onApprovePublishSuggest = function () {
        var records = App.grDocumentPublishSuggest.selModel.getSelection();
        if (records.length > 0) {
            var id = records[0].data.Id;
            var documentId = records[0].data.DocumentId;
            var params = { id: id, documentId: documentId };
            var url = '@Url.Action("FormApprove", "PublishSuggest")';
            onDirectMethod(url, params);
        } else {
            MessageBox();
        }
    };
    var refreshMenuDocumentDistribute = function (selected) {

    };

    var itemContextMenuPosition = function (grid, record, item, index, e, eOpts) {
        if ('@isSuggest' == 'False') {
            e.stopEvent();
            App.contextDocumentMenu.showAt(e.getX(), e.getY() - 50);
        }
    };
</script>
