﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation;
@{
    var X = Html.X();
}
@(Html.X().Window()
.ID("winTraining")
.Title("Đào tạo nhân sự")
.Icon(Icon.UserBrown)
.Maximized(true)
.Height(1)
.BodyPadding(0)
.Margin(0)
.Constrain(true)
.Layout(LayoutType.Border)
.Border(false)
.Modal(true)
.Resizable(false)
.Items(
        Html.X().MenuPanel()
        .ID("frmTraining")
        .Region(Region.West)
        .Header(false)
        .Title("<b>Thực hiện chức năng</b>")
        .UIName("idas_default")
        .TitleAlign(TitleAlign.Center)
        .Collapsible(true)
        .Split(true).MarginSpec("-1 0 -1 -1")
        .Width(170).Border(false)
        .Layout(LayoutType.Fit)
        .Menu(m =>
        {
            m.Add(X.MenuItem()
                .IconCls("x-fa fa-file-text")
                .Text("<b>Yêu cầu đào tạo</b>")
                .OnClientClick("addTabTraining(#{TabPanelTraining}, 'tab0', '/Organization/TrainingRequirement/Index', this,'Yêu cầu đào tạo');")
                );
            m.Add(X.MenuItem()
                .IconCls("x-fa fa-line-chart")
                .Text("<b>Kế hoạch đào tạo</b>")
                .OnClientClick("addTabTraining(#{TabPanelTraining}, 'tab1', '/Organization/TrainingPlan/Index', this,'Kế hoạch đào tạo');")
                );
            m.Add(X.MenuItem()
               .IconCls("x-fa fa-pencil")
               .Text("<b>Đăng ký đào tạo</b>")
               .OnClientClick("addTabTraining(#{TabPanelTraining}, 'tab2', '/Organization/Practioners/Index', this,'Đăng ký đào tạo');"));
            m.Add(X.MenuItem()
                .IconCls("x-fa fa-book")
                .Text("<b>Kết quả đào tạo</b>")
                .OnClientClick("addTabTraining(#{TabPanelTraining}, 'tab3', '/Organization/ResultTraining/Index', this,'Kết quả đào tạo');"));
            m.Add(X.MenuItem()
            .Icon(Icon.PageEdit)
            .Text("Quản lý câu hỏi đánh giá")
            .OnClientClick("addTabTraining(#{TabPanelTraining}, 'tab5', '/Organization/Question/Index', this,'Quản lý câu hỏi đánh giá');"));
        }),
        X.TabPanel()
        .Header(false)
        .MarginSpec("-1 -1 -1 0")
        .ID("TabPanelTraining")
        .Layout(LayoutType.Fit)
        .Region(Region.Center)
        )
)
<script>
    var addTabTraining = function (tabPanel, id, url, menuItem, titleName) {
        var tab = tabPanel.getComponent(id);
        if (!tab) {
            tab = tabPanel.add({
                id: id,
                title: titleName,
                iconCls: menuItem.iconCls,
                closable: true,
                menuItem: menuItem,
                loader: {
                    url: url,
                    renderer: 'frame',
                    loadMask: {
                        showMask: true,
                        msg: 'Đang tải ' + titleName.toLowerCase() + '...'
                    }
                }
            });
            tab.on('activate', function (tab) {
                App.frmTraining.setSelection(tab.menuItem);
            });
        }
        tabPanel.setActiveTab(tab);
    };
</script>