﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.EmployeeTitleBO
@{
    var X = Html.X();
    Operation operation = (Operation)ViewData["Operation"];
}
@(X.Window()
    .ID("WindowEmployeeTitle")
    .Title(Model.Id == Guid.Empty ? Resource.Create : Resource.Detail)
    .IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
    .Height(550)
    .Width(650)
    .BodyPadding(0)
    .Layout(LayoutType.VBox)
    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
    .Modal(true)
    .Items(
    X.Container()
        .Border(false)
        .ID("loadMaskEmployeeTitle")
        .Hidden(true)
        .Height(2)
        .Html("<div class='load-bar'><div class='bar'></div><div class='bar'></div></div>"),
    X.Container()
        .Border(false)
        .ID("loadMaskEmployeeTitleEmpty")
        .Height(2)
        .Hidden(false),
        X.FormPanel()
        .BodyPadding(5)
        .Border(false)
        .Frame(true)
        .Flex(1)
        .Layout(LayoutType.VBox)
        .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
        .StyleSpec("border: none;")
        .FieldDefaults(d => { d.LabelAlign = LabelAlign.Left; d.LabelWidth = 70; })
            .ID("frEmployeeTitle")
            .Items(
                X.HiddenFor(u => u.Id),
                X.HiddenFor(m => m.EmployeeId),
                X.HiddenFor(m => m.ProfileWorkExperienceId),
                X.HiddenFor(m => m.TitleId_Update).ID("hddTitleId").Hidden(operation != Operation.Update),
                X.HiddenFor(m => m.DepartmentId_Update).Hidden(operation != Operation.Update),
                X.TextFieldFormatFor(m => m.DepartmentName).Note("Phòng ban").NoteAlign(NoteAlign.Top).ReadOnly(true).Hidden(operation != Operation.Update).MarginSpec("0 5 5 5"),
                X.TextFieldFormatFor(m => m.TitleName).Note("Chức vụ").NoteAlign(NoteAlign.Top).ReadOnly(true).Hidden(operation != Operation.Update).MarginSpec("0 5 5 5"),
                X.ComboBoxFor(m => m.DepartmentId)
                        .ID("viewComboBoxDepartment").MarginSpec("0 5 10 5")
                        .Editable(false)
                        .Hidden(operation == Operation.Update)
                        .HideLabel(true)
                        .Note("Phòng ban").NoteAlign(NoteAlign.Top)
                        .ValueField("id")
                        .DisplayField("name")
                        .QueryMode(DataLoadMode.Local)
                        .TriggerAction(TriggerAction.All)
                        .EmptyText("Chọn phòng ban")
                        .Listeners(ls =>
                            ls.Select.Handler = "App.viewComboBoxRole.clearValue(); App.viewComboBoxRole.getStore().load()"
                        )
                        .Store(X.Store()
                        .AutoLoad(true)
                        .Model(X.Model()
                        .IDProperty("id")
                        .Fields(
                            new ModelField("id", ModelFieldType.Auto) { Mapping = "Id" },
                            new ModelField("name", ModelFieldType.String) { Mapping = "Name" }
                        )
                        )
                        .Proxy(X.AjaxProxy()
                        .Url(Url.Action("GetDepartment","Department"))
                        .Reader(X.JsonReader().RootProperty("data"))
                     )
                   ),
                   X.ComboBoxFor(m => m.TitleId)
                        .ID("viewComboBoxRole").MarginSpec("0 5 10 5")
                        .TypeAhead(true)
                        .Hidden(operation == Operation.Update)
                        .HideLabel(true)
                        .Note("Chức vụ").NoteAlign(NoteAlign.Top)
                        .QueryMode(DataLoadMode.Local)
                        .TriggerAction(TriggerAction.All)
                        .Editable(false)
                        .DisplayField("name")
                        .ValueField("id")
                        .EmptyText("Đang tải...")
                        .Store(X.Store()
                        .AutoLoad(false)
                        .Model(X.Model()
                            .IDProperty("id")
                            .Fields(
                                new ModelField("id", ModelFieldType.Auto) { Mapping = "Id" },
                                new ModelField("name", ModelFieldType.String) { Mapping = "Name" }
                            )
                        )
                        .Proxy(X.AjaxProxy()
                            .Url(Url.Action("GetDepartmentTitle"))
                            .Reader(X.JsonReader().RootProperty("data"))
                        )
                        .Parameters(ps =>
                                ps.Add(new StoreParameter("departmentId", "App.viewComboBoxDepartment.getValue().split('_')[0]", ParameterMode.Raw))
                            )
                           .Listeners(ls =>
                                ls.Load.Handler = @"if(records.length>0){var combo = App.viewComboBoxRole;
                                combo.setValue(records[0].get(combo.valueField));}"
                            )
                        ),
                    X.FileUploadFieldFor(m => m.FileAttachs).Note("File quyết định").MarginSpec("0 5 5 5"),
                    X.ContainerHBox()
                    .Items(
                        X.DateFieldFor(m => m.StartDate).Format("dd/MM/yyyy").Note("Ngày bắt đầu công tác").EmptyText("Ngày bắt đầu công tác").Flex(1).NoteAlign(NoteAlign.Top).HideLabel(true).MarginSpec("0 5 0 5"),
                        X.DateFieldFor(m => m.EndDate).Format("dd/MM/yyyy").Note("Ngày kết thúc công tác").EmptyText("Ngày kết thúc công tác").Flex(1).NoteAlign(NoteAlign.Top).HideLabel(true).MarginSpec("0 5 0 5"))
                     ),
                    X.TextAreaFor(m => m.Note).MarginSpec("5 10 5 10")
                        .ID("txtNote")
                        .EmptyText("Nội dung công việc...")
                        .Flex(1)
                        .HideLabel(true)
    )
    .Buttons(
        X.Button()
        .Text("Lưu")
        .IconCls("x-fa fa-floppy-o")
        .DirectEvents(de =>
        {
            de.Click.Before = @"if (!App.viewComboBoxRole.isValid() && !App.hddTitleId.isValid()) { return false; } ";
            de.Click.FormID = "frEmployeeTitle";
            de.Click.Url = Url.Action("SetEmployeeTitle");
            de.Click.Success = "App.loadMaskEmployeeTitle.hide(); App.loadMaskEmployeeTitleEmpty.show(); App.StoreEmployeeTitles.reload(); this.up('window').close();";
            de.Click.Failure = "App.loadMaskEmployeeTitle.hide(); App.loadMaskEmployeeTitleEmpty.show(); eval(result.script); this.setDisabled(false);";
        }),
        X.Button().Text(Resource.Close).IconCls("x-fa fa-times-circle").Handler("this.up('window').close();")
    )
)
<script>
    Ext.getBody().unmask();
</script>
