﻿@using Ext.Net;
@using Ext.Net.MVC;
@model iDAS.Service.VPHumanProfileRelationshipBO

@{
    var X = Html.X();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var employeeName = (string)ViewData["EmployeeName"];
}
<script>
    var deleteUrl = '@(Url.Action("DeleteProfileRelationship"))';
    function CheckStatus() {
        var records = App.GrProfileRelationship.selModel.getSelection();
        if (records.length > 0) {
            App.btnUpdate.setDisabled(false);
            App.btnDelete.setDisabled(false);
        }
        else {
            App.btnUpdate.setDisabled(true);
            App.btnDelete.setDisabled(true);
        };
    };
    var ShowSex = function (value) {
        return value == true ? "Nam" : "Nữ";
    };
    var AddNew = function () {
        var url = '@(Url.Action("UpdateForm", "ProfileRelationship", new { Area = "Organization" }, null))';
        var params = {
            EmployeeID: App.hdfEmployeeID.value
        };
        onDirectMethod(url, params);
    };
    var UpdateItem = function () {
        var records = App.GrProfileRelationship.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("UpdateForm", "ProfileRelationship", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
    var ViewDetail = function () {
        var records = App.GrProfileRelationship.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("DetailForm", "ProfileRelationship", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };

    var manageMasterFamilyRelation = function () {
        var value = 'family';
        var url = '@Url.Action("ManageMasterDataForm", "ProfileMasterData", new { area = "Organization" })';
        Ext.net.DirectMethod.request({
            url: url,
            params: { type: value }
        });
    }
</script>
<style>
    .topbarItems {
        left: 0px !important;
    }

    .topbarName {
        font-weight: bold;
        font-size: 16px;
    }
</style>
@(Html.X().Viewport().Layout(LayoutType.Fit).Border(false).Margin(0).Frame(false)
    .Items(
        Html.X().FormPanel()
        .Layout(LayoutType.Fit)
        .Frame(true)
        .Border(false)
        .StyleSpec("border: none;")
        .FieldDefaults(df => df.LabelWidth = 100).Padding(0)
        .DefaultAnchor("100%")
        .Items(

               Html.X().GridPanel()
                        .Header(false)
                        .ID("GrProfileRelationship")
                        .ColumnLines(true)
                        .Border(false)
                        .ForceFit(true)
                        .Icon(Icon.TextListBullets)
                        .TopBar(
                            Html.X().Toolbar()
                            .Layout(LayoutType.VBox)
                            .Items(
                                X.ContainerHBox().Cls("topbarItems").Items(
                                    X.Hidden().ID("hdfEmployeeID").Value(ViewData["EmployeeId"]),
                                    X.Button().ID("btnCreate").Text("Thêm mới").IconCls("x-fa fa-plus-circle").Handler("AddNew();"),
                                    X.Button().ID("btnUpdate").Text("Chi tiết").IconCls("x-fa fa-info-circle").Disabled(true).Handler("UpdateItem();"),
                                    X.Button().ID("btnDelete").Text("Xóa").IconCls("x-fa fa-times-circle").Disabled(true).Handler("onDelete(App.GrProfileRelationship.selModel.getSelection()[0].get('Id'));"),
                                    X.Button().ID("btnDeleteMasterFamily").Text("Quản lý loại quan hệ").Handler("manageMasterFamilyRelation()")
                                ),
                                X.ToolbarSpacer().Height(20),
                                X.Label().Cls("topbarItems topbarName").Text("Nhân viên: " + employeeName)
                            )
                    )
                    .Store(
                        Html.X().Store()
                            .ID("StoreProfileRelationship")
                            .RemotePaging(true)
                            .PageSize(20)
                            .Proxy(Html.X().AjaxProxy().Url(Url.Action("LoadProfileRelationship")).Reader(Html.X().JsonReader().RootProperty("data")).IDParam("Id"))
                            .Parameters(ps =>
                                    {
                                        ps.Add(new StoreParameter("EmployeeID", "App.hdfEmployeeID.value", ParameterMode.Raw));
                                    })
                            .Model(
                                Html.X().Model().Fields(
                                        Html.X().ModelField().Name("Id"),
                                        Html.X().ModelField().Name("Name"),
                                        Html.X().ModelField().Name("Age"),
                                        Html.X().ModelField().Name("IsMale").Type(ModelFieldType.Boolean),
                                        Html.X().ModelField().Name("Relationship"),
                                        Html.X().ModelField().Name("Job"),
                                        Html.X().ModelField().Name("PlaceOfJob"),
                                             X.ModelField().Name("FileAttachs")
                                )
                            )
                    )
                    .ColumnModel(
                                    Html.X().RowNumbererColumnFormat().DataIndex("Id").Text("STT").Width(50).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("Name").Text("Họ tên").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("Age").Text("Năm sinh").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("IsMale").Renderer("ShowSex").Text("Giới tính").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("Relationship").Text("Quan hệ").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("Job").Text("Nghề nghiệp").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("PlaceOfJob").Text("Nơi công tác").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                                     X.ColumnFileFormat(m => m.FileAttachs.Files).Text("<b>Tệp đính kèm</b>").Width(130)
                        )
                    .SelectionModel(Html.X().CheckboxSelectionModel().ShowHeaderCheckbox(false).Mode(SelectionMode.Single)
                                .Listeners(ls => ls.SelectionChange.Fn = "CheckStatus"))
                    .BottomBar(X.PagingToolbarFormat())
            )
        )
)
