﻿@using Ext.Net;
@using Ext.Net.MVC;

@model iDAS.Service.VPHumanProfileRelationshipBO
@{
    var X = Html.X();
}
@(Html.X().Window()
    .ID("winRelationship")
.Title("Hồ sơ quan hệ gia đình")
.Icon(Icon.Pencil)
.Width(600)
.BodyPadding(0)
.Margin(0)
.Constrain(true)
.Layout(LayoutType.Fit)
.Modal(true)
.Resizable(false)
.Items(
    Html.X().FormPanelVBoxFormat()
    .ID("frmUpdate")
    .Frame(true)
    .Border(false)
    .Padding(5)
    .StyleSpec("border: none;")
    .FieldDefaults(df => df.LabelWidth = 100)
    .DefaultAnchor("100%")
        .Items(
            X.HiddenFor(m => m.Id),
            X.HiddenFor(m => m.HumanEmployeeId),
            X.ContainerHBox().MarginSpec("10 0 0 0").Items(
                X.RadioGroupFor(m => m.IsPartnerRelationship, new List<Radio.Config>() {
                    new Radio.Config{BoxLabel = "Bản thân", InputValue = false.ToString()},
                    new Radio.Config{BoxLabel = "Vợ chồng", InputValue = true.ToString()}
                        }).NoteAlign(NoteAlign.Top).HideLabel(true).Note("Là mối quan hệ của").MarginSpec("0 0 10 0").Flex(1)),
            X.ContainerHBox().MarginSpec("10 0 0 0").Items(
            X.TextFieldFor(m => m.Name).NoteAlign(NoteAlign.Top).HideLabel(true).Note("Họ tên"+ Html.Required()).MarginSpec("0 0 0 0").Flex(1).AllowBlank(false)),
            X.ContainerHBox().MarginSpec("10 0 0 0").Items(X.RadioGroupFor(m => m.IsMale, new List<Radio.Config>
                () {
                new Radio.Config{BoxLabel = "Nam", InputValue = true.ToString(),Checked=true},
                new Radio.Config{BoxLabel = "Nữ", InputValue = false.ToString()}}).NoteAlign(NoteAlign.Top).HideLabel(true).Note("Giới tính").MarginSpec("0 0 10 0").Flex(1)),
            X.ContainerHBox()
                .MarginSpec("10 0 0 0")
                .Items(
                    X.ComboBoxFor(m => m.Relationship).NoteAlign(NoteAlign.Top).HideLabel(true).Note("Quan hệ").MarginSpec("5 5 5 0").Flex(1).QueryMode(DataLoadMode.Local)
                        .Store( 
                            X.Store()
                                .AutoLoad(true)
                                .ID("stFamily")
                                .Proxy(
                                    X.AjaxProxy()
                                        .Url(Url.Action("GetMasterData", "ProfileMasterData", new { area = "Organization" }) + "?dataType=family")
                                        .Reader(Html.X().JsonReader().RootProperty("data"))
                                )
                                .Model(
                                    Html.X().Model()
                                        .Fields(
                                            Html.X().ModelField().Name("Id").Type(ModelFieldType.String),
                                            Html.X().ModelField().Name("Name").Type(ModelFieldType.String)
                                        )
                                )
                        )
                        .DisplayField("Name")
                        .ValueField("Id"),
                    X.NumberFieldFor(m => m.Age).NoteAlign(NoteAlign.Top).HideLabel(true).Note("Năm sinh").MarginSpec("5 0 5 0").Flex(1)),
            X.ContainerHBox()
                .Items(
                    X.TextFieldFor(m => m.Phone).NoteAlign(NoteAlign.Top).HideLabel(true).Note("Số điện thoại").MarginSpec("0 0 0 0").Flex(1),
                    X.TextFieldFor(m => m.Adress).NoteAlign(NoteAlign.Top).HideLabel(true).Note("Địa chỉ").MarginSpec("0 0 0 5").Flex(1)
                ),
            X.ContainerHBox()
                .Items(
                    X.TextFieldFor(m => m.Job).NoteAlign(NoteAlign.Top).HideLabel(true).Note("Nghề nghiệp").MarginSpec("0 0 0 0").Flex(1),
                    X.TextFieldFor(m => m.PlaceOfJob).NoteAlign(NoteAlign.Top).HideLabel(true).Note("Nơi công tác").MarginSpec("0 0 0 5").Flex(1)
                ),
            X.FileUploadFieldFor(m => m.FileAttachs).Note("Tệp đính kèm").MarginSpec("5 5 5 5").Width(450)
        )
    )
    .Buttons(
        X.Button()
            .Text("Lưu")
            .IconCls("x-fa fa-floppy-o")
            .DirectEvents(de =>
            {
                de.Click.Before = @"if (!App.frmUpdate.getForm().isValid()) { return false; } ";
                de.Click.Url = Url.Action("Update");
                de.Click.FormID = "frmUpdate";
                de.Click.Success = "this.up('window').close();";
            }),
        Html.X().ButtonExit())
)
<script>
    Ext.getBody().unmask();
</script>
