/*
 * @version   : 4.2.0 - Ext.NET License
 * @author    : Object.NET, Inc. http://object.net/
 * @date      : 2017-01-16
 * @copyright : Copyright (c) 2008-2017, Object.NET, Inc. (http://object.net/). All rights reserved.
 * @license   : See license.txt and http://ext.net/license/
 */

.x-tab-strip-withmenu .x-tab-wrap
{
    padding-right: 14px;
}

.x-tab-strip-withmenu span.x-tab-strip-menu
{
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);    
    background-repeat: no-repeat;
    display: block;
    width: 11px;
    height: 11px;
    position: absolute !important;
    top: 2px;
    right: 3px;        
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.tabmenu.tab-menu.gif")%>);
}

.x-ie8 .x-tab-strip-withmenu span.x-tab-strip-menu {
    top: 4px;
}

.x-theme-gray .x-tab-strip-withmenu span.x-tab-strip-menu
{
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.tabmenu.gray-tab-menu.gif")%>);
}

.x-tab-closable span.x-tab-strip-menu
{
    right: 15px;
}

.x-ie8 .x-tab-closable span.x-tab-strip-menu 
{
    right: 17px;
}

span.x-tab-strip-menu:hover
{
   opacity: 1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);    
}

.rating-cell .x-grid-cell-inner{
    padding-top:0px;
    padding-bottom:0px;
    line-height:16px;
}
.rating-selected {
	background: transparent url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.ratingcolumn.star.png")%>) repeat-x left center;
}
.rating-unselected {
	background: transparent url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.ratingcolumn.star_fade.png")%>) repeat-x left center;
}



html.x-viewport
{
    position:fixed;
}

.ux-start-button-icon {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.desktop.extnet16.gif")%>) !important;
    background-color: transparent;
}

.ux-start-button .x-btn-arrow {
    background-image: none;
}

.ux-taskbar {
    padding-left: 4px !important;
}



.ux-start-menu-toolbar .x-btn-inner {
    text-align: left;
}

.ux-start-menu-toolbar {
    padding: 4px !important;
}




div.ux-taskbar div.x-toolbar {
    background: transparent none;
    border: 0 none;
    padding: 0;
}

.ux-desktop-windowbar .x-btn-inner,
.x-nbr .ux-desktop-windowbar .x-btn-icon-text-left button {
    text-align: left !important;
}



.ux-desktop-trayclock {
    text-align: center;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}



.ux-wallpaper {
    background-color: #3d71b8;
}

.ux-wallpaper-tiled {
    background-repeat: repeat;
}

.ux-desktop-shortcut {
    cursor: pointer;
    position:absolute;    
}

.ux-desktop-shortcut-bg{
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
    visibility:hidden;
    border: 1px solid #62ABCD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ie-border-radius: 5px;
    border-radius: 5px;
}

.ux-desktop-shortcut-wrap{
    position:absolute;
    text-align: center;
    padding: 8px;    
    width: 64px;
    top:0px;
    left:0px;
    z-index:2;
    
}

.x-item-selected div.ux-desktop-shortcut-bg
{
    background-color:#EFEFEF;
    visibility:visible;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);  
}

.x-view-over.x-item-selected div.ux-desktop-shortcut-bg{
    background-color:#EFEFEF;
    visibility:visible;
    opacity: 0.45;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);  
}

.x-view-over .ux-desktop-shortcut-bg{
    background-color:white;
    visibility:visible;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);  
    border: 1px solid gray;
}

.ux-desktop-shortcut-proxy-bg{
    position:absolute;
    z-index:9999;        
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ie-border-radius: 5px;
    border-radius: 5px;
    background-color:white;    
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);  
    border: 1px solid gray;
    width:66px;
    height:91px;
}

.ux-desktop-shortcut-icon {
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.ux-desktop-shortcut-text {
    font: normal 10px tahoma,arial,verdana,sans-serif;
    text-decoration: none;
    padding-top: 5px;
    color: white;
    height: 30px;
    overflow:hidden;
}

.x-ie6 .ux-desktop-shortcut-text, .x-ie7 .ux-desktop-shortcut-text {
    font: normal 11px tahoma,arial,verdana,sans-serif;
    height: 27px;
}

.x-item-selected .ux-desktop-shortcut-text {
    overflow-y:visible;
    height: auto;
}

.x-view-over .ux-desktop-shortcut-text {
    text-decoration: underline;
}

.ux-desktop-dd-proxy {
    opacity:0.4;
    -moz-opacity:0.4;
    -webkit-opacity:0.4;
    -ie-opacity:0.4;
    filter:alpha(opacity=40);
    cursor:default ! important;
}

.x-ie8  .ux-desktop-view, .x-ie9 .ux-desktop-view{
    background-color:white;    
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);  
}
.x-view-selector {
    position: absolute;
    border: 1px dotted #3399BB;
}

.x-statusbar .x-status-text {
    cursor: default;
}

.x-statusbar .x-status-busy-base {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0px;
}

.x-statusbar .x-status-busy {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.statusbar.loading.gif")%>);
}

.x-statusbar .x-status-text-panel {
    border-color: #99bbe8 #fff #fff #99bbe8;
}

.x-toolbar div.xtb-text
.x-statusbar .x-status-text-panel {
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding: 2px 8px 2px 5px;
}

.x-statusbar-base-error-icon {
    color: #C33 !important;
    cursor: pointer !important;
    padding-left: 25px !important;
    background-position: 3px 0px !important;
    background-repeat:no-repeat !important;  
    background-color:transparent !important; 
}

.x-statusbar .x-status-error{
     background-image:url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.statusbar.exclamation.gif")%>) !important;
}

.x-status-base-valid-icon {
    padding-left: 25px !important;
    background-position: 3px 0px !important;
    background-repeat:no-repeat !important;  
    background-color:transparent !important; 
}

.x-statusbar .x-status-valid {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.statusbar.accept.png")%>) !important;
}

.x-status-error-list {
    font: 11px tahoma,arial,verdana,sans-serif;
    position: absolute;
    z-index: 9999;
    border: 1px solid #C33;
    background: #ffa;
    padding: 5px 10px;
    color: #999;
}
.x-status-error-list li {
    cursor: pointer;
    list-style: disc;
    margin-left: 10px;
}
.x-status-error-list li a {
    color: #15428B;
    text-decoration: none;
}
.x-status-error-list li a:hover {
    text-decoration: underline;
}
.x-panel-ghost {
    z-index: 1;
}
.x-border-layout-ct {
    background: #DFE8F6;
}
.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-portal-column {
    
    padding: 8px 8px 0 0;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom:10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.x-accordion-item .x-accordion-hd {
    border-top-color: #f3f7fb;
}
.x-tab-tabmenu-right {
    background: transparent url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.tabscrollermenu.tab-scroller-menu.gif")%>) no-repeat 0 0;
    height: 23px;
    width: 18px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    zoom: 1;
    z-index: 6;
}

.x-tab-tabmenu-over {
    background-position: -18px 0;
}

.x-tab-tabmenu-scroller-right {
    right: 18px;
}



.x-form-multiselect-body .x-boundlist .x-mask {
    background: none;
}

.x-form-itemselector-body .x-form-item {
    margin: 0;
}

.x-form-itemselector-top {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.itemselector.top.gif")%>);
}
.x-form-itemselector-up {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.itemselector.up.gif")%>);
}
.x-form-itemselector-add {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.itemselector.right.gif")%>);
}
.x-form-itemselector-remove {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.itemselector.left.gif")%>);
}
.x-form-itemselector-down {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.itemselector.down.gif")%>);
}
.x-form-itemselector-bottom {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.itemselector.bottom.gif")%>);
}

.x-taglabel ul.x-taglabel-list {
  height: auto;
  min-height: 20px;
  cursor: text;  
  padding: 0px;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom : 0px;
  margin-left: 0px;
}



.x-taglabel input {
  border: 0px;
  background: none; 
  margin: 0px;
  padding: 0px;
}

.x-taglabel-input, .x-taglabel-item {
  float:left;
  display: inline-block;
  position: relative;  
  zoom: 1;  
}

.x-ie7m .x-taglabel-input,.x-ie7m .x-taglabel-item {
  float:left;
  display: inline;
  zoom: 1;  
}

.x-ie7m .x-taglabel {
  margin-top:0px;
  margin-bottom:0px;
}

.x-taglabel-item {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #8fafe0;
  padding: 0px 1px 0px 5px;
  margin: 1px 2px 1px 1px;
  background-color: #dfe8f6;
  cursor: default;
  float:left;
}

.x-ie6 .x-taglabel-item-disabled {
  filter: none;
}

.x-taglabel-item-disabled
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
}

.x-taglabel-item-icon
{
    padding-left : 25px;    
    background-position: 5px 0px;
}

.x-taglabel-item.x-taglabel-item-selected {
  background-color: #6892d4;
  color: white;
  border: 1px solid #0557be !important;
}

.x-taglabel-item.x-taglabel-item-over {
  background-color: #b7cbeb;
  border: 1px solid #6892d4;
}

.x-taglabel-stacked .x-taglabel-item,
.x-taglabel-stacked .x-taglabel-input {
  display: block;
  float : none;
}

.x-taglabel-stacked ul.x-taglabel-list
{
    overflow-x:hidden;
    overflow-y:auto;
}

.x-taglabel-item-text {
  line-height: 16px;
  padding-right: 5px;
  font-size: 12px;
}

.x-taglabel-closable .x-taglabel-item-text { 
  padding-right: 16px;
}

.x-taglabel-empty {
  color: gray;
  float:left;
  padding: 0px 1px 0px 2px;
  margin: 2px 1px 1px 0;
}

 .x-taglabel-item .x-taglabel-close-btn {
  display: block;
  cursor: pointer;
  position: absolute;
  font-size: 0;
  line-height: 0;
  background: no-repeat;
  width: 11px;
  height: 11px;
  top: 3px;
  right: 3px;
  background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.taglabel.close.png")%>);
}

.x-taglabel-item-disabled .x-taglabel-close-btn {  
  cursor: default;
}

.x-taglabel-item .x-taglabel-close-btn-over
{
    background-position: 0px -22px;
}

.x-tagcombo .x-form-trigger
{
    margin-top: 0px;
}

.x-tagcombo .x-form-field {
  padding: 0px;
}

.x-ie7m .x-taglabel {
  margin-top:-1px;
  margin-bottom:0px;
}

.x-ie7m .x-taglabel input {
  margin-top:0px;
  margin-bottom:0px;
}

.x-tagcombo.x-item-disabled .x-form-field,
.x-tagcombo.x-item-disabled .x-form-trigger
{
    filter: inherit;
    opacity: inherit;
}

.x-tagcombo.x-item-disabled .x-form-trigger-wrap
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
}

.x-tagcombo-stacked .x-field-toolbar-body .x-trigger-cell
{
    border-bottom:none;
}
.x-hide-selection .x-boundlist-selected
{
    display : none;
}
.x-taglabel-item {
    padding: 3px 1px 2px 5px;
}

.x-tagcombo .x-taglabel-item {
    padding: 0px 1px 0px 5px;
}

.x-taglabel-item.x-taglabel-closable
{
    padding: 3px 3px 2px 5px;
}

.x-tagcombo .x-taglabel-item.x-taglabel-closable
{
    padding: 0px 1px 0px 5px;
}

.x-tagcombo .x-taglabel-item.x-taglabel-closable.x-taglabel-item-icon
{
    padding: 0px 1px 0px 25px;
}

.x-taglabel-item .x-taglabel-close-btn
{
    top:5px;
}

.x-tagcombo .x-taglabel-item .x-taglabel-close-btn
{
    top:3px;
}

.x-taglabel-item-icon {
    padding-left: 25px;
    background-position: 5px center;
}

.x-theme-neptune .x-taglabel ul.x-taglabel-list,
.x-theme-neptunetouch .x-taglabel ul.x-taglabel-list,
.x-theme-gray .x-form-text-wrap-toolbar .x-taglabel-list,
.x-theme-blue .x-form-text-wrap-toolbar .x-taglabel-list {
    background-color: white;
}
