.x-multiselect-with-checkbox .x-boundlist-item {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.multiselect.unchecked.gif")%>);
    background-repeat: no-repeat;
    background-position: 1px 1px;
    padding-left: 18px;
}
 
.x-multiselect-with-checkbox .x-boundlist-selected {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.multiselect.checked.gif")%>);
}
