﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.QualityMeetingRecordBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.WindowFormat()
    .Listeners(
        ls =>
        {
            ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth()*4/5); this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
            ls.BeforeClose.Handler = "this.el.slideOut('r',{duration : 500}); return false;";

        })
    .Modal(true).Title("Biên bản cuộc họp")
    .IconCls("x-fa fa-users")
    .Draggable(false).Closable(false).IconCls("x-fa fa-reply-all")
    .Items(
        X.FormPanelHBoxFormat().ID(formId).Flex(1).Items(
        X.HiddenFor(m => m.QualityMeetinPlanDetailId),
        X.FieldSetHBox().Flex(1).Title("Thành phần tham gia").Items(
            X.GridPanelFormat().Border(false).Flex(1).MarginSpec("-2 0 0 0")
                .Store(
                X.Store().AutoLoad(true)
                .Proxy(
                         X.AjaxProxy()
                        .Url(Url.Action("GetAvailableMemberJoinMeeting", "Member"))
                        .Reader(X.JsonReader().RootProperty("data").IDProperty("EmployeeId")))
                        .Parameters(pr => pr.Add(new StoreParameter("meetingId", Model.QualityMeetinPlanDetailId)))
                                .Listeners(ls =>
                                {
                                    ls.Load.Handler = "setEnableEdit()";
                                })
                )
                .ColumnModel(
                    X.RowNumbererColumnFormat().Width(60),
                    X.Column().Text("Thành phần tham gia").Flex(1).Renderer(new Renderer { Fn = "renderObjectComlumn" })
                    )
        ),
        X.ContainerVBox().Flex(2).Items(
                X.Panel().Layout(LayoutType.Fit).Flex(1).Title("Nội dung cuộc họp")
                .Items(
                    X.TextAreaFor(m => m.Contents).Flex(1).AutoFocus(true).ID("txtContent").HideLabel(true)
                ),
                X.Panel().Layout(LayoutType.Fit).Flex(1).Title("Quyết định của Lãnh đạo sau khi xem xét").Items(
                    X.TextAreaFor(m => m.Result).Flex(1).ID("txtResult").ReadOnly(false).HideLabel(true)
                )
            )
         ))
        .Buttons(
            X.Button().Text(Resource.Save).Hidden(Model.MeetingStatus != (int)iDAS.Service.Common.Resource.MeetingStatus.Perform)
            .IconCls("x-fa fa-floppy-o")
            .DirectEvents(de =>
            {
                de.Click.FormID = formId;
                de.Click.Url = Url.Action("UpdateRecord");
                de.Click.Method = HttpMethod.POST;
                de.Click.Success = "if(result.result == true){this.up('window').doDestroy(); if(App.storeMeetingPlan) App.storeMeetingPlan.reload();}";
            }),
            X.ButtonSlideOut()
        )
)

<script>

    var renderObjectComlumn = function (value, meta, record) {
        var reuslt = '';
        title = '<span style="margin-left: 44px;font-size:10px;">' + record.data.Employee.RoleNames + '</span></span>';
        image = '<img src="' + record.data.Employee.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.Employee.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };

    var setEnableEdit = function () {
    };
</script>