﻿﻿@using Ext.Net;
@using Ext.Net.MVC;
@{
    var X = Html.X();
}
@(
    X.Container()
    .ID("ctDasboardEmployees")
    .AutoScroll(true)
    .Border(false)
    .Items(
        X.Panel()
        .Layout(LayoutType.Fit)
        .Height(370)
        .Items(
            X.ContainerHBox()
            .Border(false)
            .Items(
                X.Panel()
                .Border(false)
                .IconCls("x-fa fa-line-chart")
                .UIName("idas_default")
                .Flex(1)
                .Title("<b>Biểu đồ số lượng sinh nhật trong tháng</b>")
                .ItemsFromAction("ChartLevelEmployee"),
                X.Panel()
                .Border(false)
                .IconCls("x-fa fa-pie-chart")
                .UIName("idas_default")
                .Flex(1)
                .Title("<b>Biểu đồ thống kê công tỷ lệ Nam/Nữ toàn công ty</b>")
                .ItemsFromAction("ChartAreaSex"),
                X.Panel()
                .Border(false)
                .IconCls("x-fa fa-bar-chart")
                .UIName("idas_default")
                .Flex(1)
                .Title("<b>Biểu đồ thống kê nhân sự theo độ tuổi</b>")
                .ItemsFromAction("ChartRangerAgeEmployee")
                .Html("Demo")
            )
        ),
        X.Panel()
        .Layout(LayoutType.Fit)
        .Flex(1)
        .Items(
            X.ContainerHBox()
            .Border(false)
            .Items(
                X.Panel()
                .Border(false)
                .IconCls("x-fa fa-calendar-o")
                .UIName("idas_default")
                .Flex(2)
                .Title("<b>Biểu đồ nhân sự theo phòng ban</b>")
                .ItemsFromAction("ChartTitleEmployee")
            )
        )
    )
)