﻿<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(TargetDir)iDAS.DataModel.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="iDAS.DataModel" #>
<#@ output extension=".cs" #>
using iDAS.DataModel;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Data.Entity;

namespace iDAS.DataAccess
{
<#
	string nameSpace = "iDAS.DataModel";
	System.Reflection.Assembly asm = typeof(IEntity).Assembly;
	List<System.Type> classes = asm.GetTypes().Where(p => p.Namespace == nameSpace && p.IsClass && !p.Name.Contains("Entities")).ToList();
	foreach(var item in classes)
	{#>
	public class <#= item.Name #>DTO : IDataTransfer
    {
		public IRepository<TPOCO> DataTransferObject<TPOCO>(DbContext context) where TPOCO : class {
		    return new RepositoryAdapter<<#= item.Name #>, TPOCO>(context);
		}
	}
<#}#>
}