﻿@using Ext.Net;
@using Ext.Net.MVC;
@model iDAS.Service.VPHumanProfileSalaryBO

@{
    var X = Html.X();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var employeeName = (string)ViewData["EmployeeName"];
}
<script>
    var deleteUrl = '@(Url.Action("DeleteProfileSalary"))';
    function CheckStatus() {
        var records = App.GrProfileSalary.selModel.getSelection();
        if (records.length > 0) {
            App.btnUpdate.setDisabled(false);
            App.btnDelete.setDisabled(false);
        }
        else {
            App.btnUpdate.setDisabled(true);
            App.btnDelete.setDisabled(true);
        };
    };
    var AddNew = function () {
        var url = '@(Url.Action("UpdateForm", "ProfileSalary", new { Area = "Organization" }, null))';
        var params = {
            EmployeeID: App.hdfEmployeeID.value
        };
        onDirectMethod(url, params);
    };
    var UpdateItem = function () {
        var records = App.GrProfileSalary.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("UpdateForm", "ProfileSalary", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
    var ViewDetail = function () {
        var records = App.GrProfileSalary.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("DetailForm", "ProfileSalary", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
</script>
<style>
    .topbarItems {
        left: 0px !important;
    }

    .topbarName {
        font-weight: bold;
        font-size: 16px;
    }
</style>

@(Html.X().Viewport().Layout(LayoutType.Fit).Border(false).Margin(0).Frame(false).StyleSpec("border: none;")
.Items(
           Html.X().GridPanel()
                    .Header(false)
                    .ID("GrProfileSalary")
                    .ColumnLines(true)
                    .ForceFit(true)
                    .Border(false)
                    .Icon(Icon.TextListBullets)
                    .TopBar(
                        Html.X().Toolbar()
                        .Layout(LayoutType.VBox)
                        .Items(
                            X.ContainerHBox().Cls("topbarItems").Items(
                                X.Hidden().ID("hdfEmployeeID").Value(ViewData["EmployeeId"]),
                                X.Button().ID("btnCreate").Text("Thêm mới").IconCls("x-fa fa-plus-circle").Handler("AddNew();"),
                                X.Button().ID("btnUpdate").Text("Chi tiết").IconCls("x-fa fa-info-circle").Disabled(true).Handler("UpdateItem();"),
                                X.Button().ID("btnDelete").Text("Xóa").IconCls("x-fa fa-times-circle").Disabled(true).Handler("onDelete(App.GrProfileSalary.selModel.getSelection()[0].get('Id'));")
                            ),
                            X.ToolbarSpacer().Height(20),
                            X.Label().Cls("topbarItems topbarName").Text("Nhân viên: " + employeeName)
                        )
                )
                .Store(
                    Html.X().Store()
                        .ID("StoreProfileSalary")
                        .RemotePaging(true)
                        .PageSize(20)
                        .Proxy(Html.X().AjaxProxy().Url(Url.Action("LoadProfileSalary")).Reader(Html.X().JsonReader().RootProperty("data")).IDParam("Id"))
                             .Parameters(ps =>
                                            {
                                                ps.Add(new StoreParameter("EmployeeID", "App.hdfEmployeeID.value", ParameterMode.Raw));
                                            })
                        .Model(
                            Html.X().Model().Fields(
                                Html.X().ModelField().Name("Id"),
                                Html.X().ModelField().Name("Level"),
                                Html.X().ModelField().Name("CodeJob"),
                                Html.X().ModelField().Name("Wage"),
                                Html.X().ModelField().Name("Extra"),
                                Html.X().ModelField().Name("DateOfApp"),
                                Html.X().ModelField().Name("DateOfOff"),
                                Html.X().ModelField().Name("FileAttachs")
                            )
                          )
                )
                .ColumnModel(
                        Html.X().RowNumbererColumnFormat().DataIndex("Id").Text("STT").Width(50).StyleSpec("font-weight: bold;text-align: center"),
                        Html.X().Column().DataIndex("Level").Text("Mức lương").Flex(1).StyleSpec("font-weight: bold;"),
                        Html.X().Column().DataIndex("CodeJob").Text("Mã chức danh nghề").Flex(1).StyleSpec("font-weight: bold;"),
                        Html.X().Column().DataIndex("Wage").Text("Bậc lương").Width(180).StyleSpec("font-weight: bold;"),
                        Html.X().Column().DataIndex("Extra").Text("Phụ cấp thâm niên vượt khung").Width(300).StyleSpec("font-weight: bold;"),
                        Html.X().DateColumnFormat().DataIndex("DateOfApp").Text("Ngày áp dụng").Width(150).StyleSpec("font-weight: bold;text-align: center"),
                        Html.X().DateColumnFormat().DataIndex("DateOfOff").Text("Ngày kết thúc").Width(150).StyleSpec("font-weight: bold;text-align: center"),
                    X.ColumnFileFormat(m => m.FileAttachs.Files).Text("<b>Tệp đính kèm</b>").Width(130)
                        )
                .SelectionModel(Html.X().CheckboxSelectionModel().ShowHeaderCheckbox(false).Mode(SelectionMode.Single)
                           .Listeners(ls => ls.SelectionChange.Fn = "CheckStatus"))
                 .BottomBar(X.PagingToolbarFormat())
    )
)
