﻿@using Ext.Net;
@using Ext.Net.MVC;
@model iDAS.Service.VPHumanProfileContractBO

@{
    var X = Html.X();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var employeeName = (string)ViewData["EmployeeName"];
}
    <script>
    var deleteUrl = '@(Url.Action("DeleteProfileContract"))';
    function CheckStatus() {
        var records = App.GrProfileContract.selModel.getSelection();
        if (records.length > 0) {
            App.btnUpdate.setDisabled(false);
            App.btnDelete.setDisabled(false);
        }
        else {
            App.btnUpdate.setDisabled(true);
            App.btnDelete.setDisabled(true);
        };
    };
    var AddNew = function () {
        var url = '@(Url.Action("UpdateForm", "ProfileContract", new { Area = "Organization" }, null))';
        var params = {
            EmployeeID: App.hdfEmployeeID.value
        };
        onDirectMethod(url, params);
    };
    var UpdateItem = function () {
        var records = App.GrProfileContract.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("UpdateForm", "ProfileContract", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        }
    };
    var ViewDetail = function () {
        var records = App.GrProfileContract.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("DetailForm", "ProfileContract", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        }
    };
    var manageMasterDataContractStatus = function () {
        var value = App.cbMasterContract.getValue();
        var url = '@Url.Action("ManageMasterDataForm", "ProfileMasterData", new { area = "Organization" })';
        Ext.net.DirectMethod.request({
            url: url,
            params: { type: value }
        });
    };
</script>
<style>
    .topbarItems {
        left: 0px !important;
    }

    .topbarName {
        font-weight: bold;
        font-size: 16px;
    }
</style>
@(Html.X().Viewport().Layout(LayoutType.Fit).Border(false).Margin(0).Frame(false)
    .Items(
        Html.X().FormPanel()
        .Layout(LayoutType.Fit)
        .Frame(true)
        .Border(false)
        .StyleSpec("border: none;")
            .FieldDefaults(df => df.LabelWidth = 100).Padding(0)
        .DefaultAnchor("100%")
        .Items(

               Html.X().GridPanel()
                        .Header(false)
                        .ID("GrProfileContract")
                        .ColumnLines(true)
                        .Border(false)
                        .ForceFit(true)
                        .Icon(Icon.TextListBullets)
                        .TopBar(
                            Html.X().Toolbar()
                            .Layout(LayoutType.VBox)
                            .Items(
                                X.ContainerHBox().Cls("topbarItems").Items(
                                    X.Hidden().ID("hdfEmployeeID").Value(ViewData["EmployeeId"]),
                                    X.Button().ID("btnCreate").Text("Thêm mới").IconCls("x-fa fa-plus-circle").Handler("AddNew();"),
                                    X.Button().ID("btnUpdate").Text("Chi tiết").IconCls("x-fa fa-info-circle").Disabled(true).Handler("UpdateItem();"),
                                    X.Button().ID("btnDelete").Text("Xóa").IconCls("x-fa fa-times-circle").Disabled(true).Handler("onDelete(App.GrProfileContract.selModel.getSelection()[0].get('Id'));"),
                                    X.Label().Width(10),
                                    X.Label("Quản lý dữ liệu hợp đồng"),
                                    X.Label().Width(10),
                                    X.ComboBox().ID("cbMasterContract").Width(300).EmptyText("--Chọn loại dữ liệu--")
                                    .Items(
                                        new ListItem("Loại hợp đồng", "contractType"),
                                        new ListItem("Tình trạng hợp đồng", "contractStatus")
                                    ),
                                    X.Label().Width(10),
                                    X.Button().ID("btnMasterContractStatus").Text("Quản lý").IconCls("x-fa fa-cogs").Handler("manageMasterDataContractStatus()")
                                ),
                                X.ToolbarSpacer().Height(20),
                                X.Label().Cls("topbarItems topbarName").Text("Nhân viên: " + employeeName)
                            )
                    )
                    .Store(
                        Html.X().Store()
                            .ID("StoreProfileContract")
                            .RemotePaging(true)
                            .PageSize(20)
                            .Proxy(Html.X().AjaxProxy().Url(Url.Action("LoadProfileContract")).Reader(Html.X().JsonReader().RootProperty("data")).IDParam("Id"))
                                 .Parameters(ps =>
                                            {
                                                ps.Add(new StoreParameter("EmployeeID", "App.hdfEmployeeID.value", ParameterMode.Raw));
                                            })
                            .Model(
                                Html.X().Model().Fields(
                                Html.X().ModelField().Name("Id"),
                                Html.X().ModelField().Name("NumberOfContracts"),
                                Html.X().ModelField().Name("StartDate"),
                                Html.X().ModelField().Name("EndDate"),
                                Html.X().ModelField().Name("Type"),
                                Html.X().ModelField().Name("Condition"),
                                 X.ModelField().Name("FileAttachs")
                                )
                              )
                    )
                    .ColumnModel(
                                Html.X().RowNumbererColumnFormat().DataIndex("Id").Text("STT").Width(50).StyleSpec("font-weight: bold;text-align: center"),
                                Html.X().Column().DataIndex("NumberOfContracts").Text("Số hợp đồng").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                                Html.X().Column().DataIndex("Type").Text("Loại hợp đồng").Width(200).StyleSpec("font-weight: bold;text-align: center"),
                                Html.X().DateColumnFormat().DataIndex("StartDate").Text("Ngày bắt đầu").Width(250).StyleSpec("font-weight: bold;text-align: center"),
                                Html.X().DateColumnFormat().DataIndex("EndDate").Text("Ngày kết thúc").Width(250).StyleSpec("font-weight: bold;text-align: center"),
                                X.ColumnFileFormat(m => m.FileAttachs.Files).Text("<b>Tệp đính kèm</b>").Width(130)

                        )
                    .SelectionModel(Html.X().CheckboxSelectionModel().ShowHeaderCheckbox(false).Mode(SelectionMode.Single)
                                .Listeners(ls => ls.SelectionChange.Fn = "CheckStatus"))
                        .BottomBar(Html.X().PagingToolbarFormat())
               )
        )
)
