﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model ProfileDestroyDetailBO
@{
    var X = Html.X();
    var destroyDetailStatus = ViewData["DestroyDetailStatus"];
    var profileDestroySuggestId = ViewData["ProfileDestroySuggestId"];
    var hideButton = (bool)ViewData["HideButton"];
    var hideButtonReview = (bool)ViewData["HideButtonReview"];
}
@(X.WindowFormat()
    .IconCls("x-fa fa-pencil-square-o")
    .Height(480).Width(800)
    .BodyPadding(0)
    .Title("Danh sách hồ sơ đề nghị hủy")
    .ID("windowContainerProfileDetail")
    .Items(
        X.GridPanel()
        .ColumnLines(true)
        .RowLines(true)
        .Header(false)
        .Flex(1)
        .Resizable(false)
        .ID("gridProfileDestroyDetail")
        .Border(false)
        .TopBarItem(
            X.Button().IconCls("x-fa fa-plus-circle")
            .Hidden(hideButton)
            .DirectClickAction("FormAddProfileWaitDestroy", "DestroyDetail", new { Area = "Profile" }),
            X.ToolbarFill(),
            X.TextField()
            .EmptyText("Nhập từ khóa tìm kiếm theo tên hoặc mã hồ sơ")
            .IconCls("x-fa fa-search")
            .Width(320)
            .ID("txtSearchProfileDestroyDetail")
            .Listeners(ls =>
            {
                ls.Change.Handler = "App.storeProfileDestroyDetail.reload()";
                ls.Change.Buffer = 1000;
            }),
            X.CycleButtonFormat().ID("cbStatusProfileDestroyDetail").ShowText(true).PrependText("Trạng thái: ").MenuSource(destroyDetailStatus)
                .Listeners(ls => ls.Change.Handler = "App.storeProfileDestroyDetail.reload();")
        )
        .Store(
            X.StoreFormat()
            .ID("storeProfileDestroyDetail")
            .AutoLoad(true)
            .Url(Url.Action("LoadDetail", "DestroyDetail", new { Area = "Profile" }))
            .Parameters(
                pr =>
                {
                    pr.Add(new StoreParameter("destroySuggestId", profileDestroySuggestId.ToString(), ParameterMode.Value));
                    pr.Add(new StoreParameter("query", "App.txtSearchProfileDestroyDetail.getValue()", ParameterMode.Raw));
                    pr.Add(new StoreParameter("status", "App.cbStatusProfileDestroyDetail.activeItem.itemId", ParameterMode.Raw));
                })
            )
        .ColumnModel(
            Html.X().RowNumbererColumn().Text("STT").Width(50).Align(ColumnAlign.Center),
            X.Column().DataIndex(Model, m => m.Id).Hidden(true),
            X.Column().DataIndex("ProfileId").Hidden(true),
            X.ColumnEncodeFormat().Text("Hộp/cặp số").DataIndex("ProfileBox").Width(100).Locked(true),
            X.ColumnEncodeFormat().Text("Mã hồ sơ").DataIndex("ProfileCode").Width(100).Locked(true),
            X.ColumnEncodeFormat().Text("Tên hồ sơ").DataIndex("ProfileName").Width(300).Locked(true),
            X.ColumnEncodeFormat().Text("Thời gian lưu trữ").Width(130).Align(ColumnAlign.Center).DataIndex("ProfileTimeArchiveText"),
            X.DateColumn().Text("Thời hạn lưu trữ").DataIndex("ProfileArchiveDeadline").Width(150).Format("dd/MM/yyyy"),
            X.DateColumn().Text("Ngày nộp lưu").DataIndex("ProfileArchiveDate").Width(150).Format("dd/MM/yyyy"),
            Html.X().Column().DataIndex("").Text("Người lưu trữ").Width(230).CellWrap(true).Renderer(new Renderer { Fn = "renderEmployeeArchive" }),
            X.Column().Text("trạng thái").DataIndex(Model, m => m.ResultText).Width(120)
            ).Listeners(ls =>
                {
                    ls.BeforeItemContextMenu.Fn = "oncontextMenuProfileDestroySuggest";
                })
        )
        .Buttons(
            X.Button().Text("Lưu").IconCls("x-fa fa-pencil-square-o").Hidden(hideButton).Handler("onChooseProfileDestroySuggest();this.up('window').close();"),
            X.ButtonExit()
        )
)
@(X.Menu()
    .ID("contextMenuProfileDestroySuggest")
    .Items(
        X.MenuItem().Text("Chi tiết").IconCls("x-fa fa-info-circle").Handler("onDetailProfileDestroySuggest();"),
        X.MenuItem().Text("Danh sách hồ sơ").IconCls("x-fa fa-book").Handler("onDetailProfileDestroyComponent();"),
        X.MenuItem().Text("Xem xét").IconCls("x-fa fa-check-circle").Handler("onReviewProfileDestroySuggest();").Hidden(hideButtonReview),
        X.MenuItem().Text("Xóa").IconCls("x-fa fa-trash-o").Handler("onDeleteProfileDestroySuggest();").Hidden(!hideButtonReview)
    )
)
<script>
    var oncontextMenuProfileDestroySuggest = function (s, r, d, o, e, eOpts) {
        e.stopEvent();
        App.contextMenuProfileDestroySuggest.showAt(e.getX(), e.getY());
    };

    var renderEmployeeArchive = function (value, meta, record) {
        var title = '';
        var result = '';
        var image = '';
        title = '<span style="margin-left: 40px;font-size:10px;">' + record.data.Profile.EmployeeArchive.RoleNames + '</span>';
        image = '<img src="' + record.data.Profile.EmployeeArchive.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 40px;">' + Ext.htmlEncode(record.data.Profile.EmployeeArchive.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };

    var onChooseProfileDestroySuggest = function () {
        var records = App.storeProfileDestroyDetail.getRange();
        if (records != null || records != undefined) {
            if (App.txtProfileDestroyTotal) {
                var result = records.length;
                var profileId = '';
                for (var i = 0; i < records.length; i++) {
                    profileId += records[i].data.ProfileId + ',';
                }
                App.txtProfileDestroyTotal.setValue(result);
                App.hdfProfileDestroySuggestProfileIds.setValue(profileId);
            }
        }
    };

    var onDetailProfileDestroySuggest = function () {
        var record = App.gridProfileDestroyDetail.selModel.getSelection();
        if (record != null) {
            var params = { Id: record[0].data.ProfileId, hideButtonSave: true, CategoryId: record[0].data.Profile.CategoryId, departmentId: record[0].data.Profile.DepartmentId };
            var url = '@Url.Action("Form", "Profile", new { Area = "Profile" })';
            onDirectMethod(url, params);
        }
    };

    var onDetailProfileDestroyComponent = function () {
        debugger;
        var record = App.gridProfileDestroyDetail.selModel.getSelection();
        if (record != null) {
            var params = { Id: record[0].data.ProfileId };
            var url = '@Url.Action("FormViewDetail", "ProfileComponent", new { Area = "Profile" })';
            onDirectMethod(url, params);
        }
    };

    var onReviewProfileDestroySuggest = function () {
        var record = App.gridProfileDestroyDetail.selModel.getSelection();
        if (record != null) {
            var params = { id: record[0].data.Id };
            var url = '@Url.Action("FormReview", "DestroyDetail", new { Area = "Profile" })';
            onDirectMethod(url, params);
        }
    };

    var onDeleteProfileDestroySuggest = function () {
        var record = App.gridProfileDestroyDetail.selModel.getSelection();
        if (record != null) {
            if (record[0].data.Status != '@Convert.ToInt16(iDAS.Service.Common.Resource.ProfileStatus.WaitReview)' &&
                record[0].data.Status != '@Convert.ToInt16(iDAS.Service.Common.Resource.ProfileStatus.Archive)') {
                ShowMessageWhenDeleteProfile();
            }
            else {
                Ext.MessageBox.show({
                    title: '@iDAS.Presentation.Common.Resource.Confirm', msg: '@iDAS.Presentation.Common.Resource.ConfirmDelete',
                    buttons: { yes: 'Đồng ý', no: 'Không' },
                    iconCls: '#Information',
                    fn: function (btn) {
                        if (btn == 'yes') {
                            Ext.net.DirectMethod.request({
                                url: '@(Url.Action("Delete", "DestroyDetail", new { Area = "Profile" }))',
                                params: { id: record[0].data.Id },
                                success: function (result) {
                                    App.storeProfileDestroyDetail.reload();
                                }
                            });
                        }
                    }
                });
            }
        }
    };

    var ShowMessageWhenDeleteProfile = function (value) {
        var msg = "Bạn chỉ có thể xóa hồ sơ ở trạng thái Chờ xem xét hoặc Lưu trữ!";
        if (value == "UpdateError") {
            msg = "Có lỗi trong quá trình cập nhật dữ liệu!";
        };
        Ext.MessageBox.show({
            title: 'Thông báo', msg: msg,
            buttons: { yes: 'Đồng ý' },
            iconCls: '#Exclamation'
        });
    };
</script>