﻿@using Ext.Net.MVC;
@using Ext.Net;
@using iDAS.Service;
@model TaskPerformBO
@{
    var X = Html.X();
    var taskId = ViewData["TaskID"];
    var MaxScore = (int)ViewData["MaxScore"];
    var grid = X.FormPanelFormat().ID("FormSendPoint")
                 .Items(X.GridPanelFormat()
            .ID("grSendPoint")
            .Flex(1)
            .Store(
                X.StoreFormat().ID("stSendPoint").Url(Url.Action("LoadData"))
                .ModelType(typeof(TaskPerformBO))
                .Parameters(ps => ps.Add(new StoreParameter("taskId", taskId)))
            )
            .ColumnModel(
                X.RowNumbererColumnFormat(),
                X.AvatarColumnFormat().DataIndex(Model, m => m.EmployeeAvatarUrl),
                X.Column().DataIndex(Model, m => m.EmployeeName).Text("Nhân sự thực hiện").Flex(1),
                //X.Column().DataIndex(Model, m => m.UnitText).Text("Khối lượng công việc").Width(200),
                X.ProcessColumn().ProcessDataIndex(Model, m => m.CompleteRate),
                X.StatusColumnFormat(m => m.TaskStatusColor).DataIndex(Model, m => m.TaskStatusText),
                X.CheckColumn().DataIndex(Model, m => m.IsOutOfDate).Width(80).Text("Quá hạn"),
                Html.X().ComponentColumn()
                .Editor(true)
                .Width(130)
                .DataIndex("Score")
                .Text("Điểm" + (MaxScore == 0 ? "":" <b>(Tối đa: " + MaxScore +")</b>"))
                .Component((MaxScore == 0 ? Html.X().NumberField() : Html.X().NumberField().MaxValue(MaxScore).MaxText("Tối đa " + MaxScore +" điểm"))),
                Html.X().ComponentColumn()
                .Editor(true)
                .Hidden(true)
                .DataIndex("Weightscore")
                .Width(90)
                .Text("Hệ số")
                .Component(Html.X().NumberField()),
                Html.X().ComponentColumn()
                .Editor(true)
                .Width(200)
                .DataIndex("Note")
                .Align(ColumnAlign.Center)
                .Text("Ghi chú")
                .Component(Html.X().TextArea())
        ));
}
@(
        X.WindowFormat()
        .ID("windowFormatSendPoint")
        .Title("Cho điểm")
        .Width(1000)
        .IconCls("x-fa fa-user")
        .Items(X.Hidden().ID("TaskIdHiddenSendPoint").Value(taskId),grid)
        .Buttons(
            X.Button().Text("Cho điểm").IconCls("x-fa fa-edit").ID("btnSendPoint").Listeners(ls => ls.Click.Handler = "sendPoint("+MaxScore+")"),
            X.ButtonExit()
        )
)
<script>
    var sendPoint = function (MaxScore) {
        var data = [];
        for (var i = 0; i < App.stSendPoint.data.length; i++) {
            var item = {};
            item.EmployeeId = App.stSendPoint.data.items[i].data.EmployeeId;
            item.EmployeeName = App.stSendPoint.data.items[i].data.EmployeeName;
            item.Score = App.stSendPoint.data.items[i].data.Score;
            item.Weightscore = App.stSendPoint.data.items[i].data.Weightscore;
            item.Note = App.stSendPoint.data.items[i].data.Note;
            data.push(item);
        }
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("SendPoint"))',
            params: { taskId: App.TaskIdHiddenSendPoint.value, KPIForTasks: JSON.stringify(data) },
            success: function (result) {
                App.windowFormatSendPoint.doDestroy();
            }
        });
    };
</script>
