﻿@using Ext.Net;
@using Ext.Net.MVC;
@model iDAS.Service.VPHumanProfileCertificateBO
@{
    var X = Html.X();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var employeeId = ViewData["EmployeeId"];
    var employeeName = (string)ViewData["EmployeeName"];
}
<script>

    var deleteUrl = '@(Url.Action("DeleteProfileCertificate"))';
    function CheckStatus() {
        var records = App.GrProfileCertificate.selModel.getSelection();
        if (records.length > 0) {
            App.btnUpdate.setDisabled(false);
            App.btnDelete.setDisabled(false);
        }
        else {
            App.btnUpdate.setDisabled(true);
            App.btnDelete.setDisabled(true);
        };
    };
    var AddNew = function () {
        var url = '@(Url.Action("UpdateForm", "ProfileCertificate", new { Area = "Organization" }, null))';
        var params = {
            EmployeeID: App.hdfEmployeeID.value
        };
        onDirectMethod(url, params);
    };
    var UpdateItem = function () {
        var records = App.GrProfileCertificate.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("UpdateForm", "ProfileCertificate", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        }
    };
    var ViewDetail = function () {
        var records = App.GrProfileCertificate.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("DetailForm", "ProfileCertificate", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };

    var manageMasterCertificateType = function () {
	var value = App.cbMasterCertificate.getValue();
	var url = '@Url.Action("ManageMasterDataForm", "ProfileMasterData", new { area = "Organization" })';
	Ext.net.DirectMethod.request({
		url: url,
		params: { type: value }
	});
};
</script>
<style>
    .topbarItems {
        left: 0px !important;
    }

    .topbarName {
        font-weight: bold;
        font-size: 16px;
    }
</style>

@(X.Viewport().Layout(LayoutType.Fit).Border(false).Margin(0).Frame(false)
    .Items(
        X.FormPanel()
        .Layout(LayoutType.Fit)
        .Frame(true)
        .Border(false)
        .StyleSpec("border: none;")
            .FieldDefaults(df => df.LabelWidth = 100).Padding(0)
        .DefaultAnchor("100%")
        .Items(
               X.GridPanel()
                        .Header(false)
                        .ID("GrProfileCertificate")
                        .ColumnLines(true)
                        .Border(false)
                        .ForceFit(true)
                        .Icon(Icon.TextListBullets)
                        .TopBar(
                            X.Toolbar()
                            .Layout(LayoutType.VBox)
                            .Items(
                                X.ContainerHBox().Cls("topbarItems").Items(
                                    X.Hidden().ID("hdfEmployeeID").Value(ViewData["EmployeeId"]),
                                    X.Button().ID("btnCreate").Text("Thêm mới").IconCls("x-fa fa-plus-circle").Handler("AddNew();"),
                                    X.Button().ID("btnUpdate").Text("Chi tiết").IconCls("x-fa fa-info-circle").Disabled(true).Handler("UpdateItem();"),
                                    X.Button().ID("btnDelete").Text("Xóa").IconCls("x-fa fa-times-circle").Disabled(true).Handler("onDelete(App.GrProfileCertificate.selModel.getSelection()[0].get('Id'));"),
                                    X.Label().Width(10),
                                    X.Label().Text("Quản lý dữ liệu chứng chỉ"),
                                    X.Label().Width(10),
                                    X.ComboBox().ID("cbMasterCertificate").Width(300)
                                    .Items(
                                        new ListItem("Xếp hạng chứng chỉ", "certificateLevel"),
                                        new ListItem("Loại chứng chỉ", "certificateType")
                                    ),
                                    X.Label().Width(10),
                                    X.Button().ID("btnMasterDiscipline").Text("Quản lý").IconCls("x-fa fa-cogs").Handler("manageMasterCertificateType()")
                                ),
                                X.ToolbarSpacer().Height(20),
                                X.Label().Cls("topbarItems topbarName").Text("Nhân viên: " + employeeName)
                            )
                    )
                    .Store(
                        X.Store()
                            .ID("StoreProfileCertificate")
                            .RemotePaging(true)
                            .PageSize(20)
                            .Proxy(X.AjaxProxy().Url(Url.Action("LoadProfileCertificate")).Reader(X.JsonReader().RootProperty("data")).IDParam("Id"))
                                 .Parameters(ps =>
                                 {
                                     ps.Add(new StoreParameter("EmployeeID", "App.hdfEmployeeID.value", ParameterMode.Raw));
                                 })
                            .Model(
                                X.Model().Fields(
                                X.ModelField().Name("Id"),
                                X.ModelField().Name("Name"),
                                X.ModelField().Name("Level"),
                                X.ModelField().Name("CertificateType"),
                                X.ModelField().Name("PlaceOfTraining"),
                                X.ModelField().Name("DateIssuance"),
                                X.ModelField().Name("DateExpiration"),
                                X.ModelField().Name("FileAttachs")
                                )
                              )
                    )
                    .ColumnModel(
                        X.RowNumbererColumnFormat().DataIndex("Id").Text("STT").Width(50).StyleSpec("font-weight: bold;text-align: center"),
                        X.Column().DataIndex("Name").Text("Tên chứng chỉ").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                        X.Column().DataIndex("Level").Text("Xếp loại").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                        X.Column().DataIndex("CertificateType").Text("Loại chứng chỉ").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                        X.Column().DataIndex("PlaceOfTraining").Text("Nơi cấp").Flex(1).StyleSpec("font-weight: bold;text-align: center"),
                        X.DateColumnFormat().DataIndex("DateIssuance").Text("Ngày cấp").Width(150).StyleSpec("font-weight: bold;text-align: center"),
                        X.ColumnFileFormat(m => m.FileAttachs.Files).Text("<b>Tệp đính kèm</b>").Width(130)
                        )
                    .SelectionModel(X.CheckboxSelectionModel().ShowHeaderCheckbox(false).Mode(SelectionMode.Single)
                    .Listeners(ls => ls.SelectionChange.Fn = "CheckStatus"))
                    .BottomBar(X.PagingToolbarFormat())
            )
        )
)
