﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.KPICategoryBO
@{ 
    var RoleEdit =  (bool)ViewData["isroleedit"];
}
@(Html.X().Container()
    .Layout(LayoutType.Fit)
    .Border(false)
    .Listeners(ls => ls.Resize.Handler = "this.updateLayout()")
    .ID("ctKPI")
    .Items(
    Html.X().Panel()
    .ID("pnKPI")
    .Flex(1)
    .Border(true)
    .Layout(LayoutType.Fit)
    .TopBar(
        Html.X().Toolbar()
        .StyleSpec("padding-bottom:0px;padding-top:0px")
        .Items(
        Html.X().TabStrip()
            .WidthSpec("80%")
            .Items(t =>
            {
                t.Add(Html.X().Tab().ActionItemID("tabKPI").IconCls("x-fa fa-calendar-o").Text("Quản lý KPI"));
                t.Add(Html.X().Tab().ActionItemID("tabKPIForTask").IconCls("x-fa fa-tasks").Text("Thông kê KPI"));
            }),
            Html.X().ToolbarFill(),
            Html.X().Button().IconCls("x-tool-tool-el x-tool-img x-tool-maximize").Border(false)
            .Listeners(ls => ls.Click.Handler = "fullWindowFromTabPanel(App.pnKPI,'Quản lý KPI','x-fa fa-archive', this)")
        )
    )
    .Items(
        Html.X().TreePanel()
        .BodyPadding(0)
        .Layout(LayoutType.Fit)
        .Padding(0)
        .ID("tabKPI")
        .Border(false)
        .StyleSpec("border: none;")
        .Header(false)
        .RootVisible(false)
        .ColumnLines(false)
        .RowLines(false)
        .Listeners(ls =>
        {
            ls.CellClick.Handler = "EventClickGrid();checkMenuMnKPI();styleGrid()";
            ls.Load.Handler = "styleGrid()";
        })
        .TopBarItem(
                Html.X().Toolbar()
                .Layout(LayoutType.VBox)
                .Flex(1)
                .Padding(0)
                .Border(false)
                .MarginSpec("0 0 0 0")
                .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                .Items(
                    Html.X().Toolbar().MarginSpec("0 5 0 -4").Border(false).Items(
                    Html.X().Button()
                        .Text("Thêm mới")
                        .IconCls("x-fa fa-plus-circle").Hidden(!RoleEdit)
                        .DirectClickAction("Form"),
                    Html.X().Button().Text(Resource.Detail).ID("btnMnUpdateKPI").Disabled(true).IconCls("x-fa fa-search").Hidden(!RoleEdit)
                    .DirectEvents(de =>
                    {
                        de.Click.ExtraParams.Add(new { id = new JRawValue("this.up('treepanel').getSelectionModel().getLastSelected().data.id") });
                        de.Click.Url = Url.Action("Form", "KPICategory");
                    }),
                     Html.X().Button().Hidden(!RoleEdit)
                        .ID("btnAuthorization")
                        .Disabled(true)
                        .Text("Cấp quyền cho điểm")
                        .IconCls("x-fa fa-pencil")
                        .DirectEvents(de =>
                        {
                            de.Click.ExtraParams.Add(new { id = new JRawValue("this.up('treepanel').getSelectionModel().getLastSelected().data.id") });
                            de.Click.Url = Url.Action("FormAuthorization");
                        }),
                    Html.X().TextField().Width(350).IconCls("x-fa fa-search").EmptyText("Nhập từ khóa tìm kiếm...").EnableKeyEvents(true).Listeners(l => { l.KeyUp.Fn = "filterTree"; l.KeyUp.Buffer = 250; l.TriggerClick.Fn = "clearFilter"; })
                    )
                )
            )
            .Store(
            Html.X().TreeStore().ID("stMnKPI")
                .Proxy(
                Html.X().AjaxProxy().Url(Url.Action("LoadDataTree", "KPICategory")).Reader(Html.X().JsonReader().RootProperty("data")))
                .Model(
                        Html.X().Model().Fields(
                        Html.X().ModelField().Name("id"),
                        Html.X().ModelField().Name("text"),
                        Html.X().ModelField().Name("Maxscore"),
                        Html.X().ModelField().Name("Note"),
                        Html.X().ModelField().Name("Description"),
                        Html.X().ModelField().Name("ParentId")
                    )
                )
            )
            .ColumnModel(
                Html.X().RowNumbererColumnFormat(),
                Html.X().TreeColumn().Text("<b>Tên KPI</b>").MenuDisabled(true).Sortable(false).DataIndex("text").Flex(1),
                Html.X().Column().Text("<b>Điểm tối đa</b>").Width(100).StyleHtmlCls("border-left:1px solid #d1d1d1;").DataIndex("Maxscore").Align(ColumnAlign.Center),
                Html.X().Column().Text("<b>Ghi chú</b>").Width(400).StyleSpec("border-left:1px solid #d1d1d1;").DataIndex("Note")
            ),
           Html.X().Panel()
                .BodyPadding(0)
                .IconCls("x-fa fa-pencil")
                .Layout(LayoutType.Fit)
                .Padding(0)
                .ID("tabKPIForTask")
                .Border(false)
                .StyleSpec("border: none;")
                .Title("Thông kê KPI")
                .Header(false)
                .ItemsFromAction("Index", "KPIForTasks", new { area = "KPI" })
        )
    )
)
<script type="text/javascript">
    var filterTree = function (tf, e) {
        var tree = tf.up('treepanel'),
            store = tree.store,
            logic = tree,
            text = tf.getRawValue();
        logic.clearFilter();
        if (Ext.isEmpty(text, false)) {
            return;
        }
        if (e.getKey() === Ext.EventObjectImpl.ESC) {
            clearFilter();
        } else {
            var re = new RegExp('.*' + text + '.*', 'i');
            logic.filterBy(function (node) {
                return re.test(node.data.text);
            });
        }
        styleGrid();
    };
    var clearFilter = function () {
        var field = this,
            tree = this.up('treepanel'),
            store = tree.store,
            logic = tree;
        field.setValue('');
        logic.clearFilter(true);
        tree.getView().focus();
        styleGrid();
    };
    var styleGrid = function () {
        $("td.x-grid-td").css({ "border-bottom": "1px solid #d1d1d1", "border-left": "1px solid #d1d1d1", "vertical-align": "middle" });
    };
    var EventClickGrid = function () {
        $("#" + App.tabKPI.view.id +" .x-grid-item-selected .x-tree-expander").click();
    };
    var storeReloadKPI = function () {
        App.stMnKPI.reload();
    };
    var LoadParameterRowExpanderStoreKPI = function (index, record) {
        App.IdParameterKPI.value = record.data.Id;
    };
    var LoadParameterRowExpanderStoreKPI_level1 = function (index, record) {
        App.IdParameterKPI_level1.value = record.data.Id;
    };
    var LoadParameterRowExpanderStoreKPI_level2 = function (index, record) {
        App.IdParameterKPI_level2.value = record.data.Id;
    };
    var checkMenuMnKPI = function () {
        var disabled = App.tabKPI.getSelectionModel().getLastSelected() == 0;
        App.btnMnUpdateKPI.setDisabled(disabled);
        App.btnAuthorization.setDisabled(disabled);
    };
</script>