﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
    var title = "";
    var name = ViewData["Name"] != null? ViewData["Name"].ToString() : "";
    var type = ViewData["Type"].ToString();
    var operation = ViewData["operation"].ToString();
    if (operation == "create") { title = "Thêm mới " + ViewData["Title"].ToString(); }
    else { title = "Cập nhật " + ViewData["Title"].ToString(); }
    var id = ViewData["Id"] != null ? ViewData["Id"].ToString(): "";
}
@(X.Window()
    .ID("WindowEmployeeTitle")
    .Title(title)
    .IconCls(type == "create" ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
    .Height(300)
    .Width(500)
    .BodyPadding(0)
    .Layout(LayoutType.VBox)
    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
    .Modal(true)
    .Items(
    X.Container()
        .Border(false)
        .ID("loadMaskEmployeeTitle")
        .Hidden(true)
        .Height(2)
        .Html("<div class='load-bar'><div class='bar'></div><div class='bar'></div></div>"),
    X.Container()
        .Border(false)
        .ID("loadMaskEmployeeTitleEmpty")
        .Height(2)
        .Hidden(false),
        X.FormPanel()
        .BodyPadding(5)
        .Border(false)
        .Frame(true)
        .Flex(1)
        .Layout(LayoutType.VBox)
        .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
        .StyleSpec("border: none;")
        .FieldDefaults(d => { d.LabelAlign = LabelAlign.Left; d.LabelWidth = 70; })
            .ID("frEmployeeTitle")
            .Items(
                X.Hidden().ID("txtId").Value(id),
                X.TextField().ID("txtName").AllowBlank(false).Value(name).Note("Tên " + ViewData["title"].ToString()).NoteAlign(NoteAlign.Top).HideLabel(true)
                .Listeners(
                    ls => ls.Change.Handler = "AllowSave();"
                ),
                X.ComboBox()
                    .Hidden(type != "title")
                    .Disabled(type != "title")
                    .ID("cbTitles")
                    .Editable(false)
                    .HideLabel(true)
                    .ValueField("Id")
                    .DisplayField("Name")
                    .Note("Ngạch / chức danh nghề nghiệp tối thiểu")
                    .NoteAlign(NoteAlign.Top)
                    .QueryMode(DataLoadMode.Local)
                    .TriggerAction(TriggerAction.All)
                    .Store(X.Store()
                        .AutoLoad(true)
                        .Parameters(
                            pr => pr.Add(new StoreParameter() {Name = "type", Value = type})
                        )
                        .Model(
                            X.Model()
                                .IDProperty("id")
                                .Fields(
                                    new ModelField("Id", ModelFieldType.Auto) { Mapping = "Id" },
                                    new ModelField("Name", ModelFieldType.String) { Mapping = "Name" },
                                    new ModelField("Rank", ModelFieldType.String) { Mapping = "Rank" }
                                )
                        )
                        .Proxy(
                            X.AjaxProxy()
                                .Url(Url.Action("GetRanks"))
                                .Reader(X.JsonReader().RootProperty("data"))
                        )
                    )
                    .Listeners(
                        ls=> ls.Select.Handler = "AllowSave();"
                    ),
                X.ComboBox()
                    .ID("cbRanks")
                    .Hidden(type == "title")
                    .Disabled(type == "title")
                    .HideLabel(true)
                    .Note("Hạng chức danh nghề nghiệp tối thiểu")
                    .NoteAlign(NoteAlign.Top)
                    .Editable(false)
                    .Items(new ListItem("1"),new ListItem("2"),new ListItem("3"),new ListItem("4"),new ListItem("5"))
                    .Listeners(
                        ls=> ls.Select.Handler = "AllowSave();"
                    )
            )
    )
    .Buttons(
        X.Button().ID("btnSave").Text("Lưu").IconCls("x-fa fa-floppy-o")
        .Disabled(true)
        .DirectEvents(
            de => {
                if(operation == "Create")
                {
                    de.Click.Url = Url.Action("Create");
                }
                else
                {
                    de.Click.Url = Url.Action("Update");
                }
                de.Click.ExtraParams.Add(new Parameter("type", type ));
                de.Click.ExtraParams.Add(new Parameter("name", "App.txtName.value", ParameterMode.Raw ));
                de.Click.ExtraParams.Add(new Parameter("id", "App.txtId.value", ParameterMode.Raw));
                if(type == "title")
                {
                    de.Click.ExtraParams.Add(new Parameter("rank", "App.cbTitles.value", ParameterMode.Raw ));

                }
                else
                {
                    de.Click.ExtraParams.Add(new Parameter("rank", "App.cbRanks.value", ParameterMode.Raw ));
                }
                de.Click.Success = "App.stJobTitles.loadPage(1); App.WindowEmployeeTitle.close();";
            }),
        X.ButtonExit()
    )
)
<script>
    Ext.getBody().unmask();

    var AllowSave = function () {
        var name = App.txtName.value;
        var titles = App.cbTitles.value;
        var ranks = App.cbRanks.value;
        if (name != null && name != "" && ((titles != null && titles != "") || (ranks != null && ranks != ""))) App.btnSave.setDisabled(false);
        else App.btnSave.setDisabled(true);
    }
</script>

