﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
}
@(X.WindowFormat().Modal(false)
        .Listeners(
            ls =>
            {
                ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth()/2); this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
                ls.BeforeClose.Handler = "App.windowHistory.el.slideOut('r',{duration : 500}); return false;";
                ls.Maximize.Handler = "ReopenContent()";
                ls.Restore.Handler = "ReopenContent()";
            })
    .ID("windowHistory").Title("Lịch sử sửa đổi tài liệu").IconCls("x-fa fa-history").Draggable(false)
    .Items(
        X.GridPanel().ID("gridHistory").Border(false).Flex(1).MarginSpec("-2 0 0 0")
        .Store(
        X.StoreFormat().AutoLoad(true).ID("storeHistory")
        .Url(Url.Action("GetData", new { Area = "Document" })).ModelType(typeof(DocumentAdjustHistoryBO))
        .Parameters(pr => pr.Add(new StoreParameter("documentId", Model)))
        )
        .ColumnModel(
            X.RowNumbererColumnFormat().Width(60),
            X.Column().Text("Lần sửa đổi").DataIndex("AdjustTimes").Width(100).Align(ColumnAlign.Center),
            X.Column().Text("Nội dung sửa đổi").Flex(1).Renderer(new Renderer { Fn = "renderContentComlumn" }),
            X.Column().Text("Người sửa đổi").Renderer(new Renderer { Fn = "renderActorComlumn" }).Width(200),
            X.DateColumnFormat().Text("Ngày sửa đổi").DataIndex("AdjustAt")
            )
    )
    .Buttons(
            X.ButtonExit()
            )
)
@(X.Hidden().ID("hiddenContentContainerId"))
@(X.Window().ID("windowContent")
.Draggable(false)
    .RenderTo("windowHistory")
    .MarginSpec("0px 10px 0px 0px")
     .Listeners(
        ls =>
        {
            ls.BeforeShow.Handler = "this.setWidth(App.windowHistory.getWidth());this.setHeight(App.windowHistory.getHeight() / 2); this.alignTo(App.windowHistory,'bl-bl'); this.el.slideIn('b',{duration : 400});";
            ls.BeforeHide.Handler = "this.el.slideOut('b',{duration : 500}); this.show()";
        })
        .Hidden(true)
        .Header(false)
        .Layout(LayoutType.Fit)
            
        .Items(
        X.Container()
             .Layout(LayoutType.Fit)
                .Padding(5)
        .Items(
            X.TextArea().ID("txtContent").Margin(-1).ReadOnly(true).Note("Nội dung sửa đổi").NoteAlign(NoteAlign.Top).MarginSpec("5 0 10 0")
        ))
        .Buttons(
            X.Button().Text("Đóng").IconCls("x-fa fa-times-circle").Handler("isShow = false;this.up('window').close();")
        )
)
<script type="text/javascript">
    var isShow = false;
    var renderActorComlumn = function (value, meta, record) {
        var title = '<span style="margin-left: 44px;font-size:10px;">Tổng giám đốc</span></span>';
        var result = record.data.Name;
        var image = '<img src="' + record.data.EmployeeAdjustBy.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.EmployeeAdjustBy.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
    var renderContentComlumn = function (value, meta, record) {
        var content = record.data.AdjustContent;
        var result = '<a onclick="ShowContent(\'' + content + '\')" href="javascript:void(0)">' + content + '</a>';
        return result;
    };
    function ReopenContent()
    {
        if(isShow != undefined && isShow)
        {
            App.windowContent.setWidth(App.windowHistory.width);
            App.windowContent.setHeight(App.windowHistory.height / 2);
            App.windowContent.show();
        }
    }
    function ShowContent(description) {
        isShow = true;
        App.txtContent.setValue(description);
        App.windowContent.show();
        };
</script>
