﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model iDAS.Service.ProfileBO
@{
    var X = Html.X();
    var RoleEdit =  (bool)ViewData["isroleedit"];
    var tab1 = X.Panel()
            .BodyPadding(0)
            .IconCls("x-fa fa-server")
            .Layout(LayoutType.Fit)
            .Padding(0)
            .ID("tabTarget")
            .Border(false)
            .StyleSpec("border: none;")
            .Title("KIỂM SOÁT MỤC TIÊU")
            .Header(false)
            .ItemsFromAction("ListTarget", "DashBoard", new { Area = "Quality", isroleedit = RoleEdit });

    //var tab2 = X.Panel()
    //        .BodyPadding(0)
    //        .IconCls("x-fa fa-star")
    //        .Layout(LayoutType.Fit)
    //        .Padding(0)
    //        .ID("tabQualityNC")
    //        .Border(false)
    //        //   .Listeners(ls => ls.Show.Handler = "if(reloadDefault){App.gridQualityNC.getStore().reload(); reloadDefault=false;}")
    //        .StyleSpec("border: none;")
    //        .Title("KIỂM SOÁT SỰ KHÔNG PHÙ HỢP")
    //        .Header(false)
    //        .ItemsFromAction("Index", "QualityNC", new { Area = "Quality" });
    //;
    //var tab3 = X.Panel()
    //        .BodyPadding(0)
    //        .IconCls("x-fa fa-users")
    //        .Layout(LayoutType.Fit)
    //        .Padding(0)
    //        .ID("tabMeeting")
    //        .Border(false)
    //        .StyleSpec("border: none;")
    //        .Title("HỌP XEM XÉT LÃNH ĐẠO")
    //        .Header(false)
    //       .ItemsFromAction("Index", "Meeting", new { Area = "Quality" });
    //var tab4 = X.Panel()
    //       .BodyPadding(0)
    //       .IconCls("x-fa fa-gavel")
    //       .Layout(LayoutType.Fit)
    //       .Padding(0)
    //       .ID("tabAudit")
    //       .Border(false)
    //       .StyleSpec("border: none;")
    //       .Title("ĐÁNH GIÁ NỘI BỘ")
    //       .Header(false)
    //       .ItemsFromAction("Index", "AuditPlan", new { Area = "Quality" });
}
@(X.Container()
    .ID("ctDasboardQuality")
    .Layout(LayoutType.Border)
    .Border(false)
    .Listeners(ls => ls.Resize.Handler = "this.updateLayout()")
    .Items(
        X.TabPanel()
        .Flex(1)
        .Border(true)
        .Layout(LayoutType.Fit)
        .Region(Region.Center)
        .Items(
            tab1
            //tab2,
            //tab3,
            //tab4
        )
    ).Html(@<text><div class='navbar-right'><a title='Thiết lập' onclick='loadConfigContent("Quality/Setting/Index", "ctMnQualitySettingConfig");' href='javascript:void(0);'><i style=' color:red !important' class='fa fa-cogs fa-spin'></i></a></div></text>)
)