﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
    var userId = ViewData["UserId"].ToString();
    var menuModules = (List<Ext.Net.CheckMenuItem>)ViewData["Modules"];
}
<style>
    .rowNumberUserRole .x-grid-cell-row-numberer {
        width: 49px !important;
    }
</style>
@(
    X.Window()
    .ID("WindowNumberUserRole")
    .Title(Resource.PermissionUser)
    .IconCls("x-fa fa-key")
    .Height(450)
    .Width(650)
    .Modal(true)
    .Constrain(true)
    .Border(false).BodyBorder(0)
    .Layout(LayoutType.Fit)
    .Items(
        X.GridPanel()
        .BodyCls("rowNumberUserRole")
        .TopBarItem(
            X.ToolbarFill(),
            X.CycleButton().ShowText(true).Height(25)
            .ID("cbModule")
            .PrependText("Module: ")
            .Menu(X.Menu().Add(menuModules))
            .Listeners(ls => ls.Change.Handler = "App.stUserRole.reload();")
        )
        .Header(false)
        .Border(false)
        .ColumnLines(true)
        .Icon(Icon.Table)
        .Store(
            X.Store().AutoLoad(true)
            .ID("stUserRole")
            .Proxy(X.AjaxProxy().Url(Url.Action("LoadData"))
            .Reader(X.JsonReader().RootProperty("data")))
            .Parameters(ps => {
                ps.Add(new StoreParameter("UserId", userId, ParameterMode.Value));
                ps.Add(new StoreParameter("Module", "App.cbModule.activeItem.text", ParameterMode.Raw));
            })
            .PageSize(10)
            .Model(
                X.Model()
                .Fields(
                    X.ModelField().Name("Id").Type(ModelFieldType.Auto),
                    X.ModelField().Name("Module").Type(ModelFieldType.String),
                    X.ModelField().Name("Name").Type(ModelFieldType.String),
                    X.ModelField().Name("IsPermission").Type(ModelFieldType.Boolean)
                )
            )
        )
        .ColumnModel(
            X.RowNumbererColumn().Text("STT").Width(50).Align(ColumnAlign.Center),
            X.Column().DataIndex("Module").Text("Module").Flex(1),
            X.Column().DataIndex("Name").Text("Trách nhiệm").Flex(1),
            X.CheckColumn().DataIndex("IsPermission").Text("Phân quyền").Width(100).Editable(true)
            .DirectEvents(de =>
            {
                de.CheckChange.ExtraParams.Add(new Parameter("UserId", userId, ParameterMode.Value));
                de.CheckChange.ExtraParams.Add(new Parameter("RoleId", "record.data.Id", ParameterMode.Raw));
                de.CheckChange.ExtraParams.Add(new Parameter("IsPermission", "checked", ParameterMode.Raw));
                de.CheckChange.Url = Url.Action("Update");
                de.CheckChange.Success = "record.commit();";
                de.CheckChange.Failure = "eval(result.script);";
            })
        )
        .SelectionModel(X.RowSelectionModel().Mode(SelectionMode.Single))
        .BottomBar(X.PagingToolbarFormat())
    )
    .Buttons(
        X.Button().Text(Resource.Close).Handler("App.WindowNumberUserRole.close();")
    )
)
<script>
    var tt;
</script>