﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model System.Collections.IEnumerable
@{
    var X = Html.X();
    var stProfileComponentStatus = ViewData["Status"];
}
@(X.WindowSlide()
    .SlideConfigFormat(new ExtCommon.SlideConfig { ratioWidhParent = 0.7 })
    .Layout(LayoutType.Fit)
    .ID("windowDetailProfileComponent")
    .Title("Danh sách thành phần hồ sơ")
    .IconCls("x-fa fa-bars")
    .Items(
        X.GridPanel().ID("grProfileComponent").ColumnLines(true).Border(true).Header(false).Flex(1).AutoScroll(true)
            .TopBarItem(
                X.ToolbarFill(),
                X.TextField().EmptyText("Nhập từ khóa tìm kiếm theo tên thành phần hồ sơ").IconCls("x-fa fa-search").Width(320).ID("txtSearchProfileComponent")
                    .Listeners(ls =>
                    {
                        ls.Change.Handler = "App.stDetailProfileComponent.reload()";
                        ls.Change.Buffer = 100;
                    }),
                X.CycleButtonFormat()
                    .ID("cbStatusProfileComponent")
                    .ShowText(true).PrependText("Lọc theo trạng thái: ")
                    .MenuSource(stProfileComponentStatus)
                    .Listeners(ls => ls.Change.Handler = "App.stDetailProfileComponent.reload();")
            )
            .Store(X.Store().ID("stDetailProfileComponent").PageSize(500)
                .Proxy(X.AjaxProxy()
                                .Url(Url.Action("LoadByProfiles"))
                                .Reader(X.JsonReader().RootProperty("data"))
                        )
                .Parameters(pr =>
                    {
                        pr.Add(new StoreParameter("profileId", Model));
                        pr.Add(new StoreParameter("status", "App.cbStatusProfileComponent.activeItem.itemId", ParameterMode.Raw));
                        pr.Add(new StoreParameter("query", "App.txtSearchProfileComponent.value", ParameterMode.Raw));
                    })
                .ModelType(typeof(ProfileComponentBO))
            )
            .ColumnModel(
                X.RowNumbererColumn().Text("STT").Width(50).Align(ColumnAlign.Center),
                X.ColumnEncodeFormat().Text("Tên thành phần hồ sơ").DataIndex("Name").CellWrap(true).Width(150),
                X.ColumnEncodeFormat().Text("Tài liệu biểu mẫu").DataIndex("DocumentName").Width(130).CellWrap(true),
                X.ColumnEncodeFormat().DataIndex("Note").Text("Nội dung cập nhật").Flex(1),
                X.DateColumn().Text("Ngày cập nhật").DataIndex("ProfileUpdateAt").Width(130).CellWrap(true).Format("dd/MM/yyyy").Align(ColumnAlign.Center),
                X.Column().DataIndex("").Text("Người cập nhật").Width(200).Renderer(new Renderer { Fn = "renderEmployeeUpdateComponent" }),
                X.Column().Text("Trạng thái").DataIndex("StatusText").Align(ColumnAlign.Center).Width(100)
            )
        )
    .Buttons(X.ButtonExit())
)
<script>
    var renderEmployeeUpdateComponent = function (value, meta, record) {
        if (record.data.EmployeePerformBy.Name == "") {
            return "Chưa cập nhật";
        }
        var title = '<span style="margin-left: 44px;font-size:10px;">' + record.data.EmployeePerformBy.RoleNames + '</span></span>';
        var result = record.data.EmployeePerformBy.Name;
        var image = '<img src="' + record.data.EmployeePerformBy.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.EmployeePerformBy.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
</script>