﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@using iDAS.Service;
@model iDAS.Service.DepartmentBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
    var Type = (List<Ext.Net.ListItem>)ViewData["Type"];
    var FormalitySave = (List<Ext.Net.ListItem>)ViewData["FormalitySave"];
}
@(@*X.WindowSlide().WindowLayout(LayoutType.VBox)
    .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.5 })*@
    X.Window()
    .Modal(true).ID("windowAddDispatchArchiveOld1")
    .Title("Phân quyền quản lý nhân sự")
    .IconCls("x-fa fa-plus-circle").Width(700).Height(500).OverflowY(Overflow.Auto)
    .Items(
    Html.X().TreePanel()
        .BodyPadding(0)
        .Layout(LayoutType.Fit)
        .Padding(0)
        .ID("trpRole")
        .Border(false)
        .StyleSpec("border: none;")
        .ForceFit(true)
        .Header(false)
        .RootVisible(false)
        .ColumnLines(false)
        .RowLines(false)
        .Collapsible(true)
        .UseArrows(true)
        .MultiSelect(true)
        .SingleExpand(true)
        .FolderSort(true)
        .Listeners(ls =>
        {
            ls.CellClick.Handler = "styleGrid()";
            ls.Load.Handler = "styleGrid(); expandDocumentCategory(records); expandAllDocumentCategory();";
        })

            .Store(
            Html.X().TreeStore().ID("stDepartmentRole")
                .Proxy(
                Html.X().AjaxProxy().Url(Url.Action("LoadDataTree1", "Role", new { area = "Organization" })).Reader(Html.X().JsonReader().RootProperty("data")))
                .Model(
                        Html.X().Model().Fields(
                        Html.X().ModelField().Name("id"),
                        Html.X().ModelField().Name("text"),
                        Html.X().ModelField().Name("IsView").Type(ModelFieldType.Boolean),
                        Html.X().ModelField().Name("IsUpdate").Type(ModelFieldType.Boolean),
                        Html.X().ModelField().Name("Checked").Type(ModelFieldType.Boolean),
                        Html.X().ModelField().Name("ParentId")
                    )
                )
            )
            .ColumnModel(
                Html.X().TreeColumn().Text("<b>Tên</b>").MenuDisabled(true).Sortable(false).DataIndex("text").Flex(1),
                Html.X().CheckColumn().Text("<b>Xem</b>").Width(100).DataIndex("IsView").Align(ColumnAlign.Center).Editable(true).StopSelection(false),
                Html.X().CheckColumn().Text("<b>Cập nhật</b>").Width(100).DataIndex("IsUpdate").Align(ColumnAlign.Center).Editable(true).StopSelection(false)
            )
    )
    .Buttons(
        X.Button().Text(Resource.Save).IconCls("x-fa fa-floppy-o")
            .DirectEvents(de =>
            {
                de.Click.FormID = formId;
                //de.Click.Before = "if (!this.up('window').down('form').getForm().isValid()) {return false; };";
                de.Click.ExtraParams.Add(new Parameter("dataRole", "App.stDepartmentRole.getChangedData()", ParameterMode.Raw));
                de.Click.Url = Url.Action("UpdateTitleRole", "Role", new { Area = "Organization" });
                de.Click.Success = "if(result.result == true){ this.setDisabled(true);this.up('window').doDestroy();}";
                de.Click.Failure = "eval(result.script); this.setDisabled(false);";
            }),
        X.ButtonExit()

    )
)

<script type="text/javascript">
    var styleGrid = function () {
        $("td.x-grid-td").css({ "border-bottom": "1px solid #d1d1d1", "border-left": "1px solid #d1d1d1", "vertical-align": "middle" });
    };
    var EventClickGrid = function () {
        $("#" + App.trpRole.view.id + " .x-grid-item-selected .x-tree-expander").click();
    };
    var storeReloadKPI = function () {
        App.stDepartmentRole.reload();
    };
    var LoadParameterRowExpanderStoreKPI = function (index, record) {
        App.IdParameterKPI.value = record.data.Id;
    };
    var LoadParameterRowExpanderStoreKPI_level1 = function (index, record) {
        App.IdParameterKPI_level1.value = record.data.Id;
    };
    var LoadParameterRowExpanderStoreKPI_level2 = function (index, record) {
        App.IdParameterKPI_level2.value = record.data.Id;
    };
    var checkMenuMnKPI = function () {
        var disabled = App.trpRole.getSelectionModel().getLastSelected() == 0;
    };


    var expandAll = function (grid) {
        Ext.suspendLayouts();
        grid.getRootNode().collapse(false);
        var nodes = grid.getRootNode().childNodes;
        for (var i = 0; i < nodes.length; i++) {
            nodes[i].data.expanded = true;
        }
        grid.getRootNode().expand(false);
        Ext.resumeLayouts();
    };
    var recordDocumentCategory = null;
    function DocumentCategoryPanelReload() {
        App.StoreDocumentCategory.reload();
    };
    function getDocumentCategorySelection() {
        return App.trpRole.getSelectionModel().getLastSelected();
    };
    var onContextMenuCategory = function (s, r, d, rowIndex, e, eOpts) {
        e.stopEvent();
        App.contextMenuCategory.showAt(e.getX(), e.getY() - 75);
    };

    var expandAllDocumentCategory = function () {
        App.trpRole.expandAll();
    };
    var expandDocumentCategory = function (records) {
        ;
        if (records.length > 0) {
            for (var i = 0; i < records.length; i++) {
                var node = records[i];
                if (recordDocumentCategory != null && checkExpandDocumentCategory(node)) {
                    node.expand();
                }
                else if (node.getDepth() < 2 && !node.data.leaf && !node.data.expanded) {
                    node.expand();
                }
            }
        }
        if (App.trpRole.selModel.getCount() <= 0) {
            setDocumentCategorySelection(0);
        }
    };
    var getDocumentCategoryRecords = function () {
        var records = App.trpRole.getView().store.getRange();
        var node = getDocumentCategorySelection();
        var data = [];
        records.forEach(function (obj) {
            var selected = obj.data.id == node.data.id;
            var item = {
                id: obj.data.id,
                expanded: obj.data.expanded,
                selected: selected
            };
            data.push(item);
        });
        return data;
    };
    var reloadDocumentCategoryNode = function (parent) {
        recordDocumentCategory = getDocumentCategoryRecords();
        var node = parent == true ? getDocumentCategorySelection().parentNode : getDocumentCategorySelection();
        App.trpRole.store.reload({ node: node });
        node.data.leaf = false;
        node.data.expanded = true;
        node.expand();
    };

    var checkExpandDocumentCategory = function (record) {
        var check = false;
        recordDocumentCategory.forEach(function (obj) {
            if (!check && obj.id == record.data.id) {
                check = obj.expanded;
                if (obj.selected) {
                    setDocumentCategorySelection(record);
                }
            }
        });
        return check;
    };
    var setDocumentCategorySelection = function (record) {
        if (record != null) {
            App.trpRole.selModel.select(record);
        }
    };

</script>
