﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@using iDAS.Service;
@model ProfileBO
@{
    var X = Html.X();
    // var status = (List<Ext.Net.ListItem>)ViewData["Status"];
    var formId = "formAddProfile";
    var Profilestatus = (List<Ext.Net.ListItem>)ViewData["Status"];
    var Type = (List<Ext.Net.ListItem>)ViewData["Type"];
    var FormalitySave = (List<Ext.Net.ListItem>)ViewData["FormalitySave"];
    var departmentId = ViewData["DepartmentId"];
}
@(X.WindowFormat()
    .ID("windowAddProfile").Modal(true).Draggable(false)
    .Listeners(ls =>
    {
        ls.BeforeShow.Handler = "this.setHeight(App.frmUpdateDetail.getHeight());this.setWidth(App.frmUpdateDetail.getWidth()*2/3);this.alignTo(App.frmUpdateDetail,'tr-tr'); this.el.slideIn('r',{duration : 500});";
    })
    .Maximizable(false)
    .Title(Model.Id == Guid.Empty ? "Thêm mới hồ sơ" : "Cập nhật hồ sơ")
    .IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
    .Items(
        X.FormPanelVBoxFormat().ID(formId).BodyPadding(2).ActiveIndex(0)
        .TopBar(
        X.Toolbar().StyleSpec("padding-bottom:0px;padding-top:0px")
        .Items(
            X.TabStrip().WidthSpec("100%")
            .Items(t =>
            {
                t.Add(X.Tab().ActionItemID("tbProfileInfo").IconCls("x-fa fa-info-circle").TabID("tbProfileInfoId").Text("Thông tin hồ sơ"));
                t.Add(X.Tab().ActionItemID("tbArchiveInfo").IconCls("x-fa fa-ioxhost").TabID("tbArchiveInfoId").Text("Thông tin lưu trữ"));

            }),
                X.ToolbarFill())
            )
        .Items(
            X.FieldSetVBox().Flex(1).Border(false).ID("tbProfileInfo")
        .Items(
           X.ContainerHBoxTop()
            .Items(
                    X.HiddenFor(m => m.Id).ID("hdfUpdateFormProfileId"),
                    X.HiddenFor(m => m.DepartmentId).ID("hdfUpdateFormDepartmentId"),
                    X.HiddenFor(m => m.ProfileCuriculmviateId).ID("hdfProfileCuriculmviateId"),
                    X.HiddenFor(m => m.CategoryId).ID("hdfUpdateFormCategoryId"),
                    X.TextFieldFor(m => m.DepartmentName).EmptyText("Phòng ban").AllowBlank(false).HideLabel(true).MarginSpec("0 0 0 0").Note("Phòng ban" + Html.Required()).NoteAlign(NoteAlign.Top).Flex(1).ReadOnly(true),
        //X.TextFieldFor(m => m.CategoryName).EmptyText("Danh mục" + Html.Required()).AllowBlank(false).HideLabel(true).MarginSpec("0 0 0 5").Note("Danh mục").NoteAlign(NoteAlign.Top).Flex(1).ReadOnly(true)
                    X.ComboBoxFor(m => m.CategoryId)
                    .MarginSpec("0 0 0 5").Flex(1)
                    .Note("Danh mục")
                    .Regex(Resource.RegexSpecialSymbolFilter).RegexText("Bạn không được nhập kí tự đặc biệt")
                    .NoteAlign(NoteAlign.Top)
                    .HideLabel(true)
                    .ID("cbbProfileCategoryId")
                    .QueryMode(DataLoadMode.Local)
                    .EmptyText("Danh mục......")
                    .LabelWidth(110)
                    .TriggerAction(TriggerAction.All)
                    .DisplayField("Name")
                    .Editable(true)
                    .ValueField("Id")
                    .Store(
                        Html.X().Store().ID("stProfileCategory").AutoLoad(true)
                        .Model(
                            Html.X().Model()
                                .IDProperty("Id")
                                .Fields(
                                    new ModelField("Id", ModelFieldType.Auto) { Mapping = "Id" },
                                    new ModelField("Name", ModelFieldType.String) { Mapping = "Name" }
                                )
                            )
                        .Proxy(
                            Html.X().AjaxProxy().Url(Url.Action("GetByDepartment", "Category", new { Area = "Profile" }, null)).Reader(Html.X().JsonReader().RootProperty("data"))
                        )
                        .Parameters(ps =>
                        {
                            ps.Add(new StoreParameter("departmentId", departmentId.ToString(), ParameterMode.Value));
                        })
                    )
               ),
            X.TextFieldFor(m => m.Name).EmptyText("Tên hồ sơ").AllowBlank(false).HideLabel(true).MarginSpec("5 0 0 0").Note("Tên hồ sơ" + Html.Required())
                .NoteAlign(NoteAlign.Top).Regex(Resource.RegexSpecialSymbolFilter).RegexText(Resource.RegexHtmlWhiteSpaceStartMessage)
                .MaxLength(200).MaxLengthText("Chỉ nhập tối đa 200 ký tự"),
            X.ContainerHBoxTop().MarginSpec("5 0 0 0").Items(
            X.TextFieldFor(m => m.Code).Flex(1).HideLabel(true).AllowBlank(false).Note("Mã số hồ sơ" + Html.Required()).NoteAlign(NoteAlign.Top).MaxLength(50)
                .MaxLengthText("Không được nhập quá 50 ký tự.").EmptyText("Mã số hồ sơ")
                .Regex(Resource.RegexSpecialSymbolFilter).RegexText(Resource.RegexHtmlWhiteSpaceStartMessage),
            X.ComboBoxFor(m => m.SecurityId).ID("cbbSecurity").Flex(1).EmptyText("Độ mật").HideLabel(true).Note("Độ mật").MarginSpec("0 0 0 5")
            .RightButtons(X.Button().IconCls("x-fa fa-plus-circle").Handler("SecurityForm(this)").Border(false))
            .LeftButtons(X.Button().ID("btnSelectSecurityColor").Width(30).Border(false))
            .NoteAlign(NoteAlign.Top).TypeAhead(true).QueryMode(DataLoadMode.Local).ForceSelection(true)
            .TriggerAction(TriggerAction.All).DisplayField("Name").ValueField("Id").ValueNotFoundText("Đang tải...")
            .ListConfig(X.BoundList()
                    .LoadingText("Tìm kiếm...")
                    .ItemTpl(X.XTemplate()
                    .Html(@"<text>
                    <span>
                    <span style='width: 20px; height: 20px; margin-top:5px; border-radius: 50%; position: absolute; border: 1px solid; background:{Color}'> </span>
                    <span style='margin-left: 44px;'>{Name}</span><br/>
                    </span>
                    </text>")
                        )
                    )
            .Listeners(ls => ls.Change.Handler = "selectColor(item, newValue, oldValue)")
            .Store(X.Store().ID("storeSecurity").AutoLoad(true)
            .Model(X.Model().IDProperty("Id")
            .Fields(
                new ModelField("Id"),
                new ModelField("Name"),
                new ModelField("Color")
                ))
        .Proxy(X.AjaxProxy().Url(Url.Action("GetAll", "Security")).Reader(X.JsonReader().RootProperty("data"))))),
        X.FileUploadFieldFor(m => m.FileAttachment).Multiple(false).Note("Đính kèm"),
        X.ContainerHBoxTop().MarginSpec("0 0 0 0")
        .Items(
            X.DateFieldFormatFor(m => m.ProfileCreateAt).MinDate(!Model.ProfileCreateAt.HasValue ? DateTime.Now : Model.ProfileCreateAt.Value)
                .Note("Ngày lập hồ sơ").NoteAlign(NoteAlign.Top).HideLabel(true).Format("dd/MM/yyyy").MarginSpec("0 0 0 0").Flex(1),
            X.ComboBoxFor(m => m.Status).ID("cbbSelectTypeStatusProfile").HideLabel(true).MarginSpec("0 0 5 0").Note("Trạng thái").NoteAlign(NoteAlign.Top)
                .Flex(1).MarginSpec("0 0 0 5").Items(Profilestatus).AllowBlank(false).BlankText("Trường này không được để trống")
            ),
        X.ContainerHBoxTop().MarginSpec("5 0 0 0")
        .Items(
            X.DateFieldFormatFor(m => m.TimeOpen).MinDate(!Model.TimeOpen.HasValue ? DateTime.Now : Model.TimeOpen.Value).Note("Thời gian mở hồ sơ" + Html.Required()).NoteAlign(NoteAlign.Top)
                .HideLabel(true).Format("dd/MM/yyyy").MarginSpec("0 0 0 0").Flex(1).ID("dateProfileTimeOpen").AllowBlank(false).BlankText("Trường không được để trống"),
            X.DateFieldFormatFor(m => m.TimeClose).MinDate(!Model.TimeClose.HasValue ? DateTime.Now : Model.TimeClose.Value).Note("Thời gian đóng hồ sơ" + Html.Required()).NoteAlign(NoteAlign.Top)
                .HideLabel(true).Format("dd/MM/yyyy").MarginSpec("0 0 0 5").Flex(1).ID("dateProfileTimeClose").AllowBlank(false).BlankText("Trường không được để trống")
                .ValidateGrandOrEqual("dateProfileTimeOpen", "Thời gian đóng hồ sơ phải lớn hơn hoặc bằng thời gian mở hồ sơ.")
        ),
       X.TextAreaFor(m => m.ProfileContent).Flex(1).HideLabel(true).EmptyText("Nội dung hồ sơ").Note("Nội dung hồ sơ").NoteAlign(NoteAlign.Top).MarginSpec("10 0 10 0")
           .Regex(iDAS.Presentation.Common.Resource.RegexSpecialSymbolFilter).RegexText(iDAS.Presentation.Common.Resource.RegexSpecialSymbolMessage)
       ),
        X.HiddenFor(m => m.DepartmentArchiveId).ID("hdfDepartmentArchiveId"),
        X.FieldSetVBox().Border(false).ID("tbArchiveInfo").Flex(1)
        .Items(
            X.ComboboxTreeFormat().ID("cbbDepartmentProfile").Note("Bộ phận lưu trữ").NoteAlign(NoteAlign.Top).MarginSpec("0 0 0 0").Multiple(false)
                .DisableSelectEmployee(false).ShowEmployee(false).DisableSelectTitle(false).ShowTitle(false).AllowBlank(true)
                .Value(Model.strDepartmentArchiveId).Text(Model.DepartmentArchiveName)
                .Listeners(l =>
                {
                    l.Change.Handler = "App.EmployeeNameArchiveId.clear();if(App.cbbDepartmentProfile.value!='') {App.EmployeeNameArchiveId.setReadOnly(false); App.stEmployProfile.reload();getDepartmentId();}";
                }).Text(Model.DepartmentArchiveName).Value(Model.DepartmentArchiveId),
            X.ComboBoxFor(m => m.EmployeeArchiveId).Value(Model.EmployeeArchiveId)
                .ReadOnly(true)
                .MarginSpec("5 0 0 0")
                .Note("Người nhận")
                .Regex(Resource.RegexSpecialSymbolFilter).RegexText("Bạn không được nhập kí tự đặc biệt")
                .NoteAlign(NoteAlign.Top)
                .HideLabel(true)
                .ID("EmployeeNameArchiveId")
                .QueryMode(DataLoadMode.Local)
                .EmptyText("Người nhận......")
                .LabelWidth(110)
                .TriggerAction(TriggerAction.All)
                .DisplayField("Name")
                .Editable(true)
                .ValueField("Id")
                .Store(
                    Html.X().Store().ID("stEmployProfile").AutoLoad(true)
        //.Listeners(ls =>
        //{
        //    ls.Load.Delay = 50;
        //    ls.Load.Handler = @"var combo = Ext.getCmp('EmployeeNameArchiveId'); combo.setValue(records[0].get(combo.valueField)); ";
        //})
                    .Model(
                        Html.X().Model()
                            .IDProperty("Id")
                            .Fields(
                                new ModelField("Id", ModelFieldType.Auto) { Mapping = "Id" },
                                new ModelField("Name", ModelFieldType.String) { Mapping = "Name" }
                            )
                        )
                    .Proxy(
                        Html.X().AjaxProxy().Url(Url.Action("LoadCommonEmployees", "Organization", new { Area = "Organization" }, null)).Reader(Html.X().JsonReader().RootProperty("data"))
                    )
                    .Parameters(ps =>
                    {
                        ps.Add(new StoreParameter("departmentId", "App.hdfDepartmentArchiveId.getValue()", ParameterMode.Raw));
                        ps.Add(new StoreParameter("isFilterDepartment", "true", ParameterMode.Value));
                    })
                ),
            X.ContainerHBoxTop().MarginSpec("5 0 0 0")
            .Items(
                X.DateFieldFormatFor(m => m.ArchiveDate).AllowBlank(false).MinDate(!Model.ArchiveDate.HasValue ? DateTime.Now : Model.ArchiveDate.Value).Note("Ngày nộp lưu trữ")
                    .NoteAlign(NoteAlign.Top).HideLabel(true).Format("dd/MM/yyyy").MarginSpec("0 0 0 0").Flex(1),
                X.DateFieldFormatFor(m => m.ArchiveDeadline).MinDate(!Model.ArchiveDeadline.HasValue ? DateTime.Now : Model.ArchiveDeadline.Value).Note("Thời hạn nộp lưu trữ")
                    .NoteAlign(NoteAlign.Top).HideLabel(true).Format("dd/MM/yyyy").MarginSpec("0 0 0 5").Flex(1).ID("dateProfileArchiveDeadline")
                    .ValidateGrandOrEqual("dateProfileTimeClose", "Thời hạn nộp lưu trữ phải lớn hơn hoặc bằng thời gian đóng hồ sơ bên tab thông tin hồ sơ")
            ),
            X.ContainerHBoxTop().MarginSpec("5 0 0 0")
            .Items(
                X.NumberFieldFor(m => m.ProfileNumber).HideLabel(true).EmptyText("Số tờ hồ sơ").Note("Số tờ hồ sơ").NoteAlign(NoteAlign.Top)
                    .MarginSpec("0 0 0 0").Flex(1).MinValue(1).MinText("Số tờ phải nhập nhỏ nhất là 1"),
                X.TextFieldFor(m => m.ProfileBox).Flex(1).HideLabel(true).Note("Hộp, cặp số").NoteAlign(NoteAlign.Top).EmptyText("Hộp, cặp số")
                    .MarginSpec("0 0 0 5").MaxLength(50).MaxLengthText("Chỉ nhập tối đa 50 ký tự")
                    .Regex(Resource.RegexSpecialSymbolFilter).RegexText(Resource.RegexHtmlWhiteSpaceStartMessage)
            ),
            X.ContainerHBoxTop().MarginSpec("0 0 0 0")
            .Items(
                X.NumberFieldFor(m => m.ArchiveTime).Flex(2).HideLabel(true).EmptyText("Thời gian lưu trữ").Note("Thời gian lưu trữ").NoteAlign(NoteAlign.Top)
                    .MarginSpec("5 5 0 0").ID("nmrProfileArchiveTime").MinValue(1).AllowBlank(false),
                X.ComboBoxFor(m => m.TypeDate).Flex(1).ID("cbbSelectTypeDate").HideLabel(true).MarginSpec("0 0 5 0")
                    .Flex(1).MarginSpec("22 0 0 0").Items(Type)
                    .Listeners(ls => ls.Change.Handler = "showOrHideArchiveTime()"),
                X.ComboBoxFor(m => m.FormalitySave).ID("cbbSelectTypestatusArchivevi").HideLabel(true).Flex(3).MarginSpec("5 0 0 5").Note("Hình thức lưu trữ")
                    .NoteAlign(NoteAlign.Top).QueryMode(DataLoadMode.Local).TriggerAction(TriggerAction.All).Items(FormalitySave)
                ),
            X.TextAreaFor(m => m.Note).Flex(1).HideLabel(true).EmptyText("Ghi chú").Note("Ghi chú").NoteAlign(NoteAlign.Top).MarginSpec("10 0 10 0")
                .Regex(Resource.RegexSpecialSymbolFilter).RegexText(Resource.RegexSpecialSymbolMessage)
            )
        )
        .Buttons(
            X.Button().Text(Resource.Save).IconCls("x-fa fa-floppy-o")
            .DirectEvents(de =>
            {
                de.Click.FormID = formId;
                de.Click.Before = "if (!this.up('window').down('form').getForm().isValid()) {return false; };";
                de.Click.ExtraParams.Add(new { DepartmentArchiveId = new JRawValue("App.hdfDepartmentArchiveId.getValue()") });
                de.Click.ExtraParams.Add(new { ContentHtml = new JRawValue("$('#cntProfileHumanDetail').html()") });
                de.Click.Url = Url.Action(Model.Id == Guid.Empty ? "InsertProfileEmployee" : "UpdateProfileEmployee");
                de.Click.Success = "if(result.result == true){ this.setDisabled(true);this.up('window').doDestroy(); if(App.stProfiles){App.stProfiles.reload();} }";
            }),
            X.Button().Text(Resource.Exit).IconCls("x-fa fa-times-circle").OnClientClick("this.up('window').doDestroy();")
        )
    )
)

<script>
    var selectColor = function (item, newValue, oldValue) {
        var selectItem = App.storeSecurity.data.find('Id', newValue).data;
        if (App.btnSelectSecurityColor) {

            App.btnSelectSecurityColor.getEl().dom.style.background = selectItem.Color;
            App.btnSelectSecurityColor.getEl().dom.style.borderRadius = "50%";
            App.btnSelectSecurityColor.getEl().dom.style.margin = "6px 0 0 5px";
            App.btnSelectSecurityColor.getEl().dom.style.width = "20px";
            App.btnSelectSecurityColor.getEl().dom.style.height = "20px";
        }
    };

    var SecurityForm = function (btn) {
        var securityId = btn.up("combobox").getId();
        var storeId = btn.up("combobox").getStore().storeId;
        var url = '@Url.Action("Form","Security")';
        var params = { alignTo: securityId, renderTo: "windowAddProfile", storeId: storeId };
        onDirectMethod(url, params);
    };
    var getDepartmentId = function () {
        var d = App.cbbDepartmentProfile.getValue();
        if (d) {
            if (d.indexOf("Department_") >= 0) {
                var departmentId = d.replace('Department_', '');
                App.hdfDepartmentArchiveId.setValue(departmentId);
            } else {
                App.hdfDepartmentArchiveId.setValue(d);
            }
        } else {
            return null;
        }
    };

    var showOrHideArchiveTime = function () {
        if (App.cbbSelectTypeDate) {
            var type = App.cbbSelectTypeDate.getValue();
            if (type == '@Convert.ToInt16((int)iDAS.Service.Common.Resource.ProfileArchiveTime.Permanent)') {
                App.nmrProfileArchiveTime.setReadOnly(true);
                App.nmrProfileArchiveTime.allowBlank = true;
            }
            else {
                App.nmrProfileArchiveTime.setReadOnly(false);
                App.nmrProfileArchiveTime.allowBlank = false;
            }
        }
    };
</script>