﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@using iDAS.Service;
@model ProfileBO
@{
    var X = Html.X();
    var formId = "formProfileCheck";
    var Profilestatus = (List<Ext.Net.ListItem>)ViewData["Status"];
    var Type = (List<Ext.Net.ListItem>)ViewData["Type"];
    var FormalitySave = (List<Ext.Net.ListItem>)ViewData["FormalitySave"];
    var stProfileComponentStatus = ViewData["StatusComponent"];
    var responsibilityId = ViewData["ResponsibilityId"];
}
@(X.WindowSlide().WindowLayout(LayoutType.VBox)
    .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.53 })
    .Modal(true)
    .ID("windowsProfileReview")
    .Title("Kiểm tra thông tin hồ sơ")
    .IconCls("x-fa fa-info-circle")
    .Items(
        X.FormPanelVBoxFormat().ID(formId).BodyPadding(2).ActiveIndex(0)
        .TopBar(
        X.Toolbar().StyleSpec("padding-bottom:0px;padding-top:0px")
        .Items(
            X.TabStrip().WidthSpec("100%")
            .Items(t =>
            {
                t.Add(X.Tab().ActionItemID("tbProfileInfo").IconCls("x-fa fa-info-circle").TabID("tbProfileInfoId").Text("Thông tin hồ sơ"));
                t.Add(X.Tab().ActionItemID("tbArchiveInfo").IconCls("x-fa fa-ioxhost").TabID("tbArchiveInfoId").Text("Thông tin lưu trữ"));
                t.Add(X.Tab().ActionItemID("tbProfileComponentInfo").IconCls("x-fa fa-files-o").TabID("tbProfileComponentInfoId").Text("Thông tin thành phần hồ sơ"));
            }),
                X.ToolbarFill())
            )
        .Items(
            X.FieldSetVBox().Flex(1).Border(false).ID("tbProfileInfo")
        .Items(
           X.ContainerHBoxTop()
            .Items(
                    X.HiddenFor(m => m.Id).ID("hdfUpdateFormProfileId"),
                    X.HiddenFor(m => m.DepartmentId).ID("hdfUpdateFormDepartmentId"),
                    X.HiddenFor(m => m.CategoryId).ID("hdfUpdateFormCategoryId"),
                    X.TextFieldFor(m => m.DepartmentName).EmptyText("Phòng ban").HideLabel(true).MarginSpec("0 0 0 0").Note("Phòng ban").NoteAlign(NoteAlign.Top).Flex(1).ReadOnly(true),
                    X.TextFieldFor(m => m.CategoryName).EmptyText("Danh mục").HideLabel(true).MarginSpec("0 0 0 5").Note("Danh mục").NoteAlign(NoteAlign.Top).Flex(1).ReadOnly(true)
               ),
            X.TextFieldFor(m => m.Name).EmptyText("Tên hồ sơ").HideLabel(true).MarginSpec("5 0 0 0").Note("Tên hồ sơ")
                .NoteAlign(NoteAlign.Top).ReadOnly(true),
            X.ContainerHBoxTop().MarginSpec("5 0 0 0").Items(
                X.TextFieldFor(m => m.Code).Flex(1).HideLabel(true).Note("Mã số hồ sơ").NoteAlign(NoteAlign.Top).ReadOnly(true),
                X.ComboBoxFor(m => m.SecurityId).ID("cbbSecurity").Flex(1).EmptyText("Độ mật").HideLabel(true).Note("Độ mật").MarginSpec("0 0 0 5")
                    .RightButtons(X.Button().IconCls("x-fa fa-plus-circle").Handler("SecurityForm(this)").Border(false).Disabled(true))
                    .LeftButtons(X.Button().ID("btnSelectSecurityColor").Width(30).Border(false))
                    .NoteAlign(NoteAlign.Top).TypeAhead(true).QueryMode(DataLoadMode.Local).ForceSelection(true).ReadOnly(true)
                    .TriggerAction(TriggerAction.All).DisplayField("Name").ValueField("Id").ValueNotFoundText("Đang tải...")
                    .ListConfig(X.BoundList()
                    .LoadingText("Tìm kiếm...")
                    .ItemTpl(X.XTemplate()
                    .Html(@"<text>
                    <span>
                    <span style='width: 20px; height: 20px; margin-top:5px; border-radius: 50%; position: absolute; border: 1px solid; background:{Color}'> </span>
                    <span style='margin-left: 44px;'>{Name}</span><br/>
                    </span>
                    </text>")
                        )
                    )
                .Listeners(ls => ls.Change.Handler = "selectColor(item, newValue, oldValue)")
                .Store(X.Store().ID("storeSecurity").AutoLoad(true)
                .Model(X.Model().IDProperty("Id")
                .Fields(
                    new ModelField("Id"),
                    new ModelField("Name"),
                    new ModelField("Color")
                    ))
            .Proxy(X.AjaxProxy().Url(Url.Action("GetAll", "Security")).Reader(X.JsonReader().RootProperty("data"))))),
        X.ContainerHBoxTop().MarginSpec("5 0 0 0")
        .Items(
            X.DateFieldFormatFor(m => m.TimeOpen).Note("Thời gian mở hồ sơ").NoteAlign(NoteAlign.Top).ReadOnly(true)
                .HideLabel(true).Format("dd/MM/yyyy").MarginSpec("0 0 0 0").Flex(1).ID("dateProfileTimeOpen"),
            X.DateFieldFormatFor(m => m.TimeClose).Note("Thời gian đóng hồ sơ").NoteAlign(NoteAlign.Top).ReadOnly(true)
                .HideLabel(true).Format("dd/MM/yyyy").MarginSpec("0 0 0 5").Flex(1).ID("dateProfileTimeClose")
        ),
        X.ContainerHBoxTop().MarginSpec("5 0 0 0")
        .Items(
            X.DateFieldFormatFor(m => m.ProfileCreateAt).Note("Ngày lập hồ sơ").NoteAlign(NoteAlign.Top).HideLabel(true).Format("dd/MM/yyyy")
                .MarginSpec("0 0 0 0").Flex(1).ReadOnly(true),
            X.ComboBoxFor(m => m.Status).ID("cbbSelectTypeStatusProfile").HideLabel(true).MarginSpec("0 0 5 0").Note("Trạng thái").NoteAlign(NoteAlign.Top)
                .Flex(1).MarginSpec("0 0 0 5").Items(Profilestatus).ReadOnly(true)
          ),
        X.TextAreaFor(m => m.ProfileContent).Flex(1).HideLabel(true).EmptyText("Nội dung hồ sơ").Note("Nội dung hồ sơ").NoteAlign(NoteAlign.Top)
            .MarginSpec("10 0 10 0").ReadOnly(true)
       ),
        X.HiddenFor(m => m.DepartmentArchiveId).ID("hdfDepartmentArchiveId"),
        X.FieldSetVBox().Border(false).ID("tbArchiveInfo").Flex(1)
        .Items(
            X.ComboboxTreeFormat().ID("cbbDepartmentProfile").AllowBlank(false).Note("Bộ phận lưu trữ").NoteAlign(NoteAlign.Top).MarginSpec("0 0 0 0")
                .Multiple(false).DisableSelectEmployee(false).ShowEmployee(false).DisableSelectTitle(false).ShowTitle(false).ReadOnly(true)
                .Listeners(l =>
                {
                    l.Change.Handler = "App.EmployeeNameArchiveId.clear();if(App.cbbDepartmentProfile.value!='') {App.stEmployProfile.reload();getDepartmentId();}";
                }).Text(Model.DepartmentArchiveName).Value(Model.DepartmentArchiveId),
            X.ComboBoxFor(m => m.EmployeeArchiveId).Value(Model.EmployeeArchiveId)
                .ReadOnly(true)
                .MarginSpec("5 0 0 0")
                .Note("Người nhận")
                .NoteAlign(NoteAlign.Top)
                .AllowBlank(false)
                .HideLabel(true)
                .ID("EmployeeNameArchiveId")
                .QueryMode(DataLoadMode.Local)
                .EmptyText("Người nhận......")
                .LabelWidth(110)
                .TriggerAction(TriggerAction.All)
                .DisplayField("Name")
                .Editable(true)
                .ValueField("Id")
                .Store(
                    Html.X().Store().ID("stEmployProfile").AutoLoad(true)
                    .Model(
                        Html.X().Model()
                            .IDProperty("Id")
                            .Fields(
                                new ModelField("Id", ModelFieldType.String) { Mapping = "Id" },
                                new ModelField("Name", ModelFieldType.String) { Mapping = "Name" }
                            )
                        )
                    .Proxy(
                        Html.X().AjaxProxy().Url(Url.Action("LoadCommonEmployees", "Organization", new { Area = "Organization" }, null)).Reader(Html.X().JsonReader().RootProperty("data"))
                    )
                    .Parameters(ps =>
                    {
                        ps.Add(new StoreParameter("departmentId", "App.hdfDepartmentArchiveId.getValue()", ParameterMode.Raw));
                        ps.Add(new StoreParameter("isFilterDepartment", "true", ParameterMode.Value));
                    })
                ),
            X.ContainerHBoxTop().MarginSpec("5 0 0 0")
            .Items(
                X.DateFieldFormatFor(m => m.ArchiveDate).Note("Ngày nộp lưu trữ").ReadOnly(true)
                    .NoteAlign(NoteAlign.Top).HideLabel(true).Format("dd/MM/yyyy").MarginSpec("0 0 0 0").Flex(1),
                X.DateFieldFormatFor(m => m.ArchiveDeadline).Note("Thời hạn nộp lưu trữ").ReadOnly(true)
                    .NoteAlign(NoteAlign.Top).HideLabel(true).Format("dd/MM/yyyy").MarginSpec("0 0 0 5").Flex(1).ID("dateProfileArchiveDeadline")
            ),
            X.ContainerHBoxTop().MarginSpec("5 0 0 0")
            .Items(
                X.NumberFieldFor(m => m.ProfileNumber).HideLabel(true).EmptyText("Số tờ hồ sơ").Note("Số tờ hồ sơ").NoteAlign(NoteAlign.Top)
                    .MarginSpec("0 0 0 0").Flex(1).ReadOnly(true),
                X.TextFieldFor(m => m.ProfileBox).Flex(1).HideLabel(true).Note("Hộp, cặp số").NoteAlign(NoteAlign.Top).EmptyText("Hộp, cặp số")
                    .MarginSpec("0 0 0 5").ReadOnly(true)
            ),
            X.ContainerHBoxTop().MarginSpec("0 0 0 0")
            .Items(
                X.NumberFieldFor(m => m.ArchiveTime).Flex(2).HideLabel(true).EmptyText("Thời gian lưu trữ").Note("Thời gian lưu trữ").NoteAlign(NoteAlign.Top)
                    .MarginSpec("5 5 0 0").ID("nmrProfileArchiveTime").ReadOnly(true),
                X.ComboBoxFor(m => m.TypeDate).Flex(1).ID("cbbSelectTypeDate").HideLabel(true).MarginSpec("0 0 5 0")
                    .Flex(1).MarginSpec("22 0 0 0").Items(Type).ReadOnly(true),
                X.ComboBoxFor(m => m.FormalitySave).ID("cbbSelectTypestatusArchivevi").HideLabel(true).Flex(3).MarginSpec("5 0 0 5").Note("Hình thức lưu trữ")
                    .NoteAlign(NoteAlign.Top).QueryMode(DataLoadMode.Local).ReadOnly(true)
                    .TriggerAction(TriggerAction.All).Items(FormalitySave)
                ),
            X.TextAreaFor(m => m.Note).Flex(1).HideLabel(true).EmptyText("Ghi chú").Note("Ghi chú").NoteAlign(NoteAlign.Top).MarginSpec("10 0 10 0").ReadOnly(true)
            ),
            X.FieldSetVBox().Border(true).MarginSpec("-1 -1 -1 -1").ID("tbProfileComponentInfo").Flex(1)
            .Items(
                X.GridPanelFormat().ID("grDetailProfileComponent").ColumnLines(true).Border(true).Header(false).Flex(1).AutoScroll(true)
                    .TopBarItem(
                        X.ToolbarFill(),
                        X.TextField().EmptyText("Nhập từ khóa tìm kiếm theo tên thành phần hồ sơ").IconCls("x-fa fa-search").WidthSpec("50%").ID("txtSearchProfileComponent")
                            .Listeners(ls =>
                            {
                                ls.Change.Handler = "App.stDetailProfileComponent.reload()";
                                ls.Change.Buffer = 100;
                            }),
                        X.CycleButtonFormat()
                            .ID("cbStatusProfileComponent")
                        .ShowText(true).PrependText("Lọc theo trạng thái: ")
                            .MenuSource(stProfileComponentStatus)
                            .Listeners(ls => ls.Change.Handler = "App.stDetailProfileComponent.reload();")
                    )
                    .Store(X.Store().ID("stDetailProfileComponent")
                    .Proxy(X.AjaxProxy()
                            .Url(Url.Action("LoadByProfiles", "ProfileComponent", new { Area = "Profile" }))
                            .Reader(X.JsonReader().RootProperty("data"))
                        )
                    .Parameters(pr =>
                        {
                            pr.Add(new StoreParameter("profileId", Model.Id));
                            pr.Add(new StoreParameter("status", "App.cbStatusProfileComponent.activeItem.itemId", ParameterMode.Raw));
                            pr.Add(new StoreParameter("query", "App.txtSearchProfileComponent.value", ParameterMode.Raw));
                        })
                    .ModelType(typeof(ProfileComponentBO))
                )
                .ColumnModel(
                        X.RowNumbererColumn().Text("Stt").Width(45).Align(ColumnAlign.Center),
                        X.ColumnEncodeFormat().Text("Tên thành phần hồ sơ").DataIndex("Name").CellWrap(true).Width(150),
                        X.ColumnEncodeFormat().Text("Tài liệu biểu mẫu").DataIndex("DocumentName").Width(130).CellWrap(true),
                        X.DateColumn().Text("Ngày cập nhật").DataIndex("ProfileUpdateAt").Width(110).CellWrap(true).Format("dd/MM/yyyy").Align(ColumnAlign.Center),
                        X.Column().DataIndex("").Text("Người cập nhật").Width(180).Renderer(new Renderer { Fn = "renderEmployeeUpdateComponent" }),
                        X.Column().Text("Trạng thái").DataIndex("StatusText").Align(ColumnAlign.Center).Width(90)
                    )
            )
        )
        .Buttons(
            X.Button().Text("Kiểm tra").IconCls("x-fa fa-check-circle")
            .DirectEvents(de =>
            {
                de.Click.FormID = formId;
                de.Click.ExtraParams.Add(new { id = responsibilityId });
                de.Click.ExtraParams.Add(new { profileId = Model.Id });
                de.Click.Url = Url.Action("FormApprove", "ProfileResponsibility", new { Area = "Profile" });
            }),
            X.Button().Text(Resource.Exit).IconCls("x-fa fa-times-circle").OnClientClick("this.up('window').doDestroy();")
        )
    )
)

<script>
    var selectColor = function (item, newValue, oldValue) {
        var selectItem = App.storeSecurity.data.find('Id', newValue).data;
        if (App.btnSelectSecurityColor) {

            App.btnSelectSecurityColor.getEl().dom.style.background = selectItem.Color;
            App.btnSelectSecurityColor.getEl().dom.style.borderRadius = "50%";
            App.btnSelectSecurityColor.getEl().dom.style.margin = "6px 0 0 5px";
            App.btnSelectSecurityColor.getEl().dom.style.width = "20px";
            App.btnSelectSecurityColor.getEl().dom.style.height = "20px";
        }
    };

    var SecurityForm = function (btn) {
        var securityId = btn.up("combobox").getId();
        var storeId = btn.up("combobox").getStore().storeId;
        var url = '@Url.Action("Form","Security")';
        var params = { alignTo: securityId, renderTo: "windowAddProfile", storeId: storeId };
        onDirectMethod(url, params);
    };
    var getDepartmentId = function () {
        var d = App.cbbDepartmentProfile.getValue();
        if (d) {
            if (d.indexOf("Department_") >= 0) {
                var departmentId = d.replace('Department_', '');
                App.hdfDepartmentArchiveId.setValue(departmentId);
            } else {
                App.hdfDepartmentArchiveId.setValue(d);
            }
        } else {
            return null;
        }
    };

    var renderEmployeeUpdateComponent = function (value, meta, record) {
        if (record.data.EmployeePerformBy.Name == "") {
            return "Chưa cập nhật";
        }
        var title = '<span style="margin-left: 44px;font-size:10px;">' + record.data.EmployeePerformBy.RoleNames + '</span></span>';
        var result = record.data.EmployeePerformBy.Name;
        var image = '<img src="' + record.data.EmployeePerformBy.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.EmployeePerformBy.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
</script>
