﻿@using Ext.Net;
@using Ext.Net.MVC;
@(
 Html.X().Container()
    .ID("ctMnAssetSettingConfig")
    .Layout(LayoutType.Fit)
    .Border(false)
    .Listeners(ls => ls.Resize.Handler = "this.updateLayout()")
    .Items(
Html.X().Panel()
            .Flex(1)
            .ID("pnAssetConfig")
            .Layout(LayoutType.Fit)
            .Border(true)
             .TopBar(
               Html.X().Toolbar()
                .StyleSpec("padding-bottom:0px;padding-top:0px;")
                .Items(
                    Html.X().TabStrip()
                    .WidthSpec("90%")
                        .Items(t =>
                        {
                            t.Add(Html.X().Tab().ActionItemID("tabAssetGroup").IconCls("x-fa fa-object-group").Text("Nhóm tài sản"));
                            t.Add(Html.X().Tab().ActionItemID("tabAssetTypes").IconCls("x-fa fa-keyboard-o").Text("Loại tài sản"));
                            t.Add(Html.X().Tab().ActionItemID("tabAssetReviewSetting").IconCls("x-fa fa-check").Text("Thiết lập quy tắc đánh giá"));
                            t.Add(Html.X().Tab().ActionItemID("tabAssetTempSetting").IconCls("x-fa fa-sticky-note").Text("Thiết lập quy tắc dán nhãn"));
                        }),
                        Html.X().ToolbarFill(),
                        Html.X().Button().IconCls("x-tool-tool-el x-tool-img x-tool-maximize").Border(false).Listeners(ls => ls.Click.Handler = "fullWindowFromTabPanel(App.pnAssetConfig,'Thiết lập','x-fa fa-cogs', this)")
                    )
            )
            .Items(
        Html.X().Panel()
                .BodyPadding(0)
                .Icon(Icon.ApplicationViewDetail)
                .Layout(LayoutType.Fit)
                .Padding(0)
                .Border(false)
                .Header(false)
                .ID("tabAssetGroup")
                .StyleSpec("border: none;")
                .Frame(true)
                .ItemsFromAction("Index", "Group", new { area = "Asset" }),
        Html.X().Panel()
                .BodyPadding(0)
                .Icon(Icon.ApplicationViewDetail)
                .Layout(LayoutType.Fit)
                .ID("tabAssetTypes")
                .Padding(0)
                .Border(false)
                .Header(false)
                .StyleSpec("border: none;")
                .Frame(true)
                .ItemsFromAction("Index", "Type", new { area = "Asset" }),
        Html.X().Panel()
                .BodyPadding(0)
                .Icon(Icon.ApplicationViewDetail)
                .Layout(LayoutType.Fit)
                .ID("tabAssetReviewSetting")
                .Padding(0)
                .StyleSpec("border: none;")
                .Frame(true)
                .Header(false)
                .Border(false)
                .ItemsFromAction("Index", "ReviewSetting", new { area = "Asset" }),
            Html.X().Panel()
                    .BodyPadding(0)
                    .Icon(Icon.ApplicationViewDetail)
                    .Layout(LayoutType.Fit)
                    .ID("tabAssetTempSetting")
                    .Padding(0)
                    .StyleSpec("border: none;")
                    .Frame(true)
                    .Header(false)
                    .Border(false)
                    .ItemsFromAction("Index", "TempSetting", new { area = "Asset" })
               )
        )
    .Html(@<text><div class='navbar-right'><a title='Trở lại' onclick='loadConfigContent("Asset/DashBoard/Index", "ctMnAsset");' href='javascript:void(0);'><i style=' color:red !important' class='fa fa-arrow-left'></i></a></div></text>)
)

