﻿@using Ext.Net.MVC
@using Ext.Net
@using iDAS.Service;
@model AssetTempBO
@{
    var X = Html.X();
}
@(Html.X().GridPanel()
        .ID("grAssetLabel")
        .ColumnLines(true)
        .Border(false)
        .Title("Danh sách nhãn tài sản")
        .UI(UI.Success)
        .Flex(1)
        .Header(false)
        .TopBarItem(
        Html.X().ComboBox().EmptyText("Quy tắc gán nhãn").HideLabel(true).Flex(1).Listeners(ls => ls.Change.Handler = "App.btnDetailAssetLabel.setDisabled(false);")
        .DisplayField("Name")
            .ID("cbTempSettingID")
            .ValueField("Id")
                .DisplayFieldEncodeFormat("Name")
                .Store(
                    X.Store()
                    .ID("storeTempSetting")
                    .RemoteSort(true)
                    .AutoLoad(true)
                    .RemotePaging(true)
                    .PageSize(20)
                        .Proxy(X.AjaxProxy().Url(Url.Action("GetData", "TempSetting"))
                        .Reader(X.JsonReader().RootProperty("data")))
                    .Sorters(X.DataSorter().Property("ID").Direction(Ext.Net.SortDirection.DESC))
                    .Model(
                        X.Model()
                        .Fields(
                        new ModelField("Id", ModelFieldType.Auto),
                        new ModelField("Name", ModelFieldType.String),
                        new ModelField("Template", ModelFieldType.Auto)
                            )
                        )
                    )
            ,
            Html.X().Button()
                .Text("Xem quy tắc")
                .ID("btnDetailAssetLabel")
                .Disabled(true)
                .IconCls("x-fa fa-search")
                .DirectEvents(de =>
                {
                    de.Click.ExtraParams.Add(new { id = new JRawValue("App.cbTempSettingID.getValue()") });
                    de.Click.ExtraParams.Add(new { selectReview = iDAS.Service.Common.Resource.QualityReview.IsImportant });
                    de.Click.ExtraParams.Add(new { isDetail = true });
                    de.Click.Url = Url.Action("Form", "TempSetting");
                }))
            .Icon(Icon.Table)
            .Store(Html.X().Store()
            .AutoLoad(true)
            .ID("stAssetLabel")
            .Proxy(Html.X().AjaxProxy()
            .Url(Url.Action("GetData", new { assetId = Convert.ToString(ViewData["assetId"]) }))
            .Reader(Html.X().JsonReader().RootProperty("data")))
            .PageSize(10)
        //.Model(Html.X().Model()
        //.Fields(
        //        Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
        //        Html.X().ModelField().Name("TemplateName").Type(ModelFieldType.String),
        //        Html.X().ModelField().Name("DateOfPaste").Type(ModelFieldType.Date),
        //        Html.X().ModelField().Name("AvartarUrl").Type(ModelFieldType.String),
        //        Html.X().ModelField().Name("IsUse").Type(ModelFieldType.Boolean)
        //    )
        //)
            .ModelType(typeof(AssetTempBO))
            )
            .ColumnModel(
                Html.X().RowNumbererColumn()
                    .Text("STT")
                    .Width(40)
                    .Align(ColumnAlign.Center),
                Html.X().TemplateColumn()
                    .DataIndex("AvartarUrl")
                    .Width(50)
                    .Filterable(false)
                    .Tpl(
                    Html.X().XTemplate()
                    .Html(@<text>
                        <img src="{AvartarUrl}" style='height: 35px !important; width: 30px !important; border: 2px solid #E6E6E6 !important; display: inline-block !important; ' />
                    </text>)
                        ),
                Html.X().ColumnEncodeFormat().DataIndex(Model, m => m.EmployeeName).Text("Người dán nhãn").Width(170),
                Html.X().ColumnEncodeFormat().DataIndex(Model, m => m.TemplateName).Text("Tên quy tắc gán nhãn").Flex(1),
                Html.X().DateColumn().DataIndex(Model, m => m.CreateAt).Text("Ngày gán nhãn").Format("dd/MM/yyyy HH:mm").Width(130),
                Html.X().ColumnEncodeFormat().DataIndex(Model, m => m.LabelTemp).Text("Nhãn").Width(100),
                Html.X().ColumnFileFormat(m => m.Template.Files).DataIndex(Model, m => m.Template.Files).Text("Tem mẫu").Width(100),
                Html.X().ColumnFileFormat(m => m.Temp.Files).DataIndex(Model, m => m.Temp.Files).Text("Đính kèm nhãn").Width(130),
                Html.X().CheckColumn().DataIndex(Model, m => m.IsUse).Hidden(true).Text("Sử dụng").Width(100)
                )
                .SelectionModel(
                    Html.X().RowSelectionModel()
                        .Mode(SelectionMode.Single)
                )
                    .BottomBar(Html.X().PagingToolbarFormat())
)
