﻿
@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .container {
        width: 300px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 300px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 300px;
    }
}
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Droid Sans', sans-serif;
    background: #f2f2f2;
    font-size: 14px;
    line-height: 21px;
}
.container {
    width: 900px;
    margin: 20px auto;
}

a img {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 26px;
    line-height: 32px;
}

p, ul {
    margin-bottom: 10px;
}

.jsmaps-console {
    display: none;
}