﻿::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    /*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius:0;*/
    border-radius:0;
    background-color: rgba(204, 204, 204, 0.36);
}
::-webkit-scrollbar-thumb {
     -webkit-border-radius:0;
    border-radius:0;
    background-color: #598AD8;
     /*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);*/
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #88A2CC;
}
