﻿.imagecircle {
    margin-top: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
}
.image_avatar{
    width:20px;
    height:25px;
    background-size:100% 100%;
}
/*=====CSS NOTIFIES=====*/
.disableClass {
        background-color: rgba(187, 245, 245, 0.76);
    }
.ajax-notifications {
    display: block;
    overflow: auto;
    margin-right: 0px;
    margin-left: 0px;
    border-top: 1px solid #CECECE;
    background: #fff;
}
.notify-body {
    padding: 0 0 0 0;
    margin: 0;
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.notify-body > li > span {
    background: #fff;
    display: block;
    min-height: 25px;
    overflow: hidden;
    padding: 8px 10px 8px 7px;
    font-style:italic;
    white-space: normal;
}
.notify-body > li {
    /*border-bottom: 1px solid #E9E9E9;*/
    position: relative;
}
.notify-body .unread {
    background: rgba(188, 245, 255, 0.3);
}
.notify-body > li > span:hover {
    background: #e7edf1;
}
.notify-body > li a.msg {
    padding-left: 40px !important;
}

.notify-body > li a, .notify-body > li a:hover {
    text-decoration: none;
}
.notify-body > li a, .notify-body > li a span {
    display: block;
    position: relative;
    overflow: hidden;
    color: #989494;
    font-size: 11px;
}
.notify-body .unread .from {
    font-weight: 700;
}
.notify-body .from {
    font-size: 13px;
    line-height: normal;
    color: #545050;
    font-weight: 600 !important;
    margin-right: 60px;
    margin-bottom: 3px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.notify-body time {
    /*position: absolute;*/
    top: 0px;
    right: 0;
    font-size: 10px;
    font-weight: 400;
    color: #058dc7;
    float:left;
    padding-right: 10px;
    /*padding-left:5px;*/
}



.notification-body {
    padding: 0 0 0 0;
    margin: 0;
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.notification-body > li > span {
    background: #fff;
    display: block;
    min-height: 25px;
    overflow: hidden;
    padding: 8px 18px 13px;
    font-style:italic;
    white-space: normal;
}
.notification-body > li {
    /*border-bottom: 1px solid #E9E9E9;*/
    position: relative;
}
.notification-body .unread {
    background: rgba(188, 245, 255, 0.3);
}
.notification-body > li > span:hover {
    background: #e7edf1;
}
.notification-body > li a.msg {
    padding-left: 50px !important;
}

.notification-body > li a, .notification-body > li a:hover {
    text-decoration: none;
}
.notification-body > li a, .notification-body > li a span {
    display: block;
    position: relative;
    overflow: hidden;
    color: #989494;
    font-size: 12px;
}
.notification-body .unread .from {
    font-weight: 700;
}
.notification-body .from {
    font-size: 13px;
    line-height: normal;
    color: #545050;
    font-weight: 600 !important;
    margin-right: 60px;
    margin-bottom: 3px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.notification-body time {
    /*position: absolute;*/
    top: 0px;
    right: 0;
    font-size: 10px;
    font-weight: 400;
    color: #058dc7;
    float:right !important;
}
.air-top-left {
    top: 2px;
    left: 0;
}
.air-top-right {
    top: 11px;
    right: 0;
}

.air {
    position: absolute;
    z-index: 5;
}
.note{
    padding: 0 1px;
    font-size: 11px;
    line-height: 15px;
    color: #999;
}
/*=====END NOTIFIES=====*/




.content_comment {
    font-size: 13px;
    font-style: italic;
    color: #515151;
}

.cls_validate {
    border: 1px solid #CF4C35 !important;
}

a.morelink {
    text-decoration: none;
    outline: none;
    font-style: italic;
    color: #0011FF;
}

.morecontent span {
    display: none;
}

.emptyClass {
    background-image: url(/Content/images/info.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px !important;
}
/*============ 
MENU RIGHT 
============*/
.navbar-right {
    background: rgb(126, 174, 41);
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 0 0 3px 3px;
    /* -webkit-box-shadow: 0 0 6px #939393; */
    -moz-box-shadow: 0 0 6px #939393;
    -ms-box-shadow: 0 0 6px #939393;
    -o-box-shadow: 0 0 6px #939393;
    /* box-shadow: 0 0 6px #939393; */
    left: auto;
    right: 47px;
    padding: 2px 0;
    position: fixed;
    text-align: center;
    top: 39px;
    width: 44px;
    z-index: 1001;
    font-size: 13px;
    line-height: 1.3;
}

    .navbar-right img {
        width: 16px;
        height: 16px;
    }

    .navbar-right a {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        float: none !important;
        width: 22px;
        height: 22px;
        margin: 0px 1px;
        padding: 3px;
        /*text-indent: -9999px;*/
        background-color: #727272;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

        .navbar-right a:hover {
            background-color: #fff;
            height: 25px;
            margin: 5px 1px;
            width: 25px;
            font-size: 16px;
            padding: 3px;
            cursor: pointer;
        }
/*===============================*/
.load-bar {
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 2px;
    background-color: #fdba2c;
}

.bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}

    .bar:nth-child(1) {
        background-color: #3b78e7;
        animation: loading 4s linear infinite;
    }

    .bar:nth-child(2) {
        background-color: #fdba2c;
        animation: loading 4s linear 3s infinite;
    }

@keyframes loading {
    from {
        left: 0%;
        width: 0;
        z-index: 100;
    }

    33.3333% {
        left: 0;
        width: 60%;
        z-index: 10;
    }

    to {
        left: 0;
        width: 100%;
    }
}
 .black {
        color: black !important;
    }
.loadding {
    content: url(/Content/images/loading5.gif);
    height: 12px;
}

.chat-body {
    background: #FAFAFA;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#fafafa 0,#fff 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fafafa),color-stop(100%,#fff));
    background: -webkit-linear-gradient(top,#fafafa 0,#fff 100%);
    background: -o-linear-gradient(top,#fafafa 0,#fff 100%);
    background: -ms-linear-gradient(top,#fafafa 0,#fff 100%);
    background: linear-gradient(to bottom,#f5fcff 0,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ffffff', GradientType=0);
    box-shadow: inset 2px 2px 5px rgba(0,0,0,.04);
    -moz-box-shadow: inset -2px -2px 5px rgba(0,0,0,.04);
    display: block;
    height: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-top: none;
}

    .chat-body ul {
        margin: 0;
        padding: 0;
    }

    .chat-body li.message {
        display: block;
        position: relative;
        margin: 20px 5px 0;
    }

    .chat-body li:first-child {
        margin-top: 0px;
    }

    .chat-body li.message img {
        display: inline-block;
        border-left: 2px solid #fff;
        position: absolute;
        margin-top: 4px;
    }

        .chat-body li.message img.online {
            height: 40px;
            width: 40px;
            border-left-color: #00a300;
        }

    .chat-body li.message .message-text {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0;
        margin-left: 50px;
        line-height: normal;
        min-height: 49px;
    }

        .chat-body li.message .message-text time {
            position: absolute;
            top: 1px;
            right: 0;
            font-size: 11px;
            line-height: 10px;
            color: #777272;
            font-weight: 400;
        }

        .chat-body li.message .message-text .chat-file:nth-child(3) {
            margin-top: 15px;
        }

        .chat-body li.message .message-text .chat-file {
            display: block;
            margin: 3px 0;
            padding: 4px;
            border: 1px dotted #ddd;
            background: rgba(0,0,0,.05);
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            text-align: right;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

            .chat-body li.message .message-text .chat-file.row-fluid [class*=span] {
                min-height: 10px !important;
            }

            .chat-body li.message .message-text .chat-file b {
                font-style: italic;
                white-space: nowrap;
                width: 250px;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
            }

        .chat-body li.message .message-text a.taskname {
            display: block;
            font-weight: 600;
            margin-bottom: 4px;
            vertical-align: top;
            line-height: 13px;
            font-size: 13px;
            /*letter-spacing: -1px;*/
            text-decoration: none !important;
        }

        .chat-body li.message .message-text span.username {
            display: block;
            font-weight: 600;
            margin-bottom: 4px;
            vertical-align: top;
            line-height: 13px;
            font-size: 13px;
            font-style: italic;
            /*letter-spacing: -1px;*/
            text-decoration: none !important;
            color: #1A790A;
        }

.profile-message {
    background: none !important;
    height: auto !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    overflow: hidden;
}

    .profile-message li.message.message-reply {
        margin-left: 30px !important;
        background: #F7F7F7;
        /* padding: 10px; */
        margin: 10px 0 0 10px;
    }

        .profile-message li.message.message-reply img {
            width: 35px !important;
            height: 35px !important;
        }

        .profile-message li.message.message-reply .message-text {
            margin-left: 45px !important;
        }

    .profile-message .wall-comment-reply {
        margin-left: 85px;
        margin-bottom: 20px;
    }




.timeline-seperator {
    display: block;
    text-align: center;
    color: #999;
    margin: 5px 0 10px 0;
}

    .timeline-seperator > :first-child {
        padding: 4px 5px;
        border: 1px dashed rgba(0,0,0,.1);
        background: rgb(230, 230, 230);
        font-size: 11px;
        border-radius: 4px;
        color: #34495E;
    }

    .timeline-seperator .btn, .timeline-seperator .btn + .dropdown-menu {
        margin-right: 15px;
    }

    .timeline-seperator:after {
        display: block;
        content: " ";
        margin: 0 20px;
        border-bottom: 1px dashed rgba(0,0,0,.18);
        margin-top: -8px;
    }

.text-align-center, .text-center {
    text-align: center !important;
}

.inbox-checkbox-triggered > .btn-group .btn {
    padding-left: 10px;
    padding-right: 10px;
}

.pull-right {
    float: right !Important;
}

.pull-left {
    float: left !Important;
}

.text-align-left, .text-left {
    text-align: left !important;
}


.dropdown-menu-xs {
    min-width: 37px;
}

    .dropdown-menu-xs > li > a {
        padding: 3px 10px;
    }

        .dropdown-menu-xs > li > a:hover i {
            color: #fff !important;
        }

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
    }

.btn, a:link, button {
    -webkit-tap-highlight-color: rgba(169,3,41,.5);
}

label {
    font-weight: 400;
}

.fa-margin-top-3 {
    margin-top: 3px;
}

.fa-margin-bottom-3 {
    margin-bottom: 3px;
}

/*==============Quan ly tai lieu============*/
.chat-body li.message span.documentname {
            display: block;
            font-weight: 600;
            margin-bottom: 4px;
            vertical-align: top;
            line-height: 13px;
            font-size: 13px;
            font-style: italic;
            text-decoration: none !important;
            color: #1A790A;
        }
/*==============End quan ly tai lieu=========*/