﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common
@(Html.X().Container()
        .ID("ctCalendar")
        .Layout(LayoutType.VBox)
        .Defaults(Html.X().Parameter().Name("margin").Value("0 0 0 0").Mode(ParameterMode.Value))
        .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
        .Items(
        Html.X().ContainerHBox()
            .Padding(1)
            .Height(270)
            .Items(
                Html.X().Panel()
                    .Width(350)
                    .IconCls("x-fa fa-info-circle")
                    .BodyPadding(5)
                    .Layout(LayoutType.VBox)
                    .UIName("idas_default")
                    .Defaults(Html.X().Parameter().Name("margin").Value("0 0 0 0").Mode(ParameterMode.Value))
                    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                    .Title("<span style='font-size:13px; font-weight:bold;'>Thông tin lịch làm việc</span>")
                    .Items(
                        Html.X().ContainerHBox()
                            .MarginSpec("0 0 5 0")
                            .Items(
                        Html.X().Button()
                            .IconCls("x-fa fa-plus-circle")
                            .Text("Thêm mới")
                            .Flex(1)
                            .MarginSpec("0 5 0 0")
                            .DirectClickAction("Form"),
                        Html.X().Button()
                            .IconCls("x-fa fa-search")
                            .Text(Resource.Detail)
                            .Flex(1)
                            .DirectEvents(de =>
                            {
                                de.Click.Before = @"if(App.ComboBoxCalendar.value==null ||App.ComboBoxCalendar.value=='' ) { notRecordSelectedMessage(); return false;} ";
                                de.Click.ExtraParams.Add(new { id = new JRawValue("App.ComboBoxCalendar.getValue()") });
                                de.Click.Url = Url.Action("Form");
                            })),
                        Html.X().ComboBox()
                            .ID("ComboBoxCalendar")
                            .Editable(false)
                            .MarginSpec("0 0 5 0")
                            .ValueField("Id")
                            .DisplayField("Name")                            
                            .QueryMode(DataLoadMode.Local)
                            .TriggerAction(TriggerAction.All)
                            .EmptyText("Chọn lịch làm việc")
                            .Listeners(ls =>
                            {
                                ls.Change.Handler = @"var record =  App.stCalendar.getById(this.value);
                                                    App.ckActive.setValue(record.data.IsActive);
                                                    App.txtNoteCalendar.setValue(record.data.Note);
                                                    App.stCalendarOfWeek.reload();
                                                    App.stCalendarDayOverride.reload();
                                                    App.datePicker.selectToday();
                                                    ReloadHighLight();";
                            })
                            .Store(Html.X().Store()
                            .ID("stCalendar")
                            .AutoLoad(true)
                            .Model(Html.X().Model()
                                .IDProperty("Id")
                                .Fields(
                                    new ModelField("Id", ModelFieldType.Auto),
                                    new ModelField("Name", ModelFieldType.String),
                                    new ModelField("Note", ModelFieldType.String),
                                    new ModelField("IsActive", ModelFieldType.Boolean)
                                )
                            )
                            .Proxy(Html.X().AjaxProxy()
                            .Url(Url.Action("LoadData"))
                            .Reader(Html.X().JsonReader().RootProperty("data")))
                            .Listeners(ls =>
                            {
                                ls.Load.Handler = @"var combo = App.ComboBoxCalendar;combo.setValue(records[0].get(combo.valueField));";
                            })),
                        Html.X().Checkbox()
                            .ID("ckActive")
                            .ReadOnly(true)
                            .BoxLabel("Áp dụng thực hiện"),
                        Html.X().TextArea().ID("txtNoteCalendar").ReadOnly(true).EmptyText("Ghi chú").Flex(1).Margin(0)
                        ),
        Html.X().GridPanel()
            .ID("gpCalendarOfWeek")
            .Title("<span style='font-size:13px; font-weight:bold;'>Thiết lập lịch làm việc theo tuần</span>")
            .Split(false)
            .Flex(1)
            .MarginSpec("0 0 0 5")
            .Border(true)
            .UIName("idas_default")
            .Margin(1)
            .Expand(true)
            .ColumnLines(true)
            .RowLines(true)
            .Collapsible(false)
            .IconCls("x-fa fa-calendar")
            .TopBar(
        Html.X().Toolbar()
            .Items(
            Html.X().Button()
                .Text("Thêm ca làm việc")
                .IconCls("x-fa fa-calendar-plus-o")
                .Handler("showCalendarWeekShift")
            )
    )
    .Store(Html.X().Store()
            .ID("stCalendarOfWeek")
            .AutoLoad(false)
            .Proxy(Html.X().AjaxProxy().Url(Url.Action("LoadData", "CalendarWeekShift"))
            .Reader(Html.X().JsonReader().RootProperty("data")))
            .Parameters(ps => ps.Add(new StoreParameter("calendarId", "App.ComboBoxCalendar!=null?App.ComboBoxCalendar.getValue():null", ParameterMode.Raw)))
            .RemoteSort(true)
            .AutoLoad(true)
            .RemotePaging(true)
            .PageSize(100)
            .Sorters(Html.X().DataSorter().Property("Id")
            .Direction(Ext.Net.SortDirection.DESC))
            .Model(
            Html.X().Model()
                .Fields(
                        new ModelField("Sunday", ModelFieldType.String),
                        new ModelField("RowId", ModelFieldType.String),
                        new ModelField("Monday", ModelFieldType.String),
                        new ModelField("Tuesday", ModelFieldType.String),
                        new ModelField("Wednesday", ModelFieldType.String),
                        new ModelField("Thursday", ModelFieldType.String),
                        new ModelField("Friday", ModelFieldType.String),
                        new ModelField("Saturday", ModelFieldType.String)
                    )
                )
        )
    .ColumnModel(
            Html.X().RowNumbererColumn().Text("STT").Width(40).Align(ColumnAlign.Center),
            Html.X().Column().Text("Thứ hai").Flex(1).DataIndex("Monday").Align(ColumnAlign.Center).Renderer("renderShift"),
            Html.X().Column().Text("Thứ ba").Flex(1).DataIndex("Tuesday").Align(ColumnAlign.Center).Renderer("renderShift"),
            Html.X().Column().Text("Thứ tư").Flex(1).DataIndex("Wednesday").Align(ColumnAlign.Center).Renderer("renderShift"),
            Html.X().Column().Text("Thứ năm").Flex(1).DataIndex("Thursday").Align(ColumnAlign.Center).Renderer("renderShift"),
            Html.X().Column().Text("Thứ sáu").Flex(1).DataIndex("Friday").Align(ColumnAlign.Center).Renderer("renderShift"),
            Html.X().Column().Text("Thứ bảy").Flex(1).DataIndex("Saturday").Align(ColumnAlign.Center).Renderer("renderShift"),
            Html.X().Column().Text("Chủ nhật").Flex(1).DataIndex("Sunday").Align(ColumnAlign.Center).Renderer("renderShift")
            )
        .SelectionModel(
        Html.X().RowSelectionModel().Mode(SelectionMode.Single)
        )
        .View(Html.X().GridView().MarkDirty(false))
        ),
    Html.X().Container()
        .Height(370)
        .Margin(1)
        .Layout(LayoutType.HBox)
        .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
        .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
        .StyleSpec("border: none;")
        .Items(
        Html.X().Panel()
            .Width(250)
            .MarginSpec("0 5 0 0")
            .Title("<b>LOẠI LỊCH</b>")
            .UIName("idas_default")
            .TitleAlign(TitleAlign.Center)
            .Html(@<text>
                <ul class='gnt-calendar-legend'>
                    @for (int i = 1; i <= 4; i++)
                    {
                        var name = "";
                        if (i == 1)
                        {
                            name = "Ngày làm việc bình thường";
                        }
                        else if (i == 2)
                        {
                            name = "Ngày làm việc thay đổi";
                        }
                        else if (i == 3)
                        {
                            name = "Ngày nghỉ";
                        }
                        else
                        {
                            name = "Ngày lễ";
                        }
                        <li class='gnt-calendar-legend-item'>
                            <a class='gnt-calendar-legend-itemstyle box-@i'></a>
                            <span class='gnt-calendar-legend-itemname'>@name</span>
                            <div style='clear:both'></div>
                        </li>
                    }
                </ul>
            </text>),
            Html.X().Panel()
                .Title("<b>NỘI DUNG LỊCH</b>")
                .MarginSpec("0 5 0 0")
                .TitleAlign(TitleAlign.Center)
                .Layout(LayoutType.HBox)
                .UIName("idas_default")
                .BodyPadding(5)
                .Defaults(Html.X().Parameter().Name("margin").Value("0 0 0 0").Mode(ParameterMode.Value))
                .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Top })
                .Items(
                    Html.X().DatePicker()
                    .Flex(1)
                    .ID("datePicker")
                    .Listeners(ls =>
                    {
                        ls.Move.Handler = "ReloadHighLight();";
                        ls.Select.Handler = "getInfoSelectDate(this.value);";
                    })
                ),
            Html.X().Panel()
                    .BodyPadding(0)
                    .Flex(2)
                    .MarginSpec("0 0 0 0")
                    .ID("titleInfo")
                    .Layout(LayoutType.VBox)
                    .Defaults(Html.X().Parameter().Name("margin").Value("0 0 0 0").Mode(ParameterMode.Value))
                    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                    .Title("<b>THÔNG TIN CHI TIẾT</b>")
                    .UIName("idas_default")
                    .AutoScroll(true)
                    .TitleAlign(TitleAlign.Center)
                    .Items(
                Html.X().FormPanel()
                        .Layout(LayoutType.HBox)
                        .Defaults(Html.X().Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
                        .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Top })
                        .Border(false)
                        .Height(100)
                        .ID("frCalendarDayOverride")
                        .BodyPadding(5)
                        .Items(
                            Html.X().Container()
                            .Width(110)
                            .Padding(0)
                            .MarginSpec("0 0 0 0")
                            .Items(
                            Html.X().RadioGroup()
                                    .HideLabel(true)
                                    .MarginSpec("-5 0 0 0")
                                    .ID("rdWorkingDay")
                                    .ColumnsNumber(1)
                                    .AutomaticGrouping(false)
                                    .Items(
                                            Html.X().Radio().Name("IsWorkingDay").InputValue("true").ID("chkWokingDay").BoxLabel("Ngày làm việc"),
                                            Html.X().Radio().Name("IsWorkingDay").InputValue("false").ID("chkNotWokingDay").BoxLabel("Ngày nghỉ")
                                        ),
                            Html.X().Checkbox().ID("chkHoliday").Name("IsHoliday").BoxLabel("Ngày lễ").HideLabel(true).MarginSpec("-2 0 0 0")
                            ),
                            Html.X().TextArea()
                                .ID("txtNoteDayOverride")
                                .MarginSpec("0 5 0 5")
                                .EmptyText("Nội dung ghi chú").Name("Note").Flex(4).Height(80).HideLabel(true),
                            Html.X().Hidden().ID("hdfDayOverrideID").Name("Id"),
                            Html.X().DateField().ID("dateOveride").Name("Date").Format("dd/MM/yyyy").SelectedDate(DateTime.Now).Hidden(true),
                            Html.X().Button()
                                .Text("Lưu")
                                .IconCls("x-fa fa-floppy-o")
                                .DirectEvents(de =>
                                {
                                    de.Click.Before = @"if (!App.frCalendarDayOverride.getForm().isValid()) { return false; } ";
                                    de.Click.ExtraParams.Add(new { CalendarID = new JRawValue("App.ComboBoxCalendar.value") });
                                    de.Click.ExtraParams.Add(new { IsWorkingDay = new JRawValue("App.rdWorkingDay.getValue()['IsWorkingDay']") });
                                    de.Click.ExtraParams.Add(new { IsHoliday = new JRawValue("App.chkHoliday.value") });
                                    de.Click.Url = Url.Action("Update", "CalendarOverrideDay");
                                    de.Click.FormID = "frCalendarDayOverride";
                                    de.Click.Success = @"if(result!=null){
                                    App.hdfDayOverrideID.setValue(result.result.Id);
                                        if(result.result.IsWorkingDay)
                                            {
                                            App.btnAddDayOverrideShift.setDisabled(false);
                                            }
                                        ReloadHighLight();
                                    }
                                    else{updateErrorMessage();}";
                                })
                            //Html.X().Button()
                            //    .Text("Xóa")
                            //    .IconCls("x-fa fa-floppy-o")
                            //    .DirectEvents(de =>
                            //    {
                            //        de.Click.Before = @"if (!App.frCalendarDayOverride.getForm().isValid()) { return false; } ";
                            //        de.Click.ExtraParams.Add(new { CalendarID = new JRawValue("App.ComboBoxCalendar.value") });
                            //        de.Click.ExtraParams.Add(new { IsWorkingDay = new JRawValue("App.rdWorkingDay.getValue()['IsWorkingDay']") });
                            //        de.Click.ExtraParams.Add(new { IsHoliday = new JRawValue("App.chkHoliday.value") });
                            //        de.Click.Url = Url.Action("Update", "CalendarOverrideDay");
                            //        de.Click.FormID = "frCalendarDayOverride";
                            //        de.Click.Success = @"if(result!=null){
                            //        App.hdfDayOverrideID.setValue(result.result.Id);
                            //            if(result.result.IsWorkingDay)
                            //                {
                            //                App.btnAddDayOverrideShift.setDisabled(false);
                            //                }
                            //            ReloadHighLight();
                            //        }
                            //        else{updateErrorMessage();}";
                            //    })
                                ),
                Html.X().GridPanel()
                            .ID("gpCalendarDayOverrideShift")
                            .Header(false)
                            .Split(false)
                            .Border(true)
                            .Flex(1)
                            .MarginSpec("-8 -1 -2 -1")
                            .Expand(true)
                            .ColumnLines(true)
                            .RowLines(true)
                            .Collapsible(false)
                            .TopBar(
                            Html.X().Toolbar()
                                .Items(
                                    Html.X().Button()
                                        .Text("Thêm ca làm việc")
                                        .IconCls("x-fa fa-calendar-plus-o")
                                        .Disabled(true)
                                        .ID("btnAddDayOverrideShift")
                                        .Handler("showCalendarDayOverrideShift"),
                                    Html.X().Button()
                                        .Text("Chi tiết")
                                        .Disabled(true)
                                        .IconCls("x-fa fa-search")
                                        .ID("btnUpdateCalendarDayOverrideShift")
                                        .Handler("showInfoCalendarDayOverrideShift(this.up('grid').selModel.getSelection()[0]);")
                                    )
                                )
                                .Store(Html.X().Store()
                                    .ID("stCalendarDayOverride")
                                    .Proxy(Html.X().AjaxProxy()
                                    .Url(Url.Action("GetDataDayOverride", "Calendar"))
                                    .Reader(Html.X().JsonReader().RootProperty("data")))
                                    .Parameters(ps =>
                                    {
                                        ps.Add(new StoreParameter("calendarId", "App.ComboBoxCalendar.getValue()", ParameterMode.Raw));
                                        ps.Add(new StoreParameter("date", "App.dateOveride.getValue()", ParameterMode.Raw));
                                    })
                                    .RemoteSort(true)
                                    .AutoLoad(true)
                                    .RemotePaging(true)
                                    .PageSize(20)
                                    .Sorters(Html.X().DataSorter().Property("Id")
                                    .Direction(Ext.Net.SortDirection.DESC))
                                    .Model(
                                    Html.X().Model()
                                        .Fields(
                                                new ModelField("Id", ModelFieldType.Auto),
                                                new ModelField("CalendarId", ModelFieldType.Auto),
                                                new ModelField("StartTimeText", ModelFieldType.String),
                                                new ModelField("EndTimeText", ModelFieldType.String),
                                                new ModelField("IsOverTime", ModelFieldType.Boolean),
                                                new ModelField("IsWeekShift", ModelFieldType.Boolean),
                                                new ModelField("Note", ModelFieldType.String)
                                                )
                                        )
                                    )
                                    .ColumnModel(
                                        Html.X().RowNumbererColumn().Text("STT").Align(ColumnAlign.Center).Width(40),
                                        Html.X().Column().Text("Bắt đầu vào ca").Flex(1).DataIndex("StartTimeText").Align(ColumnAlign.Center),
                                        Html.X().Column().Text("Kết thúc ca").Flex(1).DataIndex("EndTimeText").Align(ColumnAlign.Center),
                                        Html.X().CheckColumn().Editable(false).Text("Ca làm thêm").Width(110).DataIndex("IsOverTime")
                                    )
                                    .SelectionModel(
                                        Html.X().RowSelectionModel()
                                            .Mode(SelectionMode.Single)
                                            .Listeners(ls => ls.SelectionChange.Handler = "checkMenuStatus();")
                                    )
                                    .View(Html.X().GridView().EnableTextSelection(true)
                                    .GetRowClass(cls => cls.Fn = "getRowClass")
                                    )
                                )
                            )
                    )
        )
<style>
    .highlight {
        background-color: #00ffff;
    }
    .weekend {
        color: blue !important;
    }
    .box-1 {
        background-color: #fff;
    }
    .box-2 {
        background-color: red;
    }
    .box-3 {
        background-color: #4cff00;
    }
    .box-4 {
        background-color: yellow;
    }
    .boldtext {
        font-weight: bold;
    }
    .gnt-calendar-legend {
        padding: 10px;
        border: none;
    }
    .gnt-calendar-legend li {
        margin-bottom: 10px;
        list-style: none outside none;
    }
    .gnt-calendar-legend-itemstyle {
        width: 35px;
        height: 30px;
        line-height: 21px;
        text-align: center;
        border: solid 1px #ccc;
        float: left;
    }
    .gnt-calendar-legend-itemname {
        display: block;
        float: left;
        margin-left: 10px;
        padding-top: 7px;
        white-space: nowrap;
    }
    .x-datepicker-eventdate {
        background-color: #E69390;
    }
    .bold-text {
        font-weight: bold;
    }
</style>
<script>
    Ext.onReady(function () {
        var dates = new Array(), calendarId = App.ComboBoxCalendar != null ? App.ComboBoxCalendar.getValue() : '';
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("GetDateHighLight", "Calendar", new { Area = "Task" }, null))',
            params: { calendarId: calendarId },
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    dates.push(result[i]);
                }
                App.datePicker.highlightDates(dates);
            }
        });
    });
    Ext.override(Ext.DatePicker, {
        highlightDates: function (result, cssClass) {
            var css = cssClass || 'x-datepicker-eventdate';
            var cells = this.getEl().select('div.x-datepicker-date');
            for (var c = 0; c < cells.elements.length; c++) {
              var  cell = Ext.fly(cells.elements[c]);
              var dayofweek = new Date(cell.dom.dateValue).getDay();
                if (dayofweek == 6 || dayofweek == 0) {
                    cell.addCls('weekend');
                    cell.dom.title = 'Ngày cuối tuần';
                }
                for (var i = 0; i < result.length; i++) {
                    if (cell.dom.dateValue == new Date(result[i].Date).getTime()) {
                        cell.addCls(css + result[i].StyleID);
                        cell.dom.title = result[i].Title!=null?result[i].Title:'Ngày đã thay đổi';
                        break;
                    }
                }
            }
        }
    });
    var ReloadHighLight = function () {
        $("div[class*=box]").removeClass(function (index, css) { return (css.match(/\bbox-\S+/g) || []).join(' '); });
        var dates = new Array();
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("GetDateHighLight", "Calendar", new { Area = "Task" }, null))',
            params: { calendarId: App.ComboBoxCalendar.getValue() },
            success: function (result) {
                App.datePicker.highlightDates(result, 'box-');
            }
        });
    };
    var checkMenuStatus = function () {
        var records = App.gpCalendarDayOverrideShift.selModel.getSelection();
        switch (records.length) {
            case 0:
                App.btnUpdateCalendarDayOverrideShift.setDisabled(true);
                break;
            case 1:
                App.btnUpdateCalendarDayOverrideShift.setDisabled(false);
                break;
            default:
                App.btnUpdateCalendarDayOverrideShift.setDisabled(true);
                break;
        }
    };
    var showInfoCalendarDayOverrideShift = function (record) {
        if (!record.data.IsWeekShift) {
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("UpdateCalendarDayOverrideShiftWindow", "Calendar", new { Area = "Task" }, null))',
                params: { calendarDayOverrideShiftId: record.data.Id }
            });
        } else {
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("ViewCalendarWeekShiftWindow", "CalendarWeekShift", new { Area = "Task" }, null))',
                params: { id: record.data.Id }
            });
        }
    };
    var getRowClass = function (record, index, rowParams, ds) {
        if (record.data.IsWeekShift) {
            return "highlight";
        };
    };
    var renderShift = function (value, metaData, record, rowIndex, columnIndex, store, view) {
        metaData.style = 'color: blue';
        var column = view.getHeaderAtIndex(columnIndex);
        var dataIndex = column.dataIndex;
        return template = Ext.String.format('<a class=\'a-grid-cell\' style=\'cursor: pointer;\' title=\'{0}\' onclick =\'showUpdateShift("{1}","{2}")\'>{0}</a>', value == '' ? "-------" : value, record.data.RowID, dataIndex);
    };
    var showUpdateShift = function (rowId, dayType) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("UpdateCalendarWeekShiftWindow", "CalendarWeekShift", new { Area = "Task" }, null))',
            params: { rowId: rowId, dayType: dayType }
        });
    };
    var showCalendarWeekShift = function () {
        var calendarId = App.ComboBoxCalendar.getValue();
        if (calendarId != '' && calendarId != null) {
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("Form", "CalendarWeekShift", new { Area = "Task" }, null))',
                params: { calendarId: calendarId }
            });
        } else {
            notRecordSelectedMessage();
        }
    };
    var showCalendarDayOverrideShift = function () {
        var calendarId = App.ComboBoxCalendar.getValue();
        if (calendarId != '' && calendarId != null) {
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("ShowCalendarDayOverrideShift", "Calendar", new { Area = "Task" }, null))',
                params: { calendarDayOverrideId: App.hdfDayOverrideID.value }
            });
        } else {
            notRecordSelectedMessage();
        }
    };

    function setInfoCalendarDayOverride(value) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("GetDateOverride", "Calendar", new { Area = "Task" }, null))',
            params: { calendarId: App.ComboBoxCalendar.getValue(), date: Ext.Date.format(value, 'm/d/Y g:i A') },
            success: function (result) {
                if (result.Id != null) {
                    App.hdfDayOverrideID.setValue(result.Id);
                    App.chkNotWokingDay.setValue(!result.IsWorkingDay);
                    App.chkWokingDay.setValue(result.IsWorkingDay);
                    App.chkHoliday.setValue(result.IsHoliday);
                    App.txtNoteDayOverride.setValue(result.Note);
                    if (result.IsWorkingDay) {
                        App.btnAddDayOverrideShift.setDisabled(false);
                    } else {
                        App.btnAddDayOverrideShift.setDisabled(true);
                    }
                }
                else {
                    App.hdfDayOverrideID.reset();
                    App.chkNotWokingDay.setValue(false);
                    App.chkWokingDay.setValue(false);
                    App.chkHoliday.reset();
                    App.txtNoteDayOverride.reset();
                    App.btnAddDayOverrideShift.setDisabled(true);
                }
            }
        });
    };
    var getInfoSelectDate = function (value) {
        setInfoCalendarDayOverride(value);
        var t = '';
        var d = new Date(value);
        var day = d.getDay();
        switch (day) {
            case 0: t = "Chủ Nhật";
                break;
            case 1: t = "Thứ Hai";
                break;
            case 2: t = "Thứ Ba";
                break;
            case 3: t = "Thứ Tư";
                break;
            case 4: t = "Thứ Năm";
                break;
            case 5: t = "Thứ Sáu";
                break;
            case 6: t = "Thứ Bảy";
                break;
        }
        App.titleInfo.setTitle("<b>THÔNG TIN CHI TIẾT: " + t + " ngày " + Ext.Date.format(value, 'd/m/Y')+"</b>");
        App.dateOveride.setValue(value);
        App.stCalendarDayOverride.reload();
    };
</script>