﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentRequestBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.WindowFormat().Modal(false).Padding(0).BodyPadding(0).Title("Đề nghị viết mới").IconCls("x-fa fa-pencil").ID("windowRequestWriteBySuggest")
    .Listeners(
            ls =>
            {
                ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth()*2/3); this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
                ls.BeforeClose.Handler = "App.windowCompilation.el.slideOut('r',{duration : 500}); return false;";
            })
    .Items(
            X.PanelHbox().BodyPadding(0).Flex(1).Border(false).Header(false).Frame(true).StyleSpec("border: none;")
            .Items(
                X.ContainerVBox().Padding(3).MarginSpec("0 0 0 0").Flex(1).Items(
                X.FieldSetVBox().Title("Thông tin đề nghị").Flex(1)
                  .Items(
                    X.TextFieldFor(m => m.Suggest.Name).EmptyText(Resource.DocumentName).HideLabel(true).Note(Resource.DocumentName).NoteAlign(NoteAlign.Top).ReadOnly(true).MarginSpec("0 3 0 3"),
                    X.TextFieldFor(m => m.Document.DepartmentName).EmptyText("Phòng ban").HideLabel(true).Note("Phòng ban").NoteAlign(NoteAlign.Top).ReadOnly(true).MarginSpec("5 3 5 3"),
                    X.TextAreaFor(m => m.Suggest.Description).Flex(1).HideLabel(true).EmptyText("Nội dung đề nghị").Note("Nội dung đề nghị").NoteAlign(NoteAlign.Top).MarginSpec("5 3 0 3").ReadOnly(true),
                    X.ContainerHBox().MarginSpec("5 3 3 3").Items(
                        X.DateFieldFor(m => m.Suggest.EstimateAt).Flex(1).MarginSpec("5 5 0 0").HideLabel(true).Note("Ngày hoàn thành").NoteAlign(NoteAlign.Top).EmptyText("Ngày hoàn thành").Note("Ngày hoàn thành").NoteAlign(NoteAlign.Top).ReadOnly(true).Format("dd/MM/yyyy"),
                    X.DateFieldFor(m => m.Suggest.SuggestAt).Flex(1).MarginSpec("5 0 0 5").HideLabel(true).Note("Ngày ngày đề nghị").NoteAlign(NoteAlign.Top).EmptyText("Ngày đề nghị").Note("Ngày đề nghị").NoteAlign(NoteAlign.Top).ReadOnly(true).Format("dd/MM/yyyy")
                    )),
                    X.FieldSetVBox().Padding(3).MarginSpec("0 2 0 2").Title("Trách nhiệm liên quan")
                    .Items(
                        X.GridPanel().Title("Danh sách trách nhiệm liên quan").ID("grRoleRelationship").Header(false).IconCls("x-fa fa-users").Border(true).MinHeight(200).MarginSpec("0 2 1 2")
                        .Store(
                            X.StoreFormat().AutoLoad(true).Model(X.Model().IDProperty("Id")
                            .Fields(
                                    new ModelField("Id", ModelFieldType.String),
                                    new ModelField("EmployeeApprove", ModelFieldType.Auto),
                                    new ModelField("RoleText", ModelFieldType.String),
                                    new ModelField("ApproveNote", ModelFieldType.String)
                            ))
                            .Url(Url.Action("GetEmployeeRelation", "Assign", new { Area = "Document" }))
                            .Parameters(ps => ps.Add(new StoreParameter("suggestId", Model.DocumentSuggestId.ToString(), ParameterMode.Value)))
                            )
                            .ColumnModel(
                                X.RowNumbererColumnFormat().Align(ColumnAlign.Center),
                                X.Column().Text("Người liên quan").Flex(1).CellWrap(true).Renderer(new Renderer { Fn = "renderActorComlumn" }).Width(200),
                                X.ColumnEncodeFormat().DataIndex("RoleText").Align(ColumnAlign.Center).Text("Trách nhiệm").Width(110).CellWrap(true),
                                X.Column().DataIndex("ResultText").Align(ColumnAlign.Center).Text("Kết quả").Width(100).CellWrap(true)
                            )
                            .EmptyText(@"<div style='text-align:center'><div class='emptyClass'></div><div style='font-size: 0.9em'>Không có trách nhiệm liên quan nào </div></div>")
                            .Plugins(
                                X.RowExpander().TemplateHtml(@"<p style='margin-left:10px; margin-right:10px; font-size:12px; text-align: justify;'><b><i>Nhận xét: </i></b>{ApproveNote}</p>")
                            ))
                ),
            X.FieldSetVBox().Title("Thông tin yêu cầu soạn thảo").Padding(3).MarginSpec("3 5 3 0").Flex(1)
            .Items(
                X.FormPanelVBoxFormat().ID(formId)
                    .Items(
                        X.HiddenFor(m => m.NewRequest.TypeCompile).Value(true),
                        X.HiddenFor(m => m.NewRequest.Id),
                        X.HiddenFor(m => m.NewRequest.ParentId),
                        X.HiddenFor(m => m.NewRequest.RequestSource),
                        X.HiddenFor(m => m.NewRequest.TypeWrite).Value(Model.TypeWrite),
                        X.HiddenFor(m => m.NewRequest.TypeAdjust).Value(Model.TypeAdjust),
                        X.HiddenFor(m => m.NewRequest.DocumentId),
                        X.HiddenFor(m => m.NewRequest.DepartmentId).Value(Model.DepartmentId),
                        X.TextAreaDecodeFor(m => m.NewRequest.Note).Flex(1).HideLabel(true).EmptyText("Nội dung yêu cầu soạn thảo").Note("Nội dung yêu cầu soạn thảo").NoteAlign(NoteAlign.Top).MarginSpec("7 2 0 2"),
                        X.FileUploadFieldFor(m => m.NewRequest.FileAttachs).ID("fileNewRequestAttachment").MarginSpec("12 2 0 2").Note("Đính kèm"),
                        X.ContainerHBox().MarginSpec("0 0 0 0").Items(
                            X.DateFieldFor(m => m.NewRequest.StartAt).Flex(1).HideLabel(true).EmptyText("Ngày bắt đầu").Note("Ngày bắt đầu").NoteAlign(NoteAlign.Top).MarginSpec("0 0 0 3").FormatText("dd/MM/yyyy").Format("dd/MM/yyyy"),
                            X.DateFieldFor(m => m.NewRequest.EndAt).MarginSpec("0 3 0 5").Flex(1).HideLabel(true).EmptyText("Ngày kết thúc").Note("Ngày kết thúc").NoteAlign(NoteAlign.Top).FormatText("dd/MM/yyyy").Format("dd/MM/yyyy")
                        ),
                        X.FieldSet().Padding(3).MarginSpec("0 2 0 2").Title("Người soạn thảo").Items(
                        X.DocumentEmployeeFieldFor(m => m.NewRequest.EmployeePerform,
                        iDAS.Service.Common.Resource.DocumentTypeProcess.WriteAndRelation,
                        departmentId: Model.DepartmentId.ToString(),
                        setHidden: true,
                        startRole: iDAS.Service.Common.Resource.DocumentProcessRole.AssignmentWriteAndEdit).MarginSpec("3 2 3 2")
                ))))
                )
           .Buttons(
                X.Button().ID("btnTransfer").Text("Chuyển phân công").IconCls("x-fa fa-refresh").Hidden(Model.NewRequest.IsSend == true).OnClientClick("onTransfer(this.up('window').id, this.id);"),
                    X.Button().ID("btnDestroy").Text("Hủy").IconCls("x-fa fa-recycle").Hidden(Model.NewRequest.IsSend != true)
                    .DirectEvents(
                                de =>
                                {
                                    de.Click.Method = HttpMethod.POST;
                                    de.Click.Confirmation.ConfirmRequest = true;
                                    de.Click.Confirmation.Message = Resource.ConfirmDestroy;
                                    de.Click.Confirmation.Title = Resource.Confirm;
                                    de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
                                    de.Click.Before = "this.up('window').down('#loadMask').show(); this.up('window').down('#loadMaskEmpty').hide(); this.setDisabled(true);";
                                    de.Click.Url = Url.Action("Destroy", "Assign");
                                    de.Click.ExtraParams.Add(new { id = Model.NewRequest.Id });
                                    de.Click.Success = "App.storeAssignment.reload(); this.up('window').doDestroy();";
                                }),
                    X.Button().ID("btnRevert").Text("Thu hồi").IconCls("x-fa fa-reply").Hidden(Model.NewRequest.IsSend != true)
                    .DirectEvents(
                                de =>
                                {
                                    de.Click.Method = HttpMethod.POST;
                                    de.Click.Confirmation.ConfirmRequest = true;
                                    de.Click.Confirmation.Message = Resource.ConfirmRevert;
                                    de.Click.Confirmation.Title = Resource.Confirm;
                                    de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
                                    de.Click.Before = "this.up('window').down('#loadMask').show(); this.up('window').down('#loadMaskEmpty').hide(); this.setDisabled(true);";
                                    de.Click.Url = Url.Action("Revert", "Assign");
                                    de.Click.ExtraParams.Add(new { id = Model.NewRequest.Id });
                                    de.Click.Success = "App.storeAssignment.reload(); WindowSlideOut(this.up('window'));";
                                }),
                    X.ButtonSend().FormID(formId).Hidden(Model.NewRequest.IsSend == true)
                    .DirectEvents(de =>
                    {
                        de.Click.Url = Url.Action("Send", "Assign");
                        de.Click.Success = "App.storeAssignment.reload(); WindowSlideOut(this.up('window'));";
                    }),
                        X.ButtonSave().FormID(formId).Hidden(Model.NewRequest.IsSend == true)
                    .DirectEvents(de =>
                    {
                        de.Click.Url = Url.Action("Save", "Assign");
                    }),
                    X.ButtonExit()
           )
)
<script>
    var onTransfer = function (containerId, btnId) {

        var fromWindow = 'windowRequestWriteBySuggest';
        var requestId = '@Model.Id';
        var roleType = '@((int) iDAS.Service.Common.Resource.DocumentProcessRole.AssignmentWriteAndEdit)';
        var departmentId = '@Model.DepartmentId';
        var params = {
            requestId: requestId,
            containerId: containerId,
            alignTo: btnId,
            fromWindow: fromWindow,
            roleType: roleType,
            departmentId: departmentId
        };
        var url = '@Url.Action("Form", "Transfer")';
        onDirectMethod(url, params);
    };


    var renderActorComlumn = function (value, meta, record) {
        var title = '<span style="margin-left: 44px;font-size:10px;">Tổng giám đốc</span></span>';
        var result = record.data.Name;
        if (record.data.EmployeeSend != null) {
            var image = '<img src="' + record.data.EmployeeSend.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
            var name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.EmployeeSend.Name) + '</span><br/>';
            result = '<span>' + image + name + title + '</span>';
        }
        return result;
    };
</script>