﻿@using Ext.Net.MVC
@using Ext.Net
@model System.Collections.IEnumerable
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var X = Html.X();
}
@(X.Viewport()
    .Layout(LayoutType.Fit)
    .Items(
        X.GridPanel()
            .ID("grAuditTick")
            .Border(false)
            .ColumnLines(true)
            .TopBarItem(
                //X.Button().Text("Chi tiết").IconCls("x-fa fa-info-circle").ID("btnDetail").Handler("showFormDetail();"),
                X.ButtonRefreshPanel()
            )
            .Store(
                X.Store()
                .ID("stMnPhaseAudit")
                .Proxy(X.AjaxProxy().Url(Url.Action("GetData", "ProfileWorkTrialAuditEmployee", new { Area = "Organization" })).Reader(X.JsonReader().RootProperty("data")))
                .RemoteSort(true)
                .RemotePaging(true)
                .Model(
                    X.Model().IDProperty("Id")
                    .Fields(
                        X.ModelField().Name("Id"),
                        X.ModelField().Name("EmployeeTrialName"),
                        X.ModelField().Name("TitleName"),
                        X.ModelField().Name("Status").Type(ModelFieldType.Boolean)
                        )
                    )
            )
            .ColumnModel(
                X.RowNumbererColumnFormat(),
                X.Column().Text("Tên nhân viên").DataIndex("EmployeeTrialName").Flex(1),
                X.Column().DataIndex("TitleName").Text("Chức danh").Width(280),
                X.BooleanColumn().Text("Trạng thái").DataIndex("AuditStatus").Width(170).Align(ColumnAlign.Center)
                    .TrueText("<div style='color: green;'>Tự đánh giá</div>")
                    .FalseText("<div style='color: red;'>Quản lý đánh giá</div>"),
                X.CommandColumn()
                    .Width(110)
                    .Text("Thực hiện")
                    .Align(ColumnAlign.Center)
                    .Commands(
                        X.GridCommand()
                            .Text("Đánh giá")
                            .Icon(Icon.User)
                            .CommandName("Answer"),
                        X.GridCommand()
                            .Icon(Icon.ZoomIn)
                            .CommandName("Detail")
                            .Text("Xem")
                    )
                    .Filterable(true).PrepareToolbar("prepare")
                    .Listeners(ls => ls.Command.Handler = "Audit(command,record);")

            )
            .SelectionModel(
                X.RowSelectionModel()
                    .Mode(SelectionMode.Single)
                        .Listeners(l =>
                        {
                            l.Select.Handler = "checkStatus()";
                        })
                )
        .BottomBar(X.PagingToolbarFormat())
    )
)

<style type="text/css">
    .idas-focus {
        background-color: darkkhaki !important;
        opacity: 0.8;
    }
</style>
<script type="text/javascript">
    var prepare = function (grid, toolbar, rowIndex, record) {
        if (record.data.AuditStatus == false) {
            toolbar.items.getAt(0).hide();
        }
        else {
            toolbar.items.getAt(1).hide();
        }
    };
    var Audit = function (command, record) {
        if (command == "Answer") {
            AnswerAudit(record.data.Id);
        };
        if (command == "Detail") {
            Detail(record.data.Id);
        };
    };
    var showFormDetail = function () {
        var records = App.grAuditTick.selModel.getSelection();
        if (records.length == 0) {
            Ext.MessageBox.show({
                title: 'Cảnh báo', msg: 'Chưa có bản ghi nào được chọn!',
                buttons: { yes: 'Đồng ý' },
                iconCls: '#Exclamation',
                fn: function (btn) {
                    App.btnDetail.setDisabled(true);
                    return false;
                }
            });
        }
        else {
            var id = records[0].get('HumanAuditGradationID');
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("ShowDetail", "AuditGradation", new { Area = "Human" }, null))',
                params: { id: id }
            });
        };
    };
    var checkStatus = function () {
        var records = App.grAuditTick.selModel.getSelection();
        if (records.length > 0) {
            App.btnDetail.setDisabled(false);
        }
        else {
            App.btnDetail.setDisabled(true);
        }
    };

    var AnswerAudit = function (id) {
        var params = { id: id };
        onDirectMethod('@(Url.Action("AuditForm"))', params);
    };
    var Detail = function (id) {
        var params = { id: id };
        onDirectMethod('@(Url.Action("Detail"))', params);
    };
</script>