﻿@using Ext.Net;
@using Ext.Net.MVC;

@{
    var X = Html.X();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var employeeId = ViewData["EmployeeId"];
    var employeeName = (string)ViewData["EmployeeName"];
}

<script>
    var deleteUrl = '@(Url.Action("DeleteProfileAssess"))';
    function CheckStatus() {
        var records = App.GrProfileAssess.selModel.getSelection();
        if (records.length > 0) {
            App.btnUpdate.setDisabled(false);
            App.btnDelete.setDisabled(false);
        }
        else {
            App.btnUpdate.setDisabled(true);
            App.btnDelete.setDisabled(true);
        };
    };
    var AddNew = function () {
        var url = '@(Url.Action("UpdateForm", "ProfileAssess", new { Area = "Organization" }, null))';
        var params = {
            EmployeeID: App.hdfEmployeeID.value
        };
        onDirectMethod(url, params);
    };
    var UpdateItem = function () {
        var records = App.GrProfileAssess.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("UpdateForm", "ProfileAssess", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
    var ViewDetail = function () {
        var records = App.GrProfileAssess.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("DetailForm", "ProfileAssess", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
</script>
<style>
    .topbarItems {
        left: 0px !important;
    }

    .topbarName {
        font-weight: bold;
        font-size: 16px;
    }
</style>

@(Html.X().Viewport().Layout(LayoutType.Fit).Border(false).Margin(0).Frame(false)
    .Items(
 Html.X().FormPanel()
    .Layout(LayoutType.Fit)
    .Frame(false)
    .Border(false)
       .Padding(0)
    .StyleSpec("border: none;")
    .FieldDefaults(df => df.LabelWidth = 100)
    .DefaultAnchor("100%")
    .Items(
            Html.X().GridPanel()
                    .Header(false)
                    .ID("GrProfileAssess")
                    .ColumnLines(true)
                    .Border(false)
                    .ForceFit(true)
                    .Icon(Icon.TextListBullets)
                    .TopBar(
                        Html.X().Toolbar()
                        .Layout(LayoutType.VBox)
                        .Items(
                            X.ContainerHBox().Cls("topbarItems").Items(
                                X.Hidden().ID("hdfEmployeeID").Value(ViewData["EmployeeId"]),
                                X.Button().ID("btnCreate").Text("Thêm mới").IconCls("x-fa fa-plus-circle").Handler("AddNew();"),
                                X.Button().ID("btnUpdate").Text("Chi tiết").IconCls("x-fa fa-info-circle").Disabled(true).Handler("UpdateItem();"),
                                X.Button().ID("btnDelete").Text("Xóa").IconCls("x-fa fa-times-circle").Disabled(true).Handler("onDelete(App.GrProfileAssess.selModel.getSelection()[0].get('Id'));")
                            ),
                            X.ToolbarSpacer().Height(20),
                            X.Label().Cls("topbarItems topbarName").Text("Nhân viên: " + employeeName)
                        )
                    )
                    .Store(
                        Html.X().Store()
                            .ID("StoreProfileAssess")
                            .AutoLoad(true)
                            .RemotePaging(true)
                            .PageSize(20)
                            .Proxy(Html.X().AjaxProxy().Url(Url.Action("LoadProfileAssess")).Reader(Html.X().JsonReader().RootProperty("data")).IDParam("Id"))
                            .Parameters(ps =>
                            {
                                ps.Add(new StoreParameter("EmployeeID", "App.hdfEmployeeID.value", ParameterMode.Raw));
                            })
                            .Model(
                                Html.X().Model().Fields(
                                    Html.X().ModelField().Name("Id"),
                                    Html.X().ModelField().Name("StartDate"),
                                    Html.X().ModelField().Name("EndDate"),
                                    Html.X().ModelField().Name("Name"),
                                    Html.X().ModelField().Name("Score"),
                                    Html.X().ModelField().Name("Result"),
                                    Html.X().ModelField().Name("Note"),
                                    Html.X().ModelField().Name("Name")
                                )
                            )
                        )
                    .ColumnModel(
                                    Html.X().RowNumbererColumnFormat().DataIndex("Id").Text("STT").Width(50).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("Name").Text("Đợt đánh giá").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("Score").Text("Điểm").Width(100).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("Result").Text("Kết quả").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("Note").Text("Ghi chú").Width(300).StyleSpec("font-weight: bold;text-align: center")
                        )
                    .SelectionModel(Html.X().CheckboxSelectionModel().ShowHeaderCheckbox(false).Mode(SelectionMode.Single)
                                .Listeners(ls => ls.SelectionChange.Fn = "CheckStatus"))

                    .BottomBar(
                            Html.X().PagingToolbarFormat()
            )
        )
    )
)