﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model DocumentPublishBO
@{
    var X = Html.X();
    var departmentName = (string)ViewData["departmentName"];
    var departmentId = (Guid)ViewData["departmentId"];
}
@(X.WindowFormat()
    .IconCls("x-fa fa-pencil-square-o")
    .Height(480).Width(800)
    .BodyPadding(0)
    .Title("Danh sách tài liệu")
    .ID("windowContainerDocumentChoose")
    .Items(
        X.GridPanel()
        .ColumnLines(true)
        .RowLines(true)
        .Header(false)
        .Flex(1)
        .Resizable(false)
        .ID("gridDocumentControlChooseDocument")
        .Border(false)
        .TopBarItem(
            X.ComboboxTreeFormat().Multiple(false).Flex(1)
            .ID("cbChooseDepartment").Text(departmentName).Value(departmentId)
            .Listeners(ls =>
                    {
                        ls.Change.Handler = "App.gridDocumentControlChooseDocument.getStore().reload()";
                    }
                ),
            X.ToolbarFill(),
            X.TextField().EmptyText("Nhập từ khóa tìm kiếm theo tên hoặc mã tài liệu").IconCls("x-fa fa-search").Width(320).ID("txtSearchDocumentPublish")
                .Listeners(ls =>
                {
                    ls.Change.Handler = "App.gridDocumentControlChooseDocument.getStore().reload()";
                    ls.Change.Buffer = 50;
                })
            )
        .Store(
            X.StoreFormat()
            .ID("storeDocumentControlDocumentChoose")
            .AutoLoad(true)
            .Url(Url.Action("GetDocumentPublishForDistributeSuggest", "DistributeSuggest", new { Area = "Document" }))
            .Parameters(pr =>
                {
                    pr.Add(new StoreParameter("filter", "App.txtSearchDocumentPublish.getValue()", ParameterMode.Raw));
                    pr.Add(new StoreParameter("departmentId", "App.cbChooseDepartment.getValue()", ParameterMode.Raw));
                })
            )
        .ColumnModel(
            Html.X().RowNumbererColumn().Text("STT").Width(45).Align(ColumnAlign.Center),
            X.ColumnEncodeFormat().Text("Mã tài liệu").DataIndex(Model, m => m.DocumentCode).Width(100).Locked(true),
            X.ColumnEncodeFormat().Text("Tên tài liệu").DataIndex(Model, m => m.DocumentName).Width(300).Locked(true),
            X.Column().Text("Mức độ Mật").DataIndex(Model, m => m.DocumentSecurityName).Width(150)
                .Renderer(new Renderer { Fn = "function(value, meta, record) {return '<span><i style=\"background-color: '+ record.data.DocumentSecurityColor +'; width: 0.8em; height: 0.8em; margin-top: 4px; border-radius: 0.4em; -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset; border-radius: 50%; position: absolute;border: 0px solid\"></i><span style=\"margin-left: 20px;\">'+ Ext.htmlEncode(value) +'</span></span>'; }" }),
            X.Column().Text("Lần ban hành").DataIndex(Model, m => m.DocumentReversion).Width(150),
            X.DateColumn().Text("Ngày ban hành").DataIndex(Model, m => m.PublishAt).Width(150).Format("dd/MM/yyyy"),
            X.Column().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Width(150)
        ).BottomBar(X.PagingToolbarFormat())
        .SelectionModel(Html.X().CheckboxSelectionModel().Mode(SelectionMode.Single))
        )
        .Buttons(
            X.Button().Text("Chọn").IconCls("x-fa fa-pencil-square-o").Handler("onSelectDocumentInDocumentControl();this.up('window').close();"),
            X.ButtonExit()
        )
)
<script>
    var onSelectDocumentInDocumentControl = function () {
        var record = App.gridDocumentControlChooseDocument.selModel.getSelection();
        if (record != null) {
            var documentName = record[0].data.DocumentName;
            var documentCode = record[0].data.DocumentCode;
            var version = record[0].data.Document.Version;
            var sercurity = record[0].data.Document.SecurityId;
            App.txtDocumentPublishName.setValue(documentName);
            App.txtDocumentPublishCode.setValue(documentCode);
            App.txtDocumentPublishVersion.setValue(version);
            App.cbbDocumentPublishSercurity.setValue(sercurity);
            App.txtDocumentPublishDocumentId.setValue(record[0].data.Document.Id);
        }
    };

</script>
