﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@model DocumentDistributeSuggestBO
@{
    var X = Html.X();
    var lstStatusApprove = ViewData["StatusApprove"];
}
@(X.WindowFormat()
    .Width(800)
    .Height(550)
    .Title("Danh sách đề nghị phân phối")
    .IconCls("x-fa fa-list")
    .Items(
        X.ContainerVBox()
        .Padding(5)
        .Width(750)
        .Height(70)
        .Items(
            X.Label().Html("<p>- Dưới đây là danh sách những đề nghị phân phối mà bạn đã thực hiện<br/>- Đối với những đề nghị chưa được gửi duyệt có trạng thái “Mới” vui lòng nhấn vào chi tiết sau đó chọn người phê duyệt và nhập nội dung gửi và tiến hành gửi phê duyệt phân phối tài liệu</p>")
        ),
        X.GridPanelPaggingShortFormat()
        .ID("grDocumentDistributeSuggest")
        .Padding(3)
        .Border(true)
        .Flex(1)
        .TopBarItem(
            X.ButtonDetail()
            .ID("btnDetail")
            .DirectClickAction("Detail", "DistributeSuggest")
            .DirectEvents(de =>
            {
                de.Click.ExtraParams.Add(new { id = new JRawValue("this.up('grid').selModel.getSelection()[0].data.Id") });
                de.Click.ExtraParams.Add(new { documentId = new JRawValue("this.up('grid').selModel.getSelection()[0].data.DocumentId") });
                de.Click.ExtraParams.Add(new { type = 0 });
            }),
            X.ToolbarFill(),
            X.Label().Html("<span style='color:red;'>Kích đúp vào yêu cầu để xem chi tiết và thực hiện các nghiệp vụ liên quan</span>"),
            X.CycleButtonFormat().ID("cbStatusApprove").PrependText("Lọc theo trạng thái: ").MenuSource(lstStatusApprove)
            .Listeners(ls => ls.Change.Handler = "App.stDocumentDistributeSuggest.reload();")
        )
        .Store(
        X.StoreFormat()
        .AutoLoad(true)
        .ID("stDocumentDistributeSuggest")
        .Url(Url.Action("GetData", "DistributeSuggest", new { Area = "Document" }))
        .Parameters(ps =>
            {
                ps.Add(new StoreParameter("status", "App.cbStatusApprove.activeItem.itemId", ParameterMode.Raw));
            })
        .ModelType(typeof(DocumentDistributeSuggestBO))
        )
        .ColumnModel(
                X.RowNumbererColumnFormat(),
                X.Column().Text("Mã tài liệu").DataIndex(Model, m => m.DocumentCode).Width(100),
                X.ColumnEncodeFormat().Text("Tài liệu đề nghị phân phối").DataIndex(Model, m => m.DocumentName).Flex(1),
                X.DateColumn().Text("Ngày đề nghị").DataIndex(Model, m => m.CreateAt).Width(110).Format("dd/MM/yyyy HH:mm"),
                X.ColumnEncodeFormat().Text("Người phê duyệt").DataIndex(Model, m => m.ApproverName).Width(120),
                X.ColumnEncodeFormat().Text("Trạng thái").DataIndex(Model, m => m.StatusText).Width(100)
                ).Listeners(ls =>
                {
                    ls.SelectionChange.Handler = "grDocumentDistributeSuggest_SelectionChange();";
                    ls.RowDblClick.Handler = "showDetail(record)";
                })
          )
    .Buttons(
        X.ButtonExit()
    )
)
<script type="text/javascript">
    var grDocumentDistributeSuggest_SelectionChange = function () {
        var disabled = App.grDocumentDistributeSuggest.selModel.getSelection() == 0;
        App.btnDetail.setDisabled(disabled);
    };
    var showDetail = function (record) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Detail", "DistributeSuggest", new { Area = "Document" }, null))',
            params: { id: record.data.Id, documentId: record.data.DocumentId, type: 0 }
        });
    };
</script>


