﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Service;
@using iDAS.Presentation.Common;
@{
    var X = Html.X();
    var lstStatusApprove = ViewData["StatusApprove"];
}
@(X.Menu().ID("contextMenuDocumentDistributeSuggest")
 .Items(
    X.MenuItem().Text("Xem kết quả").IconCls("x-fa fa-info-circle").Handler("onDetailDistributeSuggest();"),
    X.MenuSeparator(),
    X.MenuItem().Text("Xóa").IconCls("x-fa fa-trash-o").Handler("onDeleteDistributeSuggest();")
    )
)
@(X.GridPanelFormat()
    .ID("gridListDistributeSuggest")
    .TopBarItem(
        Html.X().Button().Text("Thêm đề nghị phân phối").IconCls("x-fa fa-plus-circle")
        .DirectEvents(de =>
             {
                 de.Click.Url = Url.Action("Perform", "DistributeSuggest");
             }),
        Html.X().ToolbarFill(),
        Html.X().CycleButtonFormat().ID("cbStatusDistributeSuggest").PrependText("Lọc theo trạng thái đề nghị hủy: ").MenuSource(lstStatusApprove)
            .Listeners(ls => ls.Change.Handler = "App.storeListDistributeSuggest.reload();")
    )
    .BodyBorder(0)
    .BodyPadding(0)
    .Padding(0)
    .Margin(0)
    .Flex(1)
    .MarginSpec("-1 -1 -1 -1")
    .Border(true)
    .Store(
        X.StoreFormat()
        .ID("storeListDistributeSuggest")
        .AutoLoad(true)
        .Proxy(Html.X().AjaxProxy()
        .Url(Url.Action("GetData", "DistributeSuggest", new { Area = "Document" }))
        .Reader(Html.X().JsonReader().RootProperty("data")))
        .Parameters(ps =>
            {
                ps.Add(new StoreParameter("status", "App.cbStatusDistributeSuggest.activeItem.itemId", ParameterMode.Raw));
            })
        .Model(
            Html.X().Model()
            .IDProperty("Id")
            .Fields(
                new ModelField("Id", ModelFieldType.Auto),
                new ModelField("DocumentCode", ModelFieldType.String),
                new ModelField("DocumentName", ModelFieldType.String),
                new ModelField("CreateAt", ModelFieldType.Date),
                new ModelField("ApproverName", ModelFieldType.String),
                new ModelField("StatusText", ModelFieldType.String),
                new ModelField("ApproveUrl", ModelFieldType.String),
                new ModelField("ApproveTitle", ModelFieldType.String),
                new ModelField("DocumentId", ModelFieldType.String),
                new ModelField("IsExternal", ModelFieldType.Boolean),
                new ModelField("CategoryId", ModelFieldType.String)
                )
        )
    )
    .ColumnModel(
        Html.X().RowNumbererColumn().Text("STT").Width(45).Align(ColumnAlign.Center),
        Html.X().ColumnEncodeFormat().DataIndex("DocumentCode").Text("Mã tài liệu").CellWrap(true).Width(120)
            .Renderer(new Renderer { Fn = "renderDocumentCodeColumn" }),
        Html.X().ColumnEncodeFormat().DataIndex("DocumentName").Text("Tài liệu đề nghị phân phối").Flex(1).CellWrap(true)
            .Renderer(new Renderer { Fn = "renderDocumentNameColumn" }),
        Html.X().DateColumnFormat().DataIndex("CreateAt").Text("Ngày đề nghị").CellWrap(true).Width(110).Align(ColumnAlign.Center),
        Html.X().Column().DataIndex("ApproverName").Text("Người phê duyệt").Width(230).CellWrap(true)
            .Renderer(new Renderer { Fn = "renderApproverComlumn" }),
        Html.X().ColumnEncodeFormat().DataIndex("StatusText").Text("Trạng thái").Width(120).CellWrap(true).Align(ColumnAlign.Center)
    )
    .Listeners(ls =>
        {
            ls.SelectionChange.Handler = "refreshMenuDocumentDistributeSuggest(selected);";
            ls.BeforeItemContextMenu.Fn = "itemContextMenuDistributeSuggest";
        })
)
<script>
    var renderApproverComlumn = function (value, meta, record) {
        var title = '<span style="margin-left: 40px;font-size:10px;">' + record.data.ApproveTitle + '</span></span>';
        var result = record.data.Name;
        var image = '<img src="' + record.data.ApproveUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 40px;">' + Ext.htmlEncode(record.data.ApproverName) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };

    var onDetailDistributeSuggest = function () {
        var records = App.gridListDistributeSuggest.selModel.getSelection();
        if (records.length > 0) {
            var id = records[0].data.Id;
            var params = { id: id };
            var url = '@Url.Action("UserDistributeSuggest", "DistributeSuggest")';
            onDirectMethod(url, params);
        }
    };

    var onDeleteDistributeSuggest = function () {
        var records = App.gridListDistributeSuggest.selModel.getSelection();
        if (records.length > 0) {
            var status = records[0].data.StatusText;
            var id = records[0].data.Id;
            if (status == '@iDAS.Service.Common.Resource.ApproveStatusText.Wait') {
                ShowMessageWhenDelete();
            }
            else {
                Ext.Msg.confirm('@iDAS.Presentation.Common.Resource.Confirm', '@iDAS.Presentation.Common.Resource.ConfirmDelete', function (result) {
                    if (result == 'yes') {
                        var params = { id: id };
                        var url = '@Url.Action("Delete", "DistributeSuggest")';
                        onDirectMethod(url, params);
                        App.gridListDistributeSuggest.deleteSelected();
                    }
                });
            }
        }
    };

    var refreshMenuDocumentDistributeSuggest = function (selected) {

    };

    var itemContextMenuDistributeSuggest = function (grid, record, item, index, e, eOpts) {
        e.stopEvent();
        App.contextMenuDocumentDistributeSuggest.showAt(e.getX() - 307, e.getY() - 90);
    };

    var ShowMessageWhenDelete = function (value) {
        var msg = "Đề nghị đã được gửi duyệt, bạn không thể xóa đề nghị!";
        if (value == "UpdateError") {
            msg = "Có lỗi trong quá trình cập nhật dữ liệu!";
        };
        Ext.MessageBox.show({
            title: 'Thông báo', msg: msg,
            buttons: { yes: 'Đồng ý' },
            iconCls: '#Exclamation'
        });
    };

    var renderDocumentNameColumn = function (value, meta, record) {        
        return Ext.String.format('<a class=\'a-grid-cell\' style=\'cursor: pointer;\' onclick =\'onViewInfoDocument("{1}")\'>{0}</a>', record.data.DocumentName, record.data.DocumentId);
    };

    var renderDocumentCodeColumn = function (value, meta, record) {
        return Ext.String.format('<a class=\'a-grid-cell\' style=\'cursor: pointer;\' onclick =\'onViewInfoDocument("{1}")\'>{0}</a>', record.data.DocumentCode, record.data.DocumentId);
    };

    var onViewInfoDocument = function (documentId) {
        var params = { documentId: documentId };
        var url = '@Url.Action("FormInfoDocument", "DistributeSuggest")';
        onDirectMethod(url, params);
    };
</script>