﻿@using Ext.Net;
@using Ext.Net.MVC;
@model System.Collections.IEnumerable

<script>
    var StatusRenderer = function (value) {
        return value == true ? "<span style=\"color:green\">Đã gửi</span>" : "<span style=\"color:red\">Chưa gửi</span>";
    };
    function CheckStatus() {
        var records = App.grHumanProfileWorkTrial.selModel.getSelection();
        if (records.length == 1) {
            SetEnabled(App.btnUpdate, App.btnDelete, App.btnSendTick);
            if (records[0].get('Status') == true)
                SetDisabled(App.btnSendTick, App.btnDelete);
            if (records[0].data.ManagerId == null)
                SetDisabled(App.btnSendTick);
        }
        else {
            SetDisabled(App.btnUpdate, App.btnDelete, App.btnSendTick);
        };
    };
    var AddNew = function () {
        var records = App.grHumanProfileWorkTrial.selModel.getSelection();
            var url = '@(Url.Action("UpdateForm"))';
        var params = {
                action: "add"
            };
            onDirectMethod(url, params);
    };
    var UpdateItem = function () {
        var records = App.grHumanProfileWorkTrial.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("UpdateForm"))';
            var params = {
                Id: records[0].get('Id'),
                action: "edit",
                Status: records[0].get('Status')
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        }
    };
    var ViewDetail = function () {
        var records = App.grHumanProfileWorkTrial.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("UpdateForm"))';
            var params = {
                Id: records[0].get('Id'),
                action: "view"
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        }
    };
    var ViewTaskEmployee = function () {
        var records = App.grHumanProfileWorkTrial.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("TaskForm"))';
            var params = {
                id: records[0].get('Id')
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
    var SendTick = function () {
        var records = App.grHumanProfileWorkTrial.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("SendTickForm", "ProfileWorkTrial", new { Area = "Organization" }))';
            var params = {
                humanProfileWorkTrialId: records[0].get('Id')
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
    var deleteUrl = '@(Url.Action("DeleteProfile"))';
    var reDelete = function (id) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("reDeleteProfile"))',
            params: {
                id: id,
            }
        });
    };

    var onDeleteProfileWorkTrial = function () {
        var records = App.grHumanProfileWorkTrial.selModel.getSelection();
        if (records.length > 0) {
            var id = records[0].data.Id;
            Ext.MessageBox.show({
                title: '@iDAS.Presentation.Common.Resource.Confirm', msg: '@iDAS.Presentation.Common.Resource.ConfirmDelete',
                buttons: { yes: 'Đồng ý', no: 'Không' },
                iconCls: '#Information',
                fn: function (btn) {
                    if (btn == 'yes') {
                        Ext.net.DirectMethod.request({
                            url: '@(Url.Action("DeleteProfile", "ProfileWorkTrial", new { Area = "Organization" }))',
                            params: { id: id },
                            success: function (result) {
                                App.storeHumanProfileWorkTrial.reload();
                            }
                        });
                    }
                }
            });
        }
    };
</script>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var X = Html.X();
}
@(Html.X().Viewport().Layout(LayoutType.Fit).Border(false).Margin(0).Frame(false).StyleSpec("border: none;")
.Items(
        Html.X().GridPanel()
                .Header(false)
                .ID("grHumanProfileWorkTrial")
                .ColumnLines(true)
                .ForceFit(true)
                .Border(false)
                .Icon(Icon.TextListBullets)
                .TopBar(
                    Html.X().Toolbar()
                    .Layout(LayoutType.HBox)
                    .Items(
                        //Html.X().SearchByDate("App.storeHumanProfileWorkTrial.load();").FromDateID("dfFromDate").ToDateID("dfToDate"),
                        //Html.X().ToolbarSeparator(),
                        Html.X().Button().Text("Thêm mới").IconCls("x-fa fa-plus-circle").Handler("AddNew();"),
                        Html.X().ToolbarSeparator(),
                        Html.X().Button().ID("btnUpdate").Text("Chi tiết").IconCls("x-fa fa-info-circle").Handler("UpdateItem();"),
                        Html.X().ToolbarSeparator(),
                        Html.X().Button().Text("Xóa").IconCls("x-fa fa-trash-o").ID("btnDelete").Handler("onDeleteProfileWorkTrial();"),
                        Html.X().ToolbarSeparator(),
                        Html.X().Button().ID("btnSendTick").Text("Gửi yêu cầu tự đánh giá").Icon(Icon.ArrowRight).Handler("SendTick").Disable(true),
                        X.ButtonRefreshPanel(),    
                        Html.X().ToolbarFill()
                    )
            )
            .Store(
            Html.X().Store().ID("storeHumanProfileWorkTrial")
                    .RemotePaging(true)
            .GroupField("DepartmentName")
            .Proxy(Html.X().AjaxProxy().Url(Url.Action("LoadList", "ProfileWorkTrial", new { Area = "Organization" }))
            .Reader(Html.X().JsonReader().RootProperty("data")).IDParam("Id")))
            .ColumnModel(
                X.RowNumbererColumnFormat(),
                X.ColumnEncodeFormat().DataIndex("EmployeeTrialName").Text("Tên nhân sự").Flex(1),
                X.ColumnEncodeFormat().DataIndex("TitleName").Text("Chức danh").Width(280),
                X.ComponentColumn().Text("Thời gian thử việc").Columns(
                X.DateColumn().DataIndex("FromDate").Text("Bắt đầu").Format("dd/MM/yyyy").Width(130).Align(ColumnAlign.Center),
                X.DateColumn().DataIndex("ToDate").Text("Kết thúc").Format("dd/MM/yyyy").Align(ColumnAlign.Center).Width(130)
            ),
                X.ColumnEncodeFormat().DataIndex("EmployeeManegeName").Text("Người phụ trách").Width(150).Align(ColumnAlign.Center),
                X.Column().DataIndex("Status").Text("Yêu cầu tự đánh giá").Width(150).Renderer("StatusRenderer").Align(ColumnAlign.Center)
            )
            .SelectionModel(Html.X().CheckboxSelectionModel().ShowHeaderCheckbox(false).Mode(SelectionMode.Single)
            .Listeners(ls => ls.SelectionChange.Fn = "CheckStatus"))
                .Features(
                    Html.X().GroupingSummary()
                    .ID("GroupingSummarySupplier")
                    .GroupHeaderTplString("{name}")
                    .HideGroupedHeader(true)
                    .EnableGroupingMenu(false)
                    .ShowSummaryRow(false)
                )
            .BottomBar(Html.X().PagingToolbarFormat())
    )
)