﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.QualityAuditPlanDetailBO
@{
    var X = Html.X();
    var dataRoles = (List<Ext.Net.ListItem>)ViewData["RoleAudit"];
    var formId = X.GetComponentID();
}
@(X.WindowSlide()
    .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.6 })
    .Layout(LayoutType.Fit)
    .Maximized(true)
    .Closable(true)
    .CloseToolText("Đóng")
    .Listeners(ls=>ls.Close.Handler="this.destroy();")
    .Minimizable(false)
    .Maximizable(false)
    .Title("Phê duyệt kế hoạch đánh giá nội bộ")
    .IconCls("x-fa fa-check")
    .Items(
           X.FormPanel()
            .ID(formId)
            .BodyPadding(0)
            .Border(false)
            .Padding(0)
            .Layout(LayoutType.Border)
            .ActiveIndex(0)
            .Items(
            X.Panel()
            .BodyPadding(2)
            .Border(false)
            .Region(Region.Center)
            .Flex(1)
            .Header(false)
            .Defaults(X.Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
            .Layout(LayoutType.VBox)
            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
            .Items (
            X.HiddenFor(u => u.Id).ID("hdfAuditPlanDetailId"),
            X.HiddenFor(u => u.QualityAuditPlanId),
            X.ContainerHBoxMiddle().Height(100).Items(
            X.TextAreaFor(m => m.Scope).Note("Phạm vi đánh giá").ReadOnly(true).NoteAlign(NoteAlign.Top).HideLabel(true).Height(80).Flex(1).MarginSpec("0 5 0 0"),
            X.TextAreaFor(m => m.Location).Note("Địa điểm đánh giá").ReadOnly(true).NoteAlign(NoteAlign.Top).HideLabel(true).Height(80).Flex(1)
            ),
            X.Panel()
            .Flex(1)
            .Header(false)
            .Padding(0)
            .MarginSpec("4 0 0 0")
            .BodyPadding(0)
            .Layout(LayoutType.Fit)
            .TopBar(
            X.Toolbar()
            .StyleSpec("padding-bottom:0px;padding-top:0px")
            .Items(
                X.TabStrip()
                .WidthSpec("80%")
                .Items(t =>
                {
                    t.Add(X.Tab().ActionItemID("grProgram").IconCls("x-fa fa-table black").TabID("tbgrProgramId").Text("<b>Chương trình đánh giá</b>"));
                    t.Add(X.Tab().ActionItemID("gridMembers").IconCls("x-fa fa-group black").TabID("tbgridMembersId").Text("<b>Thành phần tham gia</b>"));
                }),

                X.ToolbarFill(),
                X.Tool().IconCls("x-fa fa-refresh black").ToolTip("Tải lại")
                .Border(false)
                .Handler(@"var panel1 = App.grProgram;if(panel1 && panel1.xtype == 'grid'){ store = panel1.store;if(store){store.reload();}}var panel2 = App.gridMembers;if(panel2 && panel2.xtype == 'grid'){ store = panel2.store;if(store){store.reload();}}"))
            )
            .Items(
                    X.GridPanel()
                        .ColumnLines(true)
                        .RowLines(true)
                        .Resizable(false)
                        .Border(false)
                        .Header(false)
                        .AutoScroll(true)
                        .BodyPadding(0)
                        .Header(false)
                        .UIName("idas_default")
                        .ID("grProgram")
                        .IconCls("x-fa fa-table black")
                        .Flex(1)
                        .Store(
                            X.StoreFormat()
                                .ID("stAuditProgram")
                                .AutoLoad(true)
                                .Model(Html.X().Model()
                                .IDProperty("Id")
                                .Fields(
                                        Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                                        Html.X().ModelField().Name("DepartmentAudits").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("TermAudits").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("BasicAudit").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("IsSelected").Type(ModelFieldType.Boolean)
                                    )
                                )
                                .Url(Url.Action("GetData", "AuditProgram", new { Area = "Quality" }))
                            .Parameters(ps => ps.Add(new StoreParameter("qualityAuditPlanDetailId", Model.Id.ToString(), ParameterMode.Value)))
                        )
                    .ColumnModel(
                         Html.X().RowNumbererColumnFormat(),
                                    X.Column().DataIndex("TimeText").Text("Thời gian").Width(120).CellWrap(true).Align(ColumnAlign.Center),
                                    X.Column().DataIndex("").Text("Người đánh giá").Width(210).CellWrap(true).Renderer(new Renderer { Fn = "renderEmployee" }),
                                    Html.X().Column().Text("Phòng ban/Bộ phận được đánh giá").CellWrap(true).DataIndex("DepartmentAudits").Flex(1),
                                    Html.X().Column().Text("Yêu cầu tiêu chuẩn được đánh giá").CellWrap(true).DataIndex("TermAudits").Flex(1)
                                )
                                .Listeners(ls => ls.SelectionChange.Handler = "refreshMenuProgram();")
                                .EmptyText(@"<div style='text-align:center'>
                        <div class='emptyClass'>
                        </div>
                            <div style='font-size: 0.9em'>Chưa thiết lập chương trình đánh giá </div>
                        </div>")
                                .View(X.GridView().TrackOver(false)
                                .LoadingText("Đang tải ..."))
                                .Plugins(
                            Html.X().RowExpander()
                                .TemplateHtml(@"
                    <p style='margin-left:10px; margin-right:10px; font-size:12px; text-align: justify;'><b><i>Căn cứ đánh giá: </i></b>{BasicAudit}</p>
                             ")
                                )
                        .BottomBar(X.PagingToolbarFormat()),
                        Html.X().GridPanel()
                        .ColumnLines(true)
                        .Border(false)
                        .UIName("idas_default")
                        .Title("<b>Thành phần tham gia</b>" + Html.Required())
                        .RowLines(true)
                        .Header(false)
                        .IconCls("x-fa fa-group black")
                        .ID("gridMembers")
                        .ColumnLines(true)
                        .Flex(1)
                        .Store(Html.X().Store()
                        .PageSize(10)
                        .ID("stMembers")
                        .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData", "AuditMember"))
                        .Reader(Html.X().JsonReader().RootProperty("data")))
                        .Parameters(
                        pr =>
                        {
                            pr.Add(new StoreParameter("qualityAuditPlanDetailId", Model.Id.ToString(), ParameterMode.Value));
                        })
                        .Model(Html.X().Model()
                        .Fields(
                            Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                            Html.X().ModelField().Name("RoleType").Type(ModelFieldType.Int),
                            Html.X().ModelField().Name("IsSelected").Type(ModelFieldType.Boolean)
                        )
                        )
                        )
                        .ColumnModel(
                                Html.X().RowNumbererColumnFormat(),
                                Html.X().ColumnEncodeFormat().Text("Thành phần").DataIndex("Member").Flex(1).Renderer(new Renderer { Fn = "renderMember" }),
                                Html.X().ColumnEncodeFormat().Text("Trách nhiệm").DataIndex("RoleType").Width(230)
                                    .Renderer("roleRenderer")
                                    .Editor(Html.X().ComboBox()
                                        .QueryMode(DataLoadMode.Local)
                                        .Editable(false)
                                        .Items(dataRoles)
                                        .DisplayField("Text")
                                        .ValueField("Value")
                                    )
                            )
                        .EmptyText(@"<div style='text-align:center'>
                    <div class='emptyClass'>
                    </div>
                        <div style='font-size: 0.9em'>Chưa thiết lập thành phần tham gia</div>
                    </div>")
                        .SelectionModel(
                            Html.X().RowSelectionModel()
                                .Mode(SelectionMode.Single)
                            )
                        .BottomBar(Html.X().PagingToolbarFormat())),
                        X.ContainerHBoxMiddle()
                        .Height(110)
                        .Padding(0)
                        .MarginSpec("0 0 -5 0")
                        .PaddingSpec("0 0 0 0")
                        .Items(
                        X.ContainerVBox().Flex(1).PaddingSpec("0 0 0 0").Padding(0).Items(
                            X.DateTimeFieldFormatFor(m => m.StartAt).ID("txtStartAt").ReadOnly(true).Note("Thời gian khai mạc").NoteAlign(NoteAlign.Top).HideLabel(true).Flex(1).MarginSpec("0 0 0 0"),
                            X.DateTimeFieldFormatFor(m => m.EndAt).ID("txtEndAt").ReadOnly(true).Note("Thời gian kết thúc").NoteAlign(NoteAlign.Top).HideLabel(true).Flex(1).MarginSpec("0 0 0 0")
                        ).MarginSpec("0 5 0 0"),
                        X.TextAreaFor(m => m.RequestContents).Note("Yêu cầu chung").MarginSpec("0 0 0 0").ReadOnly(true).Height(82).NoteAlign(NoteAlign.Top).HideLabel(true).Flex(2)
                        )
                     ),
                 Html.X().Panel()
                 .Region(Region.East)
                 .Border(true)
                 .Layout(LayoutType.VBox)
                 .MarginSpec("-1 0 -1 0")
                 .BodyPadding(2)
                 .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                 .Width(320)
                 .Items(
                     X.FieldSet()
                        .Padding(3)
                        .MarginSpec("0 0 0 0")
                        .Title("Người phê duyệt" + Html.Required())
                        .Items(
                            X.EmployeeFieldFor(u => u.EmployeeApproval)
                            .AllowBlank(false)
                            .EmployeeReadOnly(true)
                            ),
                      X.RadioGroup()
                        .ID("rdgResult")
                        .FieldLabel("Kết quả")
                        .MarginSpec("0 0 0 0")
                        .ColumnsNumber(2)
                        .AutomaticGrouping(false)
                        .Items(
                            X.Radio().Name("IsAccept").InputValue("true").BoxLabel("Đồng ý/Đạt").Checked(Model.IsAccept == true),
                            X.Radio().Name("IsAccept").InputValue("false").BoxLabel("Không đồng ý/Không đạt").Checked(Model.IsAccept == false)
                            ),
                        X.TextAreaFor(p => p.ApprovalNote)
                        .Flex(1)
                        .FieldLabel("Nhận xét")
                        .LabelAlign(LabelAlign.Top)
                        .MarginSpec("0 0 0 0")
                 )
            )
         )
        .Buttons(
        X.Button()
        .Text("Phê duyệt")
        .IconCls("x-fa fa-check")
        .DirectEvents(de =>
        {
            de.Click.Before = "if (!this.up('window').down('form').getForm().isValid()) { return false; } else{ this.setDisabled(true);}";
            de.Click.FormID = formId;
            de.Click.ExtraParams.Add(new { IsSend = true });
            de.Click.Url = Url.Action("SaveApproval");
            de.Click.Success = "this.up('window').close(); if(App.stQualityAuditPlanDetails)App.stQualityAuditPlanDetails.reload();";
            de.Click.Failure = "eval(result.script); this.setDisabled(false); ";
        }),
        X.ButtonExit()
        )
)
<script>
    var roleRenderer = function (value) {
        if (value == '@((int)iDAS.Service.Common.Resource.RoleAudit.Member)')
            return '@(iDAS.Service.Common.Resource.RoleAuditText.Member)';
        else if (value == '@((int)iDAS.Service.Common.Resource.RoleAudit.Auditer)')
            return '@(iDAS.Service.Common.Resource.RoleAuditText.Auditer)';
        else if (value == '@((int)iDAS.Service.Common.Resource.RoleAudit.Leader)')
            return '@(iDAS.Service.Common.Resource.RoleAuditText.Leader)';
        else
            return 'Chưa thiết lập trách nhiệm';
    };
    var renderEmployee = function (value, meta, record) {
        var title = '';
        var result = '';
        var image = '';
        title = '<span style="margin-left: 40px;font-size:10px;">' + record.data.Auditer.RoleNames + '</span>';
        image = '<img src="' + record.data.Auditer.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 40px;">' + Ext.htmlEncode(record.data.Auditer.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
    var renderMember = function (value, meta, record) {
        var title = '';
        var result = '';
        var image = '';
        title = '<span style="margin-left: 40px;font-size:10px;">' + record.data.Member.RoleNames + '</span>';
        image = '<img src="' + record.data.Member.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 40px;">' + Ext.htmlEncode(record.data.Member.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
</script>
