﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.QualityAuditPlanDetailBO
@{
    var X = Html.X();
    Operation operation = (Operation)ViewData["Operation"];
    var dataRoles = (List<Ext.Net.ListItem>)ViewData["RoleAudit"];
    var formId = X.GetComponentID();
}
@(X.WindowSlide()
    .Layout(LayoutType.Fit)
    .Maximized(true)
    .Closable(true)
    .CloseToolText("Đóng")
    .Minimizable(false)
    .Listeners(ls => ls.Close.Handler = "this.destroy();")
    .Maximizable(false)
    .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.6 })
    .Title(Model.Id == Guid.Empty ? Resource.Create : Resource.Detail)
    .IconCls(Model.Id == Guid.Empty ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
    .Items(
       X.FormPanel()
        .ID(formId)
        .BodyPadding(0)
        .Border(false)
        .Padding(0)
        .Layout(LayoutType.Border)
        .ActiveIndex(0)
        .Items(
        X.Panel()
        .BodyPadding(2)
        .Border(false)
        .Region(Region.Center)
        .Flex(1)
        .Header(false)
        .Defaults(X.Parameter().Name("margins").Value("0 0 0 0").Mode(ParameterMode.Value))
        .Layout(LayoutType.VBox)
        .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
        .Items(
        X.HiddenFor(u => u.Id).ID("hdfAuditPlanDetailId"),
        X.HiddenFor(u => u.QualityAuditPlanId),
        X.ContainerHBoxMiddle().Height(100).Items(
            X.TextAreaFor(m => m.Scope).Note("Phạm vi đánh giá" + Html.Required()).NoteAlign(NoteAlign.Top).HideLabel(true).Height(80).Flex(1).MarginSpec("0 5 0 0").AllowBlank(false).BlankText("Trường dữ liệu bắt buộc!"),
        X.TextAreaFor(m => m.Location).Note("Địa điểm đánh giá" + Html.Required()).NoteAlign(NoteAlign.Top).HideLabel(true).Height(80).Flex(1).AllowBlank(false).BlankText("Trường dữ liệu bắt buộc!")
        ),
        X.Panel()
        .Flex(1)
        .Header(false)
        .Padding(0)
        .MarginSpec("4 0 0 0")
        .BodyPadding(0)
        .Layout(LayoutType.Fit)
        .TopBar(
        X.Toolbar()
        .StyleSpec("padding-bottom:0px;padding-top:0px")
        .Items(
            X.TabStrip()
            .WidthSpec("80%")
            .Items(t =>
            {
                t.Add(X.Tab().ActionItemID("grProgram").IconCls("x-fa fa-table black").TabID("tbgrProgramId").Text("<b>Chương trình đánh giá</b>" + Html.Required()));
                t.Add(X.Tab().ActionItemID("gridMembers").IconCls("x-fa fa-group black").TabID("tbgridMembersId").Text("<b>Thành phần tham gia</b>" + Html.Required()));
            }),
            
            X.ToolbarFill(),
            X.Tool().IconCls("x-fa fa-refresh black").ToolTip("Tải lại")
            .Border(false)
            .Handler(@"var panel1 = App.grProgram;if(panel1 && panel1.xtype == 'grid'){ store = panel1.store;if(store){store.reload();}}var panel2 = App.gridMembers;if(panel2 && panel2.xtype == 'grid'){ store = panel2.store;if(store){store.reload();}}"))
        )
        .Items(
                X.GridPanel()
                    .ColumnLines(true)
                    .RowLines(true)
                    .Resizable(false)
                    .Border(false)
                    .Header(false)
                    .AutoScroll(true)
                    .BodyPadding(0)
                    .Header(false)
                    .UIName("idas_default")
                    .ID("grProgram")
                    .IconCls("x-fa fa-table black")                   
                    .Flex(1)
                    .TopBarItem(
                        Html.X().Button()
                            .Text(Resource.Create)
                            .IconCls("x-fa fa-plus-circle")
                            .DirectEvents(de =>
                            {
                                de.Click.ExtraParams.Add(new { qualityAuditPlanDetailId = Model.Id });
                                de.Click.Url = Url.Action("ProgramForm", "AuditProgram");
                            }),

                        Html.X().Button()
                            .Text(Resource.Detail)
                            .ID("btnUpdateProgram")
                            .Disabled(true)
                            .IconCls("x-fa fa-search")
                            .DirectEvents(de =>
                            {
                                de.Click.ExtraParams.Add(new { programId = new JRawValue("this.up('grid').selModel.getSelection()[0].data.Id") });
                                de.Click.ExtraParams.Add(new { qualityAuditPlanDetailId = Model.Id });
                                de.Click.Url = Url.Action("ProgramForm", "AuditProgram");
                            }),
                        X.ToolbarFill()
                        )
                    .Store(
                        X.StoreFormat()
                            .ID("stAuditProgram")
                            .AutoLoad(true)
                            .Model(Html.X().Model()
                            .IDProperty("Id")
                            .Fields(
                                    Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                                    Html.X().ModelField().Name("DepartmentAudits").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("TermAudits").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("BasicAudit").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("IsSelected").Type(ModelFieldType.Boolean)
                                )
                            )
                            .Url(Url.Action("GetData", "AuditProgram", new { Area = "Quality" }))
                        .Parameters(ps => ps.Add(new StoreParameter("qualityAuditPlanDetailId", Model.Id.ToString(), ParameterMode.Value)))
                    )
                .ColumnModel(
                     Html.X().RowNumbererColumnFormat(),
                                X.Column().DataIndex("TimeText").Text("Thời gian").Width(120).CellWrap(true).Align(ColumnAlign.Center),
                                X.Column().DataIndex("").Text("Người đánh giá").Width(210).CellWrap(true).Renderer(new Renderer { Fn = "renderEmployee" }),
                                Html.X().Column().Text("Phòng ban/Bộ phận được đánh giá").CellWrap(true).DataIndex("DepartmentAudits").Flex(1),
                                Html.X().Column().Text("Yêu cầu tiêu chuẩn được đánh giá").CellWrap(true).DataIndex("TermAudits").Flex(1)
                            )
                            .Listeners(ls => ls.SelectionChange.Handler = "refreshMenuProgram();")
                            .EmptyText(@"<div style='text-align:center'>
                        <div class='emptyClass'>
                        </div>
                            <div style='font-size: 0.9em'>Chưa thiết lập chương trình đánh giá </div>
                        </div>")
                            .View(X.GridView().TrackOver(false)
                            .LoadingText("Đang tải ..."))
                            .Plugins(
                        Html.X().RowExpander()
                            .TemplateHtml(@"
                    <p style='margin-left:10px; margin-right:10px; font-size:12px; text-align: justify;'><b><i>Căn cứ đánh giá: </i></b>{BasicAudit}</p>
                             ")
                            )
                            .BottomBar(X.PagingToolbarFormat()),
                    Html.X().GridPanel()
                    .ColumnLines(true)
                    .Border(false)
                    .UIName("idas_default")
                    .Title("<b>Thành phần tham gia</b>" + Html.Required())
                    .RowLines(true)
                    .Header(false)
                    .IconCls("x-fa fa-group black")
                    .ID("gridMembers")
                    .ColumnLines(true)
                    .Flex(1)
                    .TopBarItem(
                        X.ComboboxTreeFormat()
                        .ID("xTreeEmployee")
                        .EmptyText("Lựa chọn nhân sự")
                        .AllowBlank(true)
                        .DisableSelectDepartment(true)
                        .Width(500)
                        .ShowTitle(true)
                        .DisableSelectTitle(true)
                        .ShowEmployee(true)
                        .BlankText("Trường không được để trống!")
                        .Multiple(true)
                        .HideLabel(false),
                        X.Button().Text("Lưu").IconCls("x-fa fa-arrow-down")
                        .DirectEvents(de =>
                        {
                            de.Click.Before = "if(!validateSelectEmployee()) {return false;};";
                            de.Click.ExtraParams.Add(new { qualityAuditMembers = new JRawValue("getQualityAuditMembers()") });
                            de.Click.Url = Url.Action("Create", "AuditMember");
                            de.Click.Success = "App.stMembers.reload();";
                        }),
                        X.ToolbarFill()
                      )
                    .Store(Html.X().Store()
                    .PageSize(10)
                    .ID("stMembers")
                    .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData", "AuditMember"))
                    .Reader(Html.X().JsonReader().RootProperty("data")))
                    .Parameters(
                    pr =>
                    {
                        pr.Add(new StoreParameter("qualityAuditPlanDetailId", Model.Id.ToString(), ParameterMode.Value));
                    })
                    .Model(Html.X().Model()
                    .Fields(
                        Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                        Html.X().ModelField().Name("RoleType").Type(ModelFieldType.Int),
                        Html.X().ModelField().Name("IsSelected").Type(ModelFieldType.Boolean)
                         )
                       )
                    )
                    .ColumnModel(
                            Html.X().RowNumbererColumnFormat(),
                            Html.X().ColumnEncodeFormat().Text("Thành phần").DataIndex("Member").Flex(1).Renderer(new Renderer { Fn = "renderMember" }),
                            Html.X().ColumnEncodeFormat().Text("Trách nhiệm").DataIndex("RoleType").Width(230)
                                .Renderer("roleRenderer")
                                .Editor(Html.X().ComboBox()
                                    .QueryMode(DataLoadMode.Local)
                                    .Editable(false)
                                    .Items(dataRoles)
                                    .DisplayField("Text")
                                    .ValueField("Value")
                                )
                        )
                    .EmptyText(@"<div style='text-align:center'>
                    <div class='emptyClass'>
                    </div>
                        <div style='font-size: 0.9em'>Chưa thiết lập thành phần tham gia</div>
                    </div>")
                    .Listeners(ls =>
                        {
                            ls.BeforeItemContextMenu.Fn = "itemcontextMember";
                        })
                    .Plugins(Html.X().CellEditing().Listeners(ls => ls.Edit.Fn = "edit"))
                    .SelectionModel(
                        Html.X().RowSelectionModel()
                            .Mode(SelectionMode.Single)
                        )
                    .BottomBar(Html.X().PagingToolbarFormat())),
                    X.ContainerHBoxMiddle()
                    .Height(110)
                    .Padding(0)
                    .MarginSpec("0 0 -5 0")
                    .PaddingSpec("0 0 0 0")
                    .Items(
                    X.ContainerVBox().Flex(1).PaddingSpec("0 0 0 0").Padding(0).Items(
                        X.DateTimeFieldFormatFor(m => m.StartAt).ID("txtStartAt").Note("Thời gian khai mạc" + Html.Required()).NoteAlign(NoteAlign.Top).HideLabel(true).Flex(1).MarginSpec("0 0 0 0").EmptyText("Thời gian khai mạc"),
                        X.DateTimeFieldFormatFor(m => m.EndAt).ID("txtEndAt").Note("Thời gian kết thúc" + Html.Required()).NoteAlign(NoteAlign.Top).HideLabel(true).Flex(1).MarginSpec("0 0 0 0").EmptyText("Thời gian kết thúc")
                     ).MarginSpec("0 5 0 0"),
                         X.TextAreaFor(m => m.RequestContents).Note("Yêu cầu chung").MarginSpec("0 0 0 0").Height(82).NoteAlign(NoteAlign.Top).HideLabel(true).Flex(2).AllowBlank(false).BlankText("Trường dữ liệu bắt buộc!")
                     )
                  ),
                 Html.X().Panel()
                 .Region(Region.East)
                 .Border(true)
                 .Layout(LayoutType.VBox)
                 .MarginSpec("-1 0 -1 0")
                 .BodyPadding(2)
                 .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                 .Width(320)
                 .Items(
                     X.FieldSet()
                        .Padding(3)
                        .MarginSpec("0 0 0 0")
                        .Title("Người phê duyệt" + Html.Required())
                        .Items(
                            X.EmployeeFieldFor(u => u.EmployeeApproval)
                            .AllowBlank(false)
                            .EmployeeReadOnly(Model.IsSend == true || Model.IsAccept != null ? true : false)
                            ),
                          X.RadioGroup()
                            .ID("rdgResult")
                            .FieldLabel("Kết quả")
                            .MarginSpec("0 0 0 0")
                            .ColumnsNumber(2)
                            .AutomaticGrouping(false)
                            .Items(
                                    X.Radio().Name("IsAccept").InputValue("true").BoxLabel("Đồng ý/Đạt").Checked(Model.IsAccept == true).ReadOnly(true),
                                    X.Radio().Name("IsAccept").InputValue("false").BoxLabel("Không đồng ý/Không đạt").Checked(Model.IsAccept == false).ReadOnly(true)
                                ),
                            X.TextAreaFor(p => p.ApprovalNote)
                            .Flex(1)
                            .FieldLabel("Nhận xét")
                            .LabelAlign(LabelAlign.Top)
                            .ReadOnly(true)
                            .MarginSpec("0 0 0 0")
                    )
            )
         )
        .Buttons(
            X.Button()
            .Text(Resource.Delete)
            .IconCls("x-fa fa-trash-o")
            .Hidden(operation == Operation.Create ? true : false)
            .DirectEvents(de =>
            {
                de.Click.Method = HttpMethod.POST;
                de.Click.Confirmation.ConfirmRequest = true;
                de.Click.Confirmation.Message = Resource.ConfirmDelete;
                de.Click.Confirmation.Title = Resource.Confirm;
                de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
                de.Click.Before = "this.setDisabled(true);";
                de.Click.Url = X.XController().UrlHelper.Action("Delete");
                de.Click.ExtraParams.Add(new { id = Model.Id });
                de.Click.Url = Url.Action("Delete");
                de.Click.Success = "this.up('window').close(); if(App.stQualityAuditPlanDetails)App.stQualityAuditPlanDetails.reload();";
            }),
        X.Button()
        .Text("Gửi duyệt")
        .IconCls("x-fa fa-send")
        .DirectEvents(de =>
        {
            de.Click.Before = "if (!this.up('window').down('form').getForm().isValid()) { return false; } else{ this.setDisabled(true);}";
            de.Click.FormID = formId;
            de.Click.ExtraParams.Add(new { IsSend = true });
            de.Click.Url = Url.Action(operation == Operation.Create ? "Create" : "Update");
            de.Click.Success = "this.up('window').close(); if(App.stQualityAuditPlanDetails)App.stQualityAuditPlanDetails.reload();";
            de.Click.Failure = "eval(result.script); this.setDisabled(false); ";
        }),
        X.Button()
        .Text(Resource.Save)
        .IconCls("x-fa fa-floppy-o")
        .DirectEvents(de =>
        {
            de.Click.Before = "if (!this.up('window').down('form').getForm().isValid()) { return false; } else{ this.setDisabled(true);}";
            de.Click.FormID = formId;
            de.Click.Url = Url.Action(operation == Operation.Create ? "Create" : "Update");
            de.Click.Success = "this.up('window').close(); if(App.stQualityAuditPlanDetails)App.stQualityAuditPlanDetails.reload();";
            de.Click.Failure = "eval(result.script); this.setDisabled(false); ";
        }),
        X.ButtonExit()
        )
)
@(Html.X().Menu()
        .ID("contextMember")
        .Items(
        X.MenuItem().Text("Xóa")
        .IconCls("x-fa fa-trash-o")
        .DirectEvents(de =>
        {
            de.Click.Method = HttpMethod.POST;
            de.Click.Confirmation.ConfirmRequest = true;
            de.Click.Confirmation.Message = "Bạn có muốn xóa hồ sơ này không?";
            de.Click.Confirmation.Title = Resource.Confirm;
            de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
            de.Click.ExtraParams.Add(new { id = new JRawValue("App.gridMembers.selModel.getSelection()[0].data.Id") });
            de.Click.Url = Url.Action("Delete", "AuditMember");
            de.Click.Success = "App.gridMembers.deleteSelected();";
        })
    )
)
<script>
    var itemcontextMember = function (s, r, d, o, e, eOpts) {
        e.stopEvent();
        App.contextMember.showAt(e.getX(), e.getY() - 0);
    };
    var edit = function (editor, e) {
        if (!(e.value === e.originalValue || (Ext.isDate(e.value) && Ext.Date.isEqual(e.value, e.originalValue)))) {
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("HandleChanges", "AuditMember"))',
                params: {
                    id: e.record.data.Id,
                    roleType: e.record.data.RoleType
                }
            });
        }
    };
    var roleRenderer = function (value) {
        if (value == '@((int)iDAS.Service.Common.Resource.RoleAudit.Member)')
            return '@(iDAS.Service.Common.Resource.RoleAuditText.Member)';
        else if (value == '@((int)iDAS.Service.Common.Resource.RoleAudit.Auditer)')
            return '@(iDAS.Service.Common.Resource.RoleAuditText.Auditer)';
        else if (value == '@((int)iDAS.Service.Common.Resource.RoleAudit.Leader)')
            return '@(iDAS.Service.Common.Resource.RoleAuditText.Leader)';
        else
            return 'Chưa thiết lập trách nhiệm';
    };
    var getQualityAuditMembers = function () {
        var strData = App.xTreeEmployee.getValue();
        var dataResult = strData.split(",");
        if (dataResult.length > 0) {
            var data = [];
            for (var i = 0; i < dataResult.length; i++) {
                var item = {};
                var nodeId = dataResult[i];
                var index = nodeId.indexOf('_');
                var objectId = nodeId.substring(index + 1);
                item.QualityAuditPlanDetailId = '@Model.Id';
                item.EmployeeId = objectId;
                item.RoleType = '@((int)iDAS.Service.Common.Resource.RoleAudit.Member)';
                data.push(item);
            }
        }
        return JSON.stringify(data);
    };

    function validateSelectEmployee() {
        var data = App.xTreeEmployee.getValue();
        if (data == null || data == '@Guid.Empty') {
            showMessageWhenNotSelectEmployee();
            return false;
        }
        return true;
    };
    var showMessageWhenNotSelectEmployee = function (value) {
        var msg = "Bạn chưa chọn nhân sự nào, vui lòng kiểm tra lại!";
        if (value == "UpdateError") {
            msg = "Có lỗi trong quá trình cập nhật dữ liệu!";
        };
        Ext.MessageBox.show({
            title: 'Thông báo', msg: msg,
            buttons: { yes: 'Đồng ý' },
            iconCls: '#Exclamation'
        });
    };
    var renderEmployee = function (value, meta, record) {
        var title = '';
        var result = '';
        var image = '';
        title = '<span style="margin-left: 40px;font-size:10px;">' + record.data.Auditer.RoleNames + '</span>';
        image = '<img src="' + record.data.Auditer.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 40px;">' + Ext.htmlEncode(record.data.Auditer.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
    var renderMember = function (value, meta, record) {
        var title = '';
        var result = '';
        var image = '';
        title = '<span style="margin-left: 40px;font-size:10px;">' + record.data.Member.RoleNames + '</span>';
        image = '<img src="' + record.data.Member.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 40px;">' + Ext.htmlEncode(record.data.Member.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
    var getDataISOStandard = function () {
        var data = [];
        for (var i = 0; i < App.stPlanISOStandard.data.length; i++) {
            var item = {};
            if (App.stPlanISOStandard.data.items[i].data.IsSelected) {
                item.ISOStandardId = App.stPlanISOStandard.data.items[i].data.Id;
                item.QualityAuditPlanId = '@Model.Id';
                data.push(item);
            }
        }
        return JSON.stringify(data);
    };
    var refreshMenuProgram = function () {
        var records = App.grProgram.selModel.getSelection();
        switch (records.length) {
            case 0:
                App.btnUpdateProgram.setDisabled(true);
                break;
            case 1:
                App.btnUpdateProgram.setDisabled(false);
                break;
            default:
                App.btnUpdateProgram.setDisabled(true);
                break;
        }
    };
</script>
