﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.QualityAuditPlanDetailBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.WindowSlide()
    .Layout(LayoutType.Fit)
    .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.55 })
    .Title("Báo cáo kết quả đánh giá nội bộ (" + Model.Name + ")")
    .IconCls("x-fa fa-book")
    .Items(
            X.FormPanelVBoxFormat()
            .ID(formId)
            .BodyPadding(6)
            .Items(
                X.HiddenFor(m => m.Id),
                X.HiddenFor(m => m.QualityAuditPlanId),
               Html.X().FieldSetVBox()
                .MarginSpec("0 0 0 0")
                .Flex(2)
     
                .Padding(0)
                .Items(
               Html.X().GridPanel()
                .ColumnLines(true)
                .UIName("idas_default")
                .IconCls("x-fa fa-medium black")
                .Title("<b>Danh sách vấn đề không phù hợp</b>")
                .RowLines(true)
                .Tools(X.Tool().IconCls("x-fa fa-refresh black").ToolTip("Tải lại")
                    .Handler("var panel = App.grTotalNC;if(panel && panel.xtype == 'grid'){ store = panel.store;if(store){store.reload();}}")
                )
                .ID("grTotalNC")
                .MarginSpec("-1 -1 -1 -1")
                .Flex(1)
                .Store(Html.X().Store()
                .PageSize(10)
                .ID("stTotalNC")
                .Proxy(Html.X().AjaxProxy()
                .Url(Url.Action("GetTotalNC", "AuditNotebookNC"))
                .Reader(Html.X().JsonReader().RootProperty("data")))
                .Parameters(pr =>
                {
                    pr.Add(new StoreParameter("qualityAuditPlanDetailId", Model.Id.ToString(), ParameterMode.Value));
                })
                .Model(Html.X().Model()
                .Fields(
                    Html.X().ModelField().Name("TotalMax").Type(ModelFieldType.Int),
                    Html.X().ModelField().Name("Totalmin").Type(ModelFieldType.Int),
                    Html.X().ModelField().Name("TotalObs").Type(ModelFieldType.Int),
                    Html.X().ModelField().Name("TypeText").Type(ModelFieldType.String)
                        )
                     )
                )
                .ColumnModel(
                        Html.X().RowNumbererColumnFormat(),
                        Html.X().ColumnEncodeFormat().Text("Phòng ban/bộ phận phát hiện").DataIndex("DepartmentName").Flex(1),
                        Html.X().ComponentColumn().Text("Tổng số điểm không phù hợp").Columns(
                        Html.X().Column().Text("M").Width(65).DataIndex("TotalMax").Align(ColumnAlign.Center),
                        Html.X().Column().Text("m").Width(65).DataIndex("Totalmin").Align(ColumnAlign.Center),
                        Html.X().Column().Text("Obs").Width(65).DataIndex("TotalObs").Align(ColumnAlign.Center)
                        )
                    )
                .SelectionModel(
                    Html.X().RowSelectionModel()
                        .Mode(SelectionMode.Single)
                    )
                .EmptyText(@"<div style='text-align:center'>
                <div class='emptyClass'>
                </div>
                    <div style='font-size: 0.9em'>Không có sự không phù hợp nào được phát hiện </div>
                </div>")
                .BottomBar(Html.X().PagingToolbarFormat())
                ),
                X.TextAreaFor(m => m.ReportContents)
                .Note("Nội dung báo cáo" + Html.Required())
                .ReadOnly(Model.Status == (int)iDAS.Service.Common.Resource.PlanAuditStatus.Finished)
                .AllowBlank(false)
                .AllowOnlyWhitespace(false)
                .BlankText("Bạn cần nhập nội dung báo cáo!")
                .NoteAlign(NoteAlign.Top).HideLabel(true).Flex(1).MarginSpec("10 0 10 0")
            )
         )
        .Buttons(
        X.Button()
        .Text("Lưu & Đóng kế hoạch đánh giá")
        .Hidden(Model.Status == (int)iDAS.Service.Common.Resource.PlanAuditStatus.Finished)
        .IconCls("x-fa fa-floppy-o")
        .DirectEvents(de =>
        {
            de.Click.Before = "if (!this.up('window').down('form').getForm().isValid()) { return false; } else{ this.setDisabled(true);}";
            de.Click.FormID = formId;
            de.Click.Url = Url.Action("SaveReport");
            de.Click.Success = "this.up('window').close(); if(App.stQualityAuditPlanDetails)App.stQualityAuditPlanDetails.reload();";
            de.Click.Failure = "eval(result.script); this.setDisabled(false); ";
        }),
        X.ButtonExit()
        )
)
