﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.QualityAuditPlanDetailBO
@{
    var X = Html.X();
}
@(X.WindowSlide()
    .Layout(LayoutType.Fit)
    .SlideConfigFormat(new ExtCommon.SlideConfig() { ratioHeightParent = 1, ratioWidhParent = 0.55 })
    .Title("Tổng hợp kết quả đánh giá")
    .IconCls("x-fa fa-check")
    .Padding(0)
    .BodyPadding(0)
    .Items(
        Html.X().GridPanel()
            .Flex(1)
            .ID("grTotalAuditNC")
            .ColumnLines(false)
            .Border(false)
            .Header(false)
            .Title("Tiêu chuẩn đánh giá" + Html.Required())
            .RowLines(false)
            .Flex(1)
            .IconCls("x-fa fa-groups")
            .Store(Html.X().Store()
            .GroupField("DepartmentName")
            .Sorters(
                Html.X().DataSorter()
                .Property("DepartmentName")
                .Direction(Ext.Net.SortDirection.ASC)
            )
            .PageSize(10)
            .ID("stQualityPlanDetailNC")
            .Proxy(Html.X().AjaxProxy()
            .Url(Url.Action("GetTotalData", "AuditNotebookNC"))
            .Reader(Html.X().JsonReader().RootProperty("data")))
            .Parameters(
            pr =>
            {
                pr.Add(new StoreParameter("qualityAuditPlanDetailId", Model.Id.ToString(), ParameterMode.Value));
            })
            .Model(Html.X().Model()
            .Fields(
                Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
                Html.X().ModelField().Name("Contents").Type(ModelFieldType.String),
                Html.X().ModelField().Name("TypeText").Type(ModelFieldType.String),
                Html.X().ModelField().Name("Solution").Type(ModelFieldType.String),
                Html.X().ModelField().Name("IsSelected").Type(ModelFieldType.Boolean)
            )
            )
            )
            .ColumnModel(
                Html.X().RowNumbererColumnFormat(),
                Html.X().ColumnEncodeFormat().Text("Nội dung").DataIndex("Contents").Flex(1),
                Html.X().ColumnEncodeFormat().Text("Điểm M, m, Obs").DataIndex("TypeText").Width(140).Align(ColumnAlign.Center),
                Html.X().ColumnEncodeFormat().Text("Đề xuất biện pháp").DataIndex("Solution").Flex(1),
                Html.X().CheckColumn().Text("Xác nhận").DataIndex("IsSelected").Editable(true).Width(100)
            )
            .SelectionModel(
                Html.X().RowSelectionModel()
                    .Mode(SelectionMode.Multi)
                )
                .Listeners(ls => ls.CellDblClick.Handler = "showDetailNC(record.data.Id);")
                .EmptyText(@"<div style='text-align:center'>
                <div class='emptyClass'>
                </div>
                    <div style='font-size: 0.9em'>Không có sự không phù hợp nào được phát hiện </div>
                </div>")
                .View(
                    Html.X().GridView().MarkDirty(false)
                )
                .Features(
                    Html.X().GroupingSummary()
                        .ID("GroupingSummary1")
                        .GroupHeaderTplString("{name}")
                        .HideGroupedHeader(true)
                        .EnableGroupingMenu(false)
                        .ShowSummaryRow(false)
                )
                    .Listeners(ls =>
                    {
                        ls.BeforeItemContextMenu.Fn = "oncontextMenuTotalAuditNC";
                    })
                .BottomBar(Html.X().PagingToolbarFormat())
            )
        .Buttons(
        X.Button()
        .Text("Xác nhận")
        .IconCls("x-fa fa-check")
        .DirectEvents(de =>
        {
            de.Click.Type = DirectEventType.Load;
            de.Click.ExtraParams.Add(new { qualityNCSelecteds = new JRawValue("getNCSelected()") });
            de.Click.Url = Url.Action("ConfirmNC", "AuditNotebookNC");
            de.Click.Success = "if(result.result)this.up('window').close();";
            de.Click.Failure = "eval(result.script); this.setDisabled(false); ";
        }),
        X.ButtonExit()
        )
)
@(X.Menu()
    .ID("contextMenuTotalAuditNC")
     .Items(
        X.MenuItem()
        .Text("Chi tiết")
        .IconCls("x-fa fa-info-circle")
        .DirectEvents(de =>
        {
            de.Click.Method = HttpMethod.POST;
            de.Click.ExtraParams.Add(new { idNC = new JRawValue("App.grTotalAuditNC.selModel.getSelection()[0].data.Id") });
            de.Click.Url = Url.Action("Form", "QualityNC");
        })
     )
)
<script>
    var oncontextMenuTotalAuditNC = function (s, r, d, o, e, eOpts) {
        e.stopEvent();
        App.contextMenuTotalAuditNC.showAt(e.getX(), e.getY());
    };
    var showDetailNC = function (id) {
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("Form", "QualityNC"))',
            params: {
                idNC: id
            }
        });
    };
    var getNCSelected = function () {
        var data = [];
        for (var i = 0; i < App.stQualityPlanDetailNC.data.length; i++) {
            var item = {};
            if (App.stQualityPlanDetailNC.data.items[i].data.IsSelected) {
                item.Id = App.stQualityPlanDetailNC.data.items[i].data.Id;
                item.Status = '@((int)iDAS.Service.Common.Resource.QualityNCStatus.Confirm)';
                data.push(item);
            } else {
                item.Id = App.stQualityPlanDetailNC.data.items[i].data.Id;
                item.Status = '@((int)iDAS.Service.Common.Resource.QualityNCStatus.NotConfirm)';
                data.push(item);
            }
        }
        return JSON.stringify(data);
    };
</script>