/*
 * @version   : 4.2.0 - Ext.NET License
 * @author    : Object.NET, Inc. http://object.net/
 * @date      : 2017-01-16
 * @copyright : Copyright (c) 2008-2017, Object.NET, Inc. (http://object.net/). All rights reserved.
 * @license   : See license.txt and http://ext.net/license/.
 */

.x-spotlight {
    background-color: #ccc;
    z-index: 8999;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    width: 0;
    height: 0;
    zoom: 1;
}

.x-fieldset, .x-fieldset .x-fieldset-body, .x-ie .x-fieldset .x-fieldset-body {
    padding-top: 0px;
}

.x-grid-row-expander {
  background-position : 0 0px;
}

.x-notification .x-window-body {
    padding: 3px;
    text-align: center;
}

.x-vmarker-xfieldlabel {
    border: white; 
    background-color: #00f; 
    color: white;
    padding: 2px;
}

.x-vmarker-yfieldlabel {
    border: white;             
    color: white;
    padding: 2px 4px;
}

.x-tab-strip {
    position: relative;
}

.x-ie6 .x-tab-default .x-tab-close-btn,
.x-ie7 .x-tab-default .x-tab-close-btn,
.x-ie8 .x-tab-default .x-tab-close-btn {
	top:4px;
	right:4px;
}


.x-masked {
    overflow: hidden !important;
}


.x-menu-item-icon {
    background-size: 16px;
    background-repeat: no-repeat;
}


.empty-loadmask div.x-mask-msg-text {
    height: 23px;
}

.empty-eventmask div.x-mask-msg-text {
    height: 13px;
}



.x-btn-disabled {
    cursor: default;
}


.x-view-selector {
    border: 1px dotted #3399BB;
}
.row-cmd-cell-ct,
.row-cmd-cell .x-grid-cell-inner {
	padding:0px;
}

.x-grid-group-hd div.row-cmd-cell-group-ct {
	padding:0px;
	padding-top:6px;
}

div.row-cmd-cell-group-ct .x-grid-group-title {
    float:left;    
    background-position: 0px 6px;
    margin-left:4px;
}

.x-grid .row-cmd-cell-ct TABLE, 
.x-grid .row-cmd-cell-ct TABLE.x-btn,
.x-grid .row-cmd-cell-group-ct TABLE, 
.x-grid .row-cmd-cell-group-ct TABLE.x-btn {
    table-layout:auto !important;
}

.x-grid .row-cmd-cell-ct td,
.x-grid .row-cmd-cell-group-ct td {
	border-left:none !important;
	border-right:none !important;
	vertical-align:middle !important;
}


 .x-grid-summary-row td {
	vertical-align:middle !important;
}

.x-grid-row td.x-grid-td-expander {
	vertical-align:top !important;
}

.x-grid-group-hd div.row-cmd-cell-ct {
	padding-top:0px !important;
	padding-bottom:0px !important;
}

div.standard-view-group {
    float:left;
    padding-top:4px !important;
    padding-bottom:4px !important;
    padding-right:4px !important;
    padding-left:0px !important;
}

.x-over-commands-ph
{
    width:1px;
    height:22px;
}
.x-grid-row-selected .row-cmd-cell .row-cmd-cell-ct
{
    padding-top:0px;
}
.x-grid-componentcolumn .x-grid-cell-special{
	vertical-align: top;
}


.row-imagecommand-cell .x-grid-cell-inner {
	padding:0px  !important;
}

.x-ie6 .row-imagecommand-cell .x-grid-cell-inner,
.x-ie7 .row-imagecommand-cell .x-grid-cell-inner,
.x-ie8 .row-imagecommand-cell .x-grid-cell-inner {
	margin-top : -1px;
}

.row-imagecommand {
	float:left  !important;
	min-width:16px  !important;
	height:16px  !important;
	margin: 1px 1px 0px 0px  !important;
	overflow:hidden  !important;
	background-repeat:no-repeat  !important;	
	cursor:pointer  !important;	
}

.row-imagecommand span {	
	padding:0px 5px 0px 17px  !important;
	line-height:16px  !important;
	vertical-align:middle  !important;
	white-space:nowrap !important;
}



.x-ie6 div.no-row-imagecommand-text{
    width:16px !important;
}

.x-grid-group-imagecommand .x-grid-group-hd .x-grid-group-title {
	height:16px !important;
}

.group-row-imagecommand {
	float:left;
	min-width:16px;
	height:16px;
	background-repeat:no-repeat;
	background-position: 0 50%;
	margin: 0px 0px 0px 1px;
	padding: 0px;
	cursor:pointer;	
	padding-top: 0px;
}

.right-group-imagecommand {
	float:right;
	margin: 0px 3px 0px 2px;
	padding: 0px !important;
}

.group-row-imagecommand-cell {
	float:left;
	padding: 0px;
	padding-right: 5px;
	margin:1px 0px 0px 0px;	
	background:transparent none !important;		
}

.group-row-imagecommand span {		
	margin:0px 4px 0px 18px;
	padding:0px;
	line-height:18px;
	vertical-align:middle;
	white-space:nowrap;
}

.x-hide-command .row-imagecommand {
    height:0px !important;
    width:0px !important;
}
.cell-imagecommand-cell .x-grid-cell-inner {
	padding: 1px 0px 0px 0px;
}

.cell-imagecommand {
	float:right;
	min-width:16px;
	height:16px;
	margin: 0 5px 0 0;
	overflow:hidden;
	background-repeat:no-repeat;	
	cursor:pointer;	
}

.left-cell-imagecommand {
	float:left;
}

.cell-imagecommand span {	
	padding:0px 0px 0px 20px;
	line-height:18px;
	vertical-align:middle;
	white-space:nowrap;
}

.cell-imagecommand-value {
	float:left;
	padding:2px 6px 3px 6px;
}

.cell-imagecommand-right-value .cell-imagecommand-value {
	float:right;
}

.x-hide-command .cell-imagecommand{
    height:0px;
    width:0px;
}

.x-imagecommand-disabled {
    cursor: default !important; 
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3; 
}
.x-grid-checkheader {
    height: 14px;
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.extnet.resources.images.grid.unchecked.gif")%>);
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.extnet.resources.images.grid.checked.gif")%>);
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

.x-theme-neptune .x-grid-checkheader {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.extnet.resources.images.grid.neptune.unchecked.png")%>);
    background-position: 50% 2px;
    height: 16px;
}

.x-theme-neptune .x-grid-checkheader-checked {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.extnet.resources.images.grid.neptune.checked.png")%>);
}
.x-grid-cell-wrap .x-grid-cell-inner {
    white-space: normal;
}
.x-column-header
{
    background-repeat: repeat;
}

.x-grid-header-widgets .x-form-display-field-default{
    margin-top: 0px;
}
.x-action-col-icon {
    width: 16px;
    height: 16px;
}
.row-cmp-cell-ct,
.row-cmp-cell .x-grid-cell-inner {
	padding:0px;
}

.x-grid .row-cmp-cell-ct TABLE, 
.x-grid .row-cmp-cell-ct TABLE.x-btn {
    table-layout:auto;
}

.x-grid .row-cmp-cell-ct td {
	border-left:none !important;
	border-right:none !important;
	vertical-align:middle !important;
}

.x-grid .row-cmp-placeholder {
    padding: 3px 6px;
}

.x-grid-componentcolumn .x-grid-cell {
    vertical-align: middle;
}

.x-grid-componentcolumn .x-grid-cell .x-grid-cell-inner {
   padding-bottom:2px;
}

.x-grid-componentcolumn .cell-imagecommand-cell .x-grid-cell-inner,
.x-grid-componentcolumn .row-cmd-cell .x-grid-cell-inner,
.x-grid-componentcolumn .row-cmp-cell .x-grid-cell-inner {
   padding-bottom:0px;
}
.x-grid-filters-filtered-column .x-column-header-inner {
    background: transparent url(<%=WebResource("Ext.Net.Build.Ext.Net.extnet.resources.images.grid.header_bg.png")%>) no-repeat !important;
    padding-left: 22px;
}

.x-grid-filters-filtered-column.x-column-header-align-center .x-column-header-inner {
    padding-right: 22px;
}


.x-noleaf-icon img.x-tree-icon-leaf {
    display: none;
}


.x-grid-tree-loading .x-tree-icon {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.extnet.resources.images.loading.gif")%>) !important;
}

.x-theme-neptune .x-grid-tree-loading .x-tree-icon {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.extnet.resources.images.loading.png")%>) !important;
}
.x-multi-selected
{
    border: 1px dotted black;
    cursor: pointer;
}

.x-mcombo-item-checked {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.extnet.resources.images.grid.checked.gif")%>);
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-color: transparent;
    padding-left: 18px;
}

.x-mcombo-item-unchecked {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.extnet.resources.images.grid.unchecked.gif")%>);
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-color: transparent;
    padding-left: 18px;
}

.x-theme-neptune .x-mcombo-item-checked {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.extnet.resources.images.grid.neptune.checked.png")%>);
    background-position: 1px 3px;
}

.x-theme-neptune .x-mcombo-item-unchecked {
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.extnet.resources.images.grid.neptune.unchecked.png")%>);
    background-position: 1px 3px;
}

.x-label {
    height : 16px;
}

.x-label-value {
    vertical-align : middle;
}
.x-loading-indicator {
    font-size: 11px;
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.extnet.resources.images.loading.gif")%>);
}

.x-field-indicator {
    position:absolute;
    display:block;
    top: 0px;
    left: 2px;
    height: 18px;        
    padding-top: 4px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 3px;    
    white-space: nowrap;
}

.x-textfield-icon {    
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 16px;
    height: 16px;
    margin-left: 1px;
    top: 3px;
    left: 2px;
}

.x-textfield-icon-input, textarea.x-textfield-icon-input {
    padding-left: 20px;
}

.x-rtl .x-textfield-icon {    
    margin-left: 0px;
    margin-right: 1px;
    left: 0px;
    right: 2px;
}
.x-rtl .x-textfield-icon-input, .x-rtl textarea.x-textfield-icon-input {
    padding-left: 0px;
    padding-right: 20px;
}

.x-field-note {
    font-size: 12px;
    color: gray;    
}

.clear-right input.x-form-text {
    border-right: 0px !important;
}

.x-clear-button {
    width: 16px;
    height: 16px;
    background-image: url(<%=WebResource("Ext.Net.Build.Ext.Net.extnet.resources.images.clear.gif")%>);
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore;             
    cursor: pointer;
    position: absolute;
    margin-top: 3px;
    margin-right: 2px;
    overflow:  hidden;
}

.x-rtl .x-clear-button {
    margin-right: 0px;
    margin-left: 2px;
}

input.x-clear-field::-ms-clear,
input.x-showpassword-field::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
}

.x-form-trigger-over22,
.x-form-trigger-triton.x-form-trigger-over22 {
    background-position: -22px center;
}

.x-form-trigger-click22,
.x-form-trigger-triton.x-form-trigger-click22 {
    background-position: -44px center;
}

.x-form-trigger-focus22,
.x-form-trigger-triton.x-form-trigger-focus22 {
    background-position: -66px center;
}

.x-form-trigger-triton.x-form-trigger-default:before {
    content: none;
}

.x-form-trigger-triton.x-form-trigger-default {
    background-repeat: no-repeat;
    background-position: 0 center;
}
.x-badge
{
    background:#fff;
    border:1px solid #ccc;            
    float:left;
    position:absolute;            
    z-index:9999;            
    box-shadow:0px 1px 3px #ccc;
    -moz-box-shadow:0px 1px 3px #ccc;
    -webkit-box-shadow:0px 1px 3px #ccc;            
}

.x-badge-small
{
    min-width: 18px;    
    min-height:18px;
    border-radius: 9px;
    -ms-border-radius: 9px;
    -moz-border-radius: 9px;
    -o-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.x-badge-medium
{
    min-width: 30px;
    min-height:30px;
    border-radius: 15px;
    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.x-badge-large
{
    min-width: 48px;
    min-height:48px;
    border-radius: 24px;
    -ms-border-radius: 24px;
    -moz-border-radius: 24px;
    -o-border-radius: 24px;
    -webkit-border-radius: 24px;
}

.x-badge .x-badge-wrap
{            
    z-index:99999;            
    background-image: none; 
    background-color: #f13c31;                                    
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f79690), to(#f13c31));
    background-image: -webkit-linear-gradient(#f79690, #f13c31);
    background-image: -moz-linear-gradient(100% 100% 90deg, #f13c31, #f79690);
    background-image: -o-linear-gradient(#f79690, #f13c31);            
    background-image: linear-gradient(100% 100% 90deg, #f13c31, #f79690);
}

.x-badge-primary .x-badge-wrap
{            
    background-color: #2D6CA2;                                    
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6D8FAA), to(#2D6CA2));
    background-image: -webkit-linear-gradient(#6D8FAA, #2D6CA2);
    background-image: -moz-linear-gradient(100% 100% 90deg, #2D6CA2, #6D8FAA);
    background-image: -o-linear-gradient(#6D8FAA, #2D6CA2);            
    background-image: linear-gradient(100% 100% 90deg, #2D6CA2, #6D8FAA);
}

.x-badge-danger .x-badge-wrap
{            
    background-color: #D9534F;                                    
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E58F8E), to(#D9534F));
    background-image: -webkit-linear-gradient(#E58F8E, #D9534F);
    background-image: -moz-linear-gradient(100% 100% 90deg, #D9534F, #E58F8E);
    background-image: -o-linear-gradient(#E58F8E, #D9534F);            
    background-image: linear-gradient(100% 100% 90deg, #D9534F, #E58F8E);
}

.x-badge-info .x-badge-wrap
{            
    background-color: #2AABD2;                                    
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#84CCE0), to(#2AABD2));
    background-image: -webkit-linear-gradient(#84CCE0, #2AABD2);
    background-image: -moz-linear-gradient(100% 100% 90deg, #2AABD2, #84CCE0);
    background-image: -o-linear-gradient(#84CCE0, #2AABD2);            
    background-image: linear-gradient(100% 100% 90deg, #2AABD2, #84CCE0);
}

.x-badge-success .x-badge-wrap
{            
    background-color: #5CB85C;                                    
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9BC69B), to(#5CB85C));
    background-image: -webkit-linear-gradient(#9BC69B, #5CB85C);
    background-image: -moz-linear-gradient(100% 100% 90deg, #5CB85C, #9BC69B);
    background-image: -o-linear-gradient(#9BC69B, #5CB85C);            
    background-image: linear-gradient(100% 100% 90deg, #5CB85C, #9BC69B);
}

.x-badge-warning .x-badge-wrap
{            
    background-color: #F0AD4E;                                    
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FCD092), to(#F0AD4E));
    background-image: -webkit-linear-gradient(#FCD092, #F0AD4E);
    background-image: -moz-linear-gradient(100% 100% 90deg, #F0AD4E, #FCD092);
    background-image: -o-linear-gradient(#FCD092, #F0AD4E);            
    background-image: linear-gradient(100% 100% 90deg, #F0AD4E, #FCD092);
}

.x-badge-small .x-badge-wrap
{
    min-width: 16px;
    height: 16px;
    margin:1px;
    border-radius: 8px;
    -ms-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.x-badge-medium .x-badge-wrap
{
    min-width: 28px;
    height: 28px;
    margin:1px;
    border-radius: 14px;
    -ms-border-radius: 14px;
    -moz-border-radius: 14px;
    -o-border-radius: 14px;
    -webkit-border-radius: 14px;
}

.x-badge-large .x-badge-wrap
{
    min-width: 46px;
    height: 46px;
    margin:1px;
    border-radius: 23px;
    -ms-border-radius: 23px;
    -moz-border-radius: 23px;
    -o-border-radius: 23px;
    -webkit-border-radius: 23px;
}

.x-badge .x-badge-inner
{
    margin:0;
    line-height: inherit;
    color:#fff;            
    text-align:center;    
    z-index:999999;
}

.x-badge-small .x-badge-inner
{
    padding:0px 4px;
    font-size: 11px;
}

.x-gecko .x-badge-small .x-badge-inner
{
    line-height:12px;
    padding-top: 2px;
}

.x-badge-medium .x-badge-inner
{
    padding:5px 5px;
    font-size: 16px;
}        

.x-webkit .x-badge-medium .x-badge-inner,
.x-gecko .x-badge-medium .x-badge-inner
{
    padding:4px 5px;
}

.x-badge-large .x-badge-inner
{
    padding:14px 7px;
    font-size: 30px;
}

.x-webkit .x-badge-large .x-badge-inner
{
    padding:12px 7px;
}

.x-gecko .x-badge-large .x-badge-inner
{
    padding:13px 7px;
}
.x-callout {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: block;
    max-width: 500px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow:visible;
    -webkit-box-shadow: 0 0px 10px #ccc;
    box-shadow: 0 0px 10px #ccc;
}

.x-callout-glyph {
    display: inline-block;
    opacity: .5;
    text-align:center;
    margin-right: 5px;
}

.x-callout-glyph-small .x-callout-glyph{
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;    
}

.x-callout-glyph-medium .x-callout-glyph{
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
}

.x-callout-glyph-large .x-callout-glyph{
    width: 32px;
    height: 32px;
    font-size: 32px;
    line-height: 32px;
}

.x-callout-glyph-small .x-callout-header-text{    
    vertical-align:top;
    line-height: 16px;    
}

.x-callout-glyph-medium .x-callout-header-text{    
    vertical-align:top;
    line-height: 24px;
}

.x-callout-glyph-large .x-callout-header-text{    
    vertical-align:top;
    line-height: 32px;
}

.x-callout-top,
.x-callout-topleft,
.x-callout-topright {
    margin-top: -10px;
}

.x-callout-right,
.x-callout-righttop,
.x-callout-rightbottom {
    margin-left: 10px;
}

.x-callout-bottom,
.x-callout-bottomleft,
.x-callout-bottomright {
    margin-top: 10px;
}

.x-callout-left,
.x-callout-lefttop,
.x-callout-leftbottom {
    margin-left: -10px;
}

.x-callout-header {
    padding: 4px 14px;
    margin: 0;    
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.x-callout-header-text {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}

.x-callout-header-icon
{
    padding: 4px 14px 4px 30px;
    background-position: 4px 4px;
}

.x-theme-blue .x-callout-header
{
    background-color: rgb(237, 245, 255);
}

.x-callout-body {
    padding: 9px 14px;
    overflow:hidden;
}

.x-callout .x-callout-arrow,
.x-callout .x-callout-arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    -moz-transform: scale(.9999);
}

.x-callout .x-callout-arrow {
    border-width: 11px;
}

.x-callout .x-callout-arrow:after {
    content: "";
    border-width: 10px;
}

.x-callout-top .x-callout-arrow,
.x-callout-topleft .x-callout-arrow,
.x-callout-topright .x-callout-arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #ccc;          
    border-bottom-width: 0;
}

.x-callout-top .x-callout-arrow:after,
.x-callout-topleft .x-callout-arrow:after,
.x-callout-topright .x-callout-arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0;
}

.x-callout-topleft .x-callout-arrow {        
    left: 21px;
}

.x-callout-topright .x-callout-arrow {        
    left:auto;
    right:10px;
}

.x-callout-right .x-callout-arrow,
.x-callout-righttop .x-callout-arrow,
.x-callout-rightbottom .x-callout-arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #ccc;          
    border-left-width: 0;
}

.x-callout-right .x-callout-arrow:after,
.x-callout-righttop .x-callout-arrow:after,
.x-callout-rightbottom .x-callout-arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
}

.x-callout-righttop .x-callout-arrow {        
    top: 21px;
}

.x-callout-rightbottom .x-callout-arrow {        
    top:auto;
    bottom:10px;
}

.x-callout-bottom .x-callout-arrow,
.x-callout-bottomleft .x-callout-arrow,
.x-callout-bottomright .x-callout-arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #ccc;          
}
        
.x-callout-bottom .x-callout-arrow:after,
.x-callout-bottomleft .x-callout-arrow:after,
.x-callout-bottomright .x-callout-arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";          
    border-top-width: 0;
    border-bottom-color: #fff;
}

.x-callout-bottomright .x-callout-arrow {        
    left:auto;
    right: 10px;
}

.x-callout-bottomleft .x-callout-arrow {                    
    left:21px;
}

.x-callout-left .x-callout-arrow,
.x-callout-lefttop .x-callout-arrow,
.x-callout-leftbottom .x-callout-arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #ccc;
}

.x-callout-left .x-callout-arrow:after,
.x-callout-lefttop .x-callout-arrow:after,
.x-callout-leftbottom .x-callout-arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff;
} 

.x-callout-leftbottom .x-callout-arrow {        
    top:auto;
    bottom: 10px;
}

.x-callout-lefttop .x-callout-arrow {                    
    top:21px;
}

.x-callout-primary        
{            
    background-color: #d9e8f5;
    border: 1px solid #2d6ca2;
}
.x-callout-primary .x-callout-header
{            
    background-color: #2d6ca2;
    color:white;
}
.x-callout-primary.x-callout-top .x-callout-arrow,
.x-callout-primary.x-callout-topleft .x-callout-arrow,
.x-callout-primary.x-callout-topright .x-callout-arrow {        
    border-top-color: #2d6ca2;          
}
.x-callout-primary.x-callout-top .x-callout-arrow:after,
.x-callout-primary.x-callout-topleft .x-callout-arrow:after,
.x-callout-primary.x-callout-topright .x-callout-arrow:after {          
    border-top-color: #d9e8f5;
}
.x-callout-primary.x-callout-right .x-callout-arrow,
.x-callout-primary.x-callout-righttop .x-callout-arrow,
.x-callout-primary.x-callout-rightbottom .x-callout-arrow {          
    border-right-color: #2d6ca2;          
}
.x-callout-primary.x-callout-right .x-callout-arrow:after,
.x-callout-primary.x-callout-righttop .x-callout-arrow:after,
.x-callout-primary.x-callout-rightbottom .x-callout-arrow:after {          
    border-right-color: #d9e8f5;
}
.x-callout-primary.x-callout-bottom .x-callout-arrow,
.x-callout-primary.x-callout-bottomleft .x-callout-arrow,
.x-callout-primary.x-callout-bottomright .x-callout-arrow {          
    border-bottom-color: #2d6ca2;          
}        
.x-callout-primary.x-callout-bottom .x-callout-arrow:after,
.x-callout-primary.x-callout-bottomleft .x-callout-arrow:after,
.x-callout-primary.x-callout-bottomright .x-callout-arrow:after {          
    border-bottom-color: #d9e8f5;
}
.x-callout-primary.x-callout-left .x-callout-arrow,
.x-callout-primary.x-callout-lefttop .x-callout-arrow,
.x-callout-primary.x-callout-leftbottom .x-callout-arrow {          
    border-left-color: #2d6ca2;
}
.x-callout-primary.x-callout-left .x-callout-arrow:after,
.x-callout-primary.x-callout-lefttop .x-callout-arrow:after,
.x-callout-primary.x-callout-leftbottom .x-callout-arrow:after {          
    border-left-color: #d9e8f5;
} 

.x-callout-success        
{            
    background-color: #c7e6c7;
    border: 1px solid #5cb85c;
}
.x-callout-success .x-callout-header
{            
    background-color: #5cb85c;
    color:white;
}
.x-callout-success.x-callout-top .x-callout-arrow,
.x-callout-success.x-callout-topleft .x-callout-arrow,
.x-callout-success.x-callout-topright .x-callout-arrow {        
    border-top-color: #5cb85c;          
}
.x-callout-success.x-callout-top .x-callout-arrow:after,
.x-callout-success.x-callout-topleft .x-callout-arrow:after,
.x-callout-success.x-callout-topright .x-callout-arrow:after {          
    border-top-color: #c7e6c7;
}
.x-callout-success.x-callout-right .x-callout-arrow,
.x-callout-success.x-callout-righttop .x-callout-arrow,
.x-callout-success.x-callout-rightbottom .x-callout-arrow {          
    border-right-color: #5cb85c;          
}
.x-callout-success.x-callout-right .x-callout-arrow:after,
.x-callout-success.x-callout-righttop .x-callout-arrow:after,
.x-callout-success.x-callout-rightbottom .x-callout-arrow:after {          
    border-right-color: #c7e6c7;
}
.x-callout-success.x-callout-bottom .x-callout-arrow,
.x-callout-success.x-callout-bottomleft .x-callout-arrow,
.x-callout-success.x-callout-bottomright .x-callout-arrow {          
    border-bottom-color: #5cb85c;          
}        
.x-callout-success.x-callout-bottom .x-callout-arrow:after,
.x-callout-success.x-callout-bottomleft .x-callout-arrow:after,
.x-callout-success.x-callout-bottomright .x-callout-arrow:after {          
    border-bottom-color: #c7e6c7;
}
.x-callout-success.x-callout-left .x-callout-arrow,
.x-callout-success.x-callout-lefttop .x-callout-arrow,
.x-callout-success.x-callout-leftbottom .x-callout-arrow {          
    border-left-color: #5cb85c;
}
.x-callout-success.x-callout-left .x-callout-arrow:after,
.x-callout-success.x-callout-lefttop .x-callout-arrow:after,
.x-callout-success.x-callout-leftbottom .x-callout-arrow:after {          
    border-left-color: #c7e6c7;
}

.x-callout-info        
{            
    background-color: #a7ddee;
    border: 1px solid #2aabd2;
}
.x-callout-info .x-callout-header
{            
    background-color: #2aabd2;
    color:white;
}
.x-callout-info.x-callout-top .x-callout-arrow,
.x-callout-info.x-callout-topleft .x-callout-arrow,
.x-callout-info.x-callout-topright .x-callout-arrow {        
    border-top-color: #2aabd2;          
}
.x-callout-info.x-callout-top .x-callout-arrow:after,
.x-callout-info.x-callout-topleft .x-callout-arrow:after,
.x-callout-info.x-callout-topright .x-callout-arrow:after {          
    border-top-color: #a7ddee;
}
.x-callout-info.x-callout-right .x-callout-arrow,
.x-callout-info.x-callout-righttop .x-callout-arrow,
.x-callout-info.x-callout-rightbottom .x-callout-arrow {          
    border-right-color: #2aabd2;          
}
.x-callout-info.x-callout-right .x-callout-arrow:after,
.x-callout-info.x-callout-righttop .x-callout-arrow:after,
.x-callout-info.x-callout-rightbottom .x-callout-arrow:after {          
    border-right-color: #a7ddee;
}
.x-callout-info.x-callout-bottom .x-callout-arrow,
.x-callout-info.x-callout-bottomleft .x-callout-arrow,
.x-callout-info.x-callout-bottomright .x-callout-arrow {          
    border-bottom-color: #2aabd2;          
}        
.x-callout-info.x-callout-bottom .x-callout-arrow:after,
.x-callout-info.x-callout-bottomleft .x-callout-arrow:after,
.x-callout-info.x-callout-bottomright .x-callout-arrow:after {          
    border-bottom-color: #a7ddee;
}
.x-callout-info.x-callout-left .x-callout-arrow,
.x-callout-info.x-callout-lefttop .x-callout-arrow,
.x-callout-info.x-callout-leftbottom .x-callout-arrow {          
    border-left-color: #2aabd2;
}
.x-callout-info.x-callout-left .x-callout-arrow:after,
.x-callout-info.x-callout-lefttop .x-callout-arrow:after,
.x-callout-info.x-callout-leftbottom .x-callout-arrow:after {          
    border-left-color: #a7ddee;
}

.x-callout-danger        
{            
    background-color: #f4cecd;
    border: 1px solid #d9534f;
}
.x-callout-danger .x-callout-header
{            
    background-color: #d9534f;
    color:white;
}
.x-callout-danger.x-callout-top .x-callout-arrow,
.x-callout-danger.x-callout-topleft .x-callout-arrow,
.x-callout-danger.x-callout-topright .x-callout-arrow {        
    border-top-color: #d9534f;          
}
.x-callout-danger.x-callout-top .x-callout-arrow:after,
.x-callout-danger.x-callout-topleft .x-callout-arrow:after,
.x-callout-danger.x-callout-topright .x-callout-arrow:after {          
    border-top-color: #f4cecd;
}
.x-callout-danger.x-callout-right .x-callout-arrow,
.x-callout-danger.x-callout-righttop .x-callout-arrow,
.x-callout-danger.x-callout-rightbottom .x-callout-arrow {          
    border-right-color: #d9534f;          
}
.x-callout-danger.x-callout-right .x-callout-arrow:after,
.x-callout-danger.x-callout-righttop .x-callout-arrow:after,
.x-callout-danger.x-callout-rightbottom .x-callout-arrow:after {          
    border-right-color: #f4cecd;
}
.x-callout-danger.x-callout-bottom .x-callout-arrow,
.x-callout-danger.x-callout-bottomleft .x-callout-arrow,
.x-callout-danger.x-callout-bottomright .x-callout-arrow {          
    border-bottom-color: #d9534f;          
}        
.x-callout-danger.x-callout-bottom .x-callout-arrow:after,
.x-callout-danger.x-callout-bottomleft .x-callout-arrow:after,
.x-callout-danger.x-callout-bottomright .x-callout-arrow:after {          
    border-bottom-color: #f4cecd;
}
.x-callout-danger.x-callout-left .x-callout-arrow,
.x-callout-danger.x-callout-lefttop .x-callout-arrow,
.x-callout-danger.x-callout-leftbottom .x-callout-arrow {          
    border-left-color: #d9534f;
}
.x-callout-danger.x-callout-left .x-callout-arrow:after,
.x-callout-danger.x-callout-lefttop .x-callout-arrow:after,
.x-callout-danger.x-callout-leftbottom .x-callout-arrow:after {          
    border-left-color: #f4cecd;
}

.x-callout-warning        
{            
    background-color: #fceedb;
    border: 1px solid #f0ad4e;
}
.x-callout-warning .x-callout-header
{            
    background-color: #f0ad4e;
    color:white;
}
.x-callout-warning.x-callout-top .x-callout-arrow,
.x-callout-warning.x-callout-topleft .x-callout-arrow,
.x-callout-warning.x-callout-topright .x-callout-arrow {        
    border-top-color: #f0ad4e;          
}
.x-callout-warning.x-callout-top .x-callout-arrow:after,
.x-callout-warning.x-callout-topleft .x-callout-arrow:after,
.x-callout-warning.x-callout-topright .x-callout-arrow:after {          
    border-top-color: #fceedb;
}
.x-callout-warning.x-callout-right .x-callout-arrow,
.x-callout-warning.x-callout-righttop .x-callout-arrow,
.x-callout-warning.x-callout-rightbottom .x-callout-arrow {          
    border-right-color: #f0ad4e;          
}
.x-callout-warning.x-callout-right .x-callout-arrow:after,
.x-callout-warning.x-callout-righttop .x-callout-arrow:after,
.x-callout-warning.x-callout-rightbottom .x-callout-arrow:after {          
    border-right-color: #fceedb;
}
.x-callout-warning.x-callout-bottom .x-callout-arrow,
.x-callout-warning.x-callout-bottomleft .x-callout-arrow,
.x-callout-warning.x-callout-bottomright .x-callout-arrow {          
    border-bottom-color: #f0ad4e;          
}        
.x-callout-warning.x-callout-bottom .x-callout-arrow:after,
.x-callout-warning.x-callout-bottomleft .x-callout-arrow:after,
.x-callout-warning.x-callout-bottomright .x-callout-arrow:after {          
    border-bottom-color: #fceedb;
}
.x-callout-warning.x-callout-left .x-callout-arrow,
.x-callout-warning.x-callout-lefttop .x-callout-arrow,
.x-callout-warning.x-callout-leftbottom .x-callout-arrow {          
    border-left-color: #f0ad4e;
}
.x-callout-warning.x-callout-left .x-callout-arrow:after,
.x-callout-warning.x-callout-lefttop .x-callout-arrow:after,
.x-callout-warning.x-callout-leftbottom .x-callout-arrow:after {          
    border-left-color: #fceedb;
}
.x-infopanel
{
    border:solid 1px #ccc;           
    box-shadow: 0 0px 10px #ccc;
    border-radius: 4px;
    background: #f7f7f7;
}        
        
.x-infopanel .x-infopanel-header
{
    background: none;
    border: 0px;
    box-shadow:none;
    border-radius:0px;            
    margin: 0;    
    line-height: 16px;            
    font-weight: bold;
}

.x-infopanel .x-infopanel-body
{
    border:none;
    padding: 9px 8px;
    overflow:hidden;
    background: #f7f7f7;    
}

.x-infopanel-icon .x-infopanel-body
{
    padding-left: 24px;
}

.x-infopanel .x-infopanel-body-left
{
    text-align: left;
}

.x-infopanel .x-infopanel-body-right
{
    text-align: right;
}

.x-infopanel .x-infopanel-body-justify
{
    text-align: justify
}

.x-infopanel .x-infopanel-body-center
{
    text-align: center;
}

.x-theme-blue .x-infopanel
{
    background: rgb(237, 245, 255);
    border:solid 1px #99bce8;           
    box-shadow: 0 0px 10px #ccc;
}

.x-theme-blue .x-infopanel .x-infopanel-body
{
    background: rgb(237, 245, 255);            
}

.x-theme-neptune .x-infopanel
{
    background: rgb(223, 234, 242);
    border:solid 1px #99bce8;           
    box-shadow: 0 0px 10px #ccc;
}

.x-theme-neptune .x-infopanel-header .x-header-text
{
    color:black;
}

.x-theme-neptune .x-infopanel .x-infopanel-body
{
    background: rgb(223, 234, 242);
    padding: 9px 10px;
    color: black;
}        

.x-infopanel-primary
{
    border:solid 1px #2d6ca2;                       
    background: #d9e8f5;
}        
        
.x-infopanel-primary .x-infopanel-header .x-header-text
{            
    color: #2A5270;
}       

.x-infopanel-primary .x-infopanel-body
{            
    background: #d9e8f5;
    color: #2A5270;
}

.x-infopanel-danger
{
    border:solid 1px #ebccd1;                       
    background: #f2dede;
}        
        
.x-infopanel-danger .x-infopanel-header .x-header-text
{            
    color: #a94442;
}       

.x-infopanel-danger .x-infopanel-body
{            
    background: #f2dede;
    color: #a94442;
}

.x-infopanel-info
{
    border:solid 1px #bce8f1;                       
    background: #d9edf7;
}        
        
.x-infopanel-info .x-infopanel-header .x-header-text
{            
    color: #31708f;
}       

.x-infopanel-info .x-infopanel-body
{            
    background: #d9edf7;
    color: #31708f;
}

.x-infopanel-success
{
    border:solid 1px #d6e9c6;                       
    background: #dff0d8;
}        
        
.x-infopanel-success .x-infopanel-header .x-header-text
{            
    color: #3c763d;
}       

.x-infopanel-success .x-infopanel-body
{            
    background: #dff0d8;
    color: #3c763d;
}

.x-infopanel-warning
{
    border:solid 1px #faebcc;                       
    background: #fcf8e3;
}        
        
.x-infopanel-warning .x-infopanel-header .x-header-text
{            
    color: #8a6d3b;
}       

.x-infopanel-warning .x-infopanel-body
{            
    background: #fcf8e3;
    color: #8a6d3b;
}

.x-theme-triton .x-infopanel-header .x-title-text 
{
    color: #404040; 
}
