﻿@using Ext.Net;
@using Ext.Net.MVC;
@model iDAS.Service.VPHumanProfileRewardBO
@{
    var X = Html.X();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var employeeId = ViewData["EmployeeId"];
    var employeeName = (string)ViewData["EmployeeName"];
}
<script>
    var deleteUrl = '@(Url.Action("DeleteProfileReward"))';
    function CheckStatus() {
        var records = App.GrProfileReward.selModel.getSelection();
        if (records.length > 0) {
            App.btnUpdate.setDisabled(false);
            App.btnDelete.setDisabled(false);
        }
        else {
            App.btnUpdate.setDisabled(true);
            App.btnDelete.setDisabled(true);
        };
    };
    var AddNew = function () {
        var url = '@(Url.Action("UpdateForm", "ProfileReward", new { Area = "Organization" }, null))';
        var params = {
            EmployeeID: App.hdfEmployeeID.value
        };
        onDirectMethod(url, params);
    };
    var UpdateItem = function () {
        var records = App.GrProfileReward.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("UpdateForm", "ProfileReward", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
    var ViewDetail = function () {
        var records = App.GrProfileReward.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("DetailForm", "ProfileReward", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };

    var manageMasterReward = function () {
	    var value = "award";
	    var url = '@Url.Action("ManageMasterDataForm", "ProfileMasterData", new { area = "Organization" })';
	    Ext.net.DirectMethod.request({
		    url: url,
		    params: { type: value }
	    });
    };

</script>
<style>
    .topbarItems {
        left: 0px !important;
    }

    .topbarName {
        font-weight: bold;
        font-size: 16px;
    }
</style>

@(Html.X().Viewport().Layout(LayoutType.Fit).Border(false).Margin(0).Frame(false)
    .Items(
        Html.X().FormPanel()
        .Layout(LayoutType.Fit)
        .Frame(true)
        .Border(false)
        .StyleSpec("border: none;")
            .FieldDefaults(df => df.LabelWidth = 100).Padding(0)
        .DefaultAnchor("100%")
        .Items(

               Html.X().GridPanel()
                    .Header(false)
                    .ID("GrProfileReward")
                    .ColumnLines(true)
                    .Border(false)
                    .ForceFit(true)
                    .Icon(Icon.TextListBullets)
                    .TopBar(
                            Html.X().Toolbar()
                            .Layout(LayoutType.VBox)
                            .Items(
                                X.ContainerHBox().Cls("topbarItems").Items(
                                    X.Hidden().ID("hdfEmployeeID").Value(ViewData["EmployeeId"]),
                                    X.Button().ID("btnCreate").Text("Thêm mới").IconCls("x-fa fa-plus-circle").Handler("AddNew();"),
                                    X.Button().ID("btnUpdate").Text("Chi tiết").IconCls("x-fa fa-info-circle").Disabled(true).Handler("UpdateItem();"),
                                    X.Button().ID("btnDelete").Text("Xóa").IconCls("x-fa fa-times-circle").Disabled(true).Handler("onDelete(App.GrProfileReward.selModel.getSelection()[0].get('Id'));"),
                                    X.Button().ID("btnMasterDiscipline").Text("Quản lý hình thức khen thưởng").IconCls("x-fa fa-cogs").Handler("manageMasterReward")
                                ),
                                X.ToolbarSpacer().Height(20),
                                X.Label().Cls("topbarItems topbarName").Text("Nhân viên: " + employeeName)
                            )
                    )
                    .Store(
                        Html.X().Store()
                            .ID("StoreProfileReward")
                            .RemotePaging(true)
                            .PageSize(20)
                            .Proxy(Html.X().AjaxProxy().Url(Url.Action("LoadProfileReward")).Reader(Html.X().JsonReader().RootProperty("data")).IDParam("Id"))
                                 .Parameters(ps =>
                                 {
                                     ps.Add(new StoreParameter("EmployeeID", "App.hdfEmployeeID.value", ParameterMode.Raw));
                                 })
                            .Model(
                                Html.X().Model().Fields(
                                        Html.X().ModelField().Name("Id"),
                                        Html.X().ModelField().Name("NumberOfDecision"),
                                        Html.X().ModelField().Name("DateOfDecision"),
                                        Html.X().ModelField().Name("Reason"),
                                        Html.X().ModelField().Name("Form"),
                                        Html.X().ModelField().Name("DepartmentBonus"),
                                        X.ModelField().Name("FileAttachs")
                                )
                            )
                    )
                    .ColumnModel(
                                    Html.X().RowNumbererColumnFormat().DataIndex("Id").Text("STT").Width(50).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("NumberOfDecision").Text("Số quyết định").Width(150).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("DepartmentBonus").Text("Đơn vị ra quyết định").Flex(1).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().DateColumnFormat().DataIndex("DateOfDecision").Text("Ngày quyết định").Width(150).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("Reason").Text("Lý do").Width(350).StyleSpec("font-weight: bold;text-align: center"),
                                    Html.X().Column().DataIndex("Form").Text("Hình thức khen thưởng").Width(200).StyleSpec("font-weight: bold;text-align: center"),
                                    X.ColumnFileFormat(m => m.FileAttachs.Files).Text("<b>Tệp đính kèm</b>").Width(130)
                          )
                    .SelectionModel(Html.X().CheckboxSelectionModel().ShowHeaderCheckbox(false).Mode(SelectionMode.Single)
                                .Listeners(ls => ls.SelectionChange.Fn = "CheckStatus"))
                     .BottomBar(X.PagingToolbarFormat())
                )
            )
        )
)
