﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentRequestBO
@{
    var X = Html.X();
}

@(X.WindowFormat().Modal(true).Draggable(false)
    .Listeners(
            ls =>
            {
                ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.setWidth(App.ctDesktop.getWidth()/2); this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
                //ls.BeforeClose.Handler = "App.WindowListApprove.el.slideOut('r',{duration : 500}); return false;";
                ls.MaskClick.Handler = "App.WindowListApprove.el.slideOut('r',{duration : 500});setTimeout(function(){App.WindowListApprove.doDestroy();},500);";
            })
    .ID("WindowListApprove")
    .Title("Danh sách người duyệt đề nghị").Padding(0)
    .Items(
            X.GridPanelFormat().AutoScroll(false)
                    .ID("grListApprove")
                    .BodyBorder(0)
                    .BodyPadding(0)
                    .Padding(0)
                    .Margin(0)
                    .Flex(1)
                    .Store(
                    X.StoreFormat()
                    .ID("storeLisApproveSuggest")
                    .AutoLoad(true)
                    .Model(Html.X().Model()
                    .IDProperty("Id")
                    .Fields(
                                new ModelField("Id", ModelFieldType.String),
                                new ModelField("DocumentName", ModelFieldType.String),
                                new ModelField("DocumentId", ModelFieldType.String),
                                new ModelField("StartAt", ModelFieldType.String),
                                new ModelField("EndAt", ModelFieldType.String),
                                new ModelField("RequesterName", ModelFieldType.String),
                                new ModelField("RequesterAvatarUrl", ModelFieldType.String),
                                new ModelField("StatusText", ModelFieldType.String),
                                new ModelField("ReviewSuggestId")
                            )
                    )
                    .Url(Url.Action("GetListCompilation", "Request", new { Area = "Document" })))
                    .ColumnModel(
                        Html.X().RowNumbererColumn().Text("STT").Width(50).Align(ColumnAlign.Center),
                        Html.X().Column().DataIndex("RequesterAvatarUrl").Text("Tên").Width(180).Flex(1)
                                    .Renderer(new Renderer { Fn = "function(value, meta, record) {return '<span><img src=\"'+value+'\" style=\"width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid\"></i> <span style=\"margin-left: 44px;\">Nguyễn Văn A</span></span><br/><span style=\"margin-left: 44px;font-size:10px;\">Tổng giám đốc</span></span>'; }" }),
                        Html.X().ColumnEncodeFormat().DataIndex("StatusText").Text("Trách nhiệm").Width(150).CellWrap(true).Align(ColumnAlign.Center)
                                ,
                        Html.X().DateColumn().DataIndex("StartAt").Text("Ngày duyệt").Width(150).CellWrap(true).Align(ColumnAlign.Center).Format("dd/MM/yyyy"),
                        Html.X().ColumnEncodeFormat().DataIndex("StatusText").Text("Kết quả").Width(120).CellWrap(true).Align(ColumnAlign.Center)
                    )
               )
        .Buttons(
            X.ButtonExit().Handler("App.WindowListApprove.el.slideOut('r',{duration : 500});")
    )
)

