﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.DocumentSuggestResponsibilityBO
@{
    var X = Html.X();
    var formId = X.GetComponentID();
}
@(X.WindowFormat()
.Modal(true)
.Draggable(false)
.Listeners(ls => ls.Close.Handler = "this.up('window').destroy();")
.Width(1000)
.IconCls("x-fa fa-file-text-o")
.ID("WindowRevertSuggest")
.Title(ViewData["Tilte"].ToString())
.Listeners(
ls =>
{
    ls.BeforeShow.Handler = "this.setHeight(App.ctDesktop.getHeight());this.alignTo(App.ctDesktop,'tr-tr'); this.el.slideIn('r',{duration : 500});";
    ls.BeforeClose.Handler = "App.WindowRevertSuggest.el.slideOut('r',{duration : 500}); return false;";
})
.Padding(0)
.Items(
X.FormPanelHBoxFormat()
.ID(formId)
.Flex(1)
.Items(
    X.FieldSetVBox()
        .Flex(2)
        .Title("Thông tin tài liệu ")
        .MarginSpec("2 5 2 2")
        .Items(
        X.TextFieldFor(m => m.DocumentSuggest.Document.Name)
        .EmptyText(Resource.DocumentName)
        .ReadOnly(true)
        .AllowBlank(false)
        .HideLabel(true)
        .MarginSpec("0 0 5 0")
        .Note("Tài liệu")
        .NoteAlign(NoteAlign.Top),
        X.FileUploadFieldFor(m => m.DocumentSuggest.Document.FileAttachs)
        .Note("Tệp đính kèm của tài liệu")
        .FileUploadReadOnly(true),
        X.TextAreaDecodeFor(m => m.DocumentSuggest.Document.ShortContent)
        .HideLabel(true)
        .ReadOnly(true)
        .Note("Trích yếu nội dung tài liệu")
        .NoteAlign(NoteAlign.Top)
        .MarginSpec("5 0 9 0"),

        Html.X().Panel()
        .Flex(1)
        .Padding(0)
        .Margin(0)
        .Layout(LayoutType.Fit)
        .TopBar(
            Html.X().Toolbar()
            .StyleSpec("padding-bottom:0px;padding-top:0px")
            .Items(
                Html.X().TabStrip()
                .WidthSpec("80%")
                    .Items(t =>
                    {
                        t.Add(Html.X().Tab().ActionItemID("tabDocument1").IconCls("x-fa fa-file").Text("Danh sách tài liệu tham chiếu"));
                        t.Add(Html.X().Tab().ActionItemID("grRoleRelationship").IconCls("x-fa fa-users").Text("Danh sách trách nhiệm liên quan"));
                    })
            )
        )
        .Items(
        Html.X().GridPanel()
        .Flex(1)
        .Header(false)
        .ID("tabDocument1")
        .Border(false)
        .IconCls("x-fa fa-file")
        .Title("Danh sách tài liệu tham chiếu")
        .RowLines(false)
        .UI(UI.Success)
        .Store(Html.X().Store()
        .Proxy(Html.X().AjaxProxy()
        .Url(Url.Action("GetDocumentReference", "Suggest", new { Area = "Document" }))
        .Reader(Html.X().JsonReader().RootProperty("data")))
        .PageSize(10)
        .Model(Html.X().Model()
        .Fields(
            Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
            Html.X().ModelField().Name("Name").Type(ModelFieldType.String)
            )
        )
        .Parameters(ps => ps.Add(new StoreParameter("documentId", Model.DocumentSuggest.Document!=null?Model.DocumentSuggest.Document.Id.ToString():string.Empty, ParameterMode.Value)))
        )
    .ColumnModel(
            Html.X().RowNumbererColumnFormat()
                .Align(ColumnAlign.Center),
            Html.X().Column()
                .DataIndex("Name")
                .Text("Tên tài liệu")
                .Flex(1)
            )
            .EmptyText(@"<div style='text-align:center'>
                                <div class='emptyClass'>
                                </div>
                                <div style='font-size: 0.9em'>Không có tài liệu tham chiếu nào </div>
                                </div>")
            .View(Html.X().GridView()
            .StripeRows(true)
            ),

            X.GridPanelFormat()
                .Title("Danh sách trách nhiệm liên quan")
                .ID("grRoleRelationship")
                .IconCls("x-fa fa-users")
                .Header(false)
                .Border(true)
                .Store(
                    X.StoreFormat()
                        .AutoLoad(true)
                        .Model(Html.X().Model()
                        .IDProperty("Id")
                        .Fields(
                                new ModelField("Id", ModelFieldType.String),
                                new ModelField("EmployeeApprove", ModelFieldType.Auto),
                                new ModelField("RoleText", ModelFieldType.String),
                                new ModelField("ApproveNote", ModelFieldType.String)
                        ))
                .Url(Url.Action("GetRoleRelationship", "Suggest", new { Area = "Document" }))
                .Parameters(ps => ps.Add(new StoreParameter("suggestId", Model.Id.ToString(), ParameterMode.Value)))
                )
            .ColumnModel(
                    Html.X().RowNumbererColumnFormat()
                        .Align(ColumnAlign.Center),
                        Html.X().Column().Text("Người liên quan").Flex(1).CellWrap(true).Renderer(new Renderer { Fn = "renderActorComlumn" }).Width(200),
                        Html.X().ColumnEncodeFormat().DataIndex("RoleText").Align(ColumnAlign.Center).Text("Trách nhiệm")
                        .Width(110)
                        .CellWrap(true),
                        Html.X().Column()
                        .DataIndex("ResultText")
                        .Align(ColumnAlign.Center)
                        .Text("Kết quả")
                        .Width(100)
                        .CellWrap(true)
                        )
                        .EmptyText(@"<div style='text-align:center'>
                                <div class='emptyClass'>
                                </div>
                                <div style='font-size: 0.9em'>Không có trách nhiệm liên quan nào </div>
                                </div>")
                        .Plugins(
                    Html.X().RowExpander()
                    .TemplateHtml(@"
                    <p style='margin-left:10px; margin-right:10px; font-size:12px; text-align: justify;'><b><i>Nhận xét: </i></b>{Comments}</p>
                    ")
                )
           )
        ),
        X.ContainerVBox()
        .Flex(1)
        .MarginSpec("2 2 2 0")
        .Items(
            X.FieldSetVBox()
            .Flex(1)
            .Title("Thông tin đề nghị")
            .Items(
             X.HiddenFor(m => m.Id),
             X.HiddenFor(m => m.RoleType),
             X.HiddenFor(m => m.DocumentSuggestId),
             X.DateFieldFor(m => m.CreateAt)
                    .MarginSpec("0 0 5 0")
                    .Format("dd/MM/yyyy HH:mm")
                    .ReadOnly(true)
                    .HideLabel(true)
                    .EmptyText("Ngày đề nghị")
                    .Note("Ngày đề nghị")
                    .NoteAlign(NoteAlign.Top),
                    X.FieldSet()
                    .Padding(3)
                    .MarginSpec("0 0 5 0")
                    .Title("Người phê duyệt")
                    .Items(
                        X.EmployeeFieldFor(m => m.EmployeeApprove)
                        .EmployeeReadOnly(true)
                    ),
                    X.TextAreaDecodeFor(m => m.ContentSuggest)
                    .HideLabel(true)
                    .ReadOnly(true)
                    .Flex(1)
                    .EmptyText("Nội dung đề nghị")
                    .Note("Nội dung đề nghị")
                    .NoteAlign(NoteAlign.Top)
                    .MarginSpec("5 0 10 0")
                    ),
                   X.FieldSetVBox()
                        .Title("Nội dung phê duyệt")
                        .Height(250)
                        .Hidden((Model.IsApprove.HasValue && !Model.IsApprove.Value) || !Model.IsApprove.HasValue)
                        .Items(
                          X.RadioGroup()
                            .FieldLabel("Kết quả phê duyệt")
                            .MarginSpec("0 0 0 0")
                            .ID("rdResult")
                            .LabelWidth(120)
                            .ColumnsNumber(2)
                            .AllowBlank(false)
                            .AutomaticGrouping(false)
                            .Items(
                                    X.Radio()
                                    .Name("IsAccept")
                                    .InputValue("true")
                                    .BoxLabel("Đồng ý/Đạt")
                                    .ReadOnly(true)
                                    .Checked((Model.IsApprove.HasValue && Model.IsApprove.Value) && (Model.IsAccept.HasValue && Model.IsAccept.Value)),
                                    X.Radio().Name("IsAccept")
                                    .InputValue("false")
                                    .BoxLabel("Không đồng ý/Không đạt")
                                    .ReadOnly(true)
                                    .Checked((Model.IsApprove.HasValue && Model.IsApprove.Value) && (Model.IsAccept.HasValue && !Model.IsAccept.Value))
                                ),
                                X.TextAreaDecodeFor(m => m.DocumentSuggest.ReasonOfSuggest)
                                .Flex(1)
                                .HideLabel(true)
                                .ReadOnly(true)
                                .EmptyText("Nhận xét")
                                .MarginSpec("0 0 9 0")
                                .Note("Nhận xét")
                                .NoteAlign(NoteAlign.Top)
                            )
                    )
                )
            )
.Buttons(
        X.Button()
            .Text("Thu hồi")
            .IconCls("x-fa fa-rotate-left")
            .Hidden(Model.IsApprove.HasValue && Model.IsApprove.Value)
            .ID("btnRevertSuggest")
            .DirectEvents(de =>
                {
                    de.Click.FormID = formId;
                    de.Click.Method = HttpMethod.POST;
                    de.Click.Confirmation.ConfirmRequest = true;
                    de.Click.Confirmation.Message = "Bạn chắc chắn muốn thu hồi lại kết quả kiểm tra không?";
                    de.Click.Confirmation.Title = Resource.Confirm;
                    de.Click.FormID = formId;
                    de.Click.Confirmation.BeforeConfirm = "Ext.Msg.buttonText.yes='" + Resource.ConfirmYes + "'; Ext.Msg.buttonText.no='" + Resource.ConfirmNo + "';";
                    de.Click.Before = "this.up('window').down('#loadMask').show(); this.up('window').down('#loadMaskEmpty').hide(); this.setDisabled(true);";
                    de.Click.Url = Url.Action("Recover", "Suggest");
                    de.Click.ExtraParams.Add(X.Parameter().Name("id").Value(Model.Id.ToString()).Mode(ParameterMode.Value));
                    de.Click.Success = "this.up('window').down('#loadMask').hide(); this.up('window').down('#loadMaskEmpty').show(); this.up('window').close();this.up('window').destroy(); App.stPanelApproval.reload();";
                    de.Click.Failure = "this.up('window').down('#loadMask').hide(); this.up('window').down('#loadMaskEmpty').show(); eval(result.script); this.setDisabled(false);";
                }),
        X.ButtonExit().Handler("this.up('window').el.slideOut('r',{duration : 500});")
        )
)
<script>
    var renderActorComlumn = function (value, meta, record) {
        var title = '<span style="margin-left: 44px;font-size:10px;">' + record.data.EmployeeApprove.RoleNames + '</span></span>';
        var result = '';
        var image = '<img src="' + record.data.EmployeeApprove.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 44px;">' + Ext.htmlEncode(record.data.EmployeeApprove.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
</script>
