﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation;
@{
    var X = Html.X();
    var RoleEdit =  (string)ViewData["isroleedit"];
}
@(
 X.Container().ID("winRecruitment").Layout(LayoutType.Border).Border(false)
.Items(
        X.Panel().Region(Region.North).Title("Hồ sơ tuyển dụng").Layout(LayoutType.Fit).Margin(0).Icon(Icon.FolderBookmark),
        X.MenuPanel()
        .ID("frmRecruitment")
        .Region(Region.West).Header(false)
        .Title("<b>Thực hiện chức năng</b>").UIName("idas_default")
        .TitleAlign(TitleAlign.Center)
        .Collapsible(true)
        .Split(true).MarginSpec("-1 0 -1 -1")
        .Width(245).Border(false)
        .Layout(LayoutType.Fit)
        .Menu(m =>
        {
            m.Add(X.MenuItem().Icon(Icon.User).Text("Hồ sơ ứng viên")
                                    .OnClientClick("addTabRecruitment(#{TabPanelRecruitment}, 'tab31', '/Organization/RecruitmentProfile/Index?isroleedit="+RoleEdit+"', this,'Hồ sơ ứng viên');"));
            m.Add(X.MenuItem().Icon(Icon.UserAdd).Text("Hồ sơ ứng tuyển")
                                    .OnClientClick("addTabRecruitment(#{TabPanelRecruitment}, 'tab32', '/Organization/RecruitmentProfileInterview/Index?isroleedit="+RoleEdit+"', this,'Hồ sơ ứng tuyển');"));
            m.Add(X.MenuItem().Icon(Icon.UserTick).Text("Hồ sơ trúng tuyển")
                                    .OnClientClick("addTabRecruitment(#{TabPanelRecruitment}, 'tab33', '/Organization/RecruitmentResult/Index?isroleedit="+RoleEdit+"', this,'Hồ sơ trúng tuyển');"));
        }),
            X.TabPanel().Header(false).MarginSpec("-1 -1 -1 0")
            .ID("TabPanelRecruitment")
            .Layout(LayoutType.Fit)
            .Region(Region.Center)
        )
)
<script>
    var addTabRecruitment = function (tabPanel, id, url, menuItem, titleName) {
        var tab = tabPanel.getComponent(id);
        if (!tab) {
            tab = tabPanel.add({
                id: id,
                title: titleName,
                closable: true,
                menuItem: menuItem,
                loader: {
                    url: url,
                    renderer: 'frame',
                    loadMask: {
                        showMask: true,
                        msg: 'Đang tải ' + titleName + '...'
                    }
                }
            });
            tab.on('activate', function (tab) {
                App.frmRecruitment.setSelection(tab.menuItem);
            });
        }
        tabPanel.setActiveTab(tab);
    };
</script>