﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation;
@{
    var X = Html.X();
}
@(Html.X().Window()
.ID("winRecruitment")
.Title("Tuyển dụng nhân sự")
.Icon(Icon.UserBrown)
.Maximized(true)
.Height(1)
.BodyPadding(0)
.Margin(0)
.Constrain(true)
.Layout(LayoutType.Border)
.Border(false)
.Modal(true)
.Resizable(false)
.Items(
        Html.X().MenuPanel()
        .ID("frmRecruitment")
        .Region(Region.West).Header(false)
        .Title("<b>Thực hiện chức năng</b>").UIName("idas_default")
        .TitleAlign(TitleAlign.Center)
        .Collapsible(true)
        .Split(true).MarginSpec("-1 0 -1 -1")
        .Width(245).Border(false)
        .Layout(LayoutType.Fit)
        .Menu(m =>
        {
            m.Add(X.MenuItem()
                .Icon(Icon.TagBlue)
                .Text("Tiêu chí xét tuyển")
                .OnClientClick("addTabRecruitment(#{TabPanelRecruitment}, 'tab0', '/Organization/RecruitmentCriteria/Index', this,'Tiêu chí xét tuyển');")
                );
            m.Add(X.MenuItem()
                .Icon(Icon.PageWhite)
                .Text("Yêu cầu tuyển dụng")
                .OnClientClick("addTabRecruitment(#{TabPanelRecruitment}, 'tab1', '/Organization/RecruitmentRequirement/Index', this,'Yêu cầu tuyển dụng');")
                );
            m.Add(X.MenuItem()
                .Icon(Icon.PageEdit)
                .Text("Kế hoạch tuyển dụng")
                .OnClientClick("addTabRecruitment(#{TabPanelRecruitment}, 'tab2', '/Organization/RecruitmentPlan/Index', this,'Kế hoạch tuyển dụng');"));
            m.Add(X.MenuItem()
                .Icon(Icon.Folder)
                .Text("Hồ sơ tuyển dụng")
                .MenuItem(
                            X.MenuItem().Icon(Icon.User).Text("Hồ sơ ứng viên")
                                    .OnClientClick("addTabRecruitment(#{TabPanelRecruitment}, 'tab31', '/Organization/RecruitmentProfile/Index', this,'Hồ sơ ứng viên');"),
                            X.MenuItem().Icon(Icon.UserAdd).Text("Hồ sơ ứng tuyển")
                                    .OnClientClick("addTabRecruitment(#{TabPanelRecruitment}, 'tab32', '/Organization/RecruitmentProfileInterview/Index', this,'Hồ sơ ứng tuyển');"),
                            X.MenuItem().Icon(Icon.UserTick).Text("Hồ sơ trúng tuyển")
                                    .OnClientClick("addTabRecruitment(#{TabPanelRecruitment}, 'tab33', '/Organization/RecruitmentResult/Index', this,'Hồ sơ trúng tuyển');") 
                         )
                );
            m.Add(X.MenuItem().Icon(Icon.FolderUser).Text("Hồ sơ thử việc")
                 .MenuItem(
                            X.MenuItem().Icon(Icon.TagGreen).Text("Danh sách nhân sự thử việc")
                                    .OnClientClick("addTabRecruitment(#{TabPanelRecruitment}, 'tab41', '/Organization/ProfileWorkTrial/Index', this,'Danh sách nhân sự thử việc');"),
                            X.MenuItem().Icon(Icon.User).Text("Tự đánh giá")
                                    .OnClientClick("addTabRecruitment(#{TabPanelRecruitment}, 'tab42', '/Organization/ProfileWorkTrialAuditEmployee/Index', this,'Tự đánh giá');"),
                            X.MenuItem().Icon(Icon.UserKey).Text("Đánh giá nhân sự thử việc")
                                    .OnClientClick("addTabRecruitment(#{TabPanelRecruitment}, 'tab43', '/Organization/ProfileWorkTrialAuditManager/Index', this,'Đánh giá nhân sự thử việc');"),
                            X.MenuItem().Icon(Icon.ApplicationSideList).Text("Đề xuất tuyển dụng")
                                    .OnClientClick("addTabRecruitment(#{TabPanelRecruitment}, 'tab44', '/Organization/ProfileWorkTrialPropose/Index', this,'Đề xuất tuyển dụng');")
                            )
                );
           
        }),
            X.TabPanel().Header(false).MarginSpec("-1 -1 -1 0")
            .ID("TabPanelRecruitment")
            .Layout(LayoutType.Fit)
            .Region(Region.Center)
        )
    .Buttons(Html.X().ButtonExit())
)
<script>
    var addTabRecruitment = function (tabPanel, id, url, menuItem, titleName) {
        var tab = tabPanel.getComponent(id);
        if (!tab) {
            tab = tabPanel.add({
                id: id,
                title: titleName,
                closable: true,
                menuItem: menuItem,
                loader: {
                    url: url,
                    renderer: 'frame',
                    loadMask: {
                        showMask: true,
                        msg: 'Đang tải ' + titleName + '...'
                    }
                }
            });
            tab.on('activate', function (tab) {
                App.frmRecruitment.setSelection(tab.menuItem);
            });
        }
        tabPanel.setActiveTab(tab);
    };
</script>