﻿@using Ext.Net;
@using Ext.Net.MVC;
@model iDAS.Service.VPHumanProfileInsuranceBO

@{
    var X = Html.X();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var employeeName = (string)ViewData["EmployeeName"];
}
<script>
    var deleteUrl = '@(Url.Action("DeleteProfileInsurance"))';
    function CheckStatus() {
        var records = App.GrProfileInsurance.selModel.getSelection();
        if (records.length > 0) {
            App.btnUpdate.setDisabled(false);
            App.btnDelete.setDisabled(false);
        }
        else {
            App.btnUpdate.setDisabled(true);
            App.btnDelete.setDisabled(true);
        };
    };
    var AddNew = function () {
        var url = '@(Url.Action("UpdateForm", "ProfileInsurance", new { Area = "Organization" }, null))';
            var params = {
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
    };
    var UpdateItem = function () {
        var records = App.GrProfileInsurance.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("UpdateForm", "ProfileInsurance", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        }
    };
    var ViewDetail = function () {
        var records = App.GrProfileInsurance.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("DetailForm", "ProfileInsurance", new { Area = "Organization" }, null))';
            var params = {
                ID: records[0].get('Id'),
                EmployeeID: App.hdfEmployeeID.value
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
</script>
<style>
    .topbarItems {
        left: 0px !important;
    }

    .topbarName {
        font-weight: bold;
        font-size: 16px;
    }
</style>
@(Html.X().Viewport().Layout(LayoutType.Fit).Border(false).Margin(0).Frame(false).StyleSpec("border: none;")
    .Items(
            Html.X().GridPanel()
                    .Header(false)
                    .ID("GrProfileInsurance")
                    .ColumnLines(true)
                    .ForceFit(true)
                    .Border(false)
                    .Icon(Icon.TextListBullets)
                    .TopBar(
                        Html.X().Toolbar()
                        .Layout(LayoutType.VBox)
                        .Items(
                            X.ContainerHBox().Cls("topbarItems").Items(
                                X.Hidden().ID("hdfEmployeeID").Value(ViewData["EmployeeId"]),
                                X.Button().ID("btnCreate").Text("Thêm mới").IconCls("x-fa fa-plus-circle").Handler("AddNew();"),
                                X.Button().ID("btnUpdate").Text("Chi tiết").IconCls("x-fa fa-info-circle").Disabled(true).Handler("UpdateItem();"),
                                X.Button().ID("btnDelete").Text("Xóa").IconCls("x-fa fa-times-circle").Disabled(true).Handler("onDelete(App.GrProfileInsurance.selModel.getSelection()[0].get('Id'));")
                            ),
                            X.ToolbarSpacer().Height(20),
                            X.Label().Cls("topbarItems topbarName").Text("Nhân viên: " + employeeName)
                        )
                )
                .Store(
                    Html.X().Store()
                        .ID("StoreProfileInsurance")
                        .RemotePaging(true)
                        .PageSize(20)
                        .Proxy(Html.X().AjaxProxy().Url(Url.Action("LoadProfileInsurance")).Reader(Html.X().JsonReader().RootProperty("data")).IDParam("Id"))
                                .Parameters(ps =>
                                            {
                                                ps.Add(new StoreParameter("EmployeeID", "App.hdfEmployeeID.value", ParameterMode.Raw));
                                            })
                        .Model(
                            Html.X().Model().Fields(
                                    Html.X().ModelField().Name("Id"),
                                    Html.X().ModelField().Name("StartDate"),
                                    Html.X().ModelField().Name("EndDate"),
                                    Html.X().ModelField().Name("Number"),
                                    Html.X().ModelField().Name("Type"),
                                    X.ModelField().Name("FileAttachs")
                            )
                            )
                )
                .ColumnModel(
                                Html.X().RowNumbererColumnFormat().DataIndex("Id").Text("STT").Width(0).StyleSpec("font-weight: bold;text-align: center"),
                                Html.X().Column().DataIndex("Number").Text("Số bảo hiểm").Flex(1).StyleSpec("font-weight: bold;"),
                                Html.X().Column().DataIndex("Type").Text("Loại bảo hiểm").Width(120).StyleSpec("font-weight: bold;"),
                                Html.X().DateColumnFormat().DataIndex("StartDate").Text("Ngày bắt đầu").Width(120).StyleSpec("font-weight: bold;text-align: center"),
                                Html.X().DateColumnFormat().DataIndex("EndDate").Text("Ngày kết thúc").Width(120).StyleSpec("font-weight: bold;text-align: center"),
                                X.ColumnFileFormat(m => m.FileAttachs.Files).Text("<b>Tệp đính kèm</b>").Width(130)
                    )
                .SelectionModel(Html.X().CheckboxSelectionModel().ShowHeaderCheckbox(false).Mode(SelectionMode.Single)
                            .Listeners(ls => ls.SelectionChange.Fn = "CheckStatus"))
                .BottomBar(Html.X().PagingToolbarFormat())
        )
)
