﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.VPHumanTrainingRequirementBO
@(Html.X().Window()
    .Layout(LayoutType.Fit)
    .Width(700)
    .Constrain(true)
    .Modal(true)
    .Height(450)
    .ID("winRequirementList")
    .Title("Cán bộ tham gia đào tạo")
    .Layout(LayoutType.Fit)
    .Icon(Icon.User)
    .BodyPadding(0)
    .Margin(0)
    .Constrain(true)
    .Modal(true)
    .Resizable(false)
    .Items(
        Html.X().GridPanel()
                .Header(false)
                .ID("grRequirementEmployees")
                .ColumnLines(true)
                .ForceFit(true)
                .Border(false)
                .Flex(1)
                .Icon(Icon.TextListBullets)
                .TopBar(
                    Html.X().Toolbar()
                    .Layout(LayoutType.HBox)
                    .Items(
                      Html.X().Button()
                            .Text(Resource.Create)
                            .IconCls("x-fa fa-plus-circle")
                            .Hidden(Model.IsEdit==false)
                            .DirectEvents(de =>
                            {
                                de.Click.ExtraParams.Add(new { requirementId = Model.Id });
                                de.Click.Url = Url.Action("Form");
                            }),
                        Html.X().Button()
                            .Text(Resource.Detail)
                            .ID("btnUpdateRequirementEmployee")
                            .Disabled(true)
                            .IconCls("x-fa fa-search")
                            .DirectEvents(de =>
                            {
                                de.Click.ExtraParams.Add(new { id = new JRawValue("this.up('grid').selModel.getSelection()[0].data.Id") });
                                de.Click.ExtraParams.Add(new { requirementId = Model.Id });
                                de.Click.Url = Url.Action("Form");
                            }),
                        Html.X().ToolbarFill()
                    )
            )
            .Store(
                Html.X().Store()
                    .ID("stRequirementEmployees")
                    .RemotePaging(true)
                    .PageSize(20)
                    .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData"))
                    .Reader(Html.X().JsonReader().RootProperty("data"))
                    .IDParam("Id"))
                    .Parameters(ps =>
                    {
                        ps.Add(new StoreParameter("requirementId", Model.Id.ToString(), ParameterMode.Value));
                    })
                    .Model(
                        Html.X().Model().Fields(
                        Html.X().ModelField().Name("Id"),
                        Html.X().ModelField().Name("Member"),
                        Html.X().ModelField().Name("Content"),
                        Html.X().ModelField().Name("StartTime"),
                        Html.X().ModelField().Name("EndTime")
                        )
                    )
            )
            .ColumnModel(
                Html.X().RowNumbererColumnFormat(),
                Html.X().Column().DataIndex("Member").Text("Cán bộ tham gia").Width(240).Renderer("renderMember"),
                Html.X().Column().DataIndex("Contents").Text("Nội dung").CellWrap(true).Width(400),
                Html.X().ComponentColumn()
                .Text("Thời gian thực hiện")
                .Columns(
                    Html.X().DateColumnFormat().DataIndex("StartTime").Text("Bắt đầu").Width(90).Format("dd/MM/yyyy").Align(ColumnAlign.Center),
                    Html.X().DateColumnFormat().DataIndex("EndTime").Text("Kết thúc").Width(90).Format("dd/MM/yyyy").Align(ColumnAlign.Center)
                )
                )
            .SelectionModel(
            Html.X().RowSelectionModel()
            .Mode(SelectionMode.Single)
            .Listeners(ls => ls.SelectionChange.Fn = "checkStatusRequirementEmployees"))
            .BottomBar(Html.X().PagingToolbarFormat()
        )
    )
.Buttons(
        Html.X().ButtonExit()
    )
)
<script>
    function checkStatusRequirementEmployees() {
        var records = App.grRequirementEmployees.selModel.getSelection();
        if (records.length == 1) {
            SetEnabled(App.btnUpdateRequirementEmployee);
        }
        else {
            SetDisabled(App.btnUpdateRequirementEmployee);
        };
    };
    var renderMember = function (value, meta, record) {
        var title = '';
        var result = '';
        var image = '';
        title = '<span style="margin-left: 40px;font-size:10px;">' + record.data.Member.RoleNames + '</span>';
        image = '<img src="' + record.data.Member.AvatarUrl + '" style="margin-top: 2px; width: 30px; height: 30px; border-radius: 50%; position: absolute;border: 1px solid">';
        var name = '<span style="margin-left: 40px;">' + Ext.htmlEncode(record.data.Member.Name) + '</span><br/>';
        result = '<span>' + image + name + title + '</span>';
        return result;
    };
</script>