﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.InfoSysBO
@{
    var X = Html.X();
    Operation operation = (Operation)ViewData["Operation"];
}
@(X.WindowFormat()
                .Title(Model.Id.ToString() == "" ? Resource.Create : Resource.Update)
                .IconCls(Model.Id.ToString() == "" ? "x-fa fa-plus-circle" : "x-fa fa-pencil-square-o")
                .Width(800)
                .Height(500)
                .Items(
                    X.FormPanelVBoxFormat()
                    .ID("frmInfoSysDetail")
                    .BodyPadding(6)
                    .Items(

                        X.HiddenFor(m => m.Id),

                        X.TextFieldFor(m => m.InfoSystemCode)
                        .AllowBlank(true)
                        .MarginSpec("0 400 5 0")
                        .FieldLabel("Mã hệ thống"),

                        X.TextFieldFor(m => m.Name)
                        .AllowOnlyWhitespace(false)
                        .MarginSpec("0 5 5 0")
                        .BlankText("Bắt buộc nhập")
                        .FieldLabel("Tên hệ thống(*)"),

                        X.TextAreaFor(m => m.Purpose)
                        .AllowBlank(true)
                        .Height(50)
                        .MarginSpec("0 5 5 0")
                        .FieldLabel("Mục đích sử dụng"),

                        X.CheckboxFor(m => m.InternalAccess)
                        .FieldLabel("Cho phép truy cập nội bộ"),

                        X.CheckboxFor(m => m.RemoteAccess)
                        .FieldLabel("Cho phép truy cập từ xa"),

                        X.CheckboxFor(m => m.PartnerAccess)
                        .FieldLabel("Cho phép khách hàng truy cập"),

                        X.ComboBoxFor(m => m.IsActive)
                        .FieldLabel("Trạng thái")
                        .Editable(false)
                        .Items(
                                new ListItem("Đang hoạt động", "Đang hoạt động"),
                                new ListItem("Ngừng hoạt động", "Ngừng hoạt động")
                            ),

                        X.Label().Html(("<i>(*): Các thông tin bắt buộc nhập</i>"))
                )
            )
            .Buttons(
                X.ButtonSave()
                    .DirectEvents(de =>
                    {
                        de.Click.FormID = "frmInfoSysDetail";
                        de.Click.Url = Url.Action(operation == Operation.Create ? "Create" : "Update");
                    })
                    .SuccessHandle("if(App.storeInfoSysList)App.storeInfoSysList.reload();"),
                X.ButtonExit()
            )
))

<script>
    Ext.getBody().unmask();
</script>

