﻿@using Ext.Net.MVC
@using Ext.Net

@{
    var X = Html.X();

}
<style>
    .cmsg {
        list-style: none;
        margin: 5px 5px 5px 5px;
        padding: 5px;
    }

    .cmsg-header {
        padding: 5px 15px;
    }

    .cmsg li {
        margin: 3px 0 4px 0;
        padding-bottom: 0px;
    }

        .cmsg li.left .cmsg-body {
            margin-left: 40px;
            max-width: 300px;
        }

        .cmsg li.right .cmsg-body {
            margin-right: 10px;
            max-width: 300px;
        }

        .cmsg li .cmsg-body p {
            margin: 0;
            font-size: 11px;
            background-color: rgba(201, 215, 255,0.8);
            border-radius: 6px;
            padding: 3px 3px 3px 3px;
            word-break: break-all;
            min-height: 35px;
        }

    .panel .slidedown .glyphicon, .cmsg .glyphicon {
        margin-left: 5px;
    }

    .panel-body {
        overflow-y: scroll;
    }
</style>

@(X.Panel().Layout(LayoutType.Fit).BodyBorder(0).Border(false).Flex(1)
    .TopBar(
        X.Toolbar().StyleSpec("padding-bottom:0px; padding-top:0px")
        .Items(
            X.TabStrip().WidthSpec("100%")
            .Items(ts =>
            {
                ts.Add(X.Tab().ActionItemID("panelMessenger").Text("Tin nhắn").IconCls("x-fa fa-comment"));
                ts.Add(X.Tab().ActionItemID("panelPublicChat").Text("Trao đổi chung").IconCls("x-fa fa-globe"));
                ts.Add(X.Tab().Text("Nhóm").IconCls("x-fa fa-group"));

            })
        )
    )
    .Items(
         X.Panel().Layout(LayoutType.Fit).ID("panelMessenger"),
        X.Panel().Layout(LayoutType.Fit).ID("panelPublicChat")
    .BottomBar(
    X.Toolbar(
    X.Toolbar().Items(
            X.TextArea().Flex(1).EmptyText("Nhập nội dung ở đây...").ID("txtPublicContentMessenger").Triggers(t =>
            {
                t.Add(new FieldTrigger() { IconCls = "x-fa fa-send", QTip = "Gửi", Handler = "SendPublicChat(); this.setValue('');" });
            })
            .EnableKeyEvents(true)
            .Listeners(
            ls =>
            {
                ls.KeyDown.Fn = "EnterChatBox";
                ls.KeyDown.Buffer = 200;
            })
    )))
    .Items(
    X.DataView().Margin(-1).LoadMask(false)
    .ItemSelector("td.letter-row")
    .Store(X.Store()
        .ID("storePublicChat")
        .AutoLoad(true)
        .Model(X.Model()
            .Fields(
                X.ModelField().Name("Id").Type(ModelFieldType.Auto),
                X.ModelField().Name("From").Type(ModelFieldType.String),
                X.ModelField().Name("Content").Type(ModelFieldType.String),
                X.ModelField().Name("FromName").Type(ModelFieldType.String),
                X.ModelField().Name("FromAvatarUrl").Type(ModelFieldType.String)
            )
        )
        .Proxy(X.AjaxProxy().Url(Url.Action("GetData"))
        .Reader(X.JsonReader().RootProperty("data")).IDParam("Id"))
    )

            .Cls("img-chooser-view")
            .OverItemCls("x-view-over")
            .ItemSelector("div.thumb-wrap")
            .EmptyText(@"<div style='text-align:center'>
                        <div class='emptyClass'></div>
                        <div style='font-size: 0.9em'>Không có tin nhắn nào</div>
                    </div>")
            .TrackOver(true)
            .Tpl(
                X.XTemplate()
                    .Html(
                    @<text>
                        <div style='height:100%; overflow-y: scroll;'>
                            <ul class='cmsg' id="publicMessenger">
                                <tpl for=".">
                                    <tpl if='IsCurrentUser == false'>
                                        <li class='left clearfix'>
                                            <span class='pull-left'>
                                                <img width='30' height='30' src='{FromAvatarUrl}' class='img-circle' title="{FromName}" />
                                            </span>
                                            <div class='cmsg-body clearfix'>
                                                <p title="{CreateAtText}">
                                                    {Content}
                                                </p>
                                            </div>
                                        </li>
                                    </tpl>
                                    <tpl if='IsCurrentUser == true'>
                                        <li class='right clearfix'>
                                            <span class='pull-right'>
                                                <img width='30' height='30' src='{FromAvatarUrl}' class='img-circle' title="Tôi" />
                                            </span>
                                            <div class='pull-right cmsg-body clearfix'>
                                                <p class='pull-right' title="{CreateAtText}">
                                                    {Content}
                                                </p>
                                            </div>
                                        </li>
                                    </tpl>
                                </tpl>
                            </ul>
                        </div>
                    </text>
            )
    )
    )
)
)
<script>
    var SendPublicChat = function () {
        var url = '@Url.Action("Create", "Public", new { area = "Chat"})';
        Ext.Ajax.request({
            method: 'POST',
            url: url,
            jsonData: { content: App.txtPublicContentMessenger.getValue(), fromId: currentUserId, fromUserName: currentUserName, fromFullName: currentFullName,fromAvatarUrl : currentAvatarUrl },
            success: function (result) {

            }
        });
    };
    var EnterChatBox = function (item, e) {
        
        if (e.getKey() == e.ENTER) {
          
            SendPublicChat();
        }
    };
</script>