﻿@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Presentation.Common;
@model iDAS.Service.RiskIncidentBO
@{
    var X = Html.X();
}
@(X.WindowFormat()
    .Title("Xử lý sự cố")
    .IconCls("x-fa fa-table")
    .Height(450)
    .Width(850)
    .Items(
        Html.X().GridPanel()
        .ID("grIncidentHandler")
        .Flex(1)
        .Region(Region.Center)
        .Header(false)
        .Border(false)
        .TopBarItem(
        Html.X().Button()
        .Text("Thêm")
        .IconCls("x-fa fa-plus-circle")
        .DirectClickAction("Form", "IncidentHandler")
        .Parameter(X.Parameter().Name("riskIncidentId").Value(Model.Id.ToString()).Mode(ParameterMode.Value)),
        Html.X().Button()
        .Text("Chi tiết")
        .ID("btnUpdateHandlerIncident")
        .Disabled(true)
        .IconCls("x-fa fa-search")
        .DirectEvents(de =>
        {
            de.Click.ExtraParams.Add(new { id = new JRawValue("this.up('grid').selModel.getSelection()[0].data.Id") });
            de.Click.Url = Url.Action("Form", "IncidentHandler");
        }),
        X.ToolbarFill()
        )
        .IconCls("x-fa fa-table")
        .Title("Danh sách sự cố an ninh thông tin")
        .ColumnLines(true)
        .Store(Html.X().Store()
        .ID("stIncidentHanler")
        .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetData", "IncidentHandler"))
        .Reader(Html.X().JsonReader().RootProperty("data")))
        .Parameters(pr =>
        {
            pr.Add(new StoreParameter("incidentId", Model.Id.ToString(), ParameterMode.Value));
        })
        .PageSize(10)
        .Model(Html.X().Model()
        .Fields(
            Html.X().ModelField().Name("Id").Type(ModelFieldType.Auto),
            Html.X().ModelField().Name("ContentHandler").Type(ModelFieldType.String),
            Html.X().ModelField().Name("DepartmentName").Type(ModelFieldType.String),
            Html.X().ModelField().Name("Rate").Type(ModelFieldType.Float),
            Html.X().ModelField().Name("DateFinish").Type(ModelFieldType.Date),
            Html.X().ModelField().Name("ProofDocument").Type(ModelFieldType.String),
            Html.X().ModelField().Name("Note").Type(ModelFieldType.String)
        )
        )
        )
        .ColumnModel(
                Html.X().RowNumbererColumnFormat().Locked(true),
                Html.X().ColumnEncodeFormat().Text("Nội dung xử lý/ Hành động khắc phục").DataIndex("ContentHandler").Locked(true).Width(300).CellWrap(true),
                Html.X().ColumnEncodeFormat().Text("Bộ phận thực hiện").DataIndex("DepartmentName").Width(250).CellWrap(true),
                Html.X().ComponentColumn()
                .Text("Tiến độ hoàn thành")
                .Width(140)
                .Filterable(false)
                .Component(
                Html.X().ProgressBar().Text("%")
                )
                .Listeners(ls => ls.Bind.Handler = "cmp.updateProgress(record.get('Rate')/100, record.get('Rate') + '%');"),
                Html.X().DateColumnFormat().Text("Ngày hoàn thành thực tế").DataIndex("DateFinish").Width(120).CellWrap(true).Align(ColumnAlign.Center),
                Html.X().ColumnEncodeFormat().Text("Tài liệu, bằng chứng").DataIndex("ProofDocument").Width(250).CellWrap(true),
                Html.X().ColumnEncodeFormat().Text("Ghi chú").DataIndex("Note").Width(250).CellWrap(true)
        )
         .EmptyText(@"<div style='text-align:center'><div class='emptyClass'></div><div style='font-size: 0.9em'>Không có sự cố nào</div></div>")
        .SelectionModel(
            Html.X().RowSelectionModel()
                .Mode(SelectionMode.Single)
                    .Listeners(ls => ls.SelectionChange.Handler = "refreshMenuIncidentHandler();")
            )
        .BottomBar(Html.X().PagingToolbarFormat())

         )
        .Buttons(
        X.ButtonExit()
        )
)

<script>
    var refreshMenuIncidentHandler = function () {
        var records = App.grIncidentHandler.selModel.getSelection();
        switch (records.length) {
            case 0:
                App.btnUpdateHandlerIncident.setDisabled(true);
                break;
            case 1:
                App.btnUpdateHandlerIncident.setDisabled(false);
                break;
            default:
                App.btnUpdateHandlerIncident.setDisabled(true);
                break;
        }
    };
</script>